:local {
    .container {
        margin-top: 16px;
    }

    .modalFooterWrapper {
        padding: 12px 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: var(--layout-spacing-s);
    }
}
