:local {
    .focusable {
        &:focus {
            outline: auto 5px -webkit-focus-ring-color;
        }
    }

    .titleInput {
        width: 280px;
    }

    .priceInput {
        width: 170px;
        display: block;
    }

    .quantityInput {
        width: 85px;
    }
}
