:local {
    .overflowList {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .overflowListItem {
        width: 100%;
    }

    .overflowListToggle {
        padding-top: var(--spacing-xxxs);
        button {
            margin-left: calc(var(--spacing-xs) * -1);
        }
    }
}
