:local {
    .customerDetailsPanel {
        min-height: 0;
    }

    .panelBody {
        padding-left: calc(var(--spacing-md) + var(--spacing-xxxs));
        padding-right: calc(var(--spacing-md) + var(--spacing-xxxs));
    }

    .header {
        background-color: var(--elevation-neutral-default);
        padding: var(--spacing-xs) var(--spacing-md);
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .headerSticky {
        position: sticky;
        top: var(--sticky-stack-offset, 0px);
        z-index: var(--sticky-stack-z-index, 4);
        padding: var(--spacing-sm) calc(var(--spacing-md) + var(--spacing-xxxs));
        background-color: var(--elevation-neutral-default);
    }

    .sectionSpacer {
        height: 4px;
        background: var(--elevation-neutral-low);

        :global(.dark) & {
            background: var(--elevation-neutral-mid);
        }

        &.narrow {
            height: 1px;
        }
    }

    .sectionContent {
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
        padding-left: calc(var(--spacing-md) + var(--spacing-xxxs));
        padding-right: calc(var(--spacing-md) + var(--spacing-xxxs));
    }
}
