@import '~css/typography';

:local {
    .wrapper {
        .caption-regular();

        border-radius: 8px;

        color: var(--neutral-grey-6);
        border: 1px solid var(--neutral-grey-3);
        background-color: var(--neutral-grey-1);
    }

    .header {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 8px;

        cursor: pointer;

        &.open {
            border-bottom: 1px solid var(--neutral-grey-3);
        }
    }

    .headerCountBadge {
        i {
            font-size: 12px;
        }
    }

    .headerTitle {
        flex: 1;
    }

    .headerToggleIcon {
        font-size: 24px;
        transition: 0.2s;

        &.open {
            transform: rotate(180deg);
        }
    }

    .collapseContent {
        max-height: 164px;
        overflow-y: auto;
    }

    .separator {
        background-color: var(--neutral-grey-3);
        margin: 0;

        &:first-child {
            display: none;
        }
    }

    .section {
        margin: 12px;

        th {
            font-weight: 500;
        }

        td {
            word-wrap: break-word;
            vertical-align: top;
        }

        td,
        th {
            border-bottom: 1px solid var(--neutral-grey-3);
            padding: 4px 16px 4px 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .sectionTitle {
        font-weight: bold;
        padding: 0;
        caption-side: top;
        color: var(--black);
    }

    .sectionMessage {
        white-space-collapse: break-spaces;
        text-wrap: nowrap;
    }
}
