:local {
    .navigationSectionItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sectionContent {
        &[data-state='open'] {
            margin-bottom: var(--layout-spacing-s);
        }
    }
}
