@import (reference) '~css/typography.less';

:local {
    .container {
        background: var(--neutral-grey-0); // legacy
        width: 384px;
        overflow: hidden;
        height: 680px;
        box-shadow: 4px 4px 16px 0 rgba(22, 22, 22, 0.1);
        display: flex;
        flex-direction: column;
        pointer-events: none;
        border-radius: var(--layout-spacing-xxs);
    }

    .header {
        height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--layout-spacing-m) var(--layout-spacing-s);
        background: var(--neutral-grey-0); // legacy
    }

    .name {
        .heading-section-semibold();
        color: var(--neutral-grey-6); // legacy
        text-align: center;
    }

    .browserHeader {
        background: var(--neutral-grey-2); // legacy
        display: flex;
        align-items: center;
        padding: var(--layout-spacing-xs);
        gap: var(--layout-spacing-xs);
    }

    .browserHeaderButton {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: var(--neutral-grey-1); // legacy
    }

    .menu {
        font-size: @heading-page-regular-font-size;
    }

    .logo {
        height: 32px; // this value from help center front project
        max-width: 100%;
        padding-right: var(--layout-spacing-xs); // safe zone
    }
}

.axiom :local {
    .container {
        background: var(--elevation-neutral-default);
    }

    .header {
        background: var(--elevation-neutral-default);
    }

    .name {
        color: var(--content-neutral-default);
    }

    .browserHeader {
        background: var(--surface-neutral-secondary);
    }

    .browserHeaderButton {
        background: var(--surface-neutral-tertiary);
    }
}
