:local {
    .categoryContainer {
        display: flex;
        padding: var(--layout-spacing-xs) var(--layout-spacing-m);
        justify-content: space-between;
        gap: var(--layout-spacing-xs);
        align-items: center;
    }
    .categoryContainer:not(:last-child) {
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .actionContainer {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }
}
