@import '~css/new/colors';

:local {
  .wrapper {
    font-size: 12px;
    font-weight: 500;
    color: @lightPurple2;
  }

  .commentCard {
    border-radius: 8px;
    margin: 8px;
    background-color: #FCFCFC;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
    width: auto;
    min-width: 480px;
    height: auto;

    .avatarContainer {
      padding: 0;

      .avatar {
        width: 56px;
        flex-shrink: 0;
      }

    }

    .flexContainerColumn {
      display: flex;
      flex-direction: column;
    }

    .flexContainerRow {
      display: flex;
      flex-direction: row;
    }

    .facebookIcon {
      width: 13px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .instagramIcon {
      width: 16px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .metaInfo {
      margin-left: -3px;
    }

    .comment {
      margin-left: -3px;
      color: black;
    }

    .right {
      position: absolute;
      right: 0px;
      text-align: right;
    }

    .customerNameBody {
      white-space: nowrap;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }
  }
}
