:local .dropdownAction {
    color: var(--main-primary); // legacy
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    letter-spacing: normal;
}

:local .dropdownActionIcon {
    margin-left: 4px;
    margin-right: 9px;
}

.axiom :local .dropdownAction {
    color: var(--content-accent-default);
}
