:local {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    .title {
        align-items: center;
        display: flex;
        gap: var(--layout-spacing-xxs);
    }

    .actionMenu {
        display: flex;
        gap: var(--layout-spacing-xxs);
    }

    .innerTooltip {
        white-space: pre-wrap;
    }
}
