:local {
    .colorTile {
        float: left;
        position: relative;
        top: -1px;
        margin-right: 8px;
        width: 21px;
        height: 21px;
        border-radius: 3px;
    }
}
