:local {
    .cardContainer {
        max-width: 420px;
    }
    .totalReviews {
        color: var(--neutral-grey-4); // legacy
    }
    .productImage {
        width: 70px;
        height: 70px;
        border-style: solid;
        border-width: thin;
        border-color: var(--neutral-grey-4); // legacy
    }
    .chevronButton {
        color: var(--neutral-grey-4); // legacy
        font-size: 20px;
        text-align: right;
    }
    .starRatingWrapper {
        float: left;
    }
    .cardDetail {
        width: 100px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
    }
}

.axiom :local {
    .totalReviews {
        color: var(--content-neutral-secondary);
    }
    .productImage {
        border-color: var(--border-neutral-secondary);
    }
    .chevronButton {
        color: var(--content-neutral-secondary);
    }
}
