:local {
    .modalForm {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .attachmentDisclaimerContainer {
        position: relative;
    }

    .attachmentDisclaimer {
        position: absolute;
        bottom: 0;
        z-index: 100;
    }
}
