@import '~css/new/colorTokens';

:local {
    .toggleModalBtn {
        background-color: transparent;
        border: 0;
        font-size: 20px;
        color: @classic-neutral-grey-6;
    }
    .toggleModalBtn:focus:not(:focus-visible) {
        outline: none;
    }
    .modalForm {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
