:local {
    .section {
        margin-bottom: var(--layout-spacing-xl);
    }

    .sectionHeading {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.02em;
        margin-bottom: var(--layout-spacing-m);

        &.sectionHeadingWithLabel {
            margin-bottom: var(--layout-spacing-xxs);
        }
    }

    .sectionHeadingLabel {
        margin-bottom: var(--layout-spacing-m);
    }

    .radioButtonGroup {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .wizardButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }
}
