@import (reference) '~css/typography.less';

:local {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .state {
        margin-right: var(--layout-spacing-s);
    }

    .count {
        .body-semibold();

        display: flex;
        align-items: center;
        justify-content: center;

        height: 24px;
        width: 24px;

        border-radius: 50%;

        background-color: var(--neutral-grey-2); // legacy
        color: var(--neutral-grey-5); // legacy
    }

    .title {
        .heading-section-semibold();
    }
}

.axiom :local {
    .count {
        background-color: var(--elevation-neutral-mid);
        color: var(--content-neutral-secondary);
    }
}
