@import (reference) '~css/new/mixins';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .pageContainer {
        padding: var(--layout-spacing-m);
    }

    .pageWrapper {
        display: flex;
        flex-direction: column;
    }

    .bannerWrapper {
        align-self: flex-end;
        margin-top: auto;
        width: 100%;
    }

    .campaignsTable {
        :global td.link-full-td > a > div {
            padding-top: var(--layout-spacing-s);
            padding-bottom: var(--layout-spacing-s);
        }
    }

    .createCampaignFromLibraryLink {
        margin-left: var(--layout-spacing-xs);
    }
}
