@import '~css/new/colorTokens';
@import '../GorgiasChatIntegrationForm.less';

:local {
    .tooltip {
        left: -9px !important;
        margin-bottom: 5px;
    }

    .tooltip-inner {
        text-align: left;
        max-width: 250px;
        padding: 10px;
    }

    .tooltip-arrow {
        left: 12px !important;
    }

    .tinyText {
        font-size: 12px;
    }

    .mb16 {
        margin-bottom: 16px;
    }

    .radioFieldSet {
        input[type='radio'] {
            align-self: flex-start;
            margin-top: 2px;
        }

        .dynamicDescription {
            font-size: 12px;
            font-weight: 400;
            color: @classic-neutral-grey-4;
            margin-bottom: 0;
        }

        .dynamicTimeTooltip {
            color: @classic-neutral-grey-4;

            &:hover {
                color: @classic-neutral-grey-5;
            }
        }
    }
}
