:local {
    .pageContainer {
        padding: 24px;
    }

    .campaignsTable {
        :global td.link-full-td > a > div {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
}
