@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .footer {
        display: flex;
        justify-content: flex-end;
        padding: 12px var(--layout-spacing-s);
    }

    .body {
        padding-bottom: @layout-spacing-xl;
    }
}
