:local {
    .footer {
        display: flex;
        justify-content: flex-end;
        padding: 12px var(--layout-spacing-s);
    }

    .body {
        padding-bottom: var(--layout-spacing-xl);
    }
}
