@import '~css/new/mixins.less';

:local {
    .container {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;

        @media @mobiles {
            padding-top: 8px;
        }
    }

    .filterItem {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 8px;

        &:last-child {
            padding-right: 0;
        }

        @media @desktops {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
