@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .confirmationModal {
        :global(.close) {
            display: none;
        }
    }

    .dropdownItemContent {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);

        .actionIcon {
            font-size: 20px;
        }
    }
}
