:local {
    .barsContainer {
        display: flex;
        flex-direction: row;
        gap: 2px;
        align-items: flex-end;
    }

    .bar {
        width: 6px;
        max-height: 30px;
        border-radius: 100px;
        background: #20c08c52;

        &:hover {
            background: #20c08c;
        }
    }
}
