@import '~css/new/colors';

:local {
    .cantScanQrCodeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .link {
            font-weight: 600;
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    }
}
