@import '~css/new/colors';

:local {
    .headingBold {
        color: @classic-neutral-grey-6;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin-top: 24px;
    }

    .cantScanQrCodeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .link {
            font-weight: 600;
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    }
}
