@import '~css/new/colors';

:local {
    .qrCodeContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 160px;
            height: 160px;
        }
    }

    .qrCodeLoadingContainer {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
