@import '~css/new/colors';

:local {
    .headingBold {
        color: @classic-neutral-grey-6;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin-top: 24px;
    }

    .textSection {
        color: @classic-neutral-grey-6;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
    }

    .qrCodeContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 160px;
            height: 160px;
        }
    }

    .qrCodeLoadingContainer {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
