@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .filtersContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: @layout-spacing-s;
        margin-bottom: @layout-spacing-s;
    }

    .list {
        position: relative;
        padding: 0;
        margin: 0;
        list-style-type: none;
        & > li + li {
            margin-top: @layout-spacing-s;
        }

        &:before {
            content: '';
            position: absolute;
            left: 18px;
            top: 0;
            display: block;
            width: 1px;
            height: 100%;
            border-left: 1px solid var(--neutral-grey-3);
        }
    }

    .card {
        position: relative;
    }

    .centeringContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: @layout-spacing-l;
        height: 80%;
    }

    .noResults {
        color: var(--neutral-grey-5);
    }

    .logo {
        height: 111px;
        width: 111px;
        background-color: var(--neutral-grey-3);
        -webkit-mask-image: url('@gorgias/branding-assets/logos/square/Black.svg');
        mask-image: url('@gorgias/branding-assets/logos/square/Black.svg');
        mask-repeat: no-repeat;
        mask-size: cover;
    }
}
