@import '~css/new/colorTokens';

:local .component {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 18px;
        top: 0;
        display: block;
        width: 1px;
        height: 100%;
        border-left: 1px solid @classic-neutral-grey-3;
    }
}
