@import (reference) '~css/new/colors.less';

:local {
    .subdomainInput {
        margin-bottom: 16px;

        &.error {
            input {
                border-color: @red;
                box-shadow: 0 0 0 0.2rem fade(@red, 10%);
            }
        }
    }

    .errorMessage {
        color: @red;

        i {
            margin-right: 4px;
        }
    }

    .policy {
        padding-inline-start: 1.5em;
    }
}
