@import (reference) '~css/new/colorTokens';

:local {
    .input {
        //TODO(@irinel-gorgias) remove this once we get rid of the <DEPRECATED_InputField>
        input {
            height: 34px !important;
        }

        &.error {
            input {
                border-color: @classic-feedback-error;
                box-shadow: 0 0 0 0.2rem fade(@classic-feedback-error, 10%);
            }
        }
    }

    .error {
        color: @classic-feedback-error;

        i {
            margin-right: 4px;
        }
    }

    .policy {
        margin-bottom: 0;
        padding-inline-start: 1.5em;
    }
}
