:local {
    .cancellationReasonsContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .primaryReasonsContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}
