:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .disabledText {
        color: var(--neutral-grey-3);
        cursor: default;
    }

    .tooltip {
        max-width: 250px !important;
        left: -10px;
    }

    .link {
        color: var(--main-primary);
        cursor: pointer;
    }

    .summaryPaymentSection {
        border: 0px solid var(--neutral-grey-3);
        padding: 0px;
        width: 100%;
        font-size: 16px;

        i {
            display: none;
        }

        a {
            font-size: 14px;
            white-space: nowrap;
        }
    }
}
