/* ticket-status
 */

.ticket-status-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 12px !important;
    margin-bottom: 2px !important;
    vertical-align: top !important;

    .ui.basic.grey.button {
        padding-top: 0.5833em;
        padding-bottom: 0.5833em;
        box-shadow: 0 0 0 1px #dcddde inset !important;

        line-height: 1;
    }
}

.ticket-status-action.ui.button {
    padding-left: 0.833em;
    padding-right: 0.833em;
}

.ui.label.item.ticket-status {
    color: white;
    width: 100%;
    border: 0;
    margin: 5px 0;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
}

.label.ticket-status {
    margin-right: 0;

    color: @white !important;
    text-transform: uppercase;

    &:hover {
        color: @white !important;
    }

    &.new {
        background-color: @lightBlue !important;

        &:hover {
            background-color: lighten(@lightBlue, 10%) !important;
        }
    }

    &.open {
        background-color: @green !important;

        &:hover {
            background-color: lighten(@green, 10%) !important;
        }
    }

    &.closed {
        background-color: @grey !important;

        &:hover {
            background-color: lighten(@grey, 10%) !important;
        }
    }
}
