/* tickets
 */

.TicketListContainer {
    height: calc(~'100% + 2em');
    min-width: 484px;
    margin: -1em -2em;
}

.CustomerListContainer {
    height: calc(~'100% + 2em');
    min-width: 484px;
    margin: -1em -2em;
}
