:local {
    .wrapper {
        margin-bottom: 24px;
    }

    .row {
        align-items: center;
    }

    .address {
        font-size: 16px;
        margin: 0;

        dt,
        dd {
            display: inline-block;
            vertical-align: top;
        }

        dd {
            margin-bottom: 4px;
            min-width: 100px;
        }

        dt {
            font-weight: 600;
            margin-right: 3px;
        }
    }
}
