:local {
    .address {
        margin: 0;

        dt,
        dd {
            display: inline-block;
            vertical-align: top;
            min-width: 100px;
        }
        dt {
            margin-right: 15px;
        }
    }
}
