:local {
    .container {
        [class*='styles--cardContent--'] {
            // Currently the content and the header are both padded by 24px.
            // This padding is not needed for the card content as it ends up being 48px.
            // This level of scope is set so it affects only ai agent components.
            padding-top: 0;
        }
    }

    .customAiAgentTitle {
        display: flex;

        gap: var(--layout-spacing-s);
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .customAiAgentTitleSubContainer {
        display: flex;
        flex-direction: row;
        gap: var(--layout-spacing-s);
        align-items: center;
    }

    .testButtonContainer {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
