@import (reference) '~css/typography.less';
@import '~css/new/mixins';

:local {
    .container {
        display: flex;
        gap: 40px;
        padding: 16px;

        @media @mobiles {
            display: grid;
        }
    }

    .card {
        width: 100%;
    }

    .features {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .feature {
        display: flex;
        gap: 8px;
        align-items: flex-start;
        font-size: 16px;
        color: var(--neutral-grey-5); // legacy

        i {
            color: var(--feedback-success-3); // legacy
            font-size: 24px;
        }
    }

    .cardHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        color: var(--neutral-grey-6); // legacy
    }

    .selectedPlan {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .selector {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .counter {
        color: var(--neutral-grey-5); // legacy
        display: flex;
        gap: 4px;
        align-items: center;

        i {
            font-size: 16px;
        }
    }

    .payment {
        margin-top: 12px;
        padding: 20px 16px;
        border: 1px solid var(--feedback-warning); // legacy
        border-radius: 4px;
        display: none;

        &.show {
            display: block;
        }
    }

    .enterprisePrice {
        color: var(--neutral-grey-5); // legacy
        font-weight: 600;
    }

    .enterpriseDescription {
        padding: 12px 16px;
        background-color: var(--neutral-grey-2); // legacy
    }

    .starterDescription {
        padding-top: 12px;
        font-size: 12px;
    }

    .tooltip :global(.tooltip) {
        left: -7px !important;
    }

    .link {
        .component-button-small();
        color: var(--main-primary); // legacy

        i {
            margin-left: 4px;
        }
    }

    .summaryPaymentSection {
        border: 0px solid var(--neutral-grey-3); // legacy
        padding: 0px;
        width: 100%;
        font-size: 14px;

        i {
            display: none;
        }

        a {
            font-size: 14px;
            white-space: nowrap;
        }
    }
}

.axiom :local {
    .feature {
        color: var(--content-neutral-tertiary);

        i {
            color: var(--content-success-primary);
        }
    }

    .title {
        color: var(--content-neutral-default);
    }

    .counter {
        color: var(--content-neutral-tertiary);
    }

    .payment {
        border: 1px solid var(--static-warning);
    }

    .enterprisePrice {
        color: var(--content-neutral-tertiary);
    }

    .enterpriseDescription {
        background-color: var(--elevation-neutral-mid);
    }

    .link {
        color: var(--surface-additional-blue);
    }

    .summaryPaymentSection {
        border: 0px solid var(--border-neutral-default);
    }
}
