:local {
    .amount {
        flex: 1 0 auto;
        font-size: 16px;
        font-weight: 400;
        margin-left: 20px;
        text-align: end;
    }

    .footer {
        background-color: var(--neutral-grey-2); // legacy
    }

    .footerUnsubscribe {
        justify-content: space-between;
    }

    .modalBody {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }

    .image {
        margin: 16px;
        align-self: center;
    }
}

.axiom :local {
    .footer {
        background-color: var(--elevation-neutral-default);
    }
}
