:local {
    .cell {
        min-width: 0;
        width: 100%;
        height: 100%;
    }

    .link {
        display: flex;
        flex: 1 1 auto;
        align-self: stretch;
        align-items: center;
        width: 100%;
        min-width: 0;
        height: 100%;
        padding: var(--spacing-xs) var(--spacing-md);
        box-sizing: border-box;
        color: var(--content-neutral-default);
        text-decoration: none;
    }

    .link:hover,
    .link:focus,
    .link:active,
    .link:visited {
        color: var(--content-neutral-default);
        text-decoration: none;
    }

    .link :global([data-name='text']) {
        color: var(--content-neutral-default);
    }

    .link :global([data-name='icon']) {
        color: var(--content-neutral-default);
    }

    .link :global([data-name='tag'] [data-name='text']),
    .link :global([data-name='tag'] [data-name='icon']) {
        color: inherit;
    }

    .link :global([data-name='avatar'] [data-name='text']),
    .link :global([data-name='avatar'] [data-name='heading']) {
        color: var(--content-neutral-secondary);
    }
}
