@import (reference) '~css/new/layout.less';

:local {
    .channelsContainer {
        margin-bottom: @layout-spacing-s;
    }

    .alertsContainer {
        display: flex;
        flex-direction: column;
        row-gap: @layout-spacing-m;
    }
}
