@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .pageContainer {
        padding: 0;
    }

    .pageSkeletonContainer {
        padding: var(--layout-spacing-m);
    }

    .backWrapper {
        margin: 0;
    }

    .mainLoader {
        margin-bottom: var(--layout-spacing-l);
    }

    .tableLoader {
        margin-top: @layout-spacing-xl;
        margin-bottom: var(--layout-spacing-m);
    }
}
