:local {
    .installationCard {
        display: flex;
        gap: var(--spacing-md);
        flex-flow: column;
        .description {
            display: flex;
            flex-flow: column;
            gap: var(--spacing-xxxs);
        }

        .storeController {
            display: flex;
            flex-flow: column;
            gap: var(--spacing-xs);
        }

        .checkoutAndThankYouPages {
            display: flex;
            flex-flow: column;
            gap: var(--spacing-xs);
            .iconLink {
                display: inline-flex;
                align-items: center;
                gap: var(--spacing-xxxs);
            }
        }
        .shopifyCheckoutChatInstallationUrl {
            color: var(--content-neutral-default);
        }

        .displayControlls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--spacing-xs);
        }
    }
}
