@import '~css/typography';
@import '~css/util';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .modalContent {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .checkboxContainer {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }
}
