:local {
    // This style might be deprecated, I don't see any changes when I remove it
    // but I'll leave it here for now just in case
    .container {
        display: grid;
        grid-template-columns: minmax(480px, 1000px) 1fr;
        padding: 0;
        overflow: auto;
        height: 100%;
        width: 100%;

        padding: var(--layout-spacing-m);
        gap: var(--layout-spacing-m);
        flex-basis: auto;
    }

    .pageHeaderContainer {
        background-color: var(--neutral-grey-0); // legacy
    }

    .spinner {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .parentContainer {
        height: 100%;

        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}

.axiom :local {
    .pageHeaderContainer {
        background-color: var(--elevation-neutral-default);
    }
}
