@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .callActivityContainer {
        display: flex;
        gap: @layout-spacing-xs;
        flex: 1;

        .phoneIcon {
            font-size: 16px;
        }
    }

    .agentLabel {
        color: var(--main-primary);
    }

    .agent {
        padding: 1px 0 2px;
    }
}
