:local {
    .genericCard {
        border-radius: 8px;
        margin: 8px;
        background-color: #fcfcfc;
        display: table;
        width: auto;
        min-width: 480px;
        height: auto;
    }
}
