@import '~@gorgias/design-tokens/dist/css/layout.less';
@import '~css/typography';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .metricsContainer {
        position: absolute;
        z-index: 4;
        right: @layout-spacing-s;
        top: 64px;

        height: 156px;
        padding: @layout-spacing-s;
        border-radius: @layout-spacing-xxs;
        background: var(--neutral-grey-0);
        border: 1px solid var(--neutral-grey-3);

        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .firstMetrics {
        padding: @layout-spacing-xs @layout-spacing-s;
        background: var(--neutral-grey-1);

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: @layout-spacing-xs;
    }

    .secondMetrics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: @layout-spacing-xs;
    }

    .nodeMetric {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .metricLabel {
        .caption-semibold();
        padding: 0 4px;
    }

    .metricLabelAutomated {
        color: var(--accessory-green-3);
    }

    .metricLabelDropoff {
        color: var(--feedback-error-4);
    }

    .metricLabelTicket {
        color: var(--neutral-grey-5);
    }

    .metricValue {
        .heading-subsection-semibold();
        padding: 4px 8px;
        width: 100%;
        text-align: center;
    }

    .metricTrend {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
