@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .label {
        margin-bottom: @layout-spacing-xxs;
    }

    .radioTile {
        margin-bottom: @layout-spacing-s;
    }

    .statuses {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: @layout-spacing-s;
    }

    .alignCenter {
        display: flex;
        align-items: center;
    }

    .inputField {
        margin-bottom: 16px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: @layout-spacing-xl;
    }
}
