:local {
    .modalFooter {
        background-color: var(--neutral-grey-2); // legacy

        justify-content: end;
        gap: 16px;
        padding: 16px;
    }
}

.axiom :local {
    .modalFooter {
        background-color: var(--surface-neutral-secondary);
    }
}
