:local {
    .fakeBorder {
        position: relative;

        width: 100%;
        max-width: 156px;
        height: 40px;
        border-radius: var(--layout-spacing-s);
        background: linear-gradient(
            90deg,
            #4b5566 5%,
            #97a9cc 50%,
            #4b5566 95%
        ); // legacy
        transition:
            height 0.2s linear,
            background 0.2s linear;

        &--disabled {
            opacity: 0.5;
        }
    }

    .primaryButton {
        position: relative;
        width: 100%;
        max-width: 156px;
        height: 37px;
        border-radius: var(--layout-spacing-s);
        color: var(--neutral-grey-0); // legacy
        font-weight: 500;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 0px;
        border-bottom: 0px;
        background: #0a0d29; // legacy
        transition:
            height 0.2s linear,
            background 0.2s linear;
        overflow: hidden;

        &:not([disabled]):hover {
            border: 1px solid rgba(255, 255, 255, 0.1); // legacy
            height: 40px; // Match .fakeBorder height
            box-shadow: 0 4px 16px 0 rgba(61, 64, 92, 0.2);
        }

        &:disabled {
            opacity: 0.5;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background-color: #3d405c; // legacy
            opacity: 0;
            transition: opacity 0.4s linear;
            pointer-events: none;
        }
        &:not([disabled]):hover::after {
            opacity: 1;
        }
    }

    .secondaryButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        max-width: 400px;
        height: 34px;

        border-radius: var(--xs-8, 8px);
        border-width: 0px;

        padding: var(--layout-spacing-s) var(--layout-spacing-s);

        background: radial-gradient(
            661.12% 257.71% at 38.05% 22.06%,
            #d922fb 3.29%,
            #e98aff 34.62%,
            #a420bc 56.85%,
            #d432f6 100%
        );

        &:hover {
            filter: opacity(0.9);
        }

        &:disabled {
            background: var(--neutral-grey-4); // legacy
            opacity: 0.4;
        }
    }

    .secondaryButtonContent {
        z-index: 1;
        font-weight: 600;
        pointer-events: none;
        white-space: nowrap;
        color: #fff; // legacy - forced white
    }

    .primaryButtonContent {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        pointer-events: none;
        white-space: nowrap;
        color: #fff; // legacy - forced white
    }

    .linkButton {
        width: 100%;
        max-width: 156px;
        height: 40px;
        color: var(--neutral-grey-6); // legacy
        border-radius: var(--layout-spacing-s);
        border: 1px solid #080b20;
        font-weight: 500;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--layout-spacing-xxs);

        &:hover {
            background: var(--neutral-grey-2); // legacy
            color: var(--neutral-grey-6); // legacy
        }
    }
}

.axiom :local {
    .fakeBorder {
        background: var(--border-neutral-default);
    }

    .primaryButton {
        color: var(--content-inverted-default);
        background: #0a0d29;

        &:not([disabled]):hover {
            border: 1px solid var(--border-neutral-default);
        }

        &::after {
            background-color: var(--hover-default);
        }
    }

    .primaryButtonContent {
        color: var(--content-inverted-default);
    }

    .secondaryButton {
        &:disabled {
            background: var(--elevation-neutral-default);
        }
    }

    .secondaryButtonContent {
        color: var(--content-inverted-default);
    }

    .linkButton {
        color: var(--content-neutral-default);

        &:hover {
            background: var(--elevation-neutral-default);
            color: var(--content-neutral-default);
        }
    }
}
