@import '~css/typography.less';

:local {
    .container {
        height: calc(100vh - 5.33rem);
    }

    .table {
        padding-bottom: var(--layout-spacing-m);
        gap: var(--layout-spacing-m);
    }

    .emptyWrapper {
        align-items: center;
        color: var(--neutral-grey-5); // legacy
        display: flex;
        flex-direction: column;

        .emptyTitle {
            .body-semibold();
            margin-bottom: 4px;
        }

        .emptyBody {
            .body-regular();
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }
}

.axiom :local {
    .emptyWrapper {
        color: var(--content-neutral-secondary);
    }
}
