:local {
    .tableHead {
        background-color: var(--neutral-grey-0);
        top: 0;
        z-index: 1;

        .headerCellProperty {
            width: auto !important;
        }

        .headerCellPropertyTitle {
            color: var(--neutral-grey-4);
        }
    }
}
