@import '~css/typography.less';

:local {
    .name {
        margin-left: var(--layout-spacing-xs);
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    .email {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}
