@import (reference) '~css/typography.less';

:local {
    .customerChannels {
        .caption-regular();
    }

    .customerChannel {
        display: flex;
        align-items: center;
        margin-bottom: var(--layout-spacing-xs);

        .copyAddress {
            cursor: pointer;
            opacity: 0;
            transition: all 0.2s linear;
        }

        &:hover {
            .copyAddress {
                opacity: 1;
            }
        }
    }

    .disabledChannel {
        color: var(--neutral-grey-3); // legacy
    }
}

.axiom :local {
    .disabledChannel {
        color: var(--border-neutral-secondary);
    }

    .channelIcon {
        font-size: 15px !important;
    }
}
