@import (reference) '~css/typography.less';

:local {
    .timelineWidget {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .caption-regular();
    }

    .noTimeline {
        color: var(--neutral-grey-5); // legacy
    }

    .mr {
        margin-right: var(--layout-spacing-xs);
    }

    .forumIcon {
        font-size: 15px !important;
    }

    .ticketCount {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fieldContainer {
        display: flex;
        align-items: center;
        width: 100%;
        gap: var(--spacing-xs);
    }

    .fieldContentDisabled {
        color: var(--content-neutral-secondary); // legacy (already axiom)
    }
}

.axiom :local {
    .noTimeline {
        color: var(--content-neutral-secondary);
    }

    .fieldContentDisabled {
        color: var(--content-neutral-secondary);
    }
}
