:local {
    .marginTopSmall {
        margin-top: var(--layout-spacing-xs);
    }

    .marginBottomMedium {
        margin-bottom: var(--layout-spacing-m);
    }

    .inputWrapper {
        width: 80px;
        margin-top: var(--layout-spacing-xxs);
    }

    .isDisabled {
        color: var(--neutral-grey-4); // legacy
    }

    .captionWrapper {
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .isDisabled {
        color: var(--content-neutral-secondary);
    }

    .captionWrapper {
        color: var(--content-neutral-secondary);
    }
}
