@import '~css/new/mixins';

:local {
    .pageWrapper {
        overflow: auto;
        height: 100%;
        padding: 0;
    }

    .limitHeight {
        height: calc(100% - 60px);
    }

    .preview {
        background: var(--main-latte); // legacy
        height: 100%;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 462px;
            width: 100%;
        }

        img.forSubscribers {
            max-width: 416px;
        }
    }

    .text {
        color: var(--neutral-grey-5); // legacy
    }

    .content {
        padding: 0 48px;
    }
}

.axiom :local {
    .preview {
        background: var(--surface-additional-yellow);
    }

    .text {
        color: var(--content-neutral-secondary);
    }
}
