:local {
    .container {
        margin-bottom: var(--layout-spacing-xl);
        .title {
            margin-bottom: var(--layout-spacing-m);
            h3 {
                margin-bottom: var(--layout-spacing-xxs);
                font-weight: 600;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}
