@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography.less';

:local {
    .container:last-child {
        grid-template-columns: 1fr;
    }
    .container.enabled {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        overflow: hidden;
        height: calc(100% - 60px);
    }

    .leftCol {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow-y: scroll;
    }

    .rightCol {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow-y: scroll;
        border-left: 1px solid var(--neutral-grey-3);
    }

    .rightCol.empty {
        background-color: var(--neutral-grey-1);
        justify-content: center;
        text-align: center;
        padding: @layout-spacing-m;
    }

    .rightCol.empty .container {
        display: flex;
        gap: @layout-spacing-m;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        justify-content: center;
        align-self: center;

        .partyPopper {
            font-size: 100px;
            line-height: 1;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: @layout-spacing-xs;
            color: var(--neutral-grey-6);

            .title {
                .heading-section-semibold();
            }
            .subtitle {
                .body-regular();
            }
        }
    }

    .content {
        padding: @layout-spacing-s @layout-spacing-m;
    }

    .headerContent {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-m;
    }

    .content.empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: @layout-spacing-xxs;
    }
    .content.empty.withButton {
        gap: @layout-spacing-s;
    }

    .description {
        .body-semibold();
        text-align: center;
        color: var(--neutral-grey-5);
    }

    @media (min-width: 1600px) {
        .container.enabled {
            grid-template-columns: 1fr 700px;
        }
    }
}
