@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .item {
        gap: @layout-spacing-xs;
    }

    .category {
        color: var(--main-primary);
        padding: @layout-spacing-xs;
        .caption-allcaps();
    }

    .tagItem {
        .body-italic();
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        padding: @layout-spacing-xs;
        width: 415px;
        .subtitle {
            .caption-regular();
            color: var(--neutral-grey-4);
        }
        .itemIcon {
            color: var(--neutral-grey-4);
        }
    }

    .separator {
        margin-left: @layout-spacing-xs;
        background-color: var(--neutral-grey-3);
        width: 400px;
        height: 1px;
    }

    .itemIcon {
        color: inherit;
    }
}
