@import (reference) '~css/new/layout.less';
@import (reference) '~css/new/colorTokens';
@import (reference) '~css/typography.less';

:local {
    .captionContainer {
        .caption-allcaps();
        display: flex;
        column-gap: @layout-spacing-s;
        align-items: center;
        color: @classic-neutral-grey-4;
        margin-left: @layout-spacing-m;
        margin-bottom: @layout-spacing-s;
    }
}
