@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        padding: @layout-spacing-m;
        display: flex;
        flex-wrap: wrap;
        column-gap: 56px;
        row-gap: @layout-spacing-xl;
    }

    .content {
        flex-basis: 680px;
    }

    .descriptionContainer {
        margin-bottom: @layout-spacing-m;
    }

    .description {
        .body-regular();
        margin-bottom: 2px;
    }

    .captionContainer {
        .caption-allcaps();
        display: flex;
        column-gap: @layout-spacing-s;
        align-items: center;
        color: @classic-neutral-grey-4;
        margin-left: @layout-spacing-m;
        margin-bottom: @layout-spacing-s;
    }
}
