@import '~css/new/colorTokens';
@import '~css/new/mixins';

:local {
    .pageWrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;

        :global(.page-header) {
            width: 100%;
            background: @classic-neutral-grey-0;
            z-index: 1;
            flex-shrink: 0;
        }

        [class*='col-xl'] {
            &:nth-of-type(2) {
                @media (min-width: 1500px) {
                    max-width: 530px;
                }
            }
        }

        .page {
            overflow: auto;
            height: 100%;

            @media @medium-and-large-screens {
                padding-right: 0;
            }

            @media @desktops and (max-height: 1000px) {
                display: flex;
                align-items: center;
            }

            .paywallContainer {
                width: 100%;

                :global(.row) {
                    @media @desktops and (min-height: 1000px) {
                        margin-top: 174px;
                    }
                }

                .preview {
                    display: flex;
                    justify-content: flex-end;

                    div {
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 8px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            height: 37px;
                            width: 60%;
                            z-index: -1;
                        }

                        img {
                            cursor: pointer;
                            border-radius: 8px;
                        }
                    }
                    .shadow-variant();

                    @media @desktops {
                        max-width: 572px;
                        box-sizing: content-box;
                        &::before {
                            position: absolute;
                            top: -250px;
                            z-index: -1;
                        }

                        .circle-variant();
                    }
                }
                .content {
                    .contentTitle {
                        margin: 20px 0 8px;
                        font-weight: 600;
                        color: @classic-neutral-grey-6;
                        @media @mobiles {
                            font-size: 20px;
                        }
                    }

                    .description {
                        color: @classic-neutral-grey-5;
                        font-size: 16px;
                        @media @mobiles {
                            font-size: 14px;
                        }
                    }

                    .upgradeChevron {
                        color: @classic-neutral-grey-4;
                        margin: 0 8px;
                    }

                    .testimonial {
                        margin-top: 40px;

                        .testimonialText {
                            color: @classic-neutral-grey-5;
                            font-size: 14px;
                            font-style: italic;
                            letter-spacing: -0.01em;
                            line-height: 20px;
                        }

                        .avatar {
                            height: 40px;
                            width: 40px;
                            overflow: hidden;
                            border-radius: 50%;
                            flex-shrink: 0;
                        }

                        .author {
                            margin-top: 16px;

                            .authorName {
                                letter-spacing: -0.01em;
                                line-height: 21px;
                            }

                            .authorDetails {
                                margin-bottom: 0;
                                font-size: 12px;
                                color: @classic-neutral-grey-5;
                                line-height: 16px;

                                a {
                                    display: inline-block;
                                    color: @classic-main-primary;
                                    transition: color 200ms;
                                    &:hover {
                                        color: darken(
                                            @classic-main-primary,
                                            10%
                                        );
                                    }
                                }
                            }
                        }
                    }

                    .upgradeButton {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}

@medium-and-large-screens: ~'only screen and (min-width: 992px) and (max-width: 1500px)';
@paywall-type: 'default', 'basic', 'pro', 'advanced', 'enterprise';

@defaultContainerShadow: 0px 16px 64px fade(@classic-neutral-grey-5, 20%);
@defaultImageShadow: 0px 16px 64px fade(@classic-neutral-grey-5, 20%);

@basicContainerShadow: 0px 16px 64px fade(@classic-main-primary-3, 16%);
@basicImageShadow: 0px 4px 24px fade(@classic-main-primary, 8%);

@proContainerShadow: 0px 16px 64px fade(@classic-main-primary-3, 16%);
@proImageShadow: 0px 4px 24px fade(@classic-main-primary, 8%);

@advancedContainerShadow: 0px 16px 64px rgba(32, 192, 140, 0.16);
@advancedImageShadow: 0px 4px 24px rgba(36, 214, 157, 0.08);

@enterpriseContainerShadow: 0px 16px 64px fade(@classic-feedback-warning, 16%);
@enterpriseImageShadow: 0px 4px 24px fade(@classic-feedback-warning, 8%);

.shadow-variant(@i:1) when (@i <= length(@paywall-type)) {
    @variantValue: extract(@paywall-type, @i);
    @containerShadow: '@{variantValue}ContainerShadow';
    @imageShadow: '@{variantValue}ImageShadow';
    @class: ~'@{variantValue}';

    &.@{class} {
        div {
            &:not(&.filterShadow) {
                &::after {
                    box-shadow: @@containerShadow;
                }

                img {
                    box-shadow: @@imageShadow;
                }
            }
            &.filterShadow {
                img {
                    filter: drop-shadow(@@imageShadow);
                }
            }
        }
    }

    .shadow-variant(@i + 1);
}

@defaultPaywallCircleColor: @classic-neutral-grey-1;
@basicPaywallCircleColor: @classic-main-primary-0;
@proPaywallCircleColor: @classic-main-primary-0;
@advancedPaywallCircleColor: @classic-feedback-success-0;
@enterprisePaywallCircleColor: @classic-feedback-warning-0;

.circle-variant(@i:1) when (@i <= length(@paywall-type)) {
    @variantValue: extract(@paywall-type, @i);
    @circleColor: '@{variantValue}PaywallCircleColor';
    @class: ~'@{variantValue}';
    @circle: replace(
        'data:image/svg+xml;utf8,<svg width="824" height="900" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h374c248.528 0 450 201.472 450 450S622.528 900 374 900H0V0Z" fill="@{@{circleColor}}"/></svg>',
        '#',
        '%23'
    );

    &.@{class} {
        &::before {
            content: url(@circle);
        }
    }

    .circle-variant(@i + 1);
}
