:local {
    .dropdown {
        min-width: 130px;
    }

    .sortingLabel {
        flex-grow: 1;
    }

    .icon.icon.icon {
        padding: 6px;

        &.isOpen {
            background-color: var(--neutral-grey-3); // legacy
            color: var(--neutral-grey-6); // legacy
        }
    }
}

.axiom :local {
    .icon.icon.icon {
        &.isOpen {
            background-color: var(--surface-neutral-secondary);
            color: var(--content-neutral-default);
        }
    }
}
