@import (reference) '~css/typography';
@import '~css/new/mixins';

:local {
    .outer {
        position: relative;
        height: 108px;
    }

    .inner {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: var(--layout-spacing-s);
        color: var(--neutral-grey-5);
        transition: background-color 0.2s ease-out;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 4px;
            background-color: transparent;
            transition: background-color 0.2s ease-out;
        }

        &:hover {
            background: var(--neutral-grey-1);
            color: var(--neutral-grey-5);
        }

        &.active {
            background: var(--main-primary-0);

            &::before {
                background-color: var(--main-primary);
            }
        }
    }

    .viewingIndicator {
        // little hack to increase specificity without resorting to !important
        &.viewingIndicator {
            border-top-width: 22px;
            border-left-width: 22px;

            i {
                top: -21px;
                right: 1px;
                font-size: 12px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        width: 0;
    }

    .header {
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
    }

    .customerChannel {
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    .customer {
        .caption-regular();

        overflow: hidden;
        color: var(--neutral-grey-6);
        text-overflow: ellipsis;
    }

    .time {
        flex-shrink: 0;
    }

    .unreadIndicator {
        flex-shrink: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--feedback-error);
    }

    .subject {
        .body-regular();

        overflow: hidden;
        color: var(--neutral-grey-6);
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .excerpt {
        .caption-regular();
        .line-clamp(2);

        overflow: hidden;
        height: 32px;
    }

    .icon {
        flex-shrink: 0;
        margin-right: 8px;
    }

    .errorLabel {
        color: var(--feedback-error);
        .body-semibold();
        margin-bottom: 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .counter {
        flex-shrink: 0;
        width: 8px;
        height: 8px;
        margin: auto 0 auto 16px;
        border-radius: 50%;
        background-color: var(--feedback-error);
    }

    .body {
        .caption-regular();
    }

    .unread {
        .customer {
            .caption-semibold();
        }

        .subject {
            .body-semibold();
        }
    }

    .enter {
        height: 0;
        transition: height 0.1s ease-out;

        .inner {
            opacity: 0;
            transform: translateX(-30px);
            transition:
                opacity 0.25s 0.4s ease-out,
                transform 0.25s 0.4s ease-out;
        }
    }

    .enterActive {
        height: 80px;

        .inner {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .exit {
        height: 80px;
        transition:
            height 0.25s 0.4s ease-out,
            transform 0.25s 0.4s ease-out;

        .inner {
            opacity: 1;
            transform: translateX(0);
            transition:
                opacity 0.25s ease-out,
                transform 0.25s ease-out;
        }
    }

    .exitActive {
        height: 0;
        transform: scaleY(0);

        .inner {
            opacity: 0;
            transform: translateX(-30px);
        }
    }
}
