@import (reference) '~css/typography';

:local {
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--neutral-grey-0); // legacy
    }

    .subHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--layout-spacing-s);
    }

    .selection {
        .body-semibold();

        display: flex;
        align-items: center;
    }

    .list {
        flex-grow: 1;
    }

    .scroller {
        scrollbar-color: var(--neutral-grey-3) var(--neutral-grey-0); // legacy
        scrollbar-width: thin;

        &::-webkit-scrollbar-thumb {
            visibility: initial;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--neutral-grey-0); // legacy
        }
    }

    .titleWrapper {
        display: flex;
        height: 52px;
        align-items: center;
        justify-content: space-between;
        padding: var(--layout-spacing-xs);
        border-bottom: 1px solid var(--neutral-grey-2); // legacy
    }

    .headerLeft {
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 12px;
    }

    .titleAndViewDecorationWrapper {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .headerRight {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .buttons {
        flex-shrink: 0;
        margin-left: var(--layout-spacing-xxs);
    }

    .title {
        .heading-subsection-semibold();
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
    }

    .icon.icon.icon {
        padding: 6px;
    }

    :global(.globalNav) :local {
        .wrapper {
            border-right: 1px solid var(--neutral-grey-2); // legacy
        }
    }
}

.axiom :local {
    .wrapper {
        background-color: var(--elevation-neutral-default);
    }

    .titleWrapper {
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .scroller {
        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb);
            visibility: initial !important; // Always visible
        }

        &::-webkit-scrollbar-track {
            background-color: var(--scrollbar-track);
        }

        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    }
}

.axiom.globalNav :local {
    .wrapper {
        border-right: 1px solid var(--border-neutral-default);
    }
}

.uiVisionMilestone1.uiVisionMilestone1 :local {
    .wrapper {
        border-right: 0;
    }
}
