@import (reference) '~css/typography.less';

:local {
    .container {
        position: relative;
        top: -28px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 24px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 252px;
    }

    .text {
        .heading-subsection-semibold();
    }

    .subText {
        .body-regular();
        margin-top: 8px;
        text-align: center;
        white-space: pre-wrap;
    }

    .text,
    .subText {
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .text,
    .subText {
        color: var(--content-neutral-default);
    }
}
