:local {
    .bannerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
    }

    .nextLink {
        margin-top: 34px;
        font-size: 12px;
    }

    .bannerImage {
        max-width: 248px;
    }
}
