@import (reference) '~css/typography';

:local {
    .deleteButton {
        color: var(--feedback-error) !important; // legacy
    }

    .itemTitle {
        .body-semibold();
    }

    .tableWrapper {
        margin-bottom: 67px; // height of one row
    }

    .titleCell {
        color: var(--neutral-grey-5); // legacy
    }

    .spinner {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .centeredCell > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .noResultsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--neutral-grey-5); // legacy
        margin-top: var(--layout-spacing-l);
    }

    .noResultsTitle {
        .heading-subsection-semibold();
        margin-bottom: var(--layout-spacing-xs);
    }

    .noResultsSubtitle {
        .body-regular();
        margin-bottom: var(--layout-spacing-xs);
    }

    .emptyTableBody {
        border-bottom: 2px solid #fff;
    }
}

.axiom :local {
    .deleteButton {
        color: var(--content-error-primary) !important;
    }

    .titleCell {
        color: var(--content-neutral-secondary);
    }

    .noResultsContainer {
        color: var(--content-neutral-secondary);
    }
}
