:local {
    .guidanceActionsBadge {
        margin-left: 8px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 2px 8px;
        border-radius: 4px;
        background-color: var(--neutral-grey-1); // legacy
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .guidanceActionsBadge {
        background-color: var(--surface-neutral-secondary);
        color: var(--content-neutral-secondary);
    }
}
