@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .modalForm {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--layout-spacing-xs);
        padding: var(--layout-spacing-s);
    }

    .titleInput {
        .heading-section-semibold();
        text-overflow: ellipsis;
        width: 100%;
        max-width: 100%;
        color: var(--neutral-grey-6);
        font-weight: 600;
        border: 0;
        background-color: var(--neutral-grey-0);
        padding: 6px var(--layout-spacing-xs);
        outline-color: var(--main-primary);
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--neutral-grey-2);
        padding: var(--layout-spacing-s);
        align-items: center;
    }

    .actions {
        display: flex;
        gap: 8px;
    }

    .counter {
        .body-regular();
        color: var(--neutral-grey-4);
    }

    .editor {
        flex-grow: 1;
    }

    .dropdowns {
        display: flex;
        gap: var(--layout-spacing-s);
        padding: 0 var(--layout-spacing-s);
        align-items: center;

        & > div {
            flex: 1;
            padding: var(--layout-spacing-xs) 0 var(--layout-spacing-s);
        }
    }

    .articleLanguageSelect {
        padding: 8px;
    }

    .inlineLanguageSelect {
        display: block;
        position: relative;
        width: 100%;
        line-height: 1.25;
        padding: 0 6px 0 14px;
        border: 1px solid var(--neutral-grey-3);
        border-radius: 0.25rem;
        background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background-image: none;
        background-color: var(--neutral-grey-1);
        font-size: 1rem;
        white-space: nowrap;
        box-sizing: border-box;

        :global(.dropdown-options) {
            margin-top: 0.125rem;
        }
        pointer-events: none;

        button {
            padding: 5px 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & span {
                color: var(--neutral-grey-4);
            }

            &:focus {
                outline: none;
            }

            :global(.material-icons) {
                color: var(--neutral-grey-4);
                font-size: 20px;
            }
        }
    }
}
