:local {
  .focusable {
    &:focus {
      outline: auto 5px -webkit-focus-ring-color;
    }
  }

  .titleInput {
    width: 240px;
    margin-right: 1rem;
  }

  .title {
    display: block;
    color: #9FA9B9;
    font-weight: 500;
  }
}
