@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .bannerWrapper {
        padding: 16px;
    }

    .modalFooter {
        justify-content: flex-end;
        padding: @layout-spacing-s;
        background-color: var(--neutral-grey-0);
    }

    .alert a {
        color: var(--main-primary) !important;

        &:hover {
            color: var(--main-primary-3) !important;
        }

        &:active {
            color: var(--main-primary-2) !important;
        }
    }
}
