@import (reference) '~css/typography';

:local {
    .awesomeIcon {
        color: var(--accessory-magenta-3); // legacy
    }

    .viaShoppingAssistant {
        margin-left: var(--layout-spacing-xxs);
    }
}

.axiom :local {
    .awesomeIcon {
        color: var(--content-additional-fuchsia);
    }
}
