@import '../GorgiasChatIntegrationForm.less';

:local {
    .tooltip {
        left: -9px !important;
        margin-bottom: 5px;
    }

    .tooltip-inner {
        text-align: left;
        max-width: 250px;
        padding: 10px;
    }

    .tooltip-arrow {
        left: 12px !important;
    }

    .tinyText {
        font-size: 12px;
    }

    .mb16 {
        margin-bottom: 16px;
    }

    .mb24 {
        margin-bottom: 24px;
    }

    .mt32 {
        margin-top: 32px;
    }

    .radioFieldSet {
        input[type='radio'] {
            align-self: flex-start;
            margin-top: 2px;
        }

        .dynamicDescription {
            font-size: 12px;
            font-weight: 400;
            color: var(--neutral-grey-4); // legacy
            margin-bottom: 0;
        }
    }

    .controlTicketVolumeTag {
        color: var(--main-primary-3) !important; // legacy
    }

    .privacyPolicyDisclaimerHeader {
        display: flex;
        justify-content: space-between;
    }

    .hasError {
        border-color: var(--feedback-error); // legacy
    }
}

.axiom :local {
    .radioFieldSet {
        .dynamicDescription {
            color: var(--content-neutral-tertiary);
        }
    }

    .controlTicketVolumeTag {
        color: var(--content-accent-default) !important;
    }

    .hasError {
        border-color: var(--border-error-default);
    }
}
