@import '~css/new/mixins';

:local {
    .viewersBanner {
        @padding-sides: 38px;

        overflow: hidden;
        background-color: var(--feedback-warning-1); // legacy
        box-shadow: inset 0 3px 2px
            hsl(
                var(--feedback-warning-1-h),
                var(--feedback-warning-1-s),
                calc(var(--feedback-warning-1-l) - 8%)
            );

        padding: 6px @padding-sides;
        transition: all 0.1s linear;

        color: var(--neutral-grey-6); // legacy
        font-size: 14px;

        &.hidden {
            height: 0;
            padding: 0 @padding-sides;

            color: transparent;
        }

        .icon {
            width: 1.2em;
            margin-right: 2.2em;

            text-align: center;
        }

        .collisionLabel {
            display: inline-block;
            width: 4.4em;

            line-height: normal;
        }

        .collisionCategory {
            display: inline-flex;
            align-items: center;
        }

        .collisionAgent {
            margin-left: 1em;
        }
    }

    .bothCollisions .collisionCategory {
        margin-right: 2.4em;

        .icon {
            margin-right: 0.8em;
        }

        .collisionAgent {
            margin-left: 0.4em;
        }
    }

    .historyButtonContainer {
        padding-left: 2em;
    }

    .headerContainer {
        position: relative;
        z-index: 2;
        background-color: var(--neutral-grey-0); // legacy
        box-shadow: 0 2px 6px
            hsla(
                var(--neutral-grey-6-h),
                var(--neutral-grey-6-s),
                var(--neutral-grey-6-l),
                0.07
            );

        @media @mobiles {
            margin: 0 -16px;
        }
    }
}

.axiom :local {
    .viewersBanner {
        background-color: var(--surface-warning-subtle);
        color: var(--content-neutral-default);
    }

    .headerContainer {
        background-color: var(--elevation-neutral-default);
        box-shadow: none;
    }
}
