@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        gap: @layout-spacing-s;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
    }

    .closeIcon {
        color: var(--feedback-error) !important;
    }

    .input {
        width: 100%;
    }

    .warningCaption {
        color: var(--feedback-warning-4);
    }

    .buttonGroup {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        height: 32px;
    }

    .arrowIcon {
        margin-left: @layout-spacing-s;
    }
}
