@import (reference) '~css/typography';

:local {
    .abbr[title] {
        color: var(--feedback-error);
        margin-left: 4px;
        text-decoration: none;
    }

    .label {
        .body-semibold();
        display: flex;
        align-items: center;
        margin-bottom: 0;
        transition: color 0.2s linear;

        &.isDisabled {
            cursor: not-allowed;
            color: var(--neutral-grey-4);
        }
    }
}
