@import '~css/new/colors';
@import (reference) '~css/typography';

:local {
    .abbr[title] {
        color: @classic-feedback-error;
        margin-left: 4px;
        text-decoration: none;
    }

    .label {
        .body-semibold();
        display: flex;
        align-items: center;
        margin-bottom: 0;
        user-select: none;
        transition: color 0.2s linear;

        &.isDisabled {
            cursor: not-allowed;
            color: @classic-neutral-grey-4;
        }
    }
}
