:local {
    .imageContainer {
        position: relative;
        width: 680px;
        height: 150px;

        .actionButtonContainer {
            position: absolute;
            right: 16px;
            bottom: 16px;
            display: flex;
            gap: 8px;
            z-index: 1;

            .actionButton {
                padding: 2px 8px;
                background-color: var(--neutral-grey-2); // legacy
                color: var(--neutral-grey-6); // legacy
                border: 1px solid var(--neutral-grey-3); // legacy
                border-radius: 4px;
            }
        }

        .actionButtonContainerRepositioning {
            bottom: 12px;
        }

        .boundingBox {
            height: 146px;
        }

        .image {
            width: 676px;
            height: 146px;
        }
    }

    .repositioning {
        cursor: row-resize;
        margin-bottom: 0.5rem;
        border: 2px dashed var(--neutral-grey-3); // legacy
        border-radius: 10px;
        background-color: var(--neutral-grey-2); // legacy
    }

    .helpText {
        width: 100%;
    }
}

.axiom :local {
    .imageContainer {
        .actionButtonContainer {
            .actionButton {
                background-color: var(--elevation-neutral-default);
                color: var(--content-neutral-default);
                border: 1px solid var(--border-neutral-default);
            }
        }
    }

    .repositioning {
        border: 2px dashed var(--border-neutral-default);
        background-color: var(--elevation-neutral-default);
    }
}
