@import (reference) '~css/typography';

:local {
    .container {
        max-width: 728px; // because 680 + 24 + 24 (paddings)

        padding-bottom: var(--layout-spacing-m);
    }

    .banner {
        margin-bottom: var(--layout-spacing-s);
    }

    .configurationSection {
        padding-top: var(--layout-spacing-m);
    }

    .sectionContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-l);
    }

    .formInputFooterInfo {
        .caption-regular();
        color: var(--neutral-grey-5);
        margin-top: var(--layout-spacing-xxs);

        &.error {
            color: var(--feedback-error);
        }
    }

    .label {
        margin-bottom: var(--layout-spacing-xs);
    }

    .labelSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
        margin-bottom: var(--layout-spacing-s);
    }

    .description {
        color: var(--neutral-grey-5);
    }

    .buttons {
        margin-top: 48px;
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .cardsContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .cardSection {
        padding: var(--layout-spacing-s);
    }

    .helpCenterSelect {
        display: flex;
        gap: var(--layout-spacing-s);
        align-items: center;
    }

    .openHelpCenterButton {
        margin: 0 12px;
    }
}
