@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .guidanceLibraryHeader {
        display: flex;
        justify-content: space-between;
        gap: @layout-spacing-s;
    }

    .subtitle {
        .body-regular();
        margin-bottom: @layout-spacing-s;
    }

    .icon {
        color: var(--accessory-magenta-3);
        font-size: 24px;
        margin-right: var(--layout-spacing-xs);
    }

    .spinner {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
