@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    // The `:global(.container-fluid)` explicitly targets the navbar component from reactstrap
    // This will force this style to overwrite the one from Bootstrap
    :global(.container-fluid).container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .spinner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
