:local {
    .banner {
        background-color: var(--surface-neutral-primary);
        border: 1px solid var(--border-neutral-default);
    }

    .placeholder {
        width: 240px;
        height: 160px;
    }
}
