:local .form {
    max-width: 400px !important;
}

:local .gmailButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4285F4;
  border-color: #4285F4;
  padding: 0;

  &:hover {
    background-color: #3f80db !important;
    border-color: #3f80db !important;
  }

  p {
    width: 100%;
    color: white;
  }
}


:local .gmail-icon {
    /* perfect alignment */
    position: relative;
    top: 5px;
    right: 10px;
    margin-top: -10px;
}
