:local .component {
    .macroData {
        margin-bottom: 1em;
    }

    .addTagWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .integrationActions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -0.5em;
    }

    .integrationActions > * {
        margin: 0.5em 0 0 0.5em;
    }

    .integrationAction {
        display: inline-flex;
        align-items: center;
        margin: 0.5em 0 0 0.5em;

        font-weight: 600;

        .logo {
            width: 20px;
            height: 20px;
            margin: 0 5px 0 0;
        }
    }

    .recipientsWrapper {
        padding-right: 4em;
    }

    .internalNote {
        text-align: left;
        color: var(--neutral-grey-6); // legacy
        font-weight: 600;
    }

    .icon {
        vertical-align: middle;
        font-size: 20px;
    }

    .internalNoteIcon {
        color: var(--yellow); // legacy
    }
}

.axiom :local {
    .component {
        .internalNote {
            color: var(--content-neutral-default);
        }

        .internalNoteIcon {
            color: var(--content-additional-yellow);
        }
    }
}
