@import './colorTokens';

/*---  Colors  ---*/
@black: #1b1c1d;
@indigo: #152065;
@green: #24d69e;
@purple: #8088d6;
@violet: #a541ab;
@yellow: #fbbd08;
@navy: #143498;

@highlightYellow: lighten(@classic-feedback-warning-1, 12%);
@internalYellow: #fff2e5;

/**
 * Ultra Light Colors
 * Used for label backgrounds
 */
@ultraLightRed: lighten(@classic-feedback-error-1, 19%);
@ultraLightBlue: lighten(@classic-main-primary-1, 15%);
@ultraLightOrange: lighten(@classic-feedback-warning-1, 13%);
@ultraLightPurple: lighten(@purple, 30%);

/* saturated, timeline borders */
@darkGreen: multiply(@green, #efefef);

// Third-party services colors
@chatPurple: #8088d6;
@facebookBlue: #1877f2;
@httpMagenta: #e91e63;
@magentoOrange: #ec6737;
@rechargeBlue: #53bad3;
@shopifyGreen: #95bf46;
@smileYellow: #fbc335;
@yotpoBlue: #4a8df9;
@twitterBlue: #1d9bf0;
@klaviyoGreen: #45b670;
@bigcommercePurple: #282432;
@bigcommerceLightPurple: fade(#4e70ff, 50%);
@office356: #dc3e15;
@google: #4285f4;

/**
 * Temporary values for rebranding
 */
@TEMP_neutral5: #161616;
@TEMP_shopifyBadgeColor: #5abf2a;
@TEMP_shopifyBadgeBG: #e5ffde;
