@media print {
    .mobile-nav,
    #ticket-actions-button {
        // options dropdown on ticket
        display: none !important;
    }

    #App,
    .app-content {
        height: initial !important; // display full height of all messages in ticket
    }

    #gorgias-chat-container {
        display: none;
    }
}

@page {
    margin: 2cm 1cm;
}
