*:hover > ::-webkit-scrollbar {
    background: @classic-neutral-grey-2;
}

::-webkit-scrollbar {
    width: 6px;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background: @classic-neutral-grey-3;
    border: 2px solid transparent;
    border-radius: 12px;
    visibility: hidden;
}

*:hover > ::-webkit-scrollbar-thumb {
    visibility: visible;
}
