// btn
.btn {
    font-weight: 500;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-primary {
    .button-variant(@classic-neutral-grey-0; @classic-main-primary; @classic-main-primary-3; @classic-main-primary-2; @classic-main-primary; @classic-main-primary-3; @classic-main-primary-4);
}

.btn-secondary {
    .button-variant(@classic-neutral-grey-6; @classic-neutral-grey-2; @classic-neutral-grey-3; @classic-neutral-grey-2; @classic-neutral-grey-3; @classic-neutral-grey-2; @classic-neutral-grey-4);
}

.btn-success {
    .button-variant(@classic-neutral-grey-0; @classic-feedback-success; @classic-feedback-success-3; @classic-feedback-success-2; @classic-feedback-success; @classic-feedback-success-3; @classic-feedback-success-4);
}

.btn-info {
    .button-variant(@classic-neutral-grey-0; @classic-neutral-grey-6; @classic-neutral-grey-6; fade(@classic-neutral-grey-6, 80%); @classic-neutral-grey-6; darken(@classic-neutral-grey-6, 5%); darken(@classic-neutral-grey-6, 10%));
}

.btn-warning {
    .button-variant(@classic-neutral-grey-0; @classic-feedback-warning; @classic-feedback-warning-3;  @classic-feedback-warning-2; @classic-feedback-warning; @classic-feedback-warning-3; @classic-feedback-warning-4);
}

.btn-danger {
    .button-variant(@classic-neutral-grey-0; @classic-feedback-error; @classic-feedback-error-3; @classic-feedback-error-2; @classic-feedback-error; @classic-feedback-error-3; @classic-feedback-error-4);
}

.btn-light {
    .button-variant(@classic-neutral-grey-6; @classic-neutral-grey-0; @classic-neutral-grey-3; @classic-neutral-grey-0; @classic-neutral-grey-3; @classic-neutral-grey-0; @classic-neutral-grey-3);

    &:hover {
        background: @classic-neutral-grey-0 !important;
    }
}

.btn-clue {
    .button-variant(@classic-neutral-grey-0; @purple; @purple; @purple; @purple; @purple; @purple);
}

.btn-transparent {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

// btn outline
.btn-outline-primary {
    .button-outline-variant(@classic-main-primary);
}

.btn-outline-secondary {
    .button-outline-variant(@classic-neutral-grey-1);
}

.btn-outline-success {
    .button-outline-variant(@classic-feedback-success);
}

.btn-outline-info {
    .button-outline-variant(@classic-neutral-grey-6);
}

.btn-outline-warning {
    .button-outline-variant(@yellow);
}

.btn-outline-danger {
    .button-outline-variant(@classic-feedback-error);
}

// badge
.badge-primary {
    .badge-variant(@classic-main-primary);
}

.badge-secondary {
    .badge-variant(@classic-neutral-grey-4);
}

.badge-success {
    .badge-variant(@classic-feedback-success);
}

.badge-info {
    .badge-variant(@classic-neutral-grey-6);
}

.badge-warning {
    .badge-variant(@classic-feedback-warning);
}

.badge-danger {
    .badge-variant(@classic-feedback-error);
}

// disabled buttons
.btn.disbled,
.btn:disabled {
    opacity: 1;
}

// text
.text-primary {
    color: @classic-main-primary !important;
}

.text-secondary {
    color: @classic-neutral-grey-4 !important;
}

.text-success {
    color: @classic-feedback-success !important;
}

.text-danger {
    color: @classic-feedback-error !important;
}

.text-warning {
    color: @yellow !important;
}

.text-info {
    color: @classic-neutral-grey-6 !important;
}

.text-muted {
    color: #bcc2c5 !important;
}

.text-purple {
    color: @purple;
}

// lighter color of grey text (lighter than text-muted)
.text-faded {
    color: @classic-neutral-grey-4 !important;

    a {
        color: @classic-main-primary-2;
    }

    kbd {
        background-color: @classic-neutral-grey-4 !important;
    }
}

/* inherit parent color
 */
.uncolored {
    color: inherit !important;
}

// modal
.modal-title {
    font-size: 20px;
    font-weight: 500;
}

.close {
    color: @classic-neutral-grey-6;
    font-weight: normal;
}

// breadcrumbs
.breadcrumb-item {
    font-size: 20px;
    font-weight: 400;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: @classic-neutral-grey-3;
    content: '>';
}

// card
.card {
    border-color: @classic-neutral-grey-3;
    border-radius: 4px;
}
