// btn
.btn {
    font-weight: 500;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-primary {
    .button-variant(
        var(--neutral-grey-0);
        var(--main-primary);
        var(--main-primary-3);
        var(--main-primary-2);
        var(--main-primary);
        var(--main-primary-3);
        var(--main-primary-4)
    );
}

.btn-secondary {
    .button-variant(
        var(--neutral-grey-6);
        var(--neutral-grey-2);
        var(--neutral-grey-3);
        var(--neutral-grey-2);
        var(--neutral-grey-3);
        var(--neutral-grey-2);
        var(--neutral-grey-4)
    );
}

.btn-success {
    .button-variant(
        var(--neutral-grey-0);
        var(--feedback-success);
        var(--feedback-success-3);
        var(--feedback-success-2);
        var(--feedback-success);
        var(--feedback-success-3);
        var(--feedback-success-4)
    );
}

.btn-info {
    .button-variant(
        var(--neutral-grey-0);
        var(--neutral-grey-6);
        var(--neutral-grey-6);
        hsla(var(--neutral-grey-6-h),
        var(--neutral-grey-6-s),
        var(--neutral-grey-6-l), 0.8);
        var(--neutral-grey-6);
        hsl(
            var(--neutral-grey-6-h),
            var(--neutral-grey-6-s),
            calc(var(--neutral-grey-6-l) - 5%)
        );
        hsl(
            var(--neutral-grey-6-h),
            var(--neutral-grey-6-s),
            calc(var(--neutral-grey-6-l) - 10%)
        )
    );
}

.btn-warning {
    .button-variant(
        var(--neutral-grey-0);
        var(--feedback-warning);
        var(--feedback-warning-3);
        var(--feedback-warning-2);
        var(--feedback-warning);
        var(--feedback-warning-3);
        var(--feedback-warning-4)
    );
}

.btn-danger {
    .button-variant(
        var(--neutral-grey-0);
        var(--feedback-error);
        var(--feedback-error-3);
        var(--feedback-error-2);
        var(--feedback-error);
        var(--feedback-error-3);
        var(--feedback-error-4)
    );
}

.btn-light {
    .button-variant(
        var(--neutral-grey-6);
        var(--neutral-grey-0);
        var(--neutral-grey-3);
        var(--neutral-grey-0);
        var(--neutral-grey-3);
        var(--neutral-grey-0);
        var(--neutral-grey-3)
    );

    &:hover {
        background: var(--neutral-grey-0) !important;
    }
}

.btn-clue {
    .button-variant(
        var(--neutral-grey-0);
        var(--purple);
        var(--purple);
        var(--purple);
        var(--purple);
        var(--purple);
        var(--purple)
    );
}

.btn-transparent {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

// btn outline
.btn-outline-primary {
    .button-outline-variant(var(--main-primary));
}

.btn-outline-secondary {
    .button-outline-variant(var(--neutral-grey-1));
}

.btn-outline-success {
    .button-outline-variant(var(--feedback-success));
}

.btn-outline-info {
    .button-outline-variant(var(--neutral-grey-6));
}

.btn-outline-warning {
    .button-outline-variant(var(--yellow));
}

.btn-outline-danger {
    .button-outline-variant(var(--feedback-error));
}

// badge
.badge-primary {
    .badge-variant(--main-primary);
}

.badge-secondary {
    .badge-variant(--neutral-grey-4);
}

.badge-success {
    .badge-variant(--feedback-success);
}

.badge-info {
    .badge-variant(--neutral-grey-6);
}

.badge-warning {
    .badge-variant(--feedback-warning);
}

.badge-danger {
    .badge-variant(--feedback-error);
}

// disabled buttons
.btn.disbled,
.btn:disabled {
    opacity: 1;
}

// text
.text-primary {
    color: var(--main-primary-2) !important;
}

.text-secondary {
    color: var(--neutral-grey-4) !important;
}

.text-success {
    color: var(--feedback-success) !important;
}

.text-danger {
    color: var(--feedback-error) !important;
}

.text-warning {
    color: var(--yellow) !important;
}

.text-info {
    color: var(--neutral-grey-6) !important;
}

.text-muted {
    color: var(--neutral-grey-4) !important;
}

.text-purple {
    color: var(--purple);
}

// lighter color of grey text (lighter than text-muted)
.text-faded {
    color: var(--neutral-grey-4) !important;

    a {
        color: var(--main-primary-2);
    }

    kbd {
        background-color: var(--neutral-grey-4) !important;
    }
}

/* inherit parent color
 */
.uncolored {
    color: inherit !important;
}

// modal
.modal-title {
    font-size: 20px;
    font-weight: 500;
}

.close {
    color: var(--neutral-grey-6);
    font-weight: normal;
}

// breadcrumbs
.breadcrumb-item {
    font-size: 20px;
    font-weight: 400;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--neutral-grey-3);
    content: '>';
}

// card
.card {
    border-color: var(--neutral-grey-3);
    border-radius: 4px;
    background-color: var(--neutral-grey-0);
}
