@import '~css/typography';

:local {
    .caption {
        .caption-regular();
        color: var(--neutral-grey-5); // legacy
    }

    .progressLabel {
        .body-semibold();
        color: var(--main-primary); // legacy
    }

    .progress {
        border-radius: 100px; // full roundness
        height: 8px;
        > .progress-bar {
            border-radius: 100px; // full roundness
        }
    }

    .checkInfoContainer {
        display: flex;
        gap: 8px;
    }

    .checkIcon {
        font-size: 24px;
        color: var(--feedback-success); // legacy
    }
}

.axiom :local {
    .caption {
        color: var(--content-neutral-secondary);
    }

    .progressLabel {
        color: var(--content-accent-default);
    }

    .checkIcon {
        color: var(--content-success-primary);
    }
}
