@import (reference) '~css/typography';

:local {
    .journeyMessageInstructionsField {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .characterCount {
        .caption-regular();
        color: var(--neutral-grey-5);
        text-align: right;

        &.characterCountWarning {
            color: var(--feedback-warning);
        }
    }

    .textArea {
        border-radius: 16px;
        border: 1px solid var(--neutral-grey-3);
        padding: var(--layout-spacing-s) var(--layout-spacing-m)
            var(--layout-spacing-s) var(--layout-spacing-s);
    }
}
