@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';
@import '~css/new/mixins.less';

:local {
    .container {
        padding: 0 64px;
        background-color: var(--main-latte);
        min-height: 260px;
    }
    .innerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: @layout-spacing-l;
        flex: 1;
        max-width: 1070px;
    }

    .imageWrapper {
        min-height: 260px;
        max-width: 500px;
        padding: 35px 44px;
        flex: 1;
    }

    .content {
        display: flex;
        gap: var(--layout-spacing-xs);
        flex-direction: column;
        flex: 1;
        max-width: 500px;
        min-width: 328px;

        @media @mobiles {
            max-width: none;
            min-width: none;
            width: 100%;
        }

        @media @tablets {
            max-width: none;
            min-width: none;
            width: 100%;
        }
    }

    .title {
        .heading-section-semibold();
        margin-bottom: 0;
    }

    .subtitle {
        margin-bottom: 0;
        color: var(--neutral-grey-5);
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .autoAwesome {
        color: var(--accessory-magenta-3);
        font-size: 16px;
        padding-right: 4px;
    }

    .templatesContainer {
        padding: @layout-spacing-m;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .templatesContainerHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .templatesContainerHeaderButtonGroup {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .templatesTitle {
        .heading-section-semibold();
        margin-bottom: 0;
    }

    .templatesList {
        list-style: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: @layout-spacing-s;

        @media @mobiles {
            grid-template-columns: repeat(1, 1fr);
        }

        @media @tablets {
            grid-template-columns: repeat(2, minmax(233px, 1fr));
        }

        @media @desktops {
            grid-template-columns: repeat(2, minmax(346px, 1fr));
        }

        @media @large-desktops {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    .showMoreLink {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 1200px) {
        .templatesContainerHeader {
            flex-direction: column;
            align-items: flex-start;
        }

        .templatesContainerHeaderButtonGroup {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: var(--layout-spacing-xs);
        }

        .container {
            padding: 0 32px;
            display: flex;
            align-items: center;
        }
        .innerContainer {
            justify-content: left;
        }
        .imageWrapper {
            display: none;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .templatesContainerHeader {
            flex-direction: row;
            align-items: flex-start;
            gap: @layout-spacing-s;
        }

        .templatesContainerHeaderButtonGroup {
            margin-top: 0;
            display: flex;
            flex-wrap: nowrap;
            width: auto;
        }
    }

    @media (max-width: 768px) {
        .container {
            padding: 0 16px;
        }
    }
}
