.form-group.binary-choice {
    :local {
        .binaryChoice {
            margin-top: 0;
        }

        .binaryChoiceOption {
            width: calc(~'50% - 0.5rem') !important;
            margin: 0 !important;

            &:not(:last-of-type) {
                margin-right: 1rem !important;
            }

            &:not(:global(.active)) {
                color: var(--neutral-grey-4) !important; // legacy
            }
        }
    }
}

.axiom :local {
    .binaryChoiceOption {
        &:not(:global(.active)) {
            color: var(--content-neutral-tertiary) !important;
        }
    }
}
