:local {
    .submit {
        margin-right: auto;
        pointer-events: auto !important;
    }

    .paywallText {
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .paywallText {
        color: var(--content-neutral-secondary);
    }
}
