.modern,
.light {
    --analytics-blue: #4f97eb;
    --analytics-yellow: #d89238;
    --analytics-magenta: #9411b5;
    --analytics-brown: #8a6800;
    --analytics-dark-blue: #004d79;
    --analytics-dark-brown: #793a00;
    --analytics-grey: #6a6a6a;
    --analytics-turquoise: #1a9970;
    --analytics-indigo: #000c79;
    --analytics-pink: #f58d86;

    --analytics-heatmap-0: #ffffff;
    --analytics-heatmap-1: #edf4fe;
    --analytics-heatmap-2: #dbe8fe;
    --analytics-heatmap-3: #c9ddfd;
    --analytics-heatmap-4: #b7d1fd;
    --analytics-heatmap-5: #92bbfb;
    --analytics-heatmap-6: #6ea4fa;
    --analytics-heatmap-7: #4a8df9;
    --analytics-heatmap-8: #3b71c7;
    --analytics-heatmap-9: #2c5595;
}

.dark {
    --analytics-blue: #4f97eb;
    --analytics-yellow: #d89238;
    --analytics-magenta: #9411b5;
    --analytics-brown: #8a6800;
    --analytics-dark-blue: #3d718f;
    --analytics-dark-brown: #ca6d16;
    --analytics-grey: #6a6a6a;
    --analytics-turquoise: #1a9970;
    --analytics-indigo: #6370e3;
    --analytics-pink: #f58d86;

    --analytics-heatmap-0: #303336;
    --analytics-heatmap-1: #394d60;
    --analytics-heatmap-2: #2e557a;
    --analytics-heatmap-3: #2c5595;
    --analytics-heatmap-4: #3b71c7;
    --analytics-heatmap-5: #4a8df9;
    --analytics-heatmap-6: #6ea4fa;
    --analytics-heatmap-7: #92bbfb;
    --analytics-heatmap-8: #b7d1fd;
    --analytics-heatmap-9: #c9ddfd;
}
