@import '~css/typography';

:local {
    .card {
        padding: var(--layout-spacing-s);
    }

    .wrapper {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: center;
    }

    .avatar {
        flex-grow: 0;
    }

    .avatarPlaceholder {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        font-size: 24px;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;

        background-color: var(--neutral-grey-2); // legacy
        color: var(--neutral-grey-5); // legacy

        .noValuePlaceholder {
            font-size: 12px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        flex-grow: 0;
    }

    .actionMenu {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
    }

    .label {
        .body-semibold();

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--layout-spacing-xxs);
    }

    .infoIcon {
        font-size: 16px;
        color: var(--neutral-grey-4); // legacy
    }

    .metricRow {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        flex-grow: 0;
    }

    .metricName {
        .caption-regular();
        color: var(--neutral-grey-5); // legacy
    }

    .metricDivider {
        height: 16px;
        width: 1px;
        background-color: var(--neutral-grey-3); // legacy
    }

    .metricValue {
        .caption-semibold();
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .card {
        border: 1px solid var(--border-neutral-default) !important;
        background-color: var(--elevation-neutral-mid) !important;
        border-radius: var(--spacing-sm) !important;
        box-shadow: var(--effects-shadow-container) !important;
    }

    [data-drag-enabled='true'] {
        :global(.react-grid-item:hover) .card,
        :global(.react-grid-item.react-dragging) .card,
        :global(.react-grid-item.react-resizing) .card {
            border: 1px solid transparent;
        }
    }

    .avatarPlaceholder {
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-secondary);
    }

    .infoIcon {
        color: var(--content-neutral-tertiary);
    }

    .metricName {
        color: var(--content-neutral-secondary);
    }

    .metricDivider {
        background-color: var(--border-neutral-default);
    }

    .metricValue {
        color: var(--content-neutral-secondary);
    }
}
