@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/typography.less';

:local {
    .container {
        height: calc(100vh - 5.33rem);
    }

    .table {
        padding-bottom: @layout-spacing-m;
    }

    .empty {
        color: var(--neutral-grey-4);
    }
}
