@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/typography.less';

:local {
    .listWrapper {
        margin: @layout-spacing-m -@layout-spacing-m;
    }

    .listHeader {
        display: flex;
        align-items: center;
        .caption-allcaps();

        & span {
            padding-top: @layout-spacing-s;
            padding-bottom: @layout-spacing-s;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .row {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        border-top: 1px solid var(--neutral-grey-3);
        border-bottom: 1px solid var(--neutral-grey-3);
        & + .row {
            border-top: none;
        }
    }

    .link {
        display: flex;
        flex-basis: 100%;
        min-width: 0;
        justify-content: stretch;
        align-items: center;
        color: inherit;

        &:hover {
            background-color: var(--neutral-grey-1);
            color: inherit;
        }
    }

    .cell {
        display: flex;
        align-items: center;
        flex: 0 1 auto;
        padding: @layout-spacing-xs @layout-spacing-s;
        &:first-child {
            padding-left: @layout-spacing-m;
        }
        &:last-child {
            padding-right: @layout-spacing-m;
        }
    }

    .avatar {
        min-width: 150px;
        width: 35%;
    }

    .name {
        margin-left: @layout-spacing-xs;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    .email {
        min-width: 100px;
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        width: 30%;
    }

    .role {
        min-width: 100px;
        width: 20%;
    }

    .twoFA {
        min-width: 100px;
        width: 15%;
    }

    .spinnerWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
}
