@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .separator-xxs {
        padding-top: var(--layout-spacing-xxs);
    }

    .separator-xs {
        padding-top: var(--layout-spacing-xs);
    }

    .separator-s {
        padding-top: var(--layout-spacing-s);
    }

    .separator-m {
        padding-top: var(--layout-spacing-m);
    }

    .separator-l {
        padding-top: var(--layout-spacing-l);
    }

    .separator-xl {
        padding-top: @layout-spacing-xl;
    }
}
