:local {
    .container {
        font-size: 14px;
        line-height: 17px;
        display: flex;
        gap: var(--layout-spacing-xxs);

        .name {
            font-weight: 600;
        }
    }
}
