@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .fieldSpacer {
        margin-bottom: @layout-spacing-s;
    }

    .formFooter {
        margin-top: @layout-spacing-m;
        display: flex;
        justify-content: space-between;
    }

    .cancelButton {
        margin-left: @layout-spacing-xs;
    }
}
