:local {
    .nameCell {
        font-weight: bold;
    }

    .requiredLabel {
        font-weight: normal;
    }

    .iconLinkButton {
        padding: 0 7px !important;

        i {
            font-size: 20px;
        }
    }
}
