@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .emptyContainer {
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;
        padding: @layout-spacing-l;
        text-align: center;

        p {
            color: var(--neutral-grey-6);
            font-size: 14px;
            margin-bottom: 0;
        }

        p.subtitle {
            color: var(--neutral-grey-5);
            font-size: 12px;
        }
    }

    .table {
        border: 1px solid var(--neutral-grey-3);

        thead th {
            width: auto;
            color: var(--neutral-grey-4);
            .caption-allcaps();

            .tooltip {
                display: inline-block;
                margin-right: 5px;
                font-size: 13px;
            }
        }
    }

    .selectButton {
        margin-top: var(--layout-spacing-s);
    }
}
