@import '~css/new/mixins';

:local {
    .container {
        display: flex;
        gap: 40px;
        padding: 24px;

        @media @mobiles {
            display: grid;
        }
    }

    .card {
        width: 100%;
    }

    .features {
        padding-top: 16px;
        display: flex;
        gap: 8px;
        flex-direction: column;
    }

    .feature {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 16px;
        color: var(--neutral-grey-5);

        i {
            color: var(--feedback-success-3);
            font-size: 20px;
        }
    }

    .cardHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        color: var(--neutral-grey-6);
    }

    .selectedPlan {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    .selector {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .counter {
        color: var(--neutral-grey-4);
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .payment {
        margin-top: 12px;
        padding: 20px 16px;
        border: 1px solid var(--feedback-warning);
        border-radius: 4px;
        display: none;

        &.show {
            display: block;
        }
    }

    .enterprisePrice {
        color: var(--neutral-grey-5);
        font-weight: 600;
    }

    .enterpriseDescription {
        padding: 12px 16px;
        background-color: var(--neutral-grey-2);
    }

    .starterDescription {
        padding-top: 12px;
        font-size: 12px;
    }

    .tooltip :global(.tooltip) {
        left: -7px !important;
    }

    .link {
        color: var(--main-primary);
        i {
            margin-left: 4px;
            font-size: 16px;
        }
    }
}
