:local {
    .createNewChannelContainer {
        padding: 0.5rem;
        border-top: 1px solid var(--neutral-grey-3);
        background: var(--neutral-grey-2); // legacy
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
}

.axiom :local {
    .createNewChannelContainer {
        background: var(--elevation-neutral-mid);
        border-top: 1px solid var(--border-neutral-default);
    }
}
