@import '~css/new/colorTokens';

:local {
    @primary: #479af5;
    @light-contrast-color: 'FFFFFF';
    @dark-contrast-color: '161616';

    .launcher {
        width: 60px;
        height: 60px;
        background: @primary;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 fade(black, 26%);
        display: flex;
        align-items: center;
        justify-content: center;

        &.iconAndLabelMode {
            height: 52px;
            width: inherit;
            border-radius: 100px;
            padding: 0 20px;

            .iconWrapper {
                margin-right: 12px;

                .icon,
                .iconDark {
                    width: 20px;
                    height: 20px;
                }
            }

            .label {
                color: @classic-neutral-grey-0;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .iconWrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                width: 28px;
                height: 28px;
            }

            .icon {
                z-index: 1;
                width: 28px;
                height: 28px;
            }
            .iconDark {
                z-index: 1;
                width: 28px;
                height: 28px;
            }
        }
    }
}
