@import (reference) '~css/new/colorTokens';

:local {
    .wrapper {
        section:first-child {
            margin-bottom: 24px;
        }
        section {
            h5 {
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
            }
            .toggle {
                margin-bottom: 24px;
                .toggleLabel {
                    display: flex;
                    align-items: center;
                    .tooltipIcon {
                        margin-left: 5px;
                        margin-top: 2px;
                        font-size: 16px;
                        color: @classic-neutral-grey-4;
                    }
                }
            }
            .heading {
                margin-bottom: 24px;

                .headingInner {
                    display: flex;
                    justify-content: space-between;
                }

                h3 {
                    margin-bottom: 4px;
                }

                p {
                    margin-bottom: 0;
                }
            }
            :global .form-group + p {
                margin-bottom: 24px;
            }
        }
    }
    .tooltip {
        width: 180px;
        left: -9px !important;
        margin-bottom: 5px;
    }

    .tooltip-inner {
        text-align: left;
        max-width: 250px;
        padding: 10px;
    }

    .tooltip-arrow {
        left: 12px !important;
    }
}
