:local {
    .connectStoreWarning {
        color: var(--feedback-warning);
    }

    .autoAwesome {
        color: var(--accessory-magenta-3);
        font-size: 16px;
        padding-right: 4px;
    }
}
