@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .wrapper {
        section {
            margin-bottom: @layout-spacing-xl;
            h5 {
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                margin-bottom: @layout-spacing-s;
            }
            .toggleSection {
                margin-bottom: @layout-spacing-l;
            }
            .toggle {
                margin-bottom: @layout-spacing-s;
                .toggleLabel {
                    display: flex;
                    align-items: center;
                    .tooltipIcon {
                        margin-left: 5px;
                        margin-top: 2px;
                        font-size: 16px;
                        color: var(--neutral-grey-4);
                    }
                }
            }
            .heading {
                margin-bottom: @layout-spacing-m;
                h3 {
                    margin-bottom: @layout-spacing-xxs;
                    font-weight: 600;
                }
                p {
                    margin-bottom: 0;
                }
            }
            :global .form-group + p {
                margin-bottom: 24px;
            }
            .inputField {
                margin-bottom: @layout-spacing-m;
            }
            .subsection {
                margin-bottom: @layout-spacing-l;
            }
        }
    }
    .tooltip {
        width: 180px;
        left: -9px !important;
        margin-bottom: 5px;
    }

    .tooltip-inner {
        text-align: left;
        max-width: 250px;
        padding: 10px;
    }

    .tooltip-arrow {
        left: 12px !important;
    }
}
