@import '~css/new/colorTokens';

:local {
    .helpCenterName {
        font-weight: bold;
    }
    .forwardIcon {
        color: @classic-neutral-grey-3;
        font-size: 22px;
        margin-left: 25px;
    }
}
