@import (reference) '~css/new/colors.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 680px;
        margin-left: 0;
    }

    section {
        margin-bottom: 40px;
    }

    .delete-btn {
        i {
            color: @red;
            font-size: 15px;
            margin-right: 4px;
        }

        &:disabled {
            cursor: default;

            i {
                color: @lightGrey;
            }
        }
    }

    .modal-actions {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .delete-modal-help-center {
        color: @red;
    }

    .delete-modal-input {
        margin: 0;
    }
}
