:local {
    .container {
        max-width: 680px;
        margin-left: 0;
        padding-bottom: 8px;
    }

    .section {
        margin-bottom: 40px;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        margin-bottom: 24px;
    }

    .cancelButton {
        margin-left: 8px;
    }
}
