:local {
    .tableWrapper {
        margin-bottom: 0;
    }

    .headerHelpCenterName {
        padding-left: 48px !important;
    }

    .helpCenterName {
        font-weight: 600;
        padding-left: 24px;
    }

    .storeName {
        white-space: nowrap;
    }

    .lastBodyCell {
        padding-right: 72px;
    }

    .forwardIcon {
        color: var(--neutral-grey-3);
        font-size: 22px;
        margin-left: 25px;
    }
}
