:local {
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        margin-bottom: 24px;
    }

    .cancelButton {
        margin-left: 8px;
    }
}
