@import (reference) '~css/new/colorTokens';

:local {
    .container {
        display: flex;
        flex-direction: column;
    }

    .cancel-btn {
        margin-right: 8px;
    }

    .delete-btn {
        i {
            color: @classic-feedback-error;
            font-size: 15px;
            margin-right: 4px;
        }

        &:disabled {
            cursor: default;

            i {
                color: @classic-neutral-grey-4;
            }
        }
    }

    .delete-modal-help-center {
        color: @classic-feedback-error;
    }

    .delete-modal-input {
        margin: 0;
    }
}
