@import (reference) '~css/new/colors.less';

:local {
    .delete-btn {
        i {
            color: @red;
            font-size: 15px;
            margin-right: 4px;
        }
    }

    .modal-actions {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
}
