@import (reference) '~css/new/colorTokens';

:local {
    .container {
        display: flex;
        flex-direction: column;
    }

    .sectionTitle {
        margin-bottom: 24px;
    }

    .ctasGroup {
        display: flex;
        justify-content: space-between;
    }

    .leftSideButtons {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    .cancel-btn {
        margin-right: 8px;
    }

    .delete-btn {
        i {
            color: @classic-feedback-error;
            font-size: 15px;
            margin-right: 4px;
        }

        &:disabled {
            cursor: default;

            i {
                color: @classic-neutral-grey-4;
            }
        }
    }

    .delete-modal-help-center {
        color: @classic-feedback-error;
    }

    .delete-modal-input {
        margin: 0;
    }

    .alert {
        margin-top: 16px;
    }

    .alertContent {
        display: flex;
        gap: 16px;
        align-items: center;
    }
}
