@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .owner {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        overflow: hidden;

        .icon {
            flex-shrink: 0;
            font-size: 16px;
            color: var(--neutral-grey-4);
        }

        .teamIcon {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            background-color: var(--neutral-grey-4);
            -webkit-mask-image: url('assets/img/icons/team-circle.svg');
            mask-image: url('assets/img/icons/team-circle.svg');
        }
    }

    .warning {
        color: var(--feedback-warning-4);
        .icon {
            color: var(--feedback-warning-3);
        }
    }

    .textContent {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
