:local {
    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--layout-spacing-s);
        margin-bottom: var(--layout-spacing-s);
    }

    .filters {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-s);
        flex-wrap: wrap;
    }
}
