@import (reference) '~css/typography';

:local {
    .banner {
        margin-bottom: var(--layout-spacing-s);
        border: none;
        background-color: var(--accessory-magenta-1); // legacy
        align-items: center;

        .bannerWrapper {
            display: flex;
            gap: var(--layout-spacing-xs);
            justify-content: space-between;
            align-items: center;

            .bannerButton {
                background-color: var(--accessory-magenta-3); // legacy
                border-color: var(--accessory-magenta-3); // legacy
                cursor: pointer;

                &:hover {
                    background-color: var(--accessory-magenta-3); // legacy
                    border-color: var(--accessory-magenta-3); // legacy
                }
            }
        }
    }
}

.axiom :local {
    .banner {
        background-color: var(--surface-additional-fuchsia);

        .bannerWrapper {
            .bannerButton {
                background-color: var(--surface-additional-purple);
                border-color: var(--surface-additional-purple);

                &:hover {
                    background-color: var(--surface-additional-purple);
                    border-color: var(--surface-additional-purple);
                }
            }
        }
    }
}
