:local {
    .tooltipLink {
        font-size: 12px !important;
        color: var(--content-accent-default);

        &:hover {
            color: var(--content-accent-default);
            text-decoration: underline;
        }
    }
}
