:local {
    .banner {
        background-color: var(--surface-neutral-primary);
        border: 1px solid var(--border-neutral-default);
        position: relative;
    }

    .closeButton {
        position: absolute;
        top: var(--spacing-md);
        right: var(--spacing-md);
    }

    .bulletList {
        margin: 0;
        padding-left: var(--spacing-md);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxxs);
        color: var(--content-neutral-default);
        font-size: 14px;
        line-height: 20px;
    }
}
