:local {
    .card {
        display: flex;
        padding: var(--layout-spacing-m);
    }

    .cardTitleRow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .handoverCardsContainer {
        margin-top: var(--layout-spacing-l);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }
}
