:local {
    .bookDemoContainer {
        display: flex;
        align-items: center;
        gap: 2px;

        .secondaryText {
            color: var(--neutral-grey-5);
        }

        .bookDemoContainerButton {
            padding: var(--layout-spacing-xxs);
        }
    }

    .bookDemoButtonText {
        color: var(--neutral-grey-6);
    }
}
