@import (reference) '~css/new/colorTokens';

:local {
    .container {
        font-size: 13px;
        font-weight: normal;
        color: @classic-neutral-grey-6;
        background-color: @classic-neutral-grey-2 !important;
        border-color: @classic-neutral-grey-3 !important;
        line-height: 24px;

        .messengerIcon {
            margin-right: 5px;
            width: 12px;
            height: 12px;
        }

        &.disabled img {
            opacity: 0.2;
        }

        .instagramDirectMessageIcon {
            margin-right: 5px;
            width: 18px;
            height: 18px;
        }
    }
}
