:local {
  .container {
    font-size: 13px;
    font-weight: normal;
    color: #1D365C;
    pointer-events: auto !important;
    line-height: 24px;

    .messengerIcon {
      margin-right: 5px;
      width: 12px;
      height: 12px;
    }

    .instagramDirectMessageIcon {
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }

  }
}
