@import '~@gorgias/design-tokens/dist/css/layout';

:local .row {
    div {
        cursor: default;
    }

    strong {
        margin-right: @layout-spacing-s;
        color: var(--neutral-grey-6);
    }
}
