@import '~css/new/colorTokens';
@import '~css/typography';

:local {
    .title {
        .body-regular();
        font-weight: bold;
    }
    .warningIcon {
        color: @classic-feedback-error;
        font-size: 20px;
    }
    .actions {
        display: flex;
        gap: 16px;
    }
    .actionsButton {
        flex: 1;
    }
}
