:local {
    .halfWidth {
        width: calc(~'50% - 10px');
    }

    .fieldGroupsWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .required {
        &::after {
            content: ' *';
            color: var(--feedback-error); // legacy
        }
    }

    .isDisabled {
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .required {
        &::after {
            color: var(--border-error-primary);
        }
    }

    .isDisabled {
        color: var(--content-neutral-secondary);
    }
}
