@import (reference) '~css/typography';

:local {
    .containerFlex {
        display: flex;
    }

    .container {
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
        padding: 20px;
        column-gap: var(--layout-spacing-s);
        align-items: center;
        margin-bottom: var(--layout-spacing-s);
    }

    .title {
        .body-semibold();
        margin-bottom: var(--layout-spacing-xs);
    }

    .actionButton {
        margin-left: auto;
    }
}

.axiom :local {
    .container {
        border-color: var(--border-neutral-default);
    }
}
