@import (reference) '~css/new/colors.less';

:local {
    .domainWrapper {
        margin-top: 45px;
    }

    .titleContainer {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }

    .title {
        margin-bottom: 0;
    }

    .domainForm {
        display: grid;
        grid-template-columns: 344px auto;
        grid-template-areas: 'input status';

        column-gap: 8px;
    }

    .helpContainer {
        border: 1px solid @neutral4;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 16px;
        margin: 16px 0;
    }

    .domainInput {
        grid-area: input;
        position: relative;
    }

    .deleteDomain {
        position: absolute;
        right: 0;
        top: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 33px;
        width: 33px;
        margin-top: -4px;

        color: @red;
        font-size: 16px;

        cursor: pointer;
        transform: translateY(-50%);
    }

    .domainStatus {
        grid-area: status;
        align-self: center;
    }
}
