@import '~css/new/colors';

:local {
    .forwardingIcon {
        color: #db2828;
        margin-right: 5px;
    }

    .icon {
        margin-top: -2px;
        margin-left: -2px;

        color: @lightPurple2;
        font-size: 26px !important;
    }
}
