@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: @layout-spacing-m;
        padding: 0 @layout-spacing-m;
        background-color: var(--main-latte);
        padding: @layout-spacing-l 64px;
    }

    .textContainer {
        display: flex;
        align-items: center;
        gap: @layout-spacing-m;

        i {
            font-size: 32px;
            color: var(--accessory-magenta-3);
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        color: var(--neutral-grey-6);
    }

    .description {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: var(--neutral-grey-5);
    }
}
