:local {
    .container {
        position: relative;
    }

    .card {
        position: absolute;
        top: 0;
        left: 680px;
        margin-left: 68px;

        .content {
            display: grid;
            grid-gap: 4px;
        }
    }
}
