@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .formLine {
        display: inline-flex;
        margin-top: @layout-spacing-s;
        width: 100%;
    }

    .actionWrapper {
        margin-top: @layout-spacing-s;
    }

    .deleteBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: var(--layout-spacing-xs);
    }
}
