@import (reference) '~css/typography.less';

:local {
    .container {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: minmax(480px, 1000px) 1fr;
    }

    .previewContentContainer {
        position: sticky;
        max-width: 684px;
        width: 100%;

        gap: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loadingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .settingsContainer {
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-m);
        gap: var(--layout-spacing-xl);
        overflow: auto;
    }
}
