:local {
    .feature {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: var(--layout-spacing-m);
        column-gap: var(--layout-spacing-s);
    }

    .featureToggle {
        flex-grow: 1;
    }
}
