@import (reference) '~css/typography.less';

:local {
    .automationDescription {
        padding-bottom: var(--layout-spacing-s);
        .body-regular();
    }

    .buttonIcon {
        font-size: 20px;
    }

    .label {
        .heading-subsection-semibold();
    }

    .labelWrapper {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .icon {
        font-size: 16px;
        color: var(--neutral-grey-5); // legacy
    }

    .flowsDropdown {
        max-height: 272px;
        width: 272px;
    }

    .flowsDropdownHeader {
        background: none;
        border-bottom: none;
    }

    .workflowTriggerName {
        .caption-regular();
        color: var(--neutral-grey-5); // legacy
        font-size: 12px;
    }

    .dragIcon {
        color: var(--neutral-grey-5); // legacy
        cursor: grab;
        font-size: 20px;
    }
    .workflowName {
        .body-semibold();
        color: var(--neutral-grey-6); // legacy
    }

    .enabledWorkflowList {
        list-style: none;
        padding: 0;
        margin-top: var(--layout-spacing-m);
        margin-bottom: var(--layout-spacing-m);
    }

    .workflowListItem {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        &:not(:last-child) {
            padding-bottom: var(--layout-spacing-xs);
            margin-bottom: var(--layout-spacing-xs);
            border-bottom: 1px solid var(--neutral-grey-2); // legacy
        }
    }

    .workflowDropdownItem {
        flex-direction: column;
        align-items: unset;
        padding-top: var(--layout-spacing-xs);
        padding-bottom: var(--layout-spacing-xs);
        .body-regular();
    }

    .workflowListItemButtons {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: var(--layout-spacing-xxs);
    }
}

.axiom :local {
    .icon {
        color: var(--content-neutral-default);
    }

    .workflowTriggerName {
        color: var(--content-neutral-default);
    }

    .dragIcon {
        color: var(--content-neutral-default);
    }

    .workflowName {
        color: var(--content-neutral-default);
    }

    .workflowListItem {
        &:not(:last-child) {
            border-bottom: 1px solid var(--border-neutral-default);
        }
    }
}
