@import (reference) '~css/typography.less';

:local {
    .workflowTriggerName {
        .caption-regular();
        color: var(--neutral-grey-5); // legacy
        font-size: 12px;
    }

    .dragIcon {
        color: var(--neutral-grey-5); // legacy
        cursor: grab;
        font-size: 20px !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
        &:not(:last-child) {
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid var(--neutral-grey-2); // legacy
        }
    }

    .workflowListItem {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-s);
    }

    .workflowListItemButtons {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: var(--layout-spacing-xxs);
    }

    .workflowListItemContent {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    .warningIcon {
        color: var(--feedback-warning); // legacy
        font-size: 16px !important;
    }
}

.axiom :local {
    .workflowTriggerName {
        color: var(--content-neutral-default);
    }

    .dragIcon {
        color: var(--content-neutral-default);
    }

    .container {
        &:not(:last-child) {
            border-bottom: 1px solid var(--border-neutral-default);
        }
    }

    .warningIcon {
        color: var(--content-warning-primary);
    }
}
