@import '~css/new/colors';

:local {
    .dataFields {
        margin-bottom: 12px;
    }

    .dataHeader {
        margin-bottom: 12px;
        padding: 12px;
        color: #573a08;
        background-color: #fffaf3;
        border: 1px solid var(--httpMagenta);
        border-radius: 3px;
    }

    .dataTitle {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 8px;
    }

    .shopify {
        & > .dataHeader {
            color: #5a7529;
            background-color: #e0ecc8;
            border-color: var(--shopifyGreen);
        }
    }

    .recharge {
        & > .dataHeader {
            color: var(--neutral-grey-0);
            background-color: lighten(@rechargeBlue, 15%);
            border-color: var(--rechargeBlue);

            a {
                color: var(--neutral-grey-0);
            }
        }
    }

    .smooch_inside {
        & > .dataHeader {
            color: #570808;
            background-color: #ffd7d7;
            border-color: var(--chatPurple);
        }
    }

    .magento2 {
        & > .dataHeader {
            color: #563110;
            background-color: #ffdcc1;
            border-color: var(--magentoOrange);
        }
    }

    .yotpo {
        & > .dataHeader {
            color: var(--neutral-grey-0);
            border-color: var(--yotpoBlue);

            a {
                color: var(--neutral-grey-0);
            }
        }
    }

    .bigcommerce {
        & > .dataHeader {
            color: var(--bigcommercePurple);
            background-color: var(--bigcommerceLightPurple);
            border-color: var(--bigcommercePurple);
        }
    }

    .customer_external_data {
        & > .dataHeader {
            color: var(--neutral-grey-0);
            background-color: var(--customerExternalDataGray);
            border-color: var(--customerExternalDataGray);
        }
    }

    .standalone {
        & > .dataHeader {
            color: var(--neutral-grey-6);
            background-color: var(--main-secondary-0);
            border-color: var(--main-secondary-1);
        }
    }
}
