@import '~css/new/colorTokens';

:local {
    .sourceWidgetList {
        min-height: 100px;
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }
}
