:local {
    .dropdown {
        box-shadow: 0 0 5px rgba(21, 32, 101, 0.1);
        height: auto;
        margin-bottom: 1px;
        margin-left: -1px;
        max-height: 33vh;
        overflow-x: hidden;
        width: max-content;
    }
}
