@import '~css/new/colorTokens';

:local {
    .dropdown {
        box-shadow: 0 0 5px fade(@classic-neutral-grey-6, 10%);
        height: auto;
        margin-bottom: 1px;
        margin-left: -1px;
        max-height: 33vh;
        overflow-x: hidden;
        width: max-content;
    }
}
