# CRM Reporting scope @gorgias/crm-reporting

src/assets/css/stats @gorgias/crm-reporting
src/assets/img/paywalls/screens/chat_stats.png @gorgias/crm-reporting
src/assets/img/presentationals/satisfaction-survey-stats.png @gorgias/crm-reporting
src/assets/img/stats @gorgias/crm-reporting
src/config/stats.less @gorgias/crm-reporting
src/config/stats.tsx @gorgias/crm-reporting
src/fixtures/chart.ts @gorgias/crm-reporting
src/fixtures/stats.ts @gorgias/crm-reporting
src/hooks/reporting @gorgias/crm-reporting
src/models/stat @gorgias/crm-reporting
src/models/reporting @gorgias/crm-reporting
src/pages/stats @gorgias/crm-reporting
src/routes/StatsRoutes.tsx @gorgias/crm-reporting
src/routes/tests/StatsRoutes.tsx @gorgias/crm-reporting
src/services/supportPerformanceTipService.ts @gorgias/crm-reporting
src/services/tests/supportPerformanceTipService.ts @gorgias/crm-reporting
src/services/reporting @gorgias/crm-reporting
src/state/entities/stats @gorgias/crm-reporting
src/state/stats @gorgias/crm-reporting
src/state/ui/stats @gorgias/crm-reporting
src/utils/reporting.ts @gorgias/crm-reporting
src/utils/tests/reporting.spec.ts @gorgias/crm-reporting

# Conv AI Orchestration scope
src/pages/aiAgent/ @gorgias/conv-ai-orchestration

# Conv AI scope @gorgias/conv-ai-actions

src/pages/automate @gorgias/conv-ai-actions
src/pages/aiAgent/actions @gorgias/conv-ai-actions
src/models/selfServiceConfiguration @gorgias/conv-ai-actions
src/pages/stats/self-service @gorgias/conv-ai-actions
src/state/entities/selfServiceConfigurations @gorgias/conv-ai-actions
src/state/ui/selfServiceConfigurations @gorgias/conv-ai-actions
src/models/workflows @gorgias/conv-ai-actions

# Help center scope @gorgias/conv-ai-actions

src/rest_api/help_center_api @gorgias/conv-ai-actions
src/config/helpCenter.ts @gorgias/conv-ai-actions
src/config/help_center_texts.json @gorgias/conv-ai-actions
src/pages/settings/helpCenter @gorgias/conv-ai-actions
src/models/helpCenter @gorgias/conv-ai-actions
src/hooks/helpCenter @gorgias/conv-ai-actions
src/state/entities/helpCenter @gorgias/conv-ai-actions

# Contact Form scope @gorgias/conv-ai-actions

src/state/contactForm @gorgias/conv-ai-actions
src/pages/settings/contactForm @gorgias/conv-ai-actions
src/state/ui/contactForm @gorgias/conv-ai-actions
src/state/entities/contactForm @gorgias/conv-ai-actions
src/models/contactForm @gorgias/conv-ai-actions

# Marketing suite scope @gorgias/marketing-suite

src/models/convert @gorgias/marketing-suite
src/pages/convert @gorgias/marketing-suite
src/pages/stats/convert @gorgias/marketing-suite
src/pages/stats/automate/aiSalesAgent @gorgias/marketing-suite
src/models/reporting/cubes/ai-sales-agent @gorgias/marketing-suite
src/models/reporting/queryFactories/ai-sales-agent @gorgias/marketing-suite
src/pages/integrations/integration/components/gorgias_chat/GorgiasChatIntegrationCampaigns @gorgias/marketing-suite
src/pages/aiAgent/Onboarding/ @gorgias/marketing-suite

# Chat widget scope @gorgias/conv-ai-actions

src/pages/integrations/integration/components/gorgias_chat @gorgias/conv-ai-actions
src/config/integrations/gorgias_chat.ts @gorgias/conv-ai-actions
src/config/integrations/tests/gorgias_chat.spec.ts @gorgias/conv-ai-actions
src/models/integration/types/gorgiasChat.ts @gorgias/conv-ai-actions
src/state/integrations/actions/gorgias-chat.actions.ts @gorgias/conv-ai-actions
src/state/integrations/tests/gorgias-chat.actions.spec.ts @gorgias/conv-ai-actions
src/rest_api/gorgias_chat_protected_api @gorgias/conv-ai-actions

# Support AgentXP scope @gorgias/support-agent-xp

src/pages/common/editor @gorgias/support-agent-xp
src/pages/tickets @gorgias/support-agent-xp
src/pages/settings/notifications @gorgias/support-agent-xp
src/services/browserNotification.ts @gorgias/support-agent-xp
src/services/NotificationSounds.ts @gorgias/support-agent-xp
src/services/localForageManager @gorgias/support-agent-xp
src/services/shortcutManager @gorgias/support-agent-xp
src/pages/common/components/Spotlight @gorgias/support-agent-xp
src/pages/settings/teams @gorgias/support-agent-xp
src/pages/settings/tags @gorgias/support-agent-xp
src/state/ticket @gorgias/support-agent-xp
src/state/ui/editor @gorgias/support-agent-xp
src/state/ui/ticketNavbar @gorgias/support-agent-xp
src/state/ui/views @gorgias/support-agent-xp
src/state/newMessage @gorgias/support-agent-xp
src/pages/settings/macros @gorgias/support-agent-xp
src/state/entities/macros @gorgias/support-agent-xp
src/state/macro @gorgias/support-agent-xp
src/pages/tickets/detail/components/ReplyArea/MacrosQuickReply @gorgias/support-agent-xp

# Phone scope @gorgias/support-phone

src/models/integration/types/phone.ts @gorgias/support-phone
src/pages/common/components/PhoneIntegrationBar @gorgias/support-phone
src/pages/common/components/VoiceCallAgentLabel @gorgias/support-phone
src/pages/integrations/integration/components/voice @gorgias/support-phone
src/pages/integrations/integration/components/phone @gorgias/support-phone
src/pages/phoneNumbers @gorgias/support-phone
src/pages/tickets/detail/components/PhoneEvent @gorgias/support-phone
src/pages/common/forms/PhoneNumberInput @gorgias/support-phone
src/fixtures/phoneNumber.ts @gorgias/support-phone
src/hooks/integrations/phone @gorgias/support-phone
src/pages/stats/voice @gorgias/support-phone
src/pages/common/components/VoiceCallStatusLabel @gorgias/support-phone
src/pages/common/components/VoiceCallCustomerLabel @gorgias/support-phone
src/pages/tickets/detail/components/TicketVoiceCall @gorgias/support-phone

# Ecommerce & DevRel @gorgias/crm-devrel

src/models/widget @gorgias/crm-devrel
src/pages/settings/ticketFields @gorgias/crm-devrel
src/pages/settings/users @gorgias/crm-devrel
src/Infobar @gorgias/crm-devrel
src/pages/common/components/infobar/Infobar/InfobarCustomerInfo/InfobarWidgets @gorgias/crm-devrel
src/pages/common/components/sourceWidgets @gorgias/crm-devrel
src/state/infobarActions @gorgias/crm-devrel
src/state/widgets @gorgias/crm-devrel
src/services/channels.ts @gorgias/crm-devrel
src/services/applications.ts @gorgias/crm-devrel

# CRM Growth @gorgias/crm-growth
src/models/billing @gorgias/crm-growth
src/pages/settings/billing @gorgias/crm-growth
src/pages/settings/new_billing @gorgias/crm-growth
src/state/billing @gorgias/crm-growth

# Conv AI: Knowledge & Insights scope @gorgias/conv-ai-knowledge-insights
src/hooks/reporting/automate/ @gorgias/conv-ai-knowledge-insights
src/models/reporting/queryFactories/automate/ @gorgias/conv-ai-knowledge-insights
src/models/reporting/queryFactories/automate_v2/ @gorgias/conv-ai-knowledge-insights
src/models/reporting/cubes/automate/ @gorgias/conv-ai-knowledge-insights
src/models/reporting/cubes/automate_v2/ @gorgias/conv-ai-knowledge-insights
src/pages/stats/Automate* @gorgias/conv-ai-knowledge-insights
src/pages/aiAgent/AiAgentOnboardingWizard @gorgias/conv-ai-knowledge-insights

# Platform Streaming Infrastructure scope @gorgias/platform-streaming-infrastructure
src/pages/settings/rules @gorgias/platform-streaming-infrastructure
src/state/entities/ruleRecipes @gorgias/platform-streaming-infrastructure
src/state/entities/rules @gorgias/platform-streaming-infrastructure
src/state/rules @gorgias/platform-streaming-infrastructure
src/pages/tickets/detail/components/RuleSuggestion @gorgias/platform-streaming-infrastructure

# Conv AI: Expansion
src/pages/aiAgent/AiAgentVolume* @gorgias/conv-ai-expansion
src/pages/aiAgent/components/VolumeSettings @gorgias/conv-ai-expansion
src/pages/aiAgent/test/AiAgentVolume.spec.tsx @gorgias/conv-ai-expansion
src/pages/aiAgent/utils/handoverCustomization* @gorgias/conv-ai-expansion
src/pages/aiAgent/hooks/handoverCustomization* @gorgias/conv-ai-expansion
src/pages/aiAgent/components/HandoverCustomization* @gorgias/conv-ai-expansion
