# Analytics scope @gorgias/analytics-frontend

codeowners.mjs @gorgias/analytics-frontend
src/assets/img/paywalls/screens/chat_stats.png @gorgias/analytics-frontend
src/assets/img/presentationals/satisfaction-survey-stats.png @gorgias/analytics-frontend
src/config/stats.less @gorgias/analytics-frontend
src/config/stats.tsx @gorgias/analytics-frontend
src/fixtures/stats.ts @gorgias/analytics-frontend
src/hooks/reporting @gorgias/analytics-frontend
src/models/reporting @gorgias/analytics-frontend
src/models/reporting/queryFactories/automation @gorgias/automations-engine
src/models/reporting/queryFactories/help-center @gorgias/automations-help-center
src/pages/stats @gorgias/analytics-frontend
src/services/performanceTipService.ts @gorgias/analytics-frontend
src/services/reporting @gorgias/analytics-frontend
src/services/tests/performanceTipService.spec.ts @gorgias/analytics-frontend
src/state/entities/stats @gorgias/analytics-frontend
src/state/stats @gorgias/analytics-frontend
src/state/ui/stats @gorgias/analytics-frontend
src/utils/reporting.ts @gorgias/analytics-frontend
src/utils/tests/**snapshots**/reporting.spec.ts.snap @gorgias/analytics-frontend
src/utils/tests/date.spec.ts @gorgias/analytics-frontend
src/utils/tests/file.spec.ts @gorgias/analytics-frontend
src/utils/tests/reporting.spec.ts @gorgias/analytics-frontend

# Engine scope @gorgias/automations-engine

src/models/selfServiceConfiguration @gorgias/automations-engine
src/pages/automation @gorgias/automations-engine
src/pages/settings/macros @gorgias/automations-engine
src/pages/settings/rules @gorgias/automations-engine
src/pages/stats/self-service @gorgias/automations-engine
src/pages/tickets/detail/components/ReplyArea/MacrosQuickReply @gorgias/automations-engine
src/pages/tickets/detail/components/RuleSuggestion @gorgias/automations-engine
src/state/entities/macros @gorgias/automations-engine
src/state/entities/ruleRecipes @gorgias/automations-engine
src/state/entities/rules @gorgias/automations-engine
src/state/entities/selfServiceConfigurations @gorgias/automations-engine
src/state/macro @gorgias/automations-engine
src/state/rules @gorgias/automations-engine
src/state/ui/selfServiceConfigurations @gorgias/automations-engine

# Help center scope @gorgias/automations-help-center

src/rest_api/help_center_api @gorgias/automations-help-center
src/config/helpCenter.ts @gorgias/automations-help-center
src/config/help_center_texts.json @gorgias/automations-help-center
src/pages/settings/helpCenter @gorgias/automations-help-center
src/models/helpCenter @gorgias/automations-help-center
src/hooks/helpCenter @gorgias/automations-help-center
src/state/entities/helpCenter @gorgias/automations-help-center

# Contact Form scope @gorgias/automations-help-center

src/state/contactForm @gorgias/automations-help-center
src/pages/settings/contactForm @gorgias/automations-help-center
src/state/ui/contactForm @gorgias/automations-help-center
src/state/entities/contactForm @gorgias/automations-help-center
src/models/contactForm @gorgias/automations-help-center

# Convert scope @gorgias/revenue

src/models/convert @gorgias/revenue
src/pages/convert @gorgias/revenue
src/pages/stats/convert @gorgias/revenue
src/pages/integrations/integration/components/gorgias_chat/GorgiasChatIntegrationCampaigns @gorgias/revenue

# Chat widget scope @gorgias/automations-chat

src/pages/integrations/integration/components/gorgias_chat @gorgias/automations-chat
src/config/integrations/gorgias_chat.ts @gorgias/automations-chat
src/config/integrations/tests/gorgias_chat.spec.ts @gorgias/automations-chat
src/models/integration/types/gorgiasChat.ts @gorgias/automations-chat
src/state/integrations/actions/gorgias-chat.actions.ts @gorgias/automations-chat
src/state/integrations/tests/gorgias-chat.actions.spec.ts @gorgias/automations-chat
src/rest_api/gorgias_chat_protected_api @gorgias/automations-chat

# AgentXP scope @gorgias/core-frontend

src/pages/common/editor @gorgias/core-frontend
src/pages/tickets @gorgias/core-frontend
src/pages/settings/notifications @gorgias/core-frontend
src/services/browserNotification.ts @gorgias/core-frontend
src/services/NotificationSounds.ts @gorgias/core-frontend
src/services/localForageManager @gorgias/core-frontend
src/services/shortcutManager @gorgias/core-frontend
src/pages/common/components/Spotlight @gorgias/core-frontend
src/pages/settings/teams @gorgias/core-frontend
src/pages/settings/tags @gorgias/core-frontend
src/state/ticket @gorgias/core-frontend
src/state/ui/editor @gorgias/core-frontend
src/state/ui/ticketNavbar @gorgias/core-frontend
src/state/ui/views @gorgias/core-frontend
src/state/newMessage @gorgias/core-frontend

# Phone scope @gorgias/phone

src/models/integration/types/phone.ts @gorgias/phone
src/pages/common/components/PhoneIntegrationBar @gorgias/phone
src/pages/common/components/VoiceCallAgentLabel @gorgias/phone
src/pages/integrations/integration/components/voice @gorgias/phone
src/pages/integrations/integration/components/phone @gorgias/phone
src/pages/phoneNumbers @gorgias/phone
src/pages/tickets/detail/components/PhoneEvent @gorgias/phone
src/pages/common/forms/PhoneNumberInput @gorgias/phone
src/fixtures/phoneNumber.ts @gorgias/phone
src/hooks/integrations/phone @gorgias/phone
src/pages/stats/voice @gorgias/phone
src/pages/common/components/VoiceCallStatusLabel @gorgias/phone
src/pages/common/components/VoiceCallCustomerLabel @gorgias/phone
src/pages/tickets/detail/components/TicketVoiceCall @gorgias/phone

# Ecommerce & DevRel @gorgias/apps-ecom-devrel

src/models/widget @gorgias/apps-ecom-devrel
src/models/integration @gorgias/apps-ecom-devrel
src/pages/integrations @gorgias/apps-ecom-devrel
src/pages/settings/ticketFields @gorgias/apps-ecom-devrel
src/pages/settings/users @gorgias/apps-ecom-devrel
src/Infobar @gorgias/apps-ecom-devrel
src/pages/common/components/infobar/Infobar/InfobarCustomerInfo/InfobarWidgets @gorgias/apps-ecom-devrel
src/pages/common/components/sourceWidgets @gorgias/apps-ecom-devrel
src/state/integrations @gorgias/apps-ecom-devrel
src/state/infobarActions @gorgias/apps-ecom-devrel
src/state/widgets @gorgias/apps-ecom-devrel
src/services/channels.ts @gorgias/apps-ecom-devrel
src/services/applications.ts @gorgias/apps-ecom-devrel

# CRM Growth @gorgias/crm-growth
src/models/billing @gorgias/crm-growth
src/pages/settings/billing @gorgias/crm-growth
src/pages/settings/new_billing @gorgias/crm-growth
src/state/billing @gorgias/crm-growth

# Automate Observability scope @gorgias/automate-observability-adoption
src/hooks/reporting/automate/ @gorgias/automate-observability-adoption
src/models/reporting/queryFactories/automate/ @gorgias/automate-observability-adoption
src/models/reporting/queryFactories/automate_v2/ @gorgias/automate-observability-adoption
src/models/reporting/cubes/automate/ @gorgias/automate-observability-adoption
src/models/reporting/cubes/automate_v2/ @gorgias/automate-observability-adoption
src/pages/stats/Automate* @gorgias/automate-observability-adoption
