:local {
    .wrapper {
        width: 100%;
        position: relative;
    }

    .buttonsWrapper {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    // The `:global(.container-fluid)` explicitly targets the navbar component from reactstrap
    // This will force this style to overwrite the one from Bootstrap
    [class*='AiAgentLayout--container--']:has(
        [class*='SalesPaywallMiddleware--wrapper--']
    ) {
        max-height: calc(
            100vh - 52px - 44px - 56px
        ); // - header height - header paddings - sidebar height

        min-height: 0;
        height: 100%;
        display: flex;
    }
}
