:local {
    .unassignedLabel {
        color: var(--content-warning-primary);
    }

    .timelineList {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .fieldLabel {
        color: var(--content-neutral-secondary);
    }

    .fieldValue {
        color: var(--content-neutral-default);
    }

    .overflowList {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .card {
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--layout-spacing-xs);
        background-color: var(--elevation-neutral-default);
        cursor: pointer;

        &:hover {
            box-shadow: var(--effects-shadow-container);
        }
    }

    .overflowListShowMore {
        cursor: pointer;
    }

    .secondaryText {
        color: var(--content-neutral-secondary);
    }

    .messagesCount {
        color: var(--content-neutral-secondary);
    }
}
