@import '~css/typography';
@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .breadcrumbInfo {
        .heading-page-regular();
        display: inline-flex;
        align-items: center;
    }

    .emailAddress {
        .heading-subsection-regular();
        color: var(--neutral-grey-4);
        margin-left: @layout-spacing-xs;
    }
}
