@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .title {
        display: flex;
        align-items: center;
        gap: @layout-spacing-xxs;
    }

    .warningIcon {
        width: 20px;
    }

    .body {
        padding-bottom: @layout-spacing-xl;
    }
}
