@import '~css/new/colors';

:local {
    .integration-card {
        margin-bottom: 15px;
        transition: all 0.12s ease-out;
        position: relative;

        &:hover {
            top: -1px;
            box-shadow: #ddd 1px 1px 3px 1px;
        }

        .logo-wrapper {
            min-width: 50px;
            max-width: 50px;
            margin-right: 20px;

            img {
                max-width: 100%;
            }
        }

        .card-body {
            display: flex;

            .content-wrapper {
                flex-grow: 1;

                .integration-item {
                    display: flex;
                    background: @classic-neutral-grey-1;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    border-radius: 3px;
                    margin-bottom: 10px;
                }
            }
        }

        .show-more {
            color: @classic-main-primary-2;
            font-size: 13px;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                color: @classic-main-primary-3;
            }
        }
    }
}
