@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/typography.less';

:local {
    .editList {
        margin: 0 0 12px 0;
        padding: 0;
    }

    .editRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: @layout-spacing-xs;
        padding: 0;

        button {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: var(--neutral-grey-0) !important;
        }

        &:hover .editIcons {
            display: inline;
        }
    }

    .editIcons {
        display: none;
        flex: 0 0 auto;
        font-size: 1.3rem;
        line-height: 1.3rem;
        i {
            padding: 0 4px;
            cursor: pointer;
        }
    }

    .addButton {
        width: 100%;
    }

    .formParamSection {
        margin: @layout-spacing-m 0 @layout-spacing-s;
        .heading-section-semibold();
    }

    .formParamRow {
        display: flex;
        align-items: stretch;
        margin-bottom: @layout-spacing-s;

        & > div {
            flex: 1 1 auto;
            &:not(:last-of-type) {
                margin-right: 1.1rem;
            }
        }

        .formParamSelect {
            flex: 1 1 10%;
        }

        .formParamLargeCol {
            flex: 1 1 90%;
        }
    }

    .actionButtons {
        display: flex !important;
        flex-wrap: nowrap !important;
        // https://github.com/reactstrap/reactstrap/issues/1070#issuecomment-1669005425
        :global {
            .dropdown-menu {
                display: block;
                visibility: hidden;
            }

            .dropdown-menu.show {
                visibility: visible;
            }
        }
    }

    .actionButton {
        flex: 1 1 auto;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dropdownItem {
        max-width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }

    .selectLabel {
        margin-bottom: @layout-spacing-xs;
    }
}
