@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .section {
        padding: @layout-spacing-xxs 20px;
        display: flex;
        align-items: center;
    }

    .item {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .trialBadge {
        margin-left: @layout-spacing-xxs;
    }
}
