:local {
    .wrapper {
        padding: 1px 8px 12px 12px;
        background-color: var(--neutral-grey-1);
        border-top: 1px solid var(--neutral-grey-2);
        border-bottom: 1px solid var(--neutral-grey-2);
    }
}
