@import (reference) '~css/typography';

:local {
    .infoText {
        .body-regular();
        color: var(--neutral-grey-5);
    }

    .headingSizeS {
        font-size: 14px;
    }

    .headingSizeM {
        font-size: 20px;
    }

    .headingSizeL {
        font-size: 24px;
    }
}
