@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .goalsContainer {
        display: grid;
        row-gap: var(--layout-spacing-s);
    }

    .goalContainer {
        display: flex;
    }

    .goalName {
        margin-bottom: 0;
        color: var(--neutral-grey-6);
    }

    .goalDescription {
        font-size: 12px;
        color: var(--neutral-grey-6);
    }

    .icon {
        border-radius: 360px;
        padding: var(--layout-spacing-xs);
        margin-right: var(--layout-spacing-s);
        background: var(--neutral-grey-2);
    }

    .goalDescription {
        margin-bottom: 0;
    }

    .selected {
        border: 1px solid var(--accessory-magenta-25);
        background: linear-gradient(
            296deg,
            var(--neutral-grey-0) 12.18%,
            var(--accessory-magenta-2) 81.98%
        );

        .icon {
            background-color: var(--accessory-magenta-25);
            color: var(--neutral-grey-0);
        }
    }
}
