:local {
    .wizardButtons {
        display: flex;
        width: 100%;
    }

    .wizardNavigationButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
        margin-left: auto;
    }
}
