@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .storeConfigSettings {
        display: flex;
        flex-direction: row;
    }

    .automateView {
        padding: var(--layout-spacing-l);

        .section {
            margin-bottom: var(--layout-spacing-l);
        }

        section {
            margin-bottom: 48px;
        }

        textarea {
            min-height: 138px;
            padding: var(--layout-spacing-s);
        }

        .label {
            margin-bottom: var(--layout-spacing-xs);
        }

        .icon {
            i {
                color: var(--neutral-grey-5);
            }
        }
        .toggleInput {
            .caption {
                color: var(--neutral-grey-5) !important;
            }
        }

        .subsectionHeader {
            margin-bottom: var(--layout-spacing-xs);
            margin-top: var(--layout-spacing-l);
        }

        .generalSettingsWrapper {
            margin-bottom: var(--layout-spacing-m);
        }

        .generalSettingsTitle {
            .heading-section-semibold();
            margin-bottom: var(--layout-spacing-xxs);
        }

        .sectionBlock {
            margin-bottom: var(--layout-spacing-s);
        }
        .sectionHeader {
            .heading-section-semibold();
            margin-bottom: var(--layout-spacing-s);
        }
        .sectionDescription {
            .body-regular();
            margin-bottom: var(--layout-spacing-m);
        }

        .formGroup {
            margin-bottom: var(--layout-spacing-l);
            .formGroupDescription {
                margin-bottom: var(--layout-spacing-s);
            }
        }

        .formInputEditor {
            min-height: 130px;
        }
        .formInputFooterInfo {
            .caption-regular();
            color: var(--neutral-grey-5);
            margin-top: var(--layout-spacing-xxs);

            &.error {
                color: var(--feedback-error);
            }
        }
        .featureToggle {
            margin-bottom: var(--layout-spacing-xxs);
        }

        .storeConfigurationAlert {
            margin-bottom: var(--layout-spacing-s);
        }
    }
    .aiAgentToggle {
        margin-top: 500px;
    }

    .preventAIAgentTriggerDescription {
        .body-regular();
    }

    .warningIcon {
        color: var(--feedback-warning);
        margin-left: 5px;
    }

    .customToneOfVoiceGuidance {
        margin-top: var(--layout-spacing-xs);
    }

    .helpCenterSelect {
        cursor: pointer;
    }

    .legalDisclaimer {
        .caption-regular();
        color: var(--neutral-grey-5);
    }

    .taggingTooltip {
        display: inline;

        i {
            color: var(--neutral-grey-4);
        }
    }

    .banner {
        display: flex;
        align-items: center;
    }

    .callToActionButton {
        flex-shrink: 0;
    }

    .settingsSectionBlock {
        margin-bottom: var(--layout-spacing-l);
    }

    .handoverTopicsLink {
        color: var(--main-primary);
        text-decoration: underline;
        cursor: pointer;
    }

    .ticketPreviewContainer {
        padding: var(--layout-spacing-l);
        background-color: var(--neutral-grey-1);
        border-left: 1px solid var(--neutral-grey-2);
        min-width: calc(
            428px + var(--layout-spacing-l) + var(--layout-spacing-l)
        ); // 428px is the width of the ticket preview, 2x var(--layout-spacing-l) is for the padding
    }
}
