@import '~css/new/mixins';
@import '~@gorgias/design-tokens/dist/css/typographyMixins.less';

:local .component {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--neutral-grey-6); // legacy

    @media @mobiles {
        width: 100%;
    }

    .item {
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        color: var(--neutral-grey-6); // legacy
        display: flex;
        align-items: center;
        justify-content: space-between;
        .body-regular;

        &.active {
            background-color: var(--neutral-grey-0); // legacy

            &,
            .automated {
                color: var(--main-primary); // legacy
            }
        }

        &.disabled {
            cursor: not-allowed;
            color: var(--neutral-grey-4); // legacy
        }

        .automated {
            font-size: 17px;
            float: right;
            color: var(--neutral-grey-4); // legacy
        }
    }
}

.axiom :local {
    .component {
        color: var(--content-neutral-default);

        .item {
            color: var(--content-neutral-default);

            &:hover {
                background-color: var(--hover-default);
            }

            &.active {
                background-color: var(--hover-default);

                &,
                .automated {
                    color: var(--content-accent-default);
                }
            }

            &.disabled {
                color: var(--content-neutral-secondary);
            }

            .automated {
                color: var(--content-neutral-secondary);
            }
        }
    }
}
