:local {
    .wrapper {
        background: var(--neutral-grey-0); // legacy
        border: 1px solid var(--neutral-grey-2); // legacy
        border-bottom: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 12px 16px;
        display: flex;
    }

    .content {
        padding-left: 17px;
        flex-grow: 1;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdownToggle {
        border: 0;
        padding: 0;
        background-color: transparent; // legacy
        color: var(--neutral-grey-6); // legacy
        font-size: 20px;

        &::after {
            font-size: 13px;
            position: relative;
            top: -1px;
        }

        &:hover {
            color: var(--neutral-grey-6); // legacy
        }
    }

    .dropdownMenu {
        border: none;
        background: none;
        box-shadow: none;
        margin-top: -1px;
        padding: 4px 0 0 0;
        line-height: 0.8em;
        min-width: 272px;
    }

    .menu {
        padding: 6px;
        border: 1px solid var(--neutral-grey-3); // legacy
        background: var(--neutral-grey-0); // legacy
        box-shadow: 0 2px 4px
            hsla(
                var(--neutral-grey-6-h),
                var(--neutral-grey-6-s),
                var(--neutral-grey-6-l),
                0.16
            );
        border-radius: 4px;
    }

    .dropdownItem {
        padding: 6px;
        display: flex;
        align-items: center;

        :global(.material-icons) {
            font-size: 20px;
        }

        span {
            flex-grow: 1;
        }

        i {
            &:first-child {
                width: 30px;
            }

            &:last-child {
                color: var(--neutral-grey-4); // legacy
            }
        }
    }

    .dropdownItemDisabled {
        &:focus {
            outline: none;
        }

        * {
            cursor: not-allowed;
            color: var(--neutral-grey-4) !important; // legacy
        }
    }
}

.axiom :local {
    .wrapper {
        background: var(--surface-neutral-secondary);
        border-color: var(--border-neutral-default);
    }

    .dropdownToggle {
        background: transparent;
        color: var(--content-neutral-default);

        &:hover {
            color: var(--content-neutral-default);
        }
    }

    .menu {
        background: var(--surface-neutral-secondary);
        border-color: var(--border-neutral-default);
    }

    .dropdownItem {
        i {
            &:last-child {
                color: var(--content-neutral-secondary);
            }
        }
    }

    .dropdownItemDisabled {
        * {
            color: var(--content-neutral-secondary) !important;
        }
    }
}
