@import '~css/new/mixins';
@import '../GorgiasChatIntegrationForm.less';

@medium: ~'only screen and (max-width: 1393px)';

:local {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 384px;
    }

    .group {
        margin-bottom: var(--layout-spacing-s);
    }

    .colorPickersWrapper {
        display: flex;
        gap: var(--layout-spacing-s);
    }

    .colorPicker {
        flex: 1;
        margin-bottom: 0;
    }

    .redStar {
        color: var(--feedback-error); // legacy
    }

    .launcherTypes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--layout-spacing-s);
        margin-bottom: var(--layout-spacing-l);
    }

    .launcherPreview {
        height: 120px;
        border-radius: 4px;
        border: 1px var(--neutral-grey-3) solid; // legacy
        background-color: var(--neutral-grey-2); // legacy
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .launcherSettingsGrid {
        display: grid;
        grid-template-columns: 2fr 2fr;
        column-gap: var(--layout-spacing-s);
        row-gap: var(--layout-spacing-s);

        @media @medium {
            grid-template-columns: 1fr;
        }

        .formGroup {
            margin-bottom: 0;
        }

        .launcherLabelInput {
            margin-bottom: var(--layout-spacing-s);
        }
    }

    .fontInputWrapper,
    .avatarInputsWrapper,
    .logoInputsWrapper,
    .positionInputsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--layout-spacing-s);
        row-gap: var(--layout-spacing-l);

        .tooltipIcon {
            margin-left: var(--layout-spacing-xxs);
        }
    }

    .logoInputsWrapper {
        margin-bottom: var(--layout-spacing-l);
    }

    .platformTypeContainer {
        display: grid;
        grid-auto-flow: column;
        column-gap: var(--layout-spacing-s);
        margin-bottom: var(--layout-spacing-l);
    }

    .connectStoreDescription {
        margin-top: var(--layout-spacing-xxs);
        margin-bottom: var(--layout-spacing-m);
    }

    .cancelButton {
        margin-left: var(--layout-spacing-xs);
    }

    .toggleButtonWrapper {
        margin-bottom: var(--layout-spacing-s);
    }

    .introMessageHeader {
        display: flex;
        justify-content: space-between;
    }

    .mainColorOutsideBusinessHoursCheckbox {
        display: flex;
        margin-top: var(--layout-spacing-l);
    }

    .mainColorOutsideBusinessHoursCheckboxLabel {
        display: flex;
        align-items: center;
    }

    .mainColorOutsideBusinessHoursTooltipIcon {
        cursor: default;
        vertical-align: middle;
        font-size: 20px;
    }
}

.axiom :local {
    .redStar {
        color: var(--content-error-primary);
    }

    .launcherPreview {
        border: 1px var(--border-neutral-default) solid;
        background-color: var(--surface-neutral-tertiary);
    }
}
