@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .mbM {
        margin-bottom: @layout-spacing-m;
    }

    .mbXs {
        margin-bottom: @layout-spacing-xs;
    }

    .instructionsCard {
        border: var(--neutral-grey-3) 1px solid;

        &[data-is-open='true'] {
            border-color: var(--main-primary);
        }
    }

    .instructionsCardHeader {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border-bottom: none;

        h3 {
            .body-semibold();
            font-size: 16px;
            line-height: 24px;
        }

        p {
            margin: 0;
        }

        button,
        button:hover,
        button:focus:not(:focus-visible),
        button:active {
            border: none;
            background-color: transparent;
            outline: none;
        }

        button:focus-visible {
            outline: 2px solid var(--neutral-grey-6);
        }

        i {
            color: var(--neutral-grey-4);
            font-size: 25px;
        }
    }

    .instructionsCardBody {
        padding: 0 20px 20px 20px;
    }

    .instructions {
        > div:not(:last-child),
        > h4 {
            margin-bottom: 24px;
        }
    }

    .instruction {
        display: flex;
        align-items: center;

        .instruction-number {
            width: 24px;
            font-weight: bold;
            color: var(--neutral-grey-0);
            border-radius: 50%;
            background-color: var(--neutral-grey-6);
            margin-right: 15px;
            margin-bottom: 0;
            text-align: center;
            font-size: 14px;
            padding: 2px;
        }
    }

    .tabNavigation {
        display: flex;
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .tabNavigationItem {
        .component-button-medium();
        padding: @layout-spacing-s;
        color: var(--neutral-grey-5);
        cursor: pointer;
        position: relative;

        &.isActive {
            color: var(--neutral-grey-6);

            &::after {
                content: '';
                display: block;
                height: 2px;
                border-radius: 50%;
                background-color: var(--main-primary);
                width: calc(~'100% - 32px');
                bottom: -1px;
                position: absolute;
            }
        }
    }
}
