@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 8px 0;
    }

    .label {
        .body-semibold();

        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 0;
        margin-left: 4px;
    }

    .helpIcon {
        margin-left: 4px;
        font-size: 16px;
    }
}
