:local {
    .callerDetailsContainer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .accept {
        margin-left: auto;
        margin-right: 1rem;

        font-size: 14px;
        line-height: 17px;
        padding: 7px 12px;

        &:not([aria-disabled='true']) {
            color: var(--feedback-success-4) !important; // legacy
        }
    }

    .decline {
        color: var(--feedback-error) !important; // legacy
        font-size: 14px;
        line-height: 17px;
        padding: 7px 12px;
    }

    .agentLabel {
        color: inherit;
        margin-top: 2px;
    }

    .callerDetails {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        flex-wrap: wrap;
    }
}

.axiom :local {
    .accept {
        &:not([aria-disabled='true']) {
            color: var(--content-success-primary) !important;
        }
    }

    .decline {
        color: var(--content-error-primary) !important;
    }
}
