@import (reference) '~css/new/layout.less';
@import (reference) '~css/new/mixins';

@drawer-width: 612px;

:local {
    .drawer {
        width: @drawer-width !important;
        right: -@drawer-width !important;
        grid-template-areas:
            'header'
            'main' !important;
        grid-template-rows: 64px auto !important;
        &:global.opened {
            transform: translateX(-@drawer-width) !important;
        }
        @media @mobiles {
            width: 100% !important;
            right: -100% !important;
            &:global.opened {
                transform: translateX(-100%) !important;
            }
        }
    }

    .header {
        display: block;
    }

    .headerTop {
        display: flex;
        padding: 16px 0;
        h3 {
            margin-bottom: 0;
        }
    }

    .headerActions {
        display: flex;
        column-gap: 16px;
        padding-top: 8px;
        & > * {
            flex: 1 100%;
        }
    }

    .label {
        margin-bottom: @layout-spacing-xs;
    }

    .textInput {
        background-color: var(--neutral-grey-0);
    }
}
