:local {
    .sourceWrapper {
        margin-bottom: 12px;
        // even though parent doesn't display: flex,
        // we need to define flex to do be displayed
        // correctly in the drag&drop parent (sidebar wrapper)
        flex: 1 0 auto;
        max-width: 100%;
    }

    .sourceWrapperHeader {
        padding: 12px 0 0 0;
        font-size: 1.2rem;
        font-weight: 600;

        i {
            font-size: 1.2em;
            margin-right: 8px;
        }
    }
}
