@import (reference) '~css/typography.less';

:local {
    .crossLine {
        font-size: @heading-page-regular-font-size;
        margin-right: 8px;
        opacity: 0.15;
        rotate: 90deg;
    }
    .wrapper {
        padding: var(--layout-spacing-m);
        width: 100%;
    }
    .tooltip {
        font-size: 16px;
    }
    .noDataHint {
        .caption-regular();
        color: var(--neutral-grey-5); // legacy
        display: flex;
        align-items: center;
    }
    .chartWrapper {
        height: 354px;
    }
    .pageFooter {
        color: var(--neutral-grey-4); // legacy
        padding: var(--layout-spacing-m);
    }
}

.axiom :local {
    .noDataHint {
        color: var(--content-neutral-secondary);
    }

    .pageFooter {
        color: var(--content-neutral-secondary);
    }
}
