@import '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
    }

    .label {
        .body-semibold();
    }

    .select {
        height: 32px;
        border-radius: 4px;
        background-color: var(--neutral-grey-0); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        display: flex;
        align-items: center;
        padding: 0 8px;
        gap: 8px;
        cursor: pointer;
        .arrowDown {
            color: var(--neutral-grey-4); // legacy
            font-size: 20px;
        }
    }

    .select,
    .dropdownBody {
        width: 200px;
    }

    .selectOption {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .countryFlag {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .grow {
        flex-grow: 1;
    }
}

.axiom :local {
    .select {
        background-color: var(--elevation-neutral-default);
        border: 1px solid var(--border-neutral-default);
        .arrowDown {
            color: var(--content-neutral-secondary);
        }
    }
}
