@import '~css/new/mixins';

@import (reference) '~css/new/util.less';

// Would be better in the common file, but for now, it's here
@tablets-up: ~'only screen and (min-width: 768px)';

:local {
    .onboardingLayout {
        width: 100vw;
        overflow-y: auto;
        background-color: var(--neutral-grey-1);

        @media @tablets-up {
            display: flex;
            flex-direction: column;
        }
    }

    .onboardingHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: var(--layout-spacing-s) 0;
        width: 100%;
        top: 0;
        background-color: var(--neutral-grey-1);
        padding: var(--layout-spacing-s) var(--layout-spacing-m);

        @media @tablets-up {
            margin-left: -8vw;
            padding: var(--layout-spacing-m) 0 0 var(--layout-spacing-m);
        }
    }

    .onboardingHeaderClose {
        @media @tablets-up {
            display: none;
        }
    }

    .onboardingBody {
        @media @tablets-up {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            height: 100%;
        }
    }

    .onboardingContentContainer {
        padding: 0 0 var(--layout-spacing-s);

        & > :nth-child(2) {
            padding: var(--layout-spacing-m) var(--layout-spacing-m)
                var(--layout-spacing-s);
        }

        @media @tablets-up {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-width: 400px;
            padding: 0 8vw var(--layout-spacing-m);
            gap: var(--layout-spacing-m);
            max-width: 100%;
            overflow: auto;
        }
    }

    .onboardingPreviewContainerWrapper {
        padding: 0 var(--layout-spacing-m);
        @media @tablets-up {
            display: flex;
            padding: 0;
        }

        [class*='ChatIntegrationPreview--conversationContentWrapper--'] {
            border-radius: 0;
        }

        [class*='ChatIntegrationPreview--preview--'] {
            max-width: 444px;
        }
    }

    .onboardingPreviewContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @tablets-up {
            display: flex;
            justify-content: space-between;
            padding-top: 24px;
            padding-bottom: 48px;
            gap: 8px;

            background: var(
                --linear-grey-magenta,
                linear-gradient(
                    166deg,
                    var(--neutral-grey-2) 30.85%,
                    var(--accessory-magenta-25) 145.54%
                )
            );
            width: 100%;
            place-items: center;
            flex-direction: column;
        }
    }

    .onboardingPreviewClose {
        display: none;

        @media @tablets-up {
            display: initial;
            align-self: flex-end;
            margin-right: var(--layout-spacing-m);
            z-index: 3; // To be above the chat preview
        }
    }

    .ghostContainer {
        width: 100%;

        @media @tablets-up {
            display: flex;
            justify-content: inherit;
            align-items: inherit;
            padding: 0 24px 0 24px;

            &.loading {
                align-self: flex-start;
                height: 100%;
            }

            [class*='ChatIntegrationPreview--dialog--'] {
                max-height: 75vh;
            }
        }
    }

    .caption {
        color: var(--neutral-grey-6);

        width: 67%;
        text-align: center;
    }

    .progressTrackerContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: var(--layout-spacing-m) 0;

        @media @mobiles {
            position: fixed;
            bottom: -0.33rem;
            z-index: 4;
            right: 120px;
            left: 24px;
        }

        @media @tablets-up {
            margin-top: auto;
        }
    }

    .loadingPulserIcon {
        width: 12vw;
        height: 12vw;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin: auto;

        :global {
            animation: pulsate 2s infinite;
        }

        div {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            height: 71%;
            width: 71%;
            display: flex;
            justify-content: center;
            align-items: center;

            :global {
                animation: pulsate 2s infinite;
            }

            div {
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) -4.72%,
                    rgba(255, 255, 255, 0) 100%
                );
                height: 71%;
                width: 71%;

                :global {
                    animation: pulsate 2s infinite;
                }

                font-size: 4vw;
            }
        }
    }

    .logo {
        height: 26px;
        width: 100px;
        background-color: var(--neutral-grey-6);
        -webkit-mask-image: url('@gorgias/branding-assets/logos/extended/Black.svg');
        mask-image: url('@gorgias/branding-assets/logos/extended/Black.svg');
        mask-repeat: no-repeat;
        mask-size: cover;
    }
}
