:local {
    .container {
        display: flex;
    }

    .select {
        :global .dropdown-toggle {
            font-weight: 500;
            background-color: var(--neutral-grey-2);
            color: var(--neutral-grey-6);

            i {
                color: var(--neutral-grey-6);
            }
        }
    }

    .input {
        width: auto;
        margin-left: 0.5rem;

        &:not(:global .custom-field-input--number) {
            flex-grow: 1;
        }

        &:global(.custom-field-input--dropdown) > span {
            border: 1px solid var(--neutral-grey-3);
            border-radius: 4px;
            display: flex;
            line-height: 30px;
        }
    }
}
