:local {
    .bulkActions {
        display: flex;
        font-size: 16px;
    }

    .moreButtonOpen.moreButtonOpen.moreButtonOpen {
        background-color: var(--neutral-grey-3);
        color: var(--neutral-grey-6);
    }

    .delete {
        color: var(--feedback-error);
    }
}
