@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .bulkActions {
        display: flex;
        gap: @layout-spacing-xxs;
    }

    .delete {
        color: var(--feedback-error);
    }

    .button.button.button {
        font-size: 16px;
        padding: 0 4px;

        &.isOpen {
            background-color: var(--neutral-grey-3);
            color: var(--neutral-grey-6);
        }
    }

    .dropdown {
        max-height: 500px;
    }

    .dropdownMenu {
        width: 240px;
    }

    .item {
        display: flex;
        gap: @layout-spacing-xs;

        .name {
            align-content: center;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
