:global {
    .search-highlight {
        background-color: var(--feedback-warning-2); // legacy
        padding: 2px 0;
    }
}

:local {
    .header-tr {
        tr {
            border: 0;
        }

        td {
            padding: 0;
        }
    }

    .table-body {
        border-top: 1px solid var(--neutral-grey-3); // legacy
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
    }

    .row {
        background-color: var(--neutral-grey-0); // legacy
        height: 67px;

        &:hover {
            background-color: var(--neutral-grey-1); // legacy
        }
    }

    .uncategorized-header-cell {
        padding-left: 30px;
        font-style: italic;

        > div {
            padding-left: 0;
            cursor: default;
        }
    }

    .caret {
        margin-right: 16px;
        color: var(--neutral-grey-4); // legacy
        font-size: 22px;
    }
}

.axiom :global {
    .search-highlight {
        background-color: var(--surface-warning-primary);
    }
}

.axiom :local {
    .table-body {
        border-top: 1px solid var(--border-neutral-default);
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .row {
        background-color: transparent;

        &:hover {
            background-color: var(--hover-default);
        }
    }

    .caret {
        color: var(--content-neutral-secondary);
    }
}
