:local {
    .panel {
        height: 100%;
        overflow: hidden;
        min-width: 470px;
    }

    .header {
        padding: var(--spacing-sm) var(--spacing-md);
        border-bottom: 1px solid var(--border-neutral-default);
        flex-shrink: 0;
    }

    .content {
        overflow: hidden;
        position: relative;
    }
}
