@import '~css/new/colors';

:local {
    .recoveryCodesContainer {
        padding: 24px;
        background: @classic-neutral-grey-1;
        border: 1px solid @classic-neutral-grey-3;
        border-radius: 4px;
    }

    .recoveryCodesItem {
        display: inline-block;
        width: 50%;
        height: 25px;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        color: @classic-neutral-grey-6;
    }

    .checkBox {
        font-weight: normal;
    }

    .actionButtonsContainer {
        display: flex;
    }

    .actionAnchor {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .actionButton {
        justify-content: center;
        align-items: center;
        padding: 6px 12px;
        width: 100%;
    }

    .mr8 {
        margin-right: 8px;
    }
}
