@import '~css/new/mixins';

:local {
    .paginationItemWrapper {
        width: 24px;
        height: 24px;

        &:hover {
            background-color: var(--neutral-grey-2);
        }
    }

    .paginationItemTooltip {
        display: flex;
        align-items: center;
    }

    .separator {
        width: 1px;
        height: 18px;
        background-color: var(--neutral-grey-3);
        margin: 0 var(--layout-spacing-xxs);
    }
}
