@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/new/mixins';

:local {
    .paginationItemWrapper {
        width: 24px;
        height: 24px;

        &:hover {
            color: var(--neutral-grey-5);
            background-color: var(--neutral-grey-2);
        }
    }

    .paginationItemTooltip {
        display: flex;
        align-items: center;
    }
}
