@import (reference) '~css/typography';

:local {
    .container {
        border-radius: 4px;
        border: 1px dashed var(--neutral-grey-3); // legacy
        background: var(--neutral-grey-1); // legacy
        padding: var(--layout-spacing-s);
        cursor: pointer;
        transition: ease-in-out 0.2s;

        &:hover {
            box-shadow: 0 2px 4px 0 rgba(22, 22, 22, 0.16);
        }
    }

    .header {
        display: flex;
        margin-bottom: 20px;
        font-size: 32px;
        color: var(--neutral-grey-3); // legacy
    }
}

.axiom :local {
    .container {
        border: 1px dashed var(--border-neutral-default);
        background: var(--elevation-neutral-mid);
    }

    .header {
        color: var(--border-neutral-default);
    }
}
