@import (reference) '~css/typography';

:local {
    .container {
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
        padding: var(--layout-spacing-s);
        cursor: pointer;
        transition: ease-in-out 0.2s;

        &:hover {
            box-shadow: 0 2px 4px 0 rgba(22, 22, 22, 0.16);
        }
    }

    .title {
        .heading-section-semibold();
        margin-bottom: 4px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .description {
        color: var(--neutral-grey-6); // legacy
        max-height: 50px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 40px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--layout-spacing-m);
    }

    .label {
        padding: 4px 8px;
        border-radius: 4px;

        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
}

.axiom :local {
    .container {
        border: 1px solid var(--border-neutral-default);
    }

    .description {
        color: var(--content-neutral-default);
    }
}
