@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .content {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
        padding-top: @layout-spacing-s;
    }

    .link {
        .caption-regular();
        color: var(--main-primary) !important;
        cursor: pointer;
    }
}
