:local {
    .wrapper {
        font-size: 20px;
        padding: 0 6px;
        aspect-ratio: 1 / 1;
        max-width: fit-content;

        &.ghost {
            padding: 0 7px;
        }

        &.small {
            font-size: 16px;
            padding: 0 4px;

            &.ghost {
                padding: 0 5px;
            }
        }
    }
}
