@import (reference) '~css/typography';

:local {
    @filledColor: hsla(
        var(--accessory-magenta-25-h),
        var(--accessory-magenta-25-s),
        var(--accessory-magenta-25-l),
        1
    ); // legacy
    @unfilledColor: hsla(
        var(--accessory-magenta-25-h),
        var(--accessory-magenta-25-s),
        var(--accessory-magenta-25-l),
        0.32
    ); // legacy

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .progress {
        /* Remove default appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        width: 100%;
        height: 4px;

        /* Unfilled part (Firefox) */
        border: none;
        border-radius: 2px;
        background-color: @unfilledColor; // legacy

        /* Prevent to add the background color twice on Webkit */
        @supports (-webkit-appearance: none) and (not (-moz-appearance: none)) {
            background-color: initial;
        }

        /* Filled part (Webkit) */
        &::-webkit-progress-value {
            background-color: @filledColor; // legacy
            border-radius: 2px;
        }

        /* Unfilled part (Webkit) */
        &::-webkit-progress-bar {
            background-color: @unfilledColor; // legacy
            border-radius: 2px;
        }

        /* Filled part (Firefox) */
        &::-moz-progress-bar {
            background-color: @filledColor; // legacy
            border-radius: 2px;
        }
    }

    .description {
        .caption-allcaps();
    }
}

.axiom :local {
    @filledColorAxiom: var(--content-brand-primary);
    @unfilledColorAxiom: var(--surface-brand-subtle);

    .progress {
        background-color: @unfilledColorAxiom;

        &::-webkit-progress-value {
            background-color: @filledColorAxiom;
        }

        &::-webkit-progress-bar {
            background-color: @unfilledColorAxiom;
        }

        &::-moz-progress-bar {
            background-color: @filledColorAxiom;
        }
    }
}
