@import (reference) '~css/new/mixins';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-m);
        border-bottom: 1px solid var(--Neutral-Grey_3, #ddd);
        padding: var(--layout-spacing-m) var(--layout-spacing-s);
        box-shadow: 0 3px 20px 0 #0000000a;
    }

    .title {
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-xxs) 0;

        h2 {
            color: var(--neutral-grey-6);
            .heading-subsection-semibold();
            margin-bottom: var(--layout-spacing-xs);
        }

        p {
            color: var(--neutral-grey-5);
            .caption-regular();
            margin: 0;
        }
    }
}
