:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxs);
    }

    .description {
        color: var(--content-neutral-secondary);
    }

    .conditionRow {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
        flex-wrap: wrap;
    }

    .conditionSelect {
        width: 160px;
    }

    .conditionLabel {
        display: flex;
        align-items: center;
        height: 32px;
        padding: 0 var(--spacing-sm);
        font-size: 14px;
        line-height: 20px;
        color: var(--content-neutral-secondary);
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-xs);
    }

    .conditionNumberInput {
        width: 160px;
    }
}
