@import 'colors';

:local {
    .current-plan {
        max-width: 270px;
        color: #fff;
    }

    .Default {
        background: @default;
    }

    .Missing {
        background: @missing;
    }

    .Free {
        background: @free;
    }

    .Basic {
        background: @basic;
    }

    .Pro {
        background: @pro;
    }

    .Advanced {
        background: @advanced;
    }

    .Custom {
        background: @enterprise;
        color: @pro;
    }

    .plan-usage-reset {
        padding-top: 15px;
    }

    .plan-button {
        text-align: right;
        padding-top: 20px;
    }

    .usage-numbers {
        margin-bottom: 9px;
    }

    .usage-progress {
        margin-bottom: 9px;
    }
}
