@import '../../../../css/new/mixins';

:local {
  @standard: #0366d6;
  @team: #6f42c1;
  @growth: #2DCF57;
  @enterprise: #ffd941;

  .plan {
    max-width: 250px;

    &.plan-1 {
      border-color: @standard;
    }
    &.plan-2 {
      border-color: @team;
    }
    &.plan-3 {
      border-color: @growth;
    }
    &.plan-enterprise {
      border-color: @enterprise;
    }
  }
}
