@import 'colors';
@import '~css/new/colors';
@import '~css/new/mixins';

:local {
    .card {
        @media @mobiles, @tablets {
            margin-left: 0 !important;
        }

        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;

        + .card {
            border: @neutral4 1px solid;
        }
    }

    .card-group {
        margin-bottom: 16px;
    }

    .card-body {
        color: @neutral8;
        padding: 16px;
    }

    .card-current-plan {
        @media @mobiles, @tablets {
            flex: 0 0 100% !important;
        }
    }

    .card-title {
        align-items: center;
        border-radius: 4px 4px 0 0;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        height: 56px;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0 16px;
    }

    .current-plan-title {
        background: @default;
        color: @white;

        &.legacy {
            color: @neutral10;
            background: @neutral1;
        }
    }

    .ticket-numbers {
        margin-bottom: 4px;
    }

    .integration-numbers {
        margin: 24px 0;
    }

    .usage-progress {
        margin-bottom: 4px;
    }

    .free {
        background: @free;
    }

    .basic {
        background: @basic;
    }

    .pro {
        background: @pro;
    }

    .advanced {
        background: @advanced;
    }

    .custom {
        background: @enterprise;
    }

    .description {
        align-items: center;
        color: @neutral10;
        display: flex;
        justify-content: space-between;
    }
}
