@import '~css/new/mixins';

:local {
    .wrapper {
        margin-bottom: 24px;
    }

    .card {
        @media @mobiles, @tablets {
            margin-left: 0 !important;
        }

        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;

        + .card {
            border: var(--neutral-grey-3) 1px solid;
        }
    }

    .card-body {
        color: var(--neutral-grey-5);
        padding: 16px;

        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    .card-current-plan {
        @media @mobiles, @tablets {
            flex: 0 0 100% !important;
        }
    }

    .card-title {
        align-items: center;
        border-radius: 4px 4px 0 0;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        height: 56px;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0 16px;
    }

    .current-plan-title {
        background: var(--neutral-grey-2);
        color: var(--neutral-grey-6);

        &.legacy {
            color: var(--neutral-grey-6);
            background: var(--neutral-grey-2);
        }
    }

    .ticket-numbers {
        margin-bottom: 4px;
    }

    .usage-progress {
        background-color: var(--neutral-grey-2);
        margin-bottom: 4px;
    }

    .billable-tickets {
        flex: 0 0 100%;
        margin-bottom: 24px;
    }

    .custom {
        background: var(--feedback-warning);
    }

    .description {
        align-items: center;
        color: var(--neutral-grey-6);
        margin-top: auto;
    }

    .planTitle {
        text-transform: capitalize;
    }

    .link {
        color: var(--main-primary);
    }

    .progressBar {
        background-color: var(--main-primary);

        &.isWarning {
            background-color: var(--feedback-warning-2);
        }
    }

    .remainingProgressBar {
        background-color: var(--feedback-warning-2);

        &.isDanger {
            background-color: var(--feedback-error-2);
        }
    }

    .action {
        margin-left: auto;
        margin-top: auto;

        @media @mobiles, @tablets {
            margin-top: 20px;
        }
    }
}
