@import '~css/new/colorTokens';

:local {
    .wrapper {
        margin-bottom: 24px;
    }

    .content {
        line-height: 32px;
    }

    .cardLabel {
        font-size: 16px;
    }

    .statusIcon {
        vertical-align: middle;
    }

    .disabledLink {
        pointer-events: none;
    }

    .taxDisclaimer {
        margin-top: 12px;
    }
}
