:local {
    .container {
        position: relative;
    }

    .wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .infoIcon {
        display: inline-flex;
        align-items: center;
        color: var(--content-neutral-secondary);
        cursor: help;
    }
    .toggleLabel {
        margin-bottom: 0;
    }

    .triggerButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        outline: none;

        padding: var(--spacing-xxxs);

        border: none;
        box-shadow: inset 0 0 0 1px var(--border-neutral-default);
        border-radius: var(--spacing-xs);
        transition: all 0.2s linear;
        box-sizing: border-box;
        color: var(--content-neutral-default);
        min-width: 0;
        width: 100%;
        min-height: 36px;
        cursor: pointer;

        background-image: none;
        background-color: transparent;
        -moz-appearance: textfield;
        appearance: textfield;

        &:hover {
            background: var(--hover-input);
        }

        &:active {
            background: var(--hover-input);
            box-shadow:
                var(--effects-inner-shadow),
                inset 0 0 0 1px var(--border-neutral-default);
        }

        &[aria-expanded='true'] {
            background-color: transparent;
            box-shadow:
                var(--effects-inner-shadow),
                inset 0 0 0 1px var(--border-neutral-secondary);
        }

        &:focus-visible {
            outline: 2px solid var(--focus);
            outline-offset: 2px;
        }
    }

    .placeholder {
        display: flex;
        width: 100%;
        height: 24px;
        line-height: 24px;
        margin-left: var(--spacing-xxxs);
        color: var(--content-neutral-placeholder);
    }

    .tagList {
        width: 100%;
        flex-grow: 0;
    }

    .tagItem {
        flex-shrink: 0;
    }

    .iconWrapper {
        height: 24px;
        margin: 0 var(--spacing-xs);
        flex-shrink: 0;
    }

    .helperText {
        position: absolute;
        top: 100%;
        margin-top: var(--spacing-xxxs);
    }

    .popover {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        margin-top: 3px;
        background: var(--elevation-neutral-default);
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-xs);
        box-shadow:
            0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -2px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
}
