@import '~css/typography';
@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .feature {
        display: flex;
        flex-direction: row;
        gap: @layout-spacing-s;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
    }
    .icon {
        font-size: 20px;
        background: var(--neutral-grey-2);
        padding: var(--layout-spacing-xs);
        border-radius: 20px;
        color: var(--neutral-grey-5);
        height: 36px;
        width: 36px;
        display: flex;
        justify-content: center;
    }
}
