@import '~css/typography';
@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .footer {
        display: flex;
        flex-direction: row;
        gap: @layout-spacing-xs;
    }
}
