@import '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .header {
        .caption-allcaps();
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--neutral-grey-5);
        padding: 0px @layout-spacing-xs @layout-spacing-xs @layout-spacing-xs;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .taxNotion {
        .caption-regular();
        text-align: right;
    }
}
