@import (reference) '~css/new/colorTokens';

:local {
    .badge {
        display: inline-flex;
        align-items: center;

        height: 25px;
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 8px;
        margin-bottom: 8px;

        background: @classic-neutral-grey-2;
        color: @classic-neutral-grey-6;

        font-size: 12px;
        font-weight: 600;
        line-height: 16px;

        &:last-child {
            margin-right: 0;
        }
    }

    .badge + .badge {
        margin-left: 0;
    }

    .badge-suffix {
        display: flex;
        align-items: center;
        margin-left: 0.25rem;
    }

    .badge-icon {
        color: @classic-neutral-grey-5;
        font-size: 16px;
        margin-right: -4px;
    }
}
