:local {
    .add-btn {
        width: 25px;
        height: 25px;

        padding: 0;
        border: 0;

        background: var(--neutral-grey-2);
        color: var(--neutral-grey-6);
        font-weight: bold;
    }
    .dropdown-header {
        position: sticky;
        top: 0;
        background: var(--neutral-grey-0);
        padding-top: 7px;
    }
}
