@import (reference) '~css/new/colorTokens';

:local {
    .add-btn {
        width: 25px;
        height: 25px;

        padding: 0;
        border: 0;

        background: @classic-neutral-grey-2;
        color: @classic-neutral-grey-6;
        font-weight: bold;
    }
    .dropdown-header {
        position: sticky;
        top: 0;
        background: @classic-neutral-grey-0;
        padding-top: 7px;
    }
}
