:local {
    .ticketList {
        flex: 1;
        min-height: 0;
        margin: var(--spacing-xs);
    }

    .ticketListContainer {
        :global(html) & {
            background-color: var(--elevation-neutral-mid);
        }
    }
}
