:local {
    .grey {
        color: var(--neutral-grey-4); // legacy
        font-weight: 500;
    }

    .value {
        font-weight: 600;
    }

    .tooltip {
        width: 14px;
    }
}

.axiom :local {
    .grey {
        color: var(--content-neutral-secondary);
    }
}
