:local {
    .container {
        display: flex;
    }

    .focusable {
        &:focus {
            outline: auto 5px -webkit-focus-ring-color;
        }
    }

    .legend {
        flex: 1;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-weight: 600;
        display: inline;
    }

    .subtitle {
        font-weight: normal;
    }

    .numberCol {
        width: 170px;
    }

    .quantityCol {
        width: 130px;
    }

    .quantityContainer {
        display: inline-block;
        position: relative;
        width: 70px;
        z-index: 4;
    }

    .quantityInput {
        width: 70px;
        padding-right: 2rem;
        z-index: 4;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .quantityMax {
        position: absolute;
        top: 0;
        height: 100%;
        padding: 0.44rem 0.75rem;
        color: #95a7b7; // legacy
        right: 0;
    }

    .quantityButtonsContainer {
        display: flex;
        flex-direction: column;
        height: calc(~'1.5em + .75rem + 2px');
    }

    .quantityBtn {
        display: inline-flex !important;
        align-items: center;
        height: 50% !important;
        font-size: 0.5rem !important;
        z-index: 0;
        margin-left: 0 !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        &:focus {
            z-index: 5 !important;
        }
    }

    .quantityBtnUp {
        margin-bottom: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: var(--spacing-xs) !important;
    }

    .quantityBtnDown {
        border-top: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-right-radius: var(--spacing-xs) !important;
    }

    .times {
        color: var(--neutral-grey-4); // legacy
        font-size: 14px;
        line-height: 133%;
        align-self: center;
        margin-left: auto;
    }
}

.axiom :local {
    .quantityMax {
        color: var(--content-neutral-tertiary);
    }

    .times {
        color: var(--content-neutral-secondary);
    }
}
