@import '~css/new/mixins.less';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 33px;

        @media @mobiles {
            padding-top: @layout-spacing-xs;
        }

        @media @desktops {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .btn {
        margin-right: @layout-spacing-xs;
    }
}
