@import '~@gorgias/design-tokens/dist/css/typographyMixins.less';

:local {
    .emptyStateWrapper {
        align-items: center;
        color: var(--neutral-grey-5); // legacy
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding-top: var(--layout-spacing-xl);
        max-width: 650px;
        text-align: center;
        .body-regular();

        .subTitle {
            .heading-subsection-semibold();
            margin-bottom: var(--layout-spacing-xs);
        }
    }
}

.axiom :local {
    .emptyStateWrapper {
        color: var(--content-neutral-secondary);
    }
}
