:local {
    .greenStatus {
        color: var(--feedback-success-4);
    }

    .redStatus {
        color: var(--feedback-error);
    }

    .orangeStatus {
        color: var(--feedback-warning);
    }

    .greyStatus {
        color: var(--neutral-grey-5);
    }
}
