:local {
    .page {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .wrapper {
        display: flex;
        flex: 1;
    }
}

:global {
    // When .help-center-wizard is present, we need to adjust the position of the chat button
    body:has(.help-center-wizard) {
        #chat-button {
            bottom: 40px !important; // avoid overlapping with the footer button when screen is smallÏ
        }
    }
}
