@import '~css/typography';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .container {
        position: relative;

        display: flex;

        padding: 16px;

        background-color: var(--main-latte); // legacy
    }

    .preview {
        margin-right: 16px;

        filter: drop-shadow(0px 2px 4px rgba(22, 22, 22, 0.16));
    }

    .content {
        .heading-subsection-regular();

        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        color: var(--neutral-grey-5); // legacy
    }

    .title {
        .heading-section-semibold();

        margin-bottom: 8px;

        color: var(--neutral-grey-6); // legacy
        font-size: 16px;
    }

    .close {
        cursor: pointer;
    }
}

.axiom :local {
    .container {
        background-color: var(--surface-additional-yellow);
    }

    .content {
        color: var(--content-neutral-secondary);
    }

    .title {
        color: var(--content-neutral-default);
    }
}
