@import '~css/new/mixins';

:local {
    .container {
        padding-bottom: 18px;

        ///* extra bottom padding on touchscreen devices,
        //* for the onscreen keyboard
        //*/
        @media (pointer: coarse) {
            padding-bottom: 14rem;
        }

        form {
            border: 1px solid var(--neutral-grey-3);
            border-radius: 2px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 0;

            @media @mobiles {
                margin: 0 -20px;
            }
        }
    }
}
