:local {
    .container {
        padding-bottom: var(--layout-spacing-xxl);
    }

    .errorSummary {
        border: 1px solid var(--border-error-default);
        background-color: var(--surface-error-primary);
        color: var(--content-error-primary);
        border-radius: var(--border-radius-md);
    }
}
