@import '~css/new/mixins';

:local .component {
    padding: 16px 24px 8px 24px;
    background: var(--neutral-grey-0); // legacy

    @media @mobiles {
        padding-top: 6px;
    }

    .translateIcon {
        margin-right: var(--spacing-xxxxs);
    }

    .headerIcon {
        font-size: 1.25rem;
        padding: 0.1rem 8px;
    }

    .actionsDropdown {
        min-width: 11.5rem;
    }

    .statusAndTags {
        gap: var(--layout-spacing-xxs);
        display: inline-flex;
        margin-top: 4px;
        flex-grow: 1;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    .titleMain {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        min-width: 0;
        gap: var(--spacing-xxxs);
    }

    .titleToggle {
        flex: 0 0 auto;
    }

    .secondRow {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 16px;
        margin-top: 4px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 16px;
        gap: var(--layout-spacing-xxs);
    }

    .editableTitleWrapper {
        flex: 1 1 auto;
        min-width: 0;
        height: 32px;
        margin-right: 16px;
    }

    .editableTitle {
        height: 32px;
    }

    .tags {
        @media @mobiles {
            display: none;
        }
    }
}

:global(.globalNav) :local {
    .component {
        padding: var(--layout-spacing-xs);

        .secondRow {
            margin: var(--layout-spacing-xxs) var(--layout-spacing-xs)
                var(--layout-spacing-xs);
        }
    }
}

.axiom :local {
    .component {
        background-color: var(--elevation-neutral-default);
    }
}
