:local {
    .radioButtonContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .footer {
        justify-content: flex-start;
        gap: var(--layout-spacing-xs);
    }

    .labelWithBadge {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }
}
