@import (reference) '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .title {
        .heading-section-semibold();
        margin-bottom: 0;
    }
}
