@import '~css/new/colors';

:local {
    .description {
        display: flex;
        margin: 16px;
        flex-direction: column;

        .amount {
            margin-left: 8px;
        }
    }

    .features {
        display: flex;
        margin: 16px 0 0 0;

        li span:first-child {
            align-self: center;
        }
    }

    .featureListItem {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    .featureIcon {
        --feature-icon-color: @blue;
        --feature-icon-size: 20px;
        font-size: 20px;
        flex-shrink: 0;
        background-color: @blue1;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
    }
}
