@import '~css/new/colorTokens';

:local {
    .description {
        display: flex;
        margin: 16px;
        flex-direction: column;

        .amount {
            margin-left: 8px;
        }
    }

    .badge {
        display: flex;
        align-items: center;
        border: 1px solid @modern-main-secondary;
        border-radius: 4px;
        padding: 16px 22px;
        margin-bottom: 24px;

        .icon {
            font-size: 17px;
            color: @modern-main-secondary;
            margin-right: 16px;
        }
    }
}
