@import '~css/new/colorTokens';

:local {
    .description {
        display: flex;
        margin: 16px;
        flex-direction: column;

        .amount {
            margin-left: 8px;
        }
    }
}
