:local {
    .metafields {
        text-decoration: underline;
    }

    .explainerContainer {
        padding: var(--layout-spacing-xs) 0;
        color: var(--content-neutral-default);
    }

    .metafieldsLandingPageContent {
        padding: var(--layout-spacing-s);
    }
}
