:local {
    .gaugeAddon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 24px;

        border-radius: 0px 4px 4px 0px;

        z-index: -1;
    }
}
