:local {
    .nested-table {
        margin-bottom: 0;

        .row {
            border-color: var(--neutral-grey-3);
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .header-tr {
        tr {
            border: 0;
        }

        td {
            padding: 0;
        }
    }
}
