:local {
    .channelsLabel {
        margin-bottom: 0;
    }

    .infoIcon {
        display: inline-flex;
        align-items: center;
        color: var(--content-neutral-secondary);
        cursor: help;
    }
}
