@import (reference) '~css/typography';

:local {
    .page {
        width: 100%;
    }

    .buttonGroup {
        display: flex;
        justify-content: space-between;

        > div {
            display: flex;
            gap: var(--layout-spacing-xs);
        }
    }
}
