@import (reference) '~css/typography';

:local {
    .checkbox {
        padding: var(--layout-spacing-s);
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        user-select: none;
        position: relative;
        margin-bottom: 0;

        &:hover {
            border-color: var(--main-primary-1, #9ac8ff); // legacy
            background: var(--main-primary-0, #f6faff); // legacy
        }

        &:focus-within {
            outline: 2px solid var(--main-primary-1); // legacy
            outline-offset: 2px;
        }

        &.checked {
            border-color: var(--main-primary-1, #9ac8ff); // legacy
            background: var(--main-primary-0, #f6faff); // legacy

            .checkIcon {
                opacity: 1;
                font-size: 16px;
                color: var(--feedback-success-4); // legacy
            }
        }

        .content {
            display: flex;
            flex: 1;
            gap: var(--layout-spacing-xs);

            .title {
                .body-medium();
                color: var(--neutral-grey-6); // legacy
                margin-bottom: 4px;
            }

            .description {
                .body-regular();
                color: var(--neutral-grey-5); // legacy
                margin-bottom: 0;
            }
        }

        .checkboxInput {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        i {
            font-size: 24px;
        }

        .textContent {
            flex: 1;
        }
    }
}

.axiom :local {
    .checkbox {
        border: 1px solid var(--border-neutral-default);

        &:hover {
            border-color: var(--surface-accent-default);
            background: var(--surface-accent-default);
        }

        &:focus-within {
            outline: 2px solid var(--surface-accent-default);
        }

        &.checked {
            border-color: var(--surface-accent-default);
            background: var(--surface-accent-default);

            .checkIcon {
                color: var(--content-success-primary);
            }
        }

        .content {
            .title {
                color: var(--content-neutral-default);
            }

            .description {
                color: var(--content-neutral-secondary);
            }
        }
    }
}
