@import (reference) '~css/new/colorTokens';
@import (reference) '~css/typography';

:local {
    .preview {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 207px;
        height: 148px;
        padding: 8px;
        background: @classic-neutral-grey-1;
        border: solid 1px @classic-neutral-grey-3;
        border-radius: 4px;
        cursor: pointer;
        gap: 8px;

        .screenshotWrapper {
            width: 191px;
            height: 108px;

            .screenshot {
                height: 100%;
                background: @classic-main-primary-3;
                overflow: hidden;
                position: relative;

                > img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                    transform: scale(1.2);
                }
            }

            .playIcon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: @classic-main-primary-3;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-left: 3px;
                }
            }
        }

        .title {
            .caption-semibold();
            color: @classic-main-primary;
        }
    }

    .modalBody {
        min-height: 60vh;
        display: flex;
    }

    .iframe {
        border: none;
        flex: 1;
    }
}
