@import '~css/typography';

:local {
    .extendableSectionHeader {
        .body-semibold();
        display: flex;
        align-items: center;
        margin-bottom: var(--layout-spacing-s);

        .checkBoxInput {
            margin: 0;
        }

        .valid {
            color: var(--feedback-success); // legacy
        }

        .invalid {
            color: var(--feedback-error); // legacy
        }

        .checkIcon {
            font-size: 24px;
            margin-left: var(--layout-spacing-s);
        }

        .arrow {
            margin-left: auto;
            color: var(--neutral-grey-4); // legacy
            font-size: 24px;
        }

        .title {
            text-transform: capitalize;
            margin-left: var(--layout-spacing-xs);
        }
    }
}

.axiom :local {
    .extendableSectionHeader {
        .valid {
            color: var(--content-positive-default);
        }

        .invalid {
            color: var(--content-error-primary);
        }

        .arrow {
            color: var(--content-neutral-secondary);
        }
    }
}
