@import '~css/typography';

:local {
    .ticketPreview {
        .body-regular();
        padding: var(--layout-spacing-m);
        background-color: var(--neutral-grey-0); // legacy
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        width: 428px;

        .message {
            display: flex;
            gap: var(--layout-spacing-s);
            margin-bottom: var(--layout-spacing-s);
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        .banner {
            flex-shrink: 0;
        }

        .avatar {
            .caption-semibold();
            color: var(--neutral-grey-4); // legacy
            background-color: var(--neutral-grey-2); // legacy
        }

        .header {
            .body-semibold();
            color: var(--neutral-grey-6); // legacy
            margin-bottom: var(--layout-spacing-xxs);
        }

        .aiHeader {
            color: var(--accessory-magenta-3); // legacy
        }

        .mailIcon {
            color: var(--neutral-grey-4); // legacy
            margin-left: var(--layout-spacing-xxs);
        }
    }

    .caption {
        .caption-regular();
        display: flex;
        justify-content: center;
        color: var(--neutral-grey-4); // legacy
    }

    .footer {
        margin-top: var(--layout-spacing-s);
    }

    .messageSkeleton {
        display: flex;
        gap: var(--layout-spacing-xxs);
        flex-direction: column;
    }

    .generatePreviewButton {
        display: flex;
        margin: auto;
        margin-top: var(--layout-spacing-m);
    }

    .icon {
        margin-right: var(--layout-spacing-xxs);
    }

    .errorMessage {
        color: var(--feedback-error); // legacy
    }

    .tovPreview {
        .body-regular();
        margin-top: var(--layout-spacing-s);
        padding: var(--layout-spacing-m);
        width: 428px;
        gap: var(--layout-spacing-m);
        display: flex;
        flex-direction: column;
        border: 1px solid #ececec;
        border-radius: 8px;
        background-color: var(--neutral-grey-0); // legacy
        transition: ease-in-out 0.2s;
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.04);

        .message,
        .aiMessage {
            display: flex;
            gap: var(--layout-spacing-s);
            margin-bottom: var(--layout-spacing-xs);
            padding: 16px 24px;
            max-width: 90%;
        }

        .message {
            background-color: var(--neutral-grey-2); // legacy
            border-radius: 12px 12px 12px 2px;
        }

        .aiMessage {
            background-color: var(--accessory-magenta-1); // legacy
            border-radius: 12px 12px 2px 12px;
        }

        .aiMessageContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        .banner {
            flex-shrink: 0;
        }

        .aiHeader {
            color: var(--accessory-magenta-3); // legacy
        }

        .aiName {
            .body-regular();
            color: var(--neutral-grey-6); // legacy
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;
            gap: var(--layout-spacing-xxs);
        }
    }
}

.axiom :local {
    .ticketPreview {
        background-color: var(--elevation-neutral-default);

        .avatar {
            color: var(--content-neutral-secondary);
            background-color: var(--surface-neutral-tertiary);
        }

        .header {
            color: var(--content-neutral-default);
        }

        .aiHeader {
            color: var(--content-additional-fuchsia);
        }

        .mailIcon {
            color: var(--content-neutral-secondary);
        }
    }

    .caption {
        color: var(--content-neutral-secondary);
    }

    .errorMessage {
        color: var(--content-error-primary);
    }

    .tovPreview {
        background-color: var(--elevation-neutral-default);

        .message {
            background-color: var(--surface-neutral-tertiary);
        }

        .aiMessage {
            background-color: var(--surface-additional-fuchsia);
        }

        .aiHeader {
            color: var(--content-additional-fuchsia);
        }

        .aiName {
            color: var(--content-neutral-default);
        }
    }
}
