@import '~css/new/colorTokens';

:local {
    .cancellationsPolicyTitle {
        color: @classic-neutral-grey-6;
        font-weight: 600;
        font-size: 16px;
    }

    .cancellationsPolicyDescription {
        color: @classic-neutral-grey-6;
    }

    .eligibilityWindowTitle {
        color: @classic-neutral-grey-6;
        font-weight: 600;
    }

    .eligibilityWindowDescription {
        color: @classic-neutral-grey-5;
    }

    .eligibilityWindowContainer {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        color: @classic-neutral-grey-6;
    }

    .orderStatus {
        display: flex;
        font-weight: 600;
    }

    .orderStatusSelectField {
        display: flex;
        margin-left: 10px;
    }

    .deleteButton {
        display: flex;
        margin-left: 20px;
        cursor: pointer;
        font-size: 20px;
    }
}
