@import '~css/new/colors';

:local {
  .preferencesTitle {
    color: @neutral10
  }

  .preferencesDescription {
    color: @neutral10
  }

  td.policyTd {
    padding: 16px 2px;
  }

  .policyRowInfo {
    display: grid;
  }

  .policyName {
    font-weight: 600;
    color: @neutral10
  }

  .policyDescription {
    color: @neutral8;
    margin-top: 8px;
  }
}
