@import '~css/new/colors';

:local {
    .preferencesTitle {
        color: @neutral10;
    }

    .preferencesDescription {
        color: @neutral10;
    }

    .toggleButton {
        align-items: center;
    }

    .policyRowInfo {
        display: flex;
        justify-content: space-between;

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .policyName {
                font-weight: 600;
                color: @neutral10;
            }

            .policyDescription {
                color: @neutral8;
                margin-top: 8px;
            }
        }
    }

    .policyName {
        font-weight: 600;
        color: @neutral10;
    }

    .policyDescription {
        color: @neutral8;
        margin-top: 8px;
    }

    .upgradeIcon {
        &.sm {
            font-size: 11px;
            width: 13px;
            height: 13px;

            margin-right: 17px;
        }
    }

    .automationHelp {
        color: @neutral10;
    }

    .alertBeforeAutomationContainer {
        display: flex;
        justify-content: space-between;

        border-color: @orange2;
    }

    .alertPostAutomationContainer {
        .alertBeforeAutomationContainer;
        border-color: @blue;
    }
}
