@import '~css/new/colorTokens';

:local {
    .preferencesTitle {
        color: @classic-neutral-grey-6;
    }

    .preferencesDescription {
        color: @classic-neutral-grey-6;
    }

    .toggleButton {
        align-items: center;
    }

    .policyRowInfo {
        display: flex;
        justify-content: space-between;

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .policyName {
                font-weight: 600;
                color: @classic-neutral-grey-6;
            }

            .policyDescription {
                color: @classic-neutral-grey-5;
                margin-top: 8px;
            }
        }
    }

    .policyName {
        font-weight: 600;
        color: @classic-neutral-grey-6;
    }

    .policyDescription {
        color: @classic-neutral-grey-5;
        margin-top: 8px;
    }

    .upgradeIcon {
        width: 13px;
        height: 13px;
    }

    .automationHelp {
        color: @classic-neutral-grey-6;
    }
}
