@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';
@import (reference) '~css/new/mixins';

:local {
    .kpiContainer {
        gap: 16px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

        [class*='MetricCard--title--'] {
            width: 100%;
            gap: @layout-spacing-xxs;

            :first-child {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            :last-child {
                margin: 0;
            }
        }
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xxs;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media @mobiles {
            flex-direction: column;
        }
    }

    .subtitle {
        color: var(--neutral-grey-5);
        .body-regular();
    }
}
