@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';
@import (reference) '~css/new/mixins';

:local {
    .kpiContainer {
        gap: 16px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xxs;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media @mobiles {
            flex-direction: column;
        }
    }

    .subtitle {
        color: var(--neutral-grey-5);
        .body-regular();
    }
}
