:local {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .heading {
        margin-bottom: var(--spacing-xs);
    }

    .wizardButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .wizardNavigationButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }
}
