:local {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .heading {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxxs);
        margin-bottom: var(--spacing-xs);
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }

    .wizardButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .wizardNavigationButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .colorPicker {
        flex: 1;
    }

    .caption {
        color: var(--content-neutral-secondary);
    }
}
