:local {
    .wizardButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .placeholder {
        padding: var(--layout-spacing-l);
        text-align: center;
        color: var(--content-neutral-secondary);
    }
}
