@import (reference) '~css/typography.less';

:local {
    .title {
        .body-semibold();
        margin-top: var(--layout-spacing-s);
        margin-bottom: var(--layout-spacing-xs);
    }

    .loopReturnsIcon {
        vertical-align: initial;
    }

    .loopReturnsItemIcon {
        margin-right: 7px;
    }

    .loopReturnsAlert {
        margin-top: var(--layout-spacing-s);
    }

    .createLoopReturnsItem {
        color: var(--main-primary); // legacy
    }

    .createLoopReturnsItemIcon {
        font-size: 20px;
        margin-right: 7px;
    }
}

.axiom :local {
    .createLoopReturnsItem {
        color: var(--content-accent-default);
    }
}
