@import (reference) '~css/typography';

:local {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: var(--layout-spacing-xs) 0;
    }
    .dropdownToggle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        gap: var(--layout-spacing-xxs);
        height: 20px;
        padding: var(--spacing-xxxxs);
        border-radius: 4px;
        border: none;
        background-color: transparent;
        color: var(--neutral-grey-5) !important; // legacy;

        &:hover {
            background-color: var(--neutral-grey-2); // legacy
            box-shadow: none;
        }

        i {
            font-size: 16px;
            color: var(--neutral-grey-5); // legacy
        }
    }

    .dropdown {
        .menuWrapper {
            padding: var(--layout-spacing-xs);
            min-width: 240px;
            border-radius: 8px;
            border: 1px solid var(--neutral-grey-0); // legacy
            background-color: var(--neutral-grey-0); // legacy
        }

        .translationsList {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .translationsListItem {
            width: 100%;
        }

        .translationsItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--layout-spacing-xs);
            border: none;
            background: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            width: 100%;
            .body-regular();
            text-align: left;
            padding: var(--layout-spacing-xs) var(--layout-spacing-s);
            box-sizing: border-box;
            padding: var(--layout-spacing-xs);
            color: var(--neutral-grey-6); // legacy
            border-radius: 8px;
            cursor: pointer;
            overflow: hidden;

            &:disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }

            &:hover {
                background-color: var(--neutral-grey-2); // legacy
            }

            .translationsItemContent {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex: 1;
                gap: var(--layout-spacing-xs);
            }

            .icon {
                flex-shrink: 0;
                flex-grow: 0;
                display: flex;
                height: 1.4em;
                width: 1em;
                justify-content: center;
                align-items: center;
                margin-right: var(--layout-spacing-xxs);
            }
        }
    }
}

.axiom :local {
    .dropdownToggle {
        color: var(--content-neutral-secondary) !important;

        &:hover {
            background-color: var(--hover-default);
        }

        i {
            color: var(--content-neutral-secondary);
        }
    }

    .dropdown {
        .menuWrapper {
            border: 1px solid var(--border-neutral-default);
            background-color: var(--elevation-neutral-default);
        }

        .translationsItem {
            color: var(--content-neutral-default);

            &:hover {
                background-color: var(--hover-default);
            }
        }
    }
}
