:local {
    .wrapper {
        display: flex;
        box-sizing: content-box;
        padding: 0 var(--layout-spacing-s) var(--layout-spacing-xs)
            var(--layout-spacing-s);
        transition: height 0.2s ease-out;
        overflow-y: hidden;
    }

    .fieldsWrapper {
        width: 100%;
        &.isScrollable {
            overflow-y: auto;
        }
    }

    .fields {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 16px;
        width: 100%;
        padding-top: 2px;
    }

    .buttonWrapper {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        align-self: flex-end;
    }

    .button {
        width: 83px;
        justify-content: center;
    }
}
