@import '~css/typography';

@medium: ~'only screen and (max-width: 1393px)';

:local {
    .pageContainer {
        padding: 24px;
        .pageColumn {
            max-width: 680px;
            padding-right: 6px;
        }
    }

    .pageContainerBlocks {
        padding: 24px;
        padding-top: 0px;
        .pageColumn {
            max-width: 680px;
        }
    }

    .inputContainer {
        padding: 0px;
        padding-left: 10px;
        padding-bottom: 4px;
        .pageColumn {
            padding: 8px;
            max-width: 680px;
            .richTextareaWrapper {
                max-height: 200px;
            }
        }
    }

    .buttonsContainer {
        text-align: left;
        position: sticky;
        bottom: 0;
        background: var(--neutral-grey-0); // legacy
        box-shadow: 0px 0px 14px 0px var(--neutral-grey-3); // legacy
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 24px;
        margin-top: 20px;
        z-index: 1; // Was necessary with `TicketRichField`.

        .pageColumn {
            max-width: 680px;
        }
    }

    .footerSpacer {
        height: 40px;
    }

    .languageSectionLegacy {
        padding: 12px;

        .flagContainer {
            background-color: #f4f5f7;
            padding-left: 6px;
            padding-right: 6px;
            float: right;
        }
    }

    .languageSection {
        padding-right: 4px;
        padding-left: 0px;
        margin-left: -12px;

        .selectLanguageContainer {
            padding-left: 6px;
            padding-right: 6px;

            .dropdownMenu {
                width: 100%;
            }
        }
    }

    .backWrapper {
        padding: 12px;
        padding-left: 0px;

        a {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--neutral-grey-5); // legacy

            img {
                margin-right: 5px;
            }
        }
        margin-bottom: 8px;
    }

    .lengthLeft {
        .caption-regular();
        padding: 0px;
        padding-left: 4px;
        padding-top: 4px;
        font-size: 12px;
        color: var(--neutral-grey-4); // legacy
        margin: 0px;
        margin-bottom: -20px;
    }

    .inputItemInvalid {
        border:
            1px solid,
            red;
        border-color: red;
    }
    .inputItemInvalid:focus {
        border:
            1px solid,
            red;
        border-color: red;
    }

    .modal {
        max-width: 680px;
    }
    .modalBody {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .footer {
        background-color: var(--neutral-grey-2); // legacy
        display: flex;
        padding: 10px;
        .separateButtonsGroup {
            margin-left: auto;
        }
    }

    .spinnerWrapper {
        box-sizing: border-box;
        min-height: 64px;
        padding: 16px;
        position: relative;
        width: 50%;
    }

    .spinner {
        display: block;
        margin: 0 auto;
        width: 32px;
        height: 32px;
    }

    .hasError {
        border-color: var(--feedback-error); // legacy
    }
}

.axiom :local {
    .buttonsContainer {
        background: var(--elevation-neutral-default);
        box-shadow: 0px 0px 14px 0px var(--border-neutral-default);
    }

    .backWrapper {
        a {
            color: var(--content-neutral-secondary);
        }
    }

    .lengthLeft {
        color: var(--content-neutral-tertiary);
    }

    .footer {
        background-color: var(--surface-neutral-tertiary);
    }

    .hasError {
        border-color: var(--border-error-default);
    }
}
