@import '~css/new/colorTokens';

:local {
    .labelBoldText {
        font-weight: 700;
    }

    .infoIcon {
        font-size: 16px;
        color: @classic-neutral-grey-4;
        margin-left: 5px;
    }

    .limitsHeader {
        margin-bottom: 8px;
    }

    .limits {
        display: flex;
        flex-wrap: wrap;
    }

    .limitsSection {
        align-items: center;
        flex: 1 0 0;
        margin-right: 16px;
        margin-bottom: 8px;
    }

    .limitInput {
        margin-right: 16px;
        width: 80px;
    }

    .limitLabel {
        margin: 0;
        white-space: nowrap;
    }

    .limitsTooltip {
        border-bottom: dotted 2px @classic-neutral-grey-3;
    }

    .missingTeamAlert {
        margin-bottom: 40px;
        margin-top: 16px;
    }
}
