@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .settingSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
    }

    .headingSection {
        display: flex;
        flex-direction: column;
    }

    .bodySection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
        border: 2px solid var(--main-primary);
        border-radius: 4px;
        padding: 20px;

        &.disabled {
            border: 2px solid var(--neutral-grey-3);
        }
    }
}
