@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xl;
    }

    .ctaContainer {
        display: flex;
        flex-direction: row;
        gap: @layout-spacing-xs;
    }
}
