@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex: 1;
        min-height: 0;
        max-height: 576px;
        align-items: center;
        border-radius: 24px;
        border: 2.93px solid var(--content-neutral-secondary);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
        background: var(--neutral-grey-0);
        width: 292px;
        [class*='PlaygroundInitialContent--container--'] {
            margin-top: 50px;
        }
        [class*='TicketEvent--ticketEventContainer--'],
        [class*='Avatar--avatar--'],
        [class*='PlaygroundMessage--messageHeader--'] {
            display: none;
        }

        [class*='PlaygroundMessage--messageContent--'] {
            background-color: var(--surface-neutral-secondary);
            padding: var(--spacing-xs) var(--spacing-md);
            border-radius: 16px 16px 4px 16px;

            p {
                margin: 0;
            }

            font-kerning: none;
            font-variant-numeric: lining-nums tabular-nums;

            /* text-styles/regular-sm */
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
            letter-spacing: 0.12px;
        }

        [class*='PlaygroundMessage--messageContainer--'],
        [class*='PlaygroundMessage--messageAnimation--'],
        [class*='PlaygroundMessage--messageContainerHover--'] {
            &:hover {
                background-color: transparent !important;
            }
        }

        [class*='AiAgentPlayground--outputInner--'] {
            gap: var(--spacing-md);
        }

        [class*='PlaygroundMessage--messageContainer--'] {
            width: 195px !important;
            align-self: flex-end;
            gap: 0;
            padding: 0;

            img {
                border: 1px solid var(--border-neutral-default);
                border-radius: var(--sm, 12px);
                background: var(--elevation-neutral-high);

                width: 126px;
            }
        }

        [data-agent-message='true'] {
            display: flex;
            align-self: flex-start;

            [class*='PlaygroundMessage--messageContent--'] {
                border-radius: 16px 16px 16px 4px !important;
            }

            [class*='PlaygroundMessage--messageContentContainer--'] {
                display: flex;
                justify-content: flex-start;

                :last-child {
                    align-self: flex-start;
                }
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: sticky;
        top: 0;
        background-color: var(--neutral-grey-0);
        z-index: 1;
        padding: 17px 24px;
        gap: var(--spacing-xs);
        color: var(--content-neutral-default);

        .statusBar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .component-badge-tag-semibold();
        }

        .statusIcons {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-xxxs);
        }

        .storeTitle {
            display: flex;
            justify-content: center;
            .caption-semibold();
        }

        .batteryIcon {
            width: 20px;
        }

        .wifiIcon {
            width: 15px;
        }
    }

    .messagesContainer {
        padding: 0 var(--spacing-md);
        width: 100%;
    }
}
