@import (reference) '~css/new/mixins';

:local {
    .pageContainer {
        position: relative;

        width: 100%;
        min-height: calc(100% - 60px - 52px);

        display: flex;
        flex-direction: column;

        background-color: var(--neutral-grey-1); // legacy

        @media only screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }

    .loader {
        padding: var(--layout-spacing-xs) var(--layout-spacing-m);
    }

    .bannerWrapper {
        padding-bottom: var(--layout-spacing-l);
    }

    .formWrapper {
        width: 100%;

        padding: var(--layout-spacing-l);

        background-color: var(--neutral-grey-0); // legacy

        .section {
            margin-top: var(--layout-spacing-l);
        }

        .addTriggerButton {
            margin-top: var(--layout-spacing-s);
        }

        @media @desktops {
            max-width: 728px;
        }
    }

    .campaignPreview {
        margin-left: auto;
        margin-right: auto;

        background: transparent;

        @media @xlarge-desktops {
            position: sticky;
            top: var(--layout-spacing-m);

            margin-left: var(--layout-spacing-l);
        }
    }
}

.axiom :local {
    .pageContainer {
        background-color: var(--elevation-neutral-mid);
    }

    .formWrapper {
        background-color: var(--elevation-neutral-default);
    }
}
