@import (reference) '~css/typography';

:local {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .heading {
        margin-bottom: var(--spacing-xs);
    }

    .defaultLanguageGroup {
        display: flex;
        gap: 4px;
        align-items: center;
        margin-bottom: 8px;
    }

    .connectStoreDescription {
        margin-bottom: var(--layout-spacing-s);
    }

    .cardBody {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .constrainedInput {
        [class*='ui-input-wrapper-'] {
            width: 240px;
        }
    }

    .platformSelectionHeading {
        display: block;
        margin-bottom: var(--layout-spacing-xxs);
    }

    .error {
        .caption-regular();
        color: var(--content-error-primary);
        margin-top: 4px;
    }

    .info {
        .caption-regular();
        color: var(--content-neutral-tertiary);
        margin-top: 4px;
    }

    .languageSelect :global(.dropdown-toggle) {
        justify-content: space-between;
    }

    .languageSelectDropdownMenu {
        width: 100%;
        max-width: none;
    }

    .label.languageLabel {
        font-weight: 600;
        color: var(--content-neutral-default);
    }

    .tooltipIcon {
        color: var(--content-neutral-tertiary);

        &:hover {
            color: var(--content-neutral-secondary);
        }
    }

    .previewPlaceholder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: var(--neutral-grey-4);
        font-size: 14px;
        text-align: center;
        padding: var(--layout-spacing-l);
    }

    .wizardButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .wizardNavigationButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }
}
