@import (reference) '~css/new/colorTokens';

:local {
    @size: 32px;

    .language-bullet-item {
        display: flex;
        align-items: center;
        justify-content: center;

        width: @size;
        height: @size;

        border: 1px solid @classic-neutral-grey-3;
        border-radius: 50%;
        box-sizing: border-box;

        background: @classic-neutral-grey-2;

        color: @classic-neutral-grey-6;
        font-size: 14px;
        letter-spacing: -0.01em;
    }

    .flag-emoji {
        display: inline;
        width: 20px;
    }
}
