@import (reference) '~css/new/colors.less';

:local {
    @size: 36px;

    .language-bullet-item {
        display: flex;
        align-items: center;
        justify-content: center;

        width: @size;
        height: @size;

        border: 1px solid @neutral4;
        border-radius: 50%;
        box-sizing: border-box;

        background: @neutral1;

        color: @neutral10;
        font-size: 14px;
        letter-spacing: -0.01em;
    }

    .flag-emoji {
        display: inline;
        width: 20px;
        // We need to add this because the emoji will
        // occupy a bit more space than his original size
        margin-left: 2px;
    }
}
