:local {
    .connectShopifyBtn {
        color: var(--main-primary); // legacy
        text-align: right;
    }

    .alert {
        margin-bottom: 16px;
    }
}

.axiom :local {
    .connectShopifyBtn {
        color: var(--content-accent-default);
    }
}
