.axiom :local {
    .attachedImage {
        margin-bottom: var(--layout-spacing-xs);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}
