@import (reference) '~css/typography.less';

:local {
    .mbM {
        margin-bottom: var(--layout-spacing-m);
    }

    .mbXs {
        margin-bottom: var(--layout-spacing-xs);
    }

    .instructionsCard {
        border: var(--neutral-grey-3) 1px solid; // legacy

        &[data-is-open='true'] {
            border-color: var(--main-primary); // legacy
        }
    }

    .instructionsCardHeader {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border-bottom: none;

        h3 {
            .body-semibold();
            font-size: 16px;
            line-height: 24px;
        }

        p {
            margin: 0;
        }

        button,
        button:hover,
        button:focus:not(:focus-visible),
        button:active {
            border: none;
            background-color: transparent;
            outline: none;
        }

        button:focus-visible {
            outline: 2px solid var(--neutral-grey-6); // legacy
        }

        i {
            color: var(--neutral-grey-4); // legacy
            font-size: 24px;
        }
    }

    .instructionsCardBody {
        padding: 0 20px 20px 20px;
    }

    .instructions {
        > div:not(:last-child),
        > h4 {
            margin-bottom: 24px;
        }
    }

    .instruction {
        display: flex;
        align-items: center;

        .instruction-number {
            width: 24px;
            font-weight: bold;
            color: var(--neutral-grey-0); // legacy
            border-radius: 50%;
            background-color: var(--neutral-grey-6); // legacy
            margin-right: 15px;
            margin-bottom: 0;
            text-align: center;
            font-size: 14px;
            padding: 2px;
        }
    }

    .tabNavigation {
        display: flex;
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
    }

    .tabNavigationItem {
        .component-button-medium();
        padding: var(--layout-spacing-s);
        color: var(--neutral-grey-5); // legacy
        cursor: pointer;
        position: relative;

        &.isActive {
            color: var(--neutral-grey-6); // legacy

            &::after {
                content: '';
                display: block;
                height: 2px;
                border-radius: 50%;
                background-color: var(--main-primary); // legacy
                width: calc(~'100% - 32px');
                bottom: -1px;
                position: absolute;
            }
        }
    }
}

.axiom :local {
    .instructionsCard {
        border: var(--border-neutral-default) 1px solid;

        &[data-is-open='true'] {
            border-color: var(--border-accent-default);
        }
    }

    .instructionsCardHeader {
        button:focus-visible {
            outline: 2px solid var(--content-neutral-default);
        }

        i {
            color: var(--content-neutral-secondary);
        }
    }

    .instruction {
        .instruction-number {
            color: var(--content-inverted-default);
            background-color: var(--surface-inverted-default);
        }
    }

    .tabNavigation {
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .tabNavigationItem {
        color: var(--content-neutral-secondary);

        &.isActive {
            color: var(--content-neutral-default);

            &::after {
                background-color: var(--surface-accent-default);
            }
        }
    }
}
