:local {
    .section {
        margin-bottom: var(--layout-spacing-xl);
    }

    .sectionHeading {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.02em;
        margin-bottom: var(--layout-spacing-m);
    }

    .sectionHeadingWithDescription {
        margin-bottom: var(--layout-spacing-xxs);
    }

    .sectionDescription {
        margin-bottom: var(--layout-spacing-m);
    }

    .connectStoreDescription {
        margin-bottom: var(--layout-spacing-s);
    }

    .wizardButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .icon {
        color: var(--accessory-magenta-3); // legacy
        font-size: 20px;
        margin-right: 4px;
    }

    .helpCenterSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        margin-top: var(--layout-spacing-m);
    }
}

.axiom :local {
    .icon {
        color: var(--content-accent-default);
    }
}
