:local {
    .section {
        margin-bottom: var(--layout-spacing-xl);
    }

    .sectionHeading {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.02em;
        margin-bottom: var(--layout-spacing-m);
    }

    .launcherPreview {
        height: 120px;
        border-radius: 4px;
        border: 1px var(--neutral-grey-3 solid); // legacy
        background-color: var(--neutral-grey-2); // legacy
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .radioButtonGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--layout-spacing-s);
        margin-bottom: var(--layout-spacing-l);
    }

    .colorPickerGroup {
        display: flex;
        gap: var(--layout-spacing-m);
    }

    .wizardButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .colorPicker {
        flex: 1;
    }
}

.axiom :local {
    .launcherPreview {
        border: 1px var(--border-neutral-default) solid;
        background-color: var(--surface-neutral-tertiary);
    }
}
