@import '~@gorgias/design-tokens/dist/css/layout';

@import (reference) '~css/typography';

:local {
    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .customerSyncForm {
        max-width: 50rem;
    }
    .inputField {
        margin: 0 0 var(--layout-spacing-xs);
    }
    .contactInformation {
        margin-bottom: @layout-spacing-s;
    }
}
