:local {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--spacing-md);
    }

    .title {
        color: var(--content-neutral-default);
    }

    .tableContainer {
        position: relative;
        width: 100%;
        min-width: 0;
    }

    .tabs {
        position: absolute;
        z-index: 1;
    }
}
