:local {
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .contentContainer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .loadingSpinner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
