@import '../shared.less';

:local {
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .contentContainer {
        display: flex;
        flex: 1 0 0;
        align-self: stretch;
        height: 100%;
        min-height: 0;
        overflow: hidden;
    }

    .editorContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
        overflow-y: auto;
    }

    .loadingSpinner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
