:local {
    .container {
        width: 100%;
        margin-top: var(--spacing-md);
    }

    .editor {
        :global {
            .fr-toolbar {
                border: none;
            }

            .fr-wrapper {
                border: none !important;
            }

            .fr-second-toolbar {
                display: none;
            }

            .fr-toolbar {
                background-color: var(--surface-neutral-secondary) !important;
            }

            .fr-wrapper {
                background: none !important;
            }
        }
    }
}
