@import (reference) '~@gorgias/design-tokens/dist/css/colorTokens.less';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local .row {
    div {
        cursor: default;
    }

    strong {
        margin-right: @layout-spacing-s;
        color: var(--neutral-grey-6);
    }

    span {
        color: var(--neutral-grey-4);
    }
}
