@import '~css/new/layout.less';
@import '~css/new/colorTokens';
:local {
    .node {
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        background: @classic-neutral-grey-0;
        border: 1px solid @classic-neutral-grey-3;
        width: 264px;
        height: 72px;
        padding: 14px 16px;
        border-radius: @layout-spacing-xxs;
        cursor: pointer !important;
    }

    .nodeErrored {
        border-color: @classic-feedback-error;
    }

    .placeholderNode {
        display: flex;
        flex-direction: column;
        border: 1px dashed @classic-neutral-grey-3;
        border-style: dashed;
        background-color: @classic-neutral-grey-1;
        color: @classic-neutral-grey-5;
    }

    label {
        cursor: pointer;
    }

    .placeholderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .nodeContainer {
        display: flex;
        flex-direction: column;
    }

    .nodeTitle {
        margin-bottom: @layout-spacing-xxs;
    }

    .nodeContent {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .nodeContentErrored {
        color: @classic-feedback-error!important;
    }

    .clickToAdd {
        color: @classic-neutral-grey-4;
    }

    .nodeContentErrored .clickToAdd {
        color: @classic-feedback-error!important;
    }

    .sourceHandle {
        pointer-events: none;
        opacity: 0;
        transform: translate(-50%, 100%) !important;
    }

    .targetHandle {
        pointer-events: none;
        opacity: 0;
        transform: translate(-50%, -100%) !important;
    }
}
