@import '~css/new/layout.less';
@import '~css/new/colorTokens';
:local {
    .node {
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        background: @classic-neutral-grey-0;
        border: 1px solid @classic-neutral-grey-3;
        width: 264px;
        height: 72px;
        padding: 14px 16px;
        border-radius: @layout-spacing-xxs;
        cursor: pointer !important;

        &:hover {
            box-shadow: 4px 4px 16px rgba(22, 22, 22, 0.1);
        }
    }

    .nodeErrored {
        border-color: @classic-feedback-error;
    }

    .nodeGreyedOut {
        background: @classic-neutral-grey-2;
    }

    .placeholderNode {
        display: flex;
        flex-direction: column;
        border: 1px dashed @classic-neutral-grey-3;
        border-style: dashed;
        background-color: @classic-neutral-grey-1;
        color: @classic-neutral-grey-5;

        &:hover {
            background: @classic-neutral-grey-0;
            box-shadow: 4px 4px 16px rgba(22, 22, 22, 0.1);
        }
    }

    label {
        cursor: pointer;
    }

    .placeholderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .nodeContainer {
        display: flex;
        flex-direction: column;
    }

    .nodeTitle {
        margin-bottom: @layout-spacing-xxs;
    }

    .nodeContent {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .nodeContentErrored {
        color: @classic-feedback-error!important;
    }

    .clickToAdd {
        color: @classic-neutral-grey-4;
    }

    .nodeContentErrored .clickToAdd {
        color: @classic-feedback-error!important;
    }

    .sourceHandle {
        pointer-events: none;
        opacity: 0;
        transform: translate(-50%, 100%) !important;
        cursor: pointer !important;
    }

    .targetHandle {
        pointer-events: none;
        opacity: 0;
        transform: translate(-50%, -100%) !important;
        cursor: pointer !important;
    }

    .badgeContainer {
        width: 100%;
        text-align: center;
        position: absolute;
        top: -28px;
        left: 0;
        cursor: grab;
    }

    .badge {
        background: @classic-accessory-blue-bg;
        color: @classic-main-primary-4;

        :global .material-icons {
            color: @classic-main-primary-4;
            margin-left: @layout-spacing-xxs;
            line-height: 14px;
            cursor: help;
        }
    }

    .treeDotMenuItemIcon {
        color: @classic-neutral-grey-6;
        margin-right: 6px;
        font-size: 1.5rem;
    }

    .treeDotMenuItemDeleteIcon {
        color: @classic-feedback-error;
    }
}
