:local {
    .container {
        border-top: 1px dashed var(--neutral-grey-3);
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-size: 14px;
        font-weight: 600;
    }

    .strikeThrough {
        text-decoration: line-through;
        color: var(--neutral-grey-4);
    }

    .description {
        font-size: 14px;
        font-weight: 400;
    }

    .price {
        span {
            font-weight: 600;
        }
    }

    .oldPrice {
        display: inline-block;
        font-size: 14px;
        color: var(--neutral-grey-5);
        text-decoration: line-through;
        padding-right: 4px;
    }
}
