@import (reference) '~css/new/colorTokens';

:local {
    .container {
        border-top: 1px dashed @classic-neutral-grey-3;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-size: 14px;
        font-weight: 600;
        color: @classic-neutral-grey-6;
    }

    .description {
        font-size: 14px;
        font-weight: 400;
        color: @classic-neutral-grey-6;
    }

    .price {
        span {
            font-weight: 600;
        }
    }

    .oldPrice {
        display: inline-block;
        font-size: 14px;
        color: @classic-neutral-grey-5;
        text-decoration: line-through;
        padding-right: 4px;
    }
}
