@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography.less';

:local {
    .label {
        .heading-subsection-semibold();
        margin-bottom: @layout-spacing-xs;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: @layout-spacing-s;
    }

    .footerRight {
        display: flex;
        gap: @layout-spacing-xs;
    }
}
