@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        border: 1px solid var(--neutral-grey-3);
        width: 100%;
        border-radius: 4px;
    }

    .section {
        padding: @layout-spacing-xs @layout-spacing-s;
        background-color: var(--neutral-grey-0);
    }

    .topSection {
        display: flex;
        gap: @layout-spacing-s;
        align-items: flex-start;
    }

    .editor {
        padding: 0;
        min-height: 180px;
        display: flex;
        flex-direction: column;
    }

    .section:not(:last-child) {
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .subjectInput {
        border: none !important;
        padding: 0;
        outline: none;
        box-shadow: none !important;
    }

    .footer {
        display: flex;
        gap: @layout-spacing-s;
        background-color: var(--neutral-grey-1);
    }

    .disabled {
        background-color: var(--neutral-grey-1);
        color: var(--neutral-grey-5);
    }
}
