@import '~css/new/colors';

:local {
    // Overview
    .legendContainer {
        margin-top: 1rem;
    }

    .legend {
        float: left;
        margin-right: 2rem;
        padding: 0.5rem;
    }

    .legendColor {
        display: inline-block;
        position: relative;
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        top: 0.2rem;
    }

    // Table
    .row {
        border-bottom: 1px solid @classic-neutral-grey-3;

        td,
        th {
            border: none;
        }
    }
}
