@import '~@gorgias/design-tokens/dist/css/typographyMixins.less';

:local {
    .logo {
        max-width: 16px;
        overflow: hidden;
        margin-right: var(--layout-spacing-s);
    }

    .status {
        span {
            .body-tabular();
        }

        p {
            .body-regular();
            font-size: 12px;
            margin-bottom: 0;
        }
    }

    .syncStatus {
        cursor: pointer;
        height: 24px;
        width: 135px;

        span {
            font-weight: 500;
        }
    }
}
