@import '~css/new/colorTokens';

:local {
    .icon {
        color: @classic-neutral-grey-3;
        font-size: 28px;
    }

    .circle {
        width: 80px;
        height: 80px;
        background-color: @classic-neutral-grey-2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .wrapper {
        margin-top: 96px;
    }

    .text {
        text-align: center;
        color: @classic-neutral-grey-5;
        margin-top: 16px;
    }
}
