:local {
    .container {
        display: flex;
        padding: var(--spacing-md);

        border-radius: var(--spacing-sm);
        border: 1.2px solid var(--border-neutral-default);
        background: var(--elevation-neutral-default);
    }

    .summary {
        padding: var(--spacing-md);
        border-radius: var(--spacing-xs);
        background: var(--surface-warning-default);

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .insightText {
        white-space: wrap !important;
    }

    .disabledTitle {
        opacity: 0.5;
        pointer-events: none;
    }

    .disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .bodyField :global(.DraftEditor-root) {
        color: var(--content-neutral-default);
        padding: var(--spacing-md) var(--spacing-md) var(--spacing-xl);

        display: block;
        box-sizing: border-box;

        color: var(--content-neutral-default);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .bodyField :global(.editor-wrapper) {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;

        box-shadow: inset 0 0 0 1px var(--neutral-grey-3); //legacy
        border-radius: var(--spacing-xxs);
        background: transparent !important;
    }

    .bodyField :global(.editor-wrapper:hover) {
        background: var(--hover-input) !important;
    }

    .bodyField :global(.editor-wrapper:focus) {
        box-shadow: inset 0 0 0 1px var(--border-neutral-secondary);
    }

    .bodyField.disabled :global(.rich-textarea-wrapper) {
        background-color: var(--surface-neutral-primary);
    }

    .bodyField :global(.rich-textarea-wrapper) {
        background: transparent;
        border: none;
        box-shadow: none;
    }

    .bodyField :global(.editor-toolbar) {
        padding: var(--spacing-xxs) var(--spacing-md);
    }

    .bodyField :global([class*='Toolbar--actions']) {
        width: 100% !important;
    }

    .bodyField :global([class*='Toolbar--actions']) > * {
        visibility: hidden;
        width: 0;
    }

    .bodyField :global([class*='Toolbar--actions']) > [class*='rightSection'] {
        visibility: visible;
        width: auto;
    }

    .bodyField :global([class*='rightSection']) {
        justify-content: flex-start;
        padding: 0 !important;
    }

    .caption {
        color: var(--content-neutral-tertiary);
        margin-top: var(--spacing-xxxs);
    }

    .titleField :global(input:hover:not(:focus)) {
        background: var(--hover-input) !important;
    }
}

@supports (selector(:has(*))) {
    html
        body:has([data-ai-opportunities])
        :local(.bodyField)
        :global([class*='rightSection']) {
        padding-left: 0 !important;
    }
}

.axiom :local {
    .bodyField :global(.editor-wrapper) {
        border-radius: var(--spacing-xs);
        box-shadow: inset 0 0 0 1px var(--border-neutral-default);
    }
}
