@import '~css/new/colorTokens';

:local {
    .skeleton {
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }

        line-height: 1.5;

        --base-color: @classic-neutral-grey-3;
        --highlight-color: @classic-neutral-grey-2;
    }
}
