:local {
    .skeleton {
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }

        line-height: 1.5;

        --base-color: var(--neutral-grey-3);
        --highlight-color: var(--neutral-grey-2);
    }
}
