@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);

        // give more space at the bottom of the page to give some breathing room for the chat widget
        margin-bottom: 55px;
    }

    .wrapper {
        padding-top: var(--layout-spacing-m);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
