:local {
    .productField {
        margin-bottom: var(--layout-spacing-xs);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .aiContainer {
        background:
            linear-gradient(var(--neutral-grey-0), var(--neutral-grey-0))
                padding-box,
            linear-gradient(90deg, #f58d86, #a084e1) border-box; // legacy

        border-radius: 8px;
        border: 1px solid transparent;
        padding: var(--layout-spacing-s);
    }

    .productFieldTitle {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    .imageGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 95px);
        gap: var(--layout-spacing-xs);
        margin-top: var(--layout-spacing-xxs);
    }

    .productImage {
        width: 95px;
        height: 95px;
    }

    .imagesSkeleton {
        width: 95px;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imageCount {
        font-weight: normal;
    }

    .description {
        margin-top: var(--layout-spacing-xxs);
    }

    .collapsibleVariantsTitle {
        color: var(--neutral-grey-6);
        font-weight: 500;
    }

    .variantsList {
        display: flex;
        flex-direction: column;
    }

    .variantItem {
        padding: var(--layout-spacing-xs) 0;
        border-bottom: 1px solid var(--neutral-grey-4);

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    .pricesContainer {
        display: inline-flex;
        gap: 4px;
        align-items: center;
    }

    .strikethroughPrice {
        text-decoration: line-through;
        color: var(--neutral-grey-5);
    }
}
