@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
    }

    .caption {
        .body-regular();
        color: var(--neutral-grey-5);
    }

    .savingIndicator {
        .caption-regular();
        color: var(--primary-blue-5);
        font-style: italic;
    }

    .richField {
        padding-left: 8px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 8px;

        &.onError {
            border-color: var(--feedback-error);
            [class*='Toolbar--maxLength--'] {
                color: var(--feedback-error) !important;
            }
        }

        [class*='Toolbar--maxLength--'] {
            color: var(--neutral-grey-5) !important;
            margin-right: 9px;
        }
    }

    .footer {
        display: flex;
        align-items: flex-start;
        gap: var(--Main-XS, 8px);
    }

    .modalBody {
        margin-bottom: 53px;
    }
}

.axiom :local {
    .richField {
        &.onError {
            border-color: var(--content-error-primary);
            [class*='Toolbar--maxLength--'] {
                color: var(--content-error-primary) !important;
            }
        }

        [class*='Toolbar--maxLength--'] {
            color: var(--content-neutral-secondary) !important;
            margin-right: 9px;
        }
    }
}
