@import (reference) '~css/typography.less';

:local {
    .emptyState {
        .body-semibold();
        color: var(--neutral-grey-5);
        display: flex;
        padding: var(--layout-spacing-m);
        justify-content: center;
        align-items: center;
        align-self: stretch;
        height: 426px;
        width: 100%;
    }

    .imageLoader {
        margin-right: var(--layout-spacing-s);
    }

    .loader {
        width: 100%;
        height: 100%;
        margin-right: var(--layout-spacing-s);
    }

    .tableWrapper {
        margin-bottom: 0;
    }

    .productCell {
        width: 600px;
    }

    .questionCell {
        .body-semibold();
    }

    .masterToggleCell {
        padding-left: var(--layout-spacing-m);
    }

    .productTable {
        th:first-of-type {
            width: 600px;
        }
        th:nth-of-type(2) {
            width: 100px;
        }
    }

    .tableBodyRow {
        &:last-of-type {
            border-bottom: none;
        }
    }

    .aiAgentStatus {
        margin-left: var(--layout-spacing-s);
    }

    .toggleInput {
        margin-right: var(--layout-spacing-xs);
    }

    .productImage {
        width: var(--layout-spacing-l);
        height: var(--layout-spacing-l);
        margin-right: var(--layout-spacing-s);
    }

    .imagesSkeleton {
        width: var(--layout-spacing-l);
        height: var(--layout-spacing-l);
        margin-right: var(--layout-spacing-s);
    }

    .chevronRight {
        color: var(--neutral-grey-4) !important;
        font-size: 24px !important;
    }

    .navigation {
        display: flex;
        padding: var(--layout-spacing-s) var(--layout-spacing-m);
        border-top: 1px solid var(--neutral-grey-3);
    }

    .checkIcon {
        font-size: 24px !important;
        color: var(--feedback-success-3);
    }

    .closeIcon {
        font-size: 24px !important;
        color: var(--neutral-grey-5);
    }

    .masterToggle {
        .body-semibold();
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
