@import (reference) '~css/typography.less';

:local {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--layout-spacing-s);
    }

    .headerTitle {
        .heading-section-semibold();
    }

    .headerAction {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        cursor: pointer;

        &:hover {
            background-color: var(--neutral-grey-2); // legacy
            border-radius: var(--layout-spacing-xxs);
        }
    }

    .contentContainer {
        padding: var(--layout-spacing-s);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-l);
    }

    .badgeIcon {
        font-size: 12px !important;
        color: var(--neutral-grey-6);
        font-weight: 500;
    }

    .headerActions {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .productHeaderContainer {
        display: flex;
        align-items: start;
        gap: var(--layout-spacing-xs);
    }

    .productHeaderTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .productHeader {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .latestSync {
        .caption-regular();
        color: var(--neutral-grey-5);
    }
}

.axiom :local {
    .headerAction {
        &:hover {
            background-color: var(--hover-default);
        }
    }
}
