:local {
    .container {
        padding: var(--layout-spacing-s) var(--layout-spacing-m);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--layout-spacing-xs);
    }

    .searchInput {
        width: 100%;
        max-width: 162px;
    }

    .descriptionContainer {
        max-width: 600px;
    }
}
