:local {
    .field {
        display: inline-block;
        position: relative;
    }

    .wrapper {
        & > div {
            background: var(--neutral-grey-2); // legacy
            border: 0 !important;
            box-shadow: none !important;
            height: 24px;

            & > div:first-child {
                padding-top: 0;
                font-weight: 600;
                font-size: 12px;
                line-height: 24px;
            }

            & > i {
                padding-top: 3px;
            }
        }
    }
}

.axiom :local {
    .wrapper {
        & > div {
            background: var(--elevation-neutral-mid);
        }
    }
}
