@import '~css/typography';
@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        padding: var(--layout-spacing-m) var(--layout-spacing-s);
        color: var(--neutral-grey-5);
    }

    .content {
        padding: var(--layout-spacing-m) var(--layout-spacing-xs);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        .body-regular();
    }

    .contactUs {
        cursor: pointer;
    }
}
