:local {
    .opportunityDetails {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: var(--spacing-md);
    }

    .guidanceNameSection {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }

    .guidanceNameSectionInput {
        border-radius: 4px;
        border: 1px solid var(--neutral-grey-3); // legacy
        background: var(--neutral-grey-0); // legacy
        padding: 6px var(--spacing-xs);
    }

    .instructionsSection {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }

    .instructionsSectionInput {
        height: 388px;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        padding: var(--spacing-md);
        border-radius: 4px;
        border: 1px solid var(--neutral-grey-3); // legacy
        background: var(--neutral-grey-0); // legacy
    }

    .instructionsSectionInputSeparator {
        height: 16px;
    }
}

.axiom :local {
    .guidanceNameSectionInput {
        border-color: var(--border-neutral-default);
        background: var(--elevation-neutral-default);
    }

    .instructionsSectionInput {
        border-color: var(--border-neutral-default);
        background: var(--elevation-neutral-default);
    }
}
