:local {
    .button {
        padding: 4px !important;
        margin-left: 4px;
    }

    .icon.icon {
        font-size: 16px;
    }

    .optionIcon {
        margin-right: 6px;
    }

    .pickerAnchor {
        height: 24px;
        position: relative;
        left: -12px;
    }
}
