:local .component {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .source {
    transition: all .2s linear;

    &:hover {
      color: #545454 !important;
    }
  }

  .date {
    margin-left: 8px;
  }
}
