@import '~css/new/mixins';
@import '~css/new/colorTokens';

:local .component {
    padding: 1px 10px 5px 20px;
    background: @classic-neutral-grey-0;

    @media @mobiles {
        padding-top: 6px;
    }

    .editableTitle {
        color: @classic-neutral-grey-6;
        font-size: 20px;
        font-weight: 500;
        height: 32px;
    }

    .headerIcon {
        font-size: 1.25rem;
        padding: 0.1rem 8px;
    }

    .headerButton,
    .assignee :global(.dropdown-toggle) {
        height: 2.4em;
        display: inline-flex;
        align-items: center;
    }

    .actionsDropdown {
        min-width: 11.5rem;
    }
}
