@import '~@gorgias/design-tokens/dist/css/layout.less';
@import '~css/new/mixins';

:local .component {
    padding: 16px 24px 8px 24px;
    background: var(--neutral-grey-0);

    @media @mobiles {
        padding-top: 6px;
    }

    .headerIcon {
        font-size: 1.25rem;
        padding: 0.1rem 8px;
    }

    .actionsDropdown {
        min-width: 11.5rem;
    }

    .statusAndTags {
        gap: var(--layout-spacing-xxs);
        display: inline-flex;
        margin-top: 4px;
        flex-grow: 1;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .secondRow {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 16px;
        margin-top: 4px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 16px;
    }

    .editableTitleWrapper {
        height: 32px;
        margin-right: 16px;
    }

    .editableTitle {
        height: 32px;
    }

    .tags {
        @media @mobiles {
            display: none;
        }
    }
}

:global(.globalNav) :local {
    .component {
        padding: var(--layout-spacing-xs);

        .secondRow {
            margin: var(--layout-spacing-xxs) var(--layout-spacing-xs)
                var(--layout-spacing-xs);
        }
    }
}
