:local {
    .button {
        padding: 6px !important;
    }

    .icon {
        font-size: 20px;
    }

    .optionIcon {
        margin-right: 6px;
    }

    .intentDelete {
        display: flex;
        align-items: center;
    }
}
