@import '~css/new/colorTokens';
@import '~css/new/mixins';

:local .page {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    height: 100%;
    position: relative;
    max-height: 100%;
    overflow: auto;

    &::-webkit-scrollbar-track {
        background: @classic-neutral-grey-2;
    }

    .separator {
        border-bottom: 1px solid @classic-neutral-grey-3;
    }

    .ticketContent {
        overflow: auto;
        padding: 0 30px;
        flex-shrink: 1;
        flex-grow: 1;

        &:focus {
            outline: 0;
        }

        @media @mobiles {
            padding: 16px;
        }

        &.historyDisplayed {
            flex-shrink: 0;
        }

        // TODO: refactor after Virtualization is rolled out
        &.isVirtualized {
            overflow: unset;
            @media @mobiles {
                padding: 0 46px;
            }
        }
    }

    .timeline {
        background: @classic-neutral-grey-2;

        box-shadow: inset 0 -2px 2px fade(@classic-neutral-grey-6, 10%);

        .timelineHeader {
            border-bottom: 1px solid @classic-neutral-grey-3;

            .closeTrigger {
                padding: 12px 30px 16px;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                color: @classic-neutral-grey-6;
            }
        }

        .timelineContainer {
            padding: 32px 24px 0;
        }
    }
}
