@import "../../../../../css/new/mixins";

:local .page {
  &:not(.history-displayed) {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .viewersBanner {
    @padding-sides: 28px;

    background-color: #f3a60b;
    color: white;
    padding: 6px @padding-sides;
    overflow: hidden;
    transition: all .1s linear;

    &.hidden {
      height: 0;
      padding: 0 @padding-sides;
      color: transparent;
    }
  }

  .newMessageForm {
    @media @mobiles {
      margin: 0 -16px;

      :global .TicketSubmitButtons {
        margin-left: 16px;
        margin-right: 16px;
        text-align: right;
      }
    }
  }
}
