@import '~css/new/colors';
@import '~css/new/mixins';

:local .page {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    height: 100%;
    position: relative;
    max-height: 100%;
    overflow: auto;

    &::-webkit-scrollbar-track {
        background: @neutral1;
    }

    .viewersBanner {
        @padding-sides: 38px;

        overflow: hidden;
        background-color: @collisionColor;
        box-shadow: inset 0 3px 2px darken(@collisionColor, 8%);
        padding: 6px @padding-sides;
        transition: all 0.1s linear;

        color: @indigo;
        font-size: 14px;

        &.hidden {
            height: 0;
            padding: 0 @padding-sides;

            color: transparent;
        }

        .icon {
            width: 1.2em;
            margin-right: 2.2em;

            text-align: center;
        }

        .collisionLabel {
            display: inline-block;
            width: 4.4em;

            line-height: normal;
        }

        .collisionCategory {
            display: inline-flex;
            align-items: center;
        }

        .collisionAgent {
            margin-left: 1em;
        }
    }

    .bothCollisions .collisionCategory {
        margin-right: 2.4em;

        .icon {
            margin-right: 0.8em;
        }

        .collisionAgent {
            margin-left: 0.4em;
        }
    }

    .newMessageForm {
        border: 1px solid @darkQuartz;
        border-radius: 2px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 18px;

        @media @mobiles {
            margin: 0 -16px;
        }

        /* extra bottom padding on touchscreen devices,
        * for the onscreen keyboard
        */
        @media (pointer: coarse) {
            margin-bottom: 14rem;
        }
    }

    .separator {
        border-bottom: 1px solid @darkQuartz;
    }

    .ticketContent {
        overflow: auto;
        padding: 0 30px;
        flex-shrink: 1;
        flex-grow: 1;

        &:focus {
            outline: 0;
        }

        @media @mobiles {
            padding: 16px;
        }

        &.historyDisplayed {
            flex-shrink: 0;
        }
    }

    .historyButtonContainer {
        padding-left: 2em;
    }

    .headerContainer {
        position: relative;
        z-index: 2;
        padding-top: 0.5em;

        box-shadow: 0 2px 6px rgba(21, 32, 101, 0.07);
    }

    .timeline {
        background: @neutral1;

        box-shadow: inset 0 -2px 2px rgba(21, 32, 101, 0.1);

        .timelineHeader {
            border-bottom: 1px solid @darkQuartz;

            .closeTrigger {
                padding: 12px 30px 16px;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                color: @neutral10;
            }
        }

        .timelineContainer {
            padding: 32px 24px 0;
        }
    }
}
