@import '~css/new/colors';
@import '~css/new/mixins';

:local .component {
  display: flex;
  position: relative;
  padding: 4px 2em 16px 2em;
  margin: 0 -30px;
  word-break: break-word;

  @media @mobiles {
    padding: .8em 16px;
    margin: 0 -16px;
  }

  &.fromAgent {
    background: fade(@lightPurple, 2%);
  }

  &:hover {
    background: #f9f9fa;
  }

  &.internal {
    background: @lightYellow;
    box-shadow: inset 5px 0 0 0 #fd9b5a;

    &:hover {
      background: darken(@lightYellow, 3%);
    }

    :global {
      .text-faded,
      .gorgias-mention {
        color: darken(@darkGrey, 10%) !important;
      }
    }
  }

  &.appear {
    animation: appear .1s linear;
    animation-fill-mode: forwards;

    @keyframes appear {
      from {
        opacity: 0;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    padding-bottom: .5em;

    transition: padding .16s ease-out;
  }

  .source {
    transition: all .2s linear;

    color: @lightPurple2;

    &:hover {
      color: @purple;
    }
  }

  .date {
    font-size: 12px;
    font-weight: 500;
  }

  .headerDetails {
    float: left;
    display: inline-flex;
    align-items: center;

    & > * {
      margin-right: 6px;
    }
  }

  .author {
    margin-right: .8em;
    line-height: 1em;
    font-weight: bold;
  }

  .isAgent {
    color: @blue;
  }

  .avatar {
    width: 56px;
    flex-shrink: 0;
  }

  .from {
    color: darken(@lightGrey, 8%);
    font-size: 1rem;
  }

  .from a {
    font-weight: 600;
    color: darken(@lightGrey, 8%);
    text-decoration: underline !important;
  }

  .attachmentsLabel {
    display: block;
    margin-bottom: .5em;

    color: @blue;
    font-weight: 500;
    font-size: 12px;
  }

  .agentIcon {
    margin-right: 6px;

    vertical-align: text-bottom;
  }

  .body {
    max-width: ~"calc(100% - 56px)";  // 56px being the width of `.avatar` above
    flex-grow: 1;
  }

  .actionButton {
    cursor: pointer;
    padding: 0;
    margin-right: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* sourceDetails is in a popover
 */
:local .sourceDetails {
  ul {
    padding: .4em .8em;
    margin: 0;
    list-style-type: none;

    color: inherit;
  }

  li {
    line-height: 1.5em;
  }

  li strong {
    margin-left: .4em;

    color: @black;
  }
}


/* loading state.
 * keyframe animation is broken for :local styles,
 * when using css-modules + less:
 * https://github.com/css-modules/css-modules/issues/141
 */

@keyframes ticket-message-loading-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}

@keyframes ticket-message-loading-spinner-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ticket-message-loading-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

// we display the "loading" state after a while only, fading and showing the loader
.ticket-message-loading {
  @delay: 2s;
  position: relative;
  animation: ticket-message-loading-opacity 0.4s @delay forwards linear;

  &:before {
    content: '';
    opacity: 0;
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -0.4em;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    animation: ticket-message-loading-spin 0.4s infinite linear, ticket-message-loading-spinner-opacity 0.4s @delay forwards linear;
  }
}

/* this is a special class that allows putting a maximum width for facebook stickers
 */
.gorgias-facebook-share-image {
  max-width: 120px;
}

/* Mentioned agent's name text
 */
.gorgias-mention {
  color: @grey
}
