:local {
    .button.button.button {
        margin-right: var(--layout-spacing-xxs);
        color: var(--neutral-grey-6);
    }

    .icon.icon {
        font-size: 16px;
    }

    .label {
        margin-left: var(--layout-spacing-xs);
        margin-right: var(--layout-spacing-s);
    }
}
