:local {
    .wrapper {
        display: flex;
        align-items: center;
    }

    .icon {
        // FIXME: specificity of material-icons overrides it
        font-size: 18px !important;

        &.isLeft {
            margin-right: 4px;
        }

        &.isRight {
            margin-left: 4px;
        }

        &.small {
            font-size: 14px;
        }
    }
}
