@import '~css/new/colorTokens';

:local {
    .wrapper {
        align-items: center;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        color: @classic-neutral-grey-0;
        display: inline-flex;
        font-size: 14px;
        font-weight: 500;
        height: 32px;
        justify-content: center;
        line-height: 20px;
        padding: 0 12px;
        text-transform: capitalize;
        user-select: none;
        vertical-align: bottom;
        white-space: nowrap;
        transition: box-shadow 0.2s linear, background-color 0.2s linear,
            border-color 0.2s linear, color 0.2s linear;
        z-index: 1;

        &:focus {
            outline: none;
        }

        &.ghost {
            padding: 0 13px;
        }

        &.small {
            font-size: 12px;
            height: 24px;
            padding: 0 8px;

            &.ghost {
                padding: 0 9px;
            }
        }

        &.left.isAuxiliaryButton {
            margin-left: -1px;
        }

        &.right.isAuxiliaryButton {
            margin-right: -1px;
        }

        &.right,
        &.center {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
        }

        &.left,
        &.center {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            margin-right: -1px;
        }

        &.top,
        &.middle {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.bottom,
        &.middle {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: -1px;
        }

        &.isDisabled {
            cursor: not-allowed;
        }
    }

    .wrapper.fill {
        &:hover:not(.isDisabled) {
            box-shadow: 0px 1px 2px fade(@modern-neutral-neutral-6, 16%);
        }

        &:hover:active {
            box-shadow: inset 0px 1px 2px fade(@modern-neutral-neutral-6, 16%);
        }

        &.primary {
            background-color: @classic-main-primary;
            border-color: @classic-main-primary-3;

            &:hover {
                background-color: @classic-main-primary-2;
                border-color: @classic-main-primary;
            }

            &:active {
                background-color: @classic-main-primary-3;
                border-color: @classic-main-primary-4;
            }
        }

        &.secondary {
            background-color: @classic-neutral-grey-2;
            border-color: @classic-neutral-grey-3;
            color: @classic-neutral-grey-6;

            &:hover {
                border-color: @classic-neutral-grey-3;
            }

            &:active {
                border-color: @classic-neutral-grey-4;
            }
        }

        &.destructive {
            background-color: @classic-feedback-error;
            border-color: @classic-feedback-error-3;

            &:hover {
                background-color: @classic-feedback-error-2;
                border-color: @classic-feedback-error;
            }

            &:active {
                background-color: @classic-feedback-error-3;
                border-color: @classic-feedback-error-4;
            }
        }

        &.isDisabled,
        &.isDisabled:hover {
            color: @classic-neutral-grey-3;
            background-color: @classic-neutral-grey-1;
            border-color: @classic-neutral-grey-3;
        }
    }

    .wrapper.ghost {
        background-color: transparent;
        border: none;

        &:hover {
            background-color: @classic-neutral-grey-2;
        }

        &.primary {
            color: @classic-main-primary;

            &:active {
                background-color: @classic-main-primary-1;
                color: @classic-main-primary-3;
            }
        }

        &.secondary {
            color: @classic-neutral-grey-5;

            &:active {
                background-color: @classic-neutral-grey-3;
                color: @classic-neutral-grey-6;
            }
        }

        &.destructive {
            color: @classic-feedback-error;

            &:hover {
                background-color: @modern-feedback-error-0;
            }

            &:active {
                background-color: @modern-feedback-error-1;
                color: @modern-feedback-error-3;
            }
        }

        &.isDisabled,
        &.isDisabled:hover {
            color: @classic-neutral-grey-3;
        }
    }

    .spinner {
        width: 22px;
        margin: 0 6px 0 2px;
    }

    .wrapper.small .spinner {
        width: 15px;
    }
}
