:local {
    .table {
        .header {
            height: 56px;
        }

        tr {
            height: 68px;
            td,
            th {
                &:first-child {
                    width: 75%;
                }

                > div {
                    span {
                        color: var(--neutral-grey-4); // legacy
                    }

                    :global(.badge-tag) {
                        color: var(--neutral-grey-6) !important; // legacy
                    }

                    a {
                        color: var(--neutral-grey-4); // legacy
                    }
                }

                &:last-child {
                    width: 70px !important;
                    max-width: 70px !important;
                    padding-right: 0;
                }
            }

            &:hover {
                a {
                    color: var(--main-primary) !important; // legacy
                }
            }
        }
    }
}

.axiom :local {
    .table {
        tr {
            td {
                > div {
                    span {
                        color: var(--content-neutral-secondary);
                    }

                    :global(.badge-tag) {
                        color: var(--content-neutral-default) !important;
                    }

                    a {
                        color: var(--content-neutral-secondary);
                    }
                }
            }

            &:hover {
                a {
                    color: var(--content-accent-default) !important;
                }
            }
        }
    }
}
