@import '~@gorgias/design-tokens/dist/css/layout.less';
@import '~css/new/mixins';
@import (reference) '~css/typography';

:local {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: @layout-spacing-s;

        @media @tablets {
            grid-template-columns: 1fr 1fr;
        }

        @media @mobiles {
            grid-template-columns: 1fr;
        }
    }

    .appIcon {
        height: 32px;
        width: 32px;
        object-fit: contain;
    }

    .customActionIcon {
        margin-top: unset !important;
    }

    .seeAll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
    }
}
