@import (reference) '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        cursor: pointer;
    }

    .innerActionCell {
        display: inline;
    }

    .actionNameTogleGroup {
        display: inline-block;
        padding-block: @layout-spacing-s;

        & > div {
            display: inline-flex;
        }

        .toggleInput {
            vertical-align: text-top;
        }

        i {
            vertical-align: middle;
        }
    }

    .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .nameCell {
        max-width: 280px;
    }

    .appImageFiller {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .actionTypeText {
        padding-left: @layout-spacing-xs;
        vertical-align: middle;
        margin: 0;
    }
    .actionNameText {
        .body-semibold;
        vertical-align: text-top;
        margin: 0;
    }

    .warningIcon {
        padding-right: @layout-spacing-xs;
        color: var(--feedback-error);
        font-size: @layout-spacing-m;
        vertical-align: bottom;
    }
}
