@import (reference) '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        .body-regular();
        display: flex;
        gap: @layout-spacing-xs;

        .img {
            width: 20px;
            height: auto;
        }
        p {
            margin: 0;
        }
    }
}
