@import (reference) '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .buttonGroup {
        display: flex;
        gap: @layout-spacing-xs;
    }

    .stepChips {
        display: flex;
        gap: @layout-spacing-xs;
        flex-wrap: wrap;
    }

    .modalBody {
        padding: 10px;

        .selectionBody {
            & > p {
                .body-semibold();
                margin: 0;
            }
            display: flex;
            flex-direction: column;
            gap: @layout-spacing-xs;
        }

        .confirmationBody {
            display: flex;
            flex-direction: column;
            gap: @layout-spacing-m;

            & p {
                .body-semibold();
                margin: 0;
            }

            .confirmationHeader {
                display: flex;
                flex-direction: column;
                gap: @layout-spacing-xs;
            }

            .conditionsList {
                & img {
                    object-fit: contain;
                    color: var(--neutral-gray-5);
                    align-items: center;
                }
                & i {
                    color: var(--neutral-grey-5);
                    font-size: 20px;
                }
                display: flex;
                flex-direction: column;
                gap: @layout-spacing-xs;

                & > div {
                    display: flex;
                    gap: @layout-spacing-xxs;
                    align-items: center;
                }
            }
        }
    }
}
