:local {
    .select {
        & div {
            color: var(--neutral-grey-6); // legacy
            border-color: var(--neutral-grey-3); // legacy
        }

        &.noCategory {
            & div {
                color: var(--neutral-grey-4); // legacy
            }
        }
    }

    .categoryDropdown {
        padding: 4px 0 0 0;
        max-height: 240px;

        button {
            padding: 5px 12px;
        }

        &.filteredCategories button:first-child {
            display: none;
        }
    }
}

.axiom :local {
    .select {
        & div {
            color: var(--content-neutral-default);
            border-color: var(--border-neutral-default);
        }

        &.noCategory {
            & div {
                color: var(--content-neutral-secondary);
            }
        }
    }
}
