:local {
    .editor {
        flex: 1;
        display: flex;
        flex-direction: column;

        :global {
            .fr-wrapper {
                position: static;
                border: none !important;
            }
            // Move counter to the toolbar
            .fr-counter {
                position: absolute;
                bottom: 3px;
                right: 0;
                margin-right: 2px;
                margin-bottom: 0 !important;
            }
            .fr-newline {
                display: none;
            }
            .fr-wrapper .fr-placeholder {
                white-space: normal;
            }
            .fr-wrapper > .fr-view {
                p {
                    font-size: 14px;
                    font-family: Inter;
                }
            }
            .fr-box {
                flex: 1;
            }
            .fr-toolbar {
                border: none !important;
            }
        }
    }
}
