:local {
    .container {
        width: 272px;
    }

    .toggleContainer {
        padding: var(--layout-spacing-xs);
        border-bottom: 1px solid var(--semantic-divider-secondary);
    }

    .toggleButtonWrapper {
        display: flex;
        width: 100%;

        > div {
            flex: 1;
            text-align: center;
        }
    }

    .dropdownBody {
        max-height: 268px;
    }

    .dropdownFooter {
        padding: var(--layout-spacing-xs);
        flex: 1;
    }

    .cta {
        width: 100%;
    }
}
