@import '~css/new/colorTokens';

:local {
    .starRatingWrapper {
        float: right;
    }

    .thumb {
        padding: 0.25rem;
        border-radius: 1rem;
        color: @classic-neutral-grey-0;
        float: right;
    }

    .greenThumb {
        .thumb();
        background-color: @classic-feedback-success;
    }

    .redThumb {
        .thumb();
        background-color: @classic-feedback-error;
    }
}
