.axiom :local {
    .messageBubble {
        align-self: flex-start;
        border-radius: 16px 16px 16px 0;
        background: var(--elevation-neutral-default);
        box-shadow:
            0 1.448px 3.862px 0 rgba(0, 0, 0, 0.08),
            -0.966px -0.966px 0.483px 0 rgba(0, 0, 0, 0.12) inset;
        max-width: 300px;
        overflow-wrap: break-word;
        padding: var(--layout-spacing-s);
        white-space: pre-line;
    }
}
