@attachment-card-size: 120px;

:local {
    .cardSurface {
        position: relative;
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-xxs);
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);
        overflow: hidden;
        text-decoration: none;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: transparent;
            border-radius: inherit;
            pointer-events: none;
        }

        &:hover {
            &::after {
                background-color: var(--hover-default);
            }
        }
    }

    .attachment {
        display: inline-flex;
        align-items: center;
        height: 40px;
        width: @attachment-card-size;
        padding: var(--spacing-xxs);

        &.preview {
            padding: 0;
            width: 40px;
        }
    }

    .itemMeta {
        width: 100%;
        overflow: hidden;
    }

    .textStack {
        overflow: hidden;
    }

    .name {
        color: var(--content-neutral-default);
    }

    .subtitle {
        color: var(--content-neutral-secondary);
    }
}
