:local {
    .text {
        justify-content: flex-end;
    }
    .heatmap {
        &.p0 {
            background-color: var(--analytics-heatmap-0);
        }
        &.p1 {
            background-color: var(--analytics-heatmap-1);
        }
        &.p2 {
            background-color: var(--analytics-heatmap-2);
        }
        &.p3 {
            background-color: var(--analytics-heatmap-3);
        }
        &.p4 {
            background-color: var(--analytics-heatmap-4);
        }
        &.p5 {
            background-color: var(--analytics-heatmap-5);
        }
        &.p6 {
            background-color: var(--analytics-heatmap-6);
        }
        &.p7 {
            background-color: var(--analytics-heatmap-7);
        }
        &.p8 {
            background-color: var(--analytics-heatmap-8);
            color: var(--analytics-heatmap-0);
        }
        &.p9 {
            background-color: var(--analytics-heatmap-9);
            color: var(--analytics-heatmap-0);
        }
    }
}
