@import (reference) '~css/new/colorTokens';

:local {
    .container {
        display: flex;
        align-items: center;
        margin-top: -8px; // This is needed to align the status with the input
        line-height: 16px;

        .connected,
        .disconnected {
            font-size: 16px;
        }

        .connected {
            color: @classic-feedback-success;
        }

        .disconnected {
            color: @classic-feedback-error;
        }

        span + span {
            margin-left: 8px;
        }
    }
}
