@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .field {
        display: block;
        &:hover {
            .copyButton {
                display: inline-block;
            }
        }
        position: relative;
    }

    .copyButton {
        display: none;
        margin-left: @layout-spacing-xxs;
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -10px;
    }
}
