:local {
    .actionButton {
        flex: 1 1 auto;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dropdownItem {
        max-width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }
}
