:local {
    .popover {
        > div {
            border: none;
            background-color: transparent;
        }
    }
    .iconContainer {
        line-height: initial;
    }

    .removeEmoji {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transform: translateX(-1px);
    }

    .emojiButton.hasEmoji {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

.emoji-mart-preview {
    display: none;
}
