:local {
    .popover {
        > div {
            border: none;
            background-color: transparent;
        }
    }
    .iconContainer {
        line-height: initial;
    }
}

.emoji-mart-preview {
    display: none;
}
