@import '~css/new/colorTokens';

:local .component {
    .list {
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: 1em;
    }

    .listHeader {
        display: flex;
        border-bottom: 1px solid @classic-neutral-grey-3;
    }

    .pagination {
        margin-bottom: 0;

        :global .page-item:first-child .page-link,
        :global .page-item:last-child .page-link {
            padding-left: 0.7em;
            padding-right: 0.7em;
        }
    }
}

:local .card {
    position: relative;

    color: @classic-neutral-grey-6;
    font-size: 13px;
    transition: all 0.12s ease-out;

    .title {
        margin-bottom: 4px;
        font-size: 17px;
    }

    &:hover {
        top: -1px;
        box-shadow: 0 2px 3px fade(@classic-neutral-grey-6, 20%);
        color: @classic-neutral-grey-6;
    }

    i {
        font-size: 32px;
    }

    .action {
        margin-right: 20px;
        padding: 2px 5px;
        border-radius: 20px;
        border: 1px solid @classic-neutral-grey-3;
        color: @classic-neutral-grey-4;

        i {
            line-height: 1.2;
        }
    }
}
