@import '~css/new/colorTokens';
@import (reference) '~css/typography';

:local {
    .label {
        margin-bottom: 8px;
    }

    .ruleSelectWrapper {
        display: flex;
        margin-top: 16px;
        width: 100%;
    }

    .selectInput {
        flex-grow: 1;
    }

    .keyInput {
        max-width: 150px;
    }

    .operator {
        .caption-allcaps();
        color: @classic-neutral-grey-4;
        flex-shrink: 0;
        line-height: 32px;
        padding: 0 8px;
    }
}
