:local {
    .opportunitiesNavigation {
        display: flex;
        gap: var(--spacing-xs);
        align-items: center;
        color: var(--content-neutral-secondary);
        font-kerning: none;
        font-variant-numeric: lining-nums tabular-nums;
        white-space: nowrap;
    }

    .positionCounter {
        margin-right: var(--spacing-sm);
    }
}
