@import '~css/new/colors';

:local {
    .planContainer {
        background-color: @darkWhite;
        padding-bottom: 1px;
        padding-top: 35px;
        margin-bottom: 45px;
        margin-top: -20px;
    }

    .intervalToggle {
        text-align: center;
        padding-bottom: 35px;
    }
}
