@import '../../../../../css/new/mixins';
@import '../../../../../css/new/colors';
@import '../colors';

.plan {
    min-width: 200px;
    min-height: 330px;
    box-shadow: 0 2px 3px 0 #15206533;

    &.current.comparaisonMode,
    &.legacy {
        .card-header {
            background-color: @neutral1;
            color: @neutral10;
        }
    }
    .plan-header {
        border-bottom: 0;
        height: 90px;

        strong {
            font-size: 24px;
        }

        .plan-header-details {
            align-self: center;
            font-size: 16px;
        }

        &.card-header {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 15px 16px 20px 16px;
        }
    }
    .plan-badge {
        .badge {
            border-radius: 100px;
            font-size: 11px;
            padding: 3px 6px;
        }
    }

    .header-text {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
    }

    .card-body {
        padding-left: 20px;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                margin-bottom: 11px;
                min-height: 40px;
            }
        }
    }

    .billable-ticket {
        border-bottom: 2px dotted @neutral4;
    }

    .feature-icon {
        flex-shrink: 0;
        color: @basic;
        background-color: #edf4ff;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            &.disabled {
                background-color: @neutral4;
            }

            background-color: @blue;
            -webkit-mask: url(../../../../../img/integrations/magento2-mono.svg)
                no-repeat 100% 100%;
            mask: url(../../../../../img/integrations/magento2-mono.svg)
                no-repeat 100% 100%;
            height: 20px;
            width: 20px;
        }
    }

    .feature-icon-disabled {
        color: @neutral4;
        background: @neutral1;
    }

    .feature-label-disabled {
        color: @neutral4;
    }

    .card-footer {
        background-color: #fff;
        text-align: center;
    }
}

.featured {
    margin-top: 0;
    border: 2px solid @navy;
    min-height: 432px;
}

.featured-header {
    height: 105px;
}

.featured-header-title {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    position: absolute;
}

.plan-Basic {
    .card-header {
        color: #fff;
        background-color: @basic;
    }
}

.plan-Pro {
    .card-header {
        color: #fff;
        background-color: @pro;
    }
}

.plan-Advanced {
    .card-header {
        color: #fff;
        background-color: @advanced;
    }
}

.plan-Enterprise,
.plan-Custom {
    .card-header {
        background-color: @enterprise;
        color: #fff;
        text-align: center;
    }
}

.plan-Custom {
    .card-header {
        text-align: left;
    }
}

.billable-ticket-tooltip {
    text-align: left;
    background: @TEMP_neutral5;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
