@import '~css/new/colorTokens';
@import '~css/new/mixins';

@import '../colors';

:local {
    .plan {
        border-color: @classic-neutral-grey-3;
        box-shadow: 0px 0px 10px fade(black, 5%);
        min-width: 200px;
        min-height: 330px;
    }

    .planHeader {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: 15px 16px 20px 16px;
        border-bottom: 0;
        height: 90px;
        strong {
            font-size: 24px;
        }
    }

    .planBadge {
        :global(.badge) {
            border-radius: 100px;
            font-size: 11px;
            padding: 3px 6px;
        }
    }

    .planName {
        align-self: end;
        font-size: 24px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .headerText {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
    }

    .headerPrice {
        align-self: center;
        font-size: 16px;
        flex-shrink: 0;
        margin-left: 8px;
    }

    .cardBody {
        padding: 0 10px;
    }

    .featureList {
        margin: 0;
        list-style: none;
        padding: 24px 10px;
    }

    .featureListItem {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .featureIcon {
        --feature-icon-color: @basic;
        --feature-icon-size: 20px;
        font-size: 20px;
        flex-shrink: 0;
        background-color: @classic-main-primary-0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
    }

    .disabledFeatureListItem {
        .featureIcon {
            --feature-icon-color: @classic-neutral-grey-3;
            background: @classic-neutral-grey-1;
        }
        color: @classic-neutral-grey-3;
    }

    .cardFooter {
        background-color: @classic-neutral-grey-0;
        padding: 0;
        text-align: center;
    }

    .greyTheme {
        .card-header {
            background-color: @classic-neutral-grey-1;
            color: @classic-neutral-grey-6;
        }
    }

    .blueTheme {
        .planHeader {
            color: @classic-neutral-grey-0;
            background-color: @basic;
        }
    }

    .navyTheme {
        .planHeader {
            color: @classic-neutral-grey-0;
            background-color: @pro;
        }
    }

    .greenTheme {
        .planHeader {
            color: @classic-neutral-grey-0;
            background-color: @advanced;
        }
    }

    .goldTheme {
        .planHeader {
            background-color: @enterprise;
            color: @classic-neutral-grey-0;
        }
    }
}
