@import '~css/new/colors';

:local {
    .amount {
        color: @neutral8;
        font-size: 14px;

        b {
            color: @neutral10;
        }
    }

    .amountDisabled {
        color: @neutral6;

        b {
            color: @neutral6;
        }
    }

    .automationRow {
        background-color: @darkWhite;
        color: @neutral8;
        font-weight: 400;
        justify-content: space-between;
    }

    .checkbox {
        visibility: hidden;

        ~ .checkboxLabel {
            padding-left: 24px;

            p {
                margin-top: 0;
            }
        }

        ~ .checkboxLabel::after {
            background-color: @white;
            background-position: center top 2px, 0 0;
            background-repeat: no-repeat;
            border: 1px solid @neutral4;
            border-radius: 2px;
            box-sizing: border-box;
            content: '';
            height: 16px;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            will-change: background-color;
            z-index: 2;
        }

        &:checked ~ .checkboxLabel::after {
            background-color: @blue;
            background-image: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.00009 6.77988L1.68676 4.46655C1.42676 4.20655 1.00676 4.20655 0.746758 4.46655C0.486758 4.72655 0.486758 5.14655 0.746758 5.40655L3.53342 8.19322C3.79342 8.45322 4.21342 8.45322 4.47342 8.19322L11.5268 1.13988C11.7868 0.879883 11.7868 0.459883 11.5268 0.199883C11.2668 -0.0601172 10.8468 -0.0601172 10.5868 0.199883L4.00009 6.77988Z" fill="white"/></svg>');
            border: 2px solid @blue;
        }
    }

    .addOnName {
        color: @neutral10;
        font-weight: 600;
        position: relative;
    }

    .checkboxLabel {
        cursor: pointer;

        span {
            border-bottom: 2px dotted @neutral4;
            line-height: 1.2;
            margin-bottom: 0;
            margin-top: 2px;
        }
    }

    .row {
        align-items: center;
        display: flex;
        font-weight: 600;
        height: 52px;
        padding: 16px;

        &:not(:first-child) {
            border-top: 1px solid @neutral4;
        }
    }

    .tooltip {
        text-align: left;
        background: @TEMP_neutral5;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
}
