@import '~css/new/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        .caption-allcaps();
        display: flex;
        column-gap: @layout-spacing-s;
        align-items: center;
        color: var(--neutral-grey-4);
        margin-left: 21px;
        margin-top: @layout-spacing-m;
        margin-bottom: @layout-spacing-s;
    }
}
