@import (reference) '~css/new/colors.less';

:local {
    .force-disabled {
        color: @neutral6;
    }

    .connect-shopify-shop-hint {
        font-weight: normal;
    }

    .enable-self-service-label {
        margin-bottom: 0.5rem;
    }
}
