@import (reference) '~css/new/colorTokens';

:local {
    .centered {
        top: 50%;
        transform: translateY(-50%) !important;
        letter-spacing: -0.01em;
    }

    .actions {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        background: @classic-neutral-grey-2;
    }

    .confirmBtn {
        i {
            font-size: 15px;
            margin-right: 4px;
        }
    }

    .footerWrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
