@import '~css/new/colors';

:local {
    .container {
        display: flex;
    }

    .imgContainer {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 14px;
    }

    .img {
        max-width: 40px;
        max-height: 40px;
        border-radius: 2px;
    }

    .legend {
        flex: 1;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-weight: bold;
        display: inline;
    }

    .subtitle {
        font-weight: normal;
    }

    .numberCol {
        width: 170px;
    }

    .quantityCol {
        width: 90px;
    }

    .times {
        color: @lightGrey;
        font-size: 14px;
        line-height: 133%;
        align-self: center;
        margin-left: auto;
    }

    .delete {
        color: @red;
        cursor: pointer;
        font-size: 17px;
        line-height: 17px;
        padding: 0;
    }

    .focusable {
        &:focus {
            outline: auto 5px -webkit-focus-ring-color;
        }
    }
}
