@import '~css/new/colors';

:local {
  .table {
    thead {
      th {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.05em;
        color: @grey;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 0;
        box-shadow: inset 0px -1px 0px @almostWhite;
      }
    }

    tbody {
      td {
        font-weight: 500;
        font-size: 14px;
        color: @indigo;
        padding-top: 14px;
        padding-bottom: 14px;
        vertical-align: middle;
        min-height: 66px;
      }
    }

    th,
    td {
      font-family: 'Inter UI', sans-serif;

      &:first-child {
        padding-left: 22px;
      }

      &:last-child {
        padding-right: 22px;
      }
    }
  }
}
