@import '~css/new/colors';

:local {
    .required {
        &::after {
            content: ' *';
            color: @red;
        }
    }

    .roleLabel {
        display: flex;
        align-items: baseline;
    }

    .roleDropdown {
        margin-bottom: 14px;
    }

    .paywall {
        background: @neutral0;
        border: 1px solid @lighterGrey;
        border-radius: 3px;
        padding: 10px;

        div {
            color: @neutral8;
        }
    }
}
