@import '~css/new/colors';

:local {
    .required {
        &::after {
            content: ' *';
            color: @red;
        }
    }

    .roleLabel {
        display: block;
    }

    .roleDropdown {
        margin-bottom: 14px;
    }
}
