@import '~css/new/colors';

:local .component {
    .list {
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: 1em;

        .tableHeader {
            text-transform: uppercase;
            color: @classic-neutral-grey-4;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
        }
    }

    .pagination {
        margin-bottom: 0;

        :global .page-item:first-child .page-link,
        :global .page-item:last-child .page-link {
            padding-left: 0.7em;
            padding-right: 0.7em;
        }
    }
}
