@import '~css/new/colorTokens';

:local .component {
    display: block;
    padding: 1em 30px;
    border-bottom: 1px solid @classic-neutral-grey-3;

    &:hover {
        background: @classic-neutral-grey-1;
    }

    .avatar {
        margin-right: 20px;
    }

    .name {
        margin-bottom: 0;

        color: @classic-neutral-grey-6;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.3;
    }

    .email {
        margin-bottom: 0;

        font-size: 13px;
    }

    .name,
    .email {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .meta {
        flex: 4;
        min-width: 200px;
    }

    .role,
    .twoFa {
        flex: 3;
        min-width: 50px;
    }

    .delete {
        flex: 1;
        text-align: right;
    }
}
