@import '~css/new/colorTokens';
@import '~css/new/mixins';

:local {
    .alert {
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid;
        border-radius: 4px;
        padding: 16px 24px;
        background-color: @classic-neutral-grey-0;
        min-height: 54px;

        &.info {
            border: 1px solid @classic-main-primary;
        }

        &.success {
            border: 1px solid @classic-feedback-success;
        }

        &.warning {
            border: 1px solid @classic-feedback-warning;
        }

        &.error {
            border: 1px solid @classic-feedback-error;
        }

        &.loading {
            border: 1px solid @classic-neutral-grey-4;
        }

        &.closable {
            padding-right: 56px;
        }
    }

    .iconContainer {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        flex-wrap: wrap;

        @media @desktops {
            flex-wrap: initial;
        }
    }

    .label {
        color: @classic-neutral-grey-6;
        line-height: 20px;
        letter-spacing: -0.01em;
        width: 100%;
    }

    .customActions {
        flex-shrink: 0;
        line-height: 1;
    }

    .close {
        position: absolute;
        top: 0;
        margin: auto;
        right: 24px;
        display: flex;
        height: 100%;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    .closeIcon {
        width: 11px;
        height: 11px;
    }

    .loadingIcon {
        display: flex;
        align-items: center;
        width: 25px;
        height: 20px;
        overflow: visible;
    }
}
