:local {
    .selection {
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;
        padding: var(--layout-spacing-xxs) var(--layout-spacing-xs);
    }

    .placeholder {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: var(--neutral-grey-4); // legacy
        cursor: pointer;
    }
}

.axiom :local {
    .selection {
        border: 1px solid var(--border-neutral-default);
    }

    .placeholder {
        color: var(--content-neutral-secondary);
    }
}
