@import (reference) '~css/typography';

:local {
    .loader {
        padding-inline: 13.3px;
        margin-bottom: 12px;
    }

    .errorMessage {
        color: var(--feedback-error);
        margin-left: 12.5px;
        .body-regular();
    }

    .infoMessage {
        margin-left: 12.5px;
        margin-bottom: 12px;
        .body-regular();
    }

    .metafields {
        margin-bottom: 12px;
    }
}
