:local {
    .label {
        margin-bottom: var(--layout-spacing-xs);
    }
    .field {
        margin-bottom: var(--layout-spacing-s);
        input {
            background-color: var(--neutral-grey-0); // legacy
        }
    }
}

.axiom :local {
    .field {
        input {
            background-color: var(--elevation-neutral-default);
        }
    }
}
