:local {
    .expandAll {
        float: right;
        margin-left: 8px;
        font-size: 1.4rem;
        line-height: 1rem;
        color: var(--neutral-grey-4); // legacy
        cursor: pointer;
    }
}

.axiom :local {
    .expandAll {
        color: var(--content-neutral-secondary);
    }
}
