:local {
    .ctaButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .primaryButton {
        background-color: var(--neutral-grey-6) !important;
        color: var(--neutral-grey-0) !important;
        border-color: var(--neutral-grey-6) !important;
    }

    .secondaryButton {
        color: var(--neutral-grey-5) !important;
    }

    .tertiaryContainer {
        display: flex;
        align-items: center;
        gap: 2px;

        .secondaryText {
            color: var(--neutral-grey-5);
        }

        .tertiaryContainerButton {
            padding: var(--layout-spacing-xxs);
        }
    }

    .tertiaryButton {
        flex: 0 0 100%;
        margin-top: var(--layout-spacing-xs);
        margin-left: -5px;
    }

    .tertiaryButtonText {
        color: var(--neutral-grey-6);
    }
}

.axiom :local {
    .upgradeButton {
        background-color: var(--content-neutral-default) !important;
        color: var(--static-default-white) !important;
        border-color: var(--content-neutral-default) !important;
    }

    .learnMoreButton {
        color: var(--content-neutral-secondary) !important;
    }
}
