:local {
    .upgradeButton {
        background-color: var(--neutral-grey-6) !important;
        color: var(--neutral-grey-0) !important;
        border-color: var(--neutral-grey-6) !important;
    }

    .learnMoreButton {
        color: var(--neutral-grey-5) !important;
    }

    .bookDemoButton {
        flex: 0 0 100%;
        margin-top: var(--layout-spacing-xs);
        margin-left: -5px;
    }

    .bookDemoButtonText {
        margin-left: var(--layout-spacing-xxs);
        color: var(--neutral-grey-6);
    }

    .welcomePageButtons {
        display: flex;
        gap: var(--layout-spacing-s);
    }
}
