@import '~css/new/colors';

:local {
    .cardContainer {
        max-width: 420px;
    }
    .textBlock {
        color: @blockTextColor;
    }
    .totalReviews {
        color: @lightPurple2;
    }
    .productImage {
        width: 70px;
        height: 70px;
        border-style: solid;
        border-width: thin;
        border-color: @lightPurple2;
    }
    .chevronButton {
        color: @lightPurple2;
        font-size: 20px;
        text-align: right;
    }
    .starRatingWrapper {
        float: left;
    }
    .cardDetail {
        width: 100px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
    }
}
