@import (reference) '~css/typography.less';

:local {
    .titleSection {
        padding-bottom: 0;
    }

    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--neutral-grey-6);
        .body-semibold();
    }

    .title {
        display: flex;
        align-items: center;
    }
}
