:local {
    .select > label {
        display: none;
    }

    // TODO: use an actual <Button> once <SelectInput> supports overriding the <Trigger> element
    .select > div {
        display: inline-block;
        width: auto;

        background-color: var(--neutral-grey-2);
        border-color: var(--neutral-grey-3);
        color: var(--neutral-grey-6);
        font-size: 14px;
        font-weight: 500;

        &:hover {
            border-color: var(--neutral-grey-3);
        }

        &:active {
            border-color: var(--neutral-grey-4);
        }

        &::before {
            padding-left: 12px;
            padding-right: 6px;
            content: 'Add Ticket Field';
        }

        i {
            color: var(--neutral-grey-6);
        }

        // Hide selected option
        > div {
            display: none;
        }
    }
}
