:local {
    .input {
        //TODO(@irinel-gorgias) remove this once we get rid of the <DEPRECATED_InputField>
        input {
            height: 34px !important;
        }

        &.error {
            input {
                border-color: var(--feedback-error);
                box-shadow: 0 0 0 0.2rem
                    hsla(
                        var(--feedback-error-h),
                        var(--feedback-error-s),
                        var(--feedback-error-l),
                        0.1
                    );
            }
        }
    }

    .error {
        color: var(--feedback-error);

        i {
            margin-right: 4px;
        }
    }

    .policy {
        margin-bottom: 0;
        padding-inline-start: 1.5em;
    }
}
