@import '~froala-editor/css/froala_editor.pkgd.min.css';

:local {
    .label {
        margin-bottom: 8px;
    }

    .editor {
        border-radius: 4px !important;
        border: 1px solid var(--neutral-grey-3) !important;

        :global {
            .fr-wrapper {
                position: static;
                border: none !important;
            }
            // Move counter to the toolbar
            .fr-counter {
                position: absolute;
                bottom: 3px;
                right: 0;
                margin-right: 2px;
                margin-bottom: 0 !important;
            }
            .fr-newline {
                display: none;
            }
            .fr-wrapper .fr-placeholder {
                white-space: normal;
            }
            .fr-wrapper > .fr-view {
                font-size: 14px;
                font-family: Inter;

                p,
                ul,
                ol {
                    margin-bottom: 5px;
                }
            }
            .fr-toolbar {
                border: none !important;
            }
            .fr-wraper {
                border: none !important;
            }
        }
    }
}
