:local {
    .name {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .noStore {
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .noStore {
        color: var(--content-neutral-secondary);
    }
}
