@import '~css/new/colorTokens.less';
@import '~css/new/layout.less';
@import (reference) '~css/typography.less';

:local {
    .channelAccordionHeader {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .channelIcon {
        font-size: 20px;
        color: @classic-neutral-grey-4;
    }

    .channelName {
        .body-semibold();
        font-size: 14px;
        margin-left: @layout-spacing-xs;
        flex-grow: 1;
    }

    .channelSettingsLink {
        font-size: 12px;
        margin-right: 14px;
    }

    .featureList {
        display: flex;
        flex-direction: column;
        row-gap: @layout-spacing-m;
    }

    .feature {
        display: flex;
    }

    .featureName {
        .body-semibold();
        font-size: 14px;
    }

    .featureHint {
        color: @classic-neutral-grey-4;
        margin-top: @layout-spacing-xxs;
        font-size: 12px;
    }
}
