@import '~css/new/colorTokens.less';
@import '~css/new/layout.less';
@import (reference) '~css/typography.less';

:local {
    .channelAccordionHeader {
        display: flex;
        align-items: center;
        flex: 1;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .channelName {
        .body-semibold();
        margin-left: @layout-spacing-xs;
        margin-right: @layout-spacing-s;
        flex-grow: 1;
    }

    .featureList {
        display: flex;
        flex-direction: column;
        row-gap: @layout-spacing-m;
    }
}
