:local .component {
    display: flex;
    flex-direction: column;

    .list {
        margin-bottom: 1em;
        margin-left: -24px;
        margin-right: -24px;
    }

    .listContainer {
        height: 100%;
        width: 100%;
    }

    .listHeader {
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
        display: flex;
    }

    .pagination {
        margin-bottom: 0;

        :global .page-item:first-child .page-link,
        :global .page-item:last-child .page-link {
            padding-left: 0.7em;
            padding-right: 0.7em;
        }
    }

    .navigation {
        margin-bottom: 16px;
        margin-left: 16px;
    }
}

:local .card {
    position: relative;

    color: var(--neutral-grey-6); // legacy
    font-size: 13px;
    transition: all 0.12s ease-out;

    .title {
        margin-bottom: 4px;
        font-size: 17px;
    }

    &:hover {
        top: -1px;
        box-shadow: 0 2px 3px
            hsla(
                var(--neutral-grey-6-h),
                var(--neutral-grey-6-s),
                var(--neutral-grey-6-l),
                0.2
            );
        color: var(--neutral-grey-6); // legacy
    }

    i {
        font-size: 32px;
    }

    .action {
        margin-right: 20px;
        padding: 2px 5px;
        border-radius: 20px;
        border: 1px solid var(--neutral-grey-3); // legacy
        color: var(--neutral-grey-4); // legacy

        i {
            line-height: 1.2;
        }
    }
}

.axiom :local .component {
    .listHeader {
        border-bottom: 1px solid var(--border-neutral-default);
    }
}

.axiom :local .card {
    padding: var(--spacing-md);
    border-radius: var(--spacing-sm);
    border: 1px solid var(--border-neutral-default);
    background-color: var(--elevation-neutral-mid);
    box-shadow: var(--effects-shadow-container);
    color: var(--content-neutral-default);

    &:hover {
        top: 0;
        box-shadow: var(--effects-shadow-container);
        color: var(--content-neutral-default);
    }

    .action {
        border: 1px solid var(--border-neutral-default);
        color: var(--content-neutral-secondary);
    }
}
