@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .preview {
        border-radius: var(--Main-M, 24px);
        background: var(
            --linear-grey-magenta,
            linear-gradient(
                166deg,
                var(--neutral-grey-2) 30.85%,
                var(--accessory-magenta-25) 145.54%
            )
        );
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: 6.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: @layout-spacing-s;
        pointer-events: none;
    }

    .row:first-child {
        margin-left: -150px;
    }

    .row:last-child {
        margin-left: -50px;
    }

    .row {
        display: flex;
        column-gap: @layout-spacing-s;
        max-height: 290px;

        & > .topProducts {
            min-width: 410px;
        }
    }

    .score {
        min-width: 225px;

        & > div:has(svg) {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .chartContent > :first-child {
        max-height: 190px;
    }
}
