@import '~css/new/mixins';

:local {
    .wizard {
        width: 100%;
        max-width: 1000px;
        min-width: 480px;
        display: flex;
        flex-direction: column;
    }

    .content {
        background: var(--background-primary);
        margin: var(--layout-spacing-l);
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .wizardProgressHeader {
        top: 0;
        position: sticky;
        display: flex;
        justify-content: flex-start;
        margin-bottom: var(--layout-spacing-m);
        z-index: 1;
        background: var(--elevation-neutral-default);

        @media (max-width: 1279px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .footer {
        margin-top: auto;
    }

    .footerContent {
        display: flex;
        padding: var(--md, 16px) 0;
        gap: var(--xs, 8px);
    }
}
