:local {
    .videoPlaceholder {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        background-color: var(--surface-neutral-secondary);
        border-radius: var(--spacing-xxs);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sections {
        :global(button[data-hovered]) {
            color: var(--content-neutral-default);
        }

        :global(button[aria-expanded]) {
            height: 32px;
        }
    }
}
