@import '~css/new/colors';

:local {
    .table {
        width: 100%;
        table-layout: fixed;

        thead tr {
            border-bottom: 1px solid @tableHeadBorder;

            th {
                border-bottom: none;
                color: @grey;
                font-size: 11px;
                letter-spacing: 0.6px;
                text-transform: uppercase;
            }

            .axisHelperIcon {
                font-size: 13px;
            }
        }

        .satisfaction-survey-link {
            width: 50%;
            word-break: break-word;
        }

        .ticket-details {
            width: 30%;
        }

        tbody tr {
            border-bottom: 1px solid @tableRowBorder;

            &:hover {
                border-bottom: 1px solid @tableRowBorderHover;
                background: @tableRowBgHover;
            }

            td:first-child {
                font-weight: 500;
            }

            .lineCell {
                vertical-align: middle;
            }
        }

        .cell-wrapper {
            min-height: 30px;
            display: flex;
            align-items: center;
        }

        .emptyDuration {
            color: @neutral6;
        }

        .userName {
            font-weight: 600;
        }

        .statusDot {
            background-color: @orange;
            border-radius: 4px;
            display: inline-block;
            height: 8px;
            margin-right: 8px;
            width: 8px;

            &.isOnline {
                background-color: @green;
            }
        }
    }
}
