@import '~css/new/colors';

:local {
    .empty {
        color: @neutral6;
    }

    .wrapper {
        display: flex;
        align-items: center;
    }

    .openTickets {
        padding: 0 8px;
    }

    .separator {
        background-color: @neutral4;
        margin: 0 16px;
        width: 1px;
        align-self: stretch;
    }

    .channelsBreakdown {
        display: flex;
        flex-wrap: wrap;
    }

    .channel {
        margin-right: 16px;
        display: flex;
        align-items: center;
    }

    .channelIcon {
        color: @neutral4!important;
        font-size: 16px;
        margin-right: 9px;
    }
}
