@import (reference) '~css/typography.less';

:local {
    .component {
        color: var(--neutral-grey-4); // legacy
        .body-regular();
        padding: 12px 24px;
        display: flex;
    }

    .name {
        font-weight: 600;
    }

    .wrapper {
        display: flex;
        white-space: pre;
    }

    .dot1 {
        :global {
            animation: bounce 1s ease infinite;
            -webkit-animation: bounce 1s ease infinite;
        }
    }

    .dot2 {
        :global {
            animation: bounce 1s ease infinite 0.1s;
            -webkit-animation: bounce 1s ease infinite 0.1s;
        }
    }

    .dot3 {
        :global {
            animation: bounce 1s ease infinite 0.2s;
            -webkit-animation: bounce 1s ease infinite 0.2s;
        }
    }
}

.axiom :local {
    .component {
        color: var(--content-neutral-secondary);
    }
}

:global {
    @keyframes bounce {
        0% {
            transform: scale(1, 1) translateY(0);
        }

        10% {
            transform: scale(1.1, 0.9) translateY(0);
        }

        30% {
            transform: scale(0.9, 1.1) translateY(-3px);
        }

        50% {
            transform: scale(1.05, 0.95) translateY(0);
        }

        65% {
            transform: scale(1, 1) translateY(0);
        }

        100% {
            transform: scale(1, 1) translateY(0);
        }
    }
}
