@import (reference) '~css/new/colors.less';

:local {
    .modal-centered {
        top: 50%;
        transform: translateY(-50%) !important;
    }
    .footer-actions {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .delete-btn {
        i {
            color: @red;
            font-size: 15px;
            margin-right: 4px;
        }
    }
}
