:local {
    .container {
        border-radius: 4px;
        position: relative;
    }

    .dropdownContainer {
        border: 1px solid var(--neutral-grey-3); // legacy
        position: absolute;
        z-index: 10;
        width: 100%;
        background-color: white; // legacy
        padding: var(--layout-spacing-xs);
    }
    .dropdown {
        max-height: 190px;
        overflow-y: auto;
    }
    .dropdownItem {
        padding: var(--layout-spacing-xs);
        cursor: pointer;
    }
    .dropdownItem:hover {
        background-color: var(--neutral-grey-1); // legacy
    }
    .focusedDropdownItem {
        background-color: var(--neutral-grey-1); // legacy
    }
    .dropdownSkeleton {
        margin-bottom: var(--layout-spacing-xxs);
    }
    .noResults {
        color: var(--neutral-grey-5);
    }
}

.axiom :local {
    .dropdownContainer {
        border: 1px solid var(--border-neutral-default);
        background-color: var(--elevation-neutral-default);
    }

    .dropdownItem:hover {
        background-color: var(--surface-neutral-secondary);
    }

    .focusedDropdownItem {
        background-color: var(--surface-neutral-secondary);
    }
}
