@import (reference) '~css/new/colorTokens';

:local {
    .close-btn {
        border: 0;
        background-color: transparent;

        font-size: 20px;
    }

    .delete-btn {
        margin-left: auto;

        i {
            color: @classic-feedback-error;
        }
    }

    .textfield {
        margin-bottom: 16px;

        label {
            color: @classic-neutral-grey-6;
            font-size: 14px;
            font-weight: 600;
        }

        &.required {
            label:after {
                content: '*';
                margin-left: 4px;
                color: @classic-feedback-error;
                font-size: 14px;
            }
        }

        input {
            height: 32px;
            border-color: @classic-neutral-grey-3;
            color: @classic-neutral-grey-6;
        }

        small {
            color: @classic-neutral-grey-5 !important;
        }
    }

    .slugWrapper {
        display: flex;
        justify-content: space-between;
    }

    .slug-prefix,
    .slug-suffix {
        height: 32px;
        padding: 6px 8px;
        border: 1px solid @classic-neutral-grey-3;
        background-color: @classic-neutral-grey-1;

        color: @classic-neutral-grey-6;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    .slug-prefix {
        border-right: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .slug-suffix {
        border-left: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .groupedFormGroups {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        & > div {
            width: 100%;
        }
    }

    .tooltip {
        max-width: 180px;
        font-size: 12px;

        :global(.tooltip-inner) {
            padding: 8px;
        }
    }

    .tooltipIcon {
        padding-left: 4px;
        color: @classic-neutral-grey-4;
        font-size: 14px;
    }

    .parentDropdown {
        padding: 4px 0 0 0;
        max-height: 240px;

        button {
            padding: 5px 12px;
        }

        &:not(.hideFirstOption) button:last-child {
            height: 40px;
            border-top: 1px solid @classic-neutral-grey-3;
            color: @classic-main-primary;
            text-align: center;
            position: sticky;
            bottom: 0px;
            background-color: @classic-neutral-grey-2;
            border-radius: 0;
            padding: 5px 0px;
        }

        &.hideFirstOption {
            button:first-child {
                display: none;
            }
        }
        &.hideClearSelection {
            button:last-child {
                display: none;
            }
        }
    }
}
