@import '~css/new/colorTokens';

:local {
    .wrapper {
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .deleteIcon {
        color: @classic-feedback-error;
        font-size: 20px;
        cursor: pointer;
    }

    .dragIndicator {
        color: @classic-neutral-grey-3;
        font-size: 20px;
        cursor: move;
    }
}
