:local {
    .wrapper {
        display: flex;
        gap: 4px;
        align-items: center;

        & i {
            font-size: 20px;
        }

        &:not(:last-child) {
            margin-bottom: var(--layout-spacing-s);
        }
    }

    .deleteIcon {
        color: var(--feedback-error);
        cursor: pointer;
    }

    .dragIndicator {
        color: var(--neutral-grey-3);
        cursor: move;
    }
}
