@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        padding: @layout-spacing-s;
        gap: @layout-spacing-s;
        background-color: var(--neutral-grey-2);
        border-radius: 4px;
        align-items: flex-start;
    }

    .code {
        white-space: pre-wrap;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: var(--neutral-grey-5);
    }
}
