:local {
    .banner {
        display: flex;
        justify-content: center;
        padding: 16px 20px;
        background: var(--neutral-grey-0);
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 24px;
    }

    .bannerInfo {
        border: 1px solid var(--main-primary);
    }

    .bannerError {
        border: 1px solid var(--feedback-error);
    }

    .bannerWarning {
        border: 1px solid var(--feedback-warning);
    }

    .bannerSuccess {
        border: 1px solid var(--feedback-success);
    }

    .icon {
        margin-right: 16px;
    }

    .bannerText {
        color: var(--neutral-grey-6);
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        letter-spacing: -0.01em;
        margin-left: -27px;

        > * {
            margin-left: 27px;
        }

        > span {
            display: inline-block;
        }
    }
}
