:local {
    .container {
        display: flex;
        align-items: flex-start;
        gap: var(--layout-spacing-xs);
    }

    .selectField {
        flex: 1;
    }

    .timeInputs {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);

        &.hidden {
            visibility: hidden;
        }
    }
}
