@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .fieldWrapper {
        display: block;
    }

    .field {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 20px;
        &:hover {
            .copyButton {
                visibility: visible;
            }
        }
    }

    .copyButton {
        display: inline-block;
        visibility: hidden;
        margin-left: var(--layout-spacing-xxs);
        position: absolute;
        top: 0;
        right: -5px;
    }

    .colorBadge {
        margin-bottom: 3.33px;
        margin-right: 5.33px;
        width: 14px;
        height: 14px;
    }

    .tooltip {
        color: white;
    }
}
