:local {
    .formContainer {
        position: relative;
    }

    .buttonsBanner {
        display: block;
        position: absolute;
        top: var(--layout-spacing-m);
        right: var(--layout-spacing-m);
        padding: var(--layout-spacing-xs);
        z-index: 9;
        border-radius: 8px;
        background: var(--elevation-neutral-mid);

        /* shadow/shadow-container */
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.04);
    }
}

.axiom :local {
    .buttonsBanner {
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-sm);
        box-shadow: var(--effects-shadow-container);
    }
}
