:local {
    .buttonsBanner {
        padding: var(--layout-spacing-s) var(--layout-spacing-m);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--layout-spacing-s);
        box-shadow: 0 2px 4px 0 rgba(22, 22, 22, 0.16);
    }
}
