:local {
    .emojiPicker {
        margin-top: 1px;
        margin-left: 2px;
        margin-right: 2px;
        width: 30px;
    }

    .inputGroup {
        display: flex;
    }
}

.axiom :local {
    .inputGroup {
        > :global(*) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}
