:local {
    .wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .upgradeButton {
        background-color: var(--neutral-grey-6) !important; // legacy
        color: var(--neutral-grey-0) !important;
        border-color: var(--neutral-grey-6) !important; // legacy
    }
}

.axiom :local {
    .upgradeButton {
        background-color: var(--surface-inverted-default) !important;
        border-color: var(--border-neutral-default) !important;
    }
}
