@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .navbar h4 {
        padding-right: 14px;
    }

    .wrapper {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: @layout-spacing-xs;
    }

    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
