:local {
    .widgetSpacer {
        height: 6px;
        background: var(--elevation-neutral-bg);
        border-top: 1px solid var(--border-neutral-default);
        border-bottom: 1px solid var(--border-neutral-default);
        box-sizing: border-box;
    }
}
