:local {
    .header {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxxxs);
        padding: var(--spacing-xs) var(--spacing-sm);
        scroll-margin-top: 56px;
    }

    .orderNumber {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .metadata {
        color: var(--content-neutral-secondary);
    }
}
