:local {
    .container {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        flex-shrink: 0;

        &.small {
            font-size: 12px;
        }
    }

    .icon {
        &.pending {
            color: var(--feedback-warning);
        }

        &.failed,
        &.unverified {
            color: var(--feedback-error);
        }

        &.success {
            color: var(--feedback-success);
        }
    }
}
