@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        p {
            color: var(--neutral-grey-6); // legacy
            .heading-page-semibold();
        }
    }
}

.axiom :local {
    .container {
        p {
            color: var(--content-neutral-default);
        }
    }
}
