@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;

        .articleContainer {
            display: flex;
            flex-direction: column;
            gap: var(--layout-spacing-s);

            .infoContainer {
                display: flex;
                justify-content: space-between;
                .titleContainer {
                    display: flex;
                    flex-direction: column;
                    gap: var(--layout-spacing-xxs);
                    .subTitle {
                        color: var(--neutral-grey-5);
                        .caption-allcaps();
                    }
                    .title {
                        color: var(--neutral-grey-6);
                        .heading-section-semibold();
                    }
                }

                .editContainer {
                    display: flex;
                    gap: var(--layout-spacing-xxs);
                    i {
                        color: var(--neutral-grey-5);
                        padding: 6px;
                        font-size: 20px;
                        align-self: center;
                        cursor: pointer;
                    }
                }
            }
            .contentContainer {
                border-radius: 4px;
                background: var(--neutral-grey-1);
                padding: var(--layout-spacing-xl);
                overflow: auto;

                div,
                p,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                span {
                    background: var(--neutral-grey-1, #f9f9f9) !important;
                    color: var(
                        --modern-neutral-grey-6,
                        var(--neutral-grey-6, #222)
                    ) !important;
                }
            }
        }
    }
}
