@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;

        &.loader {
            height: 100%;
        }

        .preview {
            display: flex;
            flex-direction: column;
            padding: var(--layout-spacing-m);
            height: 100%;

            &.isLoading {
                justify-content: center;
            }
        }
    }
}
