@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: var(--layout-spacing-m);
        gap: var(--layout-spacing-xs);

        .header {
            .heading-section-semibold();
            color: var(--neutral-grey-5); // legacy
        }

        .description {
            .body-regular();
            color: var(--neutral-grey-5); // legacy
        }
    }
}

.axiom :local {
    .container {
        .header {
            color: var(--content-neutral-secondary);
        }

        .description {
            color: var(--content-neutral-secondary);
        }
    }
}
