:local {
    .settingButton {
        font-size: 15px;

        &,
        &:focus {
            display: inline-block;
            float: right;
            position: relative;
            color: hsla(
                var(--neutral-grey-0-h),
                var(--neutral-grey-0-s),
                var(--neutral-grey-0-l),
                0.5
            );
            transition:
                color 0.2s,
                border-color 0.2s;
            cursor: pointer;
        }
        &:hover,
        &.active {
            color: var(--neutral-grey-0);
        }
    }
}
