@import '~css/new/colorTokens';

:local {
    .settingButton {
        font-size: 15px;

        &,
        &:focus {
            display: inline-block;
            float: right;
            position: relative;
            color: fade(@classic-neutral-grey-0, 50%);
            transition: color 0.2s, border-color 0.2s;
            cursor: pointer;
        }
        &:hover,
        &.active {
            color: @classic-neutral-grey-0;
        }
    }
}
