:local .header {
  font-weight: 700;
}

:local .viewItem {
  cursor: pointer;
  border-top: 1px dashed transparent !important;
  border-bottom: 1px dashed transparent !important;
  padding: 2px 1.33333333em !important;

  &:hover {
    .viewItemName {
      color: #ffffff !important;
    }
  }

  &.draggable {
    cursor: move;
    &:hover:not(.chosen) {
      border-color: rgba(255, 255, 255, .5) !important;
    }
    &.chosen {
      background: #1c4969 !important;
      & .viewItemName {
        color: #ffffff !important;
      }
    }
    &.ghost {
      opacity: 0;
    }
  }
}

:local .viewItemName {
  color: rgba(255, 255, 255, .5) !important;
  font-size: 13px !important;
  cursor: pointer !important;
}
