@import '~@gorgias/design-tokens/dist/css/typographyTokens.less';
@import (reference) '~css/typography';

:local {
    .chart {
        border-radius: 4px;
        display: flex;
        gap: 1px;
        height: 16px;
        margin-bottom: var(--layout-spacing-s);
        overflow: hidden;
        width: 100%;
    }

    .legend {
        float: right;
    }

    .noData {
        .body-regular();
        text-align: center;
        color: var(--neutral-grey-5);

        p {
            margin: 0;
        }
    }

    .noDataTitle {
        font-weight: @body-semibold-font-weight;
    }
}
