@import (reference) '~css/new/mixins';
@import (reference) '~css/backdrop';

:local {
    .drawer {
        grid-template-areas: 'header' 'main';
        grid-template-rows: 64px auto 0;
    }

    .rootDrawer {
        backdrop-filter: blur(2px);

        > div:first-child {
            background-color: transparent;
        }
    }

    .header,
    .tabNavigator {
        background-color: var(--neutral-grey-1);
        padding: 0 10px 0 0;
    }

    .content {
        background-color: var(--neutral-grey-1);
        padding: 0;
    }
}
