@import '~css/new/colorTokens';
@import (reference) '~css/typography';

:local {
    .linkList {
        margin: 12px 0 0 0;
        padding: 0;
    }
    .linkRow {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        &:hover .editIcons {
            display: block;
        }
        &:last-of-type {
            margin-bottom: 0px;
        }
    }
    .link {
        display: flex;
        flex: 0 1 auto;
        align-items: center;
        padding: 4px;
        line-height: 1;
        font-size: 13px;
        font-weight: 500;
    }
    .linkIcon {
        margin-left: 6px;
        font-size: 14px;
    }
    .editIcons {
        display: none;
        flex: 0 0 auto;
        font-size: 1.3rem;
        line-height: 1.3rem;
        i {
            padding: 0 4px;
            cursor: pointer;
        }
    }
    .collapseGroup {
        margin: 0;
        & > li:first-child {
            margin-top: 8px;
        }
    }
    .showMore {
        margin-top: 8px;
        .caption-allcaps();
    }
    .addButton {
        margin-top: 12px;
        width: 100%;
    }
}
