@import (reference) '~css/typography';

:local {
    .modal {
        max-width: 504px;
    }

    .modalImage {
        border-radius: 8px 8px 0 0;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .buttonWrapper {
        display: flex;
        flex-direction: column;
        padding-top: var(--layout-spacing-l);
    }

    .buttonSpaced {
        margin-bottom: var(--layout-spacing-xs);
    }

    .loading {
        display: flex;
        justify-self: center;
    }

    .modalBody {
        padding: var(--layout-spacing-l);
    }

    .text {
        margin: 0;
    }

    .loadingContainer {
        display: flex;
        gap: var(--layout-spacing-xs);
        flex-direction: column;
    }
}
