:local .managedRule {
    display: flex;
    min-height: 492px;

    .legend {
        margin: 8px 0 0 0;
        color: var(--neutral-grey-4); // legacy
        text-align: center;
    }

    .button {
        max-width: 160px;
        margin-block: 24px;
        width: 100%;
        text-transform: none;
        pointer-events: none;
        cursor: initial;
    }

    .bordered {
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
        padding: 16px;
    }
    .container {
        display: flex;
        gap: 24px;
    }
    .description {
        flex-basis: 43.7%;
    }

    .example {
        display: flex;
        flex-direction: column;
        flex-basis: 56.3%;
    }

    &.autoCloseSpam {
        .example {
            display: flex;
            background-color: var(--neutral-grey-1); // legacy
        }
    }

    &.autoReplyWismo,
    &.autoReplyFAQ,
    &.autoReplyReturn {
        .addendum {
            &::before {
                content: '*';
            }
            font-style: italic;
            color: var(--neutral-grey-4); // legacy // legacy
        }
        .exampleContainer {
            flex-grow: 1;
            background-color: var(--neutral-grey-1); // legacy
            max-height: 492px;
            overflow: scroll;
            .fakeMessage {
                margin-bottom: 26px;
                flex-direction: row;
                display: flex;
                .fakeLink {
                    color: var(--main-primary); // legacy
                    text-decoration: underline;
                    font-weight: 600;
                }

                .name {
                    font-weight: 600;
                    margin-bottom: 6px;
                }
                .autoResponder {
                    color: var(--main-primary); // legacy
                }

                .clientAvatar {
                    background: var(--neutral-grey-2); // legacy

                    span {
                        color: var(--neutral-grey-4); // legacy // legacy
                    }
                }

                .autoResponderAvatar {
                    background: #fff8f3;
                }
            }
        }
    }
}

.axiom :local .managedRule {
    .legend {
        color: var(--content-neutral-secondary);
    }

    .bordered {
        border: 1px solid var(--border-neutral-default);
    }

    &.autoCloseSpam {
        .example {
            background-color: var(--elevation-neutral-mid);
        }
    }

    &.autoReplyWismo,
    &.autoReplyFAQ,
    &.autoReplyReturn {
        .addendum {
            color: var(--content-neutral-secondary);
        }
        .exampleContainer {
            background-color: var(--elevation-neutral-mid);
            .fakeMessage {
                .fakeLink {
                    color: var(--surface-additional-blue);
                }

                .autoResponder {
                    color: var(--surface-additional-blue);
                }

                .clientAvatar {
                    background: var(--elevation-neutral-mid);

                    span {
                        color: var(--content-neutral-secondary);
                    }
                }
            }
        }
    }
}
