:local {
    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        gap: var(--spacing-sm, 12px);
        width: 100%;
        padding: var(--spacing-md, 16px);
    }
}
