@import (reference) '~css/typography';

:local {
    .navbarLink {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .sectionTriggerTitle {
        width: 90%;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .sectionContent {
        &[data-state='open'] {
            margin-bottom: var(--layout-spacing-s);
        }
    }

    .actionsContainer {
        position: relative;
        width: 100%;

        &:hover {
            border-radius: 8px;
            background: var(--navigation-background-accent); // legacy
            box-shadow: 0px 1px 2px 0px rgba(22, 22, 22, 0.16);
        }

        .toggle {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--navigation-text-item) !important; // legacy
            font-size: 16px;
            line-height: 20px;
            padding: 3px;
            transform: translateY(-1px);
            position: absolute;
            right: 30px;
            bottom: 4px;
            z-index: 10;

            > i {
                font-size: 16px !important;
                color: var(--navigation-text-item); // legacy
            }

            &:hover,
            &:focus {
                background-color: var(
                    --navbar-link-hover-background-color
                ); // legacy
                color: var(
                    --navbar-block-toggle-hover-color
                ) !important; // legacy
                box-shadow: unset;
            }

            &:active {
                background-color: var(
                    --navbar-block-toggle-active-background-color
                ) !important; // legacy
                color: var(--navbar-block-toggle-active-color); // legacy
            }
        }
    }

    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .action {
        .body-regular();
        width: 207px;
        text-overflow: inherit;
        white-space: pre-line;
        text-align: center;
        &:hover {
            background: var(--white); // legacy
        }
    }
}

.axiom :local {
    .actionsContainer {
        &:hover {
            background: var(--hover-default);
        }

        .toggle {
            color: var(--content-neutral-secondary) !important;

            > i {
                color: var(--content-neutral-secondary);
            }

            &:hover,
            &:focus {
                background-color: var(--hover-default);
                color: var(--content-neutral-default) !important;
            }

            &:active {
                background-color: var(--active-default) !important;
                color: var(--content-neutral-default);
            }
        }
    }

    .action {
        &:hover {
            background: var(--elevation-neutral-default);
        }
    }
}
