:local {
    .component {
        .body {
            overflow: auto;
            max-height: 400px;
        }
    }

    .badge {
        border-radius: 3px;
        font-size: 12px;
        font-weight: 600;
        padding: 3px 8px;
        display: flex;
    }

    .icon {
        font-size: 18px !important;
    }

    .title {
        font-size: 12px;
    }

    .spinner {
        margin-right: 5px;
    }

    .tooltipContent {
        padding-left: var(--layout-spacing-xxs);
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .tooltip {
        :global {
            .tooltip {
                // less than the modal z-index (1050 as of today)
                z-index: 1000 !important;
            }
        }
    }
}
