:local {
    .avatar {
        flex-shrink: 0;
        background-color: var(--main-secondary);
        color: var(--neutral-grey-0);
    }

    .ai {
        background-color: var(--accessory-magenta-2);
    }

    .failed {
        opacity: 0.6;
    }

    .aiIcon {
        font-size: 24px !important;
        color: var(--accessory-magenta-3);
    }
}
