@import '~@gorgias/design-tokens/dist/css/layout.less';

:local .wrapper {
    .label {
        display: block;
        margin-bottom: var(--layout-spacing-xxs);

        color: var(--main-primary);
        font-weight: 500;
        font-size: 12px;
    }

    .attachments {
        display: flex;
        flex-wrap: wrap;
        margin-top: var(--layout-spacing-xxs);
    }
}
