@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .formGroup {
        margin-bottom: @layout-spacing-l;
        .formGroupDescription {
            margin-bottom: @layout-spacing-s;
        }
    }

    .subsectionHeader {
        margin-bottom: @layout-spacing-xs;
        margin-top: @layout-spacing-l;
    }

    .icon {
        i {
            color: var(--neutral-grey-5);
        }
    }

    .formInputEditor {
        min-height: 130px;
    }

    .formInputFooterInfo {
        .caption-regular();
        color: var(--neutral-grey-5);
        margin-top: -20px;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 24px;
        &.error {
            color: var(--feedback-error);
        }
    }
}
