@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .chatSettingsFormComponent {
        .formGroupDescription {
            margin-bottom: @layout-spacing-s;
        }

        .label {
            margin-bottom: var(--layout-spacing-xs);
        }

        .formInputFooterInfo {
            .caption-regular();
            color: var(--neutral-grey-5);
            margin-top: var(--layout-spacing-xxs);
            &.error {
                color: var(--feedback-error);
            }
        }

        section {
            margin-bottom: @layout-spacing-s !important;
        }
    }
}
