@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .formGroup {
        margin-bottom: @layout-spacing-s;

        .formGroupDescription {
            margin-bottom: @layout-spacing-s;
        }
    }

    .label {
        margin-bottom: @layout-spacing-xs;
    }
    .ticketFieldRowContainer {
        display: flex;
    }

    .ticketFieldInput {
        flex: 1;
        margin-bottom: @layout-spacing-xs;
    }

    .selectFilter {
        margin-bottom: @layout-spacing-xs;
    }
}
