@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .formGroup {
        margin-bottom: @layout-spacing-l;

        .formGroupDescription {
            margin-bottom: @layout-spacing-s;
        }
    }

    .label {
        margin-bottom: var(--layout-spacing-xs);
    }

    .formInputFooterInfo {
        .caption-regular();
        color: var(--neutral-grey-5);
        margin-top: @layout-spacing-xxs;

        &.error {
            color: var(--feedback-error);
        }
    }
}
