@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .formGroup {
        margin-bottom: @layout-spacing-l;
        .formGroupDescription {
            margin-bottom: @layout-spacing-s;
        }
    }

    .icon {
        i {
            color: var(--neutral-grey-5);
        }
    }

    .customToneOfVoiceGuidance {
        margin-top: @layout-spacing-s;
    }

    .formInputFooterInfo {
        .caption-regular();
        color: var(--neutral-grey-5);
        margin-top: @layout-spacing-xxs;

        &.error {
            color: var(--feedback-error);
        }
    }

    .toneOfVoiceContainer {
        display: flex;
        flex-wrap: wrap;
        gap: @layout-spacing-s;
    }
}
