@import (reference) '~css/typography';
@import (reference) '~css/new/mixins';

:local {
    .checkboxGrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--layout-spacing-s);
        width: 100%;

        @media @xlarge-desktops {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
