:local {
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sectionTriggerTitle {
        width: 90%;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .sectionContent {
        &[data-state='open'] {
            margin-bottom: var(--layout-spacing-s);
        }
    }
}
