@import "~css/new/shopify";

:local {
  .focusable {
    &:focus {
      outline: auto 5px -webkit-focus-ring-color;
    }
  }

  .titleInput {
    width: 240px;
    margin-right: 1rem;
  }

  .title {
    display: block;
    color: @shopifyGrey;
    font-weight: 500;
  }
}
