:local {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        padding: 16px;
        border-bottom: 1px solid var(--neutral-grey-3);

        &.paymentInformationView {
            border: 0px solid var(--neutral-grey-3);
            padding: 0px;
            width: 100%;
        }
    }

    .loader {
        padding: 16px;
        min-height: auto !important;
    }

    .successIcon {
        color: var(--feedback-success);
        font-size: 20px;
    }

    .warningIcon {
        color: var(--feedback-warning);
        font-size: 20px;
    }

    .cardIcon {
        color: var(--neutral-grey-5);
        font-size: 20px;
    }

    .method {
        display: flex;
        align-items: center;
        gap: 8px;

        &.smallFont {
            font-size: 14px;
        }
    }

    .change {
        cursor: pointer;
        color: var(--main-primary);
        font-size: 12px;
        font-weight: 500;

        &:hover {
            color: var(--main-primary-4);
        }
    }

    .paymentInformationView {
        font-size: 16px;

        i {
            display: none;
        }

        a {
            font-size: 14px;
            white-space: nowrap;
        }
    }
}
