@import (reference) '~css/typography.less';

:local {
    .condition {
        display: flex;
        gap: 8px;

        .deleteButtonDisabled:not(:disabled) {
            cursor: not-allowed;
            color: var(--neutral-grey-3); // legacy
        }
    }

    .pageUrlButton {
        cursor: default;
    }

    .textInput {
        flex: 1;
    }

    .deleteButtonTooltip :global(.tooltip-inner) {
        max-width: 180px;
        text-align: center;
    }

    .helpIcon {
        display: inline-block;
    }
}

.axiom :local {
    .condition {
        .deleteButtonDisabled:not(:disabled) {
            color: var(--border-neutral-default);
        }
    }
}
