@import (reference) '~css/typography.less';

:local {
    .container {
        padding: var(--layout-spacing-m);
    }

    .content {
        display: flex;
        flex-direction: column;
        max-width: 680px;
        row-gap: var(--layout-spacing-xl);
    }

    .connectStoreTitle,
    .installationMethodTitle {
        .heading-section-semibold();
    }

    .connectStoreTitle {
        margin-bottom: var(--layout-spacing-xxs);
    }

    .installationMethodTitle,
    .connectStoreDescription {
        margin-bottom: var(--layout-spacing-m);
        letter-spacing: -0.01em;
    }

    .installationMethods {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-s);
    }

    .deleteButton {
        margin-left: auto;
    }

    .migrationBannerIcon {
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }
}
