@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .wrapper {
        padding: @layout-spacing-s;
        padding-bottom: 0;
    }

    .titleWrapper {
        align-items: start;
        display: flex;
        justify-content: space-between;
        margin-bottom: @layout-spacing-xs;
    }

    .title {
        .heading-subsection-semibold();
        display: flex;
        flex-direction: row;
        column-gap: @layout-spacing-xs;
    }

    .noDataWrapper {
        display: flex;
        flex-direction: column;
        row-gap: @layout-spacing-xxs;
        padding: @layout-spacing-m;
    }

    .dropdownMenu {
        width: 160px;
    }
}
