@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .container {
        padding: var(--layout-spacing-m);
    }

    .description {
        .body-regular();
        display: flex;
        flex-direction: column;
        margin-bottom: var(--layout-spacing-m);
        row-gap: 2px;
    }

    .buttons {
        display: flex;
        column-gap: 12px;
        margin-top: @layout-spacing-xl;
    }
}
