@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: 2px var(--layout-spacing-xs);
        gap: @layout-spacing-xxs;
    }

    .icon {
        font-size: 16px;
        color: var(--feedback-warning);
    }

    .message {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: var(--neutral-grey-6);
    }
}
