:local {
    .metrics {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        align-content: flex-start;
        align-items: stretch;
        margin: 0;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }
}
