:local .component {
    position: relative;
    overflow: auto;

    .loader {
        display: none;
        height: 40px;

        i {
            font-size: 20px;
        }
    }

    &.loading .loader {
        display: block;
    }
}
