:local {
    .indicator {
        font-size: 16px;
        color: var(--navigation-text-item); // legacy
    }
}

.axiom :local {
    .indicator {
        color: var(--content-neutral-default);
    }
}
