@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .form {
        display: flex;
        width: 680px;
        flex-direction: column;
        gap: @layout-spacing-l;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        margin-top: @layout-spacing-xl;
    }

    .backButton {
        margin-bottom: @layout-spacing-s;
    }
}
