@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .content {
        display: flex;
        padding: var(--layout-spacing-m);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--layout-spacing-m);
        align-self: stretch;
    }

    .description {
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        gap: var(--layout-spacing-s);
    }
}
