@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .page {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container {
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: @layout-spacing-xs;
    }

    .title {
        max-width: 500px;
        flex: 1;
        display: flex;
        align-items: baseline;
        gap: @layout-spacing-xs;
    }

    .name {
        max-width: 500px;
        flex: 1;
    }

    .actions {
        display: flex;
        gap: @layout-spacing-xs;
    }
}
