:local {
    .centered {
        top: 50%;
        transform: translateY(-50%) !important;
    }

    .actions {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        background: var(--neutral-grey-2);
    }
}
