:local {
    .chatIntegrationList {
        width: 100%;
        padding-bottom: var(--lg, 24px);
        overflow: auto;
    }
    .emptyChatIntegrationList {
        display: flex;
        flex-flow: column;
        gap: 14px;
        padding: 24px;
    }
    .pageHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 24px;
    }
}
