:local {
    .container {
        width: 100%;
        height: 100%;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
    }

    .alertContainer {
        max-width: 680px;
        margin: 0 auto;
        padding: 20px var(--layout-spacing-s);
    }

    .outputContainer {
        overflow-y: auto;
        flex: 1;
    }

    .outputInner {
        max-width: 680px;
        margin: 0 auto;
        overflow: hidden;

        display: flex;
        flex: 1;
        min-height: 100%;
        flex-direction: column;
        justify-content: flex-end;

        padding-bottom: var(--layout-spacing-s);
    }

    .inputContainer {
        max-width: 680px;
        margin: 0 auto;
        width: 100%;
    }

    .emptyState {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
