:local {
    .grey {
        color: var(--neutral-grey-4); // legacy
    }

    .success {
        color: var(--feedback-success); // legacy
    }

    .danger {
        color: var(--feedback-error); // legacy
    }
}

.axiom :local {
    .grey {
        color: var(--content-neutral-secondary);
    }

    .success {
        color: var(--content-success-primary);
    }

    .danger {
        color: var(--content-error-primary);
    }
}
