:local {
    .topElementsContainer {
        width: fit-content;
        max-width: 410px;
        min-width: 200px;
        cursor: default !important;
    }

    .content {
        gap: 11px;
    }
}
