@import '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
    }

    .grid {
        display: grid;
        padding: 0px var(--layout-spacing-xl) 0px var(--layout-spacing-xl);
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        width: 100%;
        overflow-y: unset;

        @media (max-width: 1024px) {
            padding: 0px var(--layout-spacing-l) 0px var(--layout-spacing-l);
        }

        @media (max-width: 425px) {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            row-gap: var(--layout-spacing-l);
        }
    }

    .playgroundConfiguration {
        grid-row: 1;
        grid-column: 1;

        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        height: 100%;
        padding-right: var(--layout-spacing-l);

        @media (max-width: 1024px) {
            padding-right: var(--layout-spacing-s);
        }

        @media (max-width: 425px) {
            grid-row: 1;
            grid-column: 1;
            padding-right: 0px;
        }
    }

    .playgroundConfigurationFields {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-l);
    }

    .customerTypeField {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .playgroundPreview {
        grid-row: 1;
        grid-column: 2;

        padding-left: var(--layout-spacing-l);

        @media (max-width: 1024px) {
            padding-left: var(--layout-spacing-s);
        }

        @media (max-width: 425px) {
            grid-row: 2;
            grid-column: 1;
            padding-left: 0px;
        }
    }
}
