@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .abbr[title] {
        color: var(--feedback-error);
        margin-left: 4px;
        text-decoration: none;
    }

    .content {
        padding-top: @layout-spacing-m;
    }
    .title {
        .heading-section-semibold();
        margin-bottom: @layout-spacing-xxs;
    }
    .subtitle {
        .body-regular();
    }
}
