@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .callerDetailsContainer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .dialPad {
        margin-left: auto;
    }

    .callerDetails {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        flex-wrap: wrap;
    }

    .endCallConfirmationButton {
        font-size: 18px;
        padding: 0 6px;
    }
}
