@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .card {
        flex: 0 0 auto;
        width: fit-content;
    }

    .tagsContainer {
        gap: var(--spacing-xxxs);
        align-items: center;
    }

    .remainingCount {
        padding: 0 var(--spacing-xs);
    }

    .tooltipWrapper {
        position: relative;
        z-index: 1;
    }

    .titleWrapper {
        position: relative;
        z-index: 1;
    }
}
