@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .card {
        padding: var(--spacing-sm) var(--spacing-md);
    }

    .tagsContainer {
        gap: var(--spacing-xxxs);
        align-items: center;
    }

    .remainingCount {
        padding: 0 var(--spacing-xs);
    }

    .tooltipWrapper {
        position: relative;
        z-index: 1;
    }

    .stats {
        // Override DrillDownModalTrigger hover styles
        :global {
            span[id^='drill-down']:hover {
                color: inherit;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
