@import (reference) '~css/new/colorTokens';

.mixin-level-loop (@i) when (@i < 4) {
    :global(#app-root) .sub-category-articles-@{i}.nested-cell:first-child {
        padding-left: (30px + @i*28px);
    }
    .mixin-level-loop(@i + 1);
}

:local {
    .drag-handler {
        color: @classic-neutral-grey-3;
        font-size: 22px;
    }

    .nested-cell:first-child {
        width: 25px;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        opacity: 0;

        transition: opacity 250ms ease;
    }

    .row {
        &:hover {
            background-color: @classic-neutral-grey-1;

            .actions {
                opacity: 1;
            }
        }
        &:last-child {
            border: 0px;
        }
    }

    .iconBtn,
    .iconBtn:hover,
    .iconBtn:active,
    .iconBtn:focus {
        border: 0;
        background: transparent;
        box-shadow: none;
    }

    .rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rating-text {
            padding-left: 5px;
        }
        .rating-separator {
            padding: 0 8px;
        }
        .rating-icon {
            padding-right: 5px;
        }
    }

    .mixin-level-loop(0);
}
