@import (reference) '~css/new/colors';

:local {
    .drag-handler {
        color: @neutral4;
        font-size: 22px;
    }

    .nested-cell {
        &:first-child {
            padding-left: 64px;
        }
    }

    .iconBtn,
    .iconBtn:hover,
    .iconBtn:active,
    .iconBtn:focus {
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}
