:local {
    .modalBody {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
        background-color: var(--neutral-grey-1);
        max-height: 75vh;
        overflow-y: scroll;
    }

    .actionsFooter {
        background-color: var(--neutral-grey-0);
    }

    .temporaryClassName {
        z-index: 0;
    }
}

.axiom :local {
    .modalBody {
        background-color: var(--surface-neutral-secondary);
    }

    .actionsFooter {
        background-color: var(--elevation-neutral-default);
    }
}
