@import (reference) '~css/typography';

:local {
    .table {
        table-layout: fixed;
        margin-top: var(--layout-spacing-xs);

        th {
            .caption-allcaps();
        }
    }

    .businessHoursColumn {
        width: 40%;
        overflow: hidden;
    }

    .integrationNameColumn,
    .storeNameColumn {
        width: 25%;
    }

    .pagination {
        margin-top: var(--layout-spacing-m);
    }

    .noDataAvailable {
        height: 100px;
    }

    .refreshButton {
        margin: auto;
        margin-top: var(--layout-spacing-xxs);
    }

    .filters {
        display: flex;
        gap: var(--layout-spacing-xs);
        justify-content: flex-end;
        align-items: center;
    }

    .searchBar {
        width: 200px;
    }
}
