:local {
    .container {
        background-color: var(--neutral-grey-0); // legacy
        color: var(--neutral-grey-6); // legacy
        display: flex;
        position: relative;

        &::before {
            content: '';
            background: linear-gradient(
                180deg,
                rgba(21, 32, 101, 0) 36.1%,
                rgba(21, 32, 101, 0.1) 133.33%
            );
            height: 6px;
            width: 100%;
            position: absolute;
            top: -6px;
        }

        &.highlighted {
            --background-color: var(--feedback-success-4); // legacy
            --color: var(--neutral-grey-0); // legacy

            &.dark {
                --background-color: var(--accessory-green-1); // legacy
                --color: var(--neutral-grey-6); // legacy
            }

            background-color: var(--background-color);
            color: var(--color);
        }
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);

        &.highlighted {
            --background-color: var(--content-success-primary);
            --color: var(--content-inverted-default);

            &.dark {
                --background-color: var(--surface-success-primary);
                --color: var(--content-neutral-default);
            }
        }
    }
}
