:local {
    .container {
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);
        display: flex;
        position: relative;

        &::before {
            content: '';
            background: linear-gradient(
                180deg,
                rgba(21, 32, 101, 0) 36.1%,
                rgba(21, 32, 101, 0.1) 133.33%
            );
            height: 6px;
            width: 100%;
            position: absolute;
            top: -6px;
        }

        &.legacy {
            background-color: var(--neutral-grey-0); // legacy
            color: var(--neutral-grey-6); // legacy
        }

        &.highlighted {
            --background-color: var(--surface-container-green);
            --color: var(--content-neutral-default);

            &.legacy {
                --background-color: var(--feedback-success-4); // legacy
                --color: var(--neutral-grey-0); // legacy
            }

            &.dark {
                &.legacy {
                    --background-color: var(--accessory-green-1); // legacy
                    --color: var(--neutral-grey-6); // legacy
                }
            }

            background-color: var(--background-color);
            color: var(--color);
        }
    }
}
