@import '~css/new/layout.less';
@import '~css/new/colorTokens';

:local {
    .layoutWrapper {
        display: flex;
    }

    .navigationButtonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: @layout-spacing-xl;

        .group {
            display: flex;
            gap: @layout-spacing-xs;
        }
    }

    .verificationDurationInfo {
        display: flex;
        justify-content: space-between;
        margin-top: @layout-spacing-m;

        .verificationDurationValue {
            color: @classic-neutral-grey-4;
        }
    }
}
