@import '~css/new/layout.less';

:local {
    .layoutWrapper {
        display: flex;

        h1 {
            margin-bottom: @layout-spacing-m;
        }
    }

    .navigationButtonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: @layout-spacing-xl;
    }
}
