@import '~css/new/layout.less';

:local {
    .tableWrapper {
        table-layout: fixed;
    }

    .rowContent {
        display: block;
        cursor: auto;
    }

    .rowSummary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .emailAddress {
        width: 250px;
        word-break: break-all;
        padding-right: @layout-spacing-m;

        &.error {
            color: var(--feedback-error);
            font-weight: 600;
        }
    }

    .status {
        flex: 1;
    }

    .actionContainer {
        display: flex;
        align-items: center;
    }

    .collapsibleContent {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: @layout-spacing-m;
        margin-bottom: @layout-spacing-xs;
    }
}
