@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';

:local {
    .rowContent {
        display: block;
        cursor: auto;
    }

    .rowSummary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .emailAddress {
        width: 200px;
    }

    .status {
        flex: 1;
    }

    .actionContainer {
        display: flex;
        align-items: center;
    }

    .collapsibleContent {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: @layout-spacing-m;
        margin-bottom: @layout-spacing-xs;
    }
}
