@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        gap: var(--layout-spacing-xs);

        .checkIcon {
            color: var(--feedback-success-3); // legacy
            font-size: 24px;
        }
    }
}

.axiom :local {
    .container {
        .checkIcon {
            color: var(--content-success-primary);
        }
    }
}
