@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        display: inline-flex;
        border-radius: @layout-spacing-xxs;
    }

    .noTitle {
        & > [class*='title'] {
            display: none;
        }
    }

    .withInfiniteScroll {
        overflow: initial;
        padding: 0;
    }

    .infiniteScroll {
        max-height: calc(7 * 36px);
        padding: var(--layout-spacing-xs);
    }
}
