@import '~css/new/colorTokens';

:local {
    .dropdown {
        background: transparent;
        font-weight: normal;
        text-align: start;
        margin-bottom: 14px;
    }
    .wrapper > .dropdown > button {
        width: 100%;
        background-color: @classic-neutral-grey-0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        &:hover {
            box-shadow: none;
            background-color: @classic-neutral-grey-0;
        }
        &:focus,
        &:active {
            background-color: @classic-neutral-grey-0 !important;
            box-shadow: 0 0 0 0.2rem fade(@classic-main-primary, 0.1) !important;
            border: 1px solid @classic-main-primary-1 !important;
            border-radius: 3px !important;
        }
        &::after {
            color: @classic-neutral-grey-4;
        }
    }
    .innerItem > span {
        margin-left: 16px;
    }
    .dropdownMenu {
        width: 100%;
    }
    .storeRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
    }
    .dropdownValue {
        color: @classic-neutral-grey-6;
    }
    .dropdownPlaceholder {
        color: @classic-neutral-grey-4;
    }
    .dropdownInfo {
        color: @classic-neutral-grey-5;
        font-size: 12px;
        font-weight: 400;
    }
    .dropdownDisconnectedInfo {
        color: @classic-feedback-warning;
        margin-left: 9.65px;
    }
}
