@import '~css/new/colorTokens.less';

:local {
    .focusable {
        &:focus {
            outline: auto 5px -webkit-focus-ring-color;
        }
    }

    .formFooter {
        background-color: @classic-neutral-grey-1;
    }

    .formBody {
        padding: 1rem;
    }

    .paddedVertical {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .infoIcon {
        font-size: 20px;
        color: @classic-main-primary;
        padding-right: 1rem;
    }

    .infoText {
        color: gray;
        font-size: 12px;
        margin-top: 5px;
    }

    .subsection {
        font-size: 20px;
        font-weight: 600;
    }

    .subsectionSmall {
        font-size: 14px;
        font-weight: 600;
    }
}
