@import '~css/new/colorTokens';

:local {
    .container {
        display: flex;
        width: 100%;
        padding-right: 7px;
    }

    .draftOrderUrl {
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .icon {
        cursor: pointer;
        margin-left: 4px;
        margin-right: 4px;
    }

    .checkIcon {
        color: @light-feedback-success;
    }
}
