@import '~css/new/colors';

:local {
    .grey {
        color: @classic-neutral-grey-4;
    }

    .success {
        color: @classic-feedback-success;
    }

    .danger {
        color: @classic-feedback-error;
    }
}
