:local {
    @darker-grey: #424242;

    .campaign {
        overflow: hidden;
        width: 385px;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        background: var(--neutral-grey-0); // legacy
        border-radius: 16px;
        box-shadow: 4px 4px 16px 0px rgba(22, 22, 22, 0.1);

        padding: 20px;
        margin-bottom: 10px;
        gap: 8px;

        .content {
            display: flex;
            flex-direction: column;
        }

        .header {
            display: flex;

            .message {
                overflow: hidden;
                color: @darker-grey;
                display: flex;
                flex-direction: column;
                gap: 8px;
                line-height: 20px;

                .authorName {
                    font-size: 14px;
                    color: var(--neutral-grey-6); // legacy
                }

                .messageText {
                    overflow-wrap: break-word;
                    font-size: 14px;
                    color: var(--neutral-grey-6); // legacy
                }

                img {
                    max-width: 100%;
                    border-radius: 8px;
                }
            }
        }

        .videos {
            & iframe {
                border-radius: 8px;
            }

            .video {
                width: 100%;
                aspect-ratio: 16/9;
            }
        }

        .carouselContainer {
            display: flex;
            justify-content: flex-end;
            margin: 0 -20px;
            padding-bottom: 12px;

            &.noReply {
                padding-bottom: 20px;
            }
        }

        .footer {
            cursor: pointer;
            padding: 15px 20px;
            color: rgba(106, 106, 106, 0.7);

            max-height: 180px;
            padding: 12px;

            border-radius: 4px;
            background: var(--neutral-grey-2); // legacy
        }

        .author {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.axiom :local {
    .campaign {
        background: var(--elevation-neutral-default);

        .header {
            .message {
                .authorName {
                    color: var(--content-neutral-default);
                }

                .messageText {
                    color: var(--content-neutral-default);
                }
            }
        }

        .footer {
            background: var(--elevation-neutral-mid);
        }
    }
}
