:local {
    .dashboardNameInput {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 600px;
        margin-right: 1.5rem;
    }

    .inputField {
        display: inline-flex;
        flex-direction: column;
    }

    .emojiSelect {
        display: inline-flex;
    }
}
