@import (reference) '~css/typography';

:local {
    .card {
        height: 100%;
        width: 100%;
        background: var(--neutral-grey-0); // legacy
        border-radius: 8px;
    }

    .skeletonWrapper {
        flex: 1;
    }
    .metricWrapper {
        display: flex;
        justify-content: space-between;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: var(--layout-spacing-xs);
    }
}

.axiom :local {
    .card {
        background: var(--elevation-neutral-default);
    }
}
