@import '~css/new/colors';

:local {
    .icon {
        color: @classic-neutral-grey-4;
        left: 8px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:global(.material-icons) {
            font-size: 20px;
        }
    }

    .iconRight {
        left: auto;
        right: 8px;
    }
}
