:local {
    .wrapper {
        align-items: center;
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;
        box-sizing: border-box;
        height: 32px;
        width: 100%;
        transition: border-color 0.2s ease, box-shadow 0.2s ease;

        &.isFocused {
            overflow: hidden;
            border-color: var(--main-primary);
            box-shadow: 0 0 0 2px
                hsla(
                    var(--main-primary-h),
                    var(--main-primary-s),
                    var(--main-primary-l),
                    0.2
                );
        }

        &.hasError {
            border-color: var(--feedback-error);

            &.isFocused {
                box-shadow: 0 0 0 2px
                    hsla(
                        var(--feedback-error-h),
                        var(--feedback-error-s),
                        var(--feedback-error-l),
                        0.2
                    );
            }
        }

        &.right,
        &.center {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        &.left,
        &.center {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        &.top,
        &.middle {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.bottom,
        &.middle {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: -1px;
        }
    }
}
