:local {
    .description {
        color: var(--neutral-grey-4); // legacy
        font-size: 0.9rem;
        white-space: normal;
    }
}

.axiom :local {
    .description {
        color: var(--content-neutral-secondary);
    }
}
