@import '~css/new/colors';

:local {
    .confirm,
    .confirm:hover {
        color: @green6;
    }

    .reject,
    .reject:hover {
        color: @red;
    }

    .confirmedInfo {
        color: @neutral6;
    }
}
