@import '~css/new/colorTokens';

:local {
    .confirm,
    .confirm:hover {
        color: @classic-feedback-success-3;
    }

    .reject,
    .reject:hover {
        color: @classic-feedback-error;
    }

    .confirmedInfo {
        color: @classic-neutral-grey-4;
    }
}
