@import '~css/new/colorTokens';

:local {
    .description {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: normal;
        color: @classic-neutral-grey-4;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 0.5em;
    }

    .action {
        float: right;
        font-size: 16px;
    }

    .dropdownItemWrapper {
        font-weight: 500;
        font-size: 14px;
        padding: 8px;
        color: @classic-neutral-grey-6;
    }

    .dropdownItemLabel {
        line-height: 20px;
    }

    .label {
        text-transform: capitalize;
    }

    .hoverable:hover {
        background-color: @classic-neutral-grey-2;
        border-radius: 4px;
        cursor: pointer;
    }

    .disabled {
        color: @classic-neutral-grey-4;
    }
}
