@import '~css/new/colors';

:local {
    .wrapper {
        color: @indigo;

        .menu {
            line-height: 0.8em;
            padding: 0em;
            margin-top: -1px;
        }

        .toggleMenu {
            text-transform: capitalize;
            font-size: 1rem;
            padding: 0px 7px;
            display: flex;
            line-height: 24px;
        }

        .menuLabel {
            padding-right: 0.5em;
        }

        .caret {
            border-left: 1px solid @neutral3;
            height: 100%;
            padding-left: 7px;
            line-height: 24px;
        }
    }

    .header {
        background: @neutral1;
        border-bottom: 1px solid @neutral3;
        box-sizing: border-box;
        color: @neutral8;
        font-size: 14px;
        font-weight: 600;
        padding: 12px;
        width: 100%;
    }

    .subheader {
        text-transform: uppercase;
    }

    .options {
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 8px 0px 8px 8px;
        width: 312px;
        height: 440px;
    }
}
