:local {
    .themeListWrapper {
        gap: 16px;
        display: flex;
        justify-content: space-between;
    }

    .buttonIconWrapper {
        color: var(--neutral-grey-3); // legacy
        padding-right: 8px;
    }

    .buttonIconWrapperSelected {
        color: var(--main-primary); // legacy
        padding-right: 8px;
    }

    .previewRadioButtonWrapper {
        width: 100%;
    }
}

.axiom :local {
    .buttonIconWrapper {
        color: var(--border-neutral-default);
    }

    .buttonIconWrapperSelected {
        color: var(--content-accent-default);
    }
}
