@import (reference) '~css/typography.less';

:root {
    --success-green: #1a9970;
}

:local {
    .container {
        padding: var(--layout-spacing-s);
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: var(--layout-spacing-s);
        overflow-y: auto;
    }

    .feedbackSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
    }

    .sourcesContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .heading {
        .body-semibold();
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sources {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .source {
        display: flex;
        align-items: stretch;
        width: 100%;
        gap: var(--layout-spacing-xxs);

        .badge {
            background-color: transparent; // legacy
            font-size: 14px;
            color: var(--neutral-grey-5);
            padding: var(--layout-spacing-xxs);
        }

        .shopifyLogo {
            width: 22px;
            height: 22px;
            border-radius: 100px;
            padding: var(--layout-spacing-xxs);
        }

        .openInNewTabIcon {
            opacity: 0;
            width: 0px;
            padding-inline: 0px;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover {
            .sourceName {
                .hasLink {
                    cursor: pointer;
                    background-color: var(--neutral-grey-2); // legacy
                    span {
                        color: var(--main-primary);
                    }

                    .openInNewTabIcon {
                        opacity: 1;
                        width: 16px;
                        padding-inline: 2px;
                        color: var(--main-primary);
                    }
                }

                color: var(--neutral-grey-6);
                cursor: default;

                .deleted {
                    background-color: var(--neutral-grey-0); // legacy
                    cursor: not-allowed;
                    span {
                        color: var(--neutral-grey-4) !important;
                    }

                    .openInNewTabIcon {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .sourceName {
        .caption-regular();
        flex-grow: 1;
        border-radius: var(--layout-spacing-xxs);
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        overflow: hidden;
        cursor: pointer;
        color: var(--neutral-grey-6);

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            width: 100%;
        }

        &:focus-visible {
            outline: none;
        }

        .deleted {
            span {
                color: var(--neutral-grey-4) !important;
            }
        }
    }

    .sourceLink {
        display: flex;
        align-items: center;
        width: 100%;
        color: var(--neutral-grey-6);
        text-decoration: none;

        .iconSkeleton {
            width: 20px;
            height: 20px;
            margin-right: 2px;
        }

        &:visited {
            color: var(--neutral-grey-6);
        }
    }

    .negativeFeedback,
    .positiveFeedback {
        cursor: default !important;
        border-color: var(--neutral-grey-4) !important;
    }

    .positiveFeedback {
        color: var(--success-green) !important;
    }

    .negativeFeedback {
        color: var(--feedback-error) !important;
    }

    .button {
        background-color: var(--neutral-grey-1) !important; // legacy
        padding: 0 var(--layout-spacing-xxs);
        flex-shrink: 0;
        :global {
            .material-icons {
                font-size: 16px;
            }
        }
    }

    .info {
        .caption-regular();
        color: var(--neutral-grey-5);
        margin-bottom: var(--layout-spacing-xs);
    }
    .internalNote {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);

        .info {
            margin-bottom: var(--layout-spacing-xxs);
        }

        .label {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        textarea {
            background-color: var(--neutral-grey-0); // legacy
            border-color: var(--neutral-grey-3);
            color: var(--neutral-grey-6);
        }
    }

    .separator {
        margin: var(--layout-spacing-xs) 0;
        flex-shrink: 0;
        z-index: 1;
    }

    .missingKnowledgeSelect {
        .label {
            margin-bottom: var(--layout-spacing-xs);
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: var(--layout-spacing-xxs);
            margin-top: var(--layout-spacing-xs);
        }

        .tag {
            overflow: hidden;
            .caption-regular();

            .tagLink {
                overflow: hidden;
                display: flex;
                gap: var(--layout-spacing-xxs);
                align-items: center;
                color: var(--neutral-grey-6);

                &:hover {
                    color: var(--main-primary);
                    cursor: pointer;
                }
            }

            .shopifyLogo {
                width: 12px;
                height: 12px;
            }
        }

        .tagText {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .tagIcon {
            font-size: 12px;
        }
    }

    .dropdownLink {
        display: flex;
        width: 100%;
        flex-grow: 1;
        align-items: center;
        .body-regular();
        color: var(--neutral-grey-6);
        &:hover {
            color: var(--neutral-grey-6);
        }
    }

    .dropdownItem {
        align-items: stretch;
    }

    .footer {
        display: flex;
        background-color: var(--neutral-grey-1); // legacy
        padding: 12px 16px;
    }

    .nextTicketButton {
        text-transform: none;
    }

    .autoSaveBadge {
        background: var(--neutral-grey-2); // legacy
        color: var(--neutral-grey-5);
        max-width: 100%;
        min-width: 28px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;

        div.text {
            max-width: 100px;
            overflow: hidden;
            transition:
                max-width 0.5s linear,
                margin 0.5s linear;
            opacity: 1;
            margin-left: 4px;
        }

        div.hidden {
            max-width: 0;
            opacity: 0;
            margin-left: 0;
            padding: 0;
            overflow: hidden;
        }
    }

    .skeletonContainer {
        display: flex;
        align-items: center;
        width: 100%;
        gap: var(--layout-spacing-xxs);

        div:nth-of-type(2) {
            width: 100%;
        }
    }
}

.axiom :local {
    .source {
        .badge {
            background: transparent;
        }

        &:hover {
            .sourceName {
                .hasLink {
                    background: var(--surface-neutral-tertiary);
                }

                .deleted {
                    background: var(--surface-neutral-secondary);
                }
            }
        }
    }

    .button {
        background: var(--surface-neutral-primary) !important;
    }

    .feedbackTextAreaContainer {
        textarea {
            background: var(--surface-neutral-secondary);
        }
    }

    .footer {
        background: var(--surface-neutral-primary);
    }

    .autoSaveBadge {
        background: var(--surface-neutral-tertiary);
    }
}
