:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
        position: relative;
        padding: 0 var(--layout-spacing-s);
    }

    .info {
        font-size: 12px;
        color: var(--neutral-grey-5); // legacy
    }

    .dropdownItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .openIcon {
        font-size: 20px !important;
        color: var(--neutral-grey-4); // legacy
    }

    .createResourceButton {
        display: flex;
        gap: var(--layout-spacing-xxs);
        align-items: center;
        margin-top: var(--layout-spacing-xs);
    }

    .arrowDownIcon {
        font-size: 20px !important;
    }
}

.axiom :local {
    .info {
        color: var(--content-neutral-secondary);
    }

    .openIcon {
        color: var(--content-neutral-secondary);
    }
}
