@import '~@gorgias/design-tokens/dist/css/typographyTokens';
@import (reference) '~css/typography';

:local {
    .badge {
        :global {
            .material-icons {
                font-size: 14px;
            }
        }
        background-color: transparent;
        color: var(--neutral-grey-5);
        padding: var(--layout-spacing-xxs);
    }

    .reasoningBadge {
        :global {
            .material-icons {
                font-size: @caption-regular-font-size;
            }
        }
        background-color: transparent;
        color: var(--neutral-grey-5);
        padding: 2px;
    }

    .imageLogo {
        width: 14px;
        height: 14px;
    }
}
