@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .customizationContainer {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xl;
    }

    .brandingStepContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .brandingLogoDescription {
        margin-top: var(--layout-spacing-xxs);
        margin-bottom: var(--layout-spacing-s);
    }

    .brandingColorFontGroup {
        display: flex;
        gap: @layout-spacing-m;

        > * {
            flex: 1;
        }
    }

    .imageUpload {
        font-size: 14px;

        :global(.hd-help-text-text),
        :global(.hd-help-text-actions),
        :global(.hd-help-text-actions) div {
            display: inline;
        }
    }
}
