:local {
    .bannerWrapper {
        margin-top: var(--spacing-lg);
        padding: 0 var(--spacing-xxl);
        width: 100%;
        // 522px+48px+48px
        min-width: 618px;
        // 600px+48px+48px
        max-width: 696px;

        span {
            white-space: normal;
            word-break: break-word;
        }
    }

    .link {
        all: unset;
        text-decoration: underline;
        cursor: pointer;
    }

    .linkDisabled {
        all: unset;
        text-decoration: underline;
        cursor: not-allowed;
        opacity: 0.5;
    }
}
