:local {
    .warningIcon {
        font-size: 16px;
        margin-right: 0.5rem;
        color: var(--feedback-warning); // legacy
    }
}

.axiom :local {
    .warningIcon {
        color: var(--content-warning-primary);
    }
}
