@import '~css/new/mixins';
@import '~css/typography';

:local .component {
    height: 32px;
    width: 100%;

    .not-editable {
        border-color: transparent;
        padding-left: 0;
    }

    &:not(:hover):not(:focus):not(.edit-mode),
    &.isDisabled {
        .not-editable;
    }

    .input {
        color: var(--neutral-grey-6); // legacy
        .heading-subsection-semibold();
        height: 32px;
        transition: all 0.2s linear;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:not(:hover):not(:focus):not(.edit-mode) {
            .not-editable;
        }

        &:focus,
        &.edit-mode {
            text-overflow: clip;
        }

        &:disabled {
            .not-editable;
            cursor: default !important;
            background-color: initial !important;
        }
    }
}

.axiom :local {
    .input {
        color: var(--content-neutral-default);
    }
}
