@import '~@gorgias/design-tokens/dist/css/layout.less';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .container {
        // 16px is the size of the TicketHeaderWrapper parent container
        top: -16px;
        bottom: 16px;
        position: relative;

        // Prevents React Virtuoso from complaining about Element been empty @see: https://virtuoso.dev/troubleshooting/#i-get-error-zero-sized-element-this-should-not-happen
        min-height: 1px;
    }

    .buttons {
        display: flex;
        gap: @layout-spacing-xxs;
        padding-bottom: @layout-spacing-xxs;
    }

    .feedback {
        font-size: @component-button-small-font-size;
    }
}
