@import '~css/new/mixins';

:local .fadeLayer {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;

    .expandButton {
        cursor: pointer;
        pointer-events: all;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 30px;

        button {
            pointer-events: auto;
            color: var(--main-primary);
        }
    }
}
