:local .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    z-index: 1;
    flex-wrap: wrap;

    .chevron {
        cursor: pointer;
        margin-left: 24px;
        font-size: 18px;
    }
}
