:local .container {
    grid-column: 2;
    z-index: 1;
    overflow: hidden;

    .content {
        border-radius: 4px;
        border: 1px solid var(--neutral-grey-3);
    }

    .text {
        padding: 12px 16px;
        background-color: var(--neutral-grey-0);
    }

    .action {
        padding: 10px 15px;
    }

    .banner {
        margin: var(--layout-spacing-xs) 0;
    }
}
