:local {
    .bigNumber {
        color: var(--neutral-grey-6);
    }
    .trendLoader {
        width: 41px;
    }

    .noDataContainer {
        height: 112px;
        align-items: flex-start !important;
        gap: 12px;
        border-radius: 4px;
        border: 1px solid var(--neutral-grey-2);
        background: var(--neutral-grey-1);
        padding: var(--layout-spacing-s);
    }
}
