@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .learnMore {
        display: flex;
        gap: var(--layout-spacing-xxs);
        align-items: center;
        overflow-wrap: anywhere;

        .content {
            flex: 1;
        }

        .icon {
            font-size: 16px;
        }
    }
}
