@import (reference) '~css/new/colorTokens';

:local {
    .select-option {
        display: flex;
        align-items: center;
    }

    .shopify-icon {
        width: 20px;
        margin-right: 10px;
    }

    .select-connected-chats {
        margin-left: auto;
        color: @classic-neutral-grey-4;
    }
}
