@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .container {
        border: 1px dashed var(--neutral-grey-3);
        background: var(--neutral-grey-1);
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
        min-height: 160px;
        padding: @layout-spacing-s;
        transition: ease-in-out 0.2s;

        &.default:hover {
            box-shadow: 4px 4px 16px 0 rgba(22, 22, 22, 0.1);
        }

        &.dark:hover {
            border-color: var(--neutral-grey-4);
        }
    }

    .wrapper {
        display: flex;
        gap: @layout-spacing-xs;
    }

    .header {
        display: flex;
        justify-content: space-between;
        color: var(--neutral-grey-3);
    }

    .header i {
        font-size: 32px;
        margin-top: -4px;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        .heading-section-semibold();
        margin-bottom: @layout-spacing-xxs;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        font-size: 16px;
        color: var(--neutral-grey-6);
    }

    .onlyTitle {
        .heading-subsection-semibold();
        min-height: 4.5em;
    }

    .description {
        .body-regular();
        min-height: 40px;
        display: -webkit-box;
        color: var(--neutral-grey-5);
        font-size: 14px;
        line-height: 20px;
    }

    .link {
        border-radius: @layout-spacing-xxs;
        color: unset;

        &:hover,
        &:active {
            color: unset;
        }

        &:focus-visible {
            outline-offset: unset;
            outline-style: solid;
            outline-color: var(--main-primary);
            box-shadow: 0 0 0 3px rgba(74, 141, 249, 0.2);
        }
    }

    .templateCard {
        border-style: solid;
        background: unset;
    }
}
