@import '~css/typography';

:local .component {
    align-items: center;
    display: flex;
    line-height: 20px;
    justify-content: space-between;
    padding: 0;

    .badge {
        .caption-allcaps();
        background-color: var(--neutral-grey-4); // legacy
        border: none;
        border-radius: 15px;
        color: var(--neutral-grey-0); // legacy
        margin-left: auto;
        padding: 2px 9px;
    }

    .badge--unselect {
        background-color: var(--main-primary); // legacy
        color: var(--neutral-grey-1); // legacy
    }

    .checkbox {
        width: 100%;
    }
}

.axiom :local .component {
    .badge {
        background-color: var(--surface-accent-primary);
        color: var(--static-default-white);
    }

    .badge--unselect {
        background-color: var(--surface-additional-blue);
        color: var(--content-neutral-secondary);
    }
}
