@import '~css/new/colorTokens';
@import (reference) '~css/typography';

:local {
    .caption {
        .caption-regular();
        color: @classic-neutral-grey-4;
        margin-top: 4px;
    }

    .error {
        color: @classic-feedback-error;
    }
}
