@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .added {
        color: var(--accessory-green-3);
        background-color: var(--accessory-green-1);
    }

    .removed {
        color: var(--accessory-red-3);
        background-color: var(--accessory-red-1);
    }
}
