@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .recordsTable {
        max-width: 1100px;
        margin-bottom: var(--layout-spacing-m);
        margin-top: var(--layout-spacing-m);
        table-layout: fixed;

        .recordTypeHeader {
            width: 104px;
        }
        .hostHeader {
            margin: 0 var(--layout-spacing-s);
        }

        .skeletonCell {
            width: 100%;
        }
    }
}
