:local {
    .wrapper {
        margin-bottom: 24px;
    }

    .bannerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
    }

    .nextLink {
        margin-top: 14px;
        font-size: 12px;
    }

    .bannerImage {
        max-width: 260px;
    }
}
