:local {
    .link-item {
        display: grid;
        column-gap: 16px;
        grid-template-columns: 312px 312px 32px;

        .formGroup {
            margin-bottom: 0;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 32px;

            color: var(--feedback-error); // legacy
            font-size: 20px;

            cursor: pointer;
        }
    }

    .link-input {
        width: 100%;
        height: 32px;
        border-color: var(--neutral-grey-3); // legacy

        color: var(--neutral-grey-6); // legacy
    }
}

.axiom :local {
    .link-item {
        i {
            color: var(--content-error-primary);
        }
    }

    .link-input {
        border-color: var(--border-neutral-default);
        color: var(--content-neutral-default);
    }
}
