:local {
    .link-list-header {
        display: grid;
        column-gap: 16px;
        grid-template-columns: 312px 312px;

        color: var(--neutral-grey-5); // legacy
        font-size: 12px;
    }

    .link-list {
        display: grid;
        row-gap: 16px;

        margin-bottom: 16px;
    }

    .add-link {
        i {
            margin-right: 8px;
            font-size: 16px;
        }
    }
}

.axiom :local {
    .link-list-header {
        color: var(--content-neutral-secondary);
    }
}
