:local {
    .spinner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: var(--layout-spacing-m);

        h4 {
            margin-bottom: 0;
        }
    }
}
