@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/new/mixins';

:local {
    .item {
        position: relative;
        display: block;
        overflow: hidden;
        width: 210px;
        height: 80px;
        font-weight: 500;
        margin-right: 0.8em;
        background-color: var(--neutral-grey-0);
        background-size: cover;
        border-radius: 3px;
        border: 1px solid var(--neutral-grey-3);

        vertical-align: top;

        &:last-item {
            margin-right: 0;
        }

        &:hover .itemMeta {
            opacity: 1;
        }

        &:hover .actions {
            display: flex;
        }
    }

    :global(.simplified-editor) {
        .item {
            width: auto;
            margin-right: 0;
        }
    }

    .itemMeta {
        position: relative;
        height: 100%;
        width: 100%;
        padding: @layout-spacing-s;
        transition: all 0.3s;

        color: var(--neutral-grey-5);
        font-size: 14px;

        @media @mobiles {
            opacity: 1 !important;
        }
    }

    .actions {
        display: none;
        flex-direction: row;
        gap: 0.25em;
        position: absolute;
        top: 0;
        right: 0;

        .actionItem {
            font-size: 12px;
            padding: 0.5em;
            cursor: pointer;

            &:hover,
            &:active {
                background: var(--neutral-grey-6);
                color: var(--neutral-grey-0);
            }
        }
    }

    .metaName {
        overflow: hidden;
        max-height: 2.4em;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: var(--neutral-grey-6);
    }

    .revealedDetails {
        font-size: 10px;
    }
}
