:local {
    .not-matched-mark {
        color: var(--neutral-grey-3); // legacy
    }

    .matched-mark {
        color: var(--main-primary); // legacy
    }

    .selector {
        width: 100%;
    }

    .is-required {
        font-weight: bold;

        &::after {
            content: ' *';
            color: var(--feedback-error); // legacy
        }
    }

    .cell {
        // no idea why the BodyCell component thinks everything must be clickable, but we don't want this behavior
        cursor: auto;
    }
}

.axiom :local {
    .not-matched-mark {
        color: var(--content-neutral-tertiary);
    }

    .matched-mark {
        color: var(--content-accent-default);
    }

    .is-required {
        &::after {
            color: var(--content-error-primary);
        }
    }
}
