@import (reference) '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .wrapper {
        display: flex;
        align-items: center;
        gap: @layout-spacing-xxs;
    }

    .title {
        .body-semibold();
        color: var(--neutral-grey-6);
    }

    .editMode {
        font-weight: 400;
    }

    .icon {
        font-size: 20px;
    }

    .disableTuneIcon {
        color: var(--neutral-grey-4);
    }
}
