@import (reference) '~css/typography';

:local {
    // The `:global(.container-fluid)` explicitly targets the navbar component from reactstrap
    // This will force this style to overwrite the one from Bootstrap
    :global(.container-fluid).container {
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-m);
        gap: var(--layout-spacing-s);
    }

    .backButtonContainer {
        align-self: flex-start;
    }

    .header {
        .heading-section-semibold();

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--layout-spacing-xxs);
    }

    .requestBannerContainer {
        display: flex;
        padding: var(--layout-spacing-m);
        flex-direction: column;
        gap: var(--layout-spacing-s);
        align-items: center;
        background-color: var(--main-latte);
        border-radius: 8px;
    }

    .requestBannerContent {
        .body-regular();

        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        flex-direction: column;
    }

    .requestBannerTitle {
        .heading-section-semibold();
    }
}
