:local {
    .form {
        display: flex;
        width: 680px;
        flex-direction: column;
        gap: var(--layout-spacing-l);
    }

    .actions {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        margin-top: var(--layout-spacing-m);
        padding: var(--layout-spacing-m) 0;
        background: var(--neutral-grey-0); // legacy
    }

    .links {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--layout-spacing-s);
    }

    .deleteButton {
        margin-left: auto;
    }

    .container {
        grid-template-columns: minmax(480px, 680px) 1fr !important;
    }
}

.axiom :local {
    .actions {
        background: var(--elevation-neutral-default);
    }
}
