@import '~css/new/layout';

:local {
    .dropdown {
        min-width: 240px !important;
        max-width: 400px;
    }

    .backButton {
        max-width: 100%;
        height: auto;
        padding: 0 !important;
        font-weight: 600;
        color: var(--neutral-grey-5) !important;
    }

    .backIcon {
        margin-right: @layout-spacing-xxs;
        font-size: 1.15rem !important;
    }

    .modalFooter {
        flex-shrink: 0;
    }

    .clearButton {
        height: 32px;
    }

    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    .choiceButton {
        flex: 1;
        display: flex;
        justify-content: space-between;
        min-width: 0;
    }

    .nextIcon {
        display: flex;
        align-items: center;
        margin-left: @layout-spacing-xxs;
        font-size: 1.15rem !important;
    }

    .checkIcon {
        margin-left: @layout-spacing-xxs;
        font-size: 1.2rem !important;
        color: var(--main-primary);
    }

    .noResults {
        padding: @layout-spacing-xs;
        padding-bottom: 0;
        color: var(--neutral-grey-4);
    }

    .emptyHelperArrow {
        left: 2rem !important;
    }

    .predictionIcon {
        color: var(--main-primary);
        font-size: 1.2rem;
    }

    .autoWidthInputContainer {
        display: inline-block;
        cursor: pointer;
        position: relative;
        width: auto !important; // Override fixed width set on element

        &.placeholder {
            color: var(--neutral-grey-4) !important;
            font-weight: normal;
        }

        input {
            opacity: 0;
            position: absolute;
        }
    }
}
