:local {
    .tagDiffAdded {
        span > span:first-child {
            border: 1.5px solid var(--content-success-primary);
        }
    }

    .tagDiffRemoved {
        span > span:first-child {
            border: 1.5px solid var(--content-error-primary);
            opacity: 0.6;
        }
    }
}
