:local {
    .container {
        width: 100%;
        flex: 1;
        display: flex;
        padding: var(--spacing-xxl) var(--spacing-xxl) var(--spacing-md)
            var(--spacing-xxl);
        flex-direction: column;
        gap: var(--layout-spacing-m);

        @media (min-width: 841px) {
            max-width: 696px;
        }

        @media (max-width: 840px) {
            max-width: 548px;
            padding-left: var(--spacing-lg);
            padding-right: var(--spacing-lg);
        }
    }

    .diffContent {
        width: 100%;
        font-size: 14px;
        line-height: 1.6;
        color: var(--content-neutral-default);
        padding: var(--spacing-xxxs);
        padding-left: 1px;
        background-color: var(--elevation-neutral-mid);
        border-radius: var(--spacing-xs);
        min-height: 320px;

        :global {
            .DraftEditor-root {
                font-size: 14px;
                line-height: 24px;
                padding-bottom: 30px;
            }
        }
    }

    .added {
        background-color: var(--surface-success-primary);
        color: var(--content-success-primary);
        padding: 1px 2px;
        border-radius: 2px;
    }

    .removed {
        background-color: var(--surface-error-secondary);
        color: var(--content-error-primary);
        text-decoration: line-through;
        padding: 1px 2px;
        border-radius: 2px;
    }
}
