:local {
    .carouselContainer {
        margin: 10px 0 40px 0;

        .slick-arrow {
            color: black;
        }

        .carouselContent {
            padding: 30px;

            img {
                max-width: 100%;
                box-shadow: -4px 8px 42px 0px fade(black, 20%);
            }
        }
    }
}
