@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .modalBody {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-m;
    }

    .learnMore {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
    }
}
