@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xl;
        margin-bottom: @layout-spacing-xl;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-m;

        h2 {
            .heading-section-semibold();
            margin-bottom: 0;
        }
    }
}
