@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .sectionHeader {
        margin-bottom: var(--layout-spacing-m);
        margin-top: @layout-spacing-xl;
        font-weight: 600;
    }

    .ivrTitleHeader {
        margin-bottom: var(--layout-spacing-xxs);
        font-weight: 600;
    }

    .ivrDetails {
        margin-bottom: var(--layout-spacing-m);
    }
}
