@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~@gorgias/design-tokens/dist/css/typographyTokens';
@import (reference) '~css/typography';

:local {
    .container,
    .accordionContent {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-l;
    }

    .label {
        margin-bottom: var(--layout-spacing-xxs);
    }

    .wrapUpFields {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }
}
