@import (reference) '~@gorgias/design-tokens/dist/css/typographyTokens';
@import (reference) '~css/typography';

:local {
    .accordionHeader {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);

        > * {
            margin-bottom: 0;
        }

        .subtitle {
            .body-semibold();
        }
    }
}
