:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
    }

    .innerSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);

        .outsideBusinessHoursMessage {
            margin-bottom: var(--layout-spacing-s);
        }
    }
}
