@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~@gorgias/design-tokens/dist/css/typographyTokens';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-l;
    }

    .label {
        margin-bottom: @layout-spacing-xxs;
    }
}
