@import (reference) '~css/new/layout.less';

:local {
    .blockHeader {
        margin-bottom: @layout-spacing-m;
        margin-top: @layout-spacing-xl;
    }

    .ivrTitleHeader {
        margin-bottom: @layout-spacing-xxs;
    }

    .ivrDetails {
        margin-bottom: @layout-spacing-m;
    }
}
