@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .dropdownItem {
        gap: var(--layout-spacing-xs);
        padding: var(--layout-spacing-xs);
    }

    .dropdownText {
        width: 100%;
    }
}
