@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .dropdownItem {
        gap: @layout-spacing-xs;
        padding: @layout-spacing-xs;
    }

    .dropdownText {
        width: 100%;
    }
}
