:local {
    .table {
        min-height: 43rem;
    }

    .headerCell:first-child {
        :global(.material-icons) {
            color: var(--neutral-grey-4);
            font-size: 16px;
        }
    }
    .headerRow {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr auto;
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .headerCellTitle {
        font-family:
            Inter Inter,
            'Helvetica Neue',
            Helvetica,
            Arial,
            sans-serif;
        color: var(--neutral-grey-4);
        line-height: 14px;
        letter-spacing: 0.55px;
        text-transform: uppercase;
        font-feature-settings:
            'ss01' on,
            'cv10' on;
        font-style: normal;
    }
}
