:local {
    .messageBubble {
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-sm);
        background-color: var(--elevation-neutral-default);
        box-shadow: var(--effects-shadow-container);
    }
}
