@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        gap: var(--layout-spacing-xxs);
        align-items: center;
    }

    .surplus {
        .body-regular();
        color: var(--neutral-grey-4);
        white-space: nowrap;
    }
}

.axiom :local {
    .surplus {
        color: var(--content-neutral-secondary);
    }
}
