:local {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--layout-spacing-xxs);
        align-items: center;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: var(--layout-spacing-xxs);
        align-items: center;
    }
}
