:local {
    .items {
        max-height: 220px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .item {
        height: 36px;

        &:focus {
            outline: none;
        }
    }
}
