:local {
    .tooltip {
        position: absolute;
        top: 100%;
        background: rgba(255, 255, 255, 0.9); // legacy
        backdrop-filter: blur(4px);
        border-radius: var(--layout-spacing-xs);
        border: 1px solid #ececec; // legacy
        padding: var(--layout-spacing-xs);
        margin-top: var(--layout-spacing-xxs);
        width: max-content;
    }

    .date {
        font-size: 12px;
        font-weight: 600;
        color: var(--neutral-grey-5); // legacy
    }

    .info {
        font-size: 16px;
        font-weight: 600;
        color: var(--neutral-grey-6); // legacy
    }
}

.axiom :local {
    .tooltip {
        background: var(--elevation-neutral-high);
        border: 1px solid var(--border-neutral-default);
    }

    .date {
        color: var(--content-neutral-secondary);
    }

    .info {
        color: var(--content-neutral-default);
    }
}
