:local {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon {
        width: 24px;
        height: 24px;

        &.icon-small {
            width: 18px;
            height: 18px;
        }
    }

    .text {
        max-width: 180px;
        margin-top: 8px;

        color: var(--neutral-grey-6); // legacy

        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        .browseInput {
            color: var(--main-primary); // legacy
        }

        span + span {
            margin-left: 4px;
        }
    }
}

.axiom :local {
    .text {
        color: var(--content-neutral-default);

        .browseInput {
            color: var(--content-accent-default);
        }
    }
}
