@import '~css/new/colors';
@import '~froala-editor/css/froala_editor.pkgd.min.css';

:local {
    .froalaEditorWrapper {
        height: ~'calc(100% - 180px)';
        display: flex;
        flex-direction: column;

        // Remove round corners around the editor
        :global {
            .fr-element.fr-view {
                padding: 16px;
            }

            .fr-toolbar.fr-top,
            .fr-second-toolbar {
                border-radius: 0;
            }
            .fr-wrapper > .fr-view {
                min-height: 100%;
            }
        }
    }
}
