:local {
    .badge {
        position: relative;

        padding: 6px 12px;
        border-radius: 4px;
        margin: 0;

        color: var(--neutral-grey-5); // legacy
        font-size: 14px;
        font-weight: 500;
        text-align: center;

        cursor: pointer;
        user-select: none;

        &.checked {
            background-color: var(--neutral-grey-3); // legacy
            color: var(--neutral-grey-6); // legacy
        }

        &.disabled {
            color: var(--neutral-grey-4); // legacy
            cursor: not-allowed;
        }
    }

    .badge + .badge {
        margin-left: 4px;
    }

    .input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }
}

.axiom :local {
    .badge {
        color: var(--content-neutral-secondary);

        &.checked {
            background-color: var(--surface-neutral-tertiary);
            color: var(--content-neutral-default);
        }

        &.disabled {
            color: var(--content-neutral-secondary);
        }
    }
}
