:local {
    .threadContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 100;
        overflow: auto;
        overscroll-behavior: contain;
        height: 100%;
        background-color: var(--elevation-neutral-low);
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

        :global(.dark) & {
            background-color: var(--elevation-neutral-mid);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb);
            visibility: initial;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--scrollbar-track);
        }
    }

    .threadMessagesContainer {
        padding: 0 var(--spacing-md);
        flex-shrink: 1;
        flex-grow: 1;
    }

    .threadComposer {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-xs) var(--spacing-md);

        [data-name='reply-composer'] {
            padding: 0;
        }
    }
}
