:local {
    .modalFooter {
        float: right;
        background-color: var(--neutral-grey-2);
    }

    .removeButton {
        font-size: 20px;
    }

    .button {
        display: flex;
        gap: 4px;
        i {
            font-size: 20px;
        }
    }

    .dropdownMenu {
        width: 200px;
    }
}
