:local {
    .required {
        label {
            &::after {
                content: ' *';
                color: var(--feedback-error); // legacy
            }
        }
    }

    .label-wrapper {
        display: flex;
        & > label {
            white-space: nowrap;
        }
        .tooltip {
            margin-left: 4px;
            margin-top: 4px;
            line-height: 16px;
            color: var(--neutral-grey-4); // legacy
        }
    }

    .with-suffix {
        position: relative;
        .input-suffix-wrapper {
            pointer-events: none;
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            margin-top: 6px;
            margin-left: 11px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .spacer {
                visibility: hidden;
            }
            .suffix {
                margin-left: 4px;
                color: var(--neutral-grey-4); // legacy
            }
        }
    }

    .field {
        height: 32px;
    }

    .select {
        position: relative;

        select {
            padding-right: 25px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
        select,
        select:focus {
            background: transparent;
        }

        &::after {
            top: 50%;
            right: 10px;
            position: absolute;
            z-index: -1;
        }
    }

    span.inputGroupText {
        color: var(--neutral-grey-6); // legacy
        font-weight: 500;
    }
}

.axiom :local {
    .required {
        label {
            &::after {
                color: var(--content-error-primary);
            }
        }
    }

    .label-wrapper {
        .tooltip {
            color: var(--content-neutral-secondary);
        }
    }

    .with-suffix {
        .input-suffix-wrapper {
            .suffix {
                color: var(--content-neutral-secondary);
            }
        }
    }

    .field {
        border-radius: var(--spacing-xs);
        box-shadow: none;
        color: var(--content-neutral-default);
        background-color: transparent;
        border: 1px solid var(--border-neutral-default);

        &:hover:not(:disabled):not(:focus) {
            background-color: var(--hover-input);
        }

        &:focus {
            border: 1px solid var(--border-neutral-secondary);
            box-shadow: var(--effects-inner-shadow);
        }

        &:disabled {
            opacity: 0.5;
            background-color: var(--surface-neutral-primary);
            color: var(--content-neutral-secondary);
        }

        &::placeholder {
            color: var(--content-neutral-tertiary);
        }
    }

    .select {
        select {
            border-radius: var(--spacing-xs);
            box-shadow: none;
            color: var(--content-neutral-default);
            background-color: transparent;
            border: 1px solid var(--border-neutral-default);

            &:hover:not(:disabled):not(:focus) {
                background-color: var(--hover-input);
            }

            &:focus {
                border: 1px solid var(--border-neutral-secondary);
                box-shadow: var(--effects-inner-shadow);
            }

            &:disabled {
                opacity: 0.5;
                background-color: var(--surface-neutral-primary);
                color: var(--content-neutral-secondary);
            }
        }
    }

    span.inputGroupText {
        color: var(--content-neutral-default);
    }
}
