@import (reference) '~css/typography';

:local {
    .textarea {
        .body-regular();
        background-color: var(--neutral-grey-0); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
        box-sizing: border-box;
        color: var(--neutral-grey-6); // legacy
        padding: 5px 8px;
        transition:
            background-color 0.2s linear,
            border-color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out,
            color 0.2s linear;
        vertical-align: top;
        width: 100%;
        min-height: 32px;

        &:disabled {
            background-color: var(--neutral-grey-1); // legacy
            color: var(--neutral-grey-4); // legacy
            cursor: not-allowed;
        }

        &:focus {
            border-color: var(--main-primary);
            box-shadow: 0 0 0 2px
                hsla(
                    var(--main-primary-h),
                    var(--main-primary-s),
                    var(--main-primary-l),
                    0.2
                );
        }

        &:focus-visible {
            outline: none;
        }

        ::placeholder {
            color: var(--neutral-grey-4); // legacy
        }
    }

    .error {
        border-color: var(--feedback-error); // legacy

        &:focus {
            border-color: var(--feedback-error);
            box-shadow: 0 0 0 2px
                hsla(
                    var(--feedback-error-h),
                    var(--feedback-error-s),
                    var(--feedback-error-l),
                    0.2
                );
        }
    }

    .label {
        margin-bottom: var(--layout-spacing-xs);
    }
}

.axiom :local {
    .textarea {
        background-color: var(--elevation-neutral-default);
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-xs);
        box-shadow: none;
        color: var(--content-neutral-default);

        &:hover:not(:disabled):not(:focus) {
            border: 1px solid var(--border-neutral-default);
            background-color: var(--hover-input);
        }

        &:focus {
            border: 1px solid var(--border-neutral-secondary);
            box-shadow: none;
        }

        &:disabled {
            opacity: 0.5;
            background-color: var(--surface-neutral-primary);
            color: var(--content-neutral-secondary);
        }

        ::placeholder {
            color: var(--content-neutral-secondary);
        }
    }

    .error {
        border-color: var(--border-error-primary);

        &:hover:not(:disabled):not(:focus) {
            border: 1px solid var(--border-error-primary);
            background-color: var(--hover-input);
        }

        &:focus {
            border: 1px solid var(--border-error-primary);
        }
    }
}
