:local {
    .button {
        text-transform: initial;
    }
}

.axiom :local {
    .button {
        border: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
        border-radius: 0 !important;

        &:hover:not(:disabled) {
            background-color: var(--hover-input) !important;
            border: none !important;
            box-shadow: none !important;
        }

        &:focus,
        &:active {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }
    }
}
