@import (reference) '~css/typography';

:local {
    .caption {
        position: relative;
        left: 50px;
        max-width: calc(~'100% - 50px');
    }

    .label {
        cursor: pointer;
        position: relative;
        display: flex;
        margin: 0;
        max-width: fit-content;
        transition: color 0.2s linear;
    }

    .disabledLabel {
        .slider {
            background-color: var(--neutral-grey-3); // legacy
            cursor: not-allowed;
        }

        .input:checked + .slider {
            background-color: var(--neutral-grey-3); // legacy
        }
    }

    .loadingLabel {
        cursor: not-allowed;

        .label {
            cursor: not-allowed;
        }

        .slider {
            cursor: not-allowed;

            &::after {
                position: absolute;
                content: '';
            }
        }

        .input:not(:checked) + .slider::after,
        .input:checked + .slider::after {
            content: '';
        }
    }

    .input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        margin: 0;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: var(--main-primary);

            &::before {
                transform: translateX(26px);
            }

            &::after {
                content: 'on';
                transform: translateX(-11px);
            }
        }
    }

    .slider {
        cursor: pointer;
        border-radius: 3px;
        background-color: var(--neutral-grey-4); // legacy
        transition: 0.4s;
        width: 42px;
        height: 20px;
        margin-right: 8px;
        position: relative;
        .caption-allcaps();

        &::before {
            position: absolute;
            content: '';
            height: 16px;
            width: 12px;
            left: 2px;
            bottom: 2px;
            border-radius: 2px;
            background-color: var(--neutral-grey-0); // legacy
            transition: 0.4s;
        }

        &::after {
            position: absolute;
            content: 'off';
            font-size: 11px;
            left: 16px;
            bottom: 3px;
            color: var(--neutral-grey-0); // legacy
            transition: 0.4s;
        }
    }

    .spinner {
        z-index: 2;
        position: absolute;
        left: 17px;
    }

    .spinnerLeft {
        left: 4px;
    }
}

.axiom :local {
    .caption {
        left: 36px;
        max-width: calc(~'100% - 36px');
    }

    .label {
        &:hover:not(.disabledLabel):not(.loadingLabel) {
            .slider::before {
                width: 14px;
                height: 10px;
                margin: 0 var(--spacing-xxxxs);
            }

            .input:checked + .slider::before {
                width: 14px;
                height: 10px;
                margin-left: 12px;
                margin-right: var(--spacing-xxxxs);
            }
        }
    }

    .disabledLabel {
        opacity: 0.5;

        .slider {
            display: flex;
            align-items: center;
            background: transparent;
            box-shadow: inset 0 0 0 1px var(--border-neutral-tertiary);

            &::before {
                background: var(--surface-neutral-tertiary);
            }

            &::after {
                display: none;
            }
        }

        .input:checked + .slider {
            background: var(--surface-accent-primary);
            box-shadow: none;

            &::before {
                background: var(--static-default-white);
                margin-left: 14px;
                margin-right: var(--spacing-xxxxs);
            }

            &::after {
                display: none;
            }
        }
    }

    .slider {
        display: flex;
        align-items: center;
        width: 28px;
        height: 16px;
        border-radius: var(--spacing-xl);
        background: var(--surface-neutral-tertiary);
        box-shadow: var(--effects-inner-shadow);
        transition: all 300ms cubic-bezier(0.9, 0, 0, 1);

        &::before {
            width: 12px;
            height: 12px;
            border-radius: 12px;
            position: relative;
            left: auto;
            bottom: auto;
            margin: 0 var(--spacing-xxxxs);
            background: var(--static-default-white);
            transition: all 300ms cubic-bezier(0.9, 0, 0, 1);
        }

        &::after {
            display: none;
        }
    }

    .input:checked + .slider {
        background: var(--surface-accent-primary);

        &::before {
            transform: none;
            margin-left: 14px;
            margin-right: var(--spacing-xxxxs);
        }

        &::after {
            display: none;
        }
    }

    .loadingLabel {
        .slider::after {
            display: none;
        }
    }

    .spinner {
        left: 13px;
    }

    .spinnerLeft {
        left: 2px;
    }
}
