@import '~css/typography';
@import '~css/util';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

.view-table {
    margin-bottom: 20px;
    width: 100%;

    a {
        color: inherit !important;
    }

    tbody {
        tr:hover {
            background: var(--neutral-grey-1); // legacy
        }

        tr {
            border-bottom: 1px solid var(--neutral-grey-3); // legacy
            &.highlighted {
                .subject {
                    .heading-subsection-semibold();
                }

                :not(.skip-bold) {
                    font-weight: @body-semibold-font-weight;
                }
            }

            td:first-child {
                .cell-wrapper {
                    padding-left: 20px;
                }
            }
        }

        .subject {
            .heading-subsection-regular();
            margin-bottom: 4px;

            em {
                .search-highlight();
            }
        }

        .description {
            color: var(--neutral-grey-4); // legacy
            .body-regular();

            em {
                .search-highlight();
            }
        }

        .customer-name-with-highlight,
        .customer-email-with-highlight {
            em {
                .search-highlight();
            }
        }
    }

    tr {
        .cell-wrapper {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 16px 12px;
            min-height: 65px;
            cursor: pointer;
        }

        .cell-short {
            display: table-cell;
            width: 50px;
            min-width: 50px;
            padding-left: 32px;
            padding-right: 4px;

            & > *:not(input) {
                vertical-align: middle;
            }
        }

        .cell-global-nav {
            display: table-cell;
            width: 50px;
            min-width: 50px;
            padding-left: var(--layout-spacing-s);
            padding-right: 4px;

            & > *:not(input) {
                vertical-align: middle;
            }
        }

        td.smallest {
            white-space: nowrap;
            width: 1px;
        }
    }

    thead {
        tr {
            border-bottom: 1px solid var(--neutral-grey-3); // legacy
        }

        tr:first-child .field-title {
            color: var(--neutral-grey-4); // legacy
            .caption-allcaps();

            &.active {
                color: var(--neutral-grey-6); // legacy
            }
        }

        .clickable {
            color: var(--main-primary); // legacy
        }

        td > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .cell-wrapper {
            font-weight: 600;
            min-height: 36px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.axiom .view-table {
    tbody {
        tr:hover {
            background: var(--hover-default);
        }

        tr {
            background-color: var(--elevation-neutral-default);
            border-bottom: 1px solid var(--border-neutral-default);
        }

        .cell-wrapper {
            color: var(--content-neutral-default);

            .description {
                color: var(--content-neutral-secondary);
            }

            .subject {
                color: var(--content-neutral-default);
            }
        }
    }

    thead {
        tr {
            border-bottom: 1px solid var(--border-neutral-default);
        }

        tr:first-child .field-title {
            color: var(--content-neutral-secondary);

            &.active {
                color: var(--content-neutral-default);
            }
        }

        .clickable {
            color: var(--surface-additional-blue);
        }

        .material-icons {
            color: var(--content-neutral-default) !important;
        }
    }
}
