@import '~css/new/colors';

:local {
    .container {
        position: relative;
        top: -2px;
        margin-right: 8px;
        width: 24px;
        max-height: 24px;
        border-radius: 3px;
    }
}
