@import '~css/new/colors';

:local {
    .container {
        background: fade(@classic-main-primary, 10%);
        border-radius: 9px;
        padding: 2px;
        height: 18px;
    }
    .children {
        padding-left: 3px;
        padding-right: 3px;
        opacity: 1;
        color: @yotpoBlue;
        font-weight: 500;
        font-size: 12px;
    }
    .stars {
        padding-top: 3px;
        opacity: 1;
        color: @yotpoBlue;
    }
}
