:local {
    .container {
        background: hsla(
            var(--main-primary-h),
            var(--main-primary-s),
            var(--main-primary-l),
            0.1
        );
        border-radius: 9px;
        padding: 2px;
        height: 18px;
    }
    .children {
        padding-left: 3px;
        padding-right: 3px;
        opacity: 1;
        color: var(--yotpoBlue);
        font-weight: 500;
        font-size: 12px;
    }
    .stars {
        padding-top: 3px;
        opacity: 1;
        color: var(--yotpoBlue);
    }
}
