@import '~css/new/colorTokens';

:local {
    .container {
        margin-right: 1rem;
        font-size: 13px;
        line-height: 16px;
        color: @classic-neutral-grey-6;
        display: flex;
        flex-wrap: wrap;
    }
}
