@import '~css/new/colorTokens';
@import '~css/new/layout';

:local {
    .iconButton {
        background-color: transparent !important;
        height: 20px !important;
    }

    .copyIcon {
        color: @classic-neutral-grey-6;
    }
}
