:local .editableListWidget {
    input {
        padding: 0;
        width: 85px;
    }
    :global .badgeText {
        display: inline-block;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    :global .MultiSelectFieldOpts {
        border: none;
        line-height: inherit;
    }
    :global .badgeClose {
        padding-bottom: 1px;
    }
}
