@import '~css/new/colorTokens';

:local {
    .expandAll {
        float: right;
        margin-left: 8px;
        font-size: 1.4rem;
        line-height: 1rem;
        color: @classic-neutral-grey-4;
        cursor: pointer;
    }
}
