@import '~css/new/colors';

.setBoxShadow(@color) {
    box-shadow: 0 1px 1px fade(@classic-neutral-grey-6, 4%),
        inset 0 3px 0 @color, inset 0 -1px 0 @classic-neutral-grey-2;
}

:local {
    .colorContainer {
        background: @classic-neutral-grey-0;
        padding-top: 3px;
        border-radius: 6px;
        margin: 1rem 0;
    }

    .shopify {
        .setBoxShadow(@shopifyGreen);
    }

    .recharge {
        .setBoxShadow(@rechargeBlue);
    }

    .smile {
        .setBoxShadow(@smileYellow);
    }

    .magento2 {
        .setBoxShadow(@magentoOrange);
    }

    .smooch_inside {
        .setBoxShadow(@chatPurple);
    }

    .yotpo {
        .setBoxShadow(@yotpoBlue);
    }

    .klaviyo {
        .setBoxShadow(@klaviyoGreen);
    }

    .http {
        .setBoxShadow(@httpMagenta);
    }

    .placeholder {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        .title {
            margin-bottom: 0;
        }
    }

    .anchor {
        display: block;
        position: relative;
        top: -54px;
        visibility: hidden;
    }
}
