:local {
    // Warning: as of 2024-01-31 ExpandAllButton component uses
    // widgetWrapper class name to select DOM elements
    .widgetWrapper {
        margin-bottom: 12px;
        flex: 1 0 330px;
        min-width: 330px;
    }

    .anchor {
        display: block;
        position: relative;
        top: -54px;
        visibility: hidden;
    }

    .widgetWrapperTools {
        margin-top: 12px;
    }

    .widgetWrapperEditing {
        &.widgetWrapper {
            &:hover {
                cursor: grab;
            }
            &:active {
                cursor: grabbing;
            }
        }
    }
}
