:local {
    .wrapper {
        display: inline-flex;
        width: 191px;
    }

    .textField {
        width: 100%;
    }

    .colorSwatch {
        width: 16px;
        height: 16px;
        border-radius: var(--radius-xxxs);
        flex-shrink: 0;
    }

    .popup {
        z-index: var(--z-index-popover);
    }
}
