:local {
    .languagePickerWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }

    .languageList {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: var(--spacing-xs);
    }
}
