:local {
    .storePickerWrapper {
        display: flex;
        flex-direction: column;
    }

    .sm {
        width: 240px;
    }

    .md {
        width: 300px;
    }

    .full {
        width: 100%;
    }
}
