:local {
    .row {
        border-bottom: 1px solid var(--neutral-grey-3);

        .middleColumn {
            cursor: pointer;
        }

        .middleColumnContent {
            display: flex;
            align-items: center;
        }

        &:hover {
            background: var(--neutral-grey-1) !important;
        }

        cursor: pointer;
    }

    .dragHandle {
        font-size: large;
        cursor: move;
    }

    .toggleActivation {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 52px;
    }
    .error {
        color: var(--feedback-error);
        line-height: 14px;
    }

    .actions {
        :global .btn {
            box-shadow: none;

            .material-icons,
            .material-icons-outlined {
                transition: 0.2s all;
                opacity: 0.3;
                color: var(--neutral-grey-6);
            }

            &:hover .material-icons {
                opacity: 1;
            }

            &.btn-loading .material-icons {
                opacity: 0;
            }
        }
    }

    .actionButton {
        display: inline-block;
    }

    .name {
        font-weight: 600;
    }
    .descriptionWrapper {
        max-height: 124px;
        overflow: hidden;
    }
    .popoverBody {
        color: var(--neutral-grey-6);
    }
}
