:local {
    .tableContainer {
        overflow-x: hidden;
    }

    .tableBorder {
        overflow-y: auto;

        table {
            margin-bottom: 0;
        }

        // Override BodyCell padding for first and last cells
        :global {
            td[class*='wrapper']:first-of-type > div,
            td[class*='wrapper']:first-of-type > a > div {
                padding-left: var(--spacing-md) !important;
            }

            td[class*='wrapper']:last-of-type > div,
            td[class*='wrapper']:last-of-type > a > div {
                padding-right: var(--spacing-md) !important;
            }
        }
    }

    .headerCell {
        padding: var(--spacing-xs) var(--spacing-md) !important;
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
    }
}

.axiom :local {
    .headerCellTitle {
        color: var(--content-neutral-secondary);
    }
}
