:local {
    .formRow {
        margin-bottom: 16px;
    }

    .formLabel {
        margin-bottom: 8px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;

        button {
            margin-right: 8px;
        }

        .leftGroup {
            display: flex;
            flex: 1;
            justify-content: flex-start;
        }

        .rightGroup {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }
    }
}
