@import '~css/new/colors';

:local {
    .createIntegrationButton {
        border-radius: 4px;
        padding: 6px 12px;

        background-color: @twitterBlue;
        border-color: @twitterBlue;

        &:hover,
        &:active,
        &:focus {
            background-color: @twitterBlue !important;
            border-color: @twitterBlue !important;
        }

        .twitterLogo {
            width: 21px;
            margin-right: 12px;
        }
    }
}
