@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .summary {
        padding: @layout-spacing-m @layout-spacing-s @layout-spacing-m;
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .summaryHeader {
        .caption-allcaps();
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--neutral-grey-5);
        padding: 0 var(--layout-spacing-xs) var(--layout-spacing-xs);
        text-transform: none;
    }

    .startSubscriptionTitle {
        .heading-section-semibold();
        margin: 0;
        padding: @layout-spacing-s @layout-spacing-s 0;
        background-color: var(--neutral-grey-2);
    }
}
