@import (reference) '~css/typography.less';

:local {
    .card {
        cursor: default;
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--layout-spacing-s);
        box-shadow: var(--effects-shadow-container);
    }
}
