@import (reference) '~css/typography.less';

:local {
    .badgeSynced {
        color: var(--content-success-primary);
        background-color: var(--surface-success-primary);
        border-radius: var(--layout-spacing-xs);
    }
    .badgeSyncing {
        color: var(--content-neutral-secondary);
        background-color: var(--surface-neutral-secondary);
        border-radius: var(--layout-spacing-xs);
    }
}
