@import (reference) '~css/typography.less';
@import (reference) '../../../layout/ConvAiOnboardingLayout';

:local {
    .card {
        margin-top: var(--layout-spacing-s);
        cursor: default;
    }

    .knowledgeResources {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);

        & > *:not(:last-child) {
            padding-bottom: var(--layout-spacing-s);
            border-bottom: 1px solid var(--neutral-grey-2); // legacy
        }
    }

    .banner {
        padding-top: var(--layout-spacing-s);
    }

    [class*='ConvAiOnboardingLayout--onboardingBody'] {
        @media @tablets-up {
            display: flex;
        }

        [class*='ConvAiOnboardingLayout--onboardingContentContainer'] {
            @media @tablets-up {
                width: calc(2 / 3 * 100%);
            }
        }

        [class*='ConvAiOnboardingLayout--onboardingPreviewContainerWrapper'] {
            @media @tablets-up {
                width: calc(1 / 3 * 100%);
            }

            max-width: 100%;

            [class*='ConvAiOnboardingLayout--onboardingPreviewContainer--'] {
                max-width: 100%;

                [class*='ConvAiOnboardingLayout--ghostContainer'] {
                    max-width: 100%;

                    @media @tablets-up {
                        padding: 0;
                    }
                }
            }
        }
    }
}

.axiom :local {
    .knowledgeResources {
        & > *:not(:last-child) {
            border-bottom: 1px solid var(--border-neutral-default);
        }
    }
}
