@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    @border-radius-xl: 12px;

    .card {
        background: var(--neutral-grey-1);
        border-radius: @border-radius-xl;
    }
}
