:local {
    .iconButton {
        background-color: transparent !important;
        height: 20px !important;
    }

    .copyIcon {
        color: var(--neutral-grey-6); // legacy
    }
}

.axiom :local {
    .copyIcon {
        color: var(--content-neutral-default);
    }
}
