@import '~css/typography';

:local {
    .breadcrumbInfo {
        .heading-page-regular();
        display: inline-flex;
        align-items: center;
    }

    .emailAddress {
        .heading-subsection-regular();
        color: var(--neutral-grey-4); // legacy
        margin-left: var(--layout-spacing-xs);
    }
}

.axiom :local {
    .emailAddress {
        color: var(--content-neutral-secondary);
    }
}
