:local {
    .title {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    .warningIcon {
        width: 20px;
    }

    .body {
        padding-bottom: var(--layout-spacing-xl);
    }
}
