@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';
@import (reference) '~css/new/mixins';

:local {
    .modalBody {
        padding: @layout-spacing-s;
    }

    .badge {
        margin-bottom: @layout-spacing-s;
        gap: var(--layout-spacing-xxs);
        place-self: flex-start;

        i {
            font-size: 12px;
        }
    }

    .image {
        width: 100%;
        margin-top: var(--layout-spacing-xxs);
    }
}
