@import (reference) '~css/typography.less';
@import (reference) '~css/new/mixins';

:local {
    .modalBody {
        padding: var(--layout-spacing-s);
    }

    .badge {
        margin-bottom: var(--layout-spacing-s);
        gap: var(--layout-spacing-xxs);
        place-self: flex-start;

        i {
            font-size: 12px;
        }
    }

    .image {
        width: 100%;
        margin-top: var(--layout-spacing-xxs);
    }
}
