@import (reference) '~css/typography.less';

:local {
    .wrapper {
        display: grid;
    }

    .container {
        width: 100%;
        overflow: auto;
        margin-bottom: var(--layout-spacing-m);
        display: flex;
        flex-direction: column;
    }

    .table {
        box-sizing: border-box;
        margin-bottom: var(--layout-spacing-xs);

        .header,
        thead {
            .sticky,
            th,
            td {
                position: sticky;
                top: 0;
                height: 56px;
                z-index: 3;
                background-color: var(--neutral-grey-0); // legacy
                cursor: pointer;
            }

            &:first-child {
                th:first-child {
                    z-index: 4;
                }
            }
        }

        tbody {
            tr {
                td,
                div {
                    cursor: text;
                }
            }
        }

        tr {
            height: 56px;
            th,
            td {
                &.withShadow {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: -1px;
                        width: 30px;
                        box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);
                        transform: translateX(100%);
                        pointer-events: none;
                    }
                }

                &.sticky,
                &:first-child {
                    position: sticky;
                    left: 0;
                    z-index: 2;
                    background-color: var(--neutral-grey-0); // legacy
                }

                &.highlight {
                    &:first-child {
                        background-color: var(--neutral-grey-1); // legacy
                        font-weight: @body-medium-font-weight;
                    }
                }
            }
        }

        tr:hover td {
            background: var(--neutral-grey-1); // legacy
        }

        &.compact {
            tr {
                height: 32px;
            }

            .header,
            thead,
            tr {
                .sticky,
                th,
                td {
                    height: 32px;
                    padding: var(--layout-spacing-xxs);
                }
            }
        }
    }

    .BodyCell,
    .BodyCellContent {
        cursor: auto;
    }

    .bold {
        font-weight: @body-semibold-font-weight;
    }

    .emptyValue {
        color: var(--neutral-grey-3); // legacy
    }

    .pagination {
        margin-top: var(--layout-spacing-xs);
        margin-left: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-xs);
    }
}

:global(.react-grid-item) :local(.container) {
    height: 100%;
}

.axiom :local {
    .table {
        .header,
        thead {
            .sticky,
            th,
            td {
                background-color: var(--elevation-neutral-mid) !important;
            }
        }

        tr {
            th,
            td {
                &.sticky,
                &:first-child {
                    background-color: transparent;
                }

                &.highlight {
                    &:first-child {
                        background-color: transparent;
                    }
                }

                &.withShadow {
                    background-color: var(--elevation-neutral-mid) !important;
                }
            }
        }

        tr:hover td {
            background: var(--hover-default);
        }
    }

    .emptyValue {
        color: var(--border-neutral-default);
    }
}
