@import (reference) '~css/typography.less';
@import (reference) '~css/new/mixins.less';

@table-max-height: 744px;

@table-header: 130px;
@table-header-row: 47px;
@pagination: 40px;
@table-margin-bottom: var(--layout-spacing-xs);

@tags-table-row-height: 43px;
@tags-table-max-rows-height: 15 * @tags-table-row-height;
@tags-table-max-height: calc(
    @table-header + @table-header-row + @tags-table-max-rows-height +
        @table-margin-bottom
);
@tags-table-max-height-with-pagination: calc(
    @tags-table-max-height + @pagination
);

@responsive-table-header: 168px;
@responsive-tags-table-max-height: calc(
    @responsive-table-header + @table-header-row + @tags-table-max-rows-height
);

:local {
    .wrapper {
        display: grid;
    }

    .tagsTableWrapperHeight {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - @table-header);
        overflow: hidden;
        @media @mobiles {
            max-height: @responsive-tags-table-max-height;
        }
    }

    .tagsTableContainer {
        width: 100%;
        max-height: calc(100vh - @table-header - @table-header-row);
        @media @mobiles {
            max-height: calc(
                @responsive-tags-table-max-height - @table-header-row -
                    @responsive-table-header
            );
            margin-bottom: 0;
        }
        overflow: auto;

        &.withPagination {
            max-height: calc(
                100vh - @table-header-row - @table-header - @pagination
            );
            margin-bottom: 0;

            @media @mobiles {
                max-height: calc(
                    @responsive-tags-table-max-height - @table-header-row -
                        @responsive-table-header - @pagination
                );
            }
        }
    }

    .container {
        width: 100%;
        margin-bottom: var(--layout-spacing-m);
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .limitedHeight {
        max-height: calc(100vh - 180px);
        overflow: hidden;
        @media @large-desktops {
            max-height: calc(100vh - 60px);
        }
        @media @large-desktops and (min-height: @table-max-height) {
            max-height: @table-max-height;
        }
    }

    .table {
        box-sizing: border-box;
        margin-bottom: @table-margin-bottom;

        .header,
        thead {
            .sticky,
            th,
            td {
                position: sticky;
                top: 0;
                height: 40px;
                z-index: 3;
                background-color: var(--neutral-grey-0);
            }

            &:first-child {
                th:first-child {
                    z-index: 4;
                }
            }
        }

        tr {
            height: 40px;

            th,
            td {
                &.withShadow {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: -1px;
                        width: 30px;
                        box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);
                        transform: translateX(100%);
                        pointer-events: none;
                    }
                }

                &.sticky,
                &:first-child {
                    position: sticky;
                    left: 0;
                    z-index: 2;
                    background-color: var(--neutral-grey-0);
                    transition: background-color 0.3s;
                }

                &:first-child {
                    z-index: 3;
                }

                &.highlight {
                    &:first-child {
                        background-color: var(--neutral-grey-1);
                        font-weight: @body-medium-font-weight;
                    }
                }
            }
        }

        tbody tr {
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--neutral-grey-1);

                & > td.sticky,
                & > td:first-child {
                    background-color: var(--neutral-grey-1);
                }
            }

            td {
                &.sticky {
                    .small,
                    .BodyCellContent {
                        @media @mobiles {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .categoryHeader {
        min-width: 320px;
        width: 320px;

        @media @mobiles {
            min-width: 175px;
            width: 130px;
        }
    }

    .leadColumn {
        cursor: pointer;
        min-width: 250px;
        font-weight: @body-medium-font-weight;
        border: 0;

        @media @mobiles {
            min-width: 120px;
            width: 130px;
        }
    }

    .columnCell {
        justify-content: center;
        margin-left: 0;
    }

    .small,
    .BodyCellContent {
        color: inherit;
        padding: var(--layout-spacing-xs) var(--layout-spacing-s);

        @media @mobiles {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100px;
        }
    }

    .BodyCell,
    .BodyCellContent,
    .dateTimeHeader {
        cursor: auto;
        min-width: 120px;
        width: 120px;
    }

    .BodyCell {
        cursor: auto;
    }

    .dateTimeHeader {
        cursor: pointer;
    }

    .switches {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .emptyValue {
        color: var(--neutral-grey-3);
    }

    .NoDataAvailable {
        min-height: 660px;
    }

    .pagination {
        flex-shrink: 0;
        padding-left: var(--layout-spacing-xs);
        padding-bottom: var(--layout-spacing-xs);
    }
}

:global(.react-grid-item) :local(.container) {
    height: 100%;
}

.axiom :local {
    .table {
        .header,
        thead {
            .sticky,
            th,
            td {
                background-color: transparent;
            }
        }

        tr {
            th,
            td {
                &.sticky,
                &:first-child {
                    background-color: transparent;
                }

                &.highlight {
                    &:first-child {
                        background-color: transparent;
                    }
                }
            }
        }

        tbody tr {
            &:hover {
                background-color: var(--hover-default);

                & > td.sticky,
                & > td:first-child {
                    background-color: var(--hover-default);
                }
            }
        }
    }
}
