@import (reference) '~css/typography';

:local {
    .container {
        max-width: 1024px;
        display: flex !important;
        flex-direction: column;
        gap: var(--layout-spacing-s) !important;
        margin: 0 !important;
    }

    .card {
        border: 1px solid #ececec; // legacy
        border-radius: 12px;
        background-color: var(--neutral-grey-0); // legacy
        transition: ease-in-out 0.2s;
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.04);
        display: flex;
        gap: var(--layout-spacing-l);
        padding: var(--layout-spacing-m);
    }

    .grow {
        flex-grow: 1;
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        max-width: 600px;

        .title {
            .heading-subsection-semibold();
            color: var(--neutral-grey-6); // legacy
        }

        .text {
            .body-regular();
            color: var(--neutral-grey-5); // legacy
        }
    }

    .image {
        width: 128px;
        min-width: 128px;
        height: 128px;
        min-height: 128px;
        border-radius: 8px;
    }
}

.axiom :local {
    .card {
        border: 1px solid var(--border-neutral-default);
        background-color: var(--elevation-neutral-default);
    }

    .description {
        .title {
            color: var(--content-neutral-default);
        }

        .text {
            color: var(--content-neutral-secondary);
        }
    }
}
