@import '~css/new/colorTokens';

:local {
    .wrapper {
        div,
        p,
        h4 {
            margin-bottom: 24px;
        }
        div:last-child {
            margin-bottom: 0px;
        }
    }

    .instruction {
        display: flex;
        align-items: flex-start;

        .instruction-number {
            display: block;
            width: 24px;
            height: 24px;
            font-weight: bold;
            color: @classic-neutral-grey-0;
            border-radius: 50%;
            background-color: @classic-neutral-grey-6;
            margin-right: 15px;
            text-align: center;
            font-size: 14px;
            padding: 2px;
        }
    }
}
