:local {
    .importInProgressContainer {
        padding: 16px 24px;
        border: 1px solid var(--main-primary); // legacy
        border-radius: 4px;
        display: flex;
        margin-bottom: 16px;
    }

    .spinner {
        margin-right: 16px;
    }

    .moreDetails {
        margin-left: auto;
        color: var(--main-primary); // legacy
        cursor: pointer;

        &:hover {
            color: var(--main-primary-4); // legacy
        }
    }

    .button {
        i {
            font-size: 20px;
            font-weight: 400;
        }
    }

    .tooltip {
        max-width: 140px !important;
    }
}

.axiom :local {
    .importInProgressContainer {
        border: 1px solid var(--border-accent-default);
    }

    .moreDetails {
        color: var(--content-accent-default);

        &:hover {
            color: var(--content-additional-blue);
        }
    }
}
