@import '~css/new/mixins';

:local .component {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: var(--neutral-grey-6);
    font-size: 13px;
    font-weight: 500;

    @media @mobiles {
        width: 100%;
    }

    .item {
        display: block;
        padding: 0.5em 0.4em;
        border-radius: 2px;
        cursor: pointer;
        color: var(--neutral-grey-6);

        &.active {
            background-color: var(--neutral-grey-0);

            &,
            .automated {
                color: var(--main-primary);
            }
        }

        &.disabled {
            cursor: not-allowed;
            color: var(--neutral-grey-4);
        }

        .automated {
            font-size: 17px;
            float: right;
            color: var(--neutral-grey-4);
        }
    }
}
