@import '~css/new/colors';

:local .component {
    div[class^='container'] {
        width: 100%;
    }

    .body {
        padding: 0;
    }

    .content {
        // height of screen minus modal header, modal footer and vertical margin
        height: ~'calc(100vh - 190px)';
        overflow: auto;
    }

    .list,
    .footer {
        background-color: @classic-neutral-grey-1;
    }

    .footer {
        padding: 12px 0px;
    }

    .list,
    .primaryAction {
        position: relative;

        &::after {
            content: '';
            width: 1px;
            height: 100%;
            right: 0;
            bottom: 0;
            top: 0;
            position: absolute;
            background: #eceeef;
        }
    }

    .primaryAction::after {
        top: -16px;
        height: ~'calc(100% + 28px)';
    }
}
