@import '~css/new/colorTokens';
@import '~css/new/mixins';

:local .component {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: @classic-neutral-grey-6;
    font-size: 13px;
    font-weight: 500;

    @media @mobiles {
        width: 100%;
    }

    .item {
        display: block;
        padding: 0.5em 0.4em;
        border-radius: 2px;
        cursor: pointer;

        &.active {
            background-color: @classic-neutral-grey-0;
            color: @classic-main-primary;
        }

        &.disabled {
            cursor: not-allowed;
            color: #c2c2c2;
        }
    }
}
