@import '~css/new/colors';

:local .component {
  display: flex;
  flex-direction: column;
  height: 100%;

  .search {
    border-color: @lightGrey;
  }

  .scroller {
    flex: 1;
    margin: 0 -1em;
    padding: 0 1em;
  }
}
