:local {
  .divider {
    position: relative;

    &::after {
      content: '';
      width: 1px;
      height: 100%;
      right: 0;
      bottom: 0;
      top: 0;
      position: absolute;
      background: #eceeef;
    }

    &.footer::after {
      top: -15px;
      height: ~"calc(100% + 30px)";
    }
  }
}
