@import (reference) '~css/new/colors';

:local {
    .container-default-language {
        margin-bottom: 24px;

        color: @neutral10;

        .title {
            margin-bottom: 24px;
        }
    }
}
