@medium: ~'only screen and (max-width: 1393px)';

:local {
    flex-grow: 1;

    .stickyParent {
        height: 100%;
    }

    .preview {
        position: sticky;
        top: var(--layout-spacing-s);
    }

    .row {
        row-gap: var(--layout-spacing-l);
        column-gap: var(--layout-spacing-s);
    }
}
