:local {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 var(--spacing-md);
    }

    .expandable {
        margin: 0;
        padding: var(--spacing-sm) calc(var(--spacing-md) + var(--spacing-xxxs));
        background-color: var(--elevation-neutral-default);
    }

    .clickable {
        cursor: pointer;
    }
}
