@import '~css/new/colorTokens';

@fontSize: 20px;
@size: @fontSize + 4px;

:local .picker {
    width: @size;
    height: @size;
    display: block;
    text-align: center;

    .icon {
        color: @classic-neutral-grey-4;
        font-size: @fontSize;
        line-height: @size;
        transition: 0.2s all;
        cursor: pointer;

        &.empty:hover {
            font-size: @size;
            color: @classic-neutral-grey-6;
        }
    }
}

:local .popover {
    display: flex;
    flex-direction: column;

    .clearButton {
        margin: 0;
        border-radius: 0;
    }

    .clearInner {
        margin-left: -1em; // Move left by icon width to center the button text
    }
}
