@import '~css/new/mixins';

:local {
    .container {
        padding: var(--layout-spacing-s) var(--layout-spacing-m);
        display: flex;
        align-items: flex-start;
        position: relative;
        margin: 0;
        word-break: break-word;
        overflow-y: visible;
        gap: var(--layout-spacing-s);

        @media @mobiles {
            padding: 0.8em 16px;
            margin: 0 -16px;
        }

        &:hover {
            background: var(--neutral-grey-1); // legacy
        }
    }

    .callDetails {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        flex: 1;
    }

    .row {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--layout-spacing-xs);
    }

    .callStatus {
        flex: 1;
    }

    .errorStatus {
        color: var(--feedback-error); // legacy
    }

    .greyStatus {
        color: var(--neutral-grey-5); // legacy
    }

    .statusWrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        white-space: pre-wrap;
    }

    .missedCallStatus {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);

        .missedCallIcon {
            font-size: 16px;
        }
    }

    .date {
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        white-space: nowrap;
        flex-shrink: 0;

        span {
            vertical-align: top;
        }
    }

    .header {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        flex-wrap: wrap;

        .phoneIcon {
            width: 15px;
            margin-left: var(--layout-spacing-xxs);
        }
    }

    .recordings {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .recording {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .audio {
        width: 424px;
    }

    .audioTitle {
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    .deletedRecording {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .privateRecording {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    .sourceDetails {
        text-align: left;
        padding: 0;
        margin: 0;
        list-style-type: none;

        .sourceDetail {
            line-height: 1.5em;
            text-transform: capitalize;

            .sourceLabel {
                color: var(--neutral-grey-4); // legacy
            }
        }
    }

    .noEventsInfo {
        color: var(--neutral-grey-5); // legacy
    }

    .timelineItemContent {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.axiom :local {
    .container {
        &:hover {
            background: var(--hover-default);
        }
    }

    .statusWrapper {
        color: var(--content-neutral-secondary);
    }

    .errorStatus {
        color: var(--content-error-primary);
    }

    .greyStatus {
        color: var(--content-neutral-secondary);
    }

    .sourceDetails {
        .sourceDetail {
            .sourceLabel {
                color: var(--content-neutral-secondary);
            }
        }
    }

    .noEventsInfo {
        color: var(--content-neutral-secondary);
    }
}
