:local {
    .button {
        display: flex;
        align-items: center;
        min-height: 50px;
        border-color: transparent;
        color: #1d365c;
        font-weight: normal;

        .chevronIcon {
            margin-left: auto;
            color: #d2d7de;
            font-size: 24px;
        }

        &.header {
            font-size: 16px;
            font-weight: 600;
        }
    }
}
