:local {
    .container {
        flex: 1;
    }

    .customerSearch {
        margin-top: var(--layout-spacing-xs);
    }

    .ticketSearch {
        margin-top: var(--layout-spacing-xs);
    }

    .senderSelect {
        height: 34px;

        > div {
            border: 0;
            height: 100%;

            & span {
                height: auto !important;
            }
        }
    }
}
