:local {
    .senderSelect {
        height: 34px;
        flex: 1;

        button {
            justify-self: flex-end;
        }

        // Workaround to make the select input take the full height of the container
        > div {
            border: 0;
            height: 100%;
            display: flex;
            justify-content: flex-end;

            > button {
                height: 100%;

                > span {
                    display: flex;
                    height: 100%;

                    div > div {
                        height: 100%;
                    }
                }
            }
        }
    }

    .conditionalContent {
        flex-basis: 100%;
    }
}
