:local {
    .senderSelect {
        height: 34px;
        flex: 1;

        > div {
            border: 0;
            height: 100%;

            & span {
                height: auto !important;
            }
        }
    }

    .conditionalContent {
        width: 0;
        visibility: hidden;
        max-height: 0;
        transition:
            visibility 0.3s,
            max-height 0.3s ease-in-out;

        &[data-visible='true'] {
            visibility: visible;
            max-height: 200px;
            width: 100%;
        }
    }
}
