@import (reference) '~css/typography';
@import '~css/new/mixins';

:local {
    .extraLeftMargin {
        margin-left: 2px;
    }

    .articleStatusBadge {
        display: flex;
        height: 24px;
        padding: 0 var(--spacing-xs);
        justify-content: center;
        align-items: center;

        border-radius: var(--spacing-xxs);
        background: var(--surface-neutral-secondary);

        color: var(--content-neutral-secondary);

        .caption-semibold();

        margin-top: -4px;

        &.published {
            background: var(--surface-success-primary);
            color: var(--content-success-primary);
        }
    }
}
