@import '~css/new/colorTokens';
@import '~css/new/layout.less';
@import '~css/new/typographyTokens.less';
@import '~css/typography.less';

:local {
    .title {
        .heading-subsection-semibold();
    }

    .label {
        .body-semibold();
    }

    .textInput {
        background-color: @classic-neutral-grey-0;
    }

    .richFieldLabel {
        margin-bottom: @layout-spacing-s;
    }

    .description {
        .caption-regular();
        color: @classic-neutral-grey-5;
        margin-top: @layout-spacing-xxs;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .formField {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .helperText {
        .caption-regular();
        color: @classic-neutral-grey-5;
    }
}
