:local {
    .row {
        border-bottom: 1px solid var(--neutral-grey-3); // legacy

        .middleColumn {
            cursor: pointer;
        }

        .fullWidthColumn {
            width: 100%;
            flex-grow: 1;
        }

        .middleColumnContent {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &:hover {
            background: var(--neutral-grey-1) !important; // legacy
        }

        cursor: pointer;
    }

    .dragHandle {
        font-size: large;
        cursor: move;
    }

    .toggleActivation {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 52px;
    }

    .error {
        color: var(--feedback-error); // legacy
        line-height: 14px;
    }

    .infoIcon {
        font-size: 16px;
        color: var(--neutral-grey-4); // legacy
    }

    .actions {
        :global .btn {
            box-shadow: none;

            .material-icons,
            .material-icons-outlined {
                transition: 0.2s all;
                opacity: 0.3;
                color: var(--neutral-grey-6); // legacy
            }

            &:hover .material-icons {
                opacity: 1;
            }

            &.btn-loading .material-icons {
                opacity: 0;
            }
        }
    }

    .actionButton {
        display: inline-block;
    }

    .name {
        font-weight: 600;
    }
    .descriptionWrapper {
        max-height: 124px;
        overflow: hidden;
    }
    .popoverBody {
        color: var(--neutral-grey-6); // legacy
    }
}

.axiom :local {
    .row {
        border-bottom: 1px solid var(--border-neutral-default);

        &:hover {
            background: var(--hover-default) !important;
        }
    }

    .error {
        color: var(--content-error-primary);
    }

    .infoIcon {
        color: var(--content-neutral-secondary);
    }

    .actions {
        :global .btn {
            .material-icons,
            .material-icons-outlined {
                color: var(--content-neutral-default);
            }
        }
    }

    .popoverBody {
        color: var(--content-neutral-default);
    }
}
