@import '~css/new/mixins';

:local {
    .container {
        display: flex;
    }

    .cardContainer {
        width: 272px;
        min-width: 272px;
        display: none;

        @media @large-desktops {
            display: block;
        }
    }

    .card {
        letter-spacing: -0.01em;
        padding: 18px;
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
        background: var(--main-latte); // legacy
    }

    .cardTitle {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    .cardButton {
        font-size: 12px;
    }

    .navbar {
        background-color: var(--neutral-grey-2); // legacy
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
        height: 52px;
        justify-content: normal;
        padding: 0 16px;
    }

    .item {
        color: var(--neutral-grey-5); // legacy
        font-weight: 500;
        line-height: 20px;
        margin: 0 16px;
        padding: 16px 0;
        cursor: pointer;

        &:hover {
            color: var(--neutral-grey-6); // legacy
        }
    }

    .active {
        border-bottom: 2px solid var(--main-primary); // legacy
        color: var(--neutral-grey-6); // legacy
        padding: 16px 0 14px 0;
    }
}

.axiom :local {
    .card {
        background: var(--elevation-neutral-mid);
        border: 1px solid var(--border-neutral-default);
        box-shadow: var(--effects-shadow-container);
    }

    .navbar {
        background-color: var(--elevation-neutral-mid);
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .item {
        color: var(--content-neutral-secondary);

        &:hover {
            color: var(--content-neutral-default);
        }
    }

    .active {
        border-bottom: 2px solid var(--border-accent-default);
        color: var(--content-neutral-default);
    }
}
