@import (reference) '~css/typography.less';

:local {
    .title {
        .body-semibold();
        margin-top: var(--layout-spacing-s);
        margin-bottom: var(--layout-spacing-xxs);
    }

    .description {
        margin-bottom: var(--layout-spacing-xs);
    }

    .richField {
        &.hasError {
            border-color: var(--feedback-error); // legacy
        }
    }
}

.axiom :local {
    .richField {
        &.hasError {
            border-color: var(--border-error-primary);
        }
    }
}
