:local {
    .card {
        width: 396px;
    }

    .separator {
        height: 1px;
        background-color: var(--border-neutral-default);
    }

    .cardHeader {
        padding: var(--spacing-sm) var(--spacing-md);
    }

    .languageRow {
        padding: var(--spacing-sm) var(--spacing-md);
    }

    .languageName {
        flex: 1;
    }
}
