:local {
    .knowledgeEditorContainer {
        height: 100%;
    }

    .knowledgeEditor {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
        height: 100%;
    }
}
