:local {
    .score {
        min-width: 150px;

        & > div:has(svg) {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
