:local {
    .excerpt {
        border-left: 2px solid var(--border-neutral-default);
        padding-left: var(--spacing-xxs);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
