@import '~css/new/colorTokens';

:local {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon {
        width: 24px;
        height: 24px;

        &.icon-small {
            width: 18px;
            height: 18px;
        }
    }

    .text {
        max-width: 180px;
        margin-top: 8px;

        color: @classic-neutral-grey-6;

        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        .browseInput {
            color: @classic-main-primary;
        }

        span + span {
            margin-left: 4px;
        }
    }
}
