:local {
    .wizardButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .wizardNavigationButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }
}
