:local {
    .container {
        padding: 0 var(--spacing-lg);
        gap: var(--spacing-lg);
    }

    .section {
        flex-direction: column;
        border-radius: var(--spacing-sm);
        border: 1px solid var(--border-neutral-default);
        padding: var(--spacing-lg);
        gap: var(--spacing-lg);
    }
}
