@import (reference) '~css/new/colors';

:local {
    .nested-table {
        margin-bottom: 0;

        .row {
            border-color: @neutral4;
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .header-tr {
        tr {
            border: 0;
        }

        td {
            padding: 0;
        }
    }
}
