@import '~css/new/colors';
@import '~css/new/colorTokens';

:local {
    .title {
        color: @white;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }

    .toggle {
        border: none;
        color: @classic-neutral-grey-5 !important;
        font-size: 14px;
        line-height: 20px;
        padding: 3px 6px;
        transform: translateX(5px);

        &:hover,
        &:focus {
            background-color: @neutral9;
            color: @neutral0 !important;
        }

        &:active {
            background-color: @neutral5 !important;
        }
    }

    .action {
        font-size: 13px;
        padding-left: 7px;
        line-height: 24px;

        &:focus {
            outline: none;
        }
    }
}
