:local {
    .title {
        color: var(--navbar-text-color);
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
    }

    .toggle {
        border: none;
        color: var(--navbar-text-color) !important;
        font-size: 14px;
        line-height: 20px;
        padding: 3px 6px;
        transform: translateY(-1px);

        &:hover,
        &:focus {
            background-color: var(--navbar-block-toggle-hover-background-color);
            color: var(--navbar-block-toggle-hover-color) !important;
            box-shadow: unset;
        }

        &:active {
            background-color: var(
                --navbar-block-toggle-active-background-color
            ) !important;
            color: var(--navbar-block-toggle-active-color);
        }
    }

    .action {
        font-size: 13px;
        padding-left: 7px;
        line-height: 24px;
        font-weight: 400;

        &:focus {
            outline: none;
        }
    }

    .isDragged {
        opacity: 0.5;
    }
}
