:local {
    .item {
        display: inline-flex;
        align-items: center;
        height: 40px;
        width: 120px;
        padding: var(--spacing-xxs);
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-xxs);
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);
        cursor: pointer;

        &:hover {
            background-color: var(--hover-default);
        }

        &.preview {
            position: relative;
            padding: 0;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: transparent;
                border-radius: inherit;
                pointer-events: none;
            }

            &:hover::after {
                background-color: var(--hover-default);
            }
        }
    }

    .itemMeta {
        width: 100%;
        overflow: hidden;
    }

    .textStack {
        overflow: hidden;
    }

    .name {
        color: var(--content-neutral-default);
    }

    .subtitle {
        color: var(--content-neutral-secondary);
    }
}
