:local {
    .pendingMessageBanner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-xs);
        padding: var(--spacing-xs) var(--spacing-md);
        border-radius: var(--spacing-xs);
        border: 0.5px solid var(--border-accent-default);
        background: var(--surface-neutral-primary);
        z-index: 1;
    }
}
