@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography.less';
@import '~css/new/mixins.less';

:local {
    .table {
        margin: 0 -@layout-spacing-m -@layout-spacing-m;
        width: 480px;

        tr {
            border-bottom: 0;

            td {
                padding: 0;
                height: 32px;
            }

            td > div {
                padding: 4px 16px;

                &:hover {
                    cursor: default;
                }
            }
        }
    }

    .lastRow {
        border-top: 1px solid var(--neutral-grey-3);
    }

    .total {
        .body-medium();
    }

    .card {
        min-height: 320px;
        overflow: auto;
        width: 482px;

        @media @mobiles {
            min-width: 100px;
            width: inherit;
        }
    }
}
