:local {
    .stat-header {
        position:relative;
    }
    .btn-download {
        position: absolute;
        right: 0;
        // to align the text of the button with the title of the chart
        top: -6px;
    }
}
