:local {
    .metricCardInfo {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: var(--layout-spacing-xxs);
        color: var(--neutral-grey-5);
        font-size: 12px;

        i {
            font-size: 16px;
        }
    }

    .metricCardInfoCell {
        margin-top: -1rem;
    }
}
