@import (reference) '../../../../helpCenter.less';

.mixin-level-loop (@i) when (@i < @maxCategoryTreeDepth) {
    .subCategory-table-level@{i} {
        margin-bottom: 0px;
        padding-left: 20px;

        tbody tr td:first-child:not([colspan]) {
            padding-left: (30px + @i*28px);
        }

        tbody tr:last-child {
            border-bottom: 0px;
        }
    }
    .mixin-level-loop(@i + 1);
}

:local {
    .drag-handler {
        color: var(--neutral-grey-3); // legacy
        font-size: 22px;
    }

    .caret {
        margin-right: 16px;
        color: var(--neutral-grey-4); // legacy
        font-size: 22px;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        opacity: 0;
        transition: opacity 250ms ease;
    }

    .caret-placeholder {
        width: 22px;
        margin-right: 16px;
    }

    .row,
    .droppable-row {
        background-color: var(--neutral-grey-0); // legacy

        &:hover {
            background-color: var(--neutral-grey-1); // legacy

            .actions {
                opacity: 1;
            }
        }
    }

    .droppable-row {
        .cell {
            font-weight: 600;
            font-style: normal;
        }
    }

    .parent-cell {
        > div {
            background: var(--neutral-grey-2); // legacy
            padding: 0;
            margin: -1px 0;

            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                padding-right: 0;
            }
        }
    }

    .subCategory-cell {
        > div {
            background: var(--neutral-grey-2); // legacy
            padding: 0;
            margin: -1px 0;

            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                padding-right: 0;
            }
        }

        thead {
            display: none;
        }

        .TableWrapper {
            margin-bottom: 0px;
        }
    }

    .no-click {
        cursor: default;
    }

    .cell {
        color: var(--neutral-grey-6); // legacy
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        line-height: 20px;

        user-select: none;

        .tooltip-underline:hover {
            text-decoration: underline dotted;
        }

        > div {
            padding-left: 0;
        }

        .count {
            padding: 2px 9px;
            border: 1px solid var(--neutral-grey-3); // legacy
            margin-left: 8px;
            background: var(--neutral-grey-2); // legacy

            color: var(--neutral-grey-5); // legacy
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
        }
    }

    .language {
        > div {
            width: 125px;
        }
    }

    .load-more {
        justify-content: center;

        a {
            text-transform: capitalize;
        }
    }

    .mixin-level-loop(0);
}

.axiom :local {
    .drag-handler {
        color: var(--border-neutral-default);
    }

    .caret {
        color: var(--content-neutral-secondary);
    }

    .row,
    .droppable-row {
        background-color: var(--elevation-neutral-default);

        &:hover {
            background-color: var(--elevation-neutral-mid);
        }
    }

    .parent-cell {
        > div {
            background: var(--elevation-neutral-mid);
        }
    }

    .subCategory-cell {
        > div {
            background: var(--elevation-neutral-mid);
        }
    }

    .cell {
        color: var(--content-neutral-default);

        .count {
            border: 1px solid var(--border-neutral-default);
            background: var(--elevation-neutral-mid);
            box-shadow: var(--effects-shadow-container);
            color: var(--content-neutral-tertiary);
        }
    }
}
