:local .component {
    position: relative;
    overflow: auto;

    .wrapper {
        padding: 5px;
        display: flex;

        .spinner {
            margin: 20px auto;
            width: 40px;
        }
    }
}
