@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        height: var(--layout-spacing-m);
        max-width: 160px;
        width: fit-content;
        padding: var(--layout-spacing-xxs) var(--layout-spacing-xs);
        align-items: center;
        gap: var(--layout-spacing-xxs);

        border-radius: var(--layout-spacing-l);
        background: var(--neutral-grey-3);

        .caption-semibold();

        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.axiom :local {
    .container {
        background: var(--surface-neutral-secondary);
        color: var(--content-neutral-secondary);
    }
}
