@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        background-color: var(--main-latte);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--layout-spacing-xs);
        flex: 1 0 0;
        align-self: stretch;
        padding: var(--layout-spacing-s);
    }

    .content {
        display: flex;
        width: 318px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--layout-spacing-l);
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .title {
        color: var(--modern-neutral-grey-6);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 140% */
        letter-spacing: -0.4px;
    }

    .description {
        color: var(--modern-neutral-grey-5);
        .heading-subsection-regular();
    }

    .video {
        height: 215px;
        width: 287px;
        box-shadow: 4px 4px 16px 0px rgba(22, 22, 22, 0.1);
    }

    .button {
        display: flex;
        gap: var(--layout-spacing-xxs);
    }
}
