:local {
    .phoneNumberField {
        width: 100%;
    }

    .dropdownSelect {
        width: 100%;
        margin-bottom: 10px;
    }

    .errorMessage {
        color: var(--feedback-error); // legacy
        font-size: 12px;
        margin-top: 4px;
    }
}

.axiom :local {
    .errorMessage {
        color: var(--content-error-primary);
    }
}
