@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: none;
        outline: none;
        border-radius: 8px;
        background-color: transparent;
        font-size: 24px;
        color: var(--navigation-text-item);
        transition:
            background-color 0.2s ease-out,
            color 0.2s ease-out;

        &:hover {
            background-color: var(--navigation-selected);
            color: var(--navigation-text-item);
        }

        &:focus {
            outline: 0;
        }
    }

    .active,
    .active:hover {
        border: 1px solid var(--navigation-selected);
        background: var(--navigation-border);
        color: var(--navigation-title-item);
    }
}
