:local {
    .card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: var(--layout-spacing-s);
        border-radius: var(--layout-spacing-xs);
        border: 1px solid transparent;
        background: var(--neutral-grey-0);
        gap: var(--layout-spacing-xxs);
    }

    .header {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 4px;
        div {
            border-radius: 4px;
        }
    }

    .infoSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        width: 100%;
        div {
            width: 100% !important;
        }
    }
}
