:local {
    .card {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-sm) var(--spacing-md);
        border-radius: var(--spacing-xs);
        border: 1px solid transparent;
        background: var(--neutral-grey-0); // legacy
        gap: 4px;
        width: 100%;
        margin-bottom: 2px;
    }

    .card:first-of-type {
        background: var(--neutral-grey-0); // legacy
        border-color: var(--neutral-grey-1); // legacy
    }

    .card > :first-child {
        height: 20px;
    }

    .card > :last-child {
        height: 16px;
    }
}

.axiom :local {
    .card {
        background: var(--elevation-neutral-default);
    }

    .card:first-of-type {
        background: var(--surface-neutral-primary);
        border-color: var(--border-neutral-default);
    }
}
