@import '~css/typography';

:local {
    .container {
        padding: var(--layout-spacing-xs);
        border-top: 1px solid var(--neutral-grey-3);
    }

    .total {
        display: flex;
        justify-content: space-between;
    }

    .totalTitle {
        .body-semibold();
        color: var(--neutral-grey-6);
    }

    .totalPrice {
        color: var(--neutral-grey-6);

        span {
            .body-semibold();
        }
    }
}
