@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .customerDetailContainer {
        width: 100%;
        padding: @layout-spacing-m;
        overflow-y: auto;
        background: var(--neutral-grey-1);
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: @layout-spacing-m;
    }

    .title {
        .heading-page-semibold();
        margin: 0;
    }

    .buttons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }
}
