:local {
    .countryFlagButton {
        cursor: pointer;

        &.disabled {
            cursor: default;
        }
    }

    .selectContainer {
        display: flex;
        flex-grow: 1;
    }
}
