@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        height: 100%;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: @layout-spacing-l;

        text-align: center;
    }

    .content {
        padding-bottom: @layout-spacing-m;
    }
}
