:local {
    .row {
        display: grid;
        grid-template-columns: minmax(122px, 1fr) minmax(166px, 1fr);
        width: 100%;

        label {
            margin: 0 !important;
            align-items: center;
            span {
                color: var(--content-neutral-secondary);
                font-weight: 400;
            }
        }
    }
}
