:local {
    .container {
        position: relative;

        .textStack {
            display: grid;
        }

        .statusText,
        .viewProfile {
            grid-row: 1;
            grid-column: 1;
            min-width: 0;
        }

        .viewProfile {
            visibility: hidden;
        }

        &:hover {
            .statusText {
                visibility: hidden;
            }

            .viewProfile {
                visibility: visible;
            }
        }
    }
}
