:local {
    .container {
        position: relative;

        .viewProfile {
            display: none;
        }

        &:hover {
            .statusText {
                display: none;
            }

            .viewProfile {
                display: block;
            }
        }
    }
}
