@import '~css/typography';
@import '~css/util';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .containerContent {
        display: flex;
        flex: 1;
        flex-shrink: 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 12px;
        border: 1px solid var(--neutral-grey-2);
        background: var(--neutral-grey-0);
        box-shadow:
            74px 82px 31px 0 rgba(0, 0, 0, 0),
            48px 53px 28px 0 rgba(0, 0, 0, 0.01),
            27px 30px 24px 0 rgba(0, 0, 0, 0.03),
            12px 13px 18px 0 rgba(0, 0, 0, 0.04),
            3px 3px 10px 0 rgba(0, 0, 0, 0.05);
        overflow: hidden;

        .header {
            width: 100%;
            padding: var(--layout-spacing-s);
            border-bottom: 1px solid var(--neutral-grey-2);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .approveButton {
            background-color: var(--main-primary) !important;
            i {
                font-size: 20px;
                padding-right: var(--layout-spacing-xxs);
            }
            &[aria-disabled='true'] {
                background-color: var(--neutral-grey-1) !important;
            }
        }

        .headerActions {
            display: flex;
            gap: var(--layout-spacing-xs);
        }

        .title {
            .heading-subsection-semibold();
            font-size: 16px;
            margin: 0;
        }

        .contentBody {
            padding: var(--layout-spacing-s);
            display: flex;
            flex: 1;
            width: 100%;
            background: var(--neutral-grey-0) !important;
            overflow-y: auto;
        }

        .opportunityDetails {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: var(--layout-spacing-m);
        }

        .guidanceFormWrapper {
            width: 100%;
        }

        .guidanceLink {
            color: #6bb5ff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
