@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
        margin-top: @layout-spacing-l;
    }

    .link {
        text-align: center;
    }
}
