@import (reference) '~css/new/colorTokens.less';
@import (reference) '~css/typography.less';

:local {
    .withMinHeight {
        min-height: 169px;
    }

    .maxLength {
        .caption-regular();
        color: @classic-neutral-grey-4;
        position: absolute;
        display: flex;
        align-items: center;
        height: 24px;
        bottom: 5px;
        right: 7px;
    }
}
