:local {
    .pageHeader {
        padding: var(--spacing-lg);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        .breadcrumbLink {
            color: var(--content-neutral-secondary) !important;
        }
    }
}
