@import '~css/new/colorTokens';

.shopifyIntegrationsList {
    .shopifyLogo {
        height: 30px;
        margin-right: 15px;
    }
}

.table-integrations {
    width: 100%;

    .icon-go-forward {
        color: @classic-neutral-grey-4;
    }

    th:first-child {
        padding-left: 2.14rem;
    }

    td {
        padding-top: 1rem;
        padding-bottom: 1rem;

        &:first-child {
            padding-left: 24px;
        }
        &:last-child {
            padding-right: 24px;
        }
    }

    tr:hover .icon-go-forward {
        color: @classic-main-primary;
    }
}
