@import '~css/new/colorTokens';

.table-integrations {
    width: 100%;

    .icon-go-forward {
        color: @classic-neutral-grey-4;
    }

    tr:hover .icon-go-forward {
        color: @classic-main-primary;
    }
}
