/* JSON Tree */

.json-tree {
    padding: 15px;
    border-radius: 3px;
    background: @classic-neutral-grey-1;
    text-align: left;
    font-family: monospace;
    font-size: 9pt;

    .field {
        margin: 0 0 1px !important;
    }

    .content {
        padding-left: 10px;
    }

    .string-value {
        color: @classic-main-primary-2;
        white-space: pre-line;
    }

    .number-value {
        color: #43a62e;
    }

    .boolean-value {
        color: #d25252;
    }

    .null-value {
        color: #caae1e;
    }
}
