@import (reference) './typography';

:local {
    .category {
        padding-top: 24px;
    }

    .category-title {
        .caption-allcaps();
        color: var(--navigation-text-item);
        display: flex;
        height: 32px;
        line-height: 32px;
        margin-bottom: 0;
        padding: 0 20px;
        cursor: default;
    }

    .icon {
        font-size: 20px !important;
        line-height: inherit !important;
        margin-right: 8px !important;
        vertical-align: inherit !important;
    }

    @item-transition: all 0.1s;
    .item-count {
        transition: @item-transition;
    }

    .item-name {
        flex: 1;
        margin-right: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
    }

    .link {
        .body-regular();
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        vertical-align: middle;
        user-select: none;
        transition: @item-transition;
        color: var(--navigation-text-item);
        padding: 4px 8px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.isDragged {
            opacity: 0.3;
        }

        &:global:hover {
            background-color: var(--navbar-link-hover-background-color);
            color: var(--navbar-link-hover-text);

            :local .item-count {
                color: var(--navbar-link-hover-text);
            }
        }

        &:global.active,
        &:global:active {
            background-color: var(--main-primary);
            color: var(--neutral-grey-0);

            :local .item-count {
                color: var(--neutral-grey-0);
            }
        }
    }

    .menu {
        white-space: nowrap;
    }

    .badge {
        margin-left: 10px;
    }

    .link-wrapper {
        padding-right: 12px;
        padding-left: 12px;

        &.isNested {
            padding-left: 40px;
        }
    }

    .navbarButton.navbarButton {
        color: var(--navigation-text-item) !important;
        justify-content: start;
        margin: 0 12px;
        padding: 0 8px !important;
        height: 28px;
        .body-regular();

        &:hover {
            color: var(--neutral-grey-2) !important;
            background-color: var(--neutral-grey-5) !important;
        }
    }

    .tooltipContent {
        align-items: center;
        display: flex;

        span {
            margin-right: 8px;
        }
    }

    .buttonIcon i {
        // overrides specifity in ButtonIconLabel
        font-size: 20px !important;
        margin-right: 8px !important;
    }

    :global(.globalNav) :local {
        .link {
            height: 28px;
            border: 1px solid transparent;

            &:global:hover {
                border-color: var(--navbar-link-hover-background-color);
                background-color: var(--navbar-link-hover-background-color);
                color: var(--navbar-link-hover-text);

                :local .item-count {
                    color: var(--navbar-link-hover-text);
                }
            }

            &:global.active,
            &:global:active {
                border: 1px solid var(--navigation-selected);
                background: var(--navigation-border);
                color: var(--navigation-title-item);

                :local .item-count {
                    color: var(--navigation-title-item);
                }
            }
        }
    }
}
