@import '~css/new/colorTokens';

.ui.selectable.table tbody tr.no-hover:hover {
    background-color: transparent !important;
}

pre {
    margin: 0;
    white-space: pre-wrap;
}

.IfStatement {
    .BlockStatementItem {
        position: relative;
    }
}

.Program {
    .field {
        display: inline-block;
    }

    .ExpressionStatement .field {
        display: block;
    }

    .test {
        .operator button {
            margin-top: 10px !important;
        }

        .Identifier,
        .Literal {
            margin-right: 0.25rem !important;
        }
    }
}

.BinaryExpression {
    .left,
    .operator,
    .right {
        margin-left: 5px;
    }
}

.delete-blockstatement {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 5;
    color: @classic-neutral-grey-0;

    .material-icons {
        color: @classic-feedback-error-2;
    }
}

.IfStatement,
.ExpressionStatement {
    position: relative;
}

// new design
@basicPadding: 59px;

.Program {
    font-size: 12px;

    .dropdown-menu.show {
        font-size: 13px;
    }
}

.BlockStatementItem {
    width: 100%;
}

.IfStatement,
.ExpressionStatement {
    &.hovered:hover {
        background: @classic-neutral-grey-0;
        border-radius: 4px;
    }
}

.BlockStatement,
.IfStatement,
.consequent,
.alternate,
.Action {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

// For If/Then/Else labels and their dropdown menu
.test,
.consequent,
.alternate {
    .btn-group {
        & > .ControlStructureButton.dropdown-toggle {
            transition: color 0.2s, background-color 0.2s;
        }

        &.show {
            & > .ControlStructureButton.dropdown-toggle {
                color: @classic-neutral-grey-0 !important;
                background: @classic-main-primary !important;
            }
        }
    }
}

.test {
    padding-bottom: 2px;
}

.rule-badge-mixin {
    margin-right: 0.25rem !important;
    border-radius: 15px !important;
    border: none !important;
    font-size: 12px !important;
    font-weight: 600;
    padding: 3px 8px;
    height: 26px;
    text-transform: uppercase;
    line-height: 20px !important;

    &::after {
        margin-left: 3px !important;
        opacity: 0.3 !important;
        vertical-align: middle;
    }
}

.LogicalOperator {
    .rule-badge-mixin;
    background-color: @ultraLightOrange;
    color: @classic-feedback-warning !important;
}

.ControlStructureButton,
.ControlStructureButton:hover,
.ControlStructureButton:active {
    .rule-badge-mixin;
    background-color: @ultraLightBlue !important;
    color: @classic-main-primary-3 !important;
}

.OperatorDropdown .dropdown-toggle {
    .rule-badge-mixin;
    background-color: @ultraLightBlue !important;
    color: @navy !important;
    line-height: 20px !important;
}

.OperatorDropdown .dropdown-toggle input {
    top: 0;
    left: 0.5rem;
    text-transform: uppercase;
    color: @navy;
    font-weight: 600;
}

.IdentifierDropdown .dropdown-toggle {
    .rule-badge-mixin;
    padding: 2px 8px;
    font-weight: normal;
    text-transform: none;
    background-color: @ultraLightBlue;
    line-height: 20px !important;
    color: @classic-neutral-grey-6 !important;

    input {
        top: 0;
        left: 0.5rem;
    }
}

.OperatorDropdown *,
.IdentifierDropdown * {
    line-height: normal !important;
}

.Literal {
    .LiteralWidget.MultiSelectField > div {
        background: none;
        border: none;

        input {
            background: none;
        }
    }

    .LiteralWidget.MultiSelectField .badge.badge-secondary {
        margin: 0.25rem !important;
    }

    .LiteralWidget.MultiSelectField .badge.badge-secondary,
    .dropdown-toggle,
    input,
    input:focus {
        .rule-badge-mixin;
        text-transform: none;
        font-weight: 500;
        background-color: @ultraLightPurple;
        color: @violet !important;
    }

    .dropdown-toggle {
        & > span {
            line-height: normal;
            height: auto;
        }

        input {
            padding: 0 0;
            background: none;
            top: 0;
            left: 0.5rem;
        }
    }

    .LiteralWidget.Text .badge,
    .LiteralWidget.Text .dropdown-item {
        white-space: pre;
    }
}

.Literal,
.ActionWidget {
    .badge.badge-secondary .material-icons {
        vertical-align: middle;
    }
}

.Action {
    padding-right: @basicPadding;

    .ActionSelect .dropdown-toggle {
        .rule-badge-mixin;
        background-color: @classic-feedback-success-0;
        color: @classic-feedback-success-3 !important;
    }

    .card-action {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .compact-action {
        flex-grow: 1;

        .ActionWidget {
            &.InputField {
                flex-grow: 1;
            }

            // For default Input field
            input {
                .rule-badge-mixin;
                background: none !important;
                border: none;
                text-transform: none;
                font-weight: normal;
                color: @violet !important;

                &:focus {
                    box-shadow: none;
                }
            }

            // For MultiSelect field
            &.MultiSelectField > div {
                background: none;
                border: none;

                input,
                input:focus {
                    padding: 3px 8px !important;
                    background: none;
                }
            }

            .badge.badge-secondary, // for labels in MultiSelect field
            .dropdown-toggle,  // for displayed label of Dropdowns
            input, input:focus {
                // for input in labels of Dropdowns, and inputs in MultiSelect field
                .rule-badge-mixin;
                text-transform: none;
                font-weight: 500;
                background-color: @ultraLightPurple;
                color: @violet !important;
            }

            .dropdown-toggle {
                & > span {
                    line-height: normal;
                    height: auto;
                }

                input,
                input:focus {
                    padding: 0 !important;
                    background: none;
                    top: 0;
                    left: 0.5rem;
                }
            }
        }
    }
}
