.body-regular {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 20px;
}

.body-semibold {
    .body-regular();
    font-weight: 600;
}

.caption-allcaps {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 14px;
    text-transform: uppercase;
}

.caption-regular {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 16px;
}

.heading-subsection-semibold {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 24px;
}
