@import '~css/new/colors';

:local {
    .container {
        position: relative;
    }

    .donut {
        width: 130px;

        .path-empty {
            fill: @classic-neutral-grey-2;
        }

        .path-success {
            fill: @classic-feedback-success;
        }

        .path-warning {
            fill: @yellow;
        }

        .path-error {
            fill: @classic-feedback-error;
        }

        .path-info {
            fill: @classic-main-primary;
        }
    }

    .difference {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        .value {
            font-size: 33px;
        }
    }
}
