@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';
@import '~css/new/mixins.less';

:local {
    .pageContainer {
        padding: 0;
    }

    .pageHeaderContainer {
        padding: 54px 0px 0px 64px;
        @media (max-width: 768px) {
            padding: 54px 16px 16px 64px;
        }
        background: var(--main-latte);
        overflow: hidden;
    }

    .pageHeader {
        gap: @layout-spacing-l;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 992px;
        @media (max-width: 1280px) {
            img {
                display: none;
            }
        }
    }

    .pageIntro {
        max-width: 500px;
    }

    .pageTitle {
        color: var(--neutral-grey-6);
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.4px;
    }

    .pageDescription {
        color: var(--neutral-grey-5);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.14px;
        margin-bottom: 54px;
    }

    .pageTitleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media @tablets {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: var(--layout-spacing-m);
        }

        @media @mobiles {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: var(--layout-spacing-m);
        }
    }

    .pageTitleActions {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .pageContent {
        padding: var(--layout-spacing-m);
    }

    .startWithText {
        font-size: 16px;
        line-height: 24px;
    }

    .seeAllTemplates {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrowIcon {
        font-size: 20px;
        margin-left: var(--layout-spacing-xxs);
    }

    .divider {
        text-transform: none;
        font-weight: 400;
        margin: var(--layout-spacing-m) 0;
    }

    .templatePlaceholder {
        visibility: none;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }
}
