:local {
    .button {
        &:disabled {
            color: inherit;
        }
    }

    .focusable {
        &:focus {
            outline: auto 5px -webkit-focus-ring-color;
        }
    }

    .titleInput {
        width: 240px;
    }

    .title {
        display: block;
        color: var(--neutral-grey-4);
        font-weight: 500;
    }

    .amountInput {
        flex-grow: 1;
    }
}
