@import (reference) '~css/new/mixins';

:local {
    .wrapper {
        transition: height 0.2s ease-out;
        overflow: hidden;
    }

    .tagLabel {
        padding: 4px 4px 4px 8px;

        & + .tagLabel {
            margin-left: unset;
        }
    }

    .remove {
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    .tags {
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        display: inline-flex;

        &.right {
            justify-content: end;
        }
    }

    .addTags {
        height: 24px;

        .toggle {
            border-radius: 4px;
            height: 24px;
            padding: 0 8px;
            color: var(--neutral-grey-5) !important; // overrides reactstrap

            &.transparent {
                background: unset;
                border: unset;
                box-shadow: unset;
            }

            &:hover,
            &:focus {
                background-color: var(--neutral-grey-2);
            }

            &:active {
                background-color: var(--neutral-grey-3);
                color: var(--neutral-grey-6) !important;
            }
        }
    }

    .displayMore {
        position: relative;
        min-width: 50px;
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;

        &:global.badge-tag {
            padding: 4px 4px 4px 8px;
            transition: unset;
        }

        .icon {
            font-size: 16px;
            vertical-align: top;
        }
    }

    .row {
        display: flex;
        gap: 8px;
    }

    .hidden {
        display: none;
    }
}
