:local {
    .wrapper {
        transition: height 0.2s ease-out;
        overflow: hidden;
    }

    .tagLabel {
        &:not(:first-of-type) {
            margin-left: unset;
        }
    }

    .remove {
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    .tags {
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        display: inline-flex;

        &.right {
            justify-content: end;
        }
    }

    .displayMore {
        position: relative;
        min-width: 50px;
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;

        &:global.badge-tag {
            padding: 4px 4px 4px 8px;
            transition: unset;
        }

        .icon {
            font-size: 16px;
            vertical-align: top;
        }
    }

    .row {
        display: flex;
        gap: 8px;
    }

    .hidden {
        display: none;
    }

    .tooltipContent {
        margin-bottom: 0;
        padding-left: 15px;
    }
}
