@import (reference) '~css/new/mixins';

:local {
    .tagLabel {
        padding: 4px 4px 4px 8px;

        & + .tagLabel {
            margin-left: unset;
        }
    }

    .remove {
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    .tags {
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        display: inline-flex;

        &.right {
            justify-content: end;
        }
    }

    .addTag {
        border-radius: 4px;
        height: 24px;
        padding: 0 8px;
        color: var(--neutral-grey-5) !important; // overrides reactstrap

        &.transparent {
            background: unset;
            border: unset;
            box-shadow: unset;
        }

        &:hover,
        &:focus {
            background-color: var(--neutral-grey-2);
        }

        &:active {
            background-color: var(--neutral-grey-3);
            color: var(--neutral-grey-6) !important;
        }
    }
}
