@import '~css/new/colors';

:local {
    .wrapper {
        color: @neutral10;
        min-width: 126px;
    }

    .icon {
        vertical-align: middle;
    }

    .label {
        font-size: 12px;
        font-weight: 500;
        margin-left: 3px;
    }
}
