@import '~css/new/colorTokens';

:local {
    .wrapper {
        color: @classic-neutral-grey-6;
        min-width: 126px;
    }

    .icon {
        vertical-align: middle;
    }

    .label {
        font-size: 12px;
        font-weight: 500;
        margin-left: 3px;
    }
}
