@import '~css/new/colorTokens';

:local {
    .not-matched-mark {
        color: @classic-neutral-grey-3;
    }

    .matched-mark {
        color: @classic-main-primary;
    }

    .selector {
        width: 100%;
    }

    .is-required {
        font-weight: bold;

        &::after {
            content: ' *';
            color: @classic-feedback-error;
        }
    }

    .cell {
        // no idea why the BodyCell component thinks everything must be clickable, but we don't want this behavior
        cursor: auto;
    }
}
