:local {
    .not-matched-mark {
        color: var(--neutral-grey-3);
    }

    .matched-mark {
        color: var(--main-primary);
    }

    .selector {
        width: 100%;
    }

    .is-required {
        font-weight: bold;

        &::after {
            content: ' *';
            color: var(--feedback-error);
        }
    }

    .cell {
        // no idea why the BodyCell component thinks everything must be clickable, but we don't want this behavior
        cursor: auto;
    }
}
