@import '~@gorgias/axiom/tokens/typography.css';

:local {
    .modal {
        width: 400px;
        > div {
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.04);
            border-radius: var(--layout-spacing-xs);
            border: none;
        }
    }

    .modalImage {
        border-radius: var(--layout-spacing-xs) !important;
        position: relative;

        img {
            width: 100%;
            border-radius: var(--layout-spacing-xs) var(--layout-spacing-xs) 0 0;
        }
    }

    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;

        color: var(--content-neutral-default, #5c6370) !important; // legacy
    }

    .modalBody {
        padding: var(--layout-spacing-m);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        background-color: var(--elevation-neutral-mid); // legacy

        span {
            color: var(--content-neutral-secondary, #5c6370); // legacy
        }

        h3 {
            margin-bottom: 0;
        }
    }

    .modalFooter {
        padding: var(--layout-spacing-m);
        background-color: var(--elevation-neutral-mid); // legacy
        border-top: 0;
        padding-top: 0;
        display: flex;
        flex-direction: row;
        gap: var(--layout-spacing-xxs);
    }
}

.axiom :local {
    .closeButton {
        color: var(--content-neutral-default) !important;
    }

    .modal {
        > div {
            border: none; // legacy
        }
    }

    .modalBody {
        background-color: var(--elevation-neutral-mid);

        span {
            color: var(--content-neutral-secondary);
        }
    }

    .modalFooter {
        background-color: var(--elevation-neutral-mid);
    }
}
