:local {
    .container {
        &.isCollapsed {
            display: none;
        }

        &.isVertical {
            transition: height 0.35s ease;
        }

        &.isHorizontal {
            transition: width 0.35s ease;
        }

        &.isCollapsing {
            position: relative;
            overflow: hidden;

            &.isVertical {
                height: 0;
            }

            &.isHorizontal {
                width: 0;
            }
        }
    }
}
