:local {
    .banner {
        background-color: var(--surface-neutral-primary);
        border: 1px solid var(--border-neutral-default);
    }

    .placeholder {
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-radius: var(--spacing-xxs);
        background: var(--surface-neutral-secondary);
    }
}
