@import '~css/new/colorTokens';
@import '~css/new/layout';

:local {
    .wrapper {
        align-items: baseline;
        display: flex;
    }

    .from {
        color: @classic-neutral-grey-5;
        margin-left: @layout-spacing-xs;
    }
}
