@import (reference) '~css/typography.less';
@import (reference) '~css/new/layout.less';

:local {
    .wrapper {
        display: grid;
    }

    .container {
        width: 100%;
        max-height: 100vh;
        overflow: auto;
        margin-bottom: @layout-spacing-m;
    }

    .table {
        box-sizing: border-box;
        margin-bottom: @layout-spacing-xs;

        .header,
        thead {
            .sticky,
            th,
            td {
                position: sticky;
                top: 0;
                height: 40px;
                z-index: 3;
                background-color: var(--neutral-grey-0);
            }

            &:first-child {
                td:first-child {
                    z-index: 4;
                }
            }
        }

        tr {
            height: 40px;

            td {
                &.withShadow {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: -1px;
                        width: 30px;
                        box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);

                        transform: translateX(100%);
                        pointer-events: none;
                    }
                }

                &.sticky,
                &:first-child {
                    position: sticky;
                    left: 0;
                    z-index: 2;
                    background-color: var(--neutral-grey-0);
                }

                &.highlight {
                    &:first-child {
                        background-color: var(--neutral-grey-1);
                        font-weight: @body-medium-font-weight;
                    }
                }
            }
        }
    }

    .categoryHeader {
        min-width: 320px;
        width: 320px;
    }

    .categoryColumn {
        min-width: 250px;
        width: 250px;
    }

    .small,
    .BodyCellContent {
        padding: 8px 16px;
    }

    .BodyCellContent {
        min-width: 120px;
    }

    .NoDataAvailable {
        min-height: 660px;
    }

    .pagination {
        margin-top: @layout-spacing-xs;
        margin-left: @layout-spacing-xs;
        margin-bottom: @layout-spacing-xs;
    }
}
