:local {
    .card {
        padding: 24px;
    }

    .title {
        align-items: center;
        display: flex;
        margin-bottom: 24px;
    }

    .tooltip {
        margin-left: 4px;
    }
}
