@import '~css/new/layout';

:local {
    .card {
        padding: @layout-spacing-m;
        min-width: 0;
    }

    .title {
        align-items: center;
        display: flex;
        margin-bottom: @layout-spacing-m;
    }

    .tooltip {
        margin-left: @layout-spacing-xxs;
    }
}
