@import '~css/new/layout';

:local {
    .wrapper {
        padding: @layout-spacing-m;
        width: 100%;
    }

    .title {
        align-items: center;
        display: flex;
        margin-bottom: @layout-spacing-m;
    }

    .titleText {
        margin-right: @layout-spacing-s;
    }
}
