:local {
    .text {
        min-width: 24px;
        min-height: 24px;

        &.highlighted {
            color: var(--main-primary);
        }

        &:hover {
            color: var(--main-primary);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
