@import '~css/new/layout';
@import '~css/new/typographyTokens';
@import (reference) '~css/typography';

:local {
    .chart {
        border-radius: 4px;
        display: flex;
        gap: 1px;
        height: 16px;
        margin-bottom: @layout-spacing-s;
        overflow: hidden;
        width: 100%;
    }

    .legend {
        float: right;
    }

    .tooltip {
        :global .tooltip-inner {
            background-color: #fff;
            border: 1px solid #e2e3ec;
            color: #152065;
            font-size: 14px;
            padding: 16px;
            box-shadow: none;
        }

        :global .bs-tooltip-auto[x-placement^='top'] .arrow::before {
            border-top-color: #e2e3ec !important;
        }

        :global .bs-tooltip-auto[x-placement^='top'] .arrow::after {
            content: '';
            margin-top: 0;
            border-width: 0.4rem 0.4rem 0;
            position: absolute;
            top: -1px;
            border-color: #fff transparent transparent transparent;
            border-style: solid;
        }
    }

    .noData {
        .body-regular();
        text-align: center;
        color: var(--neutral-grey-5);

        p {
            margin: 0;
        }
    }

    .noDataTitle {
        font-weight: @body-semibold-font-weight;
    }
}
