:local {
    .legend {
        display: flex;
        gap: 24px;
    }

    .legendItem {
        align-items: center;
        display: flex;
        gap: 8px;
    }

    .legendCaret {
        border-radius: 4px;
        height: 24px;
        width: 24px;
    }
}
