@import '~css/new/layout';

:local {
    .legend {
        display: flex;
        gap: @layout-spacing-m;
    }

    .legendItem {
        align-items: center;
        display: flex;
        gap: @layout-spacing-xs;
    }

    .legendCaret {
        border-radius: 4px;
        height: 24px;
        width: 24px;
    }
}
