@import (reference) '~css/new/layout.less';

:local {
    .wrapper {
        height: 250px;
    }

    .legend {
        float: right;
        padding-top: @layout-spacing-m;
    }
    .legendOnLeft {
        float: left;
    }

    .container {
        position: relative;
        height: 100%;
    }
}
