@import '~css/new/colorTokens';

&:local {
    .wrapper {
        background: @classic-neutral-grey-2;
        border-radius: 4px;
        color: @classic-neutral-grey-5;
        margin-top: 8px;
        padding: 16px;

        &.error {
            background: @light-feedback-error-3;
            color: @dark-neutral-grey-6;
        }

        &.success {
            background: @modern-feedback-success-4;
            color: @dark-neutral-grey-6;
        }

        &.light-warning {
            background: @dark-feedback-warning-4;
            color: @light-feedback-warning-4;
        }

        &.light-info {
            background: @classic-main-primary-0;
            color: @classic-main-primary-4;
        }

        &.light-error {
            background: @dark-feedback-error-4;
            color: @modern-feedback-error-4;
        }

        &.light-success {
            background: @modern-feedback-success-0;
            color: @light-feedback-success-4;
        }
    }

    .title {
        margin-bottom: 8px;
    }
}
