:local {
    .card {
        padding: 16px;
        display: flex;
        flex-direction: column;
    }

    .title {
        align-items: center;
        display: flex;
        margin-bottom: 8px;
    }

    .trendBadge {
        margin-left: auto;
    }

    .tooltip {
        flex-grow: 1;
        display: grid;
    }
}
