@import '~css/new/layout';

:local {
    .card {
        padding: @layout-spacing-s;
        display: flex;
        flex-direction: column;
    }

    .title {
        align-items: center;
        display: flex;
        margin-bottom: @layout-spacing-xs;
    }

    .trendBadge {
        margin-left: auto;
    }

    .tooltip {
        flex-grow: 1;
        display: grid;
        margin-top: @layout-spacing-xs;
    }
}
