@import (reference) '~css/typography.less';

:local {
    .noData {
        .body-regular();
        color: var(--neutral-grey-5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            margin: 0;
        }
    }

    .noDataTitle {
        font-weight: @body-semibold-font-weight;
    }
}
