@import '../../../css/new/colors';

:local {
    .statsMock {
        margin-top: 140px;
        margin-left: 70px;
    }

    .content {
        margin-top: 224px;
        margin-left: 54px;

        width: 480px;
        height: 234px;

        .description {
            color: @neutral8;
            font-size: 16px;
        }
    }

    .contentTitle {
        margin-top: 19px;
        color: @neutral10;
    }

    .badge {
        padding: 3px 8px 4px;
        height: 18px;

        font-weight: 600;

        background: @neutral8;
        border-radius: 100px;
    }
}
