@import '~css/new/colors';
@import '~css/new/mixins';

:local {
    .infiniteScroll {
        max-height: 60vh;
    }

    .dropdownHeader {
        color: @neutral8;
        font-weight: 500;

        &:first-child {
            padding-top: 10px;
        }
    }

    .dropdownDivider {
        margin: 0 0 5px 0;
    }

    .learnMoreContent {
        margin-bottom: 16px;
    }

    .titleTooltipButton {
        font-size: 12px;
        line-height: 20px;
        padding: 1px 7px;
    }

    .integrationIcon {
        object-fit: contain;
        height: 18px;
        width: 25px;
        padding-right: 5px;
        align-self: center;
    }
}
