:local {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .header {
        flex-shrink: 0;
    }

    .statsWrapper {
        overflow: auto;
    }

    .statsContainer {
        padding: 0;
    }
}
