:local {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .filtersWrapper {
        flex-shrink: 0;
    }

    .statsWrapper {
        overflow: auto;
    }

    .statsContainer {
        padding: 0;
    }

    .learnMoreContent {
        margin-bottom: 16px;
    }

    .titleTooltipButton {
        font-size: 12px;
        line-height: 20px;
        padding: 1px 7px;
    }
}
