@import '~css/new/colors';

:local {
    .help-icon {
        color: #cacde3;
    }

    .infiniteScroll {
        max-height: 60vh;
    }

    .dropdownHeader {
        color: @neutral8;
        font-weight: 500;

        &:first-child {
            padding-top: 10px;
        }
    }

    .dropdownDivider {
        margin: 0 0 5px 0;
    }
}
