@import '~css/new/colors.less';
@import '~css/new/layout.less';

:local {
    .customerSatisfactionStar {
        align-self: center;
        margin-left: 6px;
    }

    .pageFooter {
        color: @classic-neutral-grey-4;
        padding: @layout-spacing-m;
    }
}
