@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .trend {
        border-radius: 100px;
        display: inline-flex;
        padding: 0 8px;
        height: 18px;
        align-items: center;
        font-size: @caption-all-caps-font-size;
        font-weight: @caption-all-caps-font-weight;
        letter-spacing: @caption-all-caps-letter-spacing;
        line-height: @caption-all-caps-line-height;
    }

    .neutral {
        background-color: var(--neutral-grey-1);
        color: var(--neutral-grey-5);
    }

    .positive {
        background-color: var(--main-primary-0);
        color: var(--main-primary-4);
    }

    .negative {
        background-color: var(--accessory-red-1);
        color: var(--feedback-error-4);
    }
}
