@import '~css/new/colors';

:local {
    .container {
        font-family: 'Inter UI', sans-serif;

        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 22px;

        h4 {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: @indigo;
        }
    }
}
