@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        background: var(--neutral-grey-1); // legacy
        border-radius: 4px;
        padding: var(--layout-spacing-s);
        width: 100%;

        p {
            .body-regular();
            margin-bottom: 0;
        }

        h2 {
            .heading-section-semibold();
            margin-bottom: 0;
        }

        .savings {
            flex: 1;
            padding: var(--layout-spacing-s);
        }

        .headings {
            display: flex;
            gap: 59px;
        }

        .values {
            display: flex;
            gap: 82px;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .lastWrapper {
            align-self: flex-end;
        }

        .divider {
            width: 1px;
            height: 56px;
            background: var(--neutral-grey-3); // legacy
            align-self: self-end;
        }

        .heading {
            .heading-section-semibold();
        }
    }
}

.axiom :local {
    .container {
        background: var(--surface-neutral-secondary);

        .divider {
            background: var(--border-neutral-default);
        }
    }
}
