:local {
    .header {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--neutral-grey-0); // legacy
    }

    .spinner {
        height: 500px;
        display: flex;
        justify-content: center;
    }
}

.axiom :local {
    .header {
        background-color: var(--elevation-neutral-default);
    }
}
