:local {
    .container {
        display: flex;
        gap: var(--layout-spacing-s);
        align-items: center;
    }

    .icon {
        color: var(--neutral-grey-3);
        cursor: grab;
        font-size: 20px;
    }

    .warningIcon {
        font-size: 16px;
        color: var(--feedback-warning);
    }
}
