:local {
    .authorWrapper {
        display: flex;
        align-items: center;

        & > span {
            margin-right: 6px;
        }

        :global .dropdown-toggle {
            color: var(--main-primary); // legacy
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            border: none;
        }

        :global .gravatar {
            img {
                margin-top: -5px;
            }
        }
    }

    .authorInput div {
        align-items: center;
    }

    .textEditorWrapper {
        border-radius: 3px;

        :global(.rich-textarea-wrapper) {
            padding: 1px 0;
        }
    }
}

.axiom :local {
    .authorWrapper {
        :global .dropdown-toggle {
            color: var(--content-accent-default);
        }
    }
}
