:local {
    .row {
        .actions {
            :global .btn {
                box-shadow: none;

                .material-icons,
                .material-icons-outlined {
                    transition: 0.2s all;
                    opacity: 0.3;
                    color: var(--neutral-grey-6);
                }

                &:hover .material-icons {
                    opacity: 1;
                }

                &.btn-loading .material-icons {
                    opacity: 0;
                }
            }

            .actionButton {
                display: inline-block;
            }
        }

        td {
            &.smallest {
                white-space: nowrap;
                width: 1px;
            }
        }
    }

    .listWrapper {
        margin-bottom: 0;
        padding-left: 22px;
    }

    .checkBox {
        width: fit-content;

        input[type='checkbox'] {
            margin: 0;
        }

        .checkBoxLabel {
            width: fit-content;
        }
    }
}
