@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .row {
        .actions {
            display: flex;
            gap: @layout-spacing-xs;
        }

        td .cell {
            padding: 16px 21px;
        }
    }

    .listWrapper {
        margin-bottom: 0;
        padding-left: 22px;
    }

    .checkBox {
        width: fit-content;

        input[type='checkbox'] {
            margin: 0;
        }

        .checkBoxLabel {
            width: fit-content;
        }
    }

    .form {
        justify-content: between;
        gap: @layout-spacing-xs;
    }

    .colorPicker {
        width: 50%;
    }
}
