:local {
    .container {
        display: flex;
        flex-direction: column;
    }

    .sectionTitle {
        margin-bottom: 24px;
        font-weight: 600;
    }

    .ctasGroup {
        display: flex;
        justify-content: space-between;
    }

    .leftSideButtons {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    .cancel-btn {
        margin-right: 8px;
    }

    .delete-btn {
        i {
            color: var(--feedback-error); // legacy
            font-size: 15px;
            margin-right: 4px;
        }

        &:disabled {
            cursor: default;

            i {
                color: var(--neutral-grey-4); // legacy
            }
        }
    }

    .delete-modal-help-center {
        color: var(--feedback-error); // legacy
    }

    .delete-modal-input {
        margin: 0;
    }

    .alert {
        margin-bottom: 16px;
    }

    .alertContent {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .cards {
        margin: 32px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .subdomainSection {
        width: 50%;
    }

    .shareLink {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .cardHeader {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        padding-bottom: 8px;
    }

    .tabNavigator {
        border-bottom: 1px solid var(--neutral-grey-3); // legacy

        & :global(.activeTab)::before {
            position: absolute;
            left: 16px;
            bottom: 0;
            width: calc(100% - 32px);
            height: 1px;
            content: '';

            border-bottom: 2px solid var(--main-primary); // legacy
        }
    }

    .steps {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 24px 0;
    }
}

.axiom :local {
    .delete-btn {
        i {
            color: var(--content-error-primary);
        }

        &:disabled {
            i {
                color: var(--content-neutral-secondary);
            }
        }
    }

    .delete-modal-help-center {
        color: var(--content-error-primary);
    }

    .tabNavigator {
        border-bottom: 1px solid var(--border-neutral-default);

        & :global(.activeTab)::before {
            border-bottom: 2px solid var(--surface-accent-default);
        }
    }
}
