:local {
    .container {
        overflow: hidden;
    }

    .ellipsis {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.axiom :local {
    .container {
        overflow: visible;
    }
}
