:local {
    .appRow {
        display: flex;
        align-items: center;
        height: 56px;
        padding-left: 16px;
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
    }

    .appLink {
        text-align: right;
        align-self: center;
    }
}

.axiom :local {
    .appRow {
        border-bottom: 1px solid var(--border-neutral-default);
    }
}
