@import "~css/new/mixins";

:local .component {
  transition: all .2s linear;

  .not-editable {
    border-color: transparent;
    padding-left: 0;
  }

  &:global(.form-control-xl) {
    padding: 0 8px;
  }

  &:not(:hover):not(:focus):not(.edit-mode) {
    .not-editable;
  }

  &:disabled {
    .not-editable;
    cursor: default !important;
    background-color: initial !important;
  }
}
