:local {
  @bgColor: #e8f0fb;
  @textColor: #b0b4cc;

  .btn-more {
    width: 26px;
    height: 12px;
    border-radius: 1px;
    background-color: @bgColor;
    color: @textColor;
    border: 0;

    margin-top: 5px;
    font-size: 23px;
    font-weight: bold;
    line-height: 0px;
    text-align: center;

    cursor: pointer;

    &:hover {
      background-color: darken(@bgColor, 3%);
    }
  }
}


