@import '../../../../css/new/mixins';

:local {
  .container {
    padding-top: 20px !important;
    margin: inherit !important;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0 !important;

    :global .col {
      padding: 0 !important;
    }

    &:not(.no-limit) {
      @media @large-desktops {
        padding-top: 10px;
        max-width: 900px;
      }
    }
  }
}
