:local {
    .link {
        margin: 0 12px;
        border-radius: 4px;
        padding: 0 8px;
        text-transform: inherit;
        cursor: pointer;
    }

    .hiddenLink {
        display: none;
    }

    .title {
        align-items: center;
        display: flex;
    }
}
