@import '~css/new/colorTokens';

:local {
    .link {
        height: 32px;
        line-height: 32px;
        margin: 0 8px;
        width: calc(~'100% - 16px');
        border-radius: 4px;
        padding: 0 14px !important;

        &:hover {
            background-color: @classic-neutral-grey-5;
        }

        :global(.material-icons) {
            font-size: 18px;
            margin-right: 4px;
        }
    }

    .hiddenLink {
        display: none;
    }
}
