@import '~css/new/colors';

:local {
    .legacyPlanTag {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 10px;
        height: 18px;
        font-weight: 600;
        width: fit-content;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        position: absolute;
        background: @red;
        padding: 2px 8px 2px 8px;
        border-radius: 4px;
        margin-bottom: 5px;
    }

    .legacyPlanTagLabel {
        margin-left: 5px;
    }
}
