@import '~css/new/colors';

:local {
    .legacyExpirationBanner {
        background: @red0;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        padding: 20px;
        color: @red6;
        border: 1px solid rgba(242, 79, 102, 0.15);
        box-sizing: border-box;
        box-shadow: inset 5px 0px 0px @red;
        border-radius: 3px;
        margin-bottom: 25px;
        max-height: 50px;
        i {
            font-size: 23px;
            line-height: 23px;
        }
    }
    .legacyExpirationBannerLabel {
        margin-left: 17px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
    }
    .expirationDate {
        font-weight: 600;
    }
    .plansLink {
        font-weight: 400;
    }
}
