@import '~css/new/colors';
@import '~css/navbar';
@import '~css/new/colorTokens';
@import '~css/new/mixins';
@import '~css/typography';

:local {
    .nav-primary {
        @media @mobiles {
            @width: 80%;
            width: @width;
            min-width: @width;
            max-width: @width;
            z-index: 1040;
            transition: all 0.2s linear;
            top: 0;
            height: 100%;

            position: absolute;
            left: 0;

            &.hidden-panel {
                transform: translateX(-100%);
            }
        }

        @media print {
            display: none !important;
        }

        display: flex;
        flex-direction: column;
        width: @navbarWidth;
        background: @classic-neutral-grey-6;
    }

    .nav-dropdown {
        &:global.show > button {
            background-color: darken(@classic-neutral-grey-6, 4%);
        }
    }

    .dropdown-toggle {
        height: 60px;
        padding: 20px 19px 17px 20px;
        width: 100%;
        transition: all 0.1s linear;
        box-shadow: none;
        border-color: #284064;
        border-style: solid;
        border-width: 0 0 1px;
        border-radius: 0;

        color: @classic-neutral-grey-0;
        .heading-subsection-semibold();

        > div {
            // content is wrapped in div because some browsers forbid flex in buttons
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &:hover {
            background-color: darken(@classic-neutral-grey-6, 4%);
            color: @classic-neutral-grey-0;
        }

        &:active {
            background-color: darken(@classic-neutral-grey-6, 8%);
        }

        &.show > button {
            background-color: darken(@classic-neutral-grey-6, 4%);
        }
    }

    .dropdown-toggle-dropup {
        border-width: 1px 0 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .dropdown-menu {
        width: 100%;
        /* HACK Popper.js's preventOverflow adds 5px to the left of the dropdowns.
        * Need the negativ margin until we can configure it in bootstrap:
        * https://github.com/twbs/bootstrap/issues/25529
        */
        margin: 0 0 0 -5px;
        border-radius: 0;
        border: solid 1px #cfe0ee;
        border-top: none;
        padding: 4px 0;

        .dropdown-item {
            display: block;
            padding: 8px 16px;
            color: @classic-neutral-grey-6;
            font-weight: normal;
            outline: none;
            vertical-align: middle;

            &:global.current {
                color: @classic-neutral-grey-6;
                font-weight: 600;
            }

            &:global:hover {
                background-color: @classic-neutral-grey-2;
                color: @classic-neutral-grey-6;
            }
        }
    }

    .navbar-content {
        flex: 1;
        overflow: auto;
        background-color: transparent !important;
        margin: 0;
    }

    .icon {
        font-size: 16px;
        vertical-align: middle;
    }

    .icon-more {
        font-size: 21px;
    }
}
