@import '~css/navbar';
@import '~css/new/mixins';
@import (reference) '~css/typography';

:local {
    .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 200px;
        max-width: 350px;
        display: flex;
        flex-direction: row;
        z-index: 2;
        width: 100%;
        height: 100%;
        border-right: 1px solid var(--navbar-border-color);
        background: var(--navbar-background-color);
        color: var(--navbar-text-color);

        @media @mobiles {
            min-width: 0;
            max-width: 0;
            z-index: 1040;
        }

        &.isResizing {
            user-select: none;
        }
    }

    .sidebar .sidebar-resizer {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 5px;
        cursor: col-resize;
        resize: horizontal;

        @media @mobiles {
            display: none;
        }

        &:hover,
        &.isTouched {
            &::after {
                content: '';
                position: absolute;
                top: 0px;
                bottom: 0px;
                width: 3px;
                background-color: var(--main-primary-1);
                opacity: 1;
                transition-property: opacity;
                transition-duration: 0.25s;
                transition-delay: 0ms;
                pointer-events: none;
            }
        }
    }

    .nav-primary {
        @media @mobiles {
            @width: 80%;
            width: @width;
            min-width: @width;
            max-width: @width;
            transition: all 0.2s linear;
            top: 0;
            height: 100%;

            position: absolute;
            left: 0;

            &.hidden-panel {
                transform: translateX(-100%);
            }
        }

        @media print {
            display: none !important;
        }

        display: flex;
        flex-direction: column;
        width: inherit;
        min-width: 200px;
        max-width: 350px;
        background: var(--navbar-background-color);
    }

    .nav-dropdown-wrapper {
        position: relative;
        border-bottom: 1px solid
            hsla(
                var(--neutral-grey-0-h),
                var(--neutral-grey-0-s),
                var(--neutral-grey-0-l),
                0.08
            );
    }

    .nav-dropdown {
        &:global.show > button {
            background-color: hsl(
                var(--navbar-background-color-h),
                var(--navbar-background-color-s),
                calc(var(--navbar-background-color-l) - 4%)
            );
        }
    }

    .dropdown-toggle {
        height: 60px;
        padding: 20px 19px 17px 20px;
        width: 100%;
        transition: all 0.1s linear;
        box-shadow: none;
        border: 0;
        border-radius: 0;

        color: var(--navbar-title-color);
        .heading-subsection-semibold();

        > div {
            // content is wrapped in div because some browsers forbid flex in buttons
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
        }

        &:hover {
            background-color: hsl(
                var(--navbar-background-color-h),
                var(--navbar-background-color-s),
                calc(var(--navbar-background-color-l) - 4%)
            );
            color: var(--navbar-title-color);
        }

        &:active {
            background-color: hsl(
                var(--navbar-background-color-h),
                var(--navbar-background-color-s),
                calc(var(--navbar-background-color-l) - 8%)
            );
        }
    }

    .dropdown-toggle-dropup {
        background: var(--navbar-background-color);
        border-width: 1px 0 0;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--navbar-title-color);

        .body-semibold();

        &.active {
            background-color: hsl(
                var(--navbar-background-color-h),
                var(--navbar-background-color-s),
                calc(var(--navbar-background-color-l) - 8%)
            );
        }

        &:focus {
            outline: none;
        }
    }

    .dropdown-menu {
        width: 100%;
        /* HACK Popper.js's preventOverflow adds 5px to the left of the dropdowns.
        * Need the negativ margin until we can configure it in bootstrap:
        * https://github.com/twbs/bootstrap/issues/25529
        */
        margin: 0 0 0 -5px;
        border-radius: 0;
        border-top: none;
        padding: 4px 0;
    }

    .dropdown-item {
        display: flex;
        padding: 8px 16px;
        align-items: center;
        color: var(--neutral-grey-6);
        font-weight: normal;
        outline: none;

        &:global.current {
            font-weight: 600;
        }

        &:global:hover {
            background-color: var(--neutral-grey-2);
        }
    }

    .navbar-content {
        flex: 1;
        overflow: auto;
        padding-bottom: 24px;
        margin-right: 3px;

        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
        scrollbar-width: thin;

        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb);
            visibility: initial;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--scrollbar-track);
        }
    }

    .icon {
        font-size: 16px;
        vertical-align: middle;
    }

    .icon-more {
        font-size: 21px;
    }

    .menu-item {
        color: var(--neutral-grey-6);

        &:hover {
            color: var(--neutral-grey-6);
        }
    }

    .separator {
        border-top: 1px solid var(--neutral-grey-3);
        margin: 0;
    }

    .submenu {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 !important;
        width: 100%;
        height: 20px;
    }

    .sub-menu-chevron {
        color: var(--neutral-grey-4);
        vertical-align: -14% !important;
    }

    .justify {
        justify-content: space-between;
    }

    .dropdown-item-user-menu {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px;
        transition: background-color 0.2s linear;
        .body-regular();

        &:hover,
        &:focus {
            background: var(--neutral-grey-2);
        }

        &.availabilityToggle {
            justify-content: space-between;
            padding: 16px 8px 16px 16px;
        }
    }

    .navbar-cta-group {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    .menuContent {
        color: var(--neutral-grey-6);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .wrapper {
        padding: 16px;
    }

    .label {
        .body-semibold();
        margin-right: 3px;
    }

    .value {
        .body-regular();
    }

    .check {
        color: var(--neutral-grey-4);
        font-size: 20px;
    }
}
