@import '~css/new/colorTokens';

:local {
    .pageHeader {
        align-items: center;
        color: @classic-neutral-grey-6;
        display: flex;
        flex-wrap: wrap;
        font-weight: 400;
        justify-content: space-between;
        letter-spacing: -0.1px;
        line-height: 32px;
        margin-bottom: auto;
        padding: 12px 24px;

        h1 {
            font-size: 24px;
        }

        :global(.breadcrumb-item) {
            font-size: 24px;
        }
    }
}
