@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .pagination {
        color: var(--neutral-grey-5);
        font-weight: 500;
        display: flex;
        padding-left: 0;
        list-style: none;
        gap: var(--layout-spacing-xs);
        margin-top: @layout-spacing-s;
    }

    .pageLink {
        padding: 6px 12px;
        border-radius: 4px;
        min-width: 32px;

        &:hover {
            background-color: var(--neutral-grey-2);
        }
    }

    .pageItem {
        cursor: pointer;
        display: flex;
        align-items: center;

        &.disabled {
            cursor: initial;
        }

        &.disabled a {
            color: var(--neutral-grey-4);
        }

        &.disabled .pageLink {
            background: none;
        }

        &.active .pageLink {
            background-color: var(--neutral-grey-3);
            color: var(--neutral-grey-6);
        }
    }
}
