@import '~css/new/colorTokens';
@import (reference) '~css/typography';

:local {
    .caption {
        .caption-regular();
        color: @classic-neutral-grey-4;
        margin-left: 24px;
    }

    .label {
        .body-semibold();
        display: flex;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
        transition: color 0.2s linear;
    }

    .labelWithCaption {
        margin-bottom: 4px;
    }

    .disabledLabel {
        color: @classic-neutral-grey-4;
        cursor: not-allowed;
    }

    .input[type='radio'] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;

        width: 16px;
        height: 16px;
        border: 2px solid @classic-neutral-grey-3;
        border-radius: 50%;

        display: grid;
        place-content: center;
        margin-right: 8px;
        cursor: pointer;
        transition: background-color 0.2s linear, border-color 0.2s linear;

        &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transform: scale(0);
            transition: 200ms transform ease-in-out;
            box-shadow: inset 1em 1em @classic-main-primary;
            transition: transform 0.2s linear;
        }

        &:checked {
            border-color: @classic-main-primary;

            &::before {
                transform: scale(1);
            }
        }

        &:disabled {
            background-color: @classic-neutral-grey-2;
            border-color: @classic-neutral-grey-3;

            &::before {
                box-shadow: inset 1em 1em @classic-neutral-grey-3;
            }
        }
    }
}
