@import '~css/new/colors';

:local {
    .component {
        .menuItem {
            padding-right: 2.7em !important;
        }

        .hasSomethingNew {
            &,
            & > * {
                color: @quartz !important;
                opacity: 1 !important;
            }

            span {
                font-weight: 700;
            }
        }
    }

    .title {
        margin-bottom: 1.6em;
    }

    /* after react 16 and reactstrap upgrade,
    * set boundariesElement on tooltip and remove.
    */
    .tooltip {
        left: 40px !important;
    }
}
