@import '~css/new/colorTokens';
@import '~css/new/mixins';

:local .component {
    width: 100%;
    max-width: 320px;

    @media @mobiles {
        max-width: none;
    }

    .icon {
        color: @classic-neutral-grey-4;
    }
}
