:local {
    .ticketIconWrapper {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: var(--neutral-grey-2);

        &.isOpen {
            background-color: var(--main-primary);

            &.isAiAgentIcon {
                background-color: var(--accessory-magenta-3);
            }

            &.isWarningIcon {
                background-color: var(--feedback-warning);
            }

            .ticketIcon {
                color: var(--neutral-grey-0);
            }
        }
    }

    .ticketIcon {
        color: var(--neutral-grey-4);
        width: unset !important;
    }
}
