@import '~css/new/colors';

:local .tooltip {
    :global .tooltip-inner {
        background-color: @TEMP_neutral5;
        box-shadow: 0px 2px 3px fade(black, 20%);
        padding: 10px;
        max-width: 300px;
        text-align: left;
        line-height: 1.33;
    }

    :global .bs-tooltip-auto[x-placement^='bottom'] .arrow::before {
        border-bottom-color: @TEMP_neutral5 !important;
    }
    :global .bs-tooltip-auto[x-placement^='top'] .arrow::before {
        border-top-color: @TEMP_neutral5 !important;
    }
    :global .bs-tooltip-auto[x-placement^='right'] .arrow::before {
        border-right-color: @TEMP_neutral5 !important;
    }
    :global .bs-tooltip-auto[x-placement^='left'] .arrow::before {
        border-left-color: @TEMP_neutral5 !important;
    }
}
