@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .currentlyViewingDropdown {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
    }

    .currentlyViewingDropdownHeader {
        display: flex;
        gap: @layout-spacing-xs;
        align-items: center;
    }

    .dropdownButton {
        border: 1px solid #e0e0e0 !important;
        width: 100%;
        justify-content: flex-start;
        gap: @layout-spacing-xs;
        text-transform: none;
        > span {
            width: 100%;
            gap: @layout-spacing-xs;
        }
    }

    .channelTypeSettingsLink,
    .channelTypeSettingsLink:hover {
        color: var(--neutral-grey-5);
    }

    .channelIcon {
        color: var(--neutral-grey-4);
        font-size: 20px !important;
    }

    .arrowDown,
    .dropDownLabel {
        color: var(--neutral-grey-6);
    }
    .dropdownItem {
        display: flex;
        gap: @layout-spacing-xs;
        align-items: center;
    }

    .dropdownButtonSpacer {
        flex: 1;
    }

    .dropdownCtaItem {
        display: flex;
        gap: @layout-spacing-xs;
        align-items: center;
        color: var(--main-primary);
        .body-regular();
    }

    .chatCtaIcon {
        color: var(--main-primary);
        font-size: 20px;
    }
}
