@import '~css/new/colorTokens';

:local {
    .table {
        td {
            vertical-align: middle;
        }
    }

    .modalButtons {
        background: @classic-neutral-grey-2;

        button:not(:first-of-type) {
            margin-left: 4px;
        }
    }
}
