@import (reference) '~css/typography.less';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        width: 100%;
    }

    .conditions {
        height: 100%;
    }

    .conditionList {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .input {
        flex: 1;
    }

    .selectInput {
        width: unset;
    }

    .fallback {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: @layout-spacing-m;
        border: 1px solid var(--neutral-grey-3);
        border-radius: var(--layout-spacing-xxs);

        h4 {
            .body-semibold();
            margin: 0;
        }
        p {
            .body-regular();
            margin: 0;
        }
    }

    .header {
        display: flex;
        align-items: center;
        color: var(--neutral-grey-5);
        gap: var(--layout-spacing-xs);
        .title {
            .caption-allcaps();
            margin: 0;
        }
    }
    .conditionTypeList {
        display: flex;
        gap: var(--layout-spacing-xxs);
        justify-content: center;
        width: 100%;

        .conditionType {
            width: 100%;
        }
    }

    .conditionListWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }
    .conditionList {
        display: flex;
        gap: var(--layout-spacing-xxs);
        align-items: center;
    }

    .accordionBody {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .deleteIcon {
        font-size: 18px;
    }

    .dateConditionNumberInput {
        max-width: 80px;
    }

    .error {
        .caption-regular();

        color: var(--feedback-error-2);
    }
}
