:local {
    .container {
        display: flex;
        margin-top: var(--spacing-lg);
        margin-right: var(--spacing-md);
        justify-content: space-between;
    }

    .buttonGroup {
        // Prevent text wrapping in button group items
        :global(button) {
            white-space: nowrap !important;
        }
    }
}
