@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .title {
        margin-bottom: var(--layout-spacing-xxs);
    }

    .fileList {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .fileListItem {
        background-color: var(--neutral-grey-1);
        border-radius: var(--layout-spacing-xxs);
        padding: var(--layout-spacing-xs) var(--layout-spacing-xs)
            var(--layout-spacing-xs) @layout-spacing-s;
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .fileListItemName {
        font-weight: 500;
        flex-grow: 1;
    }

    .buttonInfo {
        .caption-regular();
        color: var(--neutral-grey-5);
        margin-top: var(--layout-spacing-xs);
    }
}
