@import (reference) '~css/typography.less';
@import (reference) '~css/new/mixins.less';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

@table-max-height: 744px;

:local {
    .wrapper {
        display: grid;
        border: 1px solid #d2d7de;
        border-radius: 4px;
    }
    .tableHeader,
    .header {
        padding-left: var(--layout-spacing-m);
        padding-top: var(--layout-spacing-m);
    }

    .tableHeader {
        padding-right: var(--layout-spacing-m);
        display: flex;
        align-items: center;
    }

    .title {
        .heading-section-semibold();
        margin-bottom: 0;
    }

    .container {
        width: 100%;

        overflow-x: scroll;
    }

    .table {
        box-sizing: border-box;
        margin-bottom: var(--layout-spacing-xs);

        .header {
            th {
                position: sticky;
                top: 0;

                height: 56px;

                z-index: 1;

                &:first-child {
                    position: sticky;
                    left: 0;
                    z-index: 2;
                    background-color: var(--neutral-grey-0);
                }
            }
        }

        tr {
            height: 56px;

            td {
                width: 90px;

                &.withShadow {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: -1px;
                        width: 30px;
                        box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);

                        transform: translateX(100%);
                        pointer-events: none;
                    }
                }

                &:first-child {
                    position: sticky;
                    left: 0;
                    z-index: 2;

                    background-color: var(--neutral-grey-0);
                }
            }
        }
    }

    .pagination {
        margin-top: var(--layout-spacing-xs);
        margin-left: var(--layout-spacing-m);
        margin-bottom: var(--layout-spacing-xs);
    }

    .noData {
        height: 324px;
    }
}
