@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/typography';

:local {
    .storeCard {
        border-radius: 12px;
        border: 1px solid var(--neutral-grey-3);
        box-shadow: 0 3px 20px 0 #0000000a;
    }

    .section {
        padding: @layout-spacing-m;

        &:first-child {
            padding-block: var(--layout-spacing-s);
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--neutral-grey-3);
        }
    }

    .headerSection {
        .heading {
            align-items: center;
        }
    }

    .heading {
        display: flex;
        justify-content: space-between;
    }

    .alert {
        margin-top: var(--layout-spacing-s);
    }

    .alertCta {
        font-size: 12px;
        font-weight: 500;
        color: var(--main-primary);
    }

    .enablement {
        font-size: 12px;
        color: var(--neutral-grey-5);
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        color: var(--neutral-grey-6);
    }

    .description {
        margin-top: 4px;
        color: var(--neutral-grey-5);
    }

    .channelsList {
        margin-top: var(--layout-spacing-s);
        display: flex;
        gap: var(--layout-spacing-s);

        & > div {
            flex: 1;
        }
    }

    .channelField {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 24px;
    }

    .channelInput {
        width: 16px;
        height: 16px;
        margin-top: 0;
    }

    .channelLabel {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .channelCaption {
        margin-top: 4px;
        color: var(--neutral-grey-5);

        a {
            font-weight: 500;
        }

        i {
            font-size: 20px;
            vertical-align: middle;
        }
    }

    .warningIcon {
        margin-left: var(--layout-spacing-xs);
        width: 20px;
        height: 20px;
    }

    .skillSection {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-m;
    }

    .skillSales {
        padding: var(--layout-spacing-s);
        border-radius: var(--layout-spacing-xs);
        background: var(--main-latte);

        &.disabled {
            background: var(--neutral-grey-1);
        }
    }

    .labelContainer {
        .icon {
            display: inline;
            vertical-align: text-bottom;
            line-height: normal;

            & > i {
                font-size: 1lh;
            }
        }
    }
}
