:local {
    .search {
        padding: var(--layout-spacing-xs) var(--layout-spacing-xs) 0
            var(--layout-spacing-xs);
    }

    .body {
        display: flex;
        padding: 8px;
        flex-direction: column;
        max-height: 320px;
        scrollbar-color: var(--neutral-grey-3) var(--neutral-grey-0);
        scrollbar-width: thin;
    }

    .item {
        align-content: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.axiom :local {
    .body {
        scrollbar-color: var(--surface-neutral-tertiary)
            var(--elevation-neutral-default);
    }
}
