:local {
    .wrapper {
        color: var(--neutral-grey-6); // legacy
        min-width: 126px;
    }

    .icon {
        vertical-align: middle;
    }

    .label {
        font-size: 12px;
        font-weight: 500;
        margin-left: 3px;
    }

    .badge {
        margin-right: 4px;
        cursor: default;
    }
}

.axiom :local {
    .wrapper {
        color: var(--content-neutral-default);
    }
}
