:local {
    .wrapper {
        transition: height 0.2s ease-out;
        overflow: hidden;
        flex-grow: 1;
    }

    .row {
        display: flex;
        gap: 8px;
        width: 100%;
    }

    .tags {
        align-items: center;
        flex-wrap: wrap;
        gap: var(--layout-spacing-xxs);
        display: inline-flex;
        width: 100%;

        &.right {
            justify-content: end;
        }
    }

    .displayMore {
        padding: 4px 8px;
        cursor: pointer;
    }

    .displayMoreIcon.displayMoreIcon {
        // overrides !important in Button styles :(
        font-size: 20px !important;
        width: 16px;
    }

    .tooltipContent {
        margin-bottom: 0;
        padding-left: 15px;
    }
}
