@import (reference) '~css/new/mixins';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .deactivation_buttons_line {
        display: flex;
        flex-direction: row;
        gap: var(--layout-spacing-s);
    }

    .productCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--layout-spacing-s);

        @media @large-desktops {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
