:local {
    .metricValue {
        &.clickable {
            cursor: pointer;

            &:hover {
                color: var(--main-primary); // legacy
            }
        }
    }
}

.axiom :local {
    .metricValue {
        &.clickable {
            &:hover {
                color: var(--content-accent-default);
            }
        }
    }
}
