@import '~@gorgias/design-tokens/dist/css/typographyTokens.less';

:local {
    .trend {
        border-radius: 100px;
        display: inline-flex;
        padding: 0 8px;
        align-items: center;
        font-size: @caption-all-caps-font-size;
        font-weight: @caption-all-caps-font-weight;
        letter-spacing: @caption-all-caps-letter-spacing;
        line-height: @caption-all-caps-line-height;
    }

    .unchanged {
        background-color: var(--neutral-grey-1); // legacy
        color: var(--neutral-grey5); // legacy
    }

    .neutral {
        background-color: var(--neutral-grey-3); // legacy
        color: var(--neutral-grey-6); // legacy
    }

    .positive {
        background-color: var(--accessory-green-1); // legacy
        color: var(--accessory-green-3); // legacy
    }

    .negative {
        background-color: var(--accessory-red-1); // legacy
        color: var(--accessory-red-3); // legacy
    }

    .sm {
        height: 18px;
    }

    .md {
        height: 24px;
    }
}

.axiom :local {
    .unchanged {
        background-color: var(--surface-neutral-secondary);
        color: var(--content-neutral-secondary);
    }

    .neutral {
        background-color: var(--surface-neutral-tertiary);
        color: var(--content-neutral-strong);
    }

    .positive {
        background-color: var(--surface-success-secondary);
        color: var(--static-success);
    }

    .negative {
        background-color: var(--surface-error-secondary);
        color: var(--static-error);
    }
}
