:local {
    .table {
        .header {
            height: unset;
            .headerCell {
                color: var(--neutral-grey-4); // legacy
            }
        }

        tbody {
            tr {
                height: 68px;
                td {
                    width: auto;

                    &:last-child {
                        width: 70px !important;
                        max-width: 70px !important;

                        a {
                            color: var(--neutral-grey-4); // legacy
                        }
                    }
                }

                &:hover {
                    a {
                        color: var(--main-primary) !important; // legacy
                    }
                }
            }
        }
    }

    .phoneCell {
        strong {
            font-weight: normal;
        }
    }

    .footer {
        padding: 0 24px 24px;
    }
}

.axiom :local {
    .table {
        .header {
            .headerCell {
                color: var(--content-neutral-secondary);
            }
        }

        tbody {
            tr {
                td {
                    &:last-child {
                        a {
                            color: var(--content-neutral-secondary);
                        }
                    }
                }

                &:hover {
                    a {
                        color: var(--content-accent-default) !important;
                    }
                }
            }
        }
    }
}
