@import '~@gorgias/design-tokens/dist/css/typographyTokens';
@import (reference) '~css/typography.less';

:local {
    .dropdownWrapper {
        overflow: visible;
    }

    .dropdownBody {
        padding: var(--layout-spacing-s);
        overflow-y: visible;
    }

    .dialerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 270px; // ensures the placeholder is not cut off
    }

    .dialerInputWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // we take into account also the error caption height
        height: calc(262px + @caption-regular-line-height);
    }

    .dialpad {
        padding: 0 var(--layout-spacing-s);
        margin-top: var(--layout-spacing-m);
    }

    .results {
        margin-top: var(--layout-spacing-xs);
        flex: 1;
        overflow-y: scroll;

        &.noResults {
            padding: var(--layout-spacing-xs);
            color: var(--neutral-grey-5); // legacy
            text-align: center;
        }

        &.dropdown {
            margin-top: 0;
            height: fit-content;
        }

        .address {
            .caption-regular();

            color: var(--neutral-grey-5); // legacy
        }
    }

    .result {
        display: flex;
        padding: var(--layout-spacing-xs);
        cursor: pointer;
        column-gap: var(--layout-spacing-xs);

        &:hover,
        &.highlighted {
            background-color: var(--neutral-grey-2); // legacy
        }

        .resultDetails {
            display: flex;
            flex-direction: column;
        }
    }

    .prefixIcon {
        color: var(--neutral-grey-0); // legacy
        background-color: var(--neutral-grey-6); // legacy
        border-radius: 3px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        margin-top: var(--layout-spacing-m);

        .integrationSelectorLabel {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .skeleton {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
    }

    .integrationSelectorItem {
        display: flex;
        gap: var(--layout-spacing-xs);
    }
}

.axiom :local {
    .results {
        &.noResults {
            color: var(--content-neutral-secondary);
        }

        .address {
            color: var(--content-neutral-secondary);
        }
    }

    .result {
        &:hover,
        &.highlighted {
            background-color: var(--hover-default);
        }
    }

    .prefixIcon {
        color: var(--content-inverted-default);
        background-color: var(--content-neutral-default);
    }
}
