:local {
    .navbarBlockTriggerContainer {
        width: 100%;
        position: relative;

        &:hover {
            border-radius: 8px;
            background: var(--navigation-background-accent); // legacy
            box-shadow: 0px 1px 2px 0px rgba(22, 22, 22, 0.16);
        }
    }

    .title {
        color: var(--navigation-text-item); // legacy
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        > i {
            font-size: 20px;
        }
    }

    .toggle {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--navigation-text-item) !important; // legacy
        font-size: 16px;
        line-height: 20px;
        padding: 3px;
        transform: translateY(-1px);

        > i {
            font-size: 16px !important;
            color: var(--navigation-text-item); // legacy
        }

        &:hover,
        &:focus {
            background-color: var(
                --navbar-link-hover-background-color
            ); // legacy
            color: var(--navbar-block-toggle-hover-color) !important; // legacy
            box-shadow: unset;
        }

        &:active {
            background-color: var(
                --navbar-block-toggle-active-background-color
            ) !important; // legacy
            color: var(--navbar-block-toggle-active-color); // legacy
        }
    }

    .action {
        font-size: 13px;
        padding-left: 7px;
        line-height: 24px;
        font-weight: 400;

        &:focus {
            outline: none;
        }
    }

    .actionToggle {
        position: absolute;
        right: 30px;
        bottom: 4px;
        z-index: 10;
    }

    .isDragged {
        opacity: 0.5;
    }
}

.axiom :local {
    .navbarBlockTriggerContainer {
        &:hover {
            background: var(--hover-default);
        }
    }

    .title {
        color: var(--content-neutral-default);
    }

    .toggle {
        color: var(--content-neutral-default) !important;

        > i {
            color: var(--content-neutral-default);
        }

        &:hover,
        &:focus {
            background-color: var(--surface-neutral-tertiary);
            color: var(--content-neutral-default) !important;
        }

        &:active {
            background-color: var(--surface-neutral-tertiary) !important;
            color: var(--content-neutral-default);
        }
    }
}
