@import '~css/new/layout';

:local {
    .dateAndTimeFormattingSettingsWrapper {
        margin-top: @layout-spacing-m;
        display: flex;
        gap: 5 * @layout-spacing-l;
    }

    .settingWrapper {
        & > legend {
            margin-bottom: @layout-spacing-s;
        }
    }
}
