@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .dateAndTimeFormattingSettingsWrapper {
        margin-top: var(--layout-spacing-m);
        display: flex;
        gap: 5 * @layout-spacing-l;
    }

    .settingWrapper {
        & > legend {
            margin-bottom: var(--layout-spacing-s);
        }
    }
}
