@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .themeListWrapper {
        gap: 16px;
        display: flex;
        justify-content: space-between;
    }

    .buttonIconWrapper {
        color: var(--neutral-grey-3);
        padding-right: 8px;
    }

    .buttonIconWrapperSelected {
        color: var(--main-primary);
        padding-right: 8px;
    }

    .previewRadioButtonWrapper {
        width: 100%;
    }
}
