:local {
    .headings {
        margin-bottom: 0;
    }

    .avatarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .conversationSettings {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .proficientLanguages {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: var(--layout-spacing-xs);
        }
    }
}
