:local {
    .selectInputBox {
        background-color: var(--neutral-grey-0); // legacy
    }
    .icon {
        font-size: 20px;
    }
}

.axiom :local {
    .selectInputBox {
        background-color: var(--elevation-neutral-default);
    }
}
