@import (reference) '~css/typography.less';

:local {
    .container {
        padding: 36px 0;
        border-radius: 4px;
        background: var(--neutral-grey-1); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .question {
        color: var(--classic-neutral-grey-6); // legacy
        text-align: center;
        .body-semibold();
    }

    .choicesContainer {
        display: flex;
        gap: 6px;
        align-self: center;
    }

    .button {
        text-transform: none;
    }
}

.axiom :local {
    .container {
        background: var(--elevation-neutral-mid);
        border: 1px solid var(--border-neutral-default);
        box-shadow: var(--effects-shadow-container);
    }

    .question {
        color: var(--content-neutral-default);
    }
}
