@import (reference) '~css/typography.less';

:local {
    .card {
        height: 100%;
        gap: var(--layout-spacing-s);
    }

    .tag {
        background-color: var(--accessory-magenta-1); // legacy
        color: var(--accessory-magenta-3); // legacy
        padding: var(--layout-spacing-xxs) var(--layout-spacing-xs);
        border-radius: var(--layout-spacing-xxs);
    }

    .autoAwesome {
        font-size: 16px !important;
        margin-top: 0 !important;
        display: flex;
    }
}

.axiom :local {
    .tag {
        background-color: var(--surface-additional-fuchsia);
        color: var(--content-additional-purple);
    }
}
