:local {
    .container {
        padding: var(--layout-spacing-l);
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    @media (max-width: 768px) {
        .container {
            padding: 0px;
        }
    }
}
