:local {
    .bodyCell {
        cursor: initial;
    }

    .ticketChannelIcon {
        font-size: 20px !important;
        color: var(--neutral-grey-4); // legacy
        margin-right: 16px;

        &:global(.icon-facebook-feed) {
            &:before {
                font-size: 20px;
            }
        }
    }

    .soundSelectCell {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.axiom :local {
    .ticketChannelIcon {
        color: var(--content-neutral-secondary);
    }
}
