@import (reference) '~css/typography';

:local {
    .heading {
        .heading-section-semibold();
        margin: var(--layout-spacing-xl) 0 var(--layout-spacing-xxs);
    }

    .subtitle {
        margin-bottom: var(--layout-spacing-m);
    }

    .container {
        width: calc(100% + var(--layout-spacing-xl));
        margin: 0 calc(var(--layout-spacing-m) * -1) var(--layout-spacing-m);
    }
}
