:global {
    .rnf-notification-feed {
        background: var(--neutral-grey-0) !important; // legacy
    }

    .rnf-notification-feed__type {
        color: var(--neutral-grey-6) !important; // legacy
    }
}

:local {
    .feed {
        width: 400px;
        height: 100%;
    }
}

.axiom {
    .rnf-notification-feed {
        background: var(--elevation-neutral-default) !important;
    }

    .rnf-notification-feed__type {
        color: var(--content-neutral-default) !important;
    }
}
