@import (reference) '~css/typography.less';

:local {
    .container {
        position: relative;
        margin: 0 6px 0 12px;
        border-radius: 4px;

        &:hover {
            background: var(--neutral-grey-1); // legacy

            .toggleButton {
                display: block;
            }
        }
    }

    .headerExtra {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .unread {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--feedback-error); // legacy
    }

    .time {
        .caption-regular();
        color: var(--neutral-grey-5); // legacy
    }

    .markUnreadIcon {
        background-color: var(--neutral-grey-5); // legacy
        display: block;
        mask: url(../assets/mark_as_unread.svg);
        -webkit-mask: url(../assets/mark_as_unread.svg);
        height: 16px;
        width: 16px;
        transform: scale(0.89);
    }

    .toggleButton {
        display: none;
        position: absolute;
        top: var(--layout-spacing-s);
        right: 12px;
        background-color: var(--neutral-grey-0) !important; // legacy
        box-shadow: 0px 2px 4px 0px
            hsla(
                var(--neutral-grey-5-h),
                var(--neutral-grey-5-s),
                var(--neutral-grey-5-l),
                0.16
            );
    }

    .markUnreadButton {
        padding: 0 3px !important;
    }

    .icon {
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .container {
        &:hover {
            background: var(--hover-default);
        }
    }

    .unread {
        background: var(--content-error-primary);
    }

    .time {
        color: var(--content-neutral-tertiary);
    }

    .markUnreadIcon {
        background-color: var(--content-neutral-tertiary);
    }

    .toggleButton {
        background-color: var(--elevation-neutral-default) !important;
    }

    .icon {
        color: var(--content-neutral-tertiary);
    }
}
