@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        gap: var(--layout-spacing-xs);
        padding: var(--layout-spacing-s) 12px;
    }

    .icon {
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
    }

    .subIcon {
        @iconSize: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: @iconSize;
        width: @iconSize;
        position: absolute;
        top: @iconSize;
        right: -(@iconSize / 2);
        border-radius: (@iconSize / 2);
        border: 1px solid var(--neutral-grey-0); // legacy
        color: var(--neutral-grey-0);
        background-color: var(--main-primary); // legacy

        :global {
            .material-icons,
            .material-icons-outlined {
                font-size: 12px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
        flex-grow: 1;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .type {
        .body-semibold();
        margin: 0;
        color: var(--neutral-grey-6);
    }

    .systemIconWrapper {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: var(--main-primary); // legacy
    }

    .systemIcon {
        color: var(--neutral-grey-0);
        width: unset !important;
    }
}

.axiom :local {
    .subIcon {
        border-color: var(--border-neutral-default);
        background-color: var(--static-additional-blue);
    }

    .systemIconWrapper {
        background-color: var(--static-additional-blue);
    }
}
