@import (reference) '~css/typography';

:local {
    .spinner {
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .container {
        max-width: none;
        width: 100%;
    }

    .heading {
        .heading-section-semibold();
        margin: 0 0 var(--layout-spacing-xxs);
    }

    .subtitle {
        margin-bottom: var(--layout-spacing-m);
    }
}
