@import (reference) '~css/typography';

:local {
    .subtitle {
        display: flex;
        white-space: break-spaces;
        flex-wrap: wrap;
        margin: 0;
        color: var(--neutral-grey-5);
        .caption-regular();

        strong {
            .caption-semibold();
        }
    }
}
