:local {
    .title {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;

        margin-bottom: var(--layout-spacing-xxs);

        &.empty {
            opacity: 0.3;
        }
    }
}
