@import (reference) '~css/new/util.less';

@noiseSvg: 'data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMjAwIDIwMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KICAgIDxmaWx0ZXIgaWQ9J25vaXNlRmlsdGVyJz4KICAgICAgICA8ZmVUdXJidWxlbmNlCiAgICAgICAgICAgIHR5cGU9J2ZyYWN0YWxOb2lzZScKICAgICAgICAgICAgYmFzZUZyZXF1ZW5jeT0nMS40NCcKICAgICAgICAgICAgbnVtT2N0YXZlcz0nMScKICAgICAgICAgICAgc3RpdGNoVGlsZXM9J3N0aXRjaCcgLz4KICAgIDwvZmlsdGVyPgoKICAgIDxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbHRlcj0ndXJsKCNub2lzZUZpbHRlciknIC8+Cjwvc3ZnPg==';

:local {
    @primary: #479af5;
    @lighterGrey: #f8f9fa;
    @lightGrey: #ededed;
    @grey: #c3c8d0;
    @active-bluegreen: #06d79c;
    @offlineColor: #a1a9b6;
    @textColor: #545454;
    @light-contrast-color: 'FFFFFF';
    @dark-contrast-color: '161616';
    @darker-grey: #424242;

    .preview {
        border-radius: 16px;
        width: 100%;
        max-width: 384px;
        color: @textColor;
        font-weight: 600;
        pointer-events: none;

        &.previewWithBackground {
            width: 432px;
            background: var(--neutral-grey-1); // legacy
            padding: 24px;
            min-height: 802px;
        }
    }

    .dialog {
        overflow: hidden;
        width: 100%;
        height: 680px;
        border: 0;
        border-radius: 16px;
        box-shadow: 4px 4px 16px rgba(22, 22, 22, 0.1);

        position: relative;

        display: flex;
        flex-direction: column;

        .titlebar {
            position: relative;
            padding: 0.6em 1.6em;
            background: @primary;

            color: var(--neutral-grey-0); // legacy
            text-align: center;

            .icon.times {
                position: absolute;
                top: 50%;
                right: 0.8em;
                transform: translateY(-50%);
            }
        }

        .header {
            box-shadow: 4px 4px 16px rgba(22, 22, 22, 0.1);
            display: flex;
            padding: 16px;
            z-index: 1; // necessary so that the box-shadow is above the content
            align-items: center;
        }

        .details {
            color: var(--neutral-grey-0); // legacy
            overflow: hidden;
            flex: 1;
            text-align: left;

            .appName {
                font-size: 13px;
                font-weight: 600;

                &.appNameEmpty {
                    opacity: 0.3;
                }
            }

            .introductionText {
                font-size: 14px;
                font-weight: normal;
            }

            .business-hours-back-badge {
                font-size: 13px;
                border-radius: 50px;
                background: #959ca6;
                color: var(--neutral-grey-0); // legacy
                padding: 0 10px;
                width: auto;
                margin-top: 5px;
                display: inline-block;
            }
        }

        .content {
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px;
            flex: 1;
            pointer-events: initial;
            display: flex;
            flex-direction: column;

            .conversationTimestamp {
                color: var(--neutral-grey-4); // legacy
                font-size: 11px;
                font-weight: 600;
                margin-bottom: var(--layout-spacing-m);
                text-transform: uppercase;
                text-align: center;
                margin: 24px 0;
            }

            .messageTimestamp {
                color: @grey;
                font-size: 12px;
                margin-top: 5px;
                text-align: right;

                .messageStatus {
                    font-weight: 600;
                }
            }

            .quickRepliesContent {
                display: flex;
                align-items: flex-end;
                flex: 1;

                overflow: hidden;
                pointer-events: none;

                .quickRepliesWrapper {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    padding-left: 10%;
                }

                .reply {
                    background: white;
                    margin: 8px 0 0 8px;
                }
            }
        }
    }

    .gradient {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(@primary 34%, hsla(0, 0%, 100%, 0.4));
        &.offline-mode {
            background: linear-gradient(
                @offlineColor 34%,
                hsla(0, 0%, 100%, 0.4)
            );
        }
    }

    .noise {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0.1;
        background-image: url(@noiseSvg);
    }

    .conversationContentWrapper {
        display: flex;
        flex-direction: column;
        background-color: var(--neutral-grey-0); // legacy
        border-radius: 16px;
        z-index: 2;
        height: 100%;
        padding-bottom: 20px;
        gap: 20px;
        overflow-y: auto;
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 2;
        padding-bottom: 20px;
        overflow-y: auto;
    }

    .agents,
    .team-picture-wrapper {
        display: flex;
        align-items: center;
        margin-right: 8px;

        .team-picture {
            position: relative;

            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                border-radius: 100px;
            }
        }

        .agents {
            .agent {
                margin-right: -20px;
            }
        }

        .agent {
            position: relative;
            margin-right: -20px;
            padding: 0 2px;

            height: 40px;
            width: 40px;

            border-radius: 100px;
            background-color: var(--neutral-grey-2); // legacy
            color: var(--neutral-grey-4); // legacy
            background-size: cover;
            background-position: center;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 12px;
            font-weight: 600;

            border-style: solid;
            border-width: 3px;

            &.hasIcon {
                font-size: 19px;
                background-color: var(--neutral-grey-0); // legacy
                color: @textColor;

                &.first,
                &.last {
                    font-size: 13px;
                }
            }

            &:not(.hasIcon) {
                &.first {
                    justify-content: flex-start;
                }

                &.last {
                    justify-content: flex-end;
                }
            }

            &.hasPicture {
                color: transparent;
            }

            &.first,
            &.last {
                width: 32px;
                height: 32px;
                z-index: 1;
                font-size: 10px;

                .onlineMarker,
                .offlineMarker {
                    width: 10px;
                    height: 10px;
                    right: 10%;
                }
            }

            &.middle {
                z-index: 2;
            }

            &.last,
            &.single {
                margin-right: 0;
            }
        }

        .agent,
        .team-picture {
            .onlineMarker,
            .offlineMarker {
                position: absolute;
                width: 12px;
                height: 12px;
                bottom: -3.5%;
                right: 6%;
                border-radius: 50px;
                border-style: solid;
                border-width: 2px;
                border-color: inherit;
            }

            .onlineMarker {
                background: @active-bluegreen;
            }

            .offlineMarker {
                background: var(--feedback-warning); // legacy
            }
        }
    }

    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        background-size: cover;

        &.attachmentIcon {
            color: var(--neutral-grey-4); // legacy
            font-size: 24px;
        }
    }

    .bubble {
        display: table;
        margin-right: auto;
        padding: 14px;
        margin-bottom: 4px;
        background: #f4f4f4;
        color: @darker-grey;
        border-radius: 14px;
        font-size: 14px;
        position: relative;
        border-left-color: @primary;
        word-break: break-word;
        letter-spacing: -0.01em;
        line-height: 20px;

        & + .automatedTimestamp {
            margin-top: 4px;
        }

        &.primary {
            margin: 0 0 4px auto;
            background: @primary;
            color: var(--neutral-grey-0); // legacy
            max-width: calc(100% - 32px - 8px); // icon size + gap size
        }

        &.lastMessage {
            margin-bottom: var(--layout-spacing-m);
        }

        &.isAnimated {
            :global {
                animation: fadeIn 0.35s linear;
            }
        }
    }

    .appMakerMessageWrapper {
        margin-bottom: var(--layout-spacing-m);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .messages {
        padding-left: 38px;
    }

    .user {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: var(--layout-spacing-xxs);

        &.isAnimated {
            :global {
                animation: fadeIn 0.35s linear;
            }
        }
    }

    .agent {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .avatar {
        &.isAnimated {
            :global {
                animation: fadeIn 0.35s linear;
            }
        }
    }

    .optionalEmailCapture {
        padding: 15px;
        box-shadow: 0 2px 4px fade(black, 12%);

        background: @lighterGrey;
        border: 1px solid @lightGrey;
        border-radius: 3px;
    }

    .content.requiredEmailCaptureContent {
        flex: 0;
        margin-top: auto;
    }

    .automatedTimestamp {
        margin-top: 10px;
        color: var(--neutral-grey-4); // legacy
        font-size: 12px;
    }

    // shrink dialog and chat button
    .dialog,
    .button {
        font-size: 15px;
        font-weight: 400;
    }

    .replyTime {
        font-size: 12px;
        display: flex;
        align-items: center;
        font-weight: 400;
        margin-top: 4px;

        i {
            font-size: 16px;
            margin-right: 4px;
        }
    }

    .goBackButton {
        display: inline-block;
        margin-right: 8px;
        font-size: 22px;
    }

    .asterisk {
        color: var(--feedback-error); // legacy
        font-weight: 600;
        font-size: 14px;
    }

    .productCarousel {
        margin: var(--layout-spacing-s) 0 var(--layout-spacing-s) -38px;
    }
}

.axiom :local {
    .preview {
        &.previewWithBackground {
            background: var(--elevation-neutral-default);
        }
    }

    .dialog {
        .titlebar {
            color: var(--elevation-neutral-default);
        }

        .details {
            color: var(--elevation-neutral-default);

            .business-hours-back-badge {
                color: var(--elevation-neutral-default);
            }
        }

        .content {
            .conversationTimestamp {
                color: var(--content-neutral-tertiary);
            }
        }
    }

    .conversationContentWrapper {
        background-color: var(--elevation-neutral-default);
    }

    .dialog {
        .content {
            .quickRepliesContent {
                .reply {
                    background: var(--elevation-neutral-default) !important;
                    border-radius: var(--spacing-xs);
                    border-width: 1px;
                    border-style: solid;
                    padding: var(--spacing-xxs) var(--spacing-xs);
                    font-weight: 500;
                    transition: all 0.2s linear;

                    &:hover {
                        background: var(--hover-default) !important;
                    }
                }
            }
        }
    }

    .agents,
    .team-picture-wrapper {
        .agent {
            background-color: var(--surface-neutral-tertiary);
            color: var(--content-neutral-tertiary);

            &.hasIcon {
                background-color: var(--elevation-neutral-default);
            }
        }

        .agent,
        .team-picture {
            .offlineMarker {
                background: var(--content-warning-primary);
            }
        }
    }

    .icon {
        &.attachmentIcon {
            color: var(--content-neutral-tertiary);
        }
    }

    .bubble {
        &.primary {
            color: var(--elevation-neutral-default);
        }
    }

    .automatedTimestamp {
        color: var(--content-neutral-tertiary);
    }

    .asterisk {
        color: var(--content-error-primary);
    }
}
