:local {
    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column-reverse;

        &.buttonOnTop {
            flex-direction: column;
        }
    }

    .isPlaceholder {
        visibility: hidden;
    }

    .offsetContent {
        position: absolute;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: var(--neutral-grey-4); // legacy
    }

    .offsetLine {
        position: relative;
    }

    .axisLauncherWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .axisCenter {
        position: relative;
    }

    .axisX,
    .axisY {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 48px;
            height: 8px;

            left: 0;
            top: 0;
            position: absolute;
        }
    }

    @offset-line-size: 48px;

    .axisX {
        flex-direction: column-reverse;
        margin-top: -8px;

        transform: translateY(50%);

        .offsetLine {
            width: @offset-line-size;
            height: 8px;
        }

        .offsetContent {
            top: -16px;
        }
    }

    .axisY {
        left: 0;

        transform: translateX(-50%);

        .offsetLine {
            height: @offset-line-size;
            width: 8px;
        }

        img {
            transform-origin: top left;
            transform: rotate(-90deg) translate(-100%);
        }

        .offsetContent {
            left: 12px;
        }
    }

    .buttonWrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.2s ease;
        position: relative;

        &.editing {
            &.top-right,
            &.top-left {
                padding-top: var(--layout-spacing-m);

                .axisCenter {
                    top: -@launcher-height;
                }

                .axisY {
                    top: -@offset-line-size;
                }
            }

            &.bottom-right,
            &.bottom-left {
                padding-bottom: var(--layout-spacing-m);
                margin-top: calc(-1 * var(--layout-spacing-m));

                .axisY {
                    top: 0;
                }
            }

            &.top-left,
            &.bottom-left {
                padding-left: var(--layout-spacing-m);
            }

            &.top-right,
            &.bottom-right {
                padding-right: var(--layout-spacing-m);
            }
        }

        @launcher-height: 52px;
        @launcher-size: (@launcher-height / 2);
        @launcher-spacing: calc(var(--layout-spacing-m) + @launcher-size);

        &.top-right {
            margin-bottom: 1em;
            .axisX  {
                top: @launcher-spacing;
                right: calc(-1 * var(--layout-spacing-m));
            }
        }

        &.top-left {
            justify-content: flex-start;
            margin-bottom: 1em;

            .axisX  {
                top: @launcher-spacing;
                left: calc(-1 * var(--layout-spacing-m));
            }

            .axisY {
                top: calc(-1 * var(--layout-spacing-m));
            }
        }

        &.bottom-left {
            justify-content: flex-start;
            margin-top: 1em;
            .axisX  {
                left: calc(-1 * var(--layout-spacing-m));
                bottom: @launcher-spacing;
            }
        }

        &.bottom-right {
            margin-top: 1em;
            .axisX {
                bottom: @launcher-spacing;
                right: calc(-1 * var(--layout-spacing-m));
            }
        }
    }
}

.axiom :local {
    .offsetContent {
        color: var(--content-neutral-tertiary);
    }
}
