:local {
    .container {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .agentsContainer {
        overflow: hidden;
    }

    .table {
        box-sizing: border-box;
        margin-bottom: 0;

        .tableRow {
            height: 64px;
            background: var(--neutral-grey-0); // legacy
            &:hover {
                background: var(--neutral-grey-1); // legacy
            }

            &.summaryRow {
                background: var(--neutral-grey-1); // legacy
                font-weight: 600;
            }

            .withShadow::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: -1px;
                width: 30px;
                box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);

                transform: translateX(100%);
                pointer-events: none;
            }

            td:first-child,
            th:first-child {
                position: sticky;
                left: 0;
                z-index: 2;
                background: inherit;
            }
        }

        .tableHead {
            position: sticky;
            top: 0;
            height: 64px;
            z-index: 3;
            background: var(--neutral-grey-0); // legacy

            &:after {
                content: '';
                pointer-events: none;
                position: absolute;
                border-bottom: 1px solid var(--neutral-grey-3); // legacy
                width: 100%;
                z-index: 3;
                margin-top: -1px;
            }

            th {
                background: var(--neutral-grey-0); // legacy

                &:first-child {
                    z-index: 5;
                    background: var(--neutral-grey-0); // legacy
                }
            }
        }
    }

    .pagination {
        position: sticky;
        left: 0;
        padding: var(--layout-spacing-s) 0;
    }

    .agentsCell {
        min-width: 200px;
        width: 21%;
    }

    .metricCell {
        width: 13%;
        min-width: 125px;
    }
}

:global(.react-grid-item) :local(.container) {
    height: 100%;
}

.axiom :local {
    .table {
        .tableRow {
            background: transparent;

            &:hover:not(.tableHead):not(.summaryRow) {
                background: var(--hover-default);

                td,
                th {
                    &:first-child {
                        background: transparent;
                    }
                }
            }

            &.summaryRow {
                background: transparent;
            }
        }

        .tableHead {
            background: var(--elevation-neutral-mid);

            &:after {
                border-bottom: 1px solid var(--border-neutral-default);
            }

            th {
                background: var(--elevation-neutral-mid);

                &:first-child {
                    background: var(--elevation-neutral-mid);
                }
            }
        }
    }
}
