@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import '~css/new/mixins';

:local {
    .container {
        color: var(--neutral-grey-6);
        max-width: 680px;
        width: 70%;
        padding: @layout-spacing-m;

        @media @mobiles, @tablets {
            max-width: inherit;
            width: 100%;
        }
    }
}
