@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/new/mixins';
@import (reference) '~css/typography';

:local {
    .contentWrapper {
        color: var(--neutral-grey-6);
        max-width: 680px;
        width: 70%;

        @media @mobiles {
            max-width: inherit;
            width: 100%;
        }
    }

    .inputField {
        .mb16();

        :global(.control-label:not(.form-check-label)) {
            .mb8;
            .body-semibold();
        }

        :global(.form-check) {
            .mb16();
        }

        :global(.form-text) {
            .caption-regular();
            color: var(--neutral-grey-4);
            margin-top: 4px;
        }
    }

    .leftSideWrapper {
        .mb16();
        .contentWrapper();
    }

    .mb0 {
        margin-bottom: 0;
    }

    .mb4 {
        margin-bottom: 4px;
    }

    .mb8 {
        margin-bottom: 8px;
    }

    .mb16 {
        margin-bottom: 16px;
    }

    .mb24 {
        margin-bottom: 24px;
    }

    .mb32 {
        margin-bottom: 32px;
    }

    .mb40 {
        margin-bottom: 40px;
    }

    .mb48 {
        margin-bottom: 48px;
    }

    .mt4 {
        margin-top: 4px;
    }

    .mt16 {
        margin-top: 16px;
    }

    .mt24 {
        margin-top: 24px;
    }

    .pageContainer {
        padding: @layout-spacing-m;
        width: 100%;
    }

    .newPageContainer {
        padding: @layout-spacing-m;
        max-width: calc(680px + @layout-spacing-m * 2);
    }

    .pb0 {
        padding-bottom: 0;
    }

    .pt0 {
        padding-top: 0;
    }

    .py24 {
        padding-left: 24px;
        padding-right: 24px;
    }

    .profilePicture {
        max-width: 170px;
        width: 30%;
        padding-left: 24px;

        @media @mobiles {
            padding-left: 0;
            width: 100%;
        }
    }

    .headingSection {
        .heading-section-semibold();
    }

    .section {
        margin-top: @layout-spacing-m;
        margin-bottom: @layout-spacing-l;
    }

    .headingSubsection {
        .heading-subsection-semibold();
        margin-bottom: @layout-spacing-xs;
    }

    .subsection {
        margin-top: @layout-spacing-m;
    }
    .AIIcon {
        margin-right: 4px;
        color: var(--accessory-magenta-3);
    }
    .macroDescription {
        margin-left: 48px;
    }
}
