@import '~css/new/mixins';

:local {
    .container {
        color: var(--neutral-grey-6);
        max-width: 680px;
        width: 100%;
        padding: var(--layout-spacing-m) 0 var(--layout-spacing-m)
            var(--layout-spacing-m);
        margin-right: var(--layout-spacing-m);

        @media @mobiles, @tablets {
            max-width: inherit;
            width: 100%;
        }
    }
}
