@import '~css/new/mixins';

:local {
    .container {
        color: var(--neutral-grey-6);
        max-width: 680px;
        width: 70%;

        @media @mobiles, @tablets {
            max-width: inherit;
            width: 100%;
        }
    }
}
