@import (reference) '~css/typography';

:local {
    .header {
        display: flex;
        gap: var(--layout-spacing-xs);
        .body-semibold();
        margin-bottom: var(--layout-spacing-xs);
    }

    .body {
        display: flex;
        gap: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-xs);
        align-items: center;
    }

    .tagHeader {
        width: 200px;
        display: flex;
        align-items: center;
    }

    .tag {
        width: 200px;
    }

    .description {
        flex-grow: 1;
    }

    input {
        height: 100%;
    }

    .deleteIcon {
        font-size: 24px;
        color: var(--feedback-error);
        cursor: pointer;
    }

    .addButton {
        margin: var(--layout-spacing-xs) 0 var(--layout-spacing-xs);
    }
}
