@import (reference) '~css/typography.less';

:local {
    .chartContainer {
        margin-bottom: var(--layout-spacing-m);
    }

    .chartContainerNoPagination {
        margin-bottom: 55px; // height of one row
    }

    .bodyCell {
        min-width: 85px;
    }

    .missing {
        color: var(--feedback-error); // legacy
    }

    .skeletonWrapper {
        width: 100%;
        flex: 1;
    }

    .pagination {
        margin-top: 20px;
        margin-bottom: var(--layout-spacing-m);
    }

    .noData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 400px;
        color: var(--neutral-grey-5); // legacy

        .noDataText {
            .body-semibold();
            color: var(--neutral-grey-5); // legacy
        }
    }

    .tableWrapper {
        margin-bottom: 0;
    }

    .noBorder {
        border-bottom: 0;
    }

    .notClickableCell {
        cursor: default;
    }

    .clickableCell {
        cursor: pointer;
        color: var(--main-primary); // legacy
    }

    .intentNameCell {
        .body-medium();
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tableDescription {
        padding: 0 var(--layout-spacing-m) var(--layout-spacing-m);
        margin-top: -16px;
    }

    .leadColumn div {
        font-weight: 500;
        justify-content: flex-start;
    }

    .loadingRow {
        margin-left: var(--layout-spacing-xxxs);
    }
}

.axiom :local {
    .missing {
        color: var(--content-error-primary);
    }

    .noData {
        color: var(--content-neutral-secondary);

        .noDataText {
            color: var(--content-neutral-secondary);
        }
    }

    .clickableCell {
        color: var(--content-accent-default);
    }
}
