:local {
    .bigNumber {
        color: var(--neutral-grey-6); // legacy
    }

    .trendLoader {
        width: 41px;
    }

    .noDataContainer {
        height: 112px;
        align-items: flex-start !important;
        gap: 12px;
        border-radius: 4px;
        border: 1px solid var(--neutral-grey-2); // legacy
        background: var(--neutral-grey-1); // legacy
        padding: var(--layout-spacing-s);
    }
}

.axiom :local {
    .bigNumber {
        color: var(--content-neutral-default);
    }

    .noDataContainer {
        border: 1px solid var(--border-neutral-default);
        background: var(--elevation-neutral-default);
    }
}
