:local {
  .toggle {
    padding-top: .2em;
    padding-bottom: .2em;
  }

  .hasPicture {
    padding-left: .2rem;
  }

  .agents {
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
