@import '~css/new/colors';

:local {
    .dragCell {
        cursor: move;
    }

    .caseTitle {
        width: 1px;
        white-space: pre;
    }

    .fallbackCell {
        cursor: default;
    }

    .caseDescription {
        color: @neutral6;
        width: auto;
    }

    .dragIcon {
        color: @neutral4;
        font-size: 20px;
    }
}
