@import '~css/new/colorTokens';

:local {
    .dragCell {
        cursor: move;
    }

    .fallbackCell {
        cursor: default;
    }

    .dragIcon {
        color: @classic-neutral-grey-3;
        font-size: 20px;
    }

    .forwardCell {
        a:not(:hover) {
            color: @classic-neutral-grey-4;
        }
    }

    .titleCell {
        min-width: 120px;
    }
}
