:local {
    .dragIndicator {
        width: 22px;
        text-align: center;
        color: var(--neutral-grey-4);
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }

    .dragIndicatorDisabled {
        color: var(--neutral-grey-3);
        &:hover {
            cursor: not-allowed;
        }
    }

    .bodyCell {
        width: var(--layout-spacing-m);
        padding: 0;
    }
}
