:local {
    .dragIndicator {
        width: 22px;
        text-align: center;
        color: var(--neutral-grey-4); // legacy
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }

    .dragIndicatorDisabled {
        color: var(--neutral-grey-3); // legacy
        &:hover {
            cursor: not-allowed;
        }
    }

    .bodyCell {
        width: var(--layout-spacing-m);
        padding: 0;
    }
}

.axiom :local {
    .dragIndicator {
        color: var(--content-neutral-tertiary);
    }

    .dragIndicatorDisabled {
        color: var(--border-neutral-secondary);
    }
}
