:local {
    .tableBody {
        border-color: inherit;
        display: table-row-group;
        vertical-align: middle;
    }
}

.axiom :local {
    .tableBody {
        tr:hover {
            background-color: var(--hover-default);
        }
    }
}
