@import (reference) '~css/new/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;
        padding: 20px;
        column-gap: @layout-spacing-s;
        align-items: center;
    }

    .title {
        .body-semibold();
        margin-bottom: @layout-spacing-xs;
    }
}
