:local {
    .pageContainer {
        padding: 24px;
        .pageColumn {
            max-width: 680px;
        }
    }

    .installationOptions {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
