@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .header {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--neutral-grey-0);
    }

    .headerButtons {
        display: flex;
        flex-direction: row;
        display: flex;
        gap: @layout-spacing-xs;
        justify-content: flex-end;
    }
}
