@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        width: 100%;
        background-color: var(--neutral-grey-0);

        gap: var(--layout-spacing-s);
        padding: var(--layout-spacing-m);
    }

    .saveButtonWrapper {
        margin-top: var(--layout-spacing-s);
    }

    .bannerContainer {
        max-width: 1078px;
    }
}
