@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';
@import (reference) '~css/new/util.less';

:local {
    .container {
        background-color: var(--neutral-grey-0);
        color: var(--neutral-grey-6);

        &:not(.isInitialEntry) {
            :global {
                animation: fadeIn 0.3s ease-in;
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        padding: @layout-spacing-m @layout-spacing-s;
        gap: var(--layout-spacing-xs);
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .orderNumber {
        .heading-section-semibold();
    }

    .orderDate {
        .heading-subsection-regular();
        color: var(--neutral-grey-4);
    }

    .summaryLabel {
        .heading-section-semibold();
        padding: @layout-spacing-m @layout-spacing-s 0;
    }

    .fulfillmentContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: @layout-spacing-m @layout-spacing-s;
        gap: @layout-spacing-m;
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .fulfillmentStatus {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .actions {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .badge {
        .body-medium();
        align-self: flex-start;
        text-transform: uppercase;
        letter-spacing: 0.8px;
    }

    .actionButton {
        padding: 6px @layout-spacing-s;
        background-color: rgba(22, 22, 22, 0.08);
        border-radius: 4px;
        font-size: @layout-spacing-s;
        font-weight: 500;
        line-height: 20px;
        transition: background-color 0.2s linear;

        &.isHovered {
            background-color: rgba(22, 22, 22, 0.16);
        }

        &.isActive {
            background-color: rgba(22, 22, 22, 0.2);
        }
    }

    .lineItems {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .lineItem {
        display: flex;
        gap: @layout-spacing-s;
    }

    .lineItemThumbnail {
        border-radius: 2px;
    }

    .lineItemDescription {
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-xxs) 0;
        gap: var(--layout-spacing-xxs);
    }

    .lineItemName {
        .heading-subsection-semibold();
    }

    .lineItemPrice {
        color: var(--neutral-grey-5);
        margin-right: var(--layout-spacing-xs);
    }

    .lineItemQuantity {
        color: var(--neutral-grey-4);
    }
}
