@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        background-color: var(--neutral-grey-0);
        color: var(--neutral-grey-6);
        overflow: auto;
        pointer-events: initial;
    }

    .header {
        display: flex;
        flex-direction: column;
        padding: @layout-spacing-m @layout-spacing-s;
        gap: var(--layout-spacing-xs);
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .orderNumber {
        .heading-section-semibold();
    }

    .orderDate {
        .heading-subsection-regular();
        color: var(--neutral-grey-4);
    }

    .returnPortal {
        .heading-subsection-semibold();
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 90px @layout-spacing-m;
        gap: @layout-spacing-m;
    }
}
