@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';
@import (reference) '~css/new/util.less';

:local {
    .container {
        .body-regular();
        padding: @layout-spacing-m 0;
        overflow: auto;
        pointer-events: initial;
        color: var(--neutral-grey-6);

        :global {
            animation: fadeIn 0.3s ease-in;
        }
    }

    .header {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-s);
        padding: 0 var(--layout-spacing-s);
    }

    .thumbnail {
        border-radius: 2px;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        flex: 1;
    }

    .separator {
        border-top: 1px solid var(--neutral-grey-3);
        margin: @layout-spacing-m 0;
    }

    .title {
        .heading-section-semibold();
    }

    .description {
        color: var(--neutral-grey-5);
    }

    .descriptionSeeItems {
        color: var(--main-primary);
    }

    .etaContainer {
        display: flex;
        flex-direction: column;
        padding: 0 var(--layout-spacing-s) var(--layout-spacing-xs);
        gap: var(--layout-spacing-xs);
    }

    .etaCaption {
        .caption-allcaps();
        color: var(--neutral-grey-4);
    }

    .eta {
        .heading-section-semibold();
        display: flex;
        align-items: center;
    }

    .etaIcon {
        color: var(--neutral-grey-4);
        margin-left: var(--layout-spacing-xs);
        font-size: 16px;
        width: 16px;
    }

    .timelineContainer {
        display: flex;
        flex-direction: column;
        padding: 0 var(--layout-spacing-s);
        gap: var(--layout-spacing-s);
        margin-top: @layout-spacing-m;
    }

    .timelineItems {
        display: flex;
        flex-direction: column;
    }

    .timelineItem {
        display: flex;
        align-items: stretch;
        gap: var(--layout-spacing-s);
    }

    .timeline {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .timelineDot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 6px;
        background-color: var(--main-primary);
        z-index: 1;

        &.isCurrent {
            width: 16px;
            height: 16px;
            margin: 4px 2px 2px;
            border: 3px solid var(--neutral-grey-0);
            box-shadow: 0 2px 4px rgba(22, 22, 22, 0.16);
        }

        &.isUpcoming {
            background-color: var(--neutral-grey-3);
        }
    }

    .timelineLine {
        width: 1px;
        position: absolute;
        height: 100%;
        margin-top: 6px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--neutral-grey-3);

        &.isCompleted {
            background-color: var(--main-primary);
        }
    }

    .timelineItemContent {
        display: flex;
        flex-direction: column;
        padding: 0 0 var(--layout-spacing-xs);
        gap: 12px;
    }

    .timelineItemStatus {
        .body-semibold();

        &.isCurrent {
            .heading-subsection-semibold();
        }

        &.isUpcoming {
            color: var(--neutral-grey-4);
        }
    }

    .timelineItemTimestamp {
        .caption-regular();
        color: var(--neutral-grey-4);
        margin-top: var(--layout-spacing-xxs);
    }

    .timelineItemDescription {
        color: var(--neutral-grey-5);
    }

    .timelineLastUpdated {
        .caption-regular();
        color: var(--neutral-grey-4);
    }

    .shippingContainer {
        display: flex;
        flex-direction: column;
        padding: 0 var(--layout-spacing-s);
        gap: var(--layout-spacing-s);
    }

    .shippingHeader {
        .heading-subsection-semibold();
    }

    .shippingAddressContainer {
        display: flex;
        flex-direction: column;
        color: var(--neutral-grey-5);
        gap: var(--layout-spacing-xxs);
    }

    .shippingCarrier {
        padding-block: var(--layout-spacing-xxs) var(--layout-spacing-xs);
        padding-inline: var(--layout-spacing-s);
    }

    .shippingCarrierLogo {
        border-radius: 4px;
        margin-right: var(--layout-spacing-s);
        float: left;
    }

    .shippingCarrierCopyIcon {
        font-size: 1.2em;
        transform: scaleX(-1) rotate(180deg);
    }

    .shippingCarrierContent {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
    }

    .shippingCarrierTitle {
        .body-semibold();
    }

    .shippingCarrierSubtitle {
        display: flex;
        justify-content: space-between;
        color: var(--neutral-grey-5);
    }

    .shippingCarrierTrackingNumber {
        color: var(--main-primary);
    }
}
