@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';
@import (reference) '~css/new/util.less';

:local {
    .messageContent {
        margin-top: 20px;
    }

    .repliesContainer {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-xs);
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: auto;
        padding-top: @layout-spacing-m;
    }

    .reply {
        .body-medium();
        padding: 6px 16px;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
    }
}
