@import (reference) '~css/typography.less';

:local {
    .header {
        .body-semibold();
        flex: 1;
    }

    .deleteButtonContainer {
        display: flex;
        margin-top: var(--layout-spacing-m);
        justify-content: right;
    }
}
