@import (reference) '~css/typography.less';

:local {
    .container {
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
        cursor: pointer;

        &:hover {
            background-color: var(--neutral-grey-2); // legacy
        }
    }

    .dragHandle {
        padding: 18px 4px 18px 24px;
        color: var(--neutral-grey-3); // legacy

        &.isDraggable {
            cursor: grab;
        }
    }

    .title {
        .body-semibold();
        padding-left: 12px;
        padding-right: var(--layout-spacing-s);
    }

    .description {
        .body-regular();
        padding: 18px var(--layout-spacing-s) 18px 0;
        width: 100%;
    }

    .arrowRight {
        color: var(--main-primary); // legacy
        padding-right: var(--layout-spacing-m);
    }

    .orderIssueIcon {
        font-size: 16px;
        padding-right: var(--layout-spacing-s);
        color: var(--feedback-warning); // legacy
    }
}

.axiom :local {
    .container {
        border-bottom: 1px solid var(--border-neutral-default);

        &:hover {
            background-color: var(--hover-default);
        }
    }

    .dragHandle {
        color: var(--border-neutral-default);
    }

    .arrowRight {
        color: var(--content-accent-default);
    }

    .orderIssueIcon {
        color: var(--content-warning-primary);
    }
}
