:local {
    .caption {
        color: var(--content-neutral-secondary);
    }

    .variantsBox {
        padding: 0;
    }

    .variantCard {
        background-color: var(--elevation-neutral-default);
        gap: var(--spacing-md);
        padding: var(--spacing-md);
    }
}
