:local {
    .pageHeaderRevamped {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding: 24px;
    }
}
