@import '~css/new/colors';
@import '~css/new/mixins';
@import '~css/new/layout';

:local {
    .container {
        display: flex;
        gap: @layout-spacing-m;
        padding: @layout-spacing-m;
        @media @mobiles {
            flex-direction: column;
        }
    }

    .spacer {
        margin-bottom: @layout-spacing-s;
    }

    .cardContainer {
        flex-grow: 1;
    }

    .searchLabel {
        font-size: 20px;
    }

    .searchBold {
        font-weight: 600;
    }

    .noApps {
        margin: @layout-spacing-m 0 @layout-spacing-l 0;
        font-size: 18px;
    }

    .spinnerWrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 18px;
    }

    .spinner {
        width: 50px;
        margin-right: @layout-spacing-xs;
    }

    li.showDesktop {
        display: none;
        @media @desktops {
            display: block;
        }
    }

    li.showLargeDesktop {
        display: none;
        @media @large-desktops {
            display: block;
        }
    }

    li.showXLargeDesktop {
        display: none;
        @media @xlarge-desktops {
            display: block;
        }
    }

    li.showXXLargeDesktop {
        display: none;
        @media @xxlarge-desktops {
            display: block;
        }
    }
}
