@import '~css/new/colors';
@import '~css/new/mixins';
@import '~css/new/layout';

:local {
    .header {
        margin-bottom: @layout-spacing-s;
    }

    .cardsWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: @layout-spacing-s;
        margin: 0 0 @layout-spacing-m 0;
        padding: 0;
        @media @desktops {
            grid-template-columns: repeat(2, 1fr);
        }
        @media @large-desktops {
            grid-template-columns: repeat(3, 1fr);
        }
        @media @xlarge-desktops {
            grid-template-columns: repeat(4, 1fr);
        }
        @media @xxlarge-desktops {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
