@import '~css/new/layout';

:local {
    .spinnerWrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 18px;
    }

    .spinner {
        width: 50px;
        margin-right: @layout-spacing-xs;
    }
}
