:local {
    .dropdownHeader {
        color: var(--neutral-grey-5); // legacy
        font-weight: 500;
        padding: 8px 16px;

        &:first-child {
            padding-top: 10px;
        }
    }

    .dropdownDivider {
        margin: 0 0 5px 0;
    }
}

.axiom :local {
    .dropdownHeader {
        color: var(--content-neutral-secondary);
    }
}
