:local {
    .component {
        padding: 0.8rem 0.5rem;
        background: var(--neutral-grey-1); // legacy
        text-align: right;
    }
}

.axiom :local {
    .component {
        background: var(--elevation-neutral-mid);
        border-bottom-left-radius: var(--spacing-sm);
        border-bottom-right-radius: var(--spacing-sm);
    }
}
