:local .component {
    &:not(.isAlert) {
        min-height: 127px;
    }

    &.isReadOnly {
        cursor: not-allowed;

        :global(.public-DraftEditor-content) {
            pointer-events: none;
        }
    }

    :global(.rich-textarea-wrapper) {
        padding: 1px 0;
        border: none;

        &.is-alert {
            margin-bottom: 0;
            min-height: 127px;
        }

        .editor-wrapper {
            margin-bottom: 30px;
        }
    }

    :global(.form-group) {
        margin-bottom: 0;
    }
}

:local {
    .richField {
        &.isInternal {
            background: hsla(
                var(--accessory-orange-1-h),
                var(--accessory-orange-1-s),
                var(--accessory-orange-1-l),
                0.6
            ) !important;
        }
    }
}

.public-DraftEditor-content {
    min-height: 100px;

    word-break: break-word;
    color: var(--neutral-grey-6); // legacy
}

.axiom {
    .public-DraftEditor-content {
        color: var(--content-neutral-default);
    }

    #ticket-reply-editor {
        .rich-textarea-wrapper {
            border: none !important;
            box-shadow: none !important;
            border-radius: 0 !important;

            &:focus-within {
                box-shadow: none !important;
            }
        }
    }

    :local {
        .richField {
            &.isInternal {
                position: relative;
                background: hsla(
                    var(--accessory-orange-1-h),
                    var(--accessory-orange-1-s),
                    var(--accessory-orange-1-l),
                    0.6
                ) !important;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: transparent;
                    transition: background 200ms ease-in-out;
                    pointer-events: none;
                }

                &:hover:not(:focus-within)::after {
                    background: var(--hover-input);
                }
            }
        }
    }
}
