:local {
    .whatsAppTemplateEditor {
        width: 100%;
        display: flex;
        flex-direction: column;

        .whatsAppTemplateContent {
            background-color: var(--neutral-grey-1); // legacy
            padding: var(--layout-spacing-s);
        }
    }
}

.axiom :local {
    .whatsAppTemplateContent {
        background-color: var(--elevation-neutral-mid);
    }
}
