@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: @layout-spacing-l;
        align-items: center;
        overflow: hidden;
        width: 100%;
        max-width: 1732px;
    }
    .background {
        position: absolute;
        inset: 0 0 0 -@layout-spacing-l;
        height: 100%;
        max-width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: right;
    }

    .column {
        height: 100%;
        position: relative;
        display: flex;
        flex-grow: 1 0 100px;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .preview {
        width: 400px;
        margin: auto;
        position: relative;
    }

    .badge {
        background-color: var(--accessory-magenta-1, #faeaff);
        color: var(--accessory-magenta-3, #6f0c86);
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
        margin-bottom: 12px;
        max-width: 450px;
    }

    .title {
        .heading-page-semibold();
    }

    .description {
        .heading-subsection-regular();
        color: var(--neutral-grey-5);
    }
}
