@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        p {
            color: var(--neutral-grey-6);
            .heading-page-semibold();
        }
    }
}
