@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        background-color: var(--neutral-grey-0);
        padding: @layout-spacing-m @layout-spacing-m 0 @layout-spacing-m;
        position: sticky;
        top: 0;
        z-index: 1;

        .messageContainer {
            display: flex;
            color: var(--neutral-grey-6);
            .heading-section-semibold();
            gap: var(--layout-spacing-xs);
            padding-bottom: @layout-spacing-m;

            i {
                color: var(--neutral-grey-4);
                font-size: 28px;
            }
        }

        .banner {
            display: flex;
            flex-direction: column;
            gap: @layout-spacing-s;
            padding-bottom: @layout-spacing-m;

            .aiBanner {
                background-color: var(--accessory-magenta-1, #faeaff);
                padding: var(--layout-spacing-xs);
                display: flex;
                gap: var(--layout-spacing-xs);
                border-radius: 4px;

                i {
                    color: var(--accessory-magenta-3, #6f0c86);
                    font-size: 20px;
                }

                .content {
                    color: var(--neutral-grey-6);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.14px;
                }

                b {
                    font-weight: 700;
                }
            }

            .customerFeedback {
                display: flex;
                .caption-allcaps();
                color: var(--neutral-grey-5);

                i {
                    padding-inline: var(--layout-spacing-xxs);
                }

                .helpful {
                    color: var(--feedback-success-4);
                }
            }
        }
    }

    .feedback {
        background-color: var(--neutral-grey-0);
        min-height: calc(2 * @layout-spacing-l);

        .question {
            padding-bottom: 12px;
            color: var(--neutral-grey-6);
            .body-semibold();
        }

        .confirm {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .editor {
            display: flex;
            min-height: @layout-spacing-l;
            .edit {
                display: flex;
                align-items: center;
                gap: var(--layout-spacing-xxs);
                color: var(--neutral-grey-6);
                .body-regular();
                i {
                    color: var(--neutral-grey-5);
                    padding: var(--layout-spacing-xxs);
                    font-size: 16px;
                    cursor: pointer;
                }
            }

            .improve {
                display: flex;
                flex-wrap: wrap;
                gap: var(--layout-spacing-xs);
            }
        }
    }
    .divider {
        margin-top: @layout-spacing-m;
        width: 100%;
        height: 1px;
        background-color: var(--neutral-grey-3);
    }
}
