@import '~css/new/colors';

:local {
  .focusable {
    &:focus {
      outline: auto 5px -webkit-focus-ring-color;
    }
  }

  .footer {
    background-color: @quartz;
  }

  .spinner {
    display: inline-block;
    width: 20px;
  }
}
