@import '~css/new/colors';

:local {
    .buttons-container {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 15px 59px;
        width: 100%;
    }
    .delete-button {
        :global .material-icons {
            color: @red;
            font-size: large;
            margin-right: 7px;
            vertical-align: middle;
        }
    }
}
