@import (reference) '~css/typography';

:local {
    .fullWidth {
        width: 100%;
    }

    .marginTop {
        margin-top: var(--layout-spacing-m);
    }

    .label {
        margin-bottom: var(--layout-spacing-xs);
    }

    .convertSubscriberLabel {
        color: var(--main-primary); // legacy
        margin-left: var(--layout-spacing-xs);
        cursor: pointer;
    }

    .caption {
        margin-top: var(--layout-spacing-xs);
    }
}

.axiom :local {
    .convertSubscriberLabel {
        color: var(--content-accent-default);
    }
}
