:local {
    .menuItem {
        color: var(--neutral-grey-6); // legacy

        &:hover {
            color: var(--neutral-grey-6); // legacy
        }
    }
}

.axiom :local {
    .menuItem {
        color: var(--content-neutral-default);

        &:hover {
            color: var(--content-neutral-default);
        }
    }
}
