@import (reference) '~css/typography';

:local {
    .separator {
        border-top: 1px solid var(--neutral-grey-3); // legacy
        margin: 0;
    }

    .dropdown-item-user-menu {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: none;
        background: none;
        cursor: pointer;
        text-align: left;
        padding: 8px;
        transition: background-color 0.2s linear;
        color: var(--neutral-grey-6); // legacy
        .body-regular();

        &:hover,
        &:focus {
            outline: none;
            background: var(--neutral-grey-2); // legacy
            color: var(--neutral-grey-6); // legacy
        }

        &.availabilityToggle {
            justify-content: space-between;
            padding: 16px 8px 16px 16px;
        }
    }

    .wrapper {
        padding: 16px;
    }

    .submenu {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 !important;
        width: 100%;
        height: 20px;
    }

    .sub-menu-chevron {
        color: var(--neutral-grey-4); // legacy
        vertical-align: -14% !important;
    }

    .label {
        .body-semibold();
        margin-right: 3px;
    }

    .value {
        .body-regular();
    }

    .icon {
        font-size: 16px !important;
        vertical-align: middle !important;
    }

    .justify {
        justify-content: space-between;
    }

    .dropdown-item {
        display: flex;
        padding: 8px 16px;
        align-items: center;
        color: var(--neutral-grey-6); // legacy
        font-weight: normal;
        outline: none;

        &:global.current {
            font-weight: 600;
        }

        &:global:hover {
            background-color: var(--neutral-grey-2); // legacy
        }
    }

    .check {
        color: var(--neutral-grey-4); // legacy
        font-size: 20px;
    }
}

.axiom :local {
    .separator {
        border-top: 1px solid var(--border-neutral-default);
    }

    .dropdown-item-user-menu {
        color: var(--content-neutral-default);

        &:hover,
        &:focus {
            background: var(--hover-default);
            color: var(--content-neutral-default);
        }
    }

    .sub-menu-chevron {
        color: var(--content-neutral-secondary);
    }

    .dropdown-item {
        color: var(--content-neutral-default);

        &:global:hover {
            background-color: var(--hover-default);
        }
    }

    .check {
        color: var(--content-neutral-secondary);
    }
}
