:local {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        padding: 0;
        border: 0;
        border-radius: 8px;
        background: transparent;
        transition: background-color 0.2s ease-out;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: var(--navigation-selected);
        }
    }

    // this repetition is needed to increase the specificity
    // since the Avatar component used nested selectors
    .badge.badge.badge {
        right: -2px;
        bottom: -2px;
        width: 11px;
        height: 11px;
        border-color: var(--navigation-background);
    }

    .dropdown {
        width: 220px;
    }
}
