@import '~css/new/colors';

:local {
    .wrapper {
        display: flex;
        margin-bottom: 8px;
    }

    .variable {
        padding: 0 12px;
        height: 32px;
        line-height: 2;
        background: @neutral1;
        border: 1px solid @neutral3;
        border-radius: 4px;
        margin-right: 8px;
        flex-shrink: 0;
    }

    .operatorDropdown {
        margin-right: 8px;
        height: 32px;
        flex-shrink: 0;
    }

    .operatorText {
        margin-right: 8px;
        line-height: 2;
        flex-shrink: 0;
    }

    .shopifyLogo {
        height: 20px;
        width: auto;
        margin-right: 5px;
    }

    .connectingOperator {
        font-weight: 500;
        height: 32px;
        line-height: 2;
        color: @neutral0;
        padding: 0 12px;
        background: @orange;
        border: 1px solid @neutral3;
        border-radius: 4px;
        margin-right: 8px;
        flex-shrink: 0;
    }

    .deleteButton {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
        margin-left: auto;
        padding-left: 4px;

        span {
            color: @red;
        }
    }
}
