@import '~css/new/colors';

:local {
    .group {
        background: @darkWhite;
        border: 1px solid @neutral4;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 12px;
    }

    .addConditionButton {
        margin-top: 24px;
    }

    .addConditionMenuHeader {
        background: @neutral1;
        margin: -0.5rem -4px;
        margin-bottom: 4px;
        padding: 12px;
        width: 272px;
        color: @neutral8;
        font-weight: 600;
        display: flex;
        align-items: center;

        img {
            width: auto;
            height: 15px;
            margin-right: 4px;
        }
    }
}
