@import '~css/new/colors';

:local {
    .reasonRow {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }

    .dragIcon {
        color: @neutral4;
        font-size: 20px;
        padding-right: 10px;
        cursor: move;
    }

    .reasonText {
        height: 36px;
        display: flex;
        align-items: center;
    }

    .deleteButton {
        color: @red;
        margin-left: auto;
        border: none;
        background: none;
        padding: 0;
        font-size: 20px;
    }
}
