@import '~css/new/colors';

:local {
    .addedTooltip {
        display: block;
        text-align: left;
    }

    .plusIcon {
        font-size: 18px;
        margin-right: 8px;
        vertical-align: text-top;
    }

    .reasonsDropdownWrapper {
        max-width: 360px;

        .dropdownToggle {
            > div::after {
                display: none;
            }
        }
    }

    .reasonsDropdownMenu {
        max-height: 400px;
    }

    .reasonsWrapper {
        list-style-type: none;
        padding-inline-start: 0;
    }
}
