@import (reference) '~css/new/colorTokens';

:local {
    .wrapper {
        &:first-of-type {
            > div,
            > a > div {
                padding-left: 24px;
            }
        }

        &:last-of-type {
            > div,
            > a > div {
                padding-right: 24px;
            }
        }

        &.small,
        &.smallest {
            white-space: nowrap;

            > div,
            > a > div {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        &.smallest {
            width: 1px;
        }
    }
}
