:local {
    .cellContent {
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        color: var(--neutral-grey-6);
        padding: 16px 12px;
        line-height: 20px;
        justify-content: flex-start;
        &.left {
            justify-content: flex-start;
        }
        &.right {
            justify-content: flex-end;
        }
        &.center {
            justify-content: center;
        }
    }
}
