:local {
    .wrapper {
        box-sizing: border-box;
        font-weight: 600;
        min-height: 46px;
        position: relative;
        width: 100%;
        padding: var(--layout-spacing-s) 12px;

        &:first-of-type {
            padding-left: var(--layout-spacing-m);
        }

        &:last-of-type {
            padding-right: var(--layout-spacing-m);
        }

        &.isClickable {
            cursor: pointer;
        }

        &.small,
        &.smallest {
            white-space: nowrap;
        }

        &.smallest {
            width: 1px;
        }

        &.comfortable {
            padding-right: var(--layout-spacing-s);
            padding-left: var(--layout-spacing-s);

            &:first-of-type {
                padding-left: var(--layout-spacing-m);
            }

            &:last-of-type {
                padding-right: var(--layout-spacing-m);
            }
        }
    }
}
