@import '~css/new/colors';

:local {
    .wrapper {
        box-sizing: border-box;
        cursor: pointer;
        font-weight: 600;
        min-height: 36px;
        padding: 15px 18px;
        position: relative;
        width: 100%;

        &.is-clickable {
            color: @blue;
            font-weight: 500;
        }
    }
}
