:local {
    .wrapper {
        color: var(--neutral-grey-6);
        margin-right: 5px;

        &.hasMessageTranslation {
            margin-right: 0;
        }

        .menuWrapper {
            border: none;
            background: none;
            box-shadow: none;
            margin-top: -1px;
            padding: 4px 0 0 0;
            line-height: 0.8em;
        }

        .menu {
            border: 1px solid var(--neutral-grey-3);
            background: var(--neutral-grey-0);
            box-shadow: 0 2px 4px
                hsla(
                    var(--neutral-grey-6-h),
                    var(--neutral-grey-6-s),
                    var(--neutral-grey-6-l),
                    0.16
                );

            &.hasMessageTranslation {
                width: 100%;
                border-radius: 8px;
                background: var(--neutral-grey-0);
            }
        }

        .toggleMenu {
            text-transform: capitalize;
            font-size: 1rem;
            padding: 0px 7px;
            display: flex;
            line-height: 24px;

            &.hasMessageTranslation {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                padding: 0;
                border-radius: 4px;
                background: var(--neutral-grey-0);
                border: none;
                font-size: inherit;

                &:hover {
                    background: var(--neutral-grey-2);
                }
            }
        }

        .menuLabel {
            padding-right: 0.5em;
        }

        .caret {
            border-left: 1px solid var(--neutral-grey-3);
            height: 100%;
            padding-left: 7px;
            line-height: 24px;
        }
    }

    .header {
        background: var(--neutral-grey-2);
        border-bottom: 1px solid var(--neutral-grey-3);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        box-sizing: border-box;
        color: var(--neutral-grey-5);
        font-size: 14px;
        font-weight: 600;
        padding: 12px;
        width: 100%;
    }

    .subheader {
        text-transform: uppercase;
    }

    .options {
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 8px;
        width: 312px;
        height: 440px;
    }

    .headerTooltip :global .tooltip {
        pointer-events: none;
    }

    .info {
        color: var(--neutral-grey-4);

        &:hover {
            color: var(--neutral-grey-5);
        }
    }
}
