@import '~css/util';

:local {
    .callInfo {
        display: flex;
        align-items: center;

        em {
            .search-highlight();
        }
    }

    .separator {
        width: 12px;
        height: 1px;
        flex-shrink: 0;
        margin: 0 8px;
        background-color: var(--neutral-grey-4); // legacy
    }

    .customerLabel {
        padding-bottom: 0;
        font-weight: 400;
    }
}

.axiom :local {
    .separator {
        background-color: var(--elevation-neutral-default);
    }
}
