.axiomHighlightLegacyTokens {
    --feedback-error-0: red;
    --feedback-error-0-h: 0;
    --feedback-error-0-s: 100%;
    --feedback-error-0-l: 50%;
    --feedback-error-1: red;
    --feedback-error-1-h: 0;
    --feedback-error-1-s: 100%;
    --feedback-error-1-l: 50%;
    --feedback-error-2: red;
    --feedback-error-2-h: 0;
    --feedback-error-2-s: 100%;
    --feedback-error-2-l: 50%;
    --feedback-error-3: red;
    --feedback-error-3-h: 0;
    --feedback-error-3-s: 100%;
    --feedback-error-3-l: 50%;
    --feedback-error-4: red;
    --feedback-error-4-h: 0;
    --feedback-error-4-s: 100%;
    --feedback-error-4-l: 50%;
    --feedback-success-0: red;
    --feedback-success-0-h: 0;
    --feedback-success-0-s: 100%;
    --feedback-success-0-l: 50%;
    --feedback-success-1: red;
    --feedback-success-1-h: 0;
    --feedback-success-1-s: 100%;
    --feedback-success-1-l: 50%;
    --feedback-success-2: red;
    --feedback-success-2-h: 0;
    --feedback-success-2-s: 100%;
    --feedback-success-2-l: 50%;
    --feedback-success-3: red;
    --feedback-success-3-h: 0;
    --feedback-success-3-s: 100%;
    --feedback-success-3-l: 50%;
    --feedback-success-4: red;
    --feedback-success-4-h: 0;
    --feedback-success-4-s: 100%;
    --feedback-success-4-l: 50%;
    --feedback-warning-0: red;
    --feedback-warning-0-h: 0;
    --feedback-warning-0-s: 100%;
    --feedback-warning-0-l: 50%;
    --feedback-warning-1: red;
    --feedback-warning-1-h: 0;
    --feedback-warning-1-s: 100%;
    --feedback-warning-1-l: 50%;
    --feedback-warning-2: red;
    --feedback-warning-2-h: 0;
    --feedback-warning-2-s: 100%;
    --feedback-warning-2-l: 50%;
    --feedback-warning-3: red;
    --feedback-warning-3-h: 0;
    --feedback-warning-3-s: 100%;
    --feedback-warning-3-l: 50%;
    --feedback-warning-4: red;
    --feedback-warning-4-h: 0;
    --feedback-warning-4-s: 100%;
    --feedback-warning-4-l: 50%;
    --feedback-error: red;
    --feedback-error-h: 0;
    --feedback-error-s: 100%;
    --feedback-error-l: 50%;
    --feedback-success: red;
    --feedback-success-h: 0;
    --feedback-success-s: 100%;
    --feedback-success-l: 50%;
    --feedback-warning: red;
    --feedback-warning-h: 0;
    --feedback-warning-s: 100%;
    --feedback-warning-l: 50%;
    --main-primary-0: red;
    --main-primary-0-h: 0;
    --main-primary-0-s: 100%;
    --main-primary-0-l: 50%;
    --main-primary-1: red;
    --main-primary-1-h: 0;
    --main-primary-1-s: 100%;
    --main-primary-1-l: 50%;
    --main-primary-2: red;
    --main-primary-2-h: 0;
    --main-primary-2-s: 100%;
    --main-primary-2-l: 50%;
    --main-primary-3: red;
    --main-primary-3-h: 0;
    --main-primary-3-s: 100%;
    --main-primary-3-l: 50%;
    --main-primary-4: red;
    --main-primary-4-h: 0;
    --main-primary-4-s: 100%;
    --main-primary-4-l: 50%;
    --main-secondary-0: red;
    --main-secondary-0-h: 0;
    --main-secondary-0-s: 100%;
    --main-secondary-0-l: 50%;
    --main-secondary-1: red;
    --main-secondary-1-h: 0;
    --main-secondary-1-s: 100%;
    --main-secondary-1-l: 50%;
    --main-secondary-2: red;
    --main-secondary-2-h: 0;
    --main-secondary-2-s: 100%;
    --main-secondary-2-l: 50%;
    --main-primary: red;
    --main-primary-h: 0;
    --main-primary-s: 100%;
    --main-primary-l: 50%;
    --main-secondary: red;
    --main-secondary-h: 0;
    --main-secondary-s: 100%;
    --main-secondary-l: 50%;
    --main-tertiary: red;
    --main-tertiary-h: 0;
    --main-tertiary-s: 100%;
    --main-tertiary-l: 50%;
    --main-latte: red;
    --main-latte-h: 0;
    --main-latte-s: 100%;
    --main-latte-l: 50%;
    --neutral-grey-0: red;
    --neutral-grey-0-h: 0;
    --neutral-grey-0-s: 100%;
    --neutral-grey-0-l: 50%;
    --neutral-grey-1: red;
    --neutral-grey-1-h: 0;
    --neutral-grey-1-s: 100%;
    --neutral-grey-1-l: 50%;
    --neutral-grey-2: red;
    --neutral-grey-2-h: 0;
    --neutral-grey-2-s: 100%;
    --neutral-grey-2-l: 50%;
    --neutral-grey-3: red;
    --neutral-grey-3-h: 0;
    --neutral-grey-3-s: 100%;
    --neutral-grey-3-l: 50%;
    --neutral-grey-4: red;
    --neutral-grey-4-h: 0;
    --neutral-grey-4-s: 100%;
    --neutral-grey-4-l: 50%;
    --neutral-grey-5: red;
    --neutral-grey-5-h: 0;
    --neutral-grey-5-s: 100%;
    --neutral-grey-5-l: 50%;
    --neutral-grey-6: red;
    --neutral-grey-6-h: 0;
    --neutral-grey-6-s: 100%;
    --neutral-grey-6-l: 50%;
    --accessory-blue-bg: red;
    --accessory-blue-bg-h: 0;
    --accessory-blue-bg-s: 100%;
    --accessory-blue-bg-l: 50%;
    --accessory-blue-text: red;
    --accessory-blue-text-h: 0;
    --accessory-blue-text-s: 100%;
    --accessory-blue-text-l: 50%;
    --accessory-brown-text: red;
    --accessory-brown-text-h: 0;
    --accessory-brown-text-s: 100%;
    --accessory-brown-text-l: 50%;
    --accessory-green-bg: red;
    --accessory-green-bg-h: 0;
    --accessory-green-bg-s: 100%;
    --accessory-green-bg-l: 50%;
    --accessory-green-text: red;
    --accessory-green-text-h: 0;
    --accessory-green-text-s: 100%;
    --accessory-green-text-l: 50%;
    --accessory-navy-text: red;
    --accessory-navy-text-h: 0;
    --accessory-navy-text-s: 100%;
    --accessory-navy-text-l: 50%;
    --accessory-orange-bg: red;
    --accessory-orange-bg-h: 0;
    --accessory-orange-bg-s: 100%;
    --accessory-orange-bg-l: 50%;
    --accessory-pink-bg: red;
    --accessory-pink-bg-h: 0;
    --accessory-pink-bg-s: 100%;
    --accessory-pink-bg-l: 50%;
    --accessory-purple-bg: red;
    --accessory-purple-bg-h: 0;
    --accessory-purple-bg-s: 100%;
    --accessory-purple-bg-l: 50%;
    --accessory-purple-text: red;
    --accessory-purple-text-h: 0;
    --accessory-purple-text-s: 100%;
    --accessory-purple-text-l: 50%;
    --accessory-red-bg: red;
    --accessory-red-bg-h: 0;
    --accessory-red-bg-s: 100%;
    --accessory-red-bg-l: 50%;
    --accessory-teal-bg: red;
    --accessory-teal-bg-h: 0;
    --accessory-teal-bg-s: 100%;
    --accessory-teal-bg-l: 50%;
    --accessory-yellow-bg: red;
    --accessory-yellow-bg-h: 0;
    --accessory-yellow-bg-s: 100%;
    --accessory-yellow-bg-l: 50%;
    --accessory-yellow-text: red;
    --accessory-yellow-text-h: 0;
    --accessory-yellow-text-s: 100%;
    --accessory-yellow-text-l: 50%;
}
