*:hover > ::-webkit-scrollbar {
    background: var(--neutral-grey-2); // legacy;
}

::-webkit-scrollbar {
    width: 6px;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--neutral-grey-3); // legacy;
    border: 2px solid transparent;
    border-radius: 12px;
    visibility: hidden;
}

*:hover > ::-webkit-scrollbar-thumb {
    visibility: visible;
}

:global {
    scrollbar-color: var(--neutral-grey-3) transparent; // legacy
    scrollbar-width: thin !important;
}

.axiom {
    *:hover > ::-webkit-scrollbar {
        background: var(--scrollbar-track);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
    }

    *:hover > ::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    ::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
    }

    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-width: thin !important;
}
