*:hover > ::-webkit-scrollbar {
    background: var(--neutral-grey-2); // legacy;
}

::-webkit-scrollbar {
    width: 6px;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--neutral-grey-3); // legacy;
    border: 2px solid transparent;
    border-radius: 12px;
    visibility: hidden;
}

*:hover > ::-webkit-scrollbar-thumb {
    visibility: visible;
}

:global {
    scrollbar-color: var(--neutral-grey-3) var(--neutral-grey-2); // legacy
    scrollbar-width: thin;
}

.axiom {
    *:hover > ::-webkit-scrollbar {
        background: var(--surface-neutral-tertiary);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--surface-neutral-tertiary);
    }

    scrollbar-color: var(--surface-neutral-tertiary)
        var(--surface-neutral-tertiary);
}
