// btn
.btn {
    font-weight: 500;

    &:hover {
        color: var(--neutral-grey-6); // legacy;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-primary {
    .button-variant(
        var(--neutral-grey-0); var(--main-primary); var(--main-primary-3); var(--main-primary-2); var(--main-primary); var(--main-primary-3); var(--main-primary-4)
    ); // legacy
}

.btn-secondary {
    .button-variant(
        var(--neutral-grey-6); var(--neutral-grey-2); var(--neutral-grey-3); var(--neutral-grey-2); var(--neutral-grey-3); var(--neutral-grey-2); var(--neutral-grey-4)
    ); // legacy
}

.btn-success {
    .button-variant(
        var(--neutral-grey-0); var(--feedback-success); var(--feedback-success-3); var(--feedback-success-2); var(--feedback-success); var(--feedback-success-3); var(--feedback-success-4)
    ); // legacy
}

.btn-info {
    .button-variant(
        var(--neutral-grey-0); var(--neutral-grey-6); var(--neutral-grey-6); hsla(var(--neutral-grey-6-h),
    var(--neutral-grey-6-s),
    var(--neutral-grey-6-l), 0.8); var(--neutral-grey-6); hsl(var(--neutral-grey-6-h),
    var(--neutral-grey-6-s),
    calc(var(--neutral-grey-6-l) - 5%)); hsl(var(--neutral-grey-6-h),
    var(--neutral-grey-6-s),
    calc(var(--neutral-grey-6-l) - 10%))
    ); // legacy
}

.btn-warning {
    .button-variant(
        var(--neutral-grey-0); var(--feedback-warning); var(--feedback-warning-3); var(--feedback-warning-2); var(--feedback-warning); var(--feedback-warning-3); var(--feedback-warning-4)
    ); // legacy
}

.btn-danger {
    .button-variant(
        var(--neutral-grey-0); var(--feedback-error); var(--feedback-error-3); var(--feedback-error-2); var(--feedback-error); var(--feedback-error-3); var(--feedback-error-4)
    ); // legacy
}

.btn-light {
    .button-variant(
        var(--neutral-grey-6); var(--neutral-grey-0); var(--neutral-grey-3); var(--neutral-grey-0); var(--neutral-grey-3); var(--neutral-grey-0); var(--neutral-grey-3)
    ); // legacy

    &:hover {
        background: var(--neutral-grey-0) !important; // legacy
    }
}

.btn-clue {
    .button-variant(
        var(--neutral-grey-0); var(--purple); var(--purple); var(--purple); var(--purple); var(--purple); var(--purple)
    ); // legacy
}

.btn-transparent {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

// btn outline
.btn-outline-primary {
    .button-outline-variant(var(--main-primary)); // legacy
}

.btn-outline-secondary {
    .button-outline-variant(var(--neutral-grey-1)); // legacy
}

.btn-outline-success {
    .button-outline-variant(var(--feedback-success)); // legacy
}

.btn-outline-info {
    .button-outline-variant(var(--neutral-grey-6)); // legacy
}

.btn-outline-warning {
    .button-outline-variant(var(--yellow)); // legacy
}

.btn-outline-danger {
    .button-outline-variant(var(--feedback-error)); // legacy
}

// badge
.badge-primary {
    .badge-variant(--main-primary);
}

.badge-secondary {
    .badge-variant(--neutral-grey-4);
}

.badge-success {
    .badge-variant(--feedback-success);
}

.badge-info {
    .badge-variant(--neutral-grey-6);
}

.badge-warning {
    .badge-variant(--feedback-warning);
}

.badge-danger {
    .badge-variant(--feedback-error);
}

// disabled buttons
.btn.disbled,
.btn:disabled {
    opacity: 1;
}

// text
.text-primary {
    color: var(--main-primary) !important; // legacy
}

.text-secondary {
    color: var(--neutral-grey-4) !important; // legacy
}

.text-success {
    color: var(--feedback-success) !important; // legacy
}

.text-danger {
    color: var(--feedback-error) !important; // legacy
}

.text-warning {
    color: var(--yellow) !important; // legacy
}

.text-info {
    color: var(--neutral-grey-6) !important; // legacy
}

.text-muted {
    color: var(--neutral-grey-4) !important; // legacy
}

.text-grey-5 {
    color: var(--neutral-grey-5) !important; // legacy
}

.text-purple {
    color: var(--purple); // legacy;
}

// lighter color of grey text (lighter than text-muted)
.text-faded {
    color: var(--neutral-grey-4) !important; // legacy

    a {
        color: var(--main-primary-2); // legacy;
    }

    kbd {
        background-color: var(--neutral-grey-4) !important; // legacy
    }
}

/* inherit parent color
 */
.uncolored {
    color: inherit !important;
}

// modal
.modal-title {
    font-size: 20px;
    font-weight: 500;
}

.close {
    color: var(--neutral-grey-6); // legacy;
    font-weight: normal;
}

// breadcrumbs
.breadcrumb-item {
    font-size: 20px;
    font-weight: 400;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--neutral-grey-3); // legacy;
    content: '>';
}

// card
.card {
    border-color: var(--neutral-grey-3); // legacy;
    border-radius: 4px;
    background-color: var(--neutral-grey-0); // legacy;
}

.axiom {
    .text-faded {
        color: var(--content-neutral-tertiary) !important;
    }

    .card {
        border-color: var(--border-neutral-default);
        background-color: var(--elevation-neutral-default);
    }

    // btn
    .btn {
        &:hover {
            color: var(--content-neutral-default);
        }
    }

    .btn-primary {
        .button-variant(
            var(--content-inverted-default); var(--surface-inverted-default); var(--surface-inverted-default); var(--inverted-hover); var(--surface-inverted-default); var(--surface-inverted-default); var(--surface-inverted-default)
        );
    }

    .btn-secondary {
        .button-variant(
            var(--content-neutral-default); var(--hover-default); var(--border-neutral-default); var(--hover-default); var(--border-neutral-default); var(--hover-default); var(--content-neutral-secondary)
        ) !important;
    }

    .btn-success {
        .button-variant(
            var(--content-inverted-default); var(--surface-success-primary); var(--surface-success-primary); var(--inverted-hover); var(--surface-success-primary); var(--surface-success-primary); var(--surface-success-primary)
        );
    }

    .btn-info {
        .button-variant(
            var(--content-inverted-default); var(--content-neutral-default); var(--content-neutral-default); var(--content-neutral-secondary); var(--content-neutral-default); var(--content-neutral-default); var(--content-neutral-default)
        );
    }

    .btn-warning {
        .button-variant(
            var(--content-inverted-default); var(--surface-warning-primary); var(--surface-warning-primary); var(--inverted-hover); var(--surface-warning-primary); var(--surface-warning-primary); var(--surface-warning-primary)
        );
    }

    .btn-danger {
        .button-variant(
            var(--content-inverted-default); var(--surface-error-primary); var(--surface-error-primary); var(--inverted-hover); var(--surface-error-primary); var(--surface-error-primary); var(--surface-error-primary)
        );
    }

    .btn-light {
        .button-variant(
            var(--content-neutral-default); var(--elevation-neutral-default); var(--border-neutral-default); var(--elevation-neutral-default); var(--border-neutral-default); var(--elevation-neutral-default); var(--border-neutral-default)
        );

        &:hover {
            background: var(--elevation-neutral-default) !important;
        }
    }

    .btn-clue {
        .button-variant(
            var(--content-inverted-default); var(--content-accent-default); var(--content-accent-default); var(--content-accent-default); var(--content-accent-default); var(--content-accent-default); var(--content-accent-default)
        );
    }

    // btn outline
    .btn-outline-primary {
        .button-outline-variant(var(--border-accent-default));
    }

    .btn-outline-secondary {
        .button-outline-variant(var(--elevation-neutral-mid));
    }

    .btn-outline-success {
        .button-outline-variant(var(--border-success-primary));
    }

    .btn-outline-info {
        .button-outline-variant(var(--content-neutral-default));
    }

    .btn-outline-warning {
        .button-outline-variant(var(--border-warning-primary));
    }

    .btn-outline-danger {
        .button-outline-variant(var(--border-error-primary));
    }

    // text
    .text-primary {
        color: var(--content-accent-default) !important;
    }

    .text-secondary {
        color: var(--content-neutral-secondary) !important;
    }

    .text-success {
        color: var(--content-success-primary) !important;
    }

    .text-danger {
        color: var(--content-error-primary) !important;
    }

    .text-warning {
        color: var(--content-warning-primary) !important;
    }

    .text-info {
        color: var(--content-neutral-default) !important;
    }

    .text-muted {
        color: var(--content-neutral-secondary) !important;
    }

    .text-grey-5 {
        color: var(--content-neutral-secondary) !important;
    }

    .text-purple {
        color: var(--content-accent-default);
    }

    .text-faded {
        a {
            color: var(--content-accent-default);
        }

        kbd {
            background-color: var(--content-neutral-secondary) !important;
        }
    }

    // modal
    .close {
        color: var(--content-neutral-default);
    }

    // breadcrumbs
    .breadcrumb-item + .breadcrumb-item::before {
        color: var(--content-neutral-secondary);
    }
}
