@import '~css/typography';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .metricsContainer {
        position: absolute;
        z-index: 4;
        right: var(--layout-spacing-s);
        top: 64px;

        height: 156px;
        padding: var(--layout-spacing-s);
        border-radius: var(--layout-spacing-xxs);
        background: var(--neutral-grey-0); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy

        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .firstMetrics {
        padding: var(--layout-spacing-xs) var(--layout-spacing-s);
        background: var(--neutral-grey-1); // legacy

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .secondMetrics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .nodeMetric {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .metricLabel {
        .caption-semibold();
        padding: 0 4px;
    }

    .metricLabelAutomated {
        color: var(--accessory-green-3); // legacy
    }

    .metricLabelDropoff {
        color: var(--feedback-error-4); // legacy
    }

    .metricLabelTicket {
        color: var(--neutral-grey-5); // legacy
    }

    .metricValue {
        .heading-subsection-semibold();
        padding: 4px 8px;
        width: 100%;
        text-align: center;
    }

    .metricTrend {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.axiom :local {
    .metricsContainer {
        background: var(--elevation-neutral-default);
        border: 1px solid var(--border-neutral-default);
    }

    .firstMetrics {
        background: var(--elevation-neutral-default);
    }

    .metricLabelAutomated {
        color: var(--content-success-primary);
    }

    .metricLabelDropoff {
        color: var(--content-error-primary);
    }

    .metricLabelTicket {
        color: var(--content-neutral-secondary);
    }
}
