@import (reference) '~css/typography';

:local {
    .container {
        .caption-regular();
        margin-top: var(--spacing-md);
        color: var(--content-neutral-secondary);
        user-select: all;
    }
}
