:local {
    .centeringContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--layout-spacing-l);
        height: 70vh;
        text-align: center;
    }

    .noResults {
        color: var(--neutral-grey-5); // legacy
    }

    .logo {
        height: 111px;
        width: 111px;
        background-color: var(--neutral-grey-3); // legacy
        -webkit-mask-image: url('@gorgias/branding-assets/logos/square/Black.svg');
        mask-image: url('@gorgias/branding-assets/logos/square/Black.svg');
        mask-repeat: no-repeat;
        mask-size: cover;
    }
}

.axiom :local {
    .noResults {
        color: var(--content-neutral-tertiary);
    }

    .logo {
        background-color: var(--content-neutral-tertiary);
    }
}
