@import (reference) '~css/typography';

:local {
    @base-shadow: 1px 1px 8px 0px rgba(22, 22, 22, 0.05);
    @hover-shadow: 0px 2px 4px 0px rgba(22, 22, 22, 0.16);
    @highlight-shadow: 0px 0px 0px 2px rgba(74, 141, 249, 0.2);

    .card {
        display: flex;
        justify-content: stretch;
        align-items: flex-start;
        gap: var(--layout-spacing-s);
        flex-wrap: nowrap;
        padding: calc(var(--layout-spacing-xs) * 1.5);
        border-radius: 4px;
        border: 1px solid var(--neutral-grey-3); // legacy
        background-color: var(--neutral-grey-0); // legacy
        box-shadow: @base-shadow;
        cursor: pointer;

        &:hover:not(.highlight) {
            box-shadow: @hover-shadow;
            & .subject {
                color: var(--main-primary-3); // legacy
            }
        }

        &.highlight {
            box-shadow: @highlight-shadow;
            cursor: default;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex: 1 1 auto;
        color: var(--neutral-grey-5); // legacy
        overflow: hidden;
    }

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--layout-spacing-xs);
        margin-top: var(--layout-spacing-xxs);
        margin-bottom: var(--layout-spacing-xs);
        .body-semibold();
    }

    .title {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: var(--layout-spacing-xs);
        overflow: hidden;
    }

    .date {
        .caption-regular();
    }

    .subject {
        color: var(--neutral-grey-6); // legacy
        .body-semibold();
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .excerpt {
        margin-bottom: var(--layout-spacing-xs);
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ticketFields {
        margin-bottom: var(--layout-spacing-xs);
    }

    .meta {
        padding-top: 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .caption-regular();
        color: var(--neutral-grey-5); // legacy
    }

    .separator {
        margin: 0 var(--layout-spacing-xxs);
        color: var(--neutral-grey-3); // legacy
    }

    .metaText {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.axiom :local {
    .card {
        border-color: var(--border-neutral-default);
        background-color: var(--elevation-neutral-mid);
        border-radius: var(--spacing-sm);
        box-shadow: var(--effects-shadow-container);
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: var(--spacing-sm);
        }

        &:hover {
            box-shadow: var(--effects-shadow-container);

            & .subject {
                color: var(--content-accent-default);
            }

            &::after {
                background-color: var(--hover-default);
            }
        }

        &.highlight {
            border: 2px solid var(--border-accent-default);
            box-shadow: var(--effects-shadow-container);
        }
    }

    .content {
        color: var(--content-neutral-secondary);
    }

    .subject {
        color: var(--content-neutral-default);
    }

    .meta {
        color: var(--content-neutral-secondary);
    }

    .separator {
        color: var(--border-neutral-default);
    }
}
