@import (reference) '~css/typography';

:local {
    .ticketFields {
        display: flex;
        height: 21px;
        overflow: hidden;
        color: var(--neutral-grey-5);
        &.autoHeight {
            height: auto;
        }
    }

    .fieldList {
        display: flex;
        column-gap: var(--layout-spacing-s);
        row-gap: var(--layout-spacing-xxs);
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
        // This gives width priority to the ".more" element
        min-width: 0;
    }

    .fieldValue {
        color: var(--neutral-grey-6);
        &.bold {
            margin-left: var(--layout-spacing-xs);
            .body-semibold();
        }
    }

    .more {
        flex-shrink: 0;
    }

    .tooltipContent {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .caption-regular();
        color: var(--neutral-grey-3);
    }

    .tooltipValue {
        color: var(--neutral-grey-0);
        .caption-semibold();
    }
}
