@import '~css/new/colors';

:local {
    .dropdown {
        margin: 0 2px;
        font-weight: 400;
        font-size: 14px;
        .dropdownToggle,
        .dropdownToggle:hover,
        .dropdownToggle:active,
        .dropdownToggle:focus {
            width: 100px;
            border: 0;
            box-shadow: none;
            font-weight: 400;
            font-size: 14px;
            background-color: transparent;

            .placeholder {
                color: @neutral4;
            }
        }
        .dropdownItem {
            font-weight: 400;
            font-size: 14px;
        }
        .dropdownItem.activeItem {
            background-color: @quartz;
            color: @indigo;
        }
    }
}
