:local {
    .container {
        display: flex;
        align-items: center;
        gap: 4px;
        max-width: 240px;
        padding: 1px var(--layout-spacing-xs);
        background-color: var(--neutral-grey-0); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 0 var(--layout-spacing-xxs) var(--layout-spacing-xxs) 0;
        cursor: pointer;

        &:hover .dropdownIcon {
            color: var(--main-primary); // legacy
        }

        &:hover:not(:has(.trailIcon:hover)) {
            background-color: var(--main-primary-0); // legacy
        }

        &.pressedState,
        &:active:not(:has(.trailIcon:hover)) {
            border-color: var(--main-primary); // legacy
        }
    }

    .text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
    }

    .trailIcon {
        font-size: 16px;
        font-weight: 500;
        color: var(--neutral-grey-5); // legacy
        pointer-events: all;

        &:hover {
            color: var(--main-primary); // legacy
        }
    }

    .dropdownIcon {
        font-size: 16px;
        font-weight: 500;
        color: var(--neutral-grey-5); // legacy
    }

    .tooltip {
        max-width: 156px;
        white-space: pre-wrap;
    }

    .disabled {
        color: var(--neutral-grey-4); // legacy
        cursor: not-allowed;
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-default);
        border: 1px solid var(--border-neutral-default);

        &:hover .dropdownIcon {
            color: var(--content-accent-default);
        }

        &:hover:not(:has(.trailIcon:hover)) {
            background-color: var(--hover-default);
        }

        &.pressedState,
        &:active:not(:has(.trailIcon:hover)) {
            border-color: var(--border-accent-default);
        }
    }

    .trailIcon {
        color: var(--content-neutral-tertiary);

        &:hover {
            color: var(--content-accent-default);
        }
    }

    .dropdownIcon {
        color: var(--content-neutral-tertiary);
    }

    .disabled {
        color: var(--content-neutral-secondary);
    }
}
