@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        padding: @layout-spacing-m;
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;
    }

    .innerContainer {
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;
    }

    .itemContainer {
        padding: @layout-spacing-xs @layout-spacing-s;
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .submitContainer {
        padding: @layout-spacing-xs @layout-spacing-s;
        background-color: var(--neutral-grey-1);

        display: flex;
        gap: @layout-spacing-xs;
    }

    .subjectInput {
        border: none;
    }

    .formDisabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .customerEmailInput {
        margin-top: @layout-spacing-xs;
    }
}
