:local {
    .wrapper {
        overflow-y: scroll;
        flex-grow: 1;
        padding: 16px;
        background-color: var(--neutral-grey-1); // legacy
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
    }

    .articleIDHint {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .inputWrapper {
        position: relative;

        //TODO(@irinel-gorgias) remove this once we get rid of the <DEPRECATED_InputField>
        input {
            height: 34px !important;
            border-left-width: 0px;
        }
    }

    .banner {
        margin-bottom: var(--spacing-md);
    }

    .titleInput {
        input {
            background-color: var(--neutral-grey-0); // legacy
        }
    }

    .copyButton {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--main-primary);
        background-color: transparent;
        border: 0;
        padding: 0 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;

        i {
            margin-left: 4px;
            font-size: 14px;
        }
    }

    .copyButton:focus:not(:focus-visible) {
        outline: none;
    }

    .excerpt textarea {
        height: auto !important;
    }

    .split {
        display: flex;
        column-gap: 16px;

        & > * {
            flex: 1 100%;
        }
    }
}

.axiom :local {
    .wrapper {
        background-color: var(--surface-neutral-primary);
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .titleInput {
        input {
            background-color: var(--elevation-neutral-default);
        }
    }
}
