@import '~css/new/colors';

:local {
    .selectedHeader {
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        margin-top: 0.75rem;
        color: @neutral8;
    }

    .listGroupItem {
        border-left: 0;
        border-right: 0;

        &:first-child {
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .userListGroupItem {
        &:last-child {
            border-bottom: 0;
        }
    }
}
