@import '~css/new/colors';

.form-group.binary-choice {
    :local {
        .binaryChoice {
            margin-top: 0;
        }

        .binaryChoiceOption {
            width: calc(~'50% - 0.5rem') !important;
            margin: 0 !important;

            &:not(:last-of-type) {
                margin-right: 1rem !important;
            }

            &:not(:global(.active)) {
                color: @classic-neutral-grey-4 !important;
            }
        }
    }
}
