@fontSize: 24px;
@size: @fontSize;

:local .picker {
    width: @size;
    height: @size;
    display: block;
    text-align: center;

    .icon {
        color: var(--neutral-grey-4);
        font-size: @fontSize;
        line-height: 1;
        transition:
            0.2s transform,
            colors;
        transform: scale(0.8);
        cursor: pointer;

        &.empty:hover {
            transform: scale(1);
            color: var(--neutral-grey-6);
        }
    }
}

:local .popover {
    display: flex;
    flex-direction: column;

    .clearButton {
        margin: 0 auto;
    }
}
