:local {
    .content {
        max-height: 60vh;
        overflow-y: auto;
    }

    .dropdown {
        min-width: 230px;
        max-width: 400px;
        padding: 0;
    }

    .dropdownDivider {
        margin: 0;
    }

    .dropdownItemInput {
        padding: 8px 8px 4px;
    }

    .dropdownToggle {
        padding: 5px 12px;
        vertical-align: top;
    }

    .header {
        color: var(--neutral-grey-5);
        font-weight: 500;
    }

    .icon {
        font-size: 130%;
        align-self: center;
    }

    .labelItem {
        cursor: pointer;
        padding: 8px 8px 8px 16px;

        &:hover {
            background-color: var(--neutral-grey-2);
        }

        & > span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .wrapperItem {
        &:last-of-type {
            .labelItem {
                padding-bottom: 14px;
            }
        }
    }

    .items {
        padding: 0px 3px 6px 3px;

        &:not(:first-child) {
            padding: 6px 3px;
            border-top: 2px solid var(--neutral-grey-2);
        }
    }

    .quickSelectionOption {
        padding: 8px 16px 12px;
    }

    .description {
        color: var(--neutral-grey-4);
    }
}
