:local {
    .settingsContainer {
        position: relative;
    }

    .triggerPaywall {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: var(--neutral-grey-0); // legacy

        opacity: 0.7;
    }

    .sectionItem {
        margin-bottom: 30px;
    }
}

.axiom :local {
    .triggerPaywall {
        background-color: var(--elevation-neutral-default);
    }
}
