@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        flex: 1;
        height: 100%;
        display: flex;
        padding: @layout-spacing-m;
        justify-content: center;
        align-items: center;
        background: var(--neutral-grey-1);
    }
}
