@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        flex: 1;
        height: 100%;
        display: flex;
        padding: var(--layout-spacing-m);
        justify-content: center;
        align-items: center;
        background: var(--neutral-grey-1);
    }

    .logo {
        height: 111px;
        width: 111px;
        background-color: var(--neutral-grey-3);
        -webkit-mask-image: url('@gorgias/branding-assets/logos/square/Black.svg');
        mask-image: url('@gorgias/branding-assets/logos/square/Black.svg');
        mask-repeat: no-repeat;
        mask-size: cover;
    }
}
