@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        width: 384px;
        position: sticky;
        top: 84px;
    }

    .header {
        .body-semibold();
        margin-bottom: @layout-spacing-xs;
    }

    .selectInput {
        margin-bottom: @layout-spacing-m;
    }

    .alert {
        padding: 12px;
    }

    .selectInputIcon,
    .dropdownItemIcon {
        font-size: 20px;
        color: @classic-neutral-grey-4;
    }

    .dropdownItemIcon {
        margin-right: 7px;
    }
}
