@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';
@import (reference) '~css/typography.less';

:local {
    .contentContainer {
        overflow: auto;
        flex: 1;
        pointer-events: initial;
        display: flex;
        flex-direction: column;
        padding: 20px @layout-spacing-xxs;
        background-color: @classic-neutral-grey-2;
    }

    .listGroup {
        box-shadow: 0 2px 4px rgba(22, 22, 22, 0.16);
        border-radius: 4px;
        padding: @layout-spacing-xs;
        background-color: @classic-neutral-grey-0;
        color: @classic-neutral-grey-6;
        display: flex;
        flex-direction: column;
        margin: 0 @layout-spacing-s @layout-spacing-s;
    }

    .listGroupItemHeading {
        .heading-subsection-semibold();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @layout-spacing-xs;

        &.isHighlighted {
            background-color: @classic-neutral-grey-2;
        }
    }

    .listGroupItem {
        .body-regular();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @layout-spacing-xs;
        border-radius: 4px;

        &.isHighlighted {
            background-color: @classic-neutral-grey-2;
        }
    }

    .chevronRightIcon {
        font-size: 20px;
        color: @classic-neutral-grey-4;
    }

    .footer {
        .heading-subsection-semibold();
        color: @classic-neutral-grey-6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px @layout-spacing-s;
        box-shadow: 1px 1px 8px rgba(22, 22, 22, 0.24);
        border-radius: 4px 4px 0 0;
    }

    .sendMessageIcon {
        margin-right: @layout-spacing-xxs;
    }
}
