@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';
@import '~css/new/mixins.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        max-width: 384px;
        margin-top: @layout-spacing-xl;

        @media @desktops {
            position: absolute;
            top: 84px;
            right: 24px;
            margin: 0 34px;
        }
    }

    .header {
        .body-semibold();
        margin-bottom: @layout-spacing-xs;
    }

    .selectInput {
        margin-bottom: @layout-spacing-m;
    }

    .alert {
        padding: 12px;
    }

    .selectInputIcon,
    .dropdownItemIcon {
        font-size: 20px;
        color: @classic-neutral-grey-4;
    }

    .dropdownItemIcon {
        margin-right: 7px;
    }
}
