:local {
    .search {
        width: 100%;
        max-width: 100%;
    }

    .table-wrapper {
        height: 461px; // the height of the whole Table component when there's 5 items
        overflow-x: auto;
        overflow-y: hidden;
    }
}
