:local {
    .wrapper {
        max-width: 680px;
        margin-bottom: 64px;
    }
    .heading {
        display: flex;
        justify-content: space-between;

        margin-bottom: 24px;

        p {
            margin-bottom: 0;
        }
    }
}
