@import (reference) '~css/new/colorTokens';

:local {
    .wrapper {
        position: relative;

        color: @classic-neutral-grey-6;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        user-select: none;
    }

    .trigger {
        padding: 6px 8px;
        border: 0;

        background: transparent;
    }

    .label {
        color: @classic-neutral-grey-6;
    }

    .dropdown {
        position: absolute;
        right: 0;

        display: flex;
        flex-direction: column;

        min-width: 260px;
        padding: 8px;
        border: 1px solid @classic-neutral-grey-3;
        border-radius: 4px;

        background: @classic-neutral-grey-0;
        box-shadow: 0px 2px 4px fade(black, 16%);
        z-index: 100;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            height: 36px;
            padding: 8px;
            border-radius: 4px;

            white-space: nowrap;

            cursor: pointer;
            transition: background 250ms ease-out;

            &:hover {
                background: @classic-neutral-grey-2;

                .status:not(.completed) {
                    background: @classic-feedback-success;
                }
            }
        }
    }

    .actions {
        display: flex;
        align-items: flex-end;
        margin-left: 40px;
    }
}
