@import '~css/new/colors';

:local {
    .select {
        & div {
            color: @neutral10;
            border-color: @neutral4;
        }

        &.noCategory {
            & div {
                color: @neutral6;
            }
        }
    }
}
