@import '~css/new/colorTokens';

:local {
    .select {
        & div {
            color: @classic-neutral-grey-6;
            border-color: @classic-neutral-grey-3;
        }

        &.noCategory {
            & div {
                color: @classic-neutral-grey-4;
            }
        }
    }

    .categoryDropdown {
        padding: 4px 0 0 0;
        max-height: 240px;

        button {
            padding: 5px 12px;
        }

        &.filteredCategories button:first-child {
            display: none;
        }
    }
}
