@import (reference) '~css/typography.less';

:local {
    .container {
        border-radius: var(--layout-spacing-xxs);
        display: flex;
        padding: var(--layout-spacing-s);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--layout-spacing-xs);
        align-self: stretch;
        font-size: 14px;

        .details {
            display: flex;
            flex-direction: column;
            gap: var(--layout-spacing-xxs);
        }

        .detail {
            font-weight: 600;
        }

        &:not(.transparent) {
            background: var(--neutral-grey-1); // legacy
            border: 1px solid var(--neutral-grey-2); // legacy
        }
    }
}

.axiom :local {
    .container {
        &:not(.transparent) {
            background: var(--surface-neutral-secondary);
            border: 1px solid var(--border-neutral-default);
        }
    }
}
