:local {
    .dropdownItem {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        padding: var(--layout-spacing-xs);
    }

    .teamDetails {
        display: flex;
        flex-direction: column;
    }

    .membersCount {
        color: var(--neutral-grey-4); // legacy
        font-size: 12px;
    }

    .error {
        color: var(--feedback-error-2); // legacy
        margin-bottom: var(--layout-spacing-xs);
    }

    i.icon {
        font-size: 20px;
    }
}

.axiom :local {
    .membersCount {
        color: var(--content-neutral-secondary);
    }

    .error {
        color: var(--content-error-primary);
    }
}
