@import (reference) '~css/typography';

:local {
    .container {
        .caption-regular();
    }

    .linkButton {
        color: var(--main-primary); // legacy
        cursor: pointer;
    }
}

.axiom :local {
    .linkButton {
        color: var(--content-accent-default);
    }
}
