:local {
    .label {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    i.infoIcon {
        font-size: 16px;
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    i.infoIcon {
        color: var(--content-neutral-secondary);
    }
}
