:local {
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftButtons {
            display: flex;
            gap: var(--layout-spacing-xs);
        }
    }
}
