:local {
    .provider {
        padding: 24px;

        &:not(:last-child) {
            border-bottom: 1px solid var(--neutral-grey-3);
        }
        &:last-child {
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: var(--neutral-grey-1);
        }

        &:active {
            background-color: var(--neutral-grey-2);
        }
    }
}
