:local {
    .discountCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--layout-spacing-xs);
        padding: var(--layout-spacing-s);
        background: var(--neutral-grey-0);

        border-radius: var(--layout-spacing-s);
        border: 1px solid var(--neutral-grey-2);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .title {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        font-size: 16px;
        font-weight: 600;
    }

    .redirectIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;

        border-radius: var(--layout-spacing-s);
        border: 1px solid var(--neutral-grey-2);
        height: 32px;
        width: 32px;
        padding: var(--layout-spacing-xxs);
        cursor: pointer;
        background-color: var(--neutral-grey-0);

        &:hover {
            background-color: var(--neutral-grey-1);
        }
    }
}
