@import '~css/typography';

:local {
    .badge {
        .caption-allcaps();

        &:not(.upperCase) {
            text-transform: none;
        }

        align-items: center;
        border-radius: 100px;
        display: inline-flex;
        padding: 2px 8px;
        text-align: center;

        + .badge {
            margin-left: 8px;
        }

        --background-classic: var(--main-primary);
        --background-error: var(--feedback-error);
        --background-modern: var(--main-primary-4);
        --background-success: var(--feedback-success);
        --background-warning: var(--feedback-warning);
        --background-grey: var(--neutral-grey-4);
        --background-dark-grey: var(--neutral-grey-5);
        --background-indigo: var(--indigo);
        --background-purple: var(--purple);
        --background-dark: var(--neutral-grey-6);
        --background-blue: var(--accessory-blue-1);
        --background-teal: var(--accessory-teal-1);
        --background-light: var(--neutral-grey-1);
        --background-light-grey: var(--neutral-grey-1);
        --background-light-dark: var(--neutral-grey-3);
        --background-light-success: var(--accessory-green-1);
        --background-light-warning: var(--accessory-orange-1);
        --background-light-error: var(--accessory-red-1);
        --background-light-purple: var(--accessory-violet-1);
        --text-indigo: var(--accessory-blue-2);
        --text-light: var(--neutral-grey-6);
        --text-blue: var(--main-primary-4);
        --text-teal: var(--accessory-teal-3);
        --text-light-grey: var(--neutral-grey-5);
        --text-light-dark: var(--neutral-grey-6);
        --text-light-success: var(--accessory-green-3);
        --text-light-warning: var(--accessory-orange-3);
        --text-light-error: var(--feedback-error-4);
        --text-light-purple: var(--accessory-blue-3);

        background-color: var(--background-grey);
    }
}
