@import '~css/new/colors';

:local {
  .container {
    position: relative;

    .emojiPicker {
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    .input {
      padding-left: 37px;
    }
  }
}
