:local {
    .toggle {
        width: 60px;
        padding: 0;
        border: 0;
        background: url(../assets/dock_to_right.svg) no-repeat center;
        text-indent: -999em;

        &:focus {
            outline: 0;
        }
    }

    .active {
        background-image: url(../assets/dock_to_right_active.svg);
    }
}
