@import '~css/new/colorTokens';
:local {
    .container {
        display: flex;
        max-width: 1200px;
        width: 100%;
    }

    .editorContainer {
        max-width: 690px;
        margin-right: 24px;
        flex-basis: 60%;

        p {
            letter-spacing: -0.01em;
        }
    }

    .demoContainer {
        flex-basis: 40%;
    }

    .toggleLabel {
        color: @classic-neutral-grey-6;
        font-weight: 600;
        font-size: 14px;
    }

    .toggleButtonContainer {
        display: flex;
        margin-bottom: 24px;
    }
}
