:local {
    .focusable {
        &:focus {
            outline: auto 5px -webkit-focus-ring-color;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
    }

    .buttonGroup {
        align-items: center;
        display: flex;
        gap: 8px;
    }
}
