:local {
    .wrapper {
        display: flex;
        gap: 8px;
        margin: 16px;
    }

    .button {
        display: flex;
        gap: 4px;

        i {
            font-size: 20px;
            font-weight: 400;
        }
    }
}
