@import '~css/new/colorTokens';

:local {
    .modal {
        max-width: 600px;
    }

    .tooltip {
        z-index: 2050 !important;

        ul {
            margin-bottom: 0;
            padding-left: 1.25rem;
            margin-right: 0.5rem;
        }
    }

    .footer {
        background-color: @classic-neutral-grey-2;
    }
}
