:local {
    .row {
        border-bottom: 1px solid var(--neutral-grey-3);

        &:hover {
            background: var(--neutral-grey-1);
        }

        &.canReorder {
            td:first-of-type {
                padding-left: 0 !important;
            }
        }
    }

    .label {
        font-weight: 600;
    }

    .description {
        display: inline-block;
        max-width: 33vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .actionButton {
        display: inline-block;
    }
}
