@import '~css/new/colorTokens';

// this is outside of `:local` because the ReactSortable doesn't work with local class names
.draggable {
    .drag-handle {
        width: 22px;
        text-align: center;
    }

    &.chosen,
    &.ghost {
        .drag-handle {
            cursor: grabbing;
        }
    }

    &:not(.chosen) {
        .drag-handle {
            cursor: grab;
        }
    }
}

:local {
    .row {
        border-bottom: 1px solid @classic-neutral-grey-3;

        &:hover {
            background: @classic-neutral-grey-1;
        }

        cursor: pointer;
    }

    .label {
        font-weight: 600;
    }

    .actionButton {
        display: inline-block;
    }
}
