:local {
    .description {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .descriptionText {
        width: 60%;
    }

    .navigation {
        padding: 0 0 20px 30px;
    }
}
