@import '~@gorgias/design-tokens/dist/css/typographyMixins.less';

:local {
    .dropdownItem {
        display: flex;
        gap: var(--layout-spacing-xs);
        .body-regular();

        i {
            font-size: 20px;
        }

        &.destructive {
            color: var(--feedback-error);
        }
    }

    .wrapperActions {
        gap: var(--layout-spacing-s);
    }
}
