@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        display: flex;
    }

    .formContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-s);
        gap: var(--layout-spacing-s);
    }

    .resultsContainer {
        display: flex;
        flex: 1;
        margin: var(--layout-spacing-s);
    }

    .resultTitle {
        white-space: nowrap;
    }

    .resultsWrapper {
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-s);
        border-radius: 4px;
        background-color: var(--main-latte);
    }

    .formRow {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .inputsContainer {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .selectField {
        width: 220px;
    }

    .selectFieldDropdown {
        width: 220px;
    }

    .labelContainer {
        display: flex;
        gap: var(--layout-spacing-xxs);
        align-items: center;

        i {
            font-size: 16px;
            color: var(--neutral-grey-4);
        }
    }

    .inputField {
        flex: 1;
    }

    .salaryValue input {
        padding-left: 4px;
    }

    .title {
        font-size: 14px;
        font-weight: 600;
        color: var(--neutral-grey-6);
        padding-bottom: var(--layout-spacing-xs);
    }

    .resultRowBackground {
        background-color: var(--accessory-magenta-1);
        border-radius: 4px;
        height: 48px;
        display: flex;
        margin-bottom: var(--layout-spacing-xs);
        align-items: center;
    }

    .automateCost {
        overflow: hidden;
    }

    .withoutAutomate {
        background-color: #f5d4ff;
        display: flex;
        padding: var(--layout-spacing-xs);
        border-radius: 4px;
        gap: 20px;
        width: 313px;
        padding: var(--layout-spacing-xs) 10px;
        border-radius: 4px;
        color: #000000;
        align-items: center;
        height: 100%;
    }

    .withoutAutomateCost {
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }

    .withAutomate {
        background-color: #cb55ef;
        display: flex;
        padding: var(--layout-spacing-xs);
        border-radius: 4px;
        gap: 20px;
        width: 240px;
        padding: var(--layout-spacing-xs) 10px;
        border-radius: 4px;
        color: var(--neutral-grey-0);
        align-items: center;
        height: 100%;
    }

    .withAutomateCost {
        font-size: 16px;
        font-weight: 400;
        color: var(--neutral-grey-0);
    }

    .savePercentage {
        display: inline-block;
        padding: 0px 10px;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
    }

    .reduceTimeContainer {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: center;
        flex: 1;
        padding-top: var(--layout-spacing-xs);
    }

    .reduceResolutionTime {
        display: flex;
        height: 100%;
        flex: 1;
        background-color: var(--accessory-magenta-2);
        border-radius: var(--layout-spacing-xxs);
        padding: var(--layout-spacing-m) 18px;
        gap: var(--layout-spacing-xs);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reduceFirstResponseTime {
        display: flex;
        height: 100%;
        flex: 1;
        background-color: var(--accessory-magenta-1);
        border-radius: var(--layout-spacing-xxs);
        padding: var(--layout-spacing-m) 18px;
        gap: var(--layout-spacing-xs);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reducePercentage {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }

    .reduceTime {
        font-size: 24px;
        font-weight: 600;
        color: var(--neutral-grey-6);
        text-align: center;
    }

    .timeSaved {
        display: flex;
        background-color: #efbaff;
        padding: var(--layout-spacing-s);
        flex-direction: column;
        justify-content: center;
        gap: var(--layout-spacing-xs);
        flex: 0;
        border-radius: 4px;
        align-items: center;
        margin-top: var(--layout-spacing-xs);
    }

    .timeSavedPercentage {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }

    .timeSavedTime {
        font-size: 24px;
        font-weight: 600;
        color: var(--neutral-grey-6);
        text-align: center;
    }
}
