@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .calendarWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--layout-spacing-xxs);
    }

    .inputWrapper {
        display: flex;
        flex-direction: column;

        span {
            .caption-regular;
            color: var(--neutral-grey-5);
        }
    }

    .removeDateBtn {
        cursor: pointer;
    }

    .endDateWarning {
        margin-top: var(--layout-spacing-xxs);
    }

    .calendarIcon {
        color: var(--neutral-grey-6);
    }
}
