@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        // Remove grid from the AutomateView component
        display: block !important;
        padding: 0;
    }

    .actionsListContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .actionsListHeader {
        margin: @layout-spacing-m;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xxs;

        span:first-child {
            .body-regular();
        }
    }
    .actionButtons {
        display: flex;
        gap: @layout-spacing-xs;
    }

    .templateCards {
        display: flex;
        flex-direction: column;
        padding: @layout-spacing-m;
        gap: @layout-spacing-s;

        & > p {
            .heading-section-semibold;
            margin: 0;
        }
    }

    .actionsFormContainer {
        padding: @layout-spacing-m;
        grid-template-columns: minmax(480px, 680px) 1fr;
    }
}
