@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        padding: @layout-spacing-m;
        gap: @layout-spacing-s;

        .templateHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: @layout-spacing-xxs;

            & > p {
                .heading-section-semibold;
                margin: 0;
            }
        }

        .requestBannerContainer {
            display: flex;
            padding: @layout-spacing-m;
            flex-direction: column;
            gap: @layout-spacing-s;
            align-items: center;
            background-color: var(--main-latte);

            & > h3 {
                .heading-section-semibold;
                margin: 0;
            }

            & > p {
                .body-regular;
                margin: 0;
            }
        }
    }
}
