@import '~css/new/mixins';

:local .previewPopover {
    padding: 16px;
    box-shadow: 0px 4px 16px hsla(var(--TEMP_neutral5), 0.24);
    pointer-events: none;
    border-style: none;
    margin-left: 16px;
    border: 1px solid var(--neutral-grey-3);

    @media @large-desktops {
        & {
            max-width: 800px;
        }
    }

    .popoverBody {
        padding: 0px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
}
