@import '~css/new/colorTokens';

:local {
    .tooltipWrapper {
        text-align: left;
    }

    .customizeReportIssues {
        display: flex;
        align-items: center;
        line-height: 20px;

        a {
            margin-left: 16px;
            color: @classic-main-primary;

            &:hover {
                color: @classic-main-primary-4;
            }

            span {
                margin-left: 6px;
                font-size: 1.2em;
            }
        }
    }
}
