@import '~css/typography';

:local {
    .wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .logo {
        width: 32px;
        height: auto;
        object-fit: contain;
    }

    .title {
        .heading-subsection-semibold();
        color: 1px solid var(--neutral-grey-6);
    }

    .url {
        .body-regular();
    }
}
