@import (reference) '~css/typography.less';

:local {
    .container {
        .caption-regular();
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
    }
    .tooltipColorBox {
        width: 16px;
        height: 16px;
    }
    .tooltipText {
        display: flex;
        gap: var(--layout-spacing-xxs);
    }
}
