:local {
    .sortingSelect {
        flex-shrink: 0;
        height: fit-content;
        width: fit-content !important;
    }

    .dropdown {
        min-width: 130px;
    }

    .sortingLabel {
        flex-grow: 1;
    }
}
