@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .dropdown {
        min-width: 130px;
    }

    .sortingLabel {
        flex-grow: 1;
    }

    .icon.icon.icon {
        padding: 6px;

        &.isOpen {
            background-color: var(--neutral-grey-3);
            color: var(--neutral-grey-6);
        }
    }
}
