@import (reference) '~css/typography';
@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--neutral-grey-0);
    }

    .subHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: @layout-spacing-xs @layout-spacing-s;
    }

    .selection {
        .body-semibold();

        display: flex;
        align-items: center;
    }

    .allSelected {
        padding: 12px @layout-spacing-s;
        border-bottom: 1px solid var(--main-primary-1);
        background: var(--main-primary-0);
        text-align: center;
    }

    .list {
        flex-grow: 1;
    }

    .scroller {
        scrollbar-color: var(--neutral-grey-3) var(--neutral-grey-0);
        scrollbar-width: thin;

        &::-webkit-scrollbar-thumb {
            visibility: initial;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--neutral-grey-0);
        }
    }

    .titleWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 8px 12px 24px;
    }

    .titleWrapperNew {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 12px 12px @layout-spacing-s;
        border-bottom: 1px solid var(--neutral-grey-2);
    }

    .headerChild {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .buttons {
        flex-shrink: 0;
        margin-left: @layout-spacing-xxs;
    }

    .title {
        .heading-subsection-semibold();
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .icon.icon.icon {
        padding: 6px;
    }
}
