@import '~css/typography';
@import (reference) '~css/new/layout.less';

:local {
    .container {
        .body-medium();

        display: inline-flex;
        align-items: center;

        height: 32px;

        padding: 0 @layout-spacing-xs;
        border: 1px solid var(--neutral-grey-2);
        border-radius: 4px;
        outline: none;

        background-color: var(--neutral-grey-2);
        color: var(--neutral-grey-5);

        cursor: pointer;
        user-select: none;

        transition: all 500ms ease;

        &:hover {
            border-color: var(--neutral-grey-3);
        }

        &:focus {
            border-color: var(--neutral-grey-4);
            outline: none !important;
        }

        &.active {
            border-color: var(--main-primary-3);
            background-color: var(--main-primary-0);
            color: var(--main-primary-3);
        }

        &.disabled {
            color: var(--neutral-grey-3);
            cursor: not-allowed;

            &:focus {
                border-color: var(--neutral-grey-2);
            }

            &:hover {
                border-color: var(--neutral-grey-2);
            }
        }
    }

    .icon {
        margin-right: 4px;
    }
}
