@import '~@gorgias/design-tokens/dist/css/layout.less';
@import '~css/new/mixins';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xl);
    }

    .iconButton {
        i {
            font-size: 18px;
            margin-right: 4px;
        }
    }

    .sectionContainer {
        & > section:not(:last-child) {
            margin-bottom: var(--layout-spacing-l);
        }
    }

    .sectionTitle {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .px0 {
        padding-left: 0;
        padding-right: 0;
    }

    .mbXxs {
        margin-bottom: var(--layout-spacing-xxs);
    }

    .mbXs {
        margin-bottom: var(--layout-spacing-xs);
    }

    .mbS {
        margin-bottom: var(--layout-spacing-s);
    }

    .mbL {
        margin-bottom: var(--layout-spacing-l);
    }

    .mbM {
        margin-bottom: var(--layout-spacing-m);
    }

    .mtXl {
        margin-top: var(--layout-spacing-xl);
    }

    .mlXs {
        margin-left: var(--layout-spacing-xs);
    }
}
