:local {
    .submit {
        pointer-events: auto !important;
    }

    .send {
        margin-right: auto;
    }

    .sendAndClose {
        margin-right: 61%;
    }

    .modalFooter {
        background-color: var(--neutral-grey-2); // legacy
    }

    .privateReplyTextarea {
        overflow: auto;
        border: none;
    }

    .privateReplyTextarea:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.axiom :local {
    .modalFooter {
        background-color: var(--elevation-neutral-mid);
    }
}
