:local {
    .container {
        width: 100%;
        display: flex;
        padding: var(--spacing-xxl) var(--spacing-xxl) var(--spacing-md)
            var(--spacing-xxl);

        flex-direction: column;
        gap: var(--layout-spacing-m);
    }
}
