@import (reference) '~css/typography.less';

:local {
    .disabled {
        cursor: not-allowed;
        color: var(--neutral-grey-4); // legacy
    }

    .shopMoreIcon {
        transform: rotate(90deg);
        font-size: @heading-section-regular-font-size;

        // Issue of using icon in Button made it take a lot of space
        width: 20px;
    }

    .showMoreContainer {
        margin-top: var(--layout-spacing-s);
    }

    .loadingContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .noFlowsText {
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .disabled {
        color: var(--content-neutral-secondary);
    }

    .noFlowsText {
        color: var(--content-neutral-secondary);
    }
}
