:local {
    .pageHeader {
        padding: var(--spacing-lg);

        .breadcrumbLink {
            color: var(--content-neutral-secondary) !important;
        }

        .title {
            display: flex;
            align-items: center;
            gap: var(--spacing-sm);
            padding-top: var(--spacing-xs);
        }
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
