@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .productField {
        margin-bottom: @layout-spacing-xs;
    }

    .description {
        margin-top: @layout-spacing-xxs;
    }

    .collapsibleWebPagesTitle {
        color: var(--main-primary);
        font-weight: 500;
    }

    .webPagesList {
        display: flex;
        flex-direction: column;
    }

    .webPageItem {
        margin-top: @layout-spacing-xs;
        border-bottom: 1px solid var(--neutral-grey-4);

        &:last-child {
            border-bottom: none;
        }
    }
}
