@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        padding: @layout-spacing-s @layout-spacing-m;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--layout-spacing-xs);
    }

    .searchInput {
        width: 100%;
        max-width: 162px;
    }
}
