@import '~@gorgias/design-tokens/dist/css/layout';

@import (reference) '~css/typography.less';

:local {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: @layout-spacing-s;
    }

    .headerTitle {
        .heading-section-semibold();
    }

    .headerAction {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        cursor: pointer;

        &:hover {
            background-color: var(--neutral-grey-2);
            border-radius: var(--layout-spacing-xxs);
        }
    }

    .contentContainer {
        padding: @layout-spacing-s;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-l;
    }

    .icon {
        margin-right: var(--layout-spacing-xs);
    }

    .badgeIcon {
        font-size: 12px !important;
        color: var(--neutral-grey-6);
        font-weight: 500;
    }

    .headerActions {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }
}
