@import (reference) '~css/typography.less';

:local {
    .body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 12px var(--layout-spacing-s);
    }
}
