@import '~css/new/colorTokens';

:local {
    .container {
        display: flex;
        margin-left: 30px;
        width: 384px;
        align-items: center;
        flex-direction: column;
    }

    .backButton {
        margin-bottom: 32px;
    }

    .buttonLabel {
        margin-bottom: 32px;
    }

    .responseText {
        margin-bottom: 40px;
    }

    .joinedButtons {
        display: flex;
        gap: 8px;
    }

    .spreadButtons {
        display: flex;
        justify-content: space-between;
    }

    .tooltipIcon {
        margin-left: 5px;
    }
}
