@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        padding: @layout-spacing-m;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }
}
