:local {
    .bold {
        font-weight: 600;
    }

    .error {
        color: var(--feedback-error); // legacy
    }

    .neutral {
        color: var(--neutral-grey-4); // legacy
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .title {
        margin-bottom: var(--layout-spacing-m);
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .subtitle {
        margin-bottom: var(--layout-spacing-xxs);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .formSection {
        margin-bottom: var(--layout-spacing-xl);
    }

    .formGroup {
        margin-bottom: 16px;
    }

    .fieldset {
        flex: 1;
        margin-bottom: 26px;
    }

    .radioButtonGroup {
        display: flex;
        margin-bottom: 20px;
        padding-right: 2em;
    }

    .radioFieldSet {
        & > legend {
            margin-bottom: var(--layout-spacing-m);
        }

        & > div {
            margin-bottom: var(--layout-spacing-s);
        }
    }

    .tooltipIcon {
        margin-left: 0.3em;
        color: var(--neutral-grey-4); // legacy
        font-size: 15px;

        &:hover {
            color: var(--neutral-grey-5); // legacy
        }
    }
}

.axiom :local {
    .error {
        color: var(--content-error-primary);
    }

    .neutral {
        color: var(--content-neutral-tertiary);
    }

    .tooltipIcon {
        color: var(--content-neutral-tertiary);

        &:hover {
            color: var(--content-neutral-secondary);
        }
    }
}
