:local {
    .automationSubscriptionButton {
        float: left;
    }

    .connectStoreWarning {
        color: var(--feedback-warning); // legacy
    }
}

.axiom :local {
    .connectStoreWarning {
        color: var(--content-warning-primary);
    }
}
