:local {
    .container {
        display: flex;
        padding: var(--spacing-md) var(--spacing-xxl);
        flex-direction: column;
        gap: var(--spacing-lg);
        width: 100%;
        flex: 1;

        @media (min-width: 841px) {
            max-width: 696px; // including 2*48px padding on sides
        }

        @media (max-width: 840px) {
            max-width: 548px; // including 2x24px padding on sides
            padding-left: var(--spacing-lg);
            padding-right: var(--spacing-lg);
        }
    }

    .editorContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);

        :global {
            .rich-textarea-wrapper {
                background-color: var(--elevation-neutral-mid) !important;
                color: var(--content-neutral-default) !important;
            }
        }
    }
}
