@import '~@gorgias/design-tokens/dist/css/typographyMixins.less';

:local {
    @grey: var(--neutral-grey-3); // legacy
    @darker-grey: var(--neutral-grey-4); // legacy

    .shopifyLogo {
        width: 50px;
        height: 50px;
    }

    .title {
        .heading-subsection-semibold();
    }

    .text {
        .body-semibold();
    }

    .subText {
        .caption-regular();
    }

    .cardContainer {
        display: flex;
        padding: var(--layout-spacing-s) var(--layout-spacing-m);
        border-radius: 4px;
        border: solid;
        border-color: @grey; // legacy
        border-width: 1px;
        gap: var(--layout-spacing-l);
        align-items: center;
        margin-top: var(--layout-spacing-xs);
    }

    .checkBoxContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .contentColumn {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .infoIcon {
        color: @darker-grey; // legacy
    }

    .tagsContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .fieldOnError {
        padding: 2px;
        border: 1px solid;
        border-color: var(--feedback-error) !important; // legacy
        border-radius: 4px;
    }
}

.axiom :local {
    @grey-axiom: var(--border-neutral-default);
    @darker-grey-axiom: var(--content-neutral-secondary);

    .cardContainer {
        border-color: @grey-axiom;
    }

    .infoIcon {
        color: @darker-grey-axiom;
    }

    .fieldOnError {
        border-color: var(--content-error-primary) !important;
    }
}
