@import '~css/new/colorTokens.less';
:local {
    .link span {
        font-size: 12px;
        font-weight: 500;
    }

    .info {
        padding-left: 30px;
        padding-bottom: 16px;
    }

    .infoContainer {
        display: flex;
        justify-content: space-between;
        align-items: start;

        p:last-child {
            margin-bottom: -10px;
        }
    }

    .description {
        padding-right: 12px;
    }

    .pageHeaderContainer {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: @classic-neutral-grey-0;
    }

    .headerContainer {
        display: flex;
        flex-direction: row;
        min-height: 39px;
    }
}
