@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .container {
        max-width: 570px;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }
}
