:local {
    .wrapper {
        display: flex;
        align-items: center;
        column-gap: 16px;
        width: min-content;
    }
    .container {
        border: 2px dashed var(--neutral-grey-3); // legacy
        border-radius: 10px;

        background-color: var(--neutral-grey-2); // legacy

        box-sizing: border-box;

        cursor: pointer;

        &.default {
            width: 228px;
            height: 172px;
        }

        &.logo {
            width: 228px;
            height: 172px;
        }

        &.favicon {
            width: 64px;
            height: 64px;
        }

        &.bannerImage {
            height: 150px;
            width: 680px;
        }

        &.categoryImage {
            width: 318px;
            height: 160px;
        }

        &.wizardLogo {
            width: 330px;
            height: 125px;
        }

        &.accepted {
            border-color: var(--feedback-success); // legacy
            background-color: var(--feedback-success-0); // legacy
        }

        &.rejected {
            border-color: var(--feedback-error); // legacy
            background-color: var(--feedback-error-0); // legacy
        }
    }

    .content {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
    }

    .uploadButton {
        display: flex;
        gap: 4px;

        i {
            font-size: 20px;
        }
    }
}

.axiom :local {
    .container {
        border: 2px dashed var(--border-neutral-default);
        background-color: var(--elevation-neutral-mid);

        &.accepted {
            border-color: var(--border-success-primary);
            background-color: var(--surface-success-primary);
        }

        &.rejected {
            border-color: var(--border-error-primary);
            background-color: var(--surface-error-primary);
        }
    }
}
