:local .input-container {
    position: relative;
    display: inline-block;

    .options {
        position: absolute;
        z-index: 10;
        width: 100%;
        overflow-y: auto;
        max-height: 200px;
        max-width: 350px;
    }
}
