:local .option {
    &:hover,
    &.option--focused {
        background-color: var(--neutral-grey-2);
    }
}
:local .optionDeprecated {
    color: var(--feedback-warning-4) !important;
    &.option--focused {
        background: var(--feedback-warning-0) !important;

        &:active {
            outline: none;
            background: var(--feedback-warning-2) !important;
        }
    }
}
