@import '~css/new/colorTokens';

:local .option {
    &:hover,
    &.option--focused {
        background: #f2f9fe !important;
    }
}
:local .optionDeprecated {
    color: @classic-feedback-warning-4 !important;
    &.option--focused {
        background: @classic-feedback-warning-0 !important;

        &:active {
            outline: none;
            background: @classic-feedback-warning-2 !important;
        }
    }
}
