:local {
  .select {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #ffffff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    padding: 0 .25rem;
  }

  .focused {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.1);
    border: 1px solid #80bdff;
    border-radius: 3px;
  }
}
