@import '~css/new/colorTokens';

:local {
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        font-size: 1rem;
        line-height: 1.25;
        color: #464a4c;
        background-color: @classic-neutral-grey-0;
        background-image: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid fade(black, 15%);
        border-radius: 0.25rem;
        padding: 0 0.25rem;
    }

    .compact {
        border: none;
    }

    .focused {
        box-shadow: 0 0 0 0.2rem fade(@classic-main-primary, 10%);
        border: 1px solid #80bdff;
        border-radius: 0.25rem;
    }

    .disabled {
        pointer-events: none;
    }
}
