@import (reference) '~css/typography.less';

:local {
    .surveyScore {
        display: flex;
        align-items: center;
        gap: 2px;
        .body-semibold();
        color: var(--analytics-yellow) !important;
    }

    .customerName {
        color: var(--main-primary);
    }

    .skeleton {
        flex: 1;
    }

    .wrapper {
        display: grid;
    }

    .noDataAvalable {
        height: 400px;
    }

    .container {
        width: 100%;
        overflow: auto;
        margin-bottom: var(--layout-spacing-m);
        display: flex;
        flex-direction: column;
    }

    .rowCell {
        padding-block: var(--layout-spacing-xs);
        cursor: default;
    }

    .table {
        box-sizing: border-box;
        margin-bottom: var(--layout-spacing-xs);

        .header,
        thead {
            th,
            td {
                position: sticky;
                top: 0;
                z-index: 3;
                background-color: var(--neutral-grey-0); // legacy
                cursor: pointer;
            }
        }

        th,
        td {
            width: auto;
        }

        tbody {
            tr:hover {
                background-color: var(--neutral-grey-1); // legacy
            }
        }
    }

    .pagination {
        margin-top: var(--layout-spacing-xs);
        margin-left: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-xs);
    }
}

:global(.react-grid-item) :local(.container) {
    height: 100%;
}

.axiom :local {
    .table {
        .header,
        thead {
            th,
            td {
                background-color: transparent;
            }
        }

        tbody {
            tr:hover {
                background-color: var(--hover-default);
            }
        }
    }
}
