:local {
    .overflowList {
        width: 100%;
        // remove default margin and padding trick from axiom,
        // as it prevents the fields from expanding
        margin: 0;
        padding: 0;
    }

    .overflowListItem {
        width: 100%;
        padding: 0 var(--spacing-md);
    }

    .fieldValue {
        padding: 0 var(--spacing-xxxxs);
        text-decoration: underline;
        display: block;
        text-transform: none;
    }

    .isEditable {
        cursor: pointer;
    }

    .overflowListToggle {
        padding-top: calc(var(--spacing-xxs) - var(--spacing-xxxxs));
        button {
            margin-left: var(--spacing-xs);
        }
    }
}
