@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        display: flex;
        padding: @layout-spacing-m;
        align-items: flex-start;
        justify-content: space-between;
        gap: @layout-spacing-s;
    }

    .warningContainer {
        padding: @layout-spacing-s;
    }

    .btnGroup {
        display: flex;
        gap: @layout-spacing-xs;
    }
}
