@import (reference) '~css/typography.less';
@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .card {
        height: 100%;
        gap: @layout-spacing-s;
    }
    .tag {
        .caption-semibold();
        padding: 4px 8px;
        border-radius: 4px;
    }
}
