@import '~css/new/colors';

:local {
    .upgradeLink {
        font-weight: bold;

        .upgradeButton {
            color: @orange2;
            border-color: rgba(239, 108, 14, 0.5);

            &.sm {
                font-size: 11px;
                padding: 0.1rem 0.3rem;
            }

            &:hover,
            &:not(:disabled):active {
                color: @white;
                background-color: @orange2 !important;
                border-color: @orange2 !important;
            }

            &:focus:not(:disabled):active {
                box-shadow: none;
            }

            .upgradeLabel {
                line-height: 1.6em;

                &.sm {
                    margin-right: 0.3rem !important;
                }
            }

            .upgradeIcon {
                &.sm {
                    font-size: 11px;
                    width: 13px;
                    height: 13px;
                }
            }

            &.invertedColors {
                background-color: @orange2;
                border-color: @orange2;
                color: @white;
    
                .upgradeIcon {
                    filter: brightness(0) invert(1);
                }
    
                &:hover {
                    background-color: @white !important;
                    border-color: rgba(239, 108, 14, 0.5) !important;
                    color: @orange2;
    
                    .upgradeIcon {
                        filter: none;
                        fill: @orange2;
                    }
                }
            }
        }

        &:hover {
            .upgradeButton {
                color: @white;

                .upgradeIcon {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}
