:local {
    .upgradeLink {
        font-weight: 600;

        .upgradeButton {
            color: var(--main-secondary);
            border-color: hsla(
                var(--main-secondary-h),
                var(--main-secondary-s),
                var(--main-secondary-l),
                0.5
            );

            &.sm {
                line-height: inherit;
                font-size: 11px;
                padding: 0.1rem 0.3rem;
            }

            &:hover,
            &:not(:disabled):active {
                color: var(--neutral-grey-0);
                background-color: var(--main-secondary) !important;
                border-color: var(--main-secondary) !important;
            }

            &:focus:not(:disabled):active {
                box-shadow: none;
            }

            .upgradeLabel {
                &.sm {
                    margin-right: 0.3rem !important;
                }
            }

            .upgradeIcon {
                height: 17px;
                &.sm {
                    font-size: 11px;
                    width: 13px;
                    height: 13px;
                }
            }

            &.invertedColors {
                background-color: var(--main-secondary);
                border-color: var(--main-secondary);
                color: var(--neutral-grey-0);

                .upgradeIcon {
                    filter: brightness(0) invert(1);
                }

                &:hover {
                    background-color: var(--neutral-grey-0) !important;
                    border-color: hsla(
                        var(--main-secondary-h),
                        var(--main-secondary-s),
                        var(--main-secondary-l),
                        0.5
                    ) !important;
                    color: var(--main-secondary);

                    .upgradeIcon {
                        filter: none;
                        fill: var(--main-secondary);
                    }
                }
            }
        }

        &:hover {
            .upgradeButton {
                color: var(--neutral-grey-0);

                .upgradeIcon {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}
