@import '~css/new/colorTokens';
@import '~css/new/colors';

:local {
    .sourceWrapper {
        margin-bottom: 12px;
        flex: 1 0 auto;
        max-width: 100%;
        padding: 1px 12px 12px 12px;
        background-color: @classic-neutral-grey-2;
        border-top: 1px solid @classic-neutral-grey-3;
        border-right: 1px solid @classic-neutral-grey-3;
        border-bottom: 1px solid @classic-neutral-grey-3;
    }

    .sourceWrapperHeader {
        padding: 12px 0 0 0;
        font-size: 1.2rem;
        font-weight: 600;

        i {
            font-size: 1.2em;
            margin-right: 8px;
        }
    }
}
