@import '~css/new/colors';
@import '~css/new/mixins';

:local {
    .link {
        display: inline-flex;
        align-items: center;
    }

    span.arrow {
        font-size: 1.2em;
        margin-left: 0.4em;
    }
}
