@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .wrapper {
        align-items: center;
        display: flex;
        gap: @layout-spacing-xxs;
    }

    .from {
        color: var(--neutral-grey-5);
        margin-left: @layout-spacing-xs;
    }
}
