@import (reference) '~css/typography.less';

:local {
    .content {
        background-color: var(--neutral-grey-0);
        box-shadow: 0px 3px 20px 0px #0000000a;
        border-radius: 12px;
    }

    .body {
        padding: var(--layout-spacing-s);
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--layout-spacing-s);
        border-top: 1px solid var(--neutral-grey-3);
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--layout-spacing-xs);
        gap: var(--layout-spacing-s);
    }

    .title {
        .heading-subsection-semibold();

        display: flex;
        align-items: center;
        margin-bottom: 0;
        color: var(--neutral-grey-6);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .description {
        .body-regular();

        margin-bottom: 0;
        color: var(--neutral-grey-6);
    }

    .stats {
        .caption-regular();

        color: var(--neutral-grey-4);
    }
}
