:local {
    .card {
        padding: var(--layout-spacing-s);
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--layout-spacing-xs);

        .chartsActionMenu {
            display: flex;
            gap: var(--layout-spacing-xxs);
        }
    }

    .title {
        align-items: center;
        display: flex;
    }

    .trendBadge {
        margin-left: auto;
    }

    .tip {
        flex-grow: 1;
        display: grid;
        margin-top: var(--layout-spacing-xs);
    }
}
