@import '~css/new/colors';

:local {
    .wrapper {
        line-height: 32px;
    }

    .date {
        font-size: 24px;
        color: @neutral8;
        margin-right: 16px;
    }

    .businessHours {
        font-size: 20px;
        color: @neutral6;
    }
}
