@import '~css/new/colors';

:local .statsDifference {
    font-size: 15px;
    font-weight: bold;

    &.positive {
        color: @green;
    }

    &.negative {
        color: @red;
    }

    &.neutral {
        color: @blue;
    }
}
