@import '~css/new/colorTokens';

:local {
    .wrapper {
        line-height: 32px;
    }

    .date {
        font-size: 24px;
        color: @classic-neutral-grey-5;
        margin-right: 16px;
    }

    .businessHours {
        font-size: 20px;
        color: @classic-neutral-grey-4;
    }
}
