@import '~css/new/colorTokens';

:local .statsDifference {
    font-size: 15px;
    font-weight: bold;

    &.positive {
        color: @classic-feedback-success;
    }

    &.negative {
        color: @classic-feedback-error;
    }

    &.neutral {
        color: @classic-main-primary;
    }
}
