:local .container {
    margin: 14px 0px;
    border: 1px solid var(--neutral-grey-3);
    border-radius: 4px;
    background-color: var(--neutral-grey-0);

    &.orderTracking {
        & {
            border-bottom: 0px;
        }
        .orderTitleContainer {
            border-bottom: 1px dashed var(--neutral-grey-3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;

            .orderTitle {
                font-weight: 600;
                font-size: 16px;
            }
            .orderPrice {
                color: var(--neutral-grey-5);
            }
        }

        .fulfillmentContainer {
            border-bottom: 1px solid var(--neutral-grey-3);
            padding: 0px 8px;

            .product {
                margin: 12px 0px;
                .productTitle {
                    font-size: 14px;
                    font-weight: 600;
                }
                .productPrice {
                    color: var(--neutral-grey-5);
                }
            }
            .trackingLink {
                padding: 8px;
                color: var(--main-primary);
                cursor: pointer;
            }
        }
    }
    &.FAQArticle {
        padding: 12px;

        .articleTitle {
            color: var(--neutral-grey-6);
            font-weight: 600;
            flex-direction: row;
            font-size: 16px;
            margin-bottom: 4px;
        }
        .articleDescription {
            color: var(--neutral-grey-5);
            line-height: 18px;
            margin-bottom: 4px;
        }
        .articleLink {
            color: var(--main-primary);
            text-decoration: underline;
            font-weight: 500;
        }
    }
    &.FAQArticlePreview {
        padding: 12px;
        background-color: var(--accessory-blue-1);

        .previewTitle {
            color: var(--neutral-grey-6);
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 4px;
        }
        .previewAnswer {
            color: var(--neutral-grey-5);
            line-height: 18px;
        }
        .previewAnswer p:last-child {
            margin-bottom: 0px;
        }
    }
}
