@import '~css/new/colorTokens';

:local {
    .buttons-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 8px;
    }
    .delete-button {
        :global .material-icons {
            color: @classic-feedback-error;
            font-size: large;
            margin-right: 7px;
            vertical-align: middle;
        }
    }
}
