:local {
    .previewContainer {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .previewButton {
        position: absolute;
        top: 310px;

        &:hover,
        &:active {
            background-color: transparent !important;
        }
    }
}
