@import '~@gorgias/design-tokens/dist/css/layout';

@medium: ~'only screen and (max-width: 1393px)';

:local {
    flex-grow: 1;

    .stickyParent {
        height: 100%;
    }

    .preview {
        position: sticky;
        top: @layout-spacing-s;
    }

    .row {
        row-gap: @layout-spacing-l;
        column-gap: @layout-spacing-s;
    }
}
