@import '~css/new/colorTokens';

:local {
    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 12px;
        border: 1px solid @classic-neutral-grey-3;
        border-radius: 4px;
        margin: -14px;

        background-color: @classic-neutral-grey-0;
    }

    .icon {
        margin-top: 2px;
        margin-right: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .title {
        color: @classic-neutral-grey-6;

        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    .summary {
        margin-top: 4px;

        color: @classic-neutral-grey-5;

        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}
