:local {
    .table {
        margin-bottom: 20px;
        width: 100%;

        &.comfortable {
            thead {
                tr {
                    height: var(--layout-spacing-xl);
                }
            }

            tbody {
                tr {
                    height: 40px;
                }

                tr {
                    .sticky,
                    td {
                        height: 40px;
                        padding-top: var(--layout-spacing-xs);
                        padding-bottom: var(--layout-spacing-xs);
                    }
                }
            }
        }
    }
}
