@import (reference) '~css/new/typographyTokens';

:local {
    .comfortable {
        font-size: @heading-page-regular-font-size;
    }

    .expandCell {
        position: absolute;
        top: 0;
        height: 100%;
        padding-right: 0;
    }
}
