:local {
    .headingBold {
        color: var(--neutral-grey-6); // legacy
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .textSection {
        color: var(--neutral-grey-6); // legacy
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
    }

    .mt24 {
        margin-top: 24px;
    }

    .stepImage {
        margin: 24px 0;
        text-align: center;
    }
}

.axiom :local {
    .headingBold {
        color: var(--content-neutral-default);
    }

    .textSection {
        color: var(--content-neutral-default);
    }
}
