@import '~css/typography';

:local {
    .fieldPresentation {
        display: flex;
        flex-direction: column;

        width: 100%;

        margin-bottom: var(--layout-spacing-xs);
    }

    .fieldName {
        color: var(--neutral-grey-6);
        font-weight: 600;
        line-height: normal;
    }

    .optionalDecorator {
        color: var(--content-neutral-secondary);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .fieldDescription {
        color: var(--neutral-grey-5);
    }
}
