@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/typography';

:local {
    .modal {
        .modalContent {
            max-height: 100%;
            border: 0;
            border-radius: 12px;
        }

        .modalDialog {
            max-width: 720px;
            height: 90vh;
        }
    }

    .modalHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        height: 96px;
        padding-inline: 40px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: var(--neutral-grey-0);
        background-image: radial-gradient(
            ellipse at bottom,
            var(--accessory-magenta-2) -25%,
            var(--neutral-grey-0) 65%
        );
        background-size: 140% 120%;
        background-position-x: center;
        border-bottom: 1px solid var(--neutral-grey-3);

        .modalTitle {
            font-weight: 600;
            font-size: 20px;
        }
    }

    .modalBody {
        padding: 24px;
        overflow-y: auto;
    }

    .storeCardsList {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer {
        display: flex;
        justify-content: end;
        padding: 16px 24px;
        background-color: var(--neutral-grey-0);
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-top: 1px solid var(--neutral-grey-3);
        gap: @layout-spacing-xs;
    }
}

body.dark {
    :local {
        .modalHeader {
            background-size: 140% 280%;
        }
    }
}
