@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .modalBody {
        padding: 0;
    }

    .modalContainer {
        display: flex;
    }

    .leftSide,
    .rightSide {
        display: flex;
        flex-direction: column;
    }

    .leftSide {
        flex: 1;
        padding: var(--layout-spacing-s);
    }

    .rightSide {
        width: 432px;
        justify-content: center;
        align-items: center;
        background-color: var(--neutral-grey-1);

        .recommendationBanner {
            margin-left: 0;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        padding: 12px var(--layout-spacing-s);
        flex: 1;
    }

    .campaignPreview {
        background-color: var(--neutral-grey-1);
    }

    .forceLeft {
        margin-right: auto;
    }

    .marginRight {
        margin-right: var(--layout-spacing-s);
    }

    .section {
        margin-top: var(--layout-spacing-m);
    }

    .sectionHeader {
        margin-bottom: var(--layout-spacing-xs);
        span {
            .body-semibold;
        }
    }

    .labelContainer {
        display: flex;
        gap: 4px;
        margin-bottom: var(--layout-spacing-s);
    }

    .estimationLabel {
        margin-left: 10px;
    }

    .templateTitle {
        .heading-section-semibold;
    }

    .templateDescription {
        .body-regular;
    }

    .disclaimer {
        color: var(--natural-grey-5);

        .caption-regular;
    }
}
