@import '~css/typography';

:local {
    .container {
        .body-semibold();

        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--neutral-grey-5); // legacy
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        cursor: inherit;
        overflow-wrap: anywhere;

        &.isFilled {
            color: var(--neutral-grey-6); // legacy
        }
    }
}

.axiom :local {
    .container {
        color: var(--content-neutral-secondary);

        &.isFilled {
            color: var(--content-neutral-default);
        }
    }
}
