@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .featureRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.4;
        }

        label {
            margin: 0;
        }
    }

    .featureRowContent,
    .featureRowActions {
        display: flex;
        align-items: center;
    }

    .featureRowContent {
        gap: @layout-spacing-xxs;
    }

    .featureRowActions {
        gap: @layout-spacing-xs;
    }
}
