@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .featureRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.4;
        }

        label {
            margin: 0;
        }
        .arrow {
            color: var(--neutral-grey-4);

            &:hover {
                color: var(--main-primary);
            }
        }
    }

    .featureRowContent,
    .featureRowActions {
        display: flex;
        align-items: center;
    }

    .featureRowContent {
        gap: var(--layout-spacing-xxs);
    }

    .featureRowActions {
        gap: var(--layout-spacing-xs);
    }
}
