@import '~css/new/colorTokens';

:local {
    .modal {
        :global .modal-header {
            padding: 12px 24px;
        }

        :global .modal-body {
            padding: 20px 24px 24px 24px;
        }
    }

    .emojiSelect {
        font-size: 20px;
        height: 20px;
        line-height: 20px;

        & :global .material-icons {
            line-height: 20px;
        }
    }

    .inputWrapper {
        display: flex;
    }

    .tipWrapper {
        margin-bottom: 4px;
    }

    .tipEmoji {
        display: inline-block;
        margin-right: 9px;
        text-align: center;
        width: 16px;
    }

    .tip {
        color: @classic-neutral-grey-4;
    }

    .inputGroup {
        margin-bottom: 8px;
        width: 100%;
    }

    .input {
        padding-left: 0;
    }
}
