@import '~css/new/colors';

:global .nav-primary .navbar-content .menu {
    :local .view {
        position: relative;

        :global .item {
            & .item-count {
                font-weight: 500;
                color: @navbarItemFadedColor;
            }

            &.focused {
                background-color: @blue;
            }

            &.active,
            &:hover,
            &:hover .item-count,
            &.active .item-count {
                color: @quartz;
                font-weight: 600;
            }

            &:local.isDragged {
                opacity: 0.3;
            }
        }
    }
}

:local {
    .viewName {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    div.nestedViewIndicator {
        left: 29px;
    }
}
