:local {
    .wrapper {
        width: 100%;
        position: relative;
    }

    .indicator {
        height: 2px;
        background-color: var(--main-primary);
        left: 19px;
        right: 19px;
        position: absolute;
    }

    .isUp {
        top: -1px;
    }

    .isDown {
        bottom: -1px;
    }
}
