@import '~css/new/colorTokens';

:local {
    .wrapper {
        position: relative;
    }

    .indicator {
        height: 2px;
        background-color: @classic-main-primary;
        left: 19px;
        right: 19px;
        position: absolute;
    }

    .isUp {
        top: -1px;
    }

    .isDown {
        bottom: -1px;
    }
}
