:global .nav-primary .navbar-content :local .wrapper {
    margin-top: 0;
    padding-top: 13px;
    padding-bottom: 11px;
    position: relative;
}

:local {
    .contentTopIndicator {
        top: 12px;
    }

    .contentBottomIndicator {
        bottom: 10px;
    }
}
