:local {
    .container {
        padding-top: 8px;
        border-top: 1px solid var(--neutral-grey-3); // legacy
    }

    .total {
        padding: 8px 8px 0 8px;
        display: flex;
        justify-content: space-between;
    }

    .totalTitle {
        font-size: 14px;
        font-weight: 600;
        color: var(--neutral-grey-6); // legacy
    }

    .totalPrice {
        font-size: 14px;
        font-weight: 400;
        color: var(--neutral-grey-6); // legacy

        span {
            font-weight: 600;
        }
    }

    .oldPrice {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        color: var(--neutral-grey-5); // legacy
        text-decoration: line-through;
        padding-right: 4px;
    }

    .disclaimer {
        text-align: right;
        padding-top: 24px;
    }

    .discountLine {
        font-weight: 400;
        display: flex;
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .container {
        border-top: 1px solid var(--border-neutral-default);
    }

    .totalTitle {
        color: var(--content-neutral-default);
    }

    .totalPrice {
        color: var(--content-neutral-default);
    }

    .oldPrice {
        color: var(--content-neutral-tertiary);
    }

    .discountLine {
        color: var(--content-neutral-tertiary);
    }
}
