@import '~css/new/layout.less';
@import (reference) '~css/new/util.less';

:local {
    @primary: #479af5;
    @lighterGrey: #f8f9fa;
    @lightGrey: #ededed;
    @grey: #c3c8d0;
    @active-bluegreen: #06d79c;
    @offlineColor: #a1a9b6;
    @textColor: #545454;
    @light-contrast-color: 'FFFFFF';
    @dark-contrast-color: '161616';

    .preview {
        border-radius: 4px;
        width: 384px;
        color: @textColor;

        font-weight: 600;
        pointer-events: none;

        &.previewWithBackground {
            width: 432px;
            background: var(--neutral-grey-1);
            padding: 24px;
            min-height: 802px;
        }
    }

    .dialog {
        overflow: hidden;
        width: 100%;
        min-height: 680px;
        max-height: 680px;
        background: white;
        border: 0;
        border-radius: 5px;
        box-shadow: 4px 4px 16px rgba(22, 22, 22, 0.1);

        display: flex;
        flex-direction: column;

        .titlebar {
            position: relative;
            padding: 0.6em 1.6em;
            background: @primary;

            color: var(--neutral-grey-0);
            text-align: center;

            .icon.times {
                position: absolute;
                top: 50%;
                right: 0.8em;
                transform: translateY(-50%);
            }
        }

        .header {
            box-shadow: 4px 4px 16px rgba(22, 22, 22, 0.1);
            display: flex;
            padding: 16px;
            z-index: 1; // necessary so that the box-shadow is above the content
            align-items: center;
        }

        .details {
            color: var(--neutral-grey-0);
            overflow: hidden;
            flex: 1;
            text-align: left;

            .appName {
                font-size: 13px;
                font-weight: 600;

                &.appNameEmpty {
                    opacity: 0.3;
                }
            }

            .introductionText {
                font-size: 14px;
                font-weight: normal;
            }

            .business-hours-back-badge {
                font-size: 13px;
                border-radius: 50px;
                background: #959ca6;
                color: var(--neutral-grey-0);
                padding: 0 10px;
                width: auto;
                margin-top: 5px;
                display: inline-block;
            }
        }

        .content {
            overflow: auto;
            padding: @layout-spacing-s;
            flex: 1;
            pointer-events: initial;
            display: flex;
            flex-direction: column;

            .conversationTimestamp {
                color: var(--neutral-grey-4);
                font-size: 11px;
                font-weight: 600;
                margin-bottom: @layout-spacing-m;
                text-transform: uppercase;
                text-align: center;
            }

            .messageTimestamp {
                color: @grey;
                font-size: 12px;
                margin-top: 5px;
                text-align: right;

                .messageStatus {
                    font-weight: 600;
                }
            }

            .quickRepliesContent {
                display: flex;
                align-items: flex-end;
                flex: 1;

                overflow: hidden;
                pointer-events: none;

                .quickRepliesWrapper {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    padding-left: 10%;
                }

                .reply {
                    background: white;
                    margin: 8px 0 0 8px;
                }
            }
        }
    }

    .agents,
    .team-picture-wrapper {
        display: flex;
        align-items: center;
        margin-right: 8px;

        .team-picture {
            position: relative;

            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                border-radius: 100px;
            }
        }

        .agents {
            .agent {
                margin-right: -20px;
            }
        }

        .agent {
            position: relative;
            margin-right: -20px;
            padding: 0 2px;

            height: 40px;
            width: 40px;

            border-radius: 100px;
            background-color: var(--neutral-grey-2);
            color: var(--neutral-grey-4);
            background-size: cover;
            background-position: center;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 12px;
            font-weight: 600;

            border-style: solid;
            border-width: 3px;

            &.hasIcon {
                font-size: 19px;
                background-color: var(--neutral-grey-0);
                color: @textColor;

                &.first,
                &.last {
                    font-size: 13px;
                }
            }

            &:not(.hasIcon) {
                &.first {
                    justify-content: flex-start;
                }

                &.last {
                    justify-content: flex-end;
                }
            }

            &.hasPicture {
                color: transparent;
            }

            &.first,
            &.last {
                width: 32px;
                height: 32px;
                z-index: 1;
                font-size: 10px;

                .onlineMarker,
                .offlineMarker {
                    width: 10px;
                    height: 10px;
                    right: 10%;
                }
            }

            &.middle {
                z-index: 2;
            }

            &.last,
            &.single {
                margin-right: 0;
            }
        }

        .agent,
        .team-picture {
            .onlineMarker,
            .offlineMarker {
                position: absolute;
                width: 12px;
                height: 12px;
                bottom: -3.5%;
                right: 6%;
                border-radius: 50px;
                border-style: solid;
                border-width: 2px;
                border-color: inherit;
            }

            .onlineMarker {
                background: @active-bluegreen;
            }

            .offlineMarker {
                background: var(--feedback-warning);
            }
        }
    }

    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        background-size: cover;

        &.attachmentIcon {
            color: var(--neutral-grey-4);
            font-size: 24px;
        }
    }

    .bubble {
        display: table;
        margin-right: auto;
        padding: 14px;
        margin-bottom: 4px;
        background: #f4f4f4;
        border-radius: 14px;
        font-size: 14px;
        position: relative;
        border-left-color: @primary;
        word-break: break-word;
        letter-spacing: -0.01em;
        line-height: 20px;

        & + .automatedTimestamp {
            margin-top: 4px;
        }

        &.primary {
            margin: 0 0 0 auto;
            background: @primary;

            color: var(--neutral-grey-0);
        }

        &.firstMessageOfAppUser {
            border-top-right-radius: 2px;
        }

        &.firstMessageOfAppMaker {
            border-top-left-radius: 2px;
        }

        &.lastMessage {
            margin-bottom: @layout-spacing-m;
        }

        &.isAnimated {
            :global {
                animation: fadeIn 0.35s linear;
            }
        }
    }

    .appMakerMessageWrapper {
        display: flex;
        margin-bottom: @layout-spacing-m;

        .avatar {
            margin-right: @layout-spacing-s;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .user {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: @layout-spacing-xxs;

        &.isAnimated {
            :global {
                animation: fadeIn 0.35s linear;
            }
        }
    }

    .avatar {
        min-width: 36px;
        width: 36px;
        height: 36px;

        border-radius: 50px !important;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 60%;
        }

        &.isAnimated {
            :global {
                animation: fadeIn 0.35s linear;
            }
        }
    }

    .optionalEmailCapture {
        padding: 15px;
        box-shadow: 0 2px 4px fade(black, 12%);

        background: @lighterGrey;
        border: 1px solid @lightGrey;
        border-radius: 3px;

        .inputLabel {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 12px;
        }

        .inputWrapper {
            display: flex;

            input {
                background: white !important; // `important` to override default grey background for readonly inputs
                font-size: 14px;
                padding: 10px;
                outline: none;
                box-shadow: none;

                height: 100%;
                flex-grow: 1;

                border-radius: 3px 0 0 3px;
                border-top: 1px solid @grey;
                border-left: 1px solid @grey;
                border-bottom: 1px solid @grey;
                border-right: 0;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &::placeholder {
                    color: @grey;
                }
            }

            button {
                width: 40px;
                background: @primary;
                font-size: 30px;
                color: var(--neutral-grey-0);

                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid fade(black, 10%);
                border-radius: 0 3px 3px 0;
            }
        }
    }

    .content.requiredEmailCaptureContent {
        flex: 0;
        margin-top: auto;
    }

    .footer {
        display: flex;
        width: 100%;
        align-items: center;
        overflow: hidden;
        padding: 5px 15px 5px 20px;
        border-top: 1px solid #efefef;
        color: @grey;
        height: 56px;
        min-height: 56px;

        .icon,
        .placeholder {
            display: inline-block;
            vertical-align: middle;
        }

        .placeholder {
            color: var(--neutral-grey-4);
            flex-grow: 100;
        }

        .send {
            float: right;
            border: 0;
            background: transparent;

            font-weight: 600;
        }
    }

    .automatedTimestamp {
        margin-top: 10px;
        color: var(--neutral-grey-4);
        font-size: 12px;
    }

    // shrink dialog and chat button
    .dialog,
    .button {
        font-size: 15px;
        font-weight: 300;
    }

    .replyTime {
        font-size: 12px;
        display: flex;
        align-items: center;
        font-weight: 400;
        margin-top: 4px;

        i {
            font-size: 16px;
            margin-right: 4px;
        }
    }

    .goBackButton {
        display: inline-block;
        margin-right: 8px;
        font-size: 22px;
    }

    .asterisk {
        color: var(--feedback-error);
        font-weight: 600;
        font-size: 14px;
    }
}
