@import '~css/new/colorTokens';

:local {
    @primary: #479af5;
    @lighterGrey: #f8f9fa;
    @lightGrey: #ededed;
    @grey: #c3c8d0;
    @medium-grey: rgba(44, 66, 103, 0.46);
    @active-bluegreen: #06d79c;
    @offlineColor: #a1a9b6;
    @textColor: #545454;

    .preview {
        position: relative;
        border-radius: 5px;
        width: 384px;
        color: @textColor;

        font-weight: 600;
        pointer-events: none;
    }

    .dialog {
        overflow: hidden;
        width: 100%;
        min-height: 680px;
        max-height: 680px;
        background: white;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 4px 1em fade(black, 12%);

        display: flex;
        flex-direction: column;

        .titlebar {
            position: relative;
            padding: 0.6em 1.6em;
            background: @primary;

            color: @classic-neutral-grey-0;
            text-align: center;

            .icon.times {
                position: absolute;
                top: 50%;
                right: 0.8em;
                transform: translateY(-50%);
            }
        }

        .header {
            box-shadow: 0 4px 23px 0px rgba(57, 57, 57, 0.26);
            display: flex;
            flex-direction: row;
            padding: 22px 10px;
            background: @lighterGrey;
            z-index: 1; // necessary so that the box-shadow is above the content
            height: 94px;
            align-items: center;
        }

        .details {
            color: @classic-neutral-grey-0;
            overflow: hidden;
            flex: 1;
            padding: 0.8em;
            text-align: left;

            .appName {
                font-size: 13px;
                font-weight: 600;
            }

            .introductionText {
                font-size: 14px;
                font-weight: normal;
            }

            .business-hours-back-badge {
                font-size: 13px;
                border-radius: 50px;
                background: #959ca6;
                color: @classic-neutral-grey-0;
                padding: 0 10px;
                width: auto;
                margin-top: 5px;
                display: inline-block;
            }
        }

        .content {
            overflow: auto;
            padding: 15px 20px 0 20px;
            margin-bottom: 15px;
            flex: 1;
            pointer-events: initial;

            .conversationTimestamp {
                color: @medium-grey;
                font-size: 12px;
                margin-bottom: 15px;
                margin-top: 25px;
                text-transform: uppercase;
                text-align: center;
            }

            .messageTimestamp {
                clear: both;
                color: @grey;
                font-size: 12px;
                margin-top: 5px;
                text-align: right;

                .messageStatus {
                    font-weight: 600;
                }
            }

            &.quick-replies-content {
                padding: 0 20px;
                flex-shrink: 0;
                flex: 0;
                overflow: hidden;
                min-height: 38px;
                pointer-events: none;

                .quick-replies-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 326px;

                    .reply {
                        background: white;
                        margin: 0 5px 5px 0;
                        border-radius: 14px;
                    }
                }
            }
        }
    }

    .agents,
    .team-picture-wrapper {
        display: flex;
        align-items: center;

        .team-picture {
            position: relative;

            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                border-radius: 100px;
            }
        }

        .agents {
            .agent {
                margin-right: -20px;
            }
        }

        .agent {
            position: relative;
            margin-right: -20px;

            height: 40px;
            width: 40px;

            border-radius: 100px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 19px;

            border-style: solid;
            border-width: 3px;

            &.first,
            &.last {
                width: 32px;
                height: 32px;
                z-index: 1;
                font-size: 13px;

                .onlineMarker,
                .offlineMarker {
                    width: 10px;
                    height: 10px;
                    right: 10%;
                }
            }

            &.middle {
                z-index: 2;
            }

            &.last {
                margin-right: 0;
            }
        }

        .agent,
        .team-picture {
            .onlineMarker,
            .offlineMarker {
                position: absolute;
                width: 12px;
                height: 12px;
                bottom: -3.5%;
                right: 6%;
                border-radius: 50px;
                border-style: solid;
                border-width: 2px;
                border-color: inherit;
            }

            .onlineMarker {
                background: @active-bluegreen;
            }

            .offlineMarker {
                background: @classic-feedback-warning;
            }
        }
    }

    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        background-size: cover;

        &.camera {
            @freeGrey: escape(@grey);

            background-image: url('data:image/svg+xml;utf8,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 672q119 0 203.5 84.5t84.5 203.5-84.5 203.5-203.5 84.5-203.5-84.5-84.5-203.5 84.5-203.5 203.5-84.5zm704-416q106 0 181 75t75 181v896q0 106-75 181t-181 75h-1408q-106 0-181-75t-75-181v-896q0-106 75-181t181-75h224l51-136q19-49 69.5-84.5t103.5-35.5h512q53 0 103.5 35.5t69.5 84.5l51 136h224zm-704 1152q185 0 316.5-131.5t131.5-316.5-131.5-316.5-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5z" fill="@{freeGrey}"/></svg>');
            width: 17px;
            height: 17px;
        }
    }

    .bubble {
        float: left;
        clear: both;
        padding: 13px;
        margin-bottom: 4px;
        background: #f4f4f4;
        border-radius: 14px;
        font-size: 14px;
        position: relative;
        border-left-color: @primary;
        -webkit-transition: opacity 150ms;
        -o-transition: opacity 150ms;
        -moz-transition: opacity 150ms;
        transition: opacity 150ms;
        word-break: break-word;

        line-height: 1.2em;

        &.primary {
            float: right;
            background: @primary;

            color: @classic-neutral-grey-0;
        }

        &.firstMessageOfAppUser {
            border-top-right-radius: 2px;
        }

        &.firstMessageOfAppMaker {
            border-top-left-radius: 2px;
        }

        &.lastMessage {
            margin-bottom: 10px;
        }
    }

    .appMakerMessageWrapper {
        display: flex;
        clear: both;
        padding-top: 10px;

        .avatar {
            margin-right: 15px;
        }
    }

    .user {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .avatar {
        min-width: 35px;
        width: 35px;
        height: 35px;

        border-radius: 50px !important;
        overflow: hidden;
        box-shadow: 0 4px 6px fade(black, 9%);

        display: flex;
        align-items: center;
        justify-content: center;

        &.robotLogo {
            background: @offlineColor;
        }

        img {
            width: 60%;
        }
    }

    .optionalEmailCapture {
        clear: both;
        padding: 15px;
        box-shadow: 0 2px 4px fade(black, 12%);

        background: @lighterGrey;
        border: 1px solid @lightGrey;
        border-radius: 3px;

        .inputLabel {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 12px;
        }

        .inputWrapper {
            display: flex;

            input {
                background: white !important; // `important` to override default grey background for readonly inputs
                font-size: 14px;
                padding: 10px;
                outline: none;
                box-shadow: none;

                height: 100%;
                flex-grow: 1;

                border-radius: 3px 0 0 3px;
                border-top: 1px solid @grey;
                border-left: 1px solid @grey;
                border-bottom: 1px solid @grey;
                border-right: 0;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &::placeholder {
                    color: @grey;
                }
            }

            button {
                width: 40px;
                background: @primary;
                font-size: 30px;
                color: @classic-neutral-grey-0;

                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid fade(black, 10%);
                border-radius: 0 3px 3px 0;
            }
        }
    }

    .content.requiredEmailCaptureContent {
        flex: 0;
        margin-top: auto;
    }

    .footer {
        display: flex;
        width: 100%;
        align-items: center;
        overflow: hidden;
        padding: 5px 15px 5px 20px;
        border-top: 1px solid #efefef;
        color: @grey;
        height: 56px;

        .icon,
        .placeholder {
            display: inline-block;
            vertical-align: middle;
        }

        .placeholder {
            flex-grow: 100;
        }

        .icon {
            margin-right: 0.8em;
        }

        .send {
            float: right;
            border: 0;
            background: transparent;

            font-weight: 600;
        }
    }

    .button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        width: 3.625em;
        height: 3.625em;
        background: @primary;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 fade(black, 26%);

        .axis-x {
            position: absolute;
            height: 15px;
            z-index: 2;
            border-right: 1px solid @classic-feedback-error;
            border-left: 1px solid @classic-feedback-error;
            display: flex;
            align-items: center;

            .offsetLine {
                height: 1px;
                background-color: @classic-feedback-error;
                align-content: center;
                width: 100%;
            }

            .offsetContent {
                position: absolute;
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                bottom: -12px;
                left: 6px;
                color: @classic-feedback-error;
            }
        }

        .axis-y  {
            position: absolute;
            width: 15px;
            height: 40px;
            z-index: 2;
            border-top: 1px solid @classic-feedback-error;
            border-bottom: 1px solid @classic-feedback-error;
            display: flex;
            flex-direction: column;
            align-items: center;
            .offsetLine {
                width: 1px;
                background-color: @classic-feedback-error;
                align-content: center;
                height: 100%;
            }
            .offsetContent {
                position: absolute;
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                right: 12px;
                bottom: calc(~'50% - 8px');
                color: @classic-feedback-error;
            }
        }

        &.top-right {
            margin-bottom: 1em;
            .axis-x  {
                right: -40px;
            }
            .axis-y  {
                top: -40px;
            }
        }

        &.top-left {
            float: left;
            margin-bottom: 1em;
            .axis-x  {
                left: -40px;
                .offsetContent {
                    right: 6px;
                }
            }
            .axis-y  {
                top: -40px;
                .offsetContent {
                    left: 12px;
                }
            }
        }

        &.bottom-left {
            float: left;
            margin-top: 1em;
            .axis-x  {
                left: -40px;
                .offsetContent {
                    right: 6px;
                }
            }
            .axis-y  {
                bottom: -40px;
                .offsetContent {
                    left: 12px;
                }
            }
        }

        &.bottom-right {
            margin-top: 1em;
            .axis-x {
                right: -40px;
            }
            .axis-y  {
                bottom: -40px;
            }
        }

        .iconWrapper {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                z-index: 1;
                position: absolute;
                width: 55%;
                height: 55%;
                background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="overflow: visible; shape-rendering: geometricPrecision;"><filter id="dots"><feGaussianBlur stdDeviation="0,4" in="SourceAlpha"></feGaussianBlur><feOffset dx="0" dy="4" result="offsetblur"></feOffset><feComponentTransfer><feFuncA type="linear" slope="0.4"></feFuncA></feComponentTransfer><feComposite operator="in" in2="offsetblur"></feComposite><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><path fill="%23fff" filter="url(%23dots)" d="M50,0C22.4,0,0,22.4,0,50s22.4,50,50,50h30.8l0-10.6C92.5,80.2,100,66,100,50C100,22.4,77.6,0,50,0z M32,54.5 c-2.5,0-4.5-2-4.5-4.5c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5C36.5,52.5,34.5,54.5,32,54.5z M50,54.5c-2.5,0-4.5-2-4.5-4.5 c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5C54.5,52.5,52.5,54.5,50,54.5z M68,54.5c-2.5,0-4.5-2-4.5-4.5c0-2.5,2-4.5,4.5-4.5 s4.5,2,4.5,4.5C72.5,52.5,70.5,54.5,68,54.5z"></path></svg>');
            }

            .shadow {
                position: absolute;
                width: 55%;
                height: 55%;
                border-radius: 100px;
                box-shadow: 0 13px 26px 0 fade(black, 20%);
            }
        }
    }

    // shrink dialog and chat button
    .dialog,
    .button {
        font-size: 15px;
        font-weight: 300;
    }

    .replyTime {
        font-size: 12px;
        display: flex;
        align-items: center;
        font-weight: normal;

        img {
            margin-right: 4px;
        }
    }
}
