@import (reference) '~css/typography';

:local {
    .container {
        padding: var(--layout-spacing-m);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .titleCell {
        color: var(--neutral-grey-5);
    }

    .spinner {
        display: flex;
        justify-content: center;
    }
}
