:local {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--layout-spacing-xxs);
        width: 100%;
        height: 100%;
        color: var(--neutral-grey-6); // legacy
    }

    .noData {
        font-weight: 600;
    }

    .info {
        font-feature-settings:
            'ss01' on,
            'cv10' on;
        font-weight: 400;
    }
}

.axiom :local {
    .container {
        color: var(--content-neutral-default);
    }
}
