@import '~css/typography.less';

:local {
    .wrapper {
        border-bottom: 1px solid var(--main-primary-1); // legacy
        background-color: var(--main-primary-0); // legacy
        padding: 12px var(--layout-spacing-s);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--layout-spacing-s);
    }

    .icon {
        font-size: 20px;
        color: var(--main-primary-3); // legacy
    }

    .text {
        .body-regular();
    }
}

.axiom :local {
    .wrapper {
        border-bottom: 1px solid var(--surface-primary-subtle);
        background-color: var(--surface-neutral-primary);
    }

    .icon {
        color: var(--content-primary-default);
    }
}
