:local {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        border-left: 1px solid var(--neutral-grey-2); // legacy
    }

    .infoBarContainer {
        height: 100%;

        &.infobarHelpdeskV2MS1 {
            overflow: auto;
        }

        &.infoBarContainerWithNavbar {
            height: calc(100% - 52px);
        }
    }

    .navbar {
        background-color: var(--neutral-grey-1); // legacy
        border-bottom: 1px solid var(--neutral-grey-2); // legacy
        height: 52px;
        justify-content: normal;
        padding: 0;
    }

    .link {
        color: var(--neutral-grey-5); // legacy
        font-weight: 500;
        line-height: 20px;
        padding: 16px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--layout-spacing-xxs);

        &.active {
            border-bottom: 2px solid var(--main-primary); // legacy
            color: var(--neutral-grey-6); // legacy
            padding-bottom: 14px;
        }

        &:hover {
            color: var(--neutral-grey-6); // legacy
        }
    }

    .autoQaContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: var(--neutral-grey-0); // legacy
        padding: var(--layout-spacing-s) 0;
        gap: var(--layout-spacing-m);
        overflow: auto;
    }

    .shopifyContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: var(--neutral-grey-0); // legacy
        padding: var(--layout-spacing-s) 0;
        gap: var(--layout-spacing-m);
        overflow: hidden;
    }
}

.axiom :local {
    --animation-duration: 250ms;
    --animation-timing-fn: cubic-bezier(0.9, 0, 0, 1);

    .container {
        border-left: 1px solid var(--border-neutral-default);
    }

    .navbar {
        background-color: var(--elevation-neutral-default);
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .link {
        color: var(--content-neutral-tertiary);
        position: relative;
        transition: color var(--animation-duration) var(--animation-timing-fn);

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            transition: background-color var(--animation-duration)
                var(--animation-timing-fn);
        }

        &:hover:not(.active) {
            color: var(--content-neutral-default);
            background-color: var(--surface-surface-hovered);

            &:after {
                background-color: var(--border-neutral-secondary);
            }
        }

        &.active {
            border-bottom: 2px solid var(--content-neutral-default);
            color: var(--content-neutral-default);
        }
    }

    .autoQaContainer {
        background-color: var(--elevation-neutral-default);
    }

    .shopifyContainer {
        background-color: var(--elevation-neutral-default);
    }
}
