:local {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        border-left: 1px solid var(--neutral-grey-2); // legacy
    }

    .infoBarContainer {
        height: 100%;

        &.infoBarContainerWithNavbar {
            height: calc(100% - 52px);
        }
    }

    .navbar {
        background-color: var(--neutral-grey-1); // legacy
        border-bottom: 1px solid var(--neutral-grey-2); // legacy
        height: 52px;
        justify-content: normal;
        padding: 0;
    }

    .link {
        color: var(--neutral-grey-5); // legacy
        font-weight: 500;
        line-height: 20px;
        padding: 16px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--layout-spacing-xxs);

        &.active {
            border-bottom: 2px solid var(--main-primary); // legacy
            color: var(--neutral-grey-6); // legacy
            padding-bottom: 14px;
        }

        &:hover {
            color: var(--neutral-grey-6); // legacy
        }
    }

    .autoQaContainer,
    .shopifyContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: var(--neutral-grey-0); // legacy
        padding: var(--layout-spacing-s) 0;
        gap: var(--layout-spacing-m);
        overflow: auto;
    }
}

.axiom :local {
    .container {
        border-left: 1px solid var(--border-neutral-default);
    }

    .navbar {
        background-color: var(--elevation-neutral-default);
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .link {
        color: var(--content-neutral-default);

        &.active {
            border-bottom: 2px solid var(--surface-additional-blue);
            color: var(--content-neutral-default);
        }

        &:hover {
            color: var(--content-neutral-default);
        }
    }

    .autoQaContainer {
        background-color: var(--elevation-neutral-default);
    }

    .shopifyContainer {
        background-color: var(--elevation-neutral-default);
    }
}
