:local {
    .container {
        flex: 1;
        padding: var(--layout-spacing-m);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        overflow: auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        color: var(--neutral-grey-5); // legacy
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.55px;
    }

    .actions {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: center;
    }

    .iconEdit {
        color: var(--neutral-grey-5); // legacy
        font-size: 20px;
        cursor: pointer;
    }

    .descriptionContainer {
        background-color: var(--neutral-grey-1); // legacy
        padding: var(--layout-spacing-xl);
        border-radius: var(--layout-spacing-xxs);

        h3 {
            margin-bottom: var(--layout-spacing-s);
        }
    }

    .alert {
        min-height: auto;
    }
}

.axiom :local {
    .title {
        color: var(--content-neutral-secondary);
    }

    .iconEdit {
        color: var(--content-neutral-secondary);
    }

    .descriptionContainer {
        background-color: var(--elevation-neutral-mid);
    }
}
