:local {
    .wrapper {
        padding: 30px;
    }

    .header {
        font-size: 17px;
    }

    .csvButton {
        width: 72px;
    }

    .csvButtonIcon {
        vertical-align: middle;
    }

    .csvLoader {
        display: inline-block;
        width: 14px;

        > div {
            width: 14px !important;

            i {
                color: hsla(
                    var(--neutral-grey-3-h),
                    var(--neutral-grey-3-s),
                    var(--neutral-grey-3-l),
                    0.32
                );
            }
        }
    }

    .buttonContainer {
        display: flex;
        gap: var(--layout-spacing-xs);
    }
}
