@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--layout-spacing-m);
        padding: var(--layout-spacing-m);

        & > p {
            .body-regular();
            margin: 0;
        }

        .filterSelector {
            display: flex;
            gap: 12px;
        }
    }
    .ticketIdFilter {
        height: var(--layout-spacing-m);
        display: flex;
        background-color: var(--neutral-grey-1); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: var(--layout-spacing-xxs);
        font-size: 12px;
        label {
            height: calc(var(--layout-spacing-m) - 1px);
            line-height: calc(var(--layout-spacing-m) - 1px);
            font-weight: var(--rnf-font-weight-semibold);
            padding: 0px var(--layout-spacing-xxs);
            border-right: 1px solid var(--neutral-grey-3); // legacy
            color: var(--neutral-grey-6); // legacy
        }
        input {
            border-radius: var(--layout-spacing-xxs);
            border: none;
            padding-left: var(--layout-spacing-xs);
        }
    }
}

.axiom :local {
    .ticketIdFilter {
        background-color: var(--surface-neutral-secondary);
        border: 1px solid var(--border-neutral-default);

        label {
            border-right: 1px solid var(--border-neutral-default);
            color: var(--content-neutral-default);
        }
    }
}
