@import (reference) '~css/new/mixins';
@import (reference) '~css/typography.less';

:local {
    .header {
        .heading-subsection-semibold();
        margin-bottom: 0;
    }

    .delaySelector {
        margin-top: var(--layout-spacing-m);
    }

    .parentAccordionWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        .actionEventTitleWrapper {
            padding-block: var(--layout-spacing-xs);
        }
        .childAccordionContainer {
            padding-left: var(--layout-spacing-m);
            display: flex;
            flex-direction: column;
            gap: var(--layout-spacing-xs);
        }
    }
}
