@import (reference) '~css/typography';

:local {
    .container {
        display: grid;
        grid-template-columns: 110px 160px 1fr 20px;
        gap: var(--layout-spacing-xs);
        align-items: center;

        &.optional {
            grid-template-columns: 110px 160px 1fr 20px 20px;
        }
    }
}
