@import (reference) '~css/typography';

:local {
    .container {
        &.isSelected {
            background: var(--neutral-grey-1); // legacy
        }

        .updateCell {
            .body-regular();
        }

        .statusCell {
            .caption-allcaps();
        }

        .testModeCell {
            & div {
                & span {
                    color: var(--neutral-grey-5) !important; // legacy
                    .caption-regular();
                }
            }
        }

        .flowChevron {
            font-size: 24px;
            color: var(--neutral-grey-6); // legacy
        }
    }
}

.axiom :local {
    .container {
        &.isSelected {
            background: var(--elevation-neutral-default);
        }

        .testModeCell {
            & div {
                & span {
                    color: var(--content-neutral-secondary) !important;
                }
            }
        }

        .flowChevron {
            color: var(--content-neutral-default);
        }
    }
}
