@import (reference) '~css/new/mixins';
@import (reference) '~css/typography.less';

:local {
    .bodyDefaultText {
        font-weight: 600;
    }

    .errorText {
        font-weight: 400;
    }

    .codeBlock {
        border-radius: 4px;
        min-height: var(--layout-spacing-m);
        border: 1px solid var(--Neutral-Grey_3, #ddd);
        background: var(--Neutral-Grey_1, #f9f9f9);
        padding: calc(var(--layout-spacing-xs) - 2px) var(--layout-spacing-xs);
    }
}
