@import '~css/new/colorTokens';

@medium: ~'only screen and (max-width: 1393px)';

:local {
    .backWrapper {
        padding: 24px;
        padding-bottom: 0;

        a {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: @classic-neutral-grey-5;

            img {
                margin-right: 5px;
            }
        }
        margin-bottom: 8px;
    }
}
