:local {
    .container {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 8px;

        color: var(--neutral-grey-6); // legacy

        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .help {
        display: flex;
        align-items: center;
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .container {
        color: var(--content-neutral-default);
    }

    .help {
        color: var(--content-neutral-secondary);
    }
}
