:local {
    .truncated {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tooltipContent {
        max-height: 300px;
        overflow-y: auto;
        word-wrap: break-word;
        white-space: normal;
        display: block;
    }
}
