@import '~@gorgias/design-tokens/dist/css/typographyTokens';
@import '~css/typography';
@import '~css/util';

:local {
    .containerContent {
        display: flex;
        padding: var(--spacing-md) var(--spacing-lg);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);
        flex: 1;
        align-self: center;
        max-width: 600px;
    }

    .mediaFrame {
        width: 224px;
        height: 163px;

        // TODO: Remove background when media is available from design team
        background: #ebecef;
    }
}
