@import (reference) '~css/new/colorTokens.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        .component-button-small();

        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 20px;
        min-width: 20px;
        background: @classic-neutral-grey-2;
        border: 1px solid @classic-neutral-grey-3;
        border-radius: 100px;
        color: @classic-neutral-grey-5;
        cursor: pointer;

        &:not(.isDisabled):hover {
            box-shadow: 0 1px 2px rgba(22, 22, 22, 0.16);
        }

        &:not(.isDisabled):active {
            border: 1px solid @classic-neutral-grey-4;
            box-shadow: 0 1px 2px rgba(22, 22, 22, 0.16);
        }

        &.isDisabled {
            background: @classic-neutral-grey-1;
            color: @classic-neutral-grey-3;
            cursor: not-allowed;
        }
    }
}
