@import (reference) '~css/new/colorTokens.less';
@import (reference) '~css/typography.less';

:local {
    .addNodeIconContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        justify-content: center;
        position: absolute;
        left: 0;
        cursor: grab;
    }

    .edgeLabel {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .menuContainer {
        width: 274px;
    }

    .menuItemContainer {
        display: flex;
        flex-direction: row;
        align-items: start;
        padding: 8px;
        gap: 8px;
        .body-regular();
        .menuIcon {
            border-radius: 4px;
            padding: 4px 8px;
        }
        .menuItemDescription {
            .caption-regular();
            color: @classic-neutral-grey-4;
        }
    }

    .disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
