@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .legend {
        float: right;
        padding-top: @layout-spacing-m;
    }

    .legendOnLeft {
        float: left;
    }
}
