@import (reference) '~css/typography.less';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .tooltipItem {
        .caption-regular();
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-top: var(--layout-spacing-xs);
    }

    .tooltipItemBox {
        width: 16px;
        height: 16px;
        border-style: solid;
        box-shadow: inset 0 0 0 1px var(--neutral-grey-0);
        margin-right: @layout-spacing-xxs;
    }

    .tooltipItemValue {
        .caption-semibold();
        margin-left: @layout-spacing-xxs;
    }

    .tooltipSpaceBetween {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &.minusItemBox {
            width: calc(100% - 16px);
        }
    }

    .tooltipTotalWrapper {
        .caption-regular();
        display: flex;
        flex-direction: column;
        width: 100%;

        .tooltipSeparator {
            border: 1px solid var(--neutral-grey-3);
            margin: var(--layout-spacing-xs) 0;
        }
    }
}
