@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        position: relative;
        height: 250px;
    }
    .donutSkeleton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .metric {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }
}
