@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .tooltip {
        border-radius: 4px;
        background-color: var(--neutral-grey-0);
        box-shadow: 4px 4px 16px 0 rgba(22, 22, 22, 0.1);
        transform: translate(5%, 0);
        transition: all 0.2s ease;
        border: none;
    }

    .tooltipInner {
        padding: var(--layout-spacing-m);
    }

    .title {
        .body-semibold();
    }
}
