@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .legend {
        display: flex;
        justify-content: flex-end;
        padding-top: @layout-spacing-m;
    }

    .legendOnLeft {
        justify-content: flex-start;
    }
}
