@import '~css/new/colors';

:local {
    .legend-wrapper {
        display: flex;
        .disabled-legend-label {
            display: flex;
            font-size: 13px;
            font-weight: 500;
            align-items: center;

            .disabled-legend-label-circle {
                display: inline-flex;
                border-radius: 20px;
                width: 20px;
                height: 20px;
                border: 1px dashed @classic-neutral-grey-3;
            }
        }
    }
    .bar-total-wrapper {
        overflow-y: scroll;
        border: 1px solid @classic-neutral-grey-3;
        border-radius: 4px;
        padding: 24px;

        .bar-total-title-wrapper {
            display: flex;

            span {
                margin-top: -1px;
            }
        }

        .bar-total-dates {
            color: @classic-neutral-grey-5;
            margin-bottom: 24px;
        }

        .bar-total-data-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0px;
            }
            .label {
                display: flex;
                font-size: 13px;
                font-weight: 500;
                align-items: center;

                .circle {
                    display: inline-flex;
                    flex-shrink: 0;
                    border-radius: 20px;
                    width: 20px;
                    height: 20px;
                }
            }
            .data {
                color: @classic-neutral-grey-6;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
