@import '~css/new/colors';

:local {
    .csvButton {
        width: 72px;

        i {
            vertical-align: middle;
        }

        .csvLoader {
            display: inline-block;
            width: 14px;

            > div {
                width: 14px !important;

                i {
                    color: fade(@neutral4, 32%);
                }
            }
        }
    }
}
