@import '~@gorgias/design-tokens/dist/css/typographyMixins';

:local {
    .toggleCard {
        & > * {
            padding: var(--layout-spacing-m);
        }

        &Active {
            background-color: var(--neutral-grey-0); // legacy
            border-color: var(--accessory-magenta-25); // legacy
        }

        display: flex;
        flex-direction: column;
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: var(--layout-spacing-xs);
    }

    .headerSection {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: var(--layout-spacing-s);
        border-radius: inherit;

        &WithContent {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:hover {
            background-color: var(--accessory-magenta-1); // legacy
        }

        .headerSectionTextBlock {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: var(--layout-spacing-xxs);

            .headerSectionTitle {
                .heading-subsection-semibold();
                color: var(--neutral-grey-6); // legacy
            }

            .headerSectionSubtitle {
                .body-regular();
                color: var(--neutral-grey-5); // legacy
            }
        }
    }

    .unshrinkable {
        flex-shrink: 0;
    }

    .contentSection {
        border-top: 1px solid var(--neutral-grey-3); // legacy
    }
}

.axiom :local {
    .toggleCard {
        &Active {
            background-color: var(--elevation-neutral-default);
            border-color: var(--border-additional-fuchsia);
        }

        border: 1px solid var(--border-neutral-default);
    }

    .headerSection {
        &:hover {
            background-color: var(--surface-additional-fuchsia);
        }

        .headerSectionTextBlock {
            .headerSectionTitle {
                color: var(--content-neutral-default);
            }

            .headerSectionSubtitle {
                color: var(--content-neutral-secondary);
            }
        }
    }

    .contentSection {
        border-top: 1px solid var(--border-neutral-default);
    }
}
