@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .heading {
        .heading-section-semibold();
        margin: @layout-spacing-xl 0 @layout-spacing-xxs;
    }

    .subtitle {
        margin-bottom: @layout-spacing-m;
    }

    .container {
        width: calc(100% + @layout-spacing-xl);
        margin: 0 -@layout-spacing-m @layout-spacing-m;
    }

    .bodyCell {
        cursor: initial;
    }

    .ticketChannelIcon {
        font-size: 20px !important;
        color: var(--neutral-grey-4);
        margin-right: 16px;

        &:global(.icon-facebook-feed) {
            &:before {
                font-size: 20px;
            }
        }
    }

    .tooltip {
        font-size: 20px;
        margin-left: 4px;
    }

    .soundSelectCell {
        padding-top: 0;
        padding-bottom: 0;
    }
}
