@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--layout-spacing-s) @layout-spacing-m;
        border-bottom: 1px solid var(--neutral-grey-2);
    }

    .heading {
        .heading-subsection-semibold();
        color: var(--neutral-grey-6);
        margin-right: var(--layout-spacing-xs);
    }

    .flexSection {
        display: flex;
        align-items: baseline;
    }

    .selectIcon {
        &.selectIcon {
            font-size: 16px;
            margin-left: var(--layout-spacing-xxs);
        }
    }

    .settingsLink {
        align-self: end;
    }

    .dropdownBody {
        width: 162px;
    }

    .dropdownItem {
        justify-content: space-between;
    }
}
