@import '~css/new/mixins';
@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        gap: @layout-spacing-xs;
        padding: @layout-spacing-s 12px;
    }

    .icon {
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
    }

    .typeIcon {
        @iconSize: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: @iconSize;
        width: @iconSize;
        position: absolute;
        top: @iconSize;
        right: -(@iconSize / 2);
        border-radius: (@iconSize / 2);
        border: 1px solid var(--neutral-grey-0);
        color: var(--neutral-grey-0);

        &.snooze {
            background-color: var(--main-primary);
        }

        &.mention {
            background-color: var(--feedback-warning-3);
        }

        :global(.material-icons-outlined) {
            font-size: 12px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xxs;
        flex-grow: 1;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .type {
        .body-semibold();
        margin: 0;
        color: var(--neutral-grey-6);
    }

    .excerpt {
        .caption-regular();
        .line-clamp(3);

        max-height: 48px;
        padding: 0 0 0 6px;
        border-left: 2px solid var(--neutral-grey-5);
        color: var(--neutral-grey-5);
    }
}
