@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        position: fixed;
        z-index: 9999;
        top: 0;
        right: @layout-spacing-m;
    }
}
