@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .form {
        max-width: 570px;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .submitButton {
        margin-top: @layout-spacing-l;
    }
}
