:local {
    .navigation {
        margin-top: var(--layout-spacing-s);
        padding: 0 var(--layout-spacing-xs);
    }

    .statsLink {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
