:local {
    .container {
        border: 1px solid var(--neutral-grey-3); // legacy
        width: 100%;
        border-radius: 4px;
    }

    .section {
        padding: var(--layout-spacing-xs) var(--layout-spacing-s);
        background-color: var(--neutral-grey-0); // legacy
    }

    .topSection {
        display: flex;
        gap: var(--layout-spacing-s);
        align-items: flex-start;
    }

    .editor {
        padding: 0;
        min-height: 180px;
        display: flex;
        flex-direction: column;
    }

    .section:not(:last-child) {
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
    }

    .subjectInput {
        border: none !important;
        padding: 0;
        outline: none;
        box-shadow: none !important;
    }

    .footer {
        display: flex;
        gap: var(--layout-spacing-s);
        background-color: var(--neutral-grey-1); // legacy
        justify-content: space-between;
    }

    .disabled {
        background-color: var(--neutral-grey-1); // legacy
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .container {
        border: 1px solid var(--border-neutral-default);
    }

    .section {
        background-color: var(--elevation-neutral-default);
    }

    .section:not(:last-child) {
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .footer {
        background-color: var(--elevation-neutral-mid);
    }

    .disabled {
        background-color: var(--elevation-neutral-mid);
        color: var(--content-neutral-secondary);
    }
}
