@status: 'info', 'success', 'warning', 'error';

:local {
    .bannerNotification {
        position: relative;
        top: 0;
        width: 100%;
        transition: all 0.5s;
        overflow: hidden;
        z-index: 90;
        min-height: 44px;

        &.clickable {
            cursor: pointer;
        }

        @media print {
            display: none;
        }
    }

    .messageContainer {
        display: flex;
        justify-content: center;
        padding: 12px 20px;

        &:not(:last-child) {
            padding-right: 52px;
        }
    }

    .icon {
        margin-right: 16px;
    }

    .messageText {
        color: var(--neutral-grey-6);
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.01em;
        margin-left: -27px;

        > * {
            margin-left: 27px;
        }

        > span {
            display: inline-block;
        }
    }

    .messageAction {
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    .closeIconContainer {
        position: absolute;
        top: 0;
        right: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    .closeIcon {
        width: 11px;
        height: 11px;
    }

    /* Success */
    @successBackgroundColor: var(--accessory-green-1);
    @successBorderColor: var(--feedback-success-1);

    /* Error */
    @errorBackgroundColor: var(--accessory-red-1);
    @errorBorderColor: var(--feedback-error-1);

    /* Info */
    @infoBackgroundColor: var(--accessory-blue-1);
    @infoBorderColor: var(--main-primary-1);

    /* Warning */
    @warningBackgroundColor: var(--accessory-orange-1);
    @warningBorderColor: var(--feedback-warning-1);

    .color-variant(@i:1) when (@i <= length(@status)) {
        @statusValue: extract(@status, @i);
        @backgroundColor: '@{statusValue}BackgroundColor';
        @borderColor: '@{statusValue}BorderColor';
        @class: ~'@{statusValue}';

        .@{class} {
            background: @@backgroundColor;
            border-bottom: 1px solid @@borderColor;

            &.borderPositionTop {
                border-bottom: 0;
                border-top: 1px solid @@borderColor;
            }
        }

        .color-variant(@i + 1);
    }

    .color-variant();

    .borderless {
        border: none;
    }
}
