:local {
    .Icon {
        font-size: 1.5rem !important;

        &.critical {
            color: var(--accessory-red-3);
        }

        &.warning {
            color: var(--feedback-warning-4);
        }

        &.info {
            color: var(--main-primary-4);
        }
    }
}
