@import (reference) '~css/typography';

:local {
    .item {
        justify-content: space-between;
        align-items: center;
    }

    .name {
        white-space: nowrap;
        margin-right: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .btn {
        width: 100%;
        margin-top: 16px;
    }
    .container {
        .body-regular();
        padding: 16px;
    }
}
