:local {
    font-family: 'Inter', sans-serif;
    color: var(--neutral-grey-6); // legacy

    .title {
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        margin-top: 1.5rem;
    }

    .text {
        font-size: 16px;
        line-height: 19px;
    }
}

.axiom :local {
    color: var(--content-neutral-default);
}
