:local .headerPadding {
    padding: var(--layout-spacing-xs);
    background-color: var(--neutral-grey-0); // legacy
}

.axiom :local .headerPadding {
    background-color: var(--elevation-neutral-default);
}
