@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .attachments {
        display: flex;
        flex-wrap: wrap;
        margin-top: var(--layout-spacing-xxs);
    }
}
