@import '~@gorgias/design-tokens/dist/css/typographyTokens.less';

:local {
    .trend {
        border-radius: 100px;
        display: inline-flex;
        padding: 0 8px;
        align-items: center;
        font-size: @caption-all-caps-font-size;
        font-weight: @caption-all-caps-font-weight;
        letter-spacing: @caption-all-caps-letter-spacing;
        line-height: @caption-all-caps-line-height;
    }

    .color-unchanged {
        background-color: var(--neutral-grey-1);
        color: var(--neutral-grey5);
    }

    .color-neutral {
        background-color: var(--neutral-grey-3);
        color: var(--neutral-grey-6);
    }

    .color-positive {
        background-color: var(--accessory-green-1);
        color: var(--accessory-green-3);
    }

    .color-negative {
        background-color: var(--accessory-red-1);
        color: var(--accessory-red-3);
    }

    .size-sm {
        height: 18px;
    }

    .size-md {
        height: 24px;
    }
}
