@import '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .playgroundThreadContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;

        .header {
            width: 100%;
            .heading-subsection-semibold();
            padding: @layout-spacing-s @layout-spacing-m;
            border-bottom: 1px solid var(--neutral-grey-3);
        }
        .threadContent {
            width: 100%;
            padding-top: @layout-spacing-s;
            padding-bottom: @layout-spacing-s;
        }

        .footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .bodyBottomBorderContainer {
            margin-top: @layout-spacing-s;
            width: 95%;
            border-top: 1px solid var(--neutral-grey-3);
        }

        .actionsContainer {
            padding-top: @layout-spacing-s;
            padding-bottom: @layout-spacing-m;
        }
    }
}
