@import '~css/new/colorTokens';

:local {
    .table {
        .header {
            tr {
                height: 56px;
            }
        }

        tr {
            height: 56px;
            td {
                width: auto;
            }
        }
    }

    .createIntegrationBtn {
        display: flex;
        align-items: center;
        i {
            font-size: 18px;
        }
    }
}
