@import '~css/new/colorTokens';

:local {
    .bold {
        font-weight: 600;
    }

    .error {
        color: @classic-feedback-error;
    }

    .neutral {
        color: @classic-neutral-grey-4;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .title {
        margin-bottom: 16px;
    }

    .formSection {
        margin-bottom: 32px;
    }

    .formGroup {
        margin-bottom: 16px;
    }

    .fieldset {
        flex: 1;
        margin-bottom: 26px;
    }

    .radioButtonGroup {
        display: flex;
        margin-bottom: 20px;
        padding-right: 2em;
    }

    .tooltipIcon {
        margin-left: 0.5em;
        color: @classic-neutral-grey-4;
        font-size: 15px;

        &:hover {
            color: @classic-neutral-grey-5;
        }
    }
}
