:local {
    .container {
        height: 100vh;
    }

    .stickyHeader {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--elevation-neutral-default);
        flex-shrink: 0;
        padding-bottom: 12px;
    }

    .content {
        flex: 1 1 auto;
        min-height: min-content;
    }
}
