:local {
    .pill {
        gap: 3px;
        height: 16px;
        padding: 0 5px;
        margin: 0 1px;
        border-radius: 4px;
        vertical-align: baseline;
        max-width: 100%;
    }

    .pill [data-name='text'] {
        min-width: 0;
        font-size: 11px;
        line-height: 14px;
        font-weight: 600;
    }

    .pillLabel {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actionPrefix {
        font-weight: 700;
    }
}
