@import '~@gorgias/design-tokens/dist/css/typographyTokens';
@import '~css/typography';
@import '~css/util';

:local {
    .handoverTickets {
        color: var(--content-accent-default);
        cursor: pointer;
    }
}

.axiom :local {
    .contentContainer {
        border: 1px solid var(--border-neutral-default);
        background: var(--elevation-neutral-default);
    }

    .title {
        color: var(--content-neutral-default);
    }

    .description {
        color: var(--content-neutral-default);
    }

    .ticketCount {
        color: var(--content-neutral-secondary);
    }

    .ticketCountIcon {
        color: var(--content-neutral-secondary);
    }
}
