@import '~css/new/colorTokens';

:local {
    .reportIssuePolicyTitle {
        color: @classic-neutral-grey-6;
        font-weight: 400;
    }

    .reportIssuePolicyDescription {
        color: @classic-neutral-grey-6;
    }

    .casesTitle {
        font-weight: 600;
        margin-top: 2.3rem;
    }
}
