@import '~css/new/colors';

:local {
    .reportIssuePolicyTitle {
        color: @neutral10;
        font-weight: 400;
    }

    .reportIssuePolicyDescription {
        color: @neutral10;
    }

    .casesTitle {
        font-weight: 600;
        margin-top: 2.3rem;
    }
}
