@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .captionContainer {
        .caption-allcaps();
        display: flex;
        column-gap: @layout-spacing-s;
        align-items: center;
        color: var(--neutral-grey-4);
        margin-left: @layout-spacing-m;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: @layout-spacing-s;
    }
}
