:local {
    .container {
        top: -1px; // avoid double margins when sticky
        padding-left: 0;
        padding-right: 0;
        background: var(--neutral-grey-0); // legacy
        border-top: 1px solid var(--neutral-grey-2); // legacy
        z-index: 1;
    }

    .tab {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: var(--neutral-grey-5); // legacy

        &:hover {
            color: var(--main-primary); // legacy
        }
    }

    .hasUIVisionMS1 {
        padding-right: var(--layout-spacing-xxs);
    }
}

.axiom :local {
    .container {
        background: var(--elevation-neutral-default);
        border-top: 1px solid var(--border-neutral-default);
    }

    .tab {
        color: var(--content-neutral-secondary);

        &:hover {
            color: var(--content-accent-default);
        }
    }
}
