:local {
    .container {
        top: -1px; // avoid double margins when sticky
        padding-left: 0;
        padding-right: 0;
        background: var(--neutral-grey-0);
        border-top: 1px solid var(--neutral-grey-2);
    }

    .tab {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: var(--neutral-grey-5);

        &:hover {
            color: var(--main-primary);
        }
    }
}
