:local {
    .widgetsList {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        &[data-dragging='true'] {
            // Leave some minimum space in the widget zone to drop things
            min-height: 300px;
        }
    }
}
