/* alert
 */

.alert-link {
    font-weight: normal;
    text-decoration: underline !important;
}

.alert-danger {
    background: lighten(@red, 36%);
    border-color: lighten(@red, 31%);

    color: @darkRed;
}

.alert-danger .alert-link {
    color: @darkRed;
}

.alert-info {
    background-color: #f9fbff;
    border-color: #ebf4fe;

    color: @darkBlue;
}

.alert-warning {
    background-color: @lightYellow;
    border-color: @lightOrange2;

    color: @darkOrange;
}
