.alert-link {
    font-weight: normal;
    text-decoration: underline !important;
}

.alert-warning {
    background-color: hsl(
        var(--internalYellow-h),
        var(--internalYellow-s),
        calc(var(--internalYellow-l) + 3%)
    );
    border-color: var(--internalYellow);

    color: var(--main-secondary);
}
