.form-control {
    border: 1px solid @classic-neutral-grey-3;
    border-radius: 3px;
    &:focus {
        box-shadow: 0 0 0 0.2rem fade(@classic-main-primary, 10%);
    }
}

.form-row {
    margin-left: -10px;
    margin-right: -10px;
}

.form-row > .col,
.form-row > [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}
