.form-control {
    border: 1px solid var(--neutral-grey-3);
    border-radius: 3px;
    background-color: var(--neutral-grey-0);
    color: var(--neutral-grey-6);

    &:focus {
        color: var(--neutral-grey-6);
    }

    &:focus {
        background-color: var(--neutral-grey-0);
        box-shadow: 0 0 0 0.2rem
            hsla(
                var(--main-primary-h),
                var(--main-primary-s),
                var(--main-primary-l),
                0.1
            );
    }
}

.form-row {
    margin-left: -10px;
    margin-right: -10px;
}

.form-row > .col,
.form-row > [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}
