// input-icon
.input-icon {
    position: relative;
}

.input-icon .icon {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);

    pointer-events: none;
}

.input-icon-right .icon {
    left: auto;
    right: 0.5rem;
}

.input-icon:not(.input-icon-right) input {
    padding-left: 2rem;
}

.input-icon-right input.form-control {
    padding-right: 2rem;
}
