/* pagination
 */

.pagination-transparent {
    .page-link {
        margin: 0;
        padding: 0.54rem 0.94rem;
        border: 0;
        border-radius: 3px;
    }

    .page-link:hover {
        background-color: @classic-neutral-grey-1;
    }

    .page-item.active .page-link {
        background-color: #417bda;
        box-shadow: inset 0 1px 3px 0 fade(black, 25%);
    }
}

.page-link {
    font-weight: 500;
}

.page-link .material-icons {
    line-height: 1rem;
    vertical-align: middle;
}

.page-item {
    cursor: pointer;

    &.disabled {
        cursor: initial;
    }
}

.page-item.disabled a {
    color: @classic-neutral-grey-4;
}

.pagination {
    @media @mobiles {
        justify-content: center;
    }
}
