// popover style
.popover {
    max-width: 350px;

    color: #333;
    font-size: 1rem;
}

// can't style reactstrap popovers
// https://github.com/reactstrap/reactstrap/issues/449
.popover {
    z-index: 1051 !important;
}
