.table {
    color: @classic-neutral-grey-6;

    td,
    thead th {
        border-top: 0;
        border-bottom: 1px solid @classic-neutral-grey-3;
    }

    tbody tr:hover {
        background-color: @classic-neutral-grey-1;
        color: @classic-neutral-grey-6;
    }
}
