@import '~css/new/layout.less';

:local {
    .container {
        & > section:not(:last-child) {
            margin-bottom: @layout-spacing-l;
        }

        & > section > label {
            height: 28px;
            margin-bottom: @layout-spacing-xs;
        }
    }

    .bottomButtons {
        margin-top: @layout-spacing-xl;
    }

    .cancelButton {
        margin-left: @layout-spacing-xs;
    }
}
