@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';
@import '~css/new/mixins';

:local {
    .dragIcon {
        font-size: 20px;
        color: var(--neutral-grey-4);
        margin-right: var(--layout-spacing-s);

        &:hover {
            cursor: grab;
        }

        &:active {
            cursor: grabbing;
        }
    }

    .name {
        .body-semibold();
        color: var(--neutral-grey-6);
        margin-right: var(--layout-spacing-xs);
        .line-clamp(1);
    }
}
