@import '~css/new/mixins';

:local {
    .alert {
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid;
        border-radius: 4px;
        padding: 16px 24px;
        background-color: var(--neutral-grey-0); // legacy
        min-height: 54px;

        &.info {
            border: 1px solid var(--main-primary); // legacy
        }

        &.success {
            border: 1px solid var(--feedback-success); // legacy
        }

        &.warning {
            border: 1px solid var(--feedback-warning); // legacy
        }

        &.error {
            border: 1px solid var(--feedback-error); // legacy
        }

        &.loading {
            border: 1px solid var(--neutral-grey-4); // legacy
        }

        &.closable {
            padding-right: 56px;
        }

        &.ai {
            border: 1px solid var(--accessory-magenta-3); // legacy
        }
    }

    .iconContainer {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        flex-wrap: wrap;

        @media @desktops {
            flex-wrap: initial;
        }
    }

    .label {
        color: var(--neutral-grey-6); // legacy
        line-height: 20px;
        letter-spacing: -0.01em;
        width: 100%;
    }

    .customActions {
        margin-left: 24px;
        flex-shrink: 0;
        line-height: 1;

        @media @mobiles, @tablets {
            margin: 16px 0 0;
        }
    }

    .close {
        position: absolute;
        top: 0;
        margin: auto;
        right: 24px;
        display: flex;
        height: 100%;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    .closeIcon {
        width: 11px;
        height: 11px;
    }

    .loadingIcon {
        display: flex;
        align-items: center;
        overflow: visible;
    }
}

.axiom :local {
    .alert {
        background-color: var(--elevation-neutral-default);

        &.info {
            border: 1px solid var(--surface-additional-blue);
        }

        &.success {
            border: 1px solid var(--static-success);
        }

        &.warning {
            border: 1px solid var(--static-warning);
        }

        &.error {
            border: 1px solid var(--static-error);
        }

        &.loading {
            border: 1px solid var(--content-neutral-tertiary);
        }

        &.ai {
            border: 1px solid var(--surface-additional-magenta);
        }
    }

    .label {
        color: var(--content-neutral-default);
    }
}
