:local {
    .previewContainer {
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 100%;
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--layout-spacing-m);

        overflow: hidden;
    }

    .previewBody {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        padding: var(--layout-spacing-s) var(--layout-spacing-m)
            var(--layout-spacing-m) var(--layout-spacing-m);
        height: 100%;
        width: 350px;
        max-height: 550px;
        overflow-y: scroll;
        scroll-behavior: smooth;

        background-color: var(--surface-neutral-primary);
    }

    .followUpMessage {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        align-items: center;
        height: fit-content;
    }

    .messageBubble {
        align-self: flex-start;
        border-radius: 16px 16px 16px 0;
        background: #fff;
        box-shadow:
            0 1.448px 3.862px 0 rgba(0, 0, 0, 0.08),
            -0.966px -0.966px 0.483px 0 rgba(0, 0, 0, 0.12) inset;
        padding: var(--layout-spacing-s);
        white-space: pre-line;
    }

    .fakeLink {
        color: var(--button-primary-hover, #386aff);
    }

    .attachedImage {
        margin-bottom: var(--layout-spacing-xs);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}
