:local {
    .container {
        padding: 12px 16px 32px 16px;

        &:last-child {
            padding-bottom: 12px;
        }
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
    }

    .title {
        display: flex;
        gap: 12px;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        color: var(--neutral-grey-6);

        i {
            padding: 4px;
            background-color: var(--neutral-grey-1);
            color: var(--neutral-grey-5);
            border-radius: 4px;

            &.activeIcon {
                background-color: var(--accessory-blue-bg);
                color: var(--main-primary-4);
            }
        }
    }

    .closeButton {
        color: var(--neutral-grey-5);
        font-size: 16px;
        cursor: pointer;
    }

    .addProduct {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        color: var(--main-primary);
        font-size: 12px;
        font-weight: 500;

        &:hover {
            color: var(--main-primary-4);
        }

        i {
            font-size: 16px;
        }
    }

    .openIsDisabled {
        cursor: not-allowed;
        color: var(--neutral-grey-3);

        &:hover {
            color: var(--neutral-grey-3);
        }
    }

    .selectedPlan {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .counter {
        display: flex;
        gap: 4px;
        font-size: 14px;
        font-weight: 400;
        color: var(--neutral-grey-4);

        i {
            font-size: 20px;
            width: 20px;
        }
    }

    .productName {
        color: var(--neutral-grey-5);
        font-weight: 600;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .oldPrice {
        color: var(--neutral-grey-5);
        font-size: 14px;
        text-decoration: line-through;
    }

    .tooltip {
        max-width: 222px !important;
        position: relative;
        left: -10px;

        a {
            color: inherit;
            text-decoration: underline !important;
            padding-left: 4px;
        }
    }

    .select {
        max-height: 300px;
    }
}
