@import '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item {
        margin-right: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-xs);

        &:last-child {
            margin-right: 0;
        }
    }
}
