@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .marginTopSmall {
        margin-top: var(--layout-spacing-xs);
    }

    .marginBottomMedium {
        margin-bottom: @layout-spacing-m;
    }

    .inputWrapper {
        width: 80px;
        margin-top: var(--layout-spacing-xxs);
    }

    .isDisabled {
        color: var(--neutral-grey-4);
    }

    .captionWrapper {
        color: var(--neutral-grey-5);
    }
}
