:local {
    .title {
        color: var(--navigation-text-item); // legacy
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
    }

    .toggle {
        border: none;
        color: var(--navigation-text-item) !important; // legacy
        font-size: 14px;
        line-height: 20px;
        padding: 3px 6px;
        transform: translateY(-1px);

        &:hover,
        &:focus {
            background-color: var(
                --navbar-block-toggle-hover-background-color
            ); // legacy
            color: var(--navbar-block-toggle-hover-color) !important; // legacy
            box-shadow: unset;
        }

        &:active {
            background-color: var(
                --navbar-block-toggle-active-background-color
            ) !important; // legacy
            color: var(--navbar-block-toggle-active-color); // legacy
        }
    }

    .action {
        font-size: 13px;
        padding-left: 7px;
        line-height: 24px;
        font-weight: 400;

        &:focus {
            outline: none;
        }
    }

    .isDragged {
        opacity: 0.5;
    }
}

.axiom :local {
    .title {
        color: var(--content-neutral-default);
    }

    .toggle {
        color: var(--content-neutral-default) !important;

        &:hover,
        &:focus {
            background-color: var(--hover-default);
        }

        &:active {
            background-color: var(--pressed-default) !important;
        }
    }
}
