:local {
    .container {
        display: flex;
        padding: var(--spacing-md);

        border-radius: var(--spacing-sm);
        border: 1.2px solid var(--border-neutral-default);
        background: var(--elevation-neutral-default);
    }

    .summary {
        padding: var(--spacing-md);
        border-radius: var(--spacing-xs);
        background: var(--surface-warning-default);

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .bodyContainer {
        border-radius: var(--spacing-xs);
        border: 1px solid var(--border-neutral-default);
        background: var(--surface-neutral-primary);
    }

    .sourceContainer {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-xxxs);
        cursor: pointer;
        color: var(--content-accent-default);
    }
}
