:local {
    .metricVariation {
        color: var(--Feedback-Variations-Success_3, #20c08c);
        font-size: 12px;
        font-weight: 600;

        &--negative {
            color: var(--Feedback-Variations-Negative_3, #ff4d4f);
        }

        &--neutral {
            color: var(--neutral-grey-5);
        }
    }
}
