:local {
    .fieldLabel {
        display: inline-flex;
        align-items: center;
        padding: 0 var(--spacing-xs, 8px);
        height: 28px;
        background-color: var(--surface-neutral-primary, #f5f6f8);
        border-radius: var(--spacing-xxxs, 4px);
        color: var(--content-neutral-default);
    }

    .datePickerSlot {
        display: inline-flex;
    }

    .datePickerSlot > [class*='datepicker-wrapper-'] {
        display: inline-flex;
        width: auto;
    }
}
