:local {
    .widgetField {
        position: relative;
        padding-left: 12px;
        display: flex;
        align-items: flex-start;
        border: 1px solid transparent;
        width: 100%;
    }

    .widgetFieldLabel {
        padding-right: 8px;
        color: var(--neutral-grey-5); // legacy
    }

    .widgetFieldValue {
        flex-grow: 1;
        align-self: flex-end;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        // the property belows prevents subcomponents (e.g. MultiSelectOptionsField) from auto-overflowing
        // without preventing elements to overflow when desired (with absolute positionning)
        min-width: 0;
    }

    .overflow {
        overflow: visible;
    }

    .staticWidgetField {
        display: inline-flex;
    }

    .disabled {
        cursor: not-allowed;
        color: var(--neutral-grey-4); // legacy
    }

    .noBold {
        font-weight: normal;
    }

    .widgetFieldTools {
        display: none;
        font-size: 1.3rem;
    }

    .widgetFieldToolIcon {
        padding: 0 4px;
        cursor: pointer;
    }

    .widgetFieldEditing {
        .widgetFieldLabel {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &.widgetField {
            &:hover {
                border: 1px dashed var(--neutral-grey-4); // legacy
                .widgetFieldTools {
                    display: flex;
                }
            }
        }
    }
}

.axiom :local {
    .widgetFieldLabel {
        color: var(--content-neutral-secondary);
    }

    .disabled {
        color: var(--content-neutral-secondary);
    }

    .widgetFieldEditing {
        &.widgetField {
            &:hover {
                border: 1px dashed var(--border-neutral-secondary);
            }
        }
    }
}
