:local {
    .container {
        display: flex;
        width: 100%;
        align-items: center;
        overflow: hidden;
        padding: 5px 20px;
        border-top: 1px solid #efefef;
        color: var(--neutral-grey-4); // legacy
        height: 56px;
        min-height: 56px;
    }

    .icon {
        margin-left: auto;
    }
}

.axiom :local {
    .container {
        color: var(--content-neutral-secondary);
    }
}
