:local {
    .wrapper {
        align-items: center;
        background-color: var(--neutral-grey-2); // legacy
        border-top: 1px solid var(--neutral-grey-3); // legacy
        box-sizing: border-box;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 100%;
    }
}

.axiom :local {
    .wrapper {
        background-color: var(--elevation-neutral-mid);
        border-top: 1px solid var(--border-neutral-secondary);
    }
}
