:local {
    .wrapper {
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
        width: 100%;
        min-height: 36px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 600;
        outline: 0;
        padding: 0 16px;
        text-align: left;
        transition: background-color 0.2s linear;
        user-select: none;

        &:hover {
            background: var(--neutral-grey-1); // legacy
        }

        &:focus {
            background: var(--neutral-grey-2); // legacy
        }
    }

    .checkbox {
        pointer-events: none;
    }

    .label {
        flex-grow: 1;
    }

    .count {
        background-color: var(--neutral-grey-4); // legacy
        border-radius: 9px;
        color: var(--neutral-grey-0); // legacy
        font-size: 11px;
        height: 18px;
        line-height: 18px;
        padding: 0 8px;

        &.isHighlighted {
            background-color: var(--main-primary); // legacy
        }
    }
}

.axiom :local {
    .wrapper {
        border-bottom: 1px solid var(--border-neutral-secondary);

        &:hover {
            background: var(--surface-neutral-secondary);
        }

        &:focus {
            background: var(--border-neutral-default);
        }
    }

    .count {
        background-color: var(--content-neutral-tertiary);
        color: var(--elevation-neutral-default);

        &.isHighlighted {
            background-color: var(--content-accent-default);
        }
    }
}
