@import '~@gorgias/design-tokens/dist/css/typographyTokens';
@import (reference) '~css/typography';

:local {
    .header {
        display: flex;
        justify-content: space-between;
        text-align: left;
        min-height: 30px;
        padding: var(--layout-spacing-xs) var(--layout-spacing-s);
        color: var(--neutral-grey-5);
        text-transform: uppercase;
        font-family: @caption-all-caps-font-family;
        font-weight: @caption-all-caps-font-weight;
        font-size: @caption-all-caps-font-size;
        line-height: @caption-all-caps-line-height;
        background-color: var(--neutral-grey-2); // legacy
        border-bottom: 1px solid var(--neutral-grey-3); // legacy

        .resultTotal {
            color: var(--main-primary); // legacy
        }
    }
}

.axiom :local {
    .header {
        background-color: var(--surface-neutral-secondary);
        border-bottom-color: var(--border-neutral-subtle);

        .resultTotal {
            color: var(--content-primary-default);
        }
    }
}
