:local {
    .container {
        &:global.editing {
            &:last-child {
                padding-bottom: 50px;
            }

            .wrapper {
                background: white;
            }
        }

        &:global.dragging {
            .card,
            .message {
                &:not(.wrapper):not(.can-drop) {
                    background-color: #eeeeee;
                }

                .simple-field.draggable:hover {
                    border: 1px solid transparent !important;
                }
            }
        }
    }
}
