@import '~css/new/colorTokens';

:local {
    .container {
        background: @classic-neutral-grey-0;
        box-shadow: inset 0 -1px 0 @classic-neutral-grey-2;
        padding-left: 0;
        padding-right: 0;
    }

    .tab {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: @classic-neutral-grey-5;

        &:hover {
            color: @classic-main-primary;
        }
    }
}
