@import '~css/new/colors';

:local {
    .container {
        background: white;
        box-shadow: inset 0 -1px 0 @white3;
        padding-left: 0;
        padding-right: 0;
    }

    .tab {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: @secondaryGrey;

        &:hover {
            color: @blue;
        }
    }
}
