@import (reference) '~css/typography';

:local {
    .loader {
        padding-inline: 13.3px;
    }

    .errorMessage {
        color: var(--feedback-error); // legacy
        margin-left: 12.5px;
        .body-regular();
    }

    .infoMessage {
        margin-left: 12.5px;
        .body-regular();
    }
}

.axiom :local {
    .errorMessage {
        color: var(--content-error-primary);
    }
}
