:local {
    .storeName {
        padding-top: var(--layout-spacing-s);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);

        .storeSuffix {
            background-color: var(--neutral-grey-2); // legacy
            color: var(--neutral-grey-5);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.14px;
        }
    }
}

.axiom :local {
    .storeName {
        .storeSuffix {
            background-color: var(--elevation-neutral-mid);
        }
    }
}
