@import '~css/new/colors.less';

:local {
    .addressLine {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .addressItem {
        padding: 8px;
    }

    .dropdown {
        transform: translateX(1px);
        width: calc(100% - 7px);
    }

    .topPadded {
        padding-top: 7px;
    }
}
