@import '~css/new/colorTokens';
@import (reference) '~css/typography';

:local {
    .actionButton {
        .body-medium();
        color: @classic-main-primary;
        cursor: pointer;

        border: 0;
        background: none;
        padding: 0;

        &.isDisabled {
            color: @classic-neutral-grey-3;
            cursor: default;
        }

        &.hasError {
            color: @classic-feedback-error;
        }
    }

    .tooltipBoldText {
        font-weight: 700;
    }

    .radioLabel {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .radioLabelCaption {
        .body-regular();
        color: @classic-neutral-grey-6;
    }

    .selectShippingAddress {
        color: @classic-neutral-grey-4;
        text-align: center;
        font-weight: 500;
    }

    .totalsContainer {
        display: grid;
        grid-template-columns: 240px auto 100px;
        gap: 0.5rem 0;
        align-items: center;
    }

    .descriptionTitle {
        .body-medium();
        margin-bottom: 0;
        font-weight: 500;
    }

    .descriptionExtraInfo {
        color: @classic-neutral-grey-5;
        margin-bottom: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.isDisabled {
            color: @classic-neutral-grey-4;
        }
    }

    .descriptionValue {
        .body-semibold();
        margin-bottom: 0;
        display: flex;
        justify-self: flex-end;

        &.descriptionValueDisabled {
            color: @classic-neutral-grey-3;
        }

        &.descriptionValueZero {
            color: @classic-neutral-grey-4;
        }
    }

    .totalLineContainer {
        display: flex;
        justify-content: space-between;
        grid-column: span 3;

        padding-top: 0.5rem;
        margin-bottom: 0.5rem;

        border-top: 1px solid @classic-neutral-grey-3;
    }

    .totalPriceContainer {
        display: flex;
    }
}
