@import '~css/new/colors.less';

:local {
    .addressLine {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .addressItem {
        padding: 8px;
    }
}
