@import '~css/new/colorTokens';

:local {
    .grey {
        color: @classic-neutral-grey-4;
        font-weight: 500;
    }

    .value {
        font-weight: 600;
    }

    .tooltip {
        width: 14px;
    }
}
