@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        padding: 0 64px;
        background-color: var(--main-latte);
        height: 260px;
    }
    .innerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: @layout-spacing-l;
        flex: 1;
        max-width: 1070px;
    }

    .imageWrapper {
        height: 260px;
        padding: 35px 44px;
        flex: 1;
    }

    .content {
        display: flex;
        gap: @layout-spacing-xs;
        flex-direction: column;
        flex: 1;
    }

    .title {
        .heading-section-semibold();
        margin-bottom: 0;
    }

    .subtitle {
        margin-bottom: 0;
        color: var(--neutral-grey-5);
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .autoAwesome {
        color: var(--accessory-magenta-3);
        font-size: 16px;
        padding-right: 4px;
    }

    .templatesContainer {
        padding: @layout-spacing-m;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .templatesTitle {
        .heading-section-semibold();
        margin-bottom: 0;
    }

    .templatesList {
        list-style: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: @layout-spacing-s;
    }

    .showMoreLink {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
