:local .wrapper {
    .label {
        display: block;
        margin-bottom: var(--layout-spacing-xxs);

        color: var(--main-primary); // legacy
        font-weight: 500;
        font-size: 12px;
    }

    .attachments {
        display: flex;
        flex-wrap: wrap;
        margin-top: var(--layout-spacing-xxs);
    }
}

.axiom :local .wrapper {
    .label {
        color: var(--content-neutral-default);
    }
}
