@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
        // needed for ellipsis to work
        min-width: 0;
        height: 24px;
    }

    .avatar {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 24px;
        background-color: var(--main-secondary); // legacy
        color: var(--neutral-grey-0); // legacy
    }

    .image {
        background-color: transparent;
    }

    .emoji {
        background-color: transparent;
    }

    .name {
        .body-semibold();
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.axiom :local {
    .avatar {
        background-color: var(--static-additional-blue);
        color: var(--static-white);
    }
}
