:local {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;

        &[data-rendering='side-panel'] {
            width: 100%;

            .content {
                width: 100%;
            }
        }
    }

    .content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        flex-grow: 1;
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .loading {
        color: var(--content-neutral-secondary);
    }
}
