:local {
    .container {
        margin-top: var(--layout-spacing-xs);
        padding: var(--layout-spacing-xs) var(--layout-spacing-m);

        &:hover {
            background-color: var(--neutral-grey-1); // legacy
        }
        &:not(.minimal) {
            display: flex;
            column-gap: var(--layout-spacing-s);
        }

        &.sidePanel {
            padding-left: var(--layout-spacing-xs);
            padding-right: var(--layout-spacing-xs);
        }
    }

    .minimal {
        margin-top: calc(-1 * var(--layout-spacing-xxs));
    }

    .minimalBodyContainer {
        padding-left: calc(36px + var(--layout-spacing-s));
    }

    .ai {
        &:hover {
            background: var(--accessory-magenta-1); // legacy
        }
    }

    .internal {
        background: hsla(
            var(--accessory-orange-1-h),
            var(--accessory-orange-1-s),
            var(--accessory-orange-1-l),
            0.6
        ); // legacy
        box-shadow: inset 5px 0 0 0 var(--accessory-orange-2); // legacy

        &:hover {
            background: hsla(
                var(--accessory-orange-1-h),
                var(--accessory-orange-1-s),
                var(--accessory-orange-1-l),
                0.85
            ); // legacy
        }
    }

    .headerContainer {
        width: 100%;
    }
}

.ticket-thread-revamp :local {
    --avatar-size: 36px;
    --avatar-header-gap: var(--layout-spacing-xs);
    .container {
        gap: var(--avatar-header-gap);
        padding: var(--layout-spacing-xs) var(--layout-spacing-s);

        &.sidePanel {
            padding-left: var(--layout-spacing-m);
            padding-right: var(--layout-spacing-m);
        }
    }

    .minimalBodyContainer {
        padding-left: calc(var(--avatar-size) + var(--avatar-header-gap));
    }

    .ai {
        &:hover {
            background: #fef9ff;
        }
    }
}

.dark .ticket-thread-revamp :local {
    .ai {
        &:hover {
            background: #312c33;
        }
    }
}

.axiom :local {
    .container {
        &:hover {
            background-color: var(--hover-default);
        }

        &.sidePanel {
            margin-top: 0;
        }
    }

    .ai {
        &:hover {
            background: var(--surface-accent-secondary);
        }
    }

    .internal {
        background: hsla(
            var(--accessory-orange-1-h),
            var(--accessory-orange-1-s),
            var(--accessory-orange-1-l),
            0.6
        );
        box-shadow: inset 5px 0 0 0 var(--accessory-orange-2);

        &:hover {
            background: hsla(
                var(--accessory-orange-1-h),
                var(--accessory-orange-1-s),
                var(--accessory-orange-1-l),
                0.85
            );
        }

        &.sidePanel {
            box-shadow: none;
        }
    }
}
