@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography.less';

:local {
    .sectionWithBadge {
        display: flex;
        justify-content: space-between;
        padding-right: var(--layout-spacing-xs);

        .subtitle {
            text-transform: capitalize;
        }
    }

    .title {
        .heading-subsection-semibold();
        padding: 0 var(--layout-spacing-s);
    }

    .subtitle {
        .body-semibold();
        color: var(--neutral-grey-6);
    }

    .subsectionTitle {
        .heading-subsection-semibold();
        padding: 0 var(--layout-spacing-s);
    }

    .feedbackSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .metadataContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }
    .metadataSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .metadataField {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        padding: 0 var(--layout-spacing-s);

        &:first-of-type {
            margin-top: calc(var(--layout-spacing-s) - @layout-spacing-m);
        }
    }

    .container > .metadataField {
        margin-top: calc(var(--layout-spacing-xs) - @layout-spacing-m);
    }

    .metadataTitle {
        .body-regular();
        color: var(--neutral-grey-5);
    }

    .metadataText {
        .body-semibold();
        color: var(--neutral-grey-6);
    }

    .orderTitle {
        color: var(--main-primary);
    }

    .summary {
        .body-regular();
        padding: 0 var(--layout-spacing-s);
    }

    .order {
        .body-semibold();
        display: flex;
        gap: var(--layout-spacing-xxs);
        align-items: center;
        color: var(--main-primary);

        i {
            font-size: 16px !important;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--neutral-grey-1);
            color: var(--main-primary);
        }

        &.noHref {
            cursor: default !important;

            &:hover {
                i {
                    display: none;
                }
            }
        }
    }

    .summaryContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .sectionContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);

        .subtitle {
            padding: 0 var(--layout-spacing-s);
        }
    }

    .section {
        display: flex;
        gap: var(--layout-spacing-xs);
        justify-content: space-between;
        align-items: center;
        padding: var(--layout-spacing-xxs) var(--layout-spacing-s);

        &,
        &:hover {
            color: initial;
        }

        &.clickable {
            &:hover:not(:has(.feedback:hover)) {
                background-color: var(--neutral-grey-1);
                cursor: pointer;

                .sectionText {
                    color: var(--main-primary);
                    .openIcon {
                        visibility: visible;
                    }
                }
            }
        }

        .sectionText .openIcon {
            visibility: hidden;
            font-size: 16px !important;
        }
    }

    .sectionText {
        .body-regular();
        display: flex;
        gap: var(--layout-spacing-xxs);
        align-items: center;
        color: var(--neutral-grey-6);

        .leadIcon {
            font-size: 20px !important;
            margin-right: var(--layout-spacing-xxs);
        }

        .text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            color: var(--neutral-grey-6);
        }
    }

    .feedback {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .negativeFeedback,
    .positiveFeedback {
        cursor: default !important;
    }

    .positiveFeedback {
        color: var(--feedback-success-4) !important;
    }

    .negativeFeedback {
        color: var(--feedback-error) !important;
    }

    .otherResources {
        padding: 0 var(--layout-spacing-s);
    }

    .ticketEventsContainer {
        padding: 0 var(--layout-spacing-s);

        .title {
            padding: 0;
        }
    }

    .ticketImproveInfo {
        margin-top: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-s);
        font-size: 12px;
        color: var(--neutral-grey-5);

        a:hover {
            color: var(--main-primary);
            text-decoration: underline !important;
        }
    }

    .eventTypeContainer {
        display: flex;
        gap: var(--layout-spacing-s);
    }

    .executionId {
        font-size: 8px;
        padding: 0 var(--layout-spacing-s);
        display: flex;
        gap: var(--layout-spacing-xxs);
        flex-direction: column;
    }

    .selectFirstMessageWrapper {
        padding: 0 var(--layout-spacing-s);
    }

    .tooltip {
        .caption-regular();

        .tooltipSpecialText {
            font-weight: 700;
        }
    }
}
