@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
        padding: 0 @layout-spacing-s;
    }

    .dropdown {
        overflow-y: auto;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: @layout-spacing-xxs;
    }
}
