@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        padding: 0 @layout-spacing-s;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }
    .label {
        padding: 0 20px var(--layout-spacing-xs) 0;

        i {
            font-size: 16px;
        }
    }

    .dropdown {
        max-width: 302px;
        max-height: 320px;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: var(--layout-spacing-xxs);
    }

    .tag {
        overflow: hidden;
    }

    .tagText {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
