:local {
    .header {
        margin-top: var(--layout-spacing-s);
    }

    .editorContainer {
        gap: var(--layout-spacing-xxs);
        flex: 1;
    }

    .guidanceEditorContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
        height: 100%;
    }

    .footer {
        gap: var(--layout-spacing-xs);
        height: 64px;

        .deleteButton {
            margin-left: auto;
        }
    }
}
