:local {
    .container {
        display: flex;
        align-items: center;
        height: 27px;
    }

    .dropdownToggle {
        display: flex;
        align-items: center;
        padding: 0;
        background: transparent;
        color: var(--neutral-grey-6);
        &:after {
            margin-left: 4px;
        }
    }

    .newChannelIcon {
        width: 17px;
        height: 17px;
    }
}
