@import '~css/new/colorTokens';

:local .popover {
    border-style: none;
    box-shadow: 0 0 4px fade(@modern-neutral-neutral-6, 20%);

    :global .popover-body {
        padding: 16px;
    }

    .button {
        font-size: 12px;
        height: 24px;
        padding: 0 7px;
    }
}
