@import '~css/new/colors';

:local .component {
  display: flex;
  align-items: flex-start;
  padding: .5rem;
  border-bottom: 1px solid @darkQuartz;

  .dropdownToggle {
    padding: 0;
    background: transparent;

    color: @indigo;

    &:after {
      margin-left: 4px;
    }
  }
}
