@import '~css/new/colorTokens';

:local .component {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem;
    border-bottom: 1px solid @classic-neutral-grey-3;

    .dropdownToggle {
        padding: 0;
        background: transparent;
        color: @classic-neutral-grey-6;

        &:after {
            margin-left: 4px;
        }
    }

    .sourceLabel {
        padding-left: 20px;

        font-size: 13px;
        font-weight: 500;
    }
}
