@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';

:local {
    .container {
        margin-right: @layout-spacing-xs;
    }

    .dropdownItem {
        display: flex;
        align-items: center;
        gap: @layout-spacing-xs;

        i {
            font-size: 20px;
        }
    }

    .checkIcon {
        color: @classic-neutral-grey-4;
    }
}
