@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        margin-right: var(--layout-spacing-xs);
    }

    .dropdownItem {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);

        i {
            font-size: 20px;
        }
    }

    .checkIcon {
        color: var(--neutral-grey-4);
    }
}
