@import '~css/new/colorTokens';
@import '~css/new/mixins';

:local .component {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    background: @classic-neutral-grey-1;

    .content {
        display: flex;
        height: 100%;
    }

    .macroList {
        flex: 1;
        padding: 9px 5px;
    }

    .previewContainer {
        position: static;
        height: 100%;
        width: 70%;
        flex-grow: 0;
        flex-shrink: 0;

        @media @mobiles {
            display: none;
        }
    }

    .preview {
        padding: 1em;
        height: 100%;
        overflow-y: scroll;
        background: @classic-neutral-grey-0;
        border-left: 1px solid @classic-neutral-grey-3;
    }

    .manageMacros {
        position: absolute;
        top: 1.4em;
        right: 2em;
        z-index: 10;
        padding: 0.2em 0.4em;

        text-align: center;
    }

    .deletePopoverTarget {
        visibility: hidden;
        position: absolute;
        height: 20%;
        width: 90%;
    }
}
