:local {
    .component {
        padding-bottom: 0.4rem;
        background: var(--neutral-grey-2);
        border-top: 1px solid var(--neutral-grey-3);
        flex-wrap: wrap;
        text-align: right;
    }

    .buttons,
    .tip {
        margin: 0.8rem 0.5rem 0.4rem 0.5rem;
    }
}
