:local {
    .actions {
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        background: var(--neutral-grey-2);
        border-top: 1px solid var(--neutral-grey-3);
        cursor: pointer;

        .title {
            font-size: 1.1em;
            font-weight: 600;
        }

        .actionIcon {
            font-size: 20px;
        }

        .collapseIcon {
            position: absolute;
            font-size: 20px;
            right: 10px;
            color: var(--neutral-grey-4);
        }
    }

    .scrollable {
        overflow-y: auto;
        max-height: 325px;
    }
}
