@import '~css/new/colors';

:local .component {
    height: 40px;
    border-bottom: 1px solid @classic-neutral-grey-3;
    padding-right: 3em;

    input:focus {
        box-shadow: none;
    }

    .closeButton {
        position: absolute;
        right: 0;
    }
}
