@import '~css/new/colors';
@import '~css/new/colorTokens';

:local .actions {
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    background: @classic-neutral-grey-2;
    border-top: 1px solid @classic-neutral-grey-3;
    cursor: pointer;

    .badge {
        margin-top: -0.1rem;
    }

    .title {
        font-size: 1.1em;
        font-weight: 600;
    }

    .actionIcon {
        font-size: 20px;
    }

    .collapseIcon {
        position: absolute;
        font-size: 20px;
        right: 10px;
        color: @classic-neutral-grey-4;
    }
}
