@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .whatsAppTemplateEditor {
        width: 100%;
        display: flex;
        flex-direction: column;

        .whatsAppTemplateContent {
            background-color: var(--neutral-grey-1);
            padding: var(--layout-spacing-s);
        }
    }
}
