@import '~@gorgias/design-tokens/dist/css/layout.less';
@import '~css/new/mixins';

:local {
    .container {
        display: flex;
        width: 100%;
        height: 226px;
    }

    .noResults {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--layout-spacing-xs);
        background-color: var(--neutral-grey-1);
        text-align: center;
        padding: @layout-spacing-s;
    }

    .templateMessage {
        padding: @layout-spacing-s;
        overflow-y: scroll;
        flex: 1;
    }

    .list {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 40%;
        color: var(--neutral-grey-6);
        font-size: 13px;
        font-weight: 500;
        padding: var(--layout-spacing-xs);
        border-right: 1px solid var(--neutral-grey-3);

        @media @mobiles {
            width: 100%;
        }

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: @layout-spacing-xxs;
            padding: var(--layout-spacing-xs);
            border-radius: 4px;
            cursor: pointer;

            &.active {
                background-color: var(--neutral-grey-2);
                color: var(--main-primary);
            }

            &.disabled {
                cursor: not-allowed;
                color: #c2c2c2;
            }
        }

        .name {
            word-break: break-all;
        }

        .flag {
            font-size: 20px;
        }
    }
}
