:local {
    .toggleContainer {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .customToggle {
        display: flex;
        flex-direction: column;

        img {
            display: none;
        }
    }

    .customToggleWarning {
        color: var(--content-neutral-secondary, #5c6370);
        display: flex;
        padding-left: 42px;
        width: fit-content;

        &:hover {
            color: var(--content-neutral-secondary, #5c6370);
        }
    }

    .chatAddress {
        text-decoration-line: underline;
        text-decoration-style: solid;
    }
}
