@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--layout-spacing-l);
        padding: 0 var(--layout-spacing-m) var(--layout-spacing-xxs);
    }

    .leftContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--layout-spacing-m);
        padding-left: var(--layout-spacing-xxs);

        > span {
            color: var(--content-neutral-secondary);
        }
    }

    .image {
        width: 220px;
        height: 220px;

        border-radius: 12px;
    }
}
