@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--layout-spacing-l);
        padding: 0 var(--layout-spacing-m) var(--layout-spacing-xxs);
    }

    .leftContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--layout-spacing-m);
        padding-left: var(--layout-spacing-xxs);

        > span {
            color: var(--content-neutral-secondary);
        }
    }

    .image {
        width: 220px;
        height: 220px;

        border-radius: 12px;
    }

    .playgroundDrawer {
        border-radius: 16px;
        background: var(--elevation-neutral-high, #fff);
        box-shadow: var(--effects-shadow-container);

        height: auto !important;
        top: var(--layout-spacing-xs) !important;
        right: var(--layout-spacing-xs) !important;
        bottom: var(--layout-spacing-xs) !important;

        max-width: 480px !important;
        min-width: 480px;
    }

    .playgroundDrawerHeader {
        border-bottom: 1px solid var(--border-neutral-default, #ebecef);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        display: flex;
        height: 58px;
        padding: 12px 16px;
        align-items: center;
        gap: 16px;
        align-self: stretch;

        h4 {
            margin: 0;
        }
    }

    .playgroundDrawerHeaderActions {
        i {
            color: var(--content-neutral-default);
            font-size: 16px;
        }
    }
}

:global(.hide-reset-button) .resetButton {
    display: none;
}
