@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--layout-spacing-l);
        padding: 0 var(--layout-spacing-m) var(--layout-spacing-xxs);
    }

    .leftContent {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
        padding-left: var(--layout-spacing-xxs);

        > span {
            color: var(--content-neutral-secondary);
        }
    }

    .stepDescription {
        a {
            color: var(--content-neutral-secondary, #5c6370);
            text-decoration: underline !important;

            &:hover {
                color: var(--content-neutral-secondary, #5c6370);
            }
        }
    }

    .dropdownButton {
        width: fit-content;
    }

    .image {
        width: 220px;
        height: 220px;

        border-radius: 12px;
    }

    .highlight {
        color: var(--content-neutral-default, #1e242e);

        font-weight: 600;
    }
}
