@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/typography';

:local {
    .title {
        .heading-section-semibold();
        padding-top: @layout-spacing-s;
        margin-bottom: @layout-spacing-xxs;
    }

    .subtitle {
        .heading-subsection-regular();
        color: var(--neutral-grey-5);
        margin-bottom: @layout-spacing-m;
    }

    .channelsSection {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xxs;
    }
}
