:local {
    .fieldLabel {
        padding-right: var(--layout-spacing-s);
        color: var(--neutral-grey-5); // legacy
    }

    .isDisabled {
        cursor: not-allowed;
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .fieldLabel {
        color: var(--content-neutral-tertiary);
        width: 40%;

        // .typography-regular-md
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
    }

    .isDisabled {
        color: var(--content-neutral-secondary);
    }
}
