:local {
    .fieldValue {
        flex-grow: 1;
        align-self: flex-end;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        // the property belows prevents subcomponents (e.g. MultiSelectOptionsField) from auto-overflowing
        // without preventing elements to overflow when desired (with absolute positioning)
        min-width: 0;
    }

    .isDisabled {
        cursor: not-allowed;
        color: var(--neutral-grey-4); // legacy
    }

    .isNotBold {
        font-weight: normal;
    }

    .overflow {
        overflow: visible;
    }
}

.axiom :local {
    .fieldValue {
        width: 60%;

        // .typography-bold-md
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0;
    }

    .isDisabled {
        color: var(--content-neutral-secondary);
    }
}
