@import (reference) '~css/new/colorTokens';

:local {
    .base {
        padding: 0;
    }

    .danger {
        color: @classic-feedback-error !important;

        &:hover {
            color: @classic-feedback-error-3 !important;
        }
    }

    .neutral {
        color: @classic-neutral-grey-4 !important;

        &:hover {
            color: @classic-neutral-grey-5 !important;
        }
    }
}
