@import (reference) '~css/new/colorTokens';

:local {
    .base {
        padding: 0;
    }

    .danger {
        color: @classic-feedback-error;

        &:hover {
            color: @classic-feedback-error-3;
        }
    }

    .neutral {
        color: @classic-neutral-grey-4;

        &:hover {
            color: @classic-neutral-grey-5;
        }
    }
}
