@import '~css/typography.less';

:local {
    .formParamSection {
        margin: var(--layout-spacing-m) 0 var(--layout-spacing-s);
        .heading-section-semibold();
    }

    .formParamRow {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: stretch;
        margin-bottom: var(--layout-spacing-s);

        .formParamSelect {
            flex: 1 1 10%;
        }

        .formParamLargeCol {
            flex: 1 1 90%;
        }
    }

    .selectLabel {
        margin-bottom: var(--layout-spacing-xs);
    }
}
