@import '~css/typography';
@import '~css/util';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .skeletonCard {
        border-radius: var(--layout-spacing-xs);
        border: 1px solid var(--neutral-grey-2);
        background: var(--neutral-grey-1);
    }

    .sidebar {
        display: flex;
        width: 300px;
        min-height: 0; // Critical for flexbox overflow
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        border-radius: var(--sm-12, 12px);
        border: 1px solid var(--neutral-grey-2);
        background: var(--neutral-grey-0) !important;
        overflow: hidden;
    }

    @media (max-width: 1024px) {
        .sidebar {
            display: none;
        }
    }

    .emptyState {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--layout-spacing-s);
        gap: var(--layout-spacing-xs);
        text-align: center;
        h3 {
            .body-semibold();
            color: var(--neutral-grey-6);
        }
        p {
            .body-regular();
            color: var(--neutral-grey-5);
        }
    }

    .header {
        width: 100%;
        padding: var(--layout-spacing-s);
        border-bottom: 1px solid var(--neutral-grey-2);
        flex-shrink: 0; // Prevent header from shrinking
        display: flex;
        align-items: center;
        gap: 4px;
        height: 56px;
    }

    .title {
        .heading-subsection-semibold();
        font-size: 16px;
        margin: 0;
    }

    .containerContent {
        flex: 1;
        min-height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var(--neutral-grey-0) !important;
        overflow: hidden;
    }

    .emptyState {
        .caption-regular();
        color: var(--neutral-grey-6);
    }

    .itemCount {
        .caption-regular();
        color: var(--neutral-grey-6);
        padding-left: var(--layout-spacing-s);
        padding-right: 10px;
        padding-top: var(--layout-spacing-xs);
        padding-bottom: var(--layout-spacing-xs);
        margin: 0;
        line-height: 44px;
    }

    .cardsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: var(--layout-spacing-xs);
        padding-top: 0;
    }

    .virtuosoContainer {
        flex: 1;
        min-height: 0;
        padding-left: var(--layout-spacing-xs);
        padding-right: var(--layout-spacing-xs);

        :global([data-virtuoso-scroller]) {
            scrollbar-color: var(--neutral-grey-3) var(--neutral-grey-0);
            scrollbar-width: thin;

            &::-webkit-scrollbar-thumb {
                visibility: initial;
            }

            &::-webkit-scrollbar-track {
                background-color: var(--neutral-grey-0);
            }
        }
    }
}
