@import '~css/new/colorTokens';

:local {
    .menuWrapper {
        border: none;
        background: none;
        box-shadow: none;
        margin-top: -1px;
        padding: 4px 0 0 0;
        line-height: 0.8em;
        min-width: 272px;
    }

    .menu {
        border: 1px solid @classic-neutral-grey-3;
        background: @modern-neutral-neutral-0;
        box-shadow: 0 2px 4px fade(@modern-neutral-neutral-6, 16%);
        border-radius: 4px;
    }

    .actions {
        padding: 6px;
    }

    .dropdown {
        line-height: initial;
    }

    .dropdownToggle {
        cursor: pointer;
        padding: 0;
        margin-right: 5px;
        height: 26px;
        width: 26px;

        .ticket-message:not(:hover) &:not([aria-expanded='true']) {
            display: none;
        }
    }
}
