@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';
@import '~css/new/mixins';

:local {
    .cards {
        padding: @layout-spacing-m;
    }

    .logo {
        width: @layout-spacing-l;
    }

    .section {
        margin: var(--layout-spacing-s) 0;

        .sectionLabel {
            .body-semibold();
            margin-bottom: var(--layout-spacing-xxs);
        }

        .sectionDescription {
            margin-bottom: @layout-spacing-xl;
        }
    }

    .connectCards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--layout-spacing-xs);
        margin-top: @layout-spacing-m;
        margin-bottom: @layout-spacing-l;

        & > * {
            flex: 1;
        }

        @media @mobiles {
            width: 100%;
            flex-direction: column;
        }
    }

    .emailIcon {
        font-size: 32px;
        color: var(--neutral-grey-6);
    }
}
