@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .logo {
        width: 32px;
    }

    .section {
        margin: @layout-spacing-s 0;

        .sectionLabel {
            .body-semibold();
            margin-bottom: @layout-spacing-xxs;
        }

        .sectionDescription {
            margin-bottom: @layout-spacing-xl;
        }
    }

    .connectCards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: @layout-spacing-xs;
        margin-top: @layout-spacing-m;
        margin-bottom: @layout-spacing-l;

        & > * {
            flex: 1;
        }
    }
}
