@import '~css/new/colors';

:local .form {
    max-width: 400px !important;
}

:local .connectButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 50px;
    width: 100%;

    &.gmailButton {
        background: @google;
        border-color: @google;

        span {
            color: @classic-neutral-grey-0;
        }

        &:hover {
            background-color: darken(@google, 5%) !important;
            border-color: darken(@google, 5%) !important;
        }
    }

    &.outlookButton {
        background-color: @office356 !important;
        border-color: @office356 !important;

        span {
            color: @classic-neutral-grey-0;
        }

        &:hover {
            background-color: darken(@office356, 5%) !important;
            border-color: darken(@office356, 5%) !important;
        }
    }

    img {
        width: 46px;
    }

    span {
        width: 100%;
    }
}

:local .gmail-icon {
    /* perfect alignment */
    position: relative;
    top: 5px;
    right: 10px;
    margin-top: -10px;
}
