@import '~css/new/mixins';

:local {
    .paymentInformationColumn {
        padding-right: 12px;
    }

    .planCardColumn {
        padding-left: 12px;
    }

    .planCardBody {
        max-height: 700px;
        overflow: auto;
    }

    .billingAddressHeader {
        margin-top: 18px;
    }

    .formColumn :global .control-label {
        white-space: nowrap;
    }

    .formFooter {
        margin-bottom: 24px;
        margin-top: 18px;
    }

    .formRow {
        margin: 0 -8px;
    }

    .formColumn {
        padding: 0 8px;
    }
}
