:local {
    .dot {
        height: 8px;
        width: 8px;
        border-radius: 2px;
    }

    .label {
        color: color-mix(
            in srgb,
            var(--content-inverted-default) 50%,
            transparent
        );
    }

    .name,
    .value {
        color: var(--content-inverted-default);
    }

    .value {
        font-weight: var(--rnf-font-weight-semibold);
    }

    .card {
        background-color: var(--surface-inverted-default);
    }
}

.axiom :local {
}
