:local {
    .container {
        display: inline-block;
        position: relative;
        z-index: 2;
    }

    .input {
        width: 160px;
    }

    .leftLabel,
    .rightLabel {
        position: absolute;
        top: 0;
        height: 100%;
        padding: 0.45rem;
        color: #95a7b7;
        pointer-events: none;
        overflow: hidden;
        text-align: right;
    }

    .leftLabel {
        left: 0;
    }

    .rightLabel {
        right: 0;
    }
}
