@import (reference) '~css/typography.less';
@import (reference)
    'pages/aiAgent/Onboarding/layout/ConvAiOnboardingLayout.less';

:local {
    .form {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .cardHeader {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: var(--layout-spacing-xs);

        [class*='cardTitle'] {
            width: 100%;
        }
    }

    .cardImage {
        @media @tablets-up {
            width: 100px;
            min-width: 100px;
            height: 100px;
            min-height: 100px;
            border-radius: 8px !important;
        }
    }

    .closeButton {
        background-color: var(--neutral-grey-1) !important; // legacy
        border: none;
        box-shadow: none;

        &:hover {
            background-color: var(--neutral-grey-1) !important; // legacy
            border: none;
            box-shadow: none;
        }
    }
}

.axiom :local {
    .closeButton {
        background-color: var(--elevation-neutral-mid) !important;

        &:hover {
            background-color: var(--elevation-neutral-mid) !important;
        }
    }
}
