:local {
    .appRow {
        display: flex;
        align-items: center;
        height: 56px;
        padding-left: 16px;
    }

    .appLink {
        text-align: right;
        align-self: center;
    }
}
