@import (reference) '~css/typography.less';

:local {
    .currentlyViewingDropdown {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .currentlyViewingDropdownHeader {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: center;
    }

    .dropdownButton {
        border: 1px solid #e0e0e0 !important;
        width: 100%;
        justify-content: flex-start;
        gap: var(--layout-spacing-xs);
        text-transform: none;
        > span {
            width: 100%;
            gap: var(--layout-spacing-xs);
        }
    }

    .channelTypeSettingsLink,
    .channelTypeSettingsLink:hover {
        color: var(--neutral-grey-5); // legacy
    }

    .channelIcon {
        color: var(--neutral-grey-4); // legacy
        font-size: 20px !important;
    }

    .arrowDown,
    .dropDownLabel {
        color: var(--neutral-grey-6); // legacy
    }

    .dropdownGroup {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .dropdownGroupLabel {
        .caption-allcaps();
        color: var(--main-primary); // legacy
    }

    .dropdownGroupSeparator {
        margin-top: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-xs);
    }

    .dropdownGroupLink {
        color: var(--neutral-grey-6); // legacy
        text-decoration: none;
        &:hover {
            color: var(--neutral-grey-5); // legacy
        }
    }

    .dropdownItem {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: center;
    }

    .dropdownButtonSpacer {
        flex: 1;
    }

    .dropdownCtaItem {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: center;
        color: var(--main-primary); // legacy
        .body-regular();
    }

    .chatCtaIcon {
        color: var(--main-primary); // legacy
        font-size: 20px;
    }
}

.axiom :local {
    .channelTypeSettingsLink,
    .channelTypeSettingsLink:hover {
        color: var(--content-neutral-default);
    }

    .channelIcon {
        color: var(--content-neutral-secondary);
    }

    .arrowDown,
    .dropDownLabel {
        color: var(--content-neutral-default);
    }

    .dropdownGroupLabel {
        color: var(--content-accent-default);
    }

    .dropdownGroupLink {
        color: var(--content-neutral-default);
        &:hover {
            color: var(--content-neutral-default);
        }
    }

    .dropdownCtaItem {
        color: var(--content-accent-default);
    }

    .chatCtaIcon {
        color: var(--content-accent-default);
    }
}
