@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xxs);
    }

    .toggleContainer {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: center;
    }

    .warningText {
        color: var(--feedback-warning); // legacy
    }

    .toggle {
        margin-top: var(--layout-spacing-s);
        width: 100%;
    }

    .title {
        .heading-section-semibold();
        font-size: 16px;
    }

    .titleWrapper {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: center;
    }

    .icon {
        color: var(--neutral-grey-5); // legacy
        font-size: 16px !important;
    }
}

.axiom :local {
    .warningText {
        color: var(--content-warning-primary);
    }

    .icon {
        color: var(--content-neutral-default);
    }
}
