@import (reference) '~css/typography.less';

:local {
    .workflowDropdownItem {
        flex-direction: column;
        align-items: unset;
        padding-top: var(--layout-spacing-xs);
        padding-bottom: var(--layout-spacing-xs);
        .body-regular();
    }

    .workflowListItemButtons {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: var(--layout-spacing-xxs);
    }
}
