@import (reference) '~css/typography';

:local {
    .featuresList {
        background-color: var(--feedback-error-0); // legacy
        border-radius: 12px;
        padding: var(--layout-spacing-m);
        gap: var(--layout-spacing-s);
    }

    .customList {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .listItem {
        display: flex;
        align-items: flex-start;
        line-height: 1.5;
        gap: var(--layout-spacing-xs);
    }

    .listIcon {
        color: var(--feedback-error); // legacy
        font-size: 18px;
        margin-top: 2px;
        flex-shrink: 0;
    }
}

.axiom :local {
    .featuresList {
        background-color: var(--surface-error-default);
    }

    .listIcon {
        color: var(--content-error-default);
    }
}
