:local {
    .container {
        border-radius: 9px;
        padding: 2px;
        height: 18px;
        &:global(.primary) {
            background: hsla(
                var(--main-primary-h),
                var(--main-primary-s),
                var(--main-primary-l),
                0.1
            );
            color: var(--yotpoBlue);
        }
        &:global(.secondary) {
            background-color: hsla(
                var(--neutral-grey-4-h),
                var(--neutral-grey-4-s),
                var(--neutral-grey-4-l),
                0.1
            );
            color: var(--neutral-grey-4); // legacy
        }
    }
    .children {
        padding-left: 3px;
        padding-right: 3px;
        opacity: 1;
        font-weight: 500;
        font-size: 12px;
    }
    .icon {
        padding-top: 1px;
        font-size: 14px;
        vertical-align: text-top;
        opacity: 1;
    }
}

.axiom :local {
    .container {
        &:global(.secondary) {
            color: var(--content-neutral-secondary);
        }
    }
}
