:local {
    .container {
        margin-top: 10px;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    .missingData {
        margin-top: 1rem;
    }

    .children {
        margin: 1rem;
    }

    .label {
        font-size: 13px;
        font-weight: normal;
    }

    .greenThumb {
        font-size: 13px;
        padding: 0.25rem;
        border-radius: 15px;
        background-color: var(--feedback-success); // legacy
        color: var(--neutral-grey-0); // legacy
        margin-left: 5px;
    }

    .redThumb {
        size: 20px;
        padding: 5px;
        border-radius: 15px;
        background-color: var(--feedback-error); // legacy
        color: var(--neutral-grey-0); // legacy
        margin-left: 5px;
    }
}

.axiom :local {
    .greenThumb {
        background-color: var(--surface-success-primary);
        color: var(--content-inverted-default);
    }

    .redThumb {
        background-color: var(--surface-error-primary);
        color: var(--content-inverted-default);
    }
}
