:local {
    .title {
        color: var(--yotpoBlue);
        font-size: 15px;
    }
    .inventory {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    .afterTitle {
        display: flex;
        align-items: center;
        // prevent ReactStars from breaking drag and drop
        // with absolute positioning outside of screen
        // for some a11y reasons
        [role='status'] {
            display: none;
        }
    }

    .reviewImage {
        width: 80px;
        height: 80px;
        box-shadow: 0 1px 1px
            hsla(
                var(--neutral-grey-3-h),
                var(--neutral-grey-3-s),
                var(--neutral-grey-3-l),
                0.9
            );
        border-radius: 3px;
        margin-right: 11px;
        margin-bottom: 6px;
    }

    .reviewFooterThumb {
        size: 20px;
        padding: 5px;
        border-radius: 15px;
        background-color: var(--neutral-grey-4); // legacy
        color: var(--neutral-grey-6); // legacy
        margin: 0 5px;
    }
}

.axiom :local {
    .reviewFooterThumb {
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);
    }
}
