@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography.less';

:local {
    .wrapper {
        .body-regular();
        text-align: center;
        width: 400px;
        margin: 25vh auto 0;
    }

    .image {
        width: 270px;
        margin-bottom: var(--layout-spacing-m);
    }

    .title {
        .heading-section-semibold();
        margin-bottom: var(--layout-spacing-xs);
    }

    .text {
        margin-bottom: var(--layout-spacing-m);
    }
}
