:local {
    .title {
        font-size: 16px;
        line-height: 24px;

        i {
            padding-right: 4px;
        }

        padding-bottom: 16px;
    }

    .infoIcon {
        margin-left: 4px;
        color: var(--neutral-grey-4);
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 16px;
        width: 100%;
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;
    }

    .cardNoBorder {
        composes: card;
        border: none;
        padding: 0;
    }
}
