:local {
    .title {
        font-size: 16px;
        line-height: 24px;

        i {
            padding-right: 4px;
        }

        padding-bottom: 16px;
    }

    .infoIcon {
        margin-left: 4px;
        color: var(--neutral-grey-4); // legacy
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 16px;
        width: 100%;
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
    }

    .cardNoBorder {
        composes: card;
        border: none;
        padding: 0;
    }
}

.axiom :local {
    .infoIcon {
        color: var(--content-neutral-secondary);
    }

    .card {
        padding: var(--spacing-md);
        border-radius: var(--spacing-sm);
        border: 1px solid var(--border-neutral-default);
        background-color: var(--elevation-neutral-mid);
        box-shadow: var(--effects-shadow-container);
        color: var(--content-neutral-default);
    }
}
