:local {
    .handle {
        flex-shrink: 0;
        position: relative;
        z-index: 2;
        width: 6px;
        margin: 0 -3px;
        cursor: col-resize;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 3px;
            bottom: 0;
            width: 1px;
            background-color: var(--neutral-grey-3);
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 1px;
            bottom: 0;
            width: 3px;
            background-color: var(--main-primary-1); // legacy
            opacity: 0;
            transition-property: opacity;
            transition-duration: 0.25s;
            transition-delay: 0ms;
            pointer-events: none;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

.axiom :local {
    .handle {
        &::after {
            background-color: var(--surface-additional-blue);
        }
    }
}
