@import '~css/new/colors';

:local {
    .facebookButton {
        border-width: 0;
        border-radius: 4px;
        padding: 0px 12px;
        transition: background-color 0.2s linear;

        &.primary {
            background-color: @facebookBlue !important;
            color: white;

            &:hover,
            &:active,
            &:focus {
                background-color: darken(@facebookBlue, 5%);
            }
        }

        .facebookLogo {
            width: 21px;
            margin-top: -2px;
            margin-right: 6px;
        }
    }
}
