@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .icon {
        height: 20px;
        width: 20px;
        object-fit: contain;
        vertical-align: baseline;
    }

    .name {
        .body-semibold();

        margin-left: var(--layout-spacing-xs);
    }
}
