@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        align-items: center;
    }

    .label {
        .body-semibold();
    }

    .asterisk {
        color: var(--feedback-error); // legacy
        margin-left: var(--layout-spacing-xxs);
    }

    .tooltip {
        ul {
            margin-bottom: unset;
            padding-inline-start: 20px;
        }
    }
}

.axiom :local {
    .asterisk {
        color: var(--content-error-primary);
    }
}
