@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import '~@gorgias/design-tokens/dist/css/typographyTokens';

:local {
    .pageContainer {
        padding: var(--layout-spacing-m);
    }

    .mainLoader {
        padding-bottom: var(--layout-spacing-l);
    }

    .loader {
        padding: 0;
    }

    .variantTable {
        .headerCellTitle {
            color: var(--neutral-grey-4);
        }
    }

    .nameWrapper {
        display: flex;
        flex-direction: column;

        .nameLink {
            color: var(--neutral-grey-6);
            font-weight: @body-link-font-weight;

            &:hover {
                color: var(--main-primary-2);
            }
        }
    }

    .tableContainer {
        width: 100%;

        overflow-x: scroll;
    }

    .winnerBadge {
        width: 100%;
        display: block;
        margin-top: var(--layout-spacing-xs);
    }
}
