@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .pageContainer {
        padding: @layout-spacing-m;
    }

    .mainLoader {
        padding-bottom: @layout-spacing-l;
    }

    .loader {
        padding: 0;
    }

    .variantTable {
        .headerCellTitle {
            color: var(--neutral-grey-4);
        }
    }
}
