:local {
    .headerActions {
        gap: var(--layout-spacing-xs);
        a {
            font-size: 12px;
            font-weight: 500;
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .drawerForm {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
    }

    .tightDrawerForm {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .formSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .deleteIcon {
        color: var(--feedback-error);
    }
}

.axiom :local {
    .deleteIcon {
        color: var(--content-error-primary);
    }
}
