:local {
    .headerActions {
        gap: var(--layout-spacing-xs);
        a {
            font-size: 12px;
            font-weight: 500;
        }
    }

    .deleteIcon {
        color: var(--feedback-error);
    }
}

.axiom :local {
    .deleteIcon {
        color: var(--content-error-primary);
    }
}
