@import '~css/typography';

:local {
    .drawer {
        right: 0 !important;
        background-color: var(--neutral-grey-0) !important;
        max-width: 612px !important;
        width: 612px !important;

        grid-template-areas:
            'header'
            'main' !important;
        grid-template-rows: 64px auto !important;
    }

    .drawerHeader {
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .learnMoreLink {
        display: flex;
        justify-content: end;

        a {
            font-size: 12px;
            font-weight: 500;
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .drawerForm {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
        //padding-top: var(--layout-spacing-s);
    }

    .tightDrawerForm {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .formWithSeparator {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);

        & > *:not(:last-child) {
            padding-bottom: var(--layout-spacing-m);
            border-bottom: 1px solid var(--neutral-grey-2);
        }
    }

    .formSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);

        .sectionHeader {
            display: flex;
            flex-direction: column;
            padding-bottom: var(--layout-spacing-xs);
            gap: var(--layout-spacing-xxs);
        }

        .sectionTitle {
            .heading-subsection-semibold();
        }

        .sectionDescription {
            color: var(--neutral-grey-5);
        }
    }

    .deleteIcon {
        color: var(--feedback-error);
    }
}

.axiom :local {
    .deleteIcon {
        color: var(--content-error-primary);
    }
}
