@import (reference) '~css/typography';
@import (reference) '~css/new/mixins';

:local {
    .title {
        .heading-section-semibold();
        margin-bottom: 0;
    }

    .tooltipIcon {
        margin-left: 4px;
        font-size: 16px;
        color: var(--neutral-grey-4); // legacy
    }

    .tooltip {
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.axiom :local {
    .tooltipIcon {
        color: var(--content-neutral-secondary);
    }
}
