@import '~@gorgias/axiom/tokens/typography.css';

:local {
    .groupList {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .task {
        width: 142px;
        display: flex;
        justify-content: flex-start;
        padding: var(--layout-spacing-xs);
        align-items: center;
        gap: var(--layout-spacing-xxs);
        align-self: stretch;
        color: var(--content-neutral-secondary);

        &:hover {
            cursor: pointer;
        }
    }

    .selected {
        border-radius: var(--layout-spacing-xs);
        background: var(--surface-neutral-secondary);
        color: var(--content-neutral-default);
        font-weight: var(--rnf-font-weight-semibold);
    }

    .completed {
        padding-left: var(--layout-spacing-xs);
        opacity: 0.5;
    }
}
