@import '~@gorgias/axiom/tokens/typography.css';

:local {
    .setupTaskBodies {
        gap: var(--layout-spacing-m);
        padding-left: 28px;
    }

    .setupTaskDescription {
        margin-bottom: var(--layout-spacing-s);
        color: var(--content-neutral-secondary);
    }

    .toggleButton {
        margin-right: auto;
    }
}
