@import '~css/new/colorTokens';

:local {
    .container {
        position: relative;
        .copy-button {
            position: absolute;
            z-index: 1000000;
            top: 16px;
            right: 16px;
        }
    }
}
