:local {
    .analyticsCard {
        border: 1px solid var(--neutral-grey-2); // legacy
        border-radius: var(--layout-spacing-s);
        width: 100%;
        min-height: 355px;
    }

    .analyticsContent {
        display: flex;
        flex-direction: column;
        padding: 0px var(--layout-spacing-s) var(--layout-spacing-m)
            var(--layout-spacing-s);
        padding-top: 0px;

        &--empty {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    .status {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--layout-spacing-xs);
        padding: var(--layout-spacing-s) 0px;
        font-size: 16px;
        font-weight: 600;
    }

    .statusBadge {
        border-radius: var(--layout-spacing-s);
        width: fit-content;
        padding: var(--layout-spacing-xxs) var(--layout-spacing-xs);

        font-size: 12px;
        font-weight: 600;
        color: var(--neutral-grey-0); // legacy

        &--active {
            background: var(--Feedback-Variations-Success_3, #20c08c); // legacy
        }
        &--paused {
            background: rgba(239, 76, 0, 0.2); // legacy
            color: #ef4c00; // legacy
        }
    }
}

.axiom :local {
    .analyticsCard {
        border: 1px solid var(--border-neutral-default);
    }

    .statusBadge {
        color: var(--content-inverted-default);

        &--active {
            background: var(--surface-success-primary);
        }
        &--paused {
            background: var(--surface-warning-primary);
            color: var(--content-warning-primary);
        }
    }
}
