@import '~css/new/colors.less';
@import '~css/new/mixins.less';

:local {
    .form {
        display: flex;
        margin-bottom: 2em;
    }

    .fieldset {
        flex: 1;
        padding-right: 2em;
    }

    .redStar {
        color: @red;
    }

    .radioButtonGroup {
        display: flex;
        margin-bottom: 20px;
        padding-right: 2em;
    }

    .offsetChatPreview {
        margin-top: 2em;
    }

    @media @large-desktops {
        .offsetChatPreview {
            margin-top: 0;
        }
    }
}
