:local {
    .container {
        display: inline-flex;
        gap: 4px;
        padding: var(--layout-spacing-xxs);
        border: 1px solid var(--neutral-grey-3);
        border-radius: var(--layout-spacing-xxs);
    }
}
