@import (reference) '~css/typography.less';

:local {
    .loginCard {
        padding: 36px 0;
        border-radius: 4px;
        background: var(--neutral-grey-1); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: var(--neutral-grey-6); // legacy

        .loginCardContent {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 344px;
            width: 100%;
            gap: 16px;
        }

        .radioButtonsGroup {
            display: flex;
            gap: 8px;
            align-items: center;
            width: 100%;
        }

        .radioButton {
            background: var(--neutral-grey-0); // legacy
            padding: 16px;
            border-radius: var(--layout-spacing-xxs);
            border: 1px solid var(--neutral-grey-3); // legacy
            width: 100%;
        }

        .label {
            font-size: @heading-sub-section-regular-font-size;
        }
    }
}

.axiom :local {
    .loginCard {
        background: var(--elevation-neutral-mid);
        border: 1px solid var(--border-neutral-default);
        color: var(--content-neutral-default);

        .radioButton {
            background: var(--elevation-neutral-default);
            border: 1px solid var(--border-neutral-default);
        }
    }
}
