@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xxs;
    }

    .buttonInfo {
        .caption-regular();
        color: var(--neutral-grey-5);
    }
}
