@import (reference) '~css/typography';

:local {
    .container {
        width: 100%;
        max-width: 1024px;
        background-color: var(--neutral-grey-0); // legacy

        gap: var(--layout-spacing-l);
        padding: var(--layout-spacing-m);
    }

    .settingsContent {
        & > * + * {
            margin-top: var(--layout-spacing-m);
        }

        /* Remove margin from empty data-candu div */
        & > div[data-candu-id]:empty + * {
            margin-top: 0;
        }

        /* Apply margin after data-candu div only when it has content */
        & > div[data-candu-id]:not(:empty) {
            margin-bottom: var(--layout-spacing-m);
        }
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-default);
    }
}
