@import (reference) '~css/typography';

:local {
    .cardHeader {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: var(--layout-spacing-xs);
        padding-bottom: var(--layout-spacing-xs);
    }

    .cardContent {
        flex-grow: 1;
    }

    .setUpButton {
        margin-left: auto;
    }
}
