@import (reference) '~css/typography';

:local {
    .installInstructions {
        display: flex;
        flex-flow: column;
        gap: var(--lg, 24px);
        & h3 {
            color: var(--Content-content-neutral-default, #1e242e);
            font-size: 14px;
            font-weight: 500;
            margin-bottom: var(--xxxs, 4px);
            display: flex;
        }
        & img {
            width: 100%;
        }

        margin-top: var(--layout-spacing-s);
    }

    .link {
        display: inline-flex;
    }

    .codeSnippet {
        padding: var(--md, 16px) var(--lg, 24px);
        border-radius: var(--sm, 12px);
        border: 1px solid var(--border-neutral-default, #ebecef);
        background: var(--Elevation-elevation-neutral-bg, #fafafa);
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.04);
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        & pre {
            color: var(--Content-content-neutral-default, #1e242e);
        }
        & button {
            margin-bottom: var(--sm, 12px);
        }
    }

    .kebabIcon {
        margin: 0 var(--xxs, 8px);

        svg {
            transform: rotate(90deg);
        }
    }

    .quickInstallText {
        white-space: pre-line;
    }

    // OverlayContent component is buggy, it does not support scrollable content at the moment
    .overlayContent {
        overflow-y: auto;
        flex-grow: 1;
    }

    .manualSteps img {
        padding-right: var(--md, 16px);
    }

    .videoThumbnailButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        width: 100%;
    }

    .videoThumbnail {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: var(--sm, 12px);

        img {
            width: 100%;
            height: auto;
        }
    }

    .playIconOverlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--content-neutral-on-solid);
    }

    .videoModalContent {
        width: 100%;
        border-radius: var(--sm, 12px);
        overflow: hidden;
        background: var(--elevation-neutral-bg);
    }

    .video {
        width: 100%;
        height: auto;
        display: block;
    }
}
