@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .label {
        margin-bottom: @layout-spacing-xs;
    }
    .field {
        margin-bottom: @layout-spacing-s;
        input {
            background-color: var(--neutral-grey-0);
        }
    }
}
