:local {
    .headerSubtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .minPurchaseRequirementsWrapper {
        display: flex;
        gap: 1em;
        align-items: baseline;
    }

    .customerSegmentWrapper {
        width: 100%;
    }

    .editAlert {
        margin-bottom: 7px;
    }

    .inputGroup {
        display: flex;
        flex-wrap: nowrap;
        gap: 14px;
    }

    .inputGroup > .inputChild {
        flex-grow: 1;
    }

    .label {
        margin-bottom: 7px;
    }

    .purchaseRadio {
        display: flex;
        align-items: center;
        gap: 3px;

        input {
            margin-top: 0;
        }
    }
}
