:local {
    .wrapper {
        width: 100%;
        position: relative;
    }

    .buttonsWrapper {
        display: flex;
        gap: var(--layout-spacing-xs);
        flex-wrap: wrap;
    }

    // The `:global(.container-fluid)` explicitly targets the navbar component from reactstrap
    // This will force this style to overwrite the one from Bootstrap
    [class*='AiAgentLayout--container--']:has(
        [class*='SalesPaywallMiddleware--wrapper--']
    ) {
        max-height: calc(
            100vh - 52px - 44px - 56px
        ); // - header height - header paddings - sidebar height

        min-height: 0;
        height: 100%;
        display: flex;
    }

    .ctaButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .primaryButton {
        background-color: var(--neutral-grey-6) !important;
        color: var(--neutral-grey-0) !important;
        border-color: var(--neutral-grey-6) !important;
    }

    .secondaryButton {
        color: var(--neutral-grey-5) !important;
    }

    .tertiaryContainer {
        display: flex;
        align-items: center;
        gap: 2px;

        .secondaryText {
            color: var(--neutral-grey-5);
        }

        .tertiaryContainerButton {
            padding: var(--layout-spacing-xxs);
        }
    }

    .tertiaryButton {
        flex: 0 0 100%;
        margin-top: var(--layout-spacing-xs);
        margin-left: -5px;
    }

    .tertiaryButtonText {
        color: var(--neutral-grey-6);
    }
}
