:local {
    .wrapper {
        width: 100%;
        position: relative;
    }

    .buttonsWrapper {
        display: flex;
        gap: var(--layout-spacing-xs);
        flex-wrap: wrap;
    }

    // The `:global(.container-fluid)` explicitly targets the navbar component from reactstrap
    // This will force this style to overwrite the one from Bootstrap
    [class*='AiAgentLayout--container--']:has(
        [class*='SalesPaywallMiddleware--wrapper--']
    ) {
        max-height: calc(
            100vh - 52px - 44px - 56px
        ); // - header height - header paddings - sidebar height

        min-height: 0;
        height: 100%;
        display: flex;
    }

    .upgradeButton {
        background-color: var(--neutral-grey-6) !important; // legacy
        color: var(--neutral-grey-0) !important; // legacy
        border-color: var(--neutral-grey-6) !important; // legacy
    }

    .trialButton {
        color: var(--neutral-grey-5) !important; // legacy
    }

    .bookDemoButton {
        flex: 0 0 100%;
        margin-top: var(--layout-spacing-xs);
        margin-left: -5px;
    }

    .bookDemoButtonText {
        margin-left: var(--layout-spacing-xxs);
        color: var(--neutral-grey-6); // legacy
    }
}

.axiom :local {
    .upgradeButton {
        background-color: var(--surface-neutral-primary) !important;
        color: var(--elevation-neutral-default) !important;
        border-color: var(--surface-neutral-primary) !important;
    }

    .trialButton {
        color: var(--content-neutral-secondary) !important;
    }

    .bookDemoButtonText {
        color: var(--content-neutral-default);
    }
}
