:local {
    .bannerContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .bannerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            margin-top: 34px;
        }
    }

    .importSection {
        margin-top: 40px;
    }
}
