:local {
    .bannerContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .bannerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;

        a {
            margin-top: 34px;
        }
    }

    .importSection {
        margin-top: 40px;
    }

    .bannerImage {
        max-width: 260px;
    }

    .bannerLink {
        font-size: 12px;
    }
}
