:local {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 373px;
        border-radius: 8px;
        margin-bottom: 8px;
        opacity: 1;
        transition: opacity 0.2s;
        min-height: 184px;
        border: 1px solid var(--neutral-grey-3); // legacy

        &.disabled {
            opacity: 0.25;
        }
    }

    .icon,
    .chevron {
        font-size: 24px;
    }

    .icon {
        color: var(--main-primary); // legacy
    }

    .chevron {
        color: var(--neutral-grey-4); // legacy
    }

    .header,
    .content {
        padding: 16px;
    }

    .header {
        display: flex;
        border-bottom: 1px solid var(--neutral-grey-2); // legacy

        &.clickable {
            cursor: pointer;
        }
    }

    .title {
        flex: 1;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-left: 16px;
    }

    .content {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: var(--neutral-grey-5); // legacy
    }

    .help {
        font-size: 12px;
        line-height: 16px;
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .card {
        border: 1px solid var(--border-neutral-default);
    }

    .icon {
        color: var(--content-accent-default);
    }

    .chevron {
        color: var(--content-neutral-secondary);
    }

    .header {
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .content {
        color: var(--content-neutral-secondary);
    }

    .help {
        color: var(--content-neutral-secondary);
    }
}
