:local {
    .toInput {
        width: 320px;
    }

    .legend {
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .legend {
        color: var(--content-neutral-tertiary);
    }
}
