@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/typography';

:local {
    .noDataTip {
        background: var(--neutral-grey-1);
        border-radius: 4px;
        padding: @layout-spacing-s;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
    }

    .sectionSubtitle {
        .heading-page-regular();
        text-transform: lowercase;
    }
}
