@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        margin-bottom: var(--layout-spacing-m);
        place-self: flex-start;
    }

    .option {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        color: var(--neutral-grey-5);

        &.active {
            color: var(--neutral-grey-6);
        }

        i {
            font-size: 20px;
        }
    }
}
