@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography.less';

:local {
    .card {
        margin-top: @layout-spacing-s;
        cursor: default;
    }

    .separator {
        margin-top: @layout-spacing-s;
        margin-bottom: @layout-spacing-m;
    }
}
