:local {
    .ticketViewNavigatorContainer {
        display: flex;
        align-items: center;
    }

    .tooltipContent {
        display: flex;
        align-items: center;
        gap: var(--spacing-xxs);
    }
}
