@import '~css/new/colors';
@import '~css/new/mixins';

:local {
    .popoverText {
        flex: 4;
    }

    .leftBorder {
        border-left: @neutral4 1px solid;
        padding-left: 16px;
        margin-left: 8px;
    }

    .popoverActionWrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 300px;
    }
}
