@import '~css/new/colors';

:local {
    .integration {
        display: flex;
        line-height: 16px;
        font-weight: 400;

        .logo {
            display: inline;
            width: 14px;
            height: 14px;
        }
    }

    .shopify {
        background-color: @TEMP_shopifyBadgeBG;
        color: @TEMP_shopifyBadgeColor;
    }

    .http {
        color: @classic-neutral-grey-6;
        background-color: @classic-neutral-grey-2;
    }

    .bigcommerce {
        background-color: @bigcommerceLightPurple;
        color: @bigcommercePurple;
    }
}
