@import '~css/new/colors.less';

:local {
    .integration {
        display: flex;
        line-height: 16px;
        font-weight: 400;

        .logo {
            display: inline;
            width: 14px;
            height: 14px;
        }
    }

    .shopify {
        background-color: @TEMP_shopifyBadgeBG;
        color: @TEMP_shopifyBadgeColor;
    }

    .http {
        color: @neutral10;
        background-color: @neutral1;
    }
}
