:local {
    .integration {
        display: flex;
        line-height: 16px;
        font-weight: 400;

        .logo {
            display: inline;
            width: 14px;
            height: 14px;
        }
    }

    .shopify {
        background-color: var(--accessory-green-1);
        color: var(--TEMP_shopifyBadgeColor);
    }

    .http {
        color: var(--neutral-grey-6);
        background-color: var(--neutral-grey-2);
    }

    .bigcommerce {
        background-color: var(--bigcommerceLightPurple);
        color: var(--bigcommercePurple);
    }
}
