@import '~css/new/colors';

:local {
    .attachments {
        text-align: left;
        max-width: 200px;
        text-overflow: ellipsis;
    }
    .assign {
        color: @neutral10;
    }
    .setSubject {
        color: @neutral10;
        font-weight: 600;
    }
    .smallTag {
        width: fit-content;
    }
}
