@import '~css/new/colorTokens';

:local {
    .attachments {
        text-align: left;
        max-width: 200px;
        text-overflow: ellipsis;
    }
    .assign {
        color: @classic-neutral-grey-6;
    }
    .setSubject {
        color: @classic-neutral-grey-6;
        font-weight: 600;
    }
    .smallTag {
        width: fit-content;
    }
}
