:local {
    .container {
        display: flex;
        align-items: center;
        padding: var(--layout-spacing-s) var(--layout-spacing-s)
            var(--layout-spacing-s) 12px;
        justify-content: space-between;
        border-radius: var(--layout-spacing-xxs);
        cursor: pointer;
        border-left: var(--layout-spacing-xxs) solid var(--neutral-grey-0);

        &:not(.active):hover {
            background-color: var(--neutral-grey-1);
            border-left-color: var(--neutral-grey-1);
        }
        gap: var(--layout-spacing-s);
    }

    .titleContainer {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-s);
        color: var(--neutral-grey-6);

        i {
            font-size: 16px;
            padding: var(--layout-spacing-xxs);
            background-color: var(--neutral-grey-1);
            color: var(--neutral-grey-4);
            border-radius: var(--layout-spacing-xxs);
        }
    }

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .new {
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--accessory-blue-3);
        background-color: var(--accessory-blue-1);
        border-radius: 100px;
        padding: 2px var(--layout-spacing-xs);
    }

    .active {
        &.container {
            background-color: var(--ultraLightBlue);
            border-color: var(--main-primary);
        }

        .titleContainer i {
            background-color: var(--main-primary);
            color: var(--neutral-grey-0);
        }
    }
}
