@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .wrapper {
        height: @layout-spacing-l;
        width: 100%;
        display: inline-flex;
    }

    .button {
        padding: 0 @layout-spacing-xs;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;

        z-index: 0;
    }

    .color {
        height: @layout-spacing-s;
        width: @layout-spacing-s;
    }

    .input {
        height: 100%;
        flex: 1;
        padding-left: @layout-spacing-xs;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    .popover-content {
        padding: 4px;
    }

    .popup {
        @choices-per-row: 7;
        @choice-size: 30px;
        @choice-margin: 3px;
        @choice-width: @choice-size + (@choice-margin * 2);

        display: flex;
        flex-wrap: wrap;
        width: @choice-width * @choices-per-row;

        .choice {
            border: none;
            padding: 0;
            height: @choice-size;
            width: @choice-size;
            border-radius: 3px;
            margin: @choice-margin;
        }
    }
}
