:local {
    .color {
        height: 16px;
        width: 80px;
    }

    .popover-content {
        padding: 4px;
    }

    .popup {
        @choices-per-row: 8;
        @choice-size: 30px;
        @choice-margin: 3px;
        @choice-width: @choice-size + (@choice-margin * 2);

        display: flex;
        flex-wrap: wrap;
        width: @choice-width * @choices-per-row;

        .choice {
            border: none;
            padding: 0;
            height: @choice-size;
            width: @choice-size;
            border-radius: 3px;
            margin: @choice-margin;
        }

        .input {
            margin: @choice-margin;
            width: @choice-width * 3;
            flex: 1;
        }
    }
}
