@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .label {
        margin-bottom: var(--layout-spacing-xs);
    }
    .field {
        margin-bottom: var(--layout-spacing-s);
        input {
            background-color: var(--neutral-grey-0);
        }
    }
}
