@import '~css/new/colorTokens';

:local {
    .wrapper {
        display: flex;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 228px;
        height: 172px;

        border: 2px dashed @classic-neutral-grey-3;
        border-radius: 10px;

        background-color: @classic-neutral-grey-2;

        box-sizing: border-box;

        cursor: pointer;

        &.small {
            width: 64px;
            height: 64px;
        }

        &.accepted {
            border-color: @classic-feedback-success;
            background-color: @classic-feedback-success-0;
        }

        &.rejected {
            border-color: @classic-feedback-error;
            background-color: @classic-feedback-error-0;
        }
    }

    .content {
        position: relative;

        width: 100%;
        height: 100%;
    }
}
