@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .wrapper {
        width: 100%;
        overflow: auto;
    }

    .page {
        overflow: auto;
    }

    .content {
        padding: @layout-spacing-m;
    }
}
