@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .progress {
        /* Remove default appearance */
        -webkit-appearance: none;
        appearance: none;

        width: 100%;
        height: 4px;

        /* Unfilled part (Firefox) */
        border: none;
        border-radius: 2px;
        background-color: #c34ced52;

        /* Filled part (Webkit) */
        &::-webkit-progress-value {
            background-color: #c34ced;
            border-radius: 2px;
        }

        /* Unfilled part (Webkit) */
        &::-webkit-progress-bar {
            background-color: #c34ced52;
            border-radius: 2px;
        }

        /* Filled part (Firefox) */
        &::-moz-progress-bar {
            background-color: #c34ced;
            border-radius: 2px;
        }
    }

    .description {
        .caption-allcaps();
    }
}
