@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .backButton {
        margin-bottom: @layout-spacing-m;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .actions {
        display: flex;
        gap: var(--layout-spacing-xs);
        margin-top: @layout-spacing-xl;
    }
}
