@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .section {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
        flex: 1;
    }
}
