:local {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-content: flex-end;
        row-gap: 12px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .leftGroup {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .search {
        width: 200px;
    }
}
