@import '~css/new/colors';

:local {
    font-family: 'Inter', sans-serif;
    color: @indigo;

    .title {
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        margin-top: 1.5rem;
    }

    .text {
        font-size: 16px;
        line-height: 19px;
    }
}
