@import '~css/new/colorTokens';
@import '~css/new/util';
@import '~css/typography';

:local .component {
    flex-shrink: 0;
    border: 0;
    border-radius: 0;

    :global(.card-body),
    :global(.card-footer) {
        padding-left: 28px;
        padding-right: 28px;
        background-color: @classic-neutral-grey-2;
    }

    :global(.card-footer) {
        border-width: 1px 0;
        border-style: solid;
        border-color: @classic-neutral-grey-3;
    }

    .cardActions {
        display: flex;
        float: right;

        > :last-child {
            margin-left: 16px;
        }
    }

    .subtitle {
        color: @classic-neutral-grey-6;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.6px;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .updateViewFeedback {
        .caption-regular();
        align-items: center;
        color: @classic-neutral-grey-4;
        margin-left: 12px;
        opacity: 0;
        transition: all 0.2s linear;

        &.visible {
            opacity: 1;
        }
    }
}

.filter-topbar-content,
.filter-topbar-actions {
    padding: 0.8em 1.6em;
}

.filter-topbar-content {
    position: relative;
}

.view-filters-item {
    .clearfix;
}

.CallExpression {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;

    > * {
        margin-right: 8px;
    }

    .remove {
        opacity: 0;
        transition: all 0.2s linear;
    }

    &:hover > .remove {
        opacity: 1;
    }
}

// hide the last operator label
.filter-topbar-content
    > .view-filters-item
    > .view-filters-item
    .OperatorLabel {
    cursor: default !important;
}
