@import '~css/typography';

:local .component {
    .titleWrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .title {
        .heading-section-semibold();
        padding: 0 8px;
        color: var(--neutral-grey-6);
        vertical-align: top;

        &.withEmojiPicker {
            padding-left: 32px;
        }

        &.editable {
            cursor: pointer;
        }
    }

    .emojiPicker {
        position: absolute;
        transform: translateX(25%);
    }

    .titleWrapper {
        flex-grow: 1;
    }

    .headerSearch.isSearching {
        max-width: unset;

        i {
            font-size: 21px;
            color: var(--neutral-grey-6);
            left: -2px;
        }
        input {
            border-width: 0;
            color: var(--neutral-grey-6);
            font-size: 20px;
            max-height: 34px;
            padding-left: 1.6rem;

            &:focus {
                outline: 0;
                box-shadow: unset;
            }
        }
    }

    .closeIcon {
        cursor: pointer;
        line-height: 34px;
        font-size: 20px;
        color: var(--neutral-grey-4);
        transition: color 0.2s ease;

        &:hover {
            color: var(--neutral-grey-6);
        }
    }

    .closeEditIcon {
        width: 11px;
        height: 11px;
        margin-left: 26px;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }
}
