@import '~css/new/colorTokens';

:local .component {
    .titleWrapper {
        position: relative;
    }

    .title {
        margin-left: -10px;
        padding: 0 8px;
        color: @classic-neutral-grey-6;
        font-size: 20px;
        font-weight: 500;
        vertical-align: top;
        height: 34px;

        &.withEmojiPicker {
            padding-left: 37px;
        }
    }

    .emojiPicker {
        position: absolute;
        top: 50%;
        left: -2px;
        transform: translateY(-50%);
    }

    .titleWrapper {
        flex-grow: 1;
    }

    .headerSearch.isSearching {
        max-width: unset;

        i {
            font-size: 21px;
            color: @classic-neutral-grey-6;
            left: -2px;
        }
        input {
            border-width: 0;
            color: @classic-neutral-grey-6;
            font-size: 20px;
            max-height: 34px;
            padding-left: 1.6rem;

            &:focus {
                outline: 0;
                box-shadow: unset;
            }
        }
    }

    .closeIcon {
        cursor: pointer;
        line-height: 34px;
        font-size: 20px;
        color: @classic-neutral-grey-4;
        transition: color 0.2s ease;

        &:hover {
            color: @classic-neutral-grey-6;
        }
    }
}
