:local {
  .table {
    tr {
      td {
        &.limit-overflow {
          &,
          & * {
            max-width: 360px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            @media (min-width: 2000px) {
              max-width: 600px;
            }
          }
        }
      }
    }
  }
}
