:local {
    .cardDescription {
        margin-top: var(--spacing-xxs);
    }
    .cardFooter {
        margin-top: var(--spacing-sm);
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
    }
    .iconLink {
        display: flex;
        align-items: center;
        gap: var(--spacing-xxxs);
    }
}
