:local {
    .fieldSelect {
        width: 205px;
        flex-shrink: 0;
    }

    .addWhereButton {
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }
}
