:local {
    .featureToggle {
        display: flex;
        flex-direction: column;
        gap: var(--xs, 8px);
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .labelContainer {
        display: flex;
        gap: var(--xs, 8px);
    }
    .label {
        font-size: 16px;
    }
}
