:local {
    .codeSnippet {
        background-color: var(--surface-neutral-secondary);
        border-radius: var(--spacing-xxs);
        padding: var(--spacing-xs);
        .copyButton {
            display: flex;
            justify-content: flex-end;
            padding-bottom: var(--spacing-xs);
        }
    }
}
