@import '~css/new/colors';

:local .component {
  display: block;
  padding: 1em 30px;
  border-bottom: 1px solid @darkQuartz2;

  &:hover {
    background: @tableRowBgHover;
  }

  .avatar {
    margin-right: 20px;
  }

  .name {
    margin-bottom: 0;

    color: @indigo;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
  }

  .email {
    margin-bottom: 0;

    font-size: 13px;
  }

  .name,
  .email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .meta {
    width: 30%;
    min-width: 200px;
  }

  .role {
    width: 10%;
    min-width: 50px;

    text-align: center;
  }

  .delete {
    margin-left: auto;

    :global .btn {
      box-shadow: none;

      .material-icons {
        transition: .2s all;
        opacity: .3;

        color: @indigo;
      }

      &:hover .material-icons {
        opacity: 1;

        color: @lightRed;
      }

      /* hide icon while loading */
      &.btn-loading .material-icons {
        opacity: 0;
      }
    }
  }

}
