:local {
    .selector {
        background-color: var(--neutral-grey-2);

        border-radius: var(--layout-spacing-s);

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: var(--layout-spacing-xs);
        width: 100%;

        gap: var(--layout-spacing-xxs);
        padding: var(--layout-spacing-xxs);
        margin-bottom: var(--layout-spacing-xs);
    }

    .selectorOption {
        background-color: transparent;

        border-radius: 12px;
        border-width: 0px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        min-width: 0;
        color: var(--neutral-grey-6);
        cursor: pointer;

        padding: var(--layout-spacing-xxs);

        &--selected {
            background-color: var(--neutral-grey-1);
            cursor: default;
        }

        &:not(&--selected):hover {
            background-color: var(--neutral-grey-3);
        }
    }
}
