:local {
    .selector {
        background-color: var(--neutral-grey-2); // legacy

        border-radius: var(--layout-spacing-s);

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: var(--layout-spacing-xs);
        width: 100%;

        gap: var(--layout-spacing-xxs);
        padding: var(--layout-spacing-xxs);
    }

    .selectorOption {
        background-color: transparent;

        border-radius: 12px;
        border-width: 0px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        min-width: 0;
        color: var(--neutral-grey-6); // legacy
        cursor: pointer;

        padding: var(--layout-spacing-xxs) var(--layout-spacing-m);

        &--selected {
            background-color: var(--neutral-grey-0); // legacy
            cursor: default;
        }

        &:not(&--selected):hover {
            background-color: var(--neutral-grey-3); // legacy
        }
    }
}

.axiom :local {
    .selector {
        background-color: #eeeeee;
    }

    .selectorOption {
        color: #222222;
        background-color: transparent;

        &--selected {
            background-color: #ffffff;
        }

        &:not(&--selected):hover {
            background-color: #dddddd;
        }
    }
}
