@import '../../../../../../css/new/colors';
@import '~css/new/mixins';

:local {
    .content {
        margin-top: 224px;
        width: 480px;
        height: 234px;

        .description {
            color: @neutral8;
            font-size: 16px;

            @media @mobiles {
                font-size: 10px;
            }
        }

        @media @mobiles {
            width: 200px;
            height: 34px;
        }
    }

    .contentTitle {
        margin-top: 19px;
        color: @neutral10;

        @media @mobiles {
            font-size: 10px;
        }
    }

    .badge {
        padding: 3px 8px 4px;
        height: 18px;

        font-weight: 600;

        background: @neutral8;
        border-radius: 100px;
    }
}
