@import '~css/new/colorTokens';

:local {
    .tooltip {
        left: -9px !important;
        margin-bottom: 5px;
    }
    .tooltip-inner {
        text-align: left;
        max-width: 250px;
        padding: 10px;
    }
    .tooltip-arrow {
        left: 12px !important;
    }

    .icon-hide-outside-business-hours-help {
        margin-left: 0.5em;
        color: @classic-neutral-grey-4;
        font-size: 15px;
    }
}
