:local {
    .awesomeIcon {
        color: var(--accessory-magenta-3); // legacy
    }

    .byAIAgent {
        padding-left: var(--layout-spacing-xxs);
    }
}

.axiom :local {
    .byAIAgent {
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .awesomeIcon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--ai-content);
        color: var(--static-default-white);
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
}
