@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        padding: var(--layout-spacing-s);
        gap: var(--layout-spacing-s);
        align-items: center;
        background-color: var(--neutral-grey-1); // legacy
        border-top: 1px solid var(--neutral-grey-3);
    }

    .titleIcon {
        font-size: 20px !important;
        color: var(--neutral-grey-5);
    }

    .title {
        display: flex;
        gap: var(--layout-spacing-xs);
        font-size: 15px;
        font-weight: 600;
        color: var(--neutral-grey-6);
        flex-shrink: 0;
    }

    .resources {
        display: flex;
        flex-wrap: wrap;
        gap: var(--layout-spacing-xxs);
        justify-content: flex-end;
        min-width: 0;
    }

    .resource {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        border-radius: var(--layout-spacing-xxs);
        padding: var(--layout-spacing-xxs) var(--layout-spacing-xs);
        background-color: var(--accessory-magenta-1);
        color: var(--accessory-magenta-3);
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        min-width: 0;

        &:hover {
            background-color: var(--accessory-magenta-2);
            color: var(--accessory-magenta-3);
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .resourceIcon {
        font-size: 16px !important;
    }

    .openIcon {
        font-size: 16px !important;
        color: var(--accessory-magenta-3);
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-mid);
    }
}
