@import (reference) '~css/typography.less';

:local {
    .content {
        background-color: var(--neutral-grey-0);
        color: var(--neutral-grey-6);

        > * {
            position: inherit;
        }
    }

    .white-space {
        white-space: pre-line;
    }

    .disclaimer-truncated-message {
        color: var(--neutral-grey-5);
        display: flex;
        margin-top: 8px;

        i {
            font-size: 16px;
            width: 16px;
            margin-right: 8px;
        }

        p {
            .caption-regular();
            margin-bottom: 0;
        }
    }
}

.ticket-thread-revamp :local {
    .content {
        line-height: 20px;
    }
}
