:local .wrapper {
    position: relative;

    &.hasSourceDetails {
        margin-top: 8px;
    }

    .rightWrapper {
        position: absolute;
        right: 0;
        top: calc(var(--layout-spacing-xxs) * -1);
        display: none;
        gap: var(--layout-spacing-xs);
        align-items: center;

        &.visible {
            display: flex;
        }
    }
}
