:local {
    .link {
        font-weight: 600;
        color: var(--main-primary) !important; // legacy
    }
}

.axiom :local {
    .link {
        color: var(--content-accent-default) !important;
    }
}
