@import (reference) '~css/typography.less';

:local {
    .container {
        width: 100%;
        min-width: 380px;
        padding-block: var(--layout-spacing-s);
        padding-inline: var(--layout-spacing-s);
        margin-top: var(--layout-spacing-s);
        border-radius: 8px;
        border: 1px solid transparent;
        display: flex;
        gap: var(--layout-spacing-m);
        background:
            linear-gradient(var(--neutral-grey-0), var(--neutral-grey-0))
                padding-box,
            linear-gradient(90deg, #f58d86, #a084e1) border-box;

        &.hasError {
            border: 1px solid var(--feedback-error);
        }
    }
    .activeButton {
        border-color: var(--neutral-grey-4) !important;
    }
    .content {
        flex: 1;
        display: flex;
        overflow: auto;
        gap: var(--layout-spacing-m);
        justify-content: space-between;
        align-items: center;

        :global {
            .message-content {
                background: var(--neutral-grey-0) !important; // legacy
            }
        }
    }

    .executionId {
        .caption-regular();
        color: var(--neutral-grey-5);
        margin-top: var(--layout-spacing-xxs);
    }
}

.ticket-thread-revamp :local {
    .container {
        margin-bottom: 0;
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-default);
    }

    .content {
        :global {
            .message-content {
                background: var(--elevation-neutral-default) !important;
            }
        }
    }
}
