:local {
    .source {
        transition: all 0.2s linear;

        color: var(--neutral-grey-4); // legacy
        display: flex;

        &:hover {
            color: var(--purple); // legacy
        }
    }

    .details {
        text-align: left;
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        li {
            line-height: 1.5em;
        }

        a {
            color: #fff;
            text-decoration: underline !important;
        }
    }
}

.axiom :local {
    .source {
        color: var(--content-neutral-secondary);

        &:hover {
            color: var(--content-accent-default);
        }
    }
}
