:local {
    .pageReactionBadge {
        color: var(--main-primary); // legacy
    }

    .totalReactionsBadge {
        position: relative;
        overflow: hidden;
        min-height: 25px;
        display: inline;
    }

    .reactionText {
        color: var(--neutral-grey-5); // legacy
    }

    .reactionIcon {
        width: 17px;
        height: auto;
    }

    .reactionButton {
        cursor: pointer;
        padding: 0;
        margin-left: 3px;

        &:hover {
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1);
        }
    }

    .groupedReactions {
        margin-right: -4px;
        border: 2px solid var(--neutral-grey-0); // legacy
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 20px;
    }

    .spinner {
        display: inline-block;
        width: 20px;
    }

    .slide {
        position: absolute;
        right: 0;
        width: 120px;
        transition: 0.2s ease-out;
        text-align: right;
        bottom: 20px;
        opacity: 0;
    }

    .totalReactionsBadge:hover .slide {
        opacity: 1;
    }
}

.axiom :local {
    .pageReactionBadge {
        color: var(--content-accent-default);
    }

    .reactionText {
        color: var(--content-neutral-secondary);
    }

    .groupedReactions {
        border: 2px solid var(--elevation-neutral-default);
    }
}
