@import '~@gorgias/design-tokens/dist/css/typographyMixins.less';

:local {
    .import-email {
        table {
            margin-top: 24px;
            table-layout: fixed;
        }
    }

    .importStats {
        display: flex;
        flex-direction: column;
        margin-top: 8px;

        span {
            .body-tabular();
            margin-bottom: 8px;
        }

        p {
            font-size: 12px;
            color: var(--neutral-grey-5); // legacy
        }
    }

    .spinner {
        color: var(--text-warning) !important; // legacy
        height: 14px !important;
    }

    .emailColumn {
        .body-semibold();
        margin-left: 8px;
    }

    .providerIcon {
        width: 20px;
        height: 20px;
    }

    .noCursor {
        div {
            cursor: default;
        }
    }
}

.axiom :local {
    .importStats {
        p {
            color: var(--content-neutral-secondary);
        }
    }

    .spinner {
        color: var(--content-warning-primary) !important;
    }

    .emptyStateWrapper {
        color: var(--content-neutral-secondary);
    }
}
