:local {
    .replyChannel {
        display: flex;
        align-items: flex-start;
        padding: var(--layout-spacing-xs);
        border-bottom: 1px solid var(--neutral-grey-2); // legacy
    }
}

.axiom :local {
    .replyChannel {
        border-bottom: 1px solid var(--border-neutral-default);
    }
}
