@import (reference) '~css/typography.less';

:local {
    .nameCell {
        font-weight: bold;
        width: 100%;

        a {
            color: var(--neutral-grey-6);
        }
    }

    .actionsCell > div {
        padding: 0.75rem;
    }
}

.axiom :local {
    .nameCell {
        a {
            color: var(--content-neutral-default);
        }
    }
}
