@import '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0px;
        align-items: flex-start;
        align-self: stretch;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .title {
        display: flex;
        gap: 12px;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        color: var(--neutral-grey-6);
        i {
            padding: 4px;
            background-color: var(--neutral-grey-1); // legacy
            color: var(--neutral-grey-5);
            border-radius: 4px;

            &.activeIcon {
                background-color: var(--accessory-blue-1); // legacy
                color: var(--main-primary-4);
            }
        }
    }

    .closeButton {
        color: var(--neutral-grey-5);
        font-size: 16px;
        cursor: pointer;
    }

    .addProduct {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        color: var(--main-primary);
        font-size: 12px;
        font-weight: 500;

        &:hover {
            color: var(--main-primary-4);
        }

        i {
            font-size: 16px;
        }
    }

    .selectedPlan {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .selectWrapper {
        flex: 1;
        min-width: 0;
    }

    .counter {
        display: flex;
        gap: 4px;
        font-size: 14px;
        font-weight: 400;
        color: var(--neutral-grey-4);
        i {
            font-size: 20px;
            width: 20px;
        }
    }

    .productName {
        color: var(--neutral-grey-5);
        font-weight: 600;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 35px;
    }

    .oldPrice {
        color: var(--neutral-grey-5);
        font-size: 14px;
        text-decoration: line-through;
    }

    .tooltip {
        max-width: 222px !important;
        left: -10px;

        a {
            color: inherit;
            text-decoration: underline !important;
            padding-left: 4px;
        }
    }

    .link {
        color: var(--main-primary); // legacy
        cursor: pointer;
    }

    .select {
        max-height: 300px;
    }
}

.axiom :local {
    .title {
        color: var(--content-neutral-default);

        i {
            background-color: var(--elevation-neutral-mid);
            color: var(--content-neutral-tertiary);

            &.activeIcon {
                background-color: var(--surface-additional-blue);
                color: var(--content-additional-blue);
            }
        }
    }

    .closeButton {
        color: var(--content-neutral-tertiary);
    }

    .addProduct {
        color: var(--surface-additional-blue);

        &:hover {
            color: var(--content-additional-blue);
        }
    }

    .counter {
        color: var(--content-neutral-secondary);
    }

    .productName {
        color: var(--content-neutral-tertiary);
    }

    .oldPrice {
        color: var(--content-neutral-tertiary);
    }

    .link {
        color: var(--content-accent-default);
    }
}
