:local .component {
    position: relative;
    flex-grow: 100;

    font-size: 13px;

    .sourceField {
        flex-grow: 100;
        display: flex;
        align-items: flex-start;

        & + .sourceField {
            margin-top: 6px;
        }

        .label {
            min-width: 2.5rem;
            margin-right: 10px;
            overflow: hidden;
            flex-shrink: 0;

            color: var(--neutral-grey-6); // legacy
            text-overflow: ellipsis;
            text-align: right;
            font-weight: 500;
            line-height: 2;
        }
    }

    .optionalFields {
        position: absolute;
        right: 0;
        top: 0;

        color: var(--main-primary); // legacy
        line-height: 2;
    }
}

:local .sourceLabel {
    padding-left: 20px;

    font-size: 13px;
    font-weight: 500;
}

.axiom :local .component {
    .sourceField {
        .label {
            color: var(--content-neutral-default);
        }
    }

    .optionalFields {
        color: var(--content-accent-default);
    }
}
