@import '~css/new/colorTokens';

:local {
    .poweredBy {
        line-height: 15px;
        margin-bottom: 12px;
        text-align: center;

        div {
            font-size: 12px;
            color: #c3c8d0;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin-right: 6px;
            }
        }
    }
}
