@import (reference) '~css/new/colorTokens';

:local {
    th.table-language-header-cell {
        position: sticky;
        top: 0;
        background-color: @classic-neutral-grey-1;
        padding: 16px;
        font-weight: bold;
        color: @classic-neutral-grey-6;
        z-index: 50;
    }

    .tooltip-target {
        text-decoration: underline dotted;
    }

    .th-auto {
        width: auto;
    }

    .th-max-20 {
        max-width: 20%;
    }

    .csv-tooltip-inner {
        padding: 8px;
        max-width: 270px;
        text-align: left;
        background-color: fade(black, 90%);
        z-index: 200;
    }

    .table {
        & th,
        & td {
            cursor: auto;
        }
    }
}
