:local {
    .addressLine {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .addressItem {
        padding: 8px;
    }

    .dropdown {
        width: 100%;
        overflow: hidden;
        // TODO: remove after merging
        //  https://linear.app/gorgias/issue/APPED-1578/remove-the-1px-margin-left-from-the-selectinputbox
        padding-left: 1px;
    }

    .topPadded {
        padding-top: 7px;
    }
}
