@import (reference) '~css/typography';

:local {
    .label {
        .body-semibold();
        margin-bottom: 0.5rem;
    }

    .amountPrefix {
        .body-regular();
        color: var(--neutral-grey-4); // legacy
    }

    .discountContainer {
        width: 260px;
    }

    .errorMessage {
        .caption-regular();
        color: var(--feedback-error); // legacy
    }
}

.axiom :local {
    .amountPrefix {
        color: var(--content-neutral-secondary);
    }

    .errorMessage {
        color: var(--content-error-primary);
    }
}
