@import (reference) '~css/typography';

:local {
    .actionButton {
        .body-medium();
        color: var(--main-primary); // legacy
        cursor: pointer;

        border: 0;
        background: none;
        padding: 0;

        &.isDisabled {
            color: var(--neutral-grey-3); // legacy
            cursor: default;
        }

        &.hasError {
            color: var(--feedback-error); // legacy
        }
    }

    .tooltipBoldText {
        font-weight: 700;
    }

    .radioLabel {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .radioLabelCaption {
        .body-regular();
        color: var(--neutral-grey-6); // legacy
    }

    .selectShippingAddress {
        color: var(--neutral-grey-4); // legacy
        text-align: center;
        font-weight: 500;
    }

    .totalsContainer {
        display: grid;
        grid-template-columns: 240px auto 100px;
        gap: 0.5rem 0;
        align-items: center;
    }

    .descriptionTitle {
        .body-medium();
        margin-bottom: 0;
        font-weight: 500;
    }

    .couponContainer {
        width: 260px;
    }

    .descriptionExtraInfo {
        color: var(--neutral-grey-5); // legacy
        margin-bottom: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.isDisabled {
            color: var(--neutral-grey-4); // legacy
        }
    }

    .descriptionValue {
        .body-semibold();
        margin-bottom: 0;
        display: flex;
        justify-self: flex-end;
        align-items: center;

        &.descriptionValueDisabled {
            color: var(--neutral-grey-3); // legacy
        }

        &.descriptionValueZero {
            color: var(--neutral-grey-4); // legacy
        }
    }

    .totalLineContainer {
        display: flex;
        justify-content: space-between;
        grid-column: span 3;

        padding-top: 0.5rem;
        margin-bottom: 0.5rem;

        border-top: 1px solid var(--neutral-grey-3); // legacy
    }

    .totalPriceContainer {
        display: flex;
    }
}

.axiom :local {
    .actionButton {
        color: var(--content-accent-default);

        &.isDisabled {
            color: var(--content-neutral-tertiary);
        }

        &.hasError {
            color: var(--content-error-primary);
        }
    }

    .radioLabelCaption {
        color: var(--content-neutral-default);
    }

    .selectShippingAddress {
        color: var(--content-neutral-secondary);
    }

    .descriptionExtraInfo {
        color: var(--content-neutral-secondary);

        &.isDisabled {
            color: var(--content-neutral-secondary);
        }
    }

    .descriptionValue {
        &.descriptionValueDisabled {
            color: var(--content-neutral-tertiary);
        }

        &.descriptionValueZero {
            color: var(--content-neutral-secondary);
        }
    }

    .totalLineContainer {
        border-top: 1px solid var(--border-neutral-default);
    }
}
