@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .section {
        margin-bottom: @layout-spacing-xl;
    }

    .sectionHeading {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.02em;
        margin-bottom: @layout-spacing-m;
    }

    .launcherPreview {
        height: 120px;
        border-radius: 4px;
        border: 1px var(--neutral-grey-3 solid);
        background-color: var(--neutral-grey-2);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .radioButtonGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--layout-spacing-s);
        margin-bottom: @layout-spacing-l;
    }

    .colorPickerGroup {
        display: flex;
        gap: @layout-spacing-m;
    }

    .wizardButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .colorPicker {
        flex: 1;
    }
}
