@import '~@gorgias/design-tokens/dist/css/layout.less';
@import '~@gorgias/design-tokens/dist/css/typographyTokens.less';
@import '~css/typography.less';

:local {
    .label {
        .body-semibold();
    }

    .labelDisabled {
        .body-semibold();
        color: var(--neutral-grey-4);
    }

    .textInput {
        background-color: var(--neutral-grey-0);
    }

    .selectInput {
        & > div {
            background-color: var(--neutral-grey-0);
        }
    }

    .withDescription {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xxs;
    }

    .description {
        .caption-regular();
        color: var(--neutral-grey-5);
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .formField {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
    }

    .urlMethodFormFieldGroup {
        display: inline-grid;
        grid-template-columns: 444px 120px;
        gap: @layout-spacing-s;
    }

    .keyValueContainer {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
        align-items: flex-start;
    }

    .keyValueRow {
        align-self: stretch;
        display: grid;
        gap: @layout-spacing-xs;
        grid-template-columns: 188px 1fr 20px;
    }

    .testRequestButton {
        align-self: flex-start;
        margin-bottom: @layout-spacing-s;
    }
}
