:local {
    .boundingBox {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: move;
    }

    .visibleContainer {
        border-radius: 16px 16px 0 0;

        overflow: hidden;
    }

    .visibleImage {
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
    }
}
