:local {
    .pill {
        flex: 0 0 auto;
        display: inline-flex;
        align-items: center;
        height: 32px;
        padding: 0 var(--layout-spacing-s);
        font-weight: 500;
        border-radius: 4px;
    }

    .secondary {
        background-color: var(--neutral-grey-2);
        border: 1px solid var(--neutral-grey-3);
        color: var(--neutral-grey-6);
    }

    .light {
        background-color: var(--neutral-grey-1);
        color: var(--neutral-grey-6);
    }
}

.axiom :local {
    .secondary {
        background-color: var(--elevation-neutral-mid);
        border: 1px solid var(--border-neutral-default);
        color: var(--content-neutral-default);
    }

    .light {
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);
    }
}
