@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';
@import (reference) '~css/new/mixins';

:local {
    .innerCard {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        .heading-subsection-semibold();
    }

    .titleIcon {
        margin-left: 2px;
        font-size: 18px;
        vertical-align: -18%;
        color: var(--accessory-magenta-25);
    }

    .expanderIcon {
        margin-left: 2px;
        font-size: 18px;
        vertical-align: -18%;
    }

    .pendingTaskInnerContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        margin-top: @layout-spacing-xs;

        @media @xlarge-desktops {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .expanderContainer {
        text-align: center;
        width: 100%;
        margin: @layout-spacing-xs 0;
    }

    .expander {
        color: var(--main-primary);
        .body-medium();
        text-align: center;
        background: none;
        border: none;

        > i {
            margin-left: 4px;
            vertical-align: -24%;
        }
    }

    .completed {
        border-radius: 12px;
        background-color: var(--neutral-grey-1, #f9f9f9);
        padding: 32px 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-s, 16px);
    }

    .completedText {
        .heading-subsection-regular();
    }
}
