:local {
    .listItem {
        display: block;
        list-style-type: none;
        min-width: 0;
        overflow: visible;
    }

    .card {
        display: block;
        height: 190px;
        padding: var(--layout-spacing-s);
        background-color: var(--neutral-grey-0); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
        overflow: hidden;
    }

    .featured {
        background-color: var(--main-primary-0); // legacy
    }

    .interactive {
        position: relative;
        &:hover {
            top: -1px;
            box-shadow: 0 2px 3px
                hsla(
                    var(--neutral-grey-6-h),
                    // legacy
                    var(--neutral-grey-6-s),
                    // legacy
                    var(--neutral-grey-6-l),
                    // legacy
                    0.2
                );
        }
        &:active {
            box-shadow: inset 1px 1px 2px fade(black, 5%);
        }
    }

    .flexContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .icon {
        margin-bottom: var(--layout-spacing-s);
        margin-right: var(--layout-spacing-s);
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: 0;
    }

    .pillsContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--layout-spacing-xs);
    }

    .installedPill {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        font-weight: 600;
        color: var(--neutral-grey-0); // legacy
        background-color: var(--feedback-success);
        border-radius: 50%;
    }

    .title {
        margin-bottom: var(--layout-spacing-xxs);
        font-weight: 600;
        font-size: 20px;
        color: var(--neutral-grey-6); // legacy
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .description {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 20px;
        color: var(--neutral-grey-5); // legacy
        overflow: hidden;
    }
}

.axiom :local {
    .card {
        background-color: var(--elevation-neutral-default);
        border: 1px solid var(--border-neutral-default);
    }

    .featured {
        background-color: var(--surface-accent-default);
    }

    .interactive {
        &:hover {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        }
    }

    .installedPill {
        color: var(--static-default-white);
        background-color: var(--surface-success-primary);
    }

    .title {
        color: var(--content-neutral-default);
    }

    .description {
        color: var(--content-neutral-secondary);
    }
}
