@import '~css/new/mixins';

:local {
    .container {
        flex: 0 0 240px;
        @media @mobiles {
            flex: 1 0 auto;
        }
    }

    .list {
        margin: 0;
        padding: 0;
        @media @mobiles {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .item {
        list-style-type: none;
    }

    .delimiter {
        &::after {
            content: '';
            display: block;
            margin: var(--layout-spacing-s) 0;
            border-top: 1px dashed var(--neutral-grey-3);
            @media @mobiles {
                display: none;
            }
        }
    }

    .link {
        display: block;
        padding: var(--layout-spacing-xs);
        color: var(--neutral-grey-6);
        border-radius: 4px;
        &:hover {
            color: var(--neutral-grey-6);
            background-color: var(--main-primary-0); // legacy
        }
        &.active,
        &:active {
            color: var(--main-primary);
            background-color: var(--main-primary-0); // legacy
        }
    }

    .aside {
        margin-top: var(--layout-spacing-s);
        padding-top: var(--layout-spacing-s);
        border-top: 1px dashed var(--neutral-grey-3);
        @media @mobiles {
            display: none;
        }
    }

    .asideTitle {
        margin-bottom: var(--layout-spacing-xxs);
        font-size: 14px;
        font-weight: 600;
    }

    .asideLink {
        margin-top: var(--layout-spacing-xs);
    }
}

.axiom :local {
    .delimiter {
        &::after {
            border-top: 1px dashed var(--border-neutral-default);
        }
    }

    .link {
        color: var(--content-neutral-default);
        &:hover {
            color: var(--content-neutral-default);
            background-color: var(--surface-neutral-primary);
        }
        &.active,
        &:active {
            color: var(--content-accent-default);
            background-color: var(--surface-neutral-primary);
        }
    }

    .aside {
        border-top: 1px dashed var(--border-neutral-default);
    }
}
