@import (reference) '~css/typography.less';

:local {
    .container {
        .body-regular();
        margin-bottom: 24px;
        p {
            .body-regular();
            margin: 0;
        }
    }

    .infoLink {
        display: flex;

        a > {
            .body-regular();
            display: block;
            margin-right: 16px;
        }
    }
}
