@import '~css/new/colorTokens';

:local {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .image {
        height: 50px;
        width: auto;
    }

    .arrow {
        font-size: 32px;
        color: @classic-neutral-grey-4;
    }
}
