@import (reference) '~css/new/layout.less';
@import (reference) '~css/new/typographyTokens.less';

:local {
    .page {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .pageHeader {
        gap: 24px;
        min-height: auto;
        align-items: flex-start;
        padding: 16px 24px;
    }

    .pageContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
        padding: 0;
    }

    .headerLeft {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 500px;

        .headerLeftInput {
            input {
                font-size: @heading-section-regular-font-size;
            }
            height: 40px;
        }

        .headerLeftdescription {
            color: var(--neutral-grey-5);
            margin-top: @layout-spacing-xxs;
            line-height: normal;
        }
    }

    .headerRight {
        display: flex;
        gap: @layout-spacing-xs;
    }
}
