:local {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        height: 52px;
        padding: 10px 16px;

        border-bottom: 1px solid var(--border-neutral-default);

        > * {
            height: 32px;
            display: flex;
            align-items: center;
        }
    }

    .title {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        gap: var(--spacing-sm);
        min-width: 0;
    }

    .savingIndicator {
        display: flex;
        align-items: center;
        gap: var(--spacing-xxs);
        color: var(--content-neutral-subtle);
    }

    .editableTitle {
        margin-left: -8px; // the input field has 8px padding which displaces the editable title to the right
    }
}
