@import (reference) '~css/typography.less';

:local {
    .title {
        color: var(--content-neutral-default);

        .heading-subsection-semibold();

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }

    .editableTitle {
        color: var(--content-neutral-default);

        display: flex;
        max-width: 65%;
        min-width: 285px;
        overflow-x: scroll;
        border: 1px solid var(--border-neutral-default);

        padding: 6px 8px;
        align-items: center;
        gap: 8px;
        box-sizing: border-box;
        border-radius: 4px;

        &:focus {
            border: 2px solid var(--main-primary, #0075ff); // legacy
            box-shadow: 0 0 0 2px rgba(74, 141, 249, 0.2);
            outline: none;
            padding-left: 6px;
        }
    }
}

.axiom :local {
    .editableTitle {
        &:focus {
            border: 2px solid var(--border-accent-default);
        }
    }
}
