@import '~css/new/colors.less';

:local {
    .fakeBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        padding: 6px 12px;
        border-radius: 4px;
        border: 1px solid @neutral3;

        background: @neutral1;
        color: @neutral10;

        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        cursor: pointer;
    }
}
