@import (reference) '~css/new/colors';
@import (reference) '~css/backdrop';

:local {
    .drawer {
        display: grid;
        grid-template-rows: 64px auto 64px;
        grid-template-areas:
            'header'
            'main'
            'footer';

        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        background-color: @neutral1;

        transition-property: right, width;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.24);
        z-index: 5;

        &.closed {
            width: 0;
        }
        &.opened {
            width: 50vw;
        }
        &.fullscreen {
            width: 100vw;
        }
    }

    .header {
        display: flex;
        align-items: center;
        grid-area: header;

        padding: 0 16px;

        background-color: @white;
    }

    .header-actions {
        display: inline-grid;
        grid-auto-flow: column;
        align-items: center;
        column-gap: 18px;

        margin-left: auto;
    }

    .content {
        position: relative;
        grid-area: main;

        padding: 16px;
        border-bottom: 1px solid @neutral4;
    }

    .footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        padding: 0 16px;
    }
}
