:local {
    .badge {
        border-radius: 100px;
        padding: 2px 8px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0.05em;

        &.success {
            background-color: var(--accessory-green-bg);
            color: var(--accessory-green-text);
        }

        &.warning {
            background-color: var(--accessory-orange-bg);
            color: var(--feedback-warning);
        }

        &.error {
            background-color: var(--accessory-red-bg);
            color: var(--feedback-error);
        }

        &.info {
            background-color: var(--neutral-grey-1);
            color: var(--neutral-grey-5);
        }
    }
}
