@import (reference) '~css/typography.less';

:local {
    .feedbackContainer {
        display: flex;
        gap: var(--layout-spacing-xs);
        flex-wrap: wrap;
    }

    .feedbackQuestion {
        text-wrap: nowrap;
    }

    .feedbackButtons {
        display: flex;
        gap: var(--layout-spacing-xs);
    }

    .feedbackButton {
        z-index: 0;
    }

    .withFeedback {
        cursor: default !important;

        &.thumb_up {
            color: var(--feedback-success-4) !important;
        }

        &.thumb_down {
            color: var(--feedback-error-4) !important;
        }
    }
}
