@import '~css/new/colors';

:local .component {
  font-size: 1em;
  color: @blockTextColor;

  &.hasError div {
    color: @lightPurple2;
  }

  [style*="fixed"] {
    position: relative !important;
  }

  img {
    max-width: 100%;
    /* prevent alt text from overflowing */
    overflow: hidden;
  }

  audio {
    display: block;
    margin: 6px 0;
  }
}
