@import '~css/new/colorTokens';

:local .component {
    font-size: 1em;
    color: @classic-neutral-grey-6;

    &.hasError div {
        color: @classic-neutral-grey-4;
    }

    [style*='fixed'] {
        position: relative !important;
    }

    img {
        max-width: 100%;
        /* prevent alt text from overflowing */
        overflow: hidden;
    }

    audio {
        display: block;
        margin: 6px 0;
    }
}
