@import '~css/new/mixins';
@import '~css/new/colorTokens';

:local {
    .component {
        margin-top: 20px;
    }

    .buttons {
        @media @desktops {
            white-space: nowrap;
        }
    }

    .toggleActions {
        display: none;
        color: @classic-main-primary !important;
        cursor: pointer;
    }

    .hasActions .toggleActions {
        display: inline-block;
    }

    .actions {
        display: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 0;
        opacity: 0;
        transition: all 0.1s ease-out;

        @media @desktops {
            padding-left: 2.6em;
        }
    }

    .showActions .actions {
        padding-top: 20px;
        opacity: 1;
        height: auto;
    }

    .hasActions .actions {
        display: block;
    }

    .actionError {
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }
}
