@import '~css/new/mixins';
@import '~css/new/colors';

:local {
  .component {
    margin-top: 20px;
  }

  .buttons {
    @media @desktops {
      white-space: nowrap;
    }
  }

  .toggleActions {
    display: none;
    margin-left: .4em;

    cursor: pointer;
    text-decoration: underline !important;

    &:hover {
      text-decoration: none !important;
    }
  }

  .hasActions .toggleActions {
    display: inline-block;
  }

  .actions {
    display: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: all .1s ease-out;

    @media @desktops {
      padding-left: 2.6em;
    }
  }

  .showActions .actions {
    padding-top: 20px;
    opacity: 1;
    height: auto;
  }

  .hasActions .actions {
    display: block;
  }

  .actionError {
    margin-bottom: 10px;
    color: @darkRed;
  }
}
