:local .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    float: right;

    .sourceDetails {
        flex-shrink: 0;
    }
}
