@import '~css/new/colors';

:local .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    padding-bottom: 0.5em;
    transition: padding 0.16s ease-out;
    float: right;

    .sourceDetails {
        flex-shrink: 0;
    }
}
