@import '~css/new/colors';
@import '~css/new/mixins';

:local .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    padding-bottom: 0.5em;
    transition: padding 0.16s ease-out;
    line-height: 26px;

    &.hasError div {
        color: @classic-neutral-grey-4;
    }

    .headerDetails {
        display: flex;
        min-width: 200px;
        align-items: center;
        align-self: start;

        & > * {
            margin-right: 6px;
        }
    }

    .author {
        margin-right: 0.8em;
        font-weight: 600;
        flex-shrink: 0;
    }

    .isAgent {
        color: @classic-main-primary;
    }

    .agentIcon {
        vertical-align: text-bottom;
    }

    .sourceDetails {
        flex-shrink: 0;
    }

    .hiddenMessage {
        color: darken(@classic-neutral-grey-4, 8%);
    }

    .deletedMessage {
        color: darken(@ultraLightRed, 25%);
    }
}
