@import '~css/new/layout.less';

:local .from {
    color: hsl(
        var(--neutral-grey-4-h),
        var(--neutral-grey-4-s),
        calc(var(--neutral-grey-4-l) - 8%)
    );
    font-size: 1rem;
    display: flex;
    min-width: 0;

    .fromLabel {
        flex-shrink: 0;
        margin-right: 4px;
    }

    .fromValue {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        .repliedBy {
            display: flex;
            align-items: center;

            .separator {
                margin-left: @layout-spacing-xxs;
                margin-right: @layout-spacing-xxs;
            }

            .filler {
                margin-left: 3px;
                margin-right: 6px;
            }
        }
    }

    a {
        font-weight: 600;
        color: hsl(
            var(--neutral-grey-4-h),
            var(--neutral-grey-4-s),
            calc(var(--neutral-grey-4-l) - 8%)
        );
        text-decoration: underline !important;
    }

    .ticketLink a {
        font-weight: 600;
        color: var(--main-primary);
    }

    .spinner {
        width: 18px;
        margin-right: 5px;
    }
}
