@import '~css/new/colors';

:local .from {
  color: darken(@lightGrey, 8%);
  font-size: 1rem;

  a {
    font-weight: 600;
    color: darken(@lightGrey, 8%);
    text-decoration: underline !important;
  }
}
