@import '~css/new/colorTokens';

:local {
    .wrapper {
        font-size: 12px;
        font-weight: 500;
        color: @classic-neutral-grey-4;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .content {
        display: flex;
    }

    .from {
        color: darken(@classic-neutral-grey-4, 8%);
        font-size: 1rem;
        display: flex;
        min-width: 0;

        .fromLabel {
            flex-shrink: 0;
            margin-right: 4px;
        }

        .fromValue {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        a {
            font-weight: 600;
            color: darken(@classic-neutral-grey-4, 8%);
            text-decoration: underline !important;
        }
    }

    & :not(:hover) .hideTimestamp {
        display: none;
    }
}
