@import '~css/new/colorTokens';

:local {
    .actionButton {
        cursor: pointer;
        padding: 0;
        margin-right: 5px;
        height: 26px;

        .hideAction {
            width: 26px;
        }
    }

    .replyButton {
        padding: 0px 7px;
        .ticket-message:not(:hover) & {
            display: none;
        }
    }

    .visibilityButton {
        width: 26px;
        line-height: 24px;
        margin-right: 5px;
        .ticket-message:not(:hover) & {
            display: none;
        }
    }

    .pageReactionBadge {
        color: @classic-main-primary;
    }

    .customerReactionBadge {
        color: @classic-neutral-grey-6;
    }

    .totalReactionsBadge {
        color: @classic-neutral-grey-6;
        position: relative;
        overflow: hidden;
        min-height: 25px;
        display: inline;
    }

    .reactionText {
        color: @classic-neutral-grey-5;
    }

    .reactionIcon {
        width: 17px;
        height: auto;
    }

    .reactionButton {
        cursor: pointer;
        padding: 0;
        margin-left: 3px;

        &:hover {
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1);
        }
    }

    .groupedReactions {
        margin-right: -4px;
        border: 2px solid @classic-neutral-grey-0;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 20px;
    }

    .spinner {
        display: inline-block;
        width: 20px;
    }

    .slide {
        position: absolute;
        right: 0;
        width: 120px;
        transition: 0.2s ease-out;
        text-align: right;
        bottom: 20px;
        opacity: 0;
    }

    .totalReactionsBadge:hover .slide {
        opacity: 1;
    }
}
