@import '~css/new/colorTokens';

:local {
    .createLabel {
        color: @classic-main-primary !important;
        i {
            margin-top: 3px;
            margin-left: 4px;
            margin-right: 9px;
        }
    }
}
