@import '~css/new/colorTokens';

:local {
    .wrapper {
        display: flex;
        align-items: center;
        line-height: 21px;

        strong {
            margin-right: 1rem;
        }
        span {
            color: @classic-neutral-grey-4;
        }
    }
}
