@import '~css/new/colorTokens';

:local {
    .header {
        td:first-child {
            padding-left: 25px;
        }
    }
    .row {
        padding: 0;

        td:first-child {
            min-width: 220px;
        }

        td > div {
            padding: 0 10px;

            span {
                color: @classic-neutral-grey-4;
            }

            :global(.badge-tag) {
                color: @classic-neutral-grey-6 !important;
            }
        }
    }
}
