@import '~css/new/colorTokens';

:local {
    .header {
        td:first-child {
            padding-left: 25px;
        }
    }

    .table {
        tr {
            td {
                width: auto;
                padding-left: 25px;

                > div {
                    padding-top: 0;
                    padding-bottom: 0;

                    &:first-child {
                        padding-left: 0;
                    }

                    span {
                        color: @classic-neutral-grey-4;
                    }

                    :global(.badge-tag) {
                        color: @classic-neutral-grey-6 !important;
                    }

                    a {
                        color: @classic-neutral-grey-4;
                    }
                }

                &:last-child {
                    width: 70px !important;
                    max-width: 70px !important;
                }
            }

            &:hover {
                a {
                    color: @classic-main-primary !important;
                }
            }
        }
    }
}
