@import '~css/new/colorTokens';
:local {
    .modal {
        max-width: 600px;
    }

    .footer {
        background-color: @classic-neutral-grey-2 !important;

        &.steppedFooter {
            justify-content: space-between;
            span {
                color: @classic-neutral-grey-4 !important;
            }

            .buttons {
                display: flex;
            }
        }
    }
}
