@import '~css/new/colors';

:local {
    .stepTitle {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 16px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .selectionButtonGroup {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .selectionButton {
        flex: 1 0 auto;

        &:first-of-type {
            margin-right: 16px;
        }
    }
}
