@import '~css/new/colorTokens';
@import (reference) '~css/typography';

:local {
    .disabledConnectionNotification {
        .caption-regular();
        color: @classic-neutral-grey-4;
        text-align: center;

        margin-top: 4px;
    }
}
