:local {
    .icon {
        color: var(--neutral-grey-3); // legacy
        font-size: 28px;
    }

    .circle {
        width: 80px;
        height: 80px;
        background-color: var(--neutral-grey-2); // legacy
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .wrapper {
        margin-top: 96px;
    }

    .text {
        text-align: center;
        color: var(--neutral-grey-5); // legacy
        margin-top: 16px;
    }
}

.axiom :local {
    .icon {
        color: var(--content-neutral-tertiary);
    }

    .circle {
        background-color: var(--elevation-neutral-default);
    }

    .text {
        color: var(--content-neutral-secondary);
    }
}
