:local {
    .icon {
        color: var(--neutral-grey-3);
        font-size: 28px;
    }

    .circle {
        width: 80px;
        height: 80px;
        background-color: var(--neutral-grey-2); // legacy
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .wrapper {
        margin-top: 96px;
    }

    .text {
        text-align: center;
        color: var(--neutral-grey-5);
        margin-top: 16px;
    }
}

.axiom :local {
    .circle {
        background-color: var(--surface-neutral-secondary);
    }
}
