:local {
    .icon {
        color: var(--neutral-grey-4); // legacy
        font-size: 16px;
        margin-left: 4px;
    }

    .wrapper {
        display: inline-flex;
    }
}

.axiom :local {
    .icon {
        color: var(--content-neutral-secondary);
    }
}
