:local {
    .settingButton {
        font-size: 15px;

        &,
        &:focus {
            display: inline-block;
            float: right;
            position: relative;
            color: hsla(
                var(--neutral-grey-0-h),
                // legacy
                var(--neutral-grey-0-s),
                // legacy
                var(--neutral-grey-0-l),
                // legacy
                0.5
            );
            transition:
                color 0.2s,
                border-color 0.2s;
            cursor: pointer;
        }
        &:hover,
        &.active {
            color: var(--neutral-grey-0); // legacy
        }
    }
}

.axiom :local {
    .settingButton {
        &,
        &:focus {
            color: color-mix(
                in srgb,
                var(--elevation-neutral-default) 50%,
                transparent
            );
        }
        &:hover,
        &.active {
            color: var(--elevation-neutral-default);
        }
    }
}
