@import '~css/typography';

:local {
    .onboardingSteps {
        background-color: var(--neutral-grey-2);
        height: 36px;
        border-radius: var(--layout-spacing-xl);
        border: 1px solid var(--neutral-grey-0); // legacy

        padding: var(--layout-spacing-xs) var(--layout-spacing-s)
            var(--layout-spacing-xs) var(--layout-spacing-xs);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: max-content;
        justify-self: center;

        font-size: 14px;
        font-weight: 500;
    }
}

.axiom :local {
    .onboardingSteps {
        border: 1px solid var(--border-neutral-default);
    }
}
