@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
    }

    .headerTitle {
        .heading-page-semibold();
        padding: var(--layout-spacing-m);
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-m);
        padding: var(--layout-spacing-m);
        padding-bottom: 0;
    }

    .fieldWrapper {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-xxs);
    }

    .inputLabel {
        .body-medium();
        font-size: 16px;
    }

    .asterisk {
        color: var(--feedback-error); // legacy
        margin-left: var(--layout-spacing-xxs);
    }

    .inputField {
        height: var(--layout-spacing-xl);
        .body-regular();
        color: var(--neutral-grey-4); // legacy
        display: flex;
        padding: 12px; // custom spacing
        align-items: center;
        justify-content: space-between;
        gap: var(--layout-spacing-xs);
        border-radius: var(--layout-spacing-xxs);
        border: 1px solid var(--neutral-grey-3); // legacy
        background: var(--neutral-grey-0); // legacy

        i {
            font-size: 24px;
            color: var(--neutral-grey-4); // legacy
        }
    }

    .textArea {
        height: 126px;
        .body-regular();
        color: var(--neutral-grey-4); // legacy
        padding: 12px; // custom spacing
        align-items: start;
        border-radius: var(--layout-spacing-xxs);
        border: 1px solid var(--neutral-grey-3); // legacy
        background: var(--neutral-grey-0); // legacy
    }

    .attachmentsWrapper {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-xs);
    }

    .attachments {
        display: flex;
        flex-direction: row;
        column-gap: var(--layout-spacing-xs);
        background-color: var(--neutral-grey-1); // legacy
        border-radius: var(--layout-spacing-xxs);
        border: 1px dashed var(--neutral-grey-3); // legacy
        align-items: center;
        justify-content: center;
        padding: var(--layout-spacing-s);
        .heading-subsection-semibold();

        i {
            font-size: 20px;
        }
    }

    .caption {
        .caption-regular();
        line-height: 20px;
        color: var(--neutral-grey-5); // legacy
    }

    .footerSection {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-s);
        padding: 40px var(--layout-spacing-m);
    }

    .sendButton {
        background-color: var(--neutral-grey-6); // legacy
        color: var(--neutral-grey-0); // legacy
        .heading-subsection-regular();
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--layout-spacing-xxs);
        padding: 14px 20px;
    }

    .linkText {
        color: #0075ff;
    }
}

.axiom :local {
    .headerTitle {
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .asterisk {
        color: var(--static-error);
    }

    .inputField {
        color: var(--content-neutral-secondary);
        border: 1px solid var(--border-neutral-default);
        background: var(--elevation-neutral-default);

        i {
            color: var(--content-neutral-secondary);
        }
    }

    .textArea {
        color: var(--content-neutral-secondary);
        border: 1px solid var(--border-neutral-default);
        background: var(--elevation-neutral-default);
    }

    .attachments {
        background-color: var(--elevation-neutral-mid);
        border: 1px dashed var(--border-neutral-default);
        box-shadow: var(--effects-shadow-container);
    }

    .caption {
        color: var(--content-neutral-tertiary);
    }

    .sendButton {
        background-color: var(--content-neutral-default);
        color: var(--elevation-neutral-default);
    }
}
