:local {
    .container {
        max-width: 100%;
        overflow: hidden;
    }

    .badge {
        display: flex;
    }

    .badgeText {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
