:local {
    .emptyStateContainer {
        max-width: 688px;
        width: 100%;
        padding: 0 var(--spacing-lg);
    }

    .cardContainer {
        padding: var(--spacing-sm) var(--spacing-md);
    }

    .titleTextAlignment {
        text-align: center;
    }

    .cardTitle {
        color: var(--content-neutral-default);
        font-weight: 600;
    }

    .cardDescription {
        color: var(--content-neutral-secondary);
        margin-bottom: 0;
    }

    .templatesContainerHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: var(--spacing-md);
        margin-bottom: 10px;
    }
    .templatesList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-md);
        margin-bottom: var(--spacing-md);
    }

    .templateFooter {
        color: var(--content-neutral-secondary); // legacy
    }

    .responsiveContainer {
        display: flex;
        flex-direction: row;
        @media (max-width: 594px) {
            flex-direction: column;
            width: 100%;
        }
    }
}
