:local {
    .labelSection {
        margin-bottom: var(--spacing-md);
    }

    .modalActions {
        margin-top: var(--spacing-md);
    }

    .link {
        display: flex;
        color: var(--content-accent-default, #0d6cf2);
        margin-top: var(--spacing-sm);

        &:hover {
            cursor: pointer;
        }
    }
}
