:local {
    .app {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: var(--neutral-grey-1); // legacy
        color: var(--neutral-grey-6); // legacy

        &:global(.globalNav) {
            background-color: var(--navigation-background); // legacy
        }
    }
}

.axiom:local(.app) {
    background-color: var(--elevation-neutral-default);
    color: var(--content-neutral-default);

    &:global(.globalNav) {
        background-color: var(--elevation-neutral-bg);
    }
}
