@import '~css/typography';

:local {
    .wrapper {
        width: 340px;
    }

    .content {
        .body-regular();

        color: var(--neutral-grey-4);
        text-align: center;
        padding: var(--layout-spacing-xs);
    }

    .footer {
        padding: var(--layout-spacing-xxs);
    }

    .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .pin {
        flex-shrink: 0;
    }

    .item > .pin {
        margin-left: auto;
    }

    .item > .pin[data-state='off'] {
        display: none;
    }

    .item:hover > .pin {
        display: inline-flex;
    }
}
