@import (reference) '~css/new/mixins';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .pageContainer {
        padding: @layout-spacing-m;

        .campaignsHeader {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @media @mobiles {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}
