@import (reference) '~css/new/mixins';

:local {
    .pageContainer {
        padding: var(--layout-spacing-m) var(--layout-spacing-m) 0;

        .campaignsHeader {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @media @mobiles {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}
