@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';
@import '~css/new/mixins.less';

:local {
    .content {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-m;
    }

    .btnGroup {
        display: flex;
        gap: @layout-spacing-xs;
        padding: @layout-spacing-xl 0 @layout-spacing-s 0;
    }

    .alertContainer {
        padding: @layout-spacing-m;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;

        @media @mobiles {
            display: none;
        }

        @media @tablets {
            display: none;
        }
    }

    .alert {
        align-items: flex-start;
        max-width: 400px;

        p {
            color: var(--neutral-grey-5);
        }
    }

    .additionalActions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
