:local {
    .modalFooter {
        float: right;
        background-color: var(--neutral-grey-2); // legacy
    }

    .removeButton {
        font-size: 20px;
    }

    .button {
        display: flex;
        gap: 4px;
        i {
            font-size: 20px;
        }
    }
}

.axiom :local {
    .modalFooter {
        background-color: var(--elevation-neutral-default);
    }
}
