:local {
    .url {
        min-width: 0;
        overflow-wrap: anywhere;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
