:local {
    .container {
        padding: 16px;
        background-color: var(--neutral-grey-2); // legacy
        font-size: 12px;
        line-height: 16px;

        &.disabled {
            color: var(--neutral-grey-4); // legacy

            a {
                color: var(--neutral-grey-4) !important; // legacy
            }
        }
    }

    .legalText {
        padding-bottom: 12px;

        a {
            color: var(--neutral-grey-6); // legacy
            text-decoration: underline !important;
        }
    }

    .checkboxLegalTerms {
        display: flex;
        gap: 8px;
        align-items: flex-start;
        padding-bottom: 12px;

        input {
            width: 16px;
            margin: 0;
            padding: 0;
        }

        label {
            margin: 0;
        }
    }

    .termsLabel {
        a {
            color: var(--neutral-grey-6); // legacy
            text-decoration: underline !important;
        }
    }

    .button {
        display: flex;
        justify-content: end;
    }
}

.axiom :local {
    .container {
        background-color: var(--surface-neutral-secondary);

        &.disabled {
            color: var(--content-neutral-secondary);

            a {
                color: var(--content-neutral-secondary) !important;
            }
        }
    }

    .legalText {
        a {
            color: var(--content-neutral-default);
        }
    }

    .termsLabel {
        a {
            color: var(--content-neutral-default);
        }
    }
}
