@import (reference) '~css/new/mixins';
@import (reference) '~css/backdrop';

:local {
    .rootDrawer {
        > div:first-child {
            background-color: transparent;
        }
    }

    .header,
    .tabNavigator {
        padding: 0 10px 0 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
    }

    .tabContent {
        width: 100%;
        overflow: auto;
    }
}
