@import (reference) '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: @layout-spacing-xs;
    }

    .footer {
        .caption-regular();

        color: var(--neutral-grey-5);
        display: grid;
        grid-template-columns: 110px 160px 1fr 64px;
        gap: @layout-spacing-xs;
    }
}
