@import (reference) '~css/typography.less';

:local {
    .section {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: var(--layout-spacing-s);

        &.big {
            gap: var(--layout-spacing-xl);
        }
    }
}
