@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .label {
        margin-bottom: @layout-spacing-xxs;
    }

    .description {
        color: var(--neutral-grey-5);
        margin-bottom: @layout-spacing-xs;
    }

    .alert {
        margin-top: @layout-spacing-xxs;
    }

    .button {
        padding: 0 !important;
        text-transform: none !important;
    }

    .caption {
        .caption-regular();

        margin-top: @layout-spacing-xs;
    }

    .buttons {
        display: flex;
        gap: @layout-spacing-s;
        margin-top: @layout-spacing-xxs;
    }

    .stepList {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
        list-style: none;
        padding: 0;
        margin-bottom: @layout-spacing-xs;
        margin-top: @layout-spacing-xs;
    }
}
