@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        display: grid;
        align-items: center;
        gap: @layout-spacing-xxs;
        padding: 10px 0;
        grid-template-columns: 20px 1fr max-content max-content;

        &.isClickable {
            cursor: pointer;
        }
    }

    .dragIcon {
        color: var(--neutral-grey-5);
        cursor: grab;
        font-size: 20px !important;
    }

    .deleteButton {
        grid-column: 4;
    }
}
