@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .item {
        width: 100%;
        font-size: 12px;
        color: var(--accessory-grey-0);
        line-height: normal;

        .title {
            margin-bottom: var(--layout-spacing-xs);
        }

        .progress {
            display: flex;
            align-items: center;

            .bar {
                height: 14px;
                background: linear-gradient(
                    268deg,
                    var(--accessory-magenta-25) 25.04%,
                    rgba(195, 76, 237, 0) 200.07%
                );

                border-radius: 0 4px 4px 0;
                margin-right: var(--layout-spacing-xs);
            }
        }

        .percentage {
            width: 35px;
        }
    }
}
