@import '~css/new/colorTokens';

:local {
    .hourlyTable {
        table-layout: fixed;

        td,
        th {
            position: relative;
            background-clip: padding-box;
            padding: 5px 0 5px 0;
            border: 1px solid @classic-neutral-grey-3;
            text-align: center;

            &:first-child {
                text-align: left;
                padding-left: 15px;
                width: 80px;
            }
        }

        th {
            font-size: 12px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: @classic-neutral-grey-3;
            color: @classic-neutral-grey-6;
        }

        td {
            vertical-align: middle;
            color: @classic-neutral-grey-6;
            font-size: 13px;
            font-weight: 500;

            &:first-child {
                color: @classic-neutral-grey-5;
                font-weight: 600;
            }

            .redTransparentStripes {
                position: absolute;
                bottom: -1px;
                top: -1px;
                width: 5px;
                background: repeating-linear-gradient(
                        135deg,
                        fade(black, 0),
                        fade(black, 0) 2px,
                        @classic-feedback-error-2 2px,
                        @classic-feedback-error-2 4px
                    )
                    fixed;
            }
        }
    }
}
