@import '~css/typography';

:local {
    .container {
        display: flex;
        padding-top: var(--layout-spacing-xl);
        gap: var(--layout-spacing-l);
        flex-direction: column;
        align-items: center;

        width: 100vw;
        height: fit-content;

        background: linear-gradient(
            145deg,
            var(--accessory-magenta-2) 0%,
            var(--neutral-grey-0) 30%
        ); // legacy
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--layout-spacing-xs);
        font-size: 20px;
        font-weight: 600;
    }
}

.axiom :local {
    .container {
        background: linear-gradient(
            145deg,
            var(--surface-additional-purple) 0%,
            var(--elevation-neutral-default) 30%
        );
    }
}
