@import '~css/new/mixins.less';

:local {
    .recoveryCodesContainer {
        padding: 20px;
        background: var(--neutral-grey-0); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
    }

    .recoveryCodesItem {
        display: inline-block;
        width: calc(25% - 16px);
        height: 24px;
        font-size: 12px;
        line-height: 16px;
        padding: 4px 8px;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        margin: 8px;
        color: var(--accessory-green-3); // legacy
        background-color: var(--accessory-green-1); // legacy
        border-radius: 4px;

        @media @mobiles {
            width: calc(50% - 16px);
        }
    }

    .checkBox {
        font-weight: normal;
    }

    .actionButtonsContainer {
        display: flex;
    }

    .actionAnchor {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .actionButton {
        justify-content: center;
        align-items: center;
        padding: 6px 12px;
        width: 100%;
    }

    .mr8 {
        margin-right: 8px;
    }
}

.axiom :local {
    .recoveryCodesContainer {
        background: var(--elevation-neutral-default);
        border-color: var(--border-neutral-default);
    }

    .recoveryCodesItem {
        background-color: var(--static-success);
        color: var(--static-success);
    }
}
