@import (reference) '~css/typography.less';

:local {
    .visibilityMethodDropdownPlaceholder {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);

        margin-top: var(--layout-spacing-xs);

        transition: opacity 0.2s ease-in-out;

        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        color: var(--neutral-grey-5); // legacy

        text-transform: capitalize;

        &.hide {
            transition: none;
            opacity: 0;
            pointer-events: none;
        }
    }

    .visibilityMethodDropdownPlaceholderIcon {
        cursor: pointer;
        font-size: 16px;
    }

    .matchConditions {
        display: flex;
        gap: 8px;
        align-items: center;

        font-size: 12px;
        color: var(--neutral-grey-5); // legacy
        line-height: 16px;
    }

    .matchConditionsDropdown :global(.dropdown-toggle) {
        border: 0;
        font-size: 12px;
        font-weight: 500;
        color: var(--neutral-grey-5); // legacy
    }

    .visibilityControls {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        margin-top: var(--layout-spacing-m);
    }

    .conditions {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .tip {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);

        font-size: 12px;
        line-height: 16px;

        color: var(--neutral-grey-5); // legacy
    }

    .tipIcon {
        font-size: 16px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        margin-top: var(--layout-spacing-s);
    }

    .disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}

.axiom :local {
    .visibilityMethodDropdownPlaceholder {
        color: var(--content-neutral-secondary);
    }

    .matchConditions {
        color: var(--content-neutral-secondary);
    }

    .matchConditionsDropdown :global(.dropdown-toggle) {
        color: var(--content-neutral-secondary);
    }

    .tip {
        color: var(--content-neutral-secondary);
    }
}
