@import (reference) '~css/typography.less';

:local {
    .container {
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
        padding: 20px;

        .header {
            display: flex;
            column-gap: var(--layout-spacing-s);
            align-items: center;
            justify-content: space-between;

            .leftSection {
                display: flex;
                align-items: center;

                .installedIcon {
                    margin-right: var(--layout-spacing-s);
                }
            }
        }
    }

    .externalIcon {
        margin-left: var(--layout-spacing-xs);
    }

    .title {
        .body-semibold();
        margin-bottom: var(--layout-spacing-xs);
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-mid);
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-sm);
        box-shadow: var(--effects-shadow-container);
    }
}
