:local {
    .one-click-installation {
        background-color: var(--neutral-grey-2); // legacy
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;

        &:not(:last-of-type) {
            margin-bottom: 24px;
        }

        .one-click-installation-inner {
            display: flex;
            align-items: center;
        }
        .shopify-logo {
            width: 17px;
            height: 20px;
            margin: 0 20px 0 10px;
        }
        .warning-icon {
            height: 14px;
            width: 13px;
            margin-left: 18px;
        }
        .disconnected-store {
            color: var(--feedback-warning); // legacy
            margin-left: 16px;
            font-size: 12px;
        }

        .actions-wrapper {
            .disconnect-button {
                margin-left: 8px;
            }
        }
    }
}

.axiom :local {
    .one-click-installation {
        background-color: var(--surface-neutral-tertiary);

        .disconnected-store {
            color: var(--content-warning-primary);
        }
    }
}
