@import '~css/new/colors';

:local {
    .container {
        font-family: 'Inter UI', sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 21px;
        margin-right: 0.5rem;
        color: @indigo;
    }
    .container > * {
        margin-right: 0.5rem;
    }
    .star {
        color: @indigo;
        font-size: 20px;
        line-height: 21px;
        vertical-align: bottom;
    }
    .pill {
        background-color: @indigo;
        font-weight: 500;
    }
}
