@import '~css/new/colors';

:local {
    .topTopicsContainer {
        padding: 14px;
    }
    .container {
        font-family: 'Inter UI', sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 21px;
        margin-right: 0.5rem;
        color: @indigo;
    }
    .topic {
        margin: 0;
        color: @indigo;
        background-color: @white7;
        font-weight: 100;
    }
    .topics {
        display: block;
        clear: both;
        padding: 1rem 0 0.5rem 4px;
    }
    .favorite {
        font-size: 20px;
        line-height: 21px;
        margin-right: 0.5rem;
        vertical-align: bottom;
    }
}
