@import '~css/new/colors';

:local {
    .container {
        border-radius: 9px;
        padding: 2px;
        height: 18px;
        &:global(.primary) {
            background: fade(@classic-main-primary, 10%);
            color: @yotpoBlue;
        }
        &:global(.secondary) {
            background-color: fade(@classic-neutral-grey-4, 10%);
            color: @classic-neutral-grey-4;
        }
    }
    .children {
        padding-left: 3px;
        padding-right: 3px;
        opacity: 1;
        font-weight: 500;
        font-size: 12px;
    }
    .icon {
        padding-top: 1px;
        font-size: 14px;
        vertical-align: text-top;
        opacity: 1;
    }
}
