@import '~css/new/layout';
@import (reference) '~css/typography';

:local {
    .label {
        margin-bottom: @layout-spacing-xs;
    }

    .inputContainer {
        margin-bottom: @layout-spacing-s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .error {
        .caption-regular();
        color: var(--feedback-error);
        margin: 0.25rem 0 1rem;
    }
}
