@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .label {
        margin-bottom: var(--layout-spacing-xs);
    }

    .inputContainer {
        margin-bottom: var(--layout-spacing-s);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .error {
        .caption-regular();
        color: var(--feedback-error);
        margin: 0.25rem 0 1rem;
    }
}
