@import (reference) '~css/typography.less';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .wrapper {
        display: inline-flex;
        align-items: center;
        overflow: hidden;
    }

    .avatar {
        margin-right: var(--layout-spacing-xs);
        flex-shrink: 0;
    }

    .agent {
        .body-medium();
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
