@import '~css/new/colorTokens';

:local .component {
    align-items: center;
    display: flex;
    line-height: 20px;
    justify-content: space-between;

    .badge {
        background-color: @classic-neutral-grey-3;
        border: none;
        border-radius: 15px;
        color: @classic-neutral-grey-5;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-left: 0.5rem;
        padding: 2px 8px;
    }

    .badge--unselect {
        background-color: @classic-main-primary;
        color: @classic-neutral-grey-1;
    }
}
