@import '~css/new/colors';

:local .component {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .badge {
        background-color: @neutral3;
        border: none;
        border-radius: 15px;
        color: @neutral7;
        font-size: 12px;
        font-weight: bold;
        margin-left: 0.5rem;
        padding: 2px 8px;
    }

    .badge--unselect {
        background-color: @blue;
        color: @neutral0;
    }
}
