@import '~css/new/colorTokens';
@import '~css/typography';

:local .component {
    align-items: center;
    display: flex;
    line-height: 20px;
    justify-content: space-between;
    padding: 0;

    .badge {
        .caption-allcaps();
        background-color: @classic-neutral-grey-4;
        border: none;
        border-radius: 15px;
        color: @classic-neutral-grey-0;
        margin-left: auto;
        padding: 2px 9px;
    }

    .badge--unselect {
        background-color: @classic-main-primary;
        color: @classic-neutral-grey-1;
    }

    .checkbox {
        width: 100%;
    }
}
