@import '~css/new/colorTokens';

:local {
    .content {
        max-height: 60vh;
        overflow-y: auto;
    }

    .dropdown {
        width: 230px;
        padding: 0;
    }

    .dropdownDivider {
        margin: 0;
    }

    .dropdownItemInput {
        padding: 8px 8px 4px;
    }

    .header {
        color: @classic-neutral-grey-5;
        font-weight: 500;
    }

    .icon {
        font-size: 130%;
        align-self: center;
    }

    .labelItem {
        cursor: pointer;
        padding: 8px 8px 8px 16px;

        &:hover {
            background-color: @classic-neutral-grey-2;
        }
    }

    .wrapperItem {
        &:last-of-type {
            .labelItem {
                padding-bottom: 14px;
            }
        }
    }

    .items {
        padding: 0px 3px 6px 3px;

        &:not(:first-child) {
            padding: 6px 3px;
            border-top: 2px solid @classic-neutral-grey-2;
        }
    }

    .quickSelectionOption {
        padding: 8px 16px 12px;
    }
}
