@import '~css/new/colors';

:local {
    .dropdown {
        width: 230px;
        padding: 0;
    }

    .content {
        max-height: 60vh;
        overflow-y: auto;
    }

    .item {
        cursor: pointer;
        padding: 2px 16px;

        &:first-child {
            padding-top: 6px;
        }

        &:last-of-type {
            padding-bottom: 6px;
        }
    }

    .checkbox {
        cursor: pointer;
        margin-top: -1px !important;
        align-self: center;
    }

    .icon {
        font-size: 130%;
        align-self: center;
    }

    .header {
        color: @neutral8;
        font-weight: 500;
    }

    .items {
        padding: 0px 3px 6px 3px;

        &:not(:first-child) {
            padding: 6px 3px;
            border-top: 2px solid @neutral2;
        }
    }

    .dropdownItemInput {
        padding: 8px 8px 4px;
    }

    .dropdownDivider {
        margin: 0;
    }

    .quickSelectionOption {
        padding: 8px 16px 16px;
    }
}
