:local {
    .container {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        border: 1px solid var(--neutral-grey-3);
        height: 200px;
        padding: 16px;
        justify-content: space-between;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .title {
        display: flex;
        gap: 12px;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        color: var(--neutral-grey-6);

        i {
            padding: 4px;
            background-color: var(--neutral-grey-1);
            color: var(--neutral-grey-5);
            border-radius: 4px;

            &.activeIcon {
                background-color: var(--accessory-blue-1);
                color: var(--main-primary-4);
            }
        }
    }

    .counter {
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 4px;

        i {
            font-size: 20px;
            color: var(--neutral-grey-4);
        }
    }

    .extraCost {
        font-size: 14px;
    }

    .autoUpgradeLabel {
        font-size: 14px;
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
    }

    .subscribeContainer {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
    }

    .tooltip {
        :global(.tooltip) {
            max-width: 222px !important;
            left: -10px !important;
        }

        a {
            color: inherit;
            text-decoration: underline !important;
            padding-left: 4px;
        }
    }

    .danger {
        color: var(--feedback-error);
    }

    .warning {
        color: var(--feedback-warning);
    }

    .contactUs {
        cursor: pointer;
    }

    .body {
        font-size: 14px;
    }

    .disabledLock {
        padding-right: 4px;
        font-size: 20px;
    }
}
