:local {
    .card {
        height: 324px;
    }
    .donut {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
    }
    .legend {
        justify-content: center;
    }
}
