@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .card {
        height: 324px;
    }
    .donut {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-m;
    }
    .legend {
        justify-content: center;
    }
}
