@import '~css/new/colorTokens';

:local {
    .parents {
        font-weight: 400;
        font-size: 12px;
        color: @classic-neutral-grey-4;
        text-align: left;
    }

    .trimTextFromTheLeft {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
    }

    .category {
        font-size: 14px;
        text-align: left;
    }

    .tooltip {
        padding: 0 4px;
    }
}
