@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .abbr[title] {
        color: var(--feedback-error);
        margin-left: 4px;
        text-decoration: none;
    }

    .content {
        padding-top: var(--layout-spacing-s);
    }
    .titleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .title {
        .heading-section-semibold();
        margin-bottom: 0;
    }
    .subtitle {
        .body-regular();
    }
    .betaBadge {
        margin-left: 5px;
        margin-top: 3px;
    }
}
