@import '~css/new/colors';
@import '~css/new/colorTokens';

:local {
    .modalFooter {
        background-color: @neutral1;
    }

    .modalCloudIcon {
        font-size: 32px;
        color: @neutral6;
        display: block;
    }

    .fileDropArea {
        border: 2px dashed @neutral4;
        background: @neutral1;
        padding: 14px;
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:first-child {
            margin-right: 8px;
        }

        &:last-child {
            margin-left: 8px;
        }
    }

    .fileSelectedArea {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 24px;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        margin: 0 5px;

        & > div {
            align-self: center;
        }

        & i {
            color: @neutral10;
        }
    }

    .dropAreasContainer {
        display: flex;
    }

    .supportedProvidersText {
        display: block;
        font-size: 12px;
        color: @classic-neutral-grey-4;
        margin-bottom: 8px;
    }

    .providersLogosContainer {
        margin-bottom: 8px;
    }

    .providerLogo {
        width: 24px;
        height: auto;
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }

    .dropAreaText {
        font-weight: 600;
        font-size: 16px;
    }
}
