@import '~css/new/colorTokens';

:local {
    .modalFooter {
        background-color: @classic-neutral-grey-2;
    }

    .modalCloudIcon {
        font-size: 32px;
        color: @classic-neutral-grey-4;
        display: block;
    }

    .fileDropArea {
        border: 2px dashed @classic-neutral-grey-3;
        background: @classic-neutral-grey-2;
        padding: 14px;
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:first-child {
            margin-right: 8px;
        }

        &:last-child {
            margin-left: 8px;
        }
    }

    .fileSelectedArea {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 24px;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        margin: 0 5px;

        & > div {
            align-self: center;
        }

        & i {
            color: @classic-neutral-grey-6;
        }
    }

    .dropAreasContainer {
        display: flex;
    }

    .supportedProvidersText {
        display: block;
        font-size: 12px;
        color: @classic-neutral-grey-4;
        margin-bottom: 8px;
    }

    .providersLogosContainer {
        margin-bottom: 8px;
    }

    .providerLogo {
        width: 24px;
        height: auto;
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }

    .dropAreaText {
        font-weight: 600;
        font-size: 16px;
    }

    .importInProgressContainer {
        padding: 16px 24px;
        border: 1px solid @classic-main-primary;
        border-radius: 4px;
        display: flex;
        margin-bottom: 16px;
    }

    .spinner {
        margin-right: 16px;
    }

    .moreDetails {
        margin-left: auto;
        color: @classic-main-primary;
        cursor: pointer;

        &:hover {
            color: @classic-main-primary-4;
        }
    }

    .button {
        font-size: 20px;
        font-weight: 400;
    }

    .tooltip {
        max-width: 140px !important;
    }
}
