:local {
    .container {
        width: 100%;
    }

    .additionalIntentsCount {
        padding: 0 var(--spacing-xs);
    }

    .draftCTA {
        cursor: pointer;
    }

    .pagination {
        margin-top: var(--spacing-md);
        margin-right: var(--spacing-md);
        padding-bottom: 100px; // To avoid pagination buttons be covered by chat widget
    }
}
