:local {
    .navigationTrigger {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--layout-spacing-xs);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        img {
            width: 15px;
        }
    }

    .sectionContent {
        &[data-state='open'] {
            margin-bottom: var(--layout-spacing-s);
        }
    }

    .item {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
