:local {
    .wrapper {
        position: relative;
        margin-bottom: 8px;
    }

    .flex {
        display: flex;
    }
    .countryLabel {
        margin-left: 5px;
    }

    .label {
        margin-bottom: 8px;
    }
}
