@import '~css/new/colorTokens';

:local {
    .table {
        tr {
            td {
                width: auto;

                &:last-child {
                    width: 70px !important;
                    max-width: 70px !important;

                    a {
                        color: @classic-neutral-grey-4;
                    }
                }
            }

            &:hover {
                a {
                    color: @classic-main-primary !important;
                }
            }
        }
    }

    .phoneCell {
        strong {
            font-weight: normal;
        }
    }
}
