@import '~css/new/colors';

:local {
    .ivrBadge {
        color: @neutral10;
        background: @neutral1;
        border-radius: 4px;
        line-height: 1rem;
        padding: 4px 8px;
    }
}
