@import '~css/new/colorTokens';

:local {
    .ivrBadge {
        color: @classic-neutral-grey-6;
        background: @classic-neutral-grey-2;
        border-radius: 4px;
        line-height: 1rem;
        padding: 4px 8px;
    }
}
