@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .checkboxLabel.disabled {
        cursor: pointer;

        .labelText {
            border-bottom: 1px dashed;
        }

        .infoIcon {
            margin-left: 12px;
            vertical-align: text-bottom;
        }
    }

    .gmailTogglesWrapper {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .buttonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: var(--layout-spacing-xl);
    }

    h3 {
        margin-bottom: var(--layout-spacing-m);
    }

    .textEditor {
        margin-top: var(--layout-spacing-s);
    }
    .emailDeliverabilitySettings {
        margin-top: var(--layout-spacing-l);
    }

    .subTitle {
        .heading-section-semibold();
        margin-bottom: var(--layout-spacing-m);
    }

    .displayNameField {
        margin-bottom: var(--layout-spacing-m);
    }
}
