@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .fieldValue {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--layout-spacing-xs) 0 var(--layout-spacing-s);

        button {
            margin-left: var(--layout-spacing-s);
        }

        div {
            margin-left: var(--layout-spacing-xs);
        }
    }

    .address {
        height: var(--layout-spacing-l);
        line-height: var(--layout-spacing-l);
    }
}
