@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .fieldValue {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: @layout-spacing-xs 0 @layout-spacing-s;

        button {
            margin-left: @layout-spacing-s;
        }

        div {
            margin-left: @layout-spacing-xs;
        }
    }

    .address {
        height: @layout-spacing-l;
        line-height: @layout-spacing-l;
    }
}
