@import '~css/new/colors.less';

:local {
    .container {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 8px;

        color: @neutral10;

        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .help {
        display: flex;
        align-items: center;
        color: @neutral8;
    }
}
