@import '~css/new/colorTokens';

:local {
    .container {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 8px;

        color: @classic-neutral-grey-6;

        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .help {
        display: flex;
        align-items: center;
        color: @classic-neutral-grey-5;
    }
}
