:local {
    .goToLink {
        color: var(--content-neutral-secondary);

        a {
            color: var(--content-accent-default);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .hiddenBanner {
        color: var(--content-neutral-secondary);
    }

    .unhideButton {
        color: var(--content-accent-default);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .deletedBanner {
        color: var(--content-neutral-secondary);
    }
}
