:local {
    .preview {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: end;

        .selectField {
            flex-grow: 1;

            // todo should be fixed in ui-kit
            button {
                width: 100%;
            }
        }
    }
}
