@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';
@import '~css/new/mixins';

:local {
    .container {
        padding: @layout-spacing-xs @layout-spacing-m @layout-spacing-s;
        display: flex;
        align-items: flex-start;
        position: relative;
        margin: 0;
        word-break: break-word;
        overflow-y: visible;
        gap: @layout-spacing-s;

        @media @mobiles {
            padding: 0.8em 16px;
            margin: 0 -16px;
        }

        &:hover {
            background: var(--neutral-grey-1);
        }
    }

    .callDetails {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
        flex: 1;
    }

    .row {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: @layout-spacing-xs;
    }

    .errorStatus {
        color: var(--feedback-error);
    }

    .statusWrapper {
        display: flex;
        align-items: center;
        gap: @layout-spacing-xs;

        .missedCallIcon {
            font-size: 16px;
        }
    }

    .date {
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        span {
            vertical-align: middle;
        }
    }
}
