@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .radioBoxList {
        display: flex;
        gap: 8px;
        margin-bottom: 1.5rem;
    }

    .radioBox {
        flex-basis: 100%;
    }

    .label {
        margin-bottom: @layout-spacing-xs;
        gap: @layout-spacing-xs;
    }
}
