:local {
    .label {
        font-weight: 600;
        display: inline-flex;
        align-items: center;
    }

    .description {
        display: inline-block;
        max-width: 33vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .actionButton {
        display: inline-block;
    }

    .infoIcon {
        color: var(--neutral-grey-4);
    }
}
