:local {
    .richField {
        &.onError {
            border-color: var(--feedback-error); // legacy
        }
    }

    .settingSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
    }

    .headingSection {
        display: flex;
        flex-direction: column;
    }

    .bodySection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
        border: 2px solid var(--main-primary); // legacy
        border-radius: 4px;
        padding: 20px;

        &.disabled {
            border: 2px solid var(--neutral-grey-3); // legacy
        }
    }

    .editorTabs {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .tabsDisabled {
        pointer-events: none;
        opacity: 0.4;
    }
}

.axiom :local {
    .richField {
        &.onError {
            border-color: var(--border-error-primary);
        }
    }

    .bodySection {
        border-color: var(--border-accent-default);

        &.disabled {
            border-color: var(--border-neutral-default);
        }
    }
}
