@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-s);
    }

    .bullet {
        .body-medium();
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--neutral-grey-6); // legacy
        color: var(--neutral-grey-0); // legacy
        flex-shrink: 0;
    }
}

.axiom :local {
    .bullet {
        background-color: var(--content-neutral-default);
        color: var(--elevation-neutral-default);
    }
}
