@import '~css/new/colorTokens';

:local {
    .header {
        display: flex;
        flex-direction: column;
    }
    .headerTopContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
    }
    .titleInput,
    .titleInput:disabled {
        flex: 1;
        height: 32px;
        font-size: 20px;
        line-height: 28px;
        color: @classic-neutral-grey-6;
        font-weight: 600;
        border: 0;
        background-color: @classic-neutral-grey-0;
        margin-right: 8px;
        padding: 0 8px;
        outline-color: @classic-main-primary;
    }
    .headerControls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .controlButton {
        border: 0;
        background-color: transparent;
        color: @classic-neutral-grey-6;
        font-size: 20px;

        &:focus:not(:focus-visible) {
            outline: none;
        }
    }
    .languageSelect {
        margin-bottom: 0;
        margin-right: 15px;
    }
    .languageSelect > div > select {
        width: 110px;
        border: 0;
        color: @classic-neutral-grey-6;
        font-size: 14px;
        line-height: 20px;
    }
    .categorySelect {
        padding: 8px 16px;
    }
    .rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .rating-icon {
        padding-right: 5px;
    }
}
