@import '~css/new/colors';

:local {
    .wrapper {
        overflow-y: scroll;
        flex-grow: 1;
        padding: 16px;
        background-color: @neutral1;
        border-bottom: 1px solid @neutral4;
    }
    .articleIDHint {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}
