@import '~css/new/colorTokens';

:local {
    .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: @classic-neutral-grey-2;
        padding: 16px;
    }

    .dropdownMenu {
        margin-bottom: 7px;
    }

    .buttonsWrapper {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    .counter {
        color: @classic-neutral-grey-4;
        font-size: 12px;
        line-height: 16px;
    }

    .deleteButton {
        i {
            color: @classic-feedback-error;
            font-size: 18px;
            line-height: 20px;
            margin-right: 4px;
        }
    }

    .submitButton:disabled {
        pointer-events: none;
    }
    .rating {
        display: flex;
        align-items: center;
        .rating-text {
            margin-right: 10px;
        }
        .rating-separator {
            margin: 0 8px;
        }
        .rating-star {
            margin-right: 5px;
        }
        .rating-thumbs {
            > div {
                margin-right: 10px;
            }
            display: flex;
            align-items: center;
            .rating-icon {
                margin-right: 5px;
            }
        }
    }
}
