@import '~css/new/colors';

:local {
    .footer {
        background-color: @neutral1;
        height: 64px;
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: space-between;
    }
    .counters > span {
        padding-left: 15px;
    }
    .dropdownMenu {
        margin-bottom: 7px;
    }
    .buttonsWrapper {
        display: flex;
    }
    .delete-btn {
        margin-left: 8px;

        i {
            color: @red;
            font-size: 15px;
            margin-right: 4px;
        }
    }
    .submitButton:disabled {
        pointer-events: none;
    }
}
