@import '~css/new/colors';

:local {
    .header {
        display: flex;
        flex-direction: column;
    }
    .headerTopContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
    }
    .titleInput,
    .titleInput:disabled {
        flex: 1;
        font-size: 20px;
        line-height: 28px;
        color: @neutral10;
        font-weight: 600;
        border: 0;
        background-color: white;
        margin-right: 8px;
    }
    .headerControls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .controlButton {
        border: 0;
        background-color: white;
        color: @neutral10;
    }
    .controlButton:focus:not(:focus-visible) {
        outline: none;
    }
    .controlButton > i {
        font-size: 20px;
    }
    .languageSelect {
        margin-bottom: 0;
        margin-right: 15px;
    }
    .languageSelect > div > select {
        width: 110px;
        border: 0;
        color: @neutral10;
        font-size: 14px;
        line-height: 20px;
    }
    .categorySelect {
        padding: 8px 16px;
    }
}
