@import '~css/new/colorTokens';

:local .dropdownAction {
    color: @classic-main-primary;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    letter-spacing: normal;
}

:local .dropdownActionIcon {
    margin-left: 4px;
    margin-right: 9px;
}
