@import '~css/new/colors.less';

@select-padding: 14px;
@base-input-width: 2px;

:local .select {
    display: block;
    position: relative;
    width: 100%;
    line-height: 1.25;
    padding: 0 @select-padding;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-image: none;
    background-color: #ffffff;
    color: #464a4c;
    font-size: 1rem;
    white-space: nowrap;
    box-sizing: border-box;

    &.selectFullWidth {
        .label {
            box-sizing: border-box;
            width: ~'calc(100% - (@{select-padding} * 2) + @{base-input-width})';
        }
    }

    .input {
        position: absolute;
        left: 1rem;
        height: 100%;
        line-height: 2.25;
        width: @base-input-width; // input will grow dynamically with the min width
        max-width: 350px;
        padding: 0.5rem 0;
        margin: 0;
        outline: none;
        border: none;
        background: transparent;
        box-sizing: border-box;
    }

    .placeholder {
        color: #a4aaae;
    }

    .placeholder,
    .label {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        line-height: 2.25;
        height: 100%;
    }
}

:local .options {
    overflow-y: auto;
    max-height: 200px;
    max-width: 350px;

    &:global(.dropdown-menu) {
        background-clip: border-box;
    }

    &.optionsFullWidth {
        width: 100%;
        max-width: 100%;
    }

    .option {
        &.option--focused {
            background: #f2f9fe !important;

            &:active {
                outline: none;
                background: #0275d8 !important;
            }

            &.option--disabled {
                background: @neutral1 !important;
            }
        }
    }

    .optionDeprecated {
        color: @yellow7;
        &.option--focused {
            background: @yellow2 !important;

            &:active {
                outline: none;
                background: @yellow4 !important;
            }
        }
    }
}
