:local {
    .action-list {
        display: flex;

        .action + .action {
            margin-left: 10px;
        }
    }

    .action {
        background: transparent;
        font-size: 18px;
        color: var(--neutral-grey-4);
        border: none;

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:hover:not(:disabled) {
            color: var(--neutral-grey-6);
        }

        &:disabled {
            color: var(--neutral-grey-3);
        }
    }
}
