@import (reference) '~css/new/colors';

:local {
    .action-list {
        display: flex;

        .action + .action {
            margin-left: 10px;
        }
    }

    .action {
        background: transparent;
        font-size: 18px;
        color: @neutral6;
        border: none;

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:hover:not(:disabled) {
            color: @neutral10;
        }
    }
}
