:local {
    .inputContainer {
        display: inline-block;
        flex-grow: 1;
    }

    .compact {
        flex: 1 0 85px;
    }

    .options {
        position: absolute;
        z-index: 100;
        width: 200px;
        overflow-y: auto;
        max-height: 200px;
        max-width: 350px;
    }
    .disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: var(--neutral-grey-1); // legacy
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .inputContainer {
        max-height: 10px;

        input {
            opacity: 0;
            text-align: right;
        }
    }

    .disabled {
        background-color: transparent;
        color: var(--content-neutral-secondary);
    }
}
