:local .input {
    outline: none;
    border: none;
    padding: 0.5rem 0.5rem;
    width: 100%;
    &.compact {
        padding: 0.25em;
        font-size: 12px;
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: var(--neutral-grey-1); // legacy
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local .input {
    &.disabled {
        background-color: var(--elevation-neutral-mid);
        color: var(--content-neutral-secondary);
    }
}
