:local .input {
    outline: none;
    border: none;
    padding: 0.5rem 0.5rem;
    width: 100%;
    &.compact {
        padding: 0.25em;
        font-size: 12px;
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: var(--neutral-grey-1); // legacy
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local .input {
    padding: 0 var(--spacing-xxxs);
    color: var(--content-neutral-default);
    background-color: transparent;

    &::placeholder {
        color: var(--content-neutral-tertiary);
    }

    &.compact {
        padding: 0 var(--spacing-xxxs);
    }

    &.disabled {
        background-color: transparent;
        color: var(--content-neutral-secondary);
    }
}
