:local {
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        font-size: 1rem;
        line-height: 1.25;
        color: #464a4c;
        background-color: var(--neutral-grey-0); // legacy
        background-image: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 0.25rem;
        padding: 0 0.25rem;

        &.hasError {
            border-color: var(--feedback-error); // legacy
        }

        &.disabled {
            pointer-events: none;
            cursor: not-allowed;
            background-color: var(--neutral-grey-1); // legacy
            color: var(--neutral-grey-4); // legacy
        }
    }

    .compact {
        border: none;
    }

    .focused {
        box-shadow: 0 0 0 0.2rem
            hsla(
                var(--main-primary-h),
                var(--main-primary-s),
                var(--main-primary-l),
                0.1
            );
        border: 1px solid #80bdff;
        border-radius: 0.25rem;
    }
}

.axiom :local {
    .container {
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-xs);
        box-shadow: none;
        background-color: transparent;

        &:hover:not(.disabled):not(.focused) {
            border: 1px solid var(--border-neutral-default);
            background-color: var(--hover-default);
        }

        &.focused {
            border: 1px solid var(--border-neutral-secondary);
            box-shadow: none;

            &.hasError {
                border: 1px solid var(--border-error-primary);
            }
        }

        &.hasError {
            border-color: var(--border-error-primary);

            &:hover:not(.disabled):not(.focused) {
                border: 1px solid var(--border-error-primary);
                background-color: var(--hover-default);
            }
        }

        &.disabled {
            opacity: 0.5;
            background-color: var(--surface-neutral-primary);
            color: var(--content-neutral-secondary);
        }
    }
}
