:local .tag {
    &.badge {
        display: inline-flex !important;
        max-width: 100%;
        align-items: center;
        color: var(--main-primary-4); // legacy
        background-color: var(--main-primary-0); // legacy
        margin: 0.25em;
        margin-left: 0 !important;
        .closeIcon {
            cursor: pointer;
        }
        .tagText {
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
            line-height: 1.2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.compact {
            font-size: 11px;
            padding-left: 6px;
        }
    }
}

.axiom :local .tag {
    &.badge {
        color: var(--content-accent-default);
        background-color: var(--surface-neutral-secondary);
    }
}
