@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .wrapper {
        padding: @layout-spacing-m;
        width: 100%;
    }

    .title {
        align-items: center;
        display: flex;
        margin-bottom: @layout-spacing-m;
    }

    .titleText {
        margin-right: var(--layout-spacing-s);
    }
}
