@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .wrapper {
        padding: var(--layout-spacing-m);
        width: 100%;
    }

    .title {
        align-items: center;
        display: flex;
        margin-bottom: var(--layout-spacing-m);
    }

    .titleText {
        margin-right: var(--layout-spacing-s);
    }
}
