:local {
    .titleText {
        color: var(--content-neutral-secondary) !important;
    }

    .trendTextPositive {
        color: var(--content-success-primary) !important;
    }

    .trendTextNegative {
        color: var(--content-error-primary) !important;
    }

    .trendTextNeutral {
        color: var(--content-neutral-secondary) !important;
    }

    .chartContainer {
        overflow: hidden;

        svg {
            shape-rendering: geometricPrecision;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}
