@import '~@gorgias/design-tokens/dist/css/layout';
@import '~css/typography';

:local {
    .extendableSectionHeader {
        .body-semibold();
        display: flex;
        align-items: center;
        margin-bottom: var(--layout-spacing-s);

        .checkBoxInput {
            margin: 0;
        }

        .valid {
            color: var(--feedback-success);
        }

        .invalid {
            color: var(--feedback-error);
        }

        .checkIcon {
            font-size: 24px;
            margin-left: var(--layout-spacing-s);
        }

        .arrow {
            margin-left: auto;
            color: var(--neutral-grey-4);
            font-size: 24px;
        }

        .title {
            text-transform: capitalize;
            margin-left: var(--layout-spacing-xs);
        }
    }
}
