@import (reference) '~css/typography.less';
@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .titleWrapper {
        margin-bottom: var(--layout-spacing-xs);
        .heading-page-semibold();
    }

    .description {
        .heading-subsection-regular();
        color: var(--neutral-grey-5);
    }

    .image {
        padding: var(--layout-spacing-s);
    }

    .modalDialog {
        max-width: 702px;
    }

    .header {
        height: 52px;
        border-bottom: none;
    }

    .content {
        padding: 0 var(--layout-spacing-l) var(--layout-spacing-l)
            var(--layout-spacing-l);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .carouselHeader {
        .heading-page-semibold();
        max-width: 638px;
    }

    .carouselImage {
        margin-top: var(--layout-spacing-m);
        border-radius: 0;
        box-shadow: none;
        height: 193px;
    }

    .carouselDescription {
        color: var(--neutral-grey-6);
        margin-top: var(--layout-spacing-m);
    }

    .carouselSlideAction {
        margin-top: var(--layout-spacing-m);
    }

    .carouselActionIcon {
        font-size: 20px;
    }
}
