:local {
    .createTicketWrapper {
        padding: 0 var(--layout-spacing-xs);
    }

    .createTicketCTA {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
