:local {
    .placeCallNavbarButtonWrapper {
        padding: 0 var(--layout-spacing-xs);
    }

    .navbarButton {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbarButtonContent {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
}
