:local {
    .navigation {
        margin-top: var(--layout-spacing-m);
        padding: 0 var(--layout-spacing-xs);
    }

    .navbarBlock {
        h4 {
            padding-right: 14px;
            cursor: grab;
        }
    }

    .headerContent {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--layout-spacing-xs);
    }
}
