:local {
    .ticketCard {
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-xs);
        cursor: pointer;
    }

    .ticketTitle {
        flex: 1 0 0;
        min-width: 0;
    }
}
