:local {
    .previewPanel {
        width: 320px;
        flex-shrink: 0;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--border-neutral-default);
    }
}
