@import (reference) '~css/new/mixins';

:local {
    .pageContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .pageHeader {
        flex: 0 1 auto;
    }

    .settingsContainer {
        flex: 1 1 auto;
    }

    .fullHeight > div {
        height: 100%;
    }
}
