@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .fallbackMessageTitle {
        font-size: @body-semibold-font-size;
        font-weight: @body-semibold-font-weight;
        line-height: @body-semibold-line-height;
    }

    .fallbackSettingsContainer {
        margin-bottom: @layout-spacing-l;
    }

    .loadingContainer {
        height: 278px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fallbackSettingsLanguageContainer {
        height: 32px;
    }
}
