@import '~css/new/colorTokens';

:local {
    .customerInfo {
        display: flex;
        align-items: center;
    }

    .infoText {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .infoSeparator {
        margin: 0 8px;
    }

    .separator {
        width: 12px;
        height: 1px;
        flex-shrink: 0;
        margin: 0 8px;
        background-color: @classic-neutral-grey-4;
    }
}
