@import '~css/new/colorTokens';

:local {
    .button {
        color: @classic-neutral-grey-0 !important;
        justify-content: start;
        margin: 0 8px;
        padding: 0 14px !important;
        width: calc(~'100% - 16px');

        &:hover {
            background-color: @classic-neutral-grey-5 !important;
        }
    }

    .tooltipContent {
        align-items: center;
        display: flex;

        span {
            margin-right: 8px;
        }
    }
}
