:local {
    .button {
        color: var(--neutral-grey-4) !important;
        justify-content: start;
        margin: 0 12px;
        padding: 0 8px !important;
        height: 28px;

        &:hover {
            color: var(--neutral-grey-2) !important;
            background-color: var(--neutral-grey-5) !important;
        }
    }

    .tooltipContent {
        align-items: center;
        display: flex;

        span {
            margin-right: 8px;
        }
    }

    .icon {
        // overrides specifity in ButtonIconLabel
        font-size: 20px !important;
        margin-right: 8px !important;
    }
}
