@import '~css/new/colorTokens';
@import '~css/new/layout.less';

:local {
    .records-table {
        max-width: 1100px;
        margin-bottom: 24px;
        margin-top: 24px;
        table-layout: fixed;

        .statusHeader {
            width: 84px;
        }
        .recordTypeHeader {
            width: 104px;
        }
        .hostHeader {
            margin: 0 @layout-spacing-s;
        }
    }
    .row {
        :hover {
            .copy-button {
                display: block !important;
            }
        }
    }

    .cell {
        > div {
            display: inline-block;
            position: relative;
            margin: 2px;
        }
    }
    .value-cell {
        max-width: 550px;
        overflow-wrap: break-word;
        padding: @layout-spacing-s 0;

        > div {
            background: @classic-neutral-grey-2;
            border-radius: 10px;
            position: relative;
        }

        .valueCellInner {
            padding-left: @layout-spacing-xs;
            padding-right: 0 !important;
        }

        .valueText {
            height: 64px;
            overflow-y: scroll;
        }
    }
    .current-values-cell {
        min-width: 200px;
        max-width: 550px;
        overflow-wrap: break-word;
    }

    .hostCellInner {
        overflow-wrap: anywhere;
    }

    .copy-button {
        position: absolute;
        right: 2px;
        top: 2px;
        display: none !important;
    }

    .form-group {
        max-width: 680px;
    }

    .keySelectionSection {
        margin-bottom: 24px;
        margin-top: 32px;
    }
}
