@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        padding-left: 0;
    }

    .imgContainer {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 14px;
    }

    .img {
        width: 40px;
        max-height: 40px;
        border-radius: 2px;
    }

    .legend {
        flex: 1;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
    }

    .title {
        font-weight: 600;
        display: inline;
    }

    .subtitle {
        font-weight: normal;
    }

    .descriptionCol {
        display: flex;
        align-items: center;
        width: 170px;
    }

    .descriptionColLarge {
        .descriptionCol();
        width: 250px;
    }

    .descriptionColThin {
        align-items: center;
        width: 250px;
    }

    .errorRow {
        color: var(--feedback-error);
        width: 450px;
        font-weight: normal;
    }

    .numberCol {
        min-width: 100px;
        text-align: right;

        & .striked {
            color: var(--neutral-grey-4);
            text-decoration: line-through;
        }
    }

    .numberColSmall {
        .numberCol();
        min-width: 80px;
    }

    .numberColLarge {
        .numberCol();
        min-width: 130px;
    }

    .centered {
        text-align: center;
    }

    .quantityCol {
        width: 90px;
    }

    .quantityColSmall {
        width: 70px;
    }

    .refundedQuantityDescription {
        .caption-regular();
        font-size: 10px;
        color: var(--neutral-grey-4);
    }

    .times {
        color: var(--neutral-grey-4);
        font-size: 14px;
        line-height: 133%;
        align-self: center;
        margin-left: auto;
    }

    .focusable {
        &:focus {
            outline: auto 5px -webkit-focus-ring-color;
        }
    }

    .input {
        width: 60px;
    }

    .priceComponentPopover {
        min-width: 225px;
    }

    .modifiersList {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            .body-regular();
            color: var(--neutral-grey-5);
        }

        .isDisabled {
            color: var(--neutral-grey-4);
        }
    }

    .modifierButton {
        .body-medium();
        color: var(--main-primary);
        cursor: pointer;
        text-align: left;

        border: 0;
        background: none;
        padding: 0;

        i {
            margin-right: var(--layout-spacing-xxs);
        }
    }

    .isDisabled {
        color: var(--neutral-grey-4);
    }
}
