:local {
    .digestCard {
        background: linear-gradient(
            165deg,
            var(--accessory-magenta-2) 0%,
            var(--neutral-grey-0) 30%
        );
        border-radius: var(--layout-spacing-s);
        border: 1px solid var(--neutral-grey-2); // legacy
        width: 100%;
        margin-bottom: var(--layout-spacing-m);
    }

    @media (max-width: 768px) {
        .digestCard {
            border-radius: 0px;
        }
    }

    .digestHeader {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        padding: var(--layout-spacing-s);
        width: fit-content;
    }

    @media (max-width: 768px) {
        .digestHeader {
            padding: var(--layout-spacing-m);
        }
    }

    @media (max-width: 768px) {
        .digestContent {
            max-width: 100%;
        }
    }

    .digestMetrics {
        display: flex;
        flex-direction: row;
        gap: var(--layout-spacing-xl);
        flex-wrap: wrap;

        padding: var(--layout-spacing-s);
    }

    @media (max-width: 768px) {
        .digestMetrics {
            padding: var(--layout-spacing-m);
            justify-content: space-between;
        }
    }

    .metric {
        color: var(--neutral-grey-5);
        font-weight: 600;
    }

    .metricInformation {
        display: flex;
        flex-direction: row;
        gap: var(--layout-spacing-xs);
        align-items: center;
    }

    .metricValue {
        color: var(--neutral-grey-6);
        font-weight: 600;
        font-size: 20px;
    }
}

.axiom :local {
    .digestCard {
        border: 1px solid var(--border-neutral-default);
    }
}
