@import '~css/new/mixins';

:local .component {
    div > .combo {
        font-family: monospace !important;
    }

    .group {
        break-inside: avoid;
    }

    .content {
        @media @desktops {
            columns: 2 2em;
        }
    }
}
