:local {
    .container {
        position: fixed;
        bottom: 10px;
        left: 100px;
        padding: 16px;
        background-color: var(--elevation-neutral-default);
        border: 1px solid var(--border-neutral-default);
        box-shadow: var(--effects-shadow-container);
        border-radius: var(--spacing-xs);
    }
}
