:local {
    .link {
        margin: 0 12px;
        border-radius: 4px;
        padding: 0 8px;
        text-transform: inherit;
        cursor: pointer;
        height: 28px;

        &:global:not(.active):hover {
            color: var(--neutral-grey-2); // legacy
            background-color: var(--neutral-grey-5); // legacy
        }
    }

    .title {
        align-items: center;
        display: flex;
    }
}

.axiom :local {
    .link {
        &:global:not(.active):hover {
            color: var(--elevation-neutral-mid);
            background-color: var(--content-neutral-secondary);
        }
    }
}
