@import '~@gorgias/design-tokens/dist/css/typographyMixins.less';

:local {
    .pageHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color: var(--neutral-grey-6); // legacy
        font-weight: 400;
        letter-spacing: -0.1px;
        margin-bottom: 0;
        padding: 12px 24px;

        h1 {
            .heading-page-regular();
        }

        :global(.breadcrumb-item) {
            font-size: 24px;
        }
    }
}

.axiom :local {
    .pageHeader {
        color: var(--content-neutral-default);
    }
}
