:local {
    .secondary {
        color: var(--neutral-grey-4); // legacy
    }

    .newIcon {
        &.secondary {
            opacity: 0.3;
            filter: grayscale();
        }
    }
}

.axiom :local {
    .secondary {
        color: var(--content-neutral-secondary);
    }
}
