:local {
    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 12px var(--layout-spacing-s);
    }

    .body {
        min-height: 106px;
    }

    .rightButtons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }
}
