@import (reference) '~css/typography.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .contentContainer {
        .body-regular();
        overflow: auto;
        flex: 1;
        pointer-events: initial;
        display: flex;
        flex-direction: column;
        color: var(--neutral-grey-6); // legacy
        padding: 32px 20px 0;
        justify-content: space-between;
    }

    .title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.4px;
    }

    .orderContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .orderHeader {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .orderDetails {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .orderNumber {
        .body-semibold();
    }

    .orderDate {
        .caption-regular();
        color: #9fa9b9;
    }

    .badge {
        margin-left: auto;
    }

    .externalLinkIcon {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        path {
            fill: white;
        }
    }
}

.axiom :local {
    .contentContainer {
        color: var(--content-neutral-default);
    }
}
