@import (reference) '~css/typography.less';
@import (reference) '~css/new/util.less';

:local {
    .contactFormContainer {
        background-color: var(--neutral-grey-0); // legacy
        color: var(--neutral-grey-6); // legacy
        flex: 1;
        height: 580px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-s);

        &:not(.isInitialEntry) {
            :global {
                animation: fadeIn 0.3s ease-in;
            }
        }
    }

    .contactFormItemsContainer {
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-m);
        row-gap: var(--layout-spacing-s);
    }

    .workflowItem {
        .heading-subsection-semibold();
        display: flex;
        align-items: center;
        column-gap: var(--layout-spacing-s);
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 8px;
        padding: var(--layout-spacing-m) var(--layout-spacing-s);
    }

    .flowLabel {
        flex-grow: 1;
    }

    .flowChevron {
        font-size: 24px;
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .contactFormContainer {
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);
    }

    .workflowItem {
        border-color: var(--border-neutral-default);
    }

    .flowChevron {
        color: var(--content-neutral-secondary);
    }
}
