@import (reference) '~css/typography.less';
@import (reference) '~css/new/util.less';

:local {
    .orderManagementContainer {
        color: var(--neutral-grey-6);
        flex: 1;

        &:not(.isInitialEntry) {
            :global {
                animation: fadeIn 0.3s ease-in;
            }
        }
    }

    .orderManagementTitle {
        .heading-page-semibold();
        padding: var(--layout-spacing-m);
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .orderManagementItemsContainer {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-s);
    }

    .orderManagementItem {
        .heading-subsection-semibold();
        display: flex;
        align-items: center;
        background-color: var(--neutral-grey-0);
        column-gap: var(--layout-spacing-s);
        border: 1px solid var(--neutral-grey-3);
        border-radius: 8px;
        padding: var(--layout-spacing-s);
        text-transform: capitalize;

        &.isHighlighted {
            border-color: var(--main-primary);
        }
    }

    .workflowItem {
        .heading-subsection-semibold();
        display: flex;
        align-items: center;
        column-gap: var(--layout-spacing-s);
        background-color: var(--neutral-grey-0);
        border: 1px solid var(--neutral-grey-3);
        border-radius: 8px;
        padding: var(--layout-spacing-m) var(--layout-spacing-s);
        text-transform: capitalize;
    }

    .flowLabel {
        flex-grow: 1;
    }

    .flowChevron {
        font-size: 24px;
        color: var(--neutral-grey-4);
    }

    .container {
        background-color: var(--neutral-grey-1);
        color: var(--neutral-grey-6);
        flex: 1;
        overflow: auto;
        pointer-events: initial;

        &:not(.isInitialEntry) {
            :global {
                animation: fadeIn 0.3s ease-in;
            }
        }
    }

    .searchBar {
        .heading-subsection-regular();
        display: flex;
        align-items: center;
        margin: 13px 0;
        padding: var(--layout-spacing-s);
        gap: var(--layout-spacing-xs);
        filter: drop-shadow(0px 2px 4px rgba(22, 22, 22, 0.16));
        border-radius: 4px;
        background-color: var(--neutral-grey-0);
        border: 1px solid var(--neutral-grey-3);
        color: var(--neutral-grey-4);
    }

    .searchBarIcon {
        font-size: 24px;
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin: 64px 0 40px;
    }

    .seeAll {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--layout-spacing-xxs);
        text-transform: capitalize;
    }

    .seeAllIcon {
        font-size: 20px;
    }

    .articlesContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        margin-top: var(--layout-spacing-m);
    }

    .article {
        display: flex;
        border-radius: var(--layout-spacing-xs);
        border: 1px solid var(--neutral-grey-3);
        flex-direction: column;
        padding: var(--layout-spacing-m);
        gap: var(--layout-spacing-xxs);
        background-color: var(--neutral-grey-0);
    }

    .articleTitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    .articleDescription {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--neutral-grey-5);
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--layout-spacing-m) var(--layout-spacing-s);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--neutral-grey-4);
        gap: var(--layout-spacing-xs);
    }
}
