@import (reference) '~css/typography.less';

:local {
    .container {
        background-color: var(--neutral-grey-0); // legacy
        color: var(--neutral-grey-6); // legacy
        overflow: auto;
        pointer-events: initial;
    }

    .header {
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-m) var(--layout-spacing-s);
        gap: var(--layout-spacing-xs);
        border-bottom: 1px solid var(--neutral-grey-3); // legacy
    }

    .orderNumber {
        .heading-section-semibold();
    }

    .orderDate {
        .heading-subsection-regular();
        color: var(--neutral-grey-4); // legacy
    }

    .returnPortal {
        .heading-subsection-semibold();
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 90px var(--layout-spacing-m);
        gap: var(--layout-spacing-m);
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);
    }

    .header {
        border-bottom-color: var(--border-neutral-default);
    }

    .orderDate {
        color: var(--content-neutral-secondary);
    }
}
