:local {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: var(--layout-spacing-s);
    }

    .libraryHeader {
        grid-column: 1 / -1;

        h1 {
            margin-bottom: var(--layout-spacing-xxs);
            margin-top: var(--layout-spacing-xxs);
            font-size: 20px;
            font-weight: 600;
            i {
                color: var(--accessory-magenta-3);
            }
        }

        p {
            font-size: 14px;
            color: var(--neutral-grey-6);
            margin-bottom: 6px;
        }

        &.autoResponders {
            display: flex;
            justify-content: space-between;
        }

        &.ruleTemplates {
            margin-top: var(--layout-spacing-s);
        }
    }
}
