@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: @layout-spacing-s;
    }

    .libraryHeader {
        grid-column: 1 / -1;

        h1 {
            margin-bottom: @layout-spacing-xxs;
            margin-top: @layout-spacing-xxs;
            font-size: 24px;
            font-weight: 600;
            i {
                color: var(--main-secondary);
            }
        }

        p {
            font-size: 14px;
            color: var(--neutral-grey-6);
            margin-bottom: 6px;
        }

        &.autoResponders {
            display: flex;
            justify-content: space-between;
        }

        &.ruleTemplates {
            margin-top: @layout-spacing-s;
        }
    }
}
