@import (reference) '~css/typography';

:local {
    .disclaimer {
        color: var(--neutral-grey-4);
        font-size: 12px;
        margin-bottom: 8px;

        i {
            padding-right: 4px;
        }
    }
}
