:local {
    .container {
        width: 400px;
        padding: 16px 24px;
        border: 1px solid var(--neutral-grey-3); // legacy
        display: flex;
        align-items: center;

        &:not(:last-child) {
            border-bottom: none;
        }

        > i {
            margin-right: 16px;
            align-self: flex-start;
            font-size: 18px;
        }

        .content {
            .name {
                font-weight: bold;
            }

            .permissions {
                color: var(--neutral-grey-5); // legacy
                font-size: 0.9rem;
                margin-top: 4px;
            }
        }

        span {
            margin-left: auto;

            i {
                color: var(--neutral-grey-4); // legacy
                font-size: 22px;
            }
        }
    }

    .tooltip {
        text-align: left;
    }
}

.axiom :local {
    .container {
        border-color: var(--border-neutral-default);

        .content {
            .permissions {
                color: var(--content-neutral-secondary);
            }
        }

        span {
            i {
                color: var(--content-neutral-secondary);
            }
        }
    }
}
