:local {
    .container {
        height: 100%;
        width: 100%;
        min-width: 0;
    }

    .content {
        overflow: hidden;
        min-width: 0;
    }

    .loading {
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .loading {
        color: var(--content-neutral-secondary);
    }
}
