@import '~css/new/mixins';

@import (reference) '~css/typography';

:local {
    .modalBody {
        padding: 0;
    }

    .modalContainer {
        display: flex;
    }

    .leftSide,
    .rightSide {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .leftSide {
        padding: var(--layout-spacing-s);
    }

    .rightSide {
        padding: var(--layout-spacing-l);
        background-color: var(--neutral-grey-1);
    }

    .testConfiguration {
        margin-top: var(--layout-spacing-m);

        .label {
            .body-semibold();
            margin-bottom: var(--layout-spacing-xs);
        }
        .value {
            .body-regular();
        }
    }

    .info {
        .caption-regular();
        color: var(--neutral-grey-5);
        margin-top: var(--layout-spacing-m);
    }

    .header {
        .heading-section-semibold();
        margin-bottom: var(--layout-spacing-xxs);
    }

    .headerRight {
        .heading-section-regular();
        font-weight: 500;
        margin-bottom: var(--layout-spacing-s);
    }

    .content {
        .body-regular();
        color: var(--neutral-grey-5);
    }

    .noMargin {
        padding-left: 20px;
    }

    .footer {
        display: flex;
        padding: 12px var(--layout-spacing-s);
        width: 100%;
        justify-content: space-between;
    }
}
