@import '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        border-bottom: 1px solid var(--neutral-grey-3);
        cursor: pointer;

        &:hover {
            background-color: var(--neutral-grey-2);
        }
    }

    .dragHandle {
        padding: 18px 4px 18px 24px;
        color: var(--neutral-grey-3);

        &.isDraggable {
            cursor: grab;
        }
    }

    .title {
        .body-semibold();
        padding-left: 12px;
        padding-right: @layout-spacing-s;
    }

    .description {
        .body-regular();
        padding: 18px @layout-spacing-s 18px 0;
        width: 100%;
    }

    .arrowRight {
        color: var(--main-primary);
        padding-right: @layout-spacing-m;
    }

    .orderIssueIcon {
        font-size: 16px;
        padding-right: @layout-spacing-s;
        color: var(--feedback-warning);
    }
}
