:local {
    .container {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-s);
        margin-top: var(--layout-spacing-s);
    }

    .conditionsContainer {
        display: flex;
        flex-direction: column;
        row-gap: var(--layout-spacing-xs);
    }

    .addConditionButton {
        align-self: flex-start;
    }

    .shopifyLogo {
        vertical-align: initial;
    }
}
