@import '~css/new/layout.less';

:local {
    .workflowsNavbarLink {
        display: flex;
        gap: @layout-spacing-xs;
        align-items: center;
    }
    .workflowsNavbarLinkBadge {
        height: 18px;
    }
}
