:local {
    .wrapper {
        align-items: center;
        display: flex;
        gap: var(--layout-spacing-xxs);
    }

    .from {
        color: var(--neutral-grey-5); // legacy
        margin-left: var(--layout-spacing-xs);
    }
}

.axiom :local {
    .from {
        color: var(--content-neutral-tertiary);
    }
}
