@import (reference) '~css/typography.less';
@import (reference) '~css/new/mixins';

:local {
    .card {
        background-color: var(--neutral-grey-0); // legacy
        padding: var(--layout-spacing-m);
        min-width: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        &.noPadding {
            padding: 0;
        }
    }

    .titleWrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--layout-spacing-m);

        @media @mobiles {
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 10px;
        }

        .chartsActionMenu {
            display: flex;
            gap: var(--layout-spacing-s);
        }
    }

    .chartContent {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
    }

    .title {
        .heading-section-semibold();
        align-items: center;
        display: flex;
    }

    .noPadding .titleWrapper {
        padding: var(--layout-spacing-m);
        margin-bottom: 0;
    }

    .tooltip {
        margin-left: var(--layout-spacing-xxs);
        font-size: @heading-sub-section-regular-font-size;
    }

    .tooltipIcon {
        font-size: @heading-sub-section-regular-font-size;
        margin-left: var(--layout-spacing-xxs);
    }
}

.axiom :local {
    .card {
        background-color: var(--elevation-neutral-mid);
        border-color: var(--border-neutral-default);
        border-radius: var(--spacing-sm);
        padding: var(--spacing-lg);
        height: 100%;
        display: flex;
        flex-direction: column;

        &.noPadding {
            padding: 0;
        }
    }

    [data-drag-enabled='true'] {
        :global(.react-grid-item:hover) .card,
        :global(.react-grid-item.react-dragging) .card,
        :global(.react-grid-item.react-resizing) .card {
            border: 1px solid transparent;
        }
    }
}
