@import '~@gorgias/design-tokens/dist/css/typographyTokens.less';
@import (reference) '~css/typography.less';

&:local {
    .wrapper {
        background: var(--neutral-grey-1); // legacy
        border-radius: 4px;
        padding: var(--layout-spacing-s);
    }
    .sentiment {
        > div:not(:last-child) {
            margin-bottom: var(--layout-spacing-xxs);
        }

        .label {
            margin-right: var(--layout-spacing-xxs);
        }
        .value {
            .body-semibold();
        }
    }

    .iconWrapper {
        .body-medium();
        margin-bottom: var(--layout-spacing-xs);
        .icon {
            font-size: @heading-sub-section-regular-font-size;
            margin-right: var(--layout-spacing-xxs);
            &.success {
                color: var(--feedback-success-3); // legacy
            }
            &.light-success {
                color: var(--main-primary); // legacy
            }
            &.light-error {
                color: var(--feedback-warning-3); // legacy
            }
        }
    }
    .separator {
        border-top: 1px solid var(--neutral-grey-2); // legacy
        margin: var(--layout-spacing-s) 0;
        width: 100%;
    }
}

.axiom :local {
    .wrapper {
        background: var(--elevation-neutral-high);
        border-radius: var(--spacing-sm);
    }

    .iconWrapper {
        .icon {
            &.success {
                color: var(--content-success-primary);
            }
            &.light-success {
                color: var(--surface-additional-blue);
            }
            &.light-error {
                color: var(--content-warning-primary);
            }
        }
    }

    .separator {
        border-top: 1px solid var(--border-neutral-default);
    }
}
