:local .statsDifference {
    font-size: 15px;
    font-weight: bold;

    &.positive {
        color: var(--feedback-success); // legacy
    }

    &.negative {
        color: var(--feedback-error); // legacy
    }

    &.neutral {
        color: var(--main-primary); // legacy
    }
}

.axiom :local .statsDifference {
    &.positive {
        color: var(--static-success);
    }

    &.negative {
        color: var(--static-error);
    }

    &.neutral {
        color: var(--surface-additional-blue);
    }
}
