@import (reference) '~css/typography.less';

:local {
    .title {
        .heading-page-semibold();
        margin-bottom: var(--layout-spacing-xxs);
    }

    .description {
        .body-regular();
        margin-bottom: var(--layout-spacing-l);
        color: var(--neutral-grey-6);
    }
}
