@import (reference) '~css/typography.less';

:local {
    .card {
        padding: 20px;

        display: flex;
        border-radius: 4px;
        column-gap: var(--layout-spacing-s);
        align-items: center;
        border: var(--neutral-grey-3) 1px solid; // legacy

        color: var(
            --cf-auto-embed-card-text-color,
            var(--neutral-grey-6)
        ); // legacy

        &[data-is-open='true'] {
            border-color: var(--main-primary); // legacy
        }

        &:hover {
            outline: var(--neutral-grey-3) 1px solid; // legacy
        }
    }

    .disabled {
        --cf-auto-embed-card-text-color: var(--neutral-grey-4); // legacy
    }

    .clickable {
        cursor: pointer;
    }

    .title {
        .body-semibold();
        margin-bottom: var(--layout-spacing-xs);
        font-size: 16px;
        color: var(
            --cf-auto-embed-card-text-color,
            var(--neutral-grey-6)
        ); // legacy
    }

    .badge {
        display: inline-block;
        margin-left: var(--layout-spacing-xs);
        transform: translateY(-2px);
    }

    .caret {
        font-size: 24px;
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .card {
        border: var(--border-neutral-default) 1px solid;
        color: var(
            --cf-auto-embed-card-text-color,
            var(--content-neutral-default)
        );

        &[data-is-open='true'] {
            border-color: var(--border-accent-default);
        }

        &:hover {
            outline: var(--border-neutral-default) 1px solid;
        }
    }

    .disabled {
        --cf-auto-embed-card-text-color: var(--content-neutral-secondary);
    }

    .title {
        color: var(
            --cf-auto-embed-card-text-color,
            var(--content-neutral-default)
        );
    }

    .caret {
        color: var(--content-neutral-secondary);
    }
}
