@import '~css/new/colors';

:local {
    .credits {
        display: flex;
        align-items: center;
        margin-top: 24px;
        color: @classic-neutral-grey-4;
        font-size: 12px;

        a {
            color: @classic-neutral-grey-4;
            text-decoration: underline;
        }
    }

    .infoIcon {
        margin-right: 4px;
        font-size: 16px;
    }
}
