@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .pageHeaderContainer {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--neutral-grey-0);
    }

    .container {
        padding: @layout-spacing-m;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.4px;
        margin-bottom: @layout-spacing-xxs;
    }

    .description {
        padding-bottom: @layout-spacing-m;
    }

    .descriptionContainer {
        display: flex;
        justify-content: space-between;
    }

    .templatesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: @layout-spacing-s;
    }

    .backWrapper {
        a {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--neutral-grey-5);

            img {
                margin-right: 5px;
            }
        }
        margin-bottom: @layout-spacing-xl;
    }
}
