@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography.less';

:local {
    .dropdownWrapper {
        width: 287px;
        overflow: visible;
    }

    .dropdownBody {
        padding: @layout-spacing-s;
        overflow-y: visible;
        min-height: 390px;
    }

    .dialerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .dialpad {
        padding: 0 @layout-spacing-s;
        margin-top: @layout-spacing-m;
    }

    .results {
        margin-top: @layout-spacing-xs;
        height: 222px;
        overflow-y: scroll;

        &.noResults {
            padding: @layout-spacing-xs;
            color: var(--neutral-grey-5);
            text-align: center;
        }

        .result {
            display: flex;
            flex-direction: column;
            padding: @layout-spacing-xs;
            cursor: pointer;

            &:hover {
                background-color: var(--neutral-grey-2);
            }
        }

        .address {
            .caption-regular();

            color: var(--neutral-grey-5);
        }
    }

    .prefixIcon {
        color: var(--neutral-grey-0);
        background-color: var(--neutral-grey-6);
        border-radius: 3px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
        margin-top: @layout-spacing-m;
    }

    .skeleton {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xxs;
    }
}
