@import (reference) '~css/typography.less';
@import '~css/new/mixins.less';

:local {
    .container {
        list-style: none;
        padding-left: 0;
        display: grid;
        margin-bottom: 0;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--layout-spacing-s);

        @media @mobiles {
            grid-template-columns: repeat(1, 1fr);
        }

        @media @tablets {
            grid-template-columns: repeat(2, minmax(233px, 1fr));
        }

        @media @desktops {
            grid-template-columns: repeat(2, minmax(346px, 1fr));
        }

        @media @large-desktops {
            grid-template-columns: repeat(4, minmax(250px, 1fr));
        }
    }

    .banner {
        .body-semibold();
        color: var(--neutral-grey-5); // legacy
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
}

.axiom :local {
    .banner {
        color: var(--content-neutral-secondary);
    }
}
