:local {
    .formLine {
        display: inline-flex;
        margin-top: var(--layout-spacing-s);
        width: 100%;
    }

    .actionWrapper {
        margin-top: var(--layout-spacing-s);
    }

    .deleteBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: var(--layout-spacing-xs);
    }
}
