:local {
    .tableHead {
        background-color: var(--neutral-grey-0);
        top: 0;
        z-index: 1;

        tr:nth-child(2) {
            border-bottom: 1px solid var(--neutral-grey-3);
        }

        .headerCellProperty {
            color: var(--neutral-grey-4);
        }
    }

    .spinner {
        justify-content: center;
        height: 300px;
    }

    .actionsHeader {
        display: flex;
        align-items: center;
    }

    .checkboxAll {
        padding-right: var(--layout-spacing-m);
    }

    .checkboxAllInput.checkboxAllInput {
        margin-right: var(--layout-spacing-m);
    }
}
