:local {
    .container {
        margin-bottom: 14px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: var(--layout-spacing-xl);
    }

    .sub {
        display: flex;
        gap: var(--layout-spacing-xs);
    }
}
