@import '~css/new/colors';

:local {
    .createIntegrationButton {
        background-color: @facebookBlue !important;
        border-width: 0;
        border-radius: 4px;
        padding: 0px 12px;
        color: white;
        transition: background-color 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            background-color: darken(@facebookBlue, 5%) !important;
        }

        .facebookLogo {
            width: 21px;
            margin-top: -2px;
            margin-right: 6px;
        }
    }
}
