@import '~css/typography';
@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .card {
        padding: @layout-spacing-s;
    }

    .wrapper {
        display: flex;
        gap: @layout-spacing-xs;
        align-items: center;
    }

    .avatar {
        flex-grow: 0;
    }

    .avatarPlaceholder {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        font-size: 24px;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;

        background-color: var(--neutral-grey-2);
        color: var(--neutral-grey-5);

        .noValuePlaceholder {
            font-size: 12px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
        flex-grow: 0;
    }

    .actionMenu {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
    }

    .label {
        .body-semibold();

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: @layout-spacing-xxs;
    }

    .infoIcon {
        font-size: 16px;
        color: var(--neutral-grey-4);
    }

    .metricRow {
        display: flex;
        align-items: center;
        gap: @layout-spacing-xs;
        flex-grow: 0;
    }

    .metricName {
        .caption-regular();
        color: var(--neutral-grey-5);
    }

    .metricDivider {
        height: 16px;
        width: 1px;
        background-color: var(--neutral-grey-3);
    }

    .metricValue {
        .caption-semibold();
        color: var(--neutral-grey-5);
    }
}
