@import (reference) '~css/typography.less';

:local {
    .chatAvailabilitySelection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);

        .label {
            .body-medium();
        }

        label {
            .body-regular();
        }
    }

    .axios {
        [type='radio'] {
            &::before {
                box-shadow: inset 1em 1em var(--main-primary);
            }

            &:checked {
                border-color: var(--main-primary);
                accent-color: var(--content-neutral-default);
            }
        }
    }
}
