@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .cardContainer {
        background-color: var(--neutral-grey-0);
        border-radius: 8px;
        border: 1px solid #e9e9e9;
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.04);

        max-width: 1078px;

        padding: @layout-spacing-m;
    }

    .cardContentWrapper {
        display: flex;
        gap: @layout-spacing-l;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-xs;
        align-items: flex-start;

        max-width: 500px;
    }

    .cardTitle {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .cardDescription {
        color: var(--neutral-grey-5);

        font-size: 14px;
        line-height: 20px;

        margin-bottom: 8px;
    }

    .cardImage {
        width: 128px;
        min-width: 128px;
        height: 128px;
        min-height: 128px;
        border-radius: 8px;
    }

    .cardToggle {
        height: fit-content;
        margin-left: auto;

        display: flex;
        gap: 8px;
    }

    .cardImpact {
        width: fit-content;

        .cardImpactIcon {
            font-size: 12px;
        }

        .cardImpactText {
            white-space: normal;

            font-size: 12px;
            line-height: 16px;
            text-transform: none;
        }
    }

    .cardImpactSkeleton {
        width: 500px;
        height: 20px;
    }

    .cardLinkButton {
        padding: 0px !important;
    }

    .cardLinkButtonIcon {
        font-size: 20px;
    }

    .cardFooter {
        margin-left: 160px;
        margin-top: 24px;

        padding: 16px;

        border-top: 1px solid var(--neutral-grey-2);
    }
}
