:local {
    .container {
        margin-left: var(--spacing-md);
        margin-right: var(--spacing-md);
    }

    .containerFF {
        margin-left: calc(var(--spacing-md) + var(--spacing-xxxs));
        margin-right: calc(var(--spacing-md) + var(--spacing-xxxs));
    }
}
