:local {
    .container {
        padding: 0 var(--layout-spacing-s);
    }

    .list {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: var(--layout-spacing-xxs);
        margin-bottom: 0;
        flex-wrap: wrap;
    }

    .title {
        color: var(--neutral-grey-5); // legacy
        padding-bottom: var(--layout-spacing-xs);
        display: block;
    }
}

.axiom :local {
    .title {
        color: var(--content-neutral-secondary);
    }
}
