:local {
    .dontShow {
        color: var(--neutral-grey-5) !important;
        margin-right: auto;
    }

    .modalInfoImage {
        width: 100%;
        margin: 0 0 var(--layout-spacing-s) 0;
    }
}
