@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
    }

    .inputContainer {
        display: flex;
        flex-direction: row;
    }

    .labelWrapper {
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .helpIcon {
        font-size: 16px;
    }

    .label {
        .body-semibold();

        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 0;
    }

    .labelDescription {
        .caption-regular();

        color: var(--neutral-grey-5);
    }

    .settings {
        display: flex;
        flex-direction: row;
        margin-top: var(--layout-spacing-xs);
    }

    .numberInput {
        width: 100px;
        margin-right: var(--layout-spacing-xs);
    }

    .error {
        color: var(--feedback-error);
        margin-top: @layout-spacing-xxs;
    }

    .selectUnit {
        width: 160px;
    }
}
