:local {
    .container {
        margin-left: 35px;
        border-top: 1px dashed var(--neutral-grey-2);
    }

    .flex {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .warning {
        font-size: 16px;
        color: var(--feedback-warning);
    }

    .label {
        font-weight: normal;
    }

    .disabledText {
        color: var(--neutral-grey-4);
    }
}
