:local {
    .social-list {
        display: grid;
        row-gap: var(--layout-spacing-xs);

        h5 {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: var(--layout-spacing-s);
        }
    }

    .social-item {
        display: grid;
        column-gap: 16px;
        grid-template-columns: 312px 312px 32px;

        .formGroup {
            margin-bottom: 0;
        }
    }

    .label {
        display: flex;
        align-items: center;
        height: 32px;

        color: var(--neutral-grey-6); // legacy
        font-size: 14px;
        line-height: 20px;
    }

    .logo {
        margin-right: 10px;
    }

    .logo-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .logo {
        display: block;
        height: 20px;
        width: 20px;
        background-color: var(--main-primary-3); // legacy
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
    }

    .social-input {
        width: 100%;
        height: 32px;
        border-color: var(--neutral-grey-3); // legacy

        color: var(--neutral-grey-6); // legacy
    }
}

.axiom :local {
    .label {
        color: var(--content-neutral-default);
    }

    .logo {
        background-color: var(--content-accent-default);
    }

    .social-input {
        border-color: var(--border-neutral-default);
        color: var(--content-neutral-default);
    }
}
