@import '~css/typography';

:local {
    .storeCard {
        border-radius: 12px;
        border: 1px solid var(--neutral-grey-3);
        box-shadow: 0 3px 20px 0 #0000000a;
    }

    .section {
        padding: var(--layout-spacing-m);

        &:first-child {
            padding-block: var(--layout-spacing-s);
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--neutral-grey-3);
        }
    }

    .headerSection {
        .heading {
            align-items: center;
        }
    }

    .heading {
        display: flex;
        justify-content: space-between;
    }

    .alert {
        margin-top: var(--layout-spacing-s);
    }

    .alertCta {
        font-size: 12px;
        font-weight: 500;
        color: var(--main-primary);
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        color: var(--neutral-grey-6);
    }

    .channelsList {
        margin-top: var(--layout-spacing-s);
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .channel {
        display: flex;
        justify-content: space-between;
    }

    .channelToggle {
        display: flex;
        align-items: center;
    }

    .disabled {
        cursor: not-allowed;
    }

    .label {
        display: flex;
        gap: var(--layout-spacing-s);
        .heading-subsection-regular();
    }

    .channelCaption {
        color: var(--neutral-grey-5);

        a {
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-content: center;
            gap: var(--layout-spacing-xxs);
        }

        i {
            font-size: 20px;
            vertical-align: middle;
        }
    }

    .warningIcon {
        margin-left: var(--layout-spacing-xs);
        width: 20px;
        height: 20px;
    }

    .skillSection {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
    }
}
