@import (reference) '~css/typography.less';
@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .header {
        display: flex;
        padding: 24px 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        background: var(
            --linear-grey-magenta,
            linear-gradient(
                166deg,
                var(--neutral-grey-2) 30.85%,
                var(--accessory-magenta-25) 145.54%
            )
        );
    }

    .content {
        color: var(--Neutral-Grey_6, #222);

        font-size: 14px;
        font-weight: 400;
    }

    .button {
        font-size: 14px;
    }

    .footer {
        background: var(--Neutral-Grey_0, #fff);
    }
}
