@import (reference) '~css/typography.less';
@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .form {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }
}
