@import '~css/new/colorTokens';

:local {
    .fileSelectedArea {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 24px;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        margin: 0 5px;

        & > div {
            align-self: center;
        }

        & i {
            color: @classic-neutral-grey-6;
        }
    }
}
