:local {
    .container {
        position: relative;
    }

    .donut {
        width: 130px;

        .path-empty {
            fill: var(--neutral-grey-2); // legacy
        }

        .path-success {
            fill: var(--feedback-success); // legacy
        }

        .path-warning {
            fill: var(--yellow); // legacy
        }

        .path-error {
            fill: var(--feedback-error); // legacy
        }

        .path-info {
            fill: var(--main-primary); // legacy
        }
    }

    .difference {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        .value {
            font-size: 33px;
        }
    }
}

.axiom :local {
    .donut {
        .path-empty {
            fill: var(--surface-neutral-tertiary);
        }

        .path-success {
            fill: var(--content-success-primary);
        }

        .path-warning {
            fill: var(--content-warning-primary);
        }

        .path-error {
            fill: var(--content-error-primary);
        }

        .path-info {
            fill: var(--content-additional-blue);
        }
    }
}
