:local {
    .drag-handler {
        color: var(--neutral-grey-3); // legacy
        font-size: 22px;
        margin-right: -13px;
    }
}

.axiom :local {
    .drag-handler {
        color: var(--border-neutral-default);
    }
}
