:local {
    .disabledText {
        color: var(--neutral-grey-3); // legacy
        cursor: default;
    }

    .tooltip {
        max-width: 250px !important;
        left: -10px;
    }

    .link {
        color: var(--main-primary); // legacy
        cursor: pointer;
    }
}

.axiom :local {
    .disabledText {
        color: var(--content-neutral-tertiary);
    }

    .link {
        color: var(--content-accent-default);
    }
}
