:local {
    .disabledText {
        color: var(--neutral-grey-3);
        cursor: default;
    }

    .tooltip {
        max-width: 250px !important;
        left: -10px;
    }

    .link {
        color: var(--main-primary);
        cursor: pointer;
    }
}
