@import (reference) '~css/typography';

:local {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .heading {
        margin-bottom: var(--spacing-xs);
    }

    .cardBody {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .constrainedInput {
        [class*='ui-input-wrapper-'] {
            width: 240px;
        }
    }

    .platformSelectionHeading {
        display: block;
        margin-bottom: var(--layout-spacing-xxs);
    }

    .info {
        .caption-regular();
        color: var(--content-neutral-tertiary);
        margin-top: 4px;
    }
}
