:local {
    .dropdown {
        width: 100%;
        max-height: 300px;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            background-color: var(--neutral-grey-0); // legacy
        }
    }

    .dropdownItem {
        &[aria-disabled='true'] {
            cursor: not-allowed;
            outline: none;

            &:focus {
                background-color: inherit;
            }

            &:hover {
                background-color: var(--neutral-grey-2); // legacy
            }
        }

        &:not([aria-disabled='true']) {
            &:hover,
            &:focus {
                background-color: var(--neutral-grey-2); // legacy
                outline: none;
            }
        }
    }

    .tooltip {
        :global .tooltip-inner {
            text-align: center;
            max-width: 190px;
            padding: var(--layout-spacing-xs);
        }
    }

    .hoveredDropdownItem {
        background-color: var(--neutral-grey-2); // legacy
        outline: none;
    }

    .addCustomResultDropdownItem:hover,
    .addCustomResultDropdownItem:focus,
    .addCustomResultDropdownItem {
        color: var(--main-primary); // legacy
        font-weight: normal;
    }

    .header {
        color: var(--neutral-grey-5); // legacy
        text-transform: uppercase;
    }

    .backButton {
        vertical-align: middle;
    }

    .icon {
        background-color: var(--neutral-grey-0); // legacy
        color: var(--neutral-grey-4); // legacy
        font-size: 20px !important;
        margin: auto;
        padding: 0 8px;
    }

    .inputGroup {
        background-color: var(--neutral-grey-0); // legacy
    }
}

.axiom :local {
    .dropdownItem {
        &[aria-disabled='true'] {
            &:hover {
                background-color: var(--hover-input);
            }
        }

        &:not([aria-disabled='true']) {
            &:hover,
            &:focus {
                background-color: var(--hover-input);
            }
        }
    }

    .hoveredDropdownItem {
        background-color: var(--hover-input);
    }

    .addCustomResultDropdownItem:hover,
    .addCustomResultDropdownItem:focus,
    .addCustomResultDropdownItem {
        color: var(--content-accent-default);
    }

    .header {
        color: var(--content-neutral-tertiary);
    }

    .icon {
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-secondary);
    }

    .inputGroup {
        background-color: var(--elevation-neutral-default);
    }
}
