@import (reference) '~css/typography.less';

:local {
    .feedback {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--neutral-grey-5); // legacy
    }

    .product {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-s);
    }

    .productName {
        flex: 1;
    }

    .productImage {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background-color: var(--neutral-grey-2); // legacy
        border-radius: var(--layout-spacing-xs);
        overflow: hidden;
    }

    .productImage img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.axiom :local {
    .feedback {
        color: var(--content-neutral-secondary);
    }

    .productImage {
        background-color: var(--surface-neutral-tertiary);
    }
}
