:local {
    .layoutWrapper {
        display: flex;
    }

    .navigationButtonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: var(--layout-spacing-xl);

        .group {
            display: flex;
            gap: var(--layout-spacing-xs);
        }
    }

    .verificationDurationInfo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: var(--layout-spacing-m);
        margin-bottom: var(--layout-spacing-s);
        margin-top: var(--layout-spacing-m);

        .verificationDurationValue {
            color: var(--neutral-grey-4); // legacy
        }
    }
}

.axiom :local {
    .verificationDurationInfo {
        .verificationDurationValue {
            color: var(--content-neutral-secondary);
        }
    }
}
