:local {
    .container {
        padding: var(--layout-spacing-m);
        background-color: var(--neutral-grey-1); // legacy

        ul {
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            gap: var(--layout-spacing-m);
        }
    }

    /* use i.tutorialIcon to override the icon size */
    .tutorialIcon,
    i.tutorialIcon {
        height: 24px;
        margin-right: var(--layout-spacing-xs);
        font-size: 24px;
    }

    .tutorialDescription {
        margin-bottom: var(--layout-spacing-m);
    }

    .helpDocLink {
        display: flex;
        gap: var(--layout-spacing-xxs);
        align-items: center;
        margin-top: var(--layout-spacing-m);
    }

    .instruction {
        display: flex;
        align-items: flex-start;
        gap: var(--layout-spacing-s);
    }

    .instructionIndex {
        color: var(--neutral-grey-0); // legacy
        font-weight: 600;
        background-color: var(--neutral-grey-6); // legacy
        width: 24px;
        height: 24px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-default);
    }

    .instructionIndex {
        color: var(--content-inverted-default);
        background-color: var(--surface-inverted-default);
    }
}
