:local {
    .list {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);

        li {
            display: flex;
            align-items: flex-start;
            gap: var(--layout-spacing-s);

            .number {
                color: var(--neutral-grey-0); // legacy
                font-weight: 600;
                background-color: var(--neutral-grey-6); // legacy
                width: 24px;
                height: 24px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }
        }
    }
}

.axiom :local {
    .list {
        li {
            .number {
                color: var(--content-inverted-default);
                background-color: var(--surface-inverted-default);
            }
        }
    }
}
