:local {
    .container {
        width: 100%;
        margin-bottom: var(--layout-spacing-xl);
    }

    .tableAndHeading {
        background-color: var(--neutral-grey-0); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        margin-bottom: var(--layout-spacing-m);
        border-bottom: none;
    }

    .subtitle {
        margin: var(--layout-spacing-m);
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);

        h2 {
            font-size: 16px;
            margin: 0;
        }
    }

    .table {
        margin-bottom: 0;
    }

    .address {
        color: var(--neutral-grey-6); // legacy
        font-weight: 600;
    }

    .deleteButton {
        width: 24px;
        height: 24px;
    }
}

.axiom :local {
    .tableAndHeading {
        background-color: var(--elevation-neutral-default);
        border: 1px solid var(--border-neutral-default);
    }

    .address {
        color: var(--content-neutral-default);
    }
}
