:local {
    .selector {
        position: relative;
    }

    .dropdownSelect {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: var(--neutral-grey-0);
        display: inline-flex;
        height: 40px;
        align-items: center;
        flex-shrink: 0;
        padding: var(--layout-spacing-xxs) var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-xxs);
        cursor: pointer;

        border-radius: var(--layout-spacing-s);
        border: 1px solid var(--neutral-grey-3); // legacy

        &:hover {
            background: var(--neutral-grey-1);
        }
    }

    .selectedOption {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        align-self: center;
        color: var(--neutral-grey-5);
        padding: var(--layout-spacing-xs);

        &--empty {
            margin-left: var(--layout-spacing-xs);
        }
    }

    .dropdownOptions {
        position: absolute;
        display: flex;
        flex-direction: column;
        border-radius: var(--layout-spacing-s);
        border: 1px solid var(--neutral-grey-3); // legacy
        background: var(--neutral-grey-0);
        backdrop-filter: blur(4px);
        padding: 0px;
        list-style: none;
        gap: var(--layout-spacing-xxs);
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-10px);
        transition:
            max-height 0.4s,
            opacity 0.2s,
            transform 0.4s;

        &:first-child {
            border-top-left-radius: var(--layout-spacing-s);
            border-top-right-radius: var(--layout-spacing-s);
        }

        &:last-child {
            border-bottom-left-radius: var(--layout-spacing-s);
            border-bottom-right-radius: var(--layout-spacing-s);
        }

        &:only-child {
            border-radius: var(--layout-spacing-s);
        }

        &--open {
            width: 100%;
            height: auto;
            opacity: 1;
            transform: translateY(0);
            max-height: 130px; // large enough to fit all options
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                display: none;
            }

            scrollbar-width: none;

            -ms-overflow-style: none;
        }
    }

    .dropdownOption {
        display: flex;
        justify-content: space-between;

        align-items: center;
        color: var(--neutral-grey-6);
        font-feature-settings:
            'liga' off,
            'clig' off;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        height: var(--layout-spacing-m);
        padding: var(--layout-spacing-s);

        cursor: default;

        &:hover {
            background: var(--neutral-grey-2);
        }
    }
}

.axiom :local {
    .dropdownSelect {
        border: 1px solid var(--border-neutral-default);
    }

    .dropdownOptions {
        border: 1px solid var(--border-neutral-default);
    }
}
