:local {
    .agents-dropdown-list {
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .assignee-dropdown-list {
        width: 230px;
    }

    .clear-assignee {
        text-transform: none !important;
    }

    .teams-dropdown-item {
        max-height: 36px;
    }

    .delete-popover-target {
        visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
