@import '~css/new/colorTokens';

:local {
    .returnsPolicyTitle {
        color: @classic-neutral-grey-6;
        font-weight: 400;
    }

    .returnsPolicyDescription {
        color: @classic-neutral-grey-6;
    }

    .eligibilityWindowTitle,
    .returnMethodTitle {
        color: @classic-neutral-grey-6;
        font-weight: 600;
    }

    .returnMethodTitle,
    .missingLoopReturnsIntegrationAlert {
        margin-top: 32px;
    }

    .eligibilityWindowDescription {
        color: @classic-neutral-grey-5;
    }

    .eligibilityWindowContainer {
        display: flex;
        align-items: center;
        color: @classic-neutral-grey-6;
    }

    .returnConditionSelectField {
        display: flex;
        margin-right: 10px;
    }

    .returnConditionInput {
        display: flex;
        width: 63px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .deleteButton {
        display: flex;
        margin-left: 20px;
        cursor: pointer;
        font-size: 20px;
    }

    .formButtonsContainer {
        margin-top: 40px;
    }
}
