:local {
  @primary: #0097ff;
  @gray: #c8cbd0;
  @active-bluegreen: #06D79C;

  .preview {
    overflow: hidden;
    padding: 32px 32px 20px 32px;
    background: #f8f9fa;
    border-radius: 5px;
    min-width: 370px;
    max-width: 30em;

    > .titlebar {
      display: block;
      height: 2em;
      padding-left: .4em;
      margin: -2.4em -2.4em 2em;
      background-color: #edeeef;

    }

    > .titlebar:before {
      display: block;
      width: 4.2em;
      height: 100%;
      content: '';
      background-image: radial-gradient(ellipse at center, #f8f9fa 0%, #f8f9fa 45%, transparent 45%);
      background-repeat: repeat-x;
      background-size: 1.4em 1.4em;
      background-position: 0 center;
    }
  }

  .campaign {
    overflow: hidden;
    width: 100%;
    max-height: 500px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 10px 64px rgba(0,0,0,.09);
    margin-bottom: 10px;

    .header {
      display: flex;
      padding: 10px;

      .message {
        padding: 10px;

        .authorName {
          font-size: 13px;
        }

        .messageText {
          font-size: 15px;
        }

        img {
          max-width: 100%;
        }
      }

      .author {
        padding: 10px;

        img {
          height: 50px;
          width: 50px;
          border-radius: 100px;
        }
      }
    }

    .footer {
      cursor: pointer;
      padding: 20px;
      border-top: 1px solid #e8e8e8;
      color: rgba(44,66,103,.46);
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 3.625em;
    height: 3.625em;
    background: @primary;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);

    .icon {
      width: 27%;
      height: 27%;
      display: inline-block;
    }
  }
}
