:local {
    .integration {
        display: flex;
        line-height: 16px;
        font-weight: 400;

        .logo {
            display: inline;
            width: 14px;
            height: 14px;
        }
    }

    .shopify {
        background-color: var(--accessory-green-1); // legacy
        color: var(--TEMP_shopifyBadgeColor);
    }

    .http {
        color: var(--neutral-grey-6); // legacy
        background-color: var(--neutral-grey-2); // legacy
    }

    .bigcommerce {
        background-color: var(--bigcommerceLightPurple); // legacy
        color: var(--bigcommercePurple); // legacy
    }
}

.axiom :local {
    .shopify {
        background-color: var(--surface-success-primary);
    }

    .http {
        color: var(--content-neutral-default);
        background-color: var(--elevation-neutral-mid);
    }

    .bigcommerce {
        background-color: var(--surface-additional-purple);
        color: var(--content-neutral-default);
    }
}
