:local {
    .boundingBox {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: move;
    }

    .hiddenImage {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .visibleContainer {
        width: 280px;
        height: 220px;

        border-radius: 16px 16px 0 0;

        overflow: hidden;
    }

    .visibleImage {
        width: 280px;
        height: 220px;

        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
    }
}
