:local {
    .options {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 35px;
    }

    .customerSegmentWrapper {
        width: 100%;
    }

    .inputGroup {
        display: flex;
        flex-wrap: nowrap;
        gap: 1em;
    }

    .inputGroup > .inputChild {
        flex-grow: 1;
    }

    .label {
        margin-bottom: 0.5em;
    }

    .purchaseRadio {
        display: flex;
        align-items: center;
        gap: 0.25em;

        input {
            margin-top: 0;
        }
    }
}
