:local {
    .preview {
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--layout-spacing-s);
        pointer-events: none;
    }

    .row:first-child {
        margin-left: -150px;
    }

    .row:last-child {
        margin-left: -50px;
    }

    .row {
        display: flex;
        column-gap: var(--layout-spacing-s);
        max-height: 290px;

        & > .topProducts {
            min-width: 410px;
        }
    }

    .chartContent > div > :first-child {
        height: 190px;
        max-height: 190px;
    }
}
