@import '~css/new/mixins';
@import (reference) '~css/typography';

:local {
    .root {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: calc(100% - var(--layout-spacing-xl));
        max-width: 857px;
        padding: 24px;
        border: 1px dashed var(--neutral-grey-3);
        border-radius: 10px;
        text-align: center;
        margin: 120px auto;
    }

    .chartsWrapper {
        margin-bottom: 40px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .title {
        .heading-section-semibold();
        margin-bottom: var(--layout-spacing-xs);
    }

    .subtitle {
        .body-regular();
        color: var(--neutral-grey-5);
        margin-bottom: var(--layout-spacing-s);
    }

    .footNote {
        .caption-regular();
        color: var(--neutral-grey-5);
    }
}
