:local {
    .container {
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
    }

    .reactFlowContainer {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .minimap {
        background-color: var(--neutral-grey-1); // legacy
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);

        > svg {
            padding: 1px;
        }
    }

    .controls {
        border: 1px solid var(--neutral-grey-3); // legacy
        border-radius: 4px;

        > :first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        > :last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.axiom :local {
    .minimap {
        background-color: var(--elevation-neutral-mid);
        border: 1px solid var(--border-neutral-default);
        box-shadow: var(--effects-shadow-container);
    }

    .controls {
        border: 1px solid var(--border-neutral-default);
    }
}
