:local {
    .backLink {
        display: flex;
        align-items: center;
        color: var(--neutral-grey-5);
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;

        i {
            margin-right: 4px;
            font-size: 20px;
        }
    }
}
