:local {
    .dropdownItem {
        display: flex;
        align-items: stretch;
        color: var(--neutral-grey-6); // legacy
        padding: 7px;
        font-size: 12px;
    }

    .disabled {
        background: var(--neutral-grey-0) !important; // legacy

        &:focus {
            outline: none;
        }

        * {
            cursor: not-allowed;
            color: var(--neutral-grey-3) !important; // legacy
        }

        img {
            opacity: 0.2;
        }
    }

    .icon {
        width: 26px;
        font-size: 18px;
        margin-top: 2px;
    }

    .content {
        flex-grow: 1;
    }

    .title {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    .description {
        color: var(--neutral-grey-4); // legacy
        line-height: 16px;
    }

    .forwardIcon {
        display: flex;
        align-items: center;
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .dropdownItem {
        color: var(--content-neutral-default);
    }

    .disabled {
        background: var(--elevation-neutral-default) !important;

        * {
            color: var(--border-neutral-default) !important;
        }
    }

    .description {
        color: var(--content-neutral-secondary);
    }

    .forwardIcon {
        color: var(--content-neutral-secondary);
    }
}
