@import (reference) '~css/typography';

:local {
    .triggersList {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin: 0;
        padding: 0;
        list-style: none;
    }

    .triggerItem {
        .caption-semibold();

        border-radius: 4px;
        padding: var(--layout-spacing-xxs) var(--layout-spacing-xs);
        margin-right: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-xs);

        background-color: var(--neutral-grey-3); // legacy
        color: var(--neutral-grey-6); // legacy

        &:last-child {
            margin-right: 0;
        }
    }
}

.axiom :local {
    .triggerItem {
        background-color: var(--surface-neutral-tertiary);
        color: var(--content-neutral-default);
    }
}
