@import (reference) '~css/typography.less';

:local {
    .label {
        .heading-subsection-semibold();
    }

    .description {
        margin-top: var(--layout-spacing-xxs);
        margin-bottom: var(--layout-spacing-xs);
    }

    .caption {
        .caption-regular();
        margin-top: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-m);
    }
}
