:local {
    .bar {
        --background-color: var(--feedback-success-4);
        --color: var(--neutral-grey-0);

        &.dark {
            --background-color: var(--accessory-green-1);
            --color: var(--neutral-grey-6);
        }

        background-color: var(--background-color);
        color: var(--color);
    }
}
