:local {
    .actions {
        padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-xs)
            var(--spacing-sm);
        background-color: var(--content-inverted-default, #fff);
        flex-shrink: 0;
    }
}
