@import '~css/new/layout.less';

:local {
    .container {
        padding-bottom: @layout-spacing-l;
    }

    .intro {
        margin: @layout-spacing-m;

        p {
            margin-bottom: @layout-spacing-xxs;
        }
    }

    .tableWrapper {
        table-layout: fixed;
    }
}
