@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .headerTitle {
        font-size: 20px;
        margin-bottom: 0;
    }

    .propertiesWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: @layout-spacing-l;
        margin-top: var(--layout-spacing-s);
    }

    .property {
        display: flex;
        flex-direction: column;
        flex-basis: 33%;
        gap: var(--layout-spacing-xxs);
        align-items: flex-start;
    }

    .countryValue {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xxs);
    }

    .messageDescription {
        margin-top: var(--layout-spacing-xxs);
        margin-bottom: var(--layout-spacing-s);
    }

    .messageContainer {
        background-color: var(--neutral-grey-0);
        padding: 18px var(--layout-spacing-s);
    }
}
