:local {
    .container {
        background-color: var(--feedback-success-0);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: var(--layout-spacing-xxs) var(--layout-spacing-xs)
            var(--layout-spacing-xxs) var(--layout-spacing-xxs);
        color: #25d366;
        gap: var(--layout-spacing-xxs);
    }

    .text {
        flex-shrink: 0;
    }

    .logo {
        width: 16px;
    }
}
