:local {
    .container {
        display: flex;
        padding: var(--layout-spacing-xs) var(--layout-spacing-s)
            var(--layout-spacing-xs) var(--layout-spacing-xs);
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        border-bottom: 1px solid var(--neutral-grey-3);
    }

    .input,
    .input:focus {
        border: none;
        box-shadow: none !important;
    }

    .closeButton {
        cursor: pointer;
        font-size: 20px;
        color: var(--neutral-grey-4);
    }

    .filters {
        display: flex;
        align-items: center;
    }
}
