@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: @layout-spacing-s;
    }

    .sentence {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: @layout-spacing-xxs;
    }

    .variable:not(:first-child) {
        margin-left: @layout-spacing-xxs;
    }

    .messageBody {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer {
        color: @classic-neutral-grey-4;
    }

    .input {
        background-color: @classic-neutral-grey-0;
    }
}
