@import '~css/new/layout.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: @layout-spacing-s;
    }

    .line {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: @layout-spacing-xxs;
    }

    .variable {
        &:not(:first-child) {
            margin-left: @layout-spacing-xxs;
        }
        &:not(:last-child) {
            margin-right: @layout-spacing-xxs;
        }
    }

    .messageBody {
        display: flex;
        flex-direction: column;
        gap: @layout-spacing-s;
    }

    .footer {
        color: var(--neutral-grey-4);
    }

    .input {
        background-color: var(--neutral-grey-0);
    }
}
