@import (reference) '~css/new/mixins.less';

:local {
    .form {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-m);
        justify-content: space-between;
        align-items: start;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        min-width: min(100%, 570px);

        @media @large-desktops {
            flex-direction: row;
        }
    }

    .cardContent {
        max-width: 570px;
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        padding: 28px var(--layout-spacing-s) var(--layout-spacing-s);
    }

    .submitButton {
        margin-top: var(--layout-spacing-l);
    }
}
