:local {
    .banner {
        background-color: var(--surface-neutral-primary);
        border: 1px solid var(--border-neutral-default);
    }

    .placeholder {
        background: var(--surface-neutral-secondary);
        border-radius: var(--spacing-xxs);
    }
}
