:local {
    .previewPanel {
        display: flex;
        flex: 1 1 0;
        min-width: 0;
        height: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
            166deg,
            var(--elevation-neutral-mid) 30.85%,
            var(--accessory-magenta-25) 145.54%
        );
    }

    .chatWrapper {
        width: 470px;
        height: 100%;
    }

    .loadingWrapper {
        width: 100%;
        height: 100%;
    }
}
