@import (reference) '~css/typography';

:local {
    .onlineInstructionsTitle {
        margin-bottom: var(--layout-spacing-m);
        font-size: @body-semibold-font-size;
        font-weight: @body-semibold-font-weight;
        line-height: @body-semibold-line-height;
    }

    .onlineFormContainer {
        gap: 16px;
    }

    .onlineInstructionsContainer {
        margin-bottom: 16px;
    }

    .loadingContainer {
        height: 278px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
