@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .offlineInstructionsTitle {
        margin-bottom: var(--layout-spacing-m);
        font-size: @body-semibold-font-size;
        font-weight: @body-semibold-font-weight;
        line-height: @body-semibold-line-height;
    }

    .offlineInstructionsContainer {
        margin-bottom: 20px;
    }

    .businessHoursLink {
        margin-left: var(--layout-spacing-xs);
        font-weight: @caption-regular-font-weight;
    }

    .loadingContainer {
        height: 318px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
