@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .formContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }

    .sectionContainer {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--neutral-grey-2);
        border-radius: 12px;
        background-color: var(--neutral-grey-0);
        padding: @layout-spacing-s;
        gap: 0;
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.04);
    }
}
