@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .fallbackMessageTitle {
        font-size: @body-semibold-font-size;
        font-weight: @body-semibold-font-weight;
        line-height: @body-semibold-line-height;
    }

    .loadingContainer {
        height: 154px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fallbackBanner {
        justify-content: start;
        margin-bottom: 16px;
    }
}
