:local {
    .wrapper {
        height: var(--layout-spacing-l);
        width: 100%;
        display: inline-flex;
    }

    .button {
        padding: 0 var(--layout-spacing-xs);

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;

        z-index: 0;
    }

    .color {
        height: var(--layout-spacing-s);
        width: var(--layout-spacing-s);
    }

    .input {
        height: 100%;
        flex: 1;
        padding-left: var(--layout-spacing-xs);

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    .popover-content {
        padding: 4px;
    }

    .popup {
        @choices-per-row: 7;
        @choice-size: 30px;
        @choice-margin: 3px;
        @choice-width: @choice-size + (@choice-margin * 2);

        display: flex;
        flex-wrap: wrap;
        width: @choice-width * @choices-per-row;

        .choice {
            border: none;
            padding: 0;
            height: @choice-size;
            width: @choice-size;
            border-radius: 3px;
            margin: @choice-margin;
        }
    }
}

.axiom :local {
    .button {
        height: 32px !important;
        border: 1px solid var(--border-neutral-default) !important;
        border-right: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: var(--spacing-xs) !important;
        border-bottom-left-radius: var(--spacing-xs) !important;

        &:hover:not(:disabled) {
            border: 1px solid var(--border-neutral-default) !important;
            border-right: 0 !important;
            background-color: var(--hover-default) !important;
        }

        &:active:not(:disabled) {
            background-color: var(--surface-neutral-quaternary) !important;
            border-color: var(--border-neutral-secondary) !important;
            border-right: 0 !important;
        }
    }

    .input {
        border: 1px solid var(--border-neutral-default);
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--spacing-xs);
        border-bottom-right-radius: var(--spacing-xs);
        background-color: var(--elevation-neutral-default);
        color: var(--content-neutral-default);
        box-shadow: none;

        &:hover:not(:disabled):not(:focus) {
            border: 1px solid var(--border-neutral-default) !important;
            border-left: 0 !important;
            background-color: var(--hover-default) !important;
        }

        &:focus {
            border: 1px solid var(--border-neutral-secondary);
            border-left: 0;
            box-shadow: none;
            outline: none;
        }

        &:disabled {
            opacity: 0.5;
            background-color: var(--surface-neutral-primary);
            color: var(--content-neutral-secondary);
        }

        &::placeholder {
            color: var(--content-neutral-secondary);
        }
    }

    .popover-content {
        background-color: var(--elevation-neutral-mid) !important;
        border-radius: var(--spacing-sm) !important;
    }

    .popup {
        .choice {
            border-radius: var(--spacing-xs);
        }
    }
}
