@import '~css/new/colorTokens';

:local {
    .fullWidth {
        width: 100%;
    }

    .timeSpentOnPageInput {
        input {
            min-width: 35px;
        }
    }

    .triggerWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        & > div {
            margin-right: 8px;
        }

        & > div.last {
            margin-right: 0;
        }

        .fixedOperator {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: @classic-neutral-grey-6;
            white-space: nowrap;
        }

        .closeWrapper {
            cursor: pointer;
            margin: 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0;
            padding: 8px;

            i {
                font-size: 20px;
            }
        }
    }
}
