:local {
    .container {
        margin: var(--layout-spacing-m);
        max-width: 588px;
    }

    .buttonGroup {
        margin-top: var(--layout-spacing-m);
        display: flex;
        align-items: center;
        gap: 8px;

        & > :last-child {
            margin-left: auto;
        }
    }
}
