:local {
    .intentsContainer {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
        width: 100%;
    }

    .clickableValue {
        background: none;
        border: none;
        padding: 0;
        color: var(--content-accent-default);
        cursor: pointer;
        text-decoration: none;
        font: inherit;
    }

    .viewAllButtonContainer {
        // Button is placed outside of the impact accordion and is closer
        // to the left edge by the design
        margin-left: -6px;
        margin-top: 2px;
    }
}
