@import (reference) '~css/typography';

:local {
    .section {
        display: flex;
        width: 300px;
        padding: var(--spacing-md);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-sm);
        border-bottom: 1px solid var(--border-neutral-default);
    }

    .header {
        display: flex;
        height: 24px;
        justify-content: space-between;
        align-items: start;
        align-self: stretch;
        padding: 0;
        padding-right: 8px;
    }

    .headerWithSubtitle {
        height: auto;
    }

    .title {
        color: var(--content-neutral-default);

        .body-semibold();
    }

    .titleWithTooltip {
        display: flex;
        align-items: center;
        gap: var(--spacing-xxxs);
    }

    .subtitle {
        color: var(--content-neutral-tertiary);
        text-align: center;

        .caption-regular();

        font-size: 10px;
        line-height: 14px;
    }

    .subtitleLeftAligned {
        text-align: left;
    }

    .titleAndSubtitle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
    }

    .content {
        width: 100%;
    }

    .bottomElement {
        margin-top: var(--spacing-xxs);
        display: flex;
        justify-content: flex-start;
    }
}
