:local {
    .container {
        border-top: 1px solid var(--border-neutral-default);
        margin-top: auto;
    }

    .label {
        color: var(--content-neutral-secondary);
    }

    .value {
        color: var(--content-neutral-default);
        font-family: monospace;
    }

    .explanatoryText {
        color: var(--content-neutral-secondary);
        font-style: italic;
        margin-bottom: var(--spacing-xs);
    }
}
