:local {
    .storeIntegrationCell {
        display: flex;
        align-items: center;
        gap: var(--spacing-xxxs);
        .noStore {
            color: var(--content-neutral-secondary);
        }
    }
}
