:local {
    .dropdown {
        display: inline;
    }

    .optionPickerToggleNone {
        background-color: transparent;
        color: var(--neutral-grey-5, #6a6a6a);
        display: flex;
        gap: 4px;

        &:hover,
        &:active,
        &:focus {
            background: var(--neutral-grey-3, #ddd);
            color: var(--neutral-grey-6);
        }

        &:disabled {
            color: var(--neutral-grey-5);
            background-color: transparent;
            cursor: default;
        }
    }

    .dropdownHeader {
        padding: 1px 4px 8px;
        margin-bottom: 8px;
    }

    .optionDropdownMenuLarge {
        min-width: 272px;
    }

    .optionDropdownItem {
        padding: 8px 12px;
    }
}
