@import (reference) '~css/typography';

:local {
    .container {
        display: inline-block;
        padding-left: 0 !important;

        &:hover {
            background-color: transparent !important;
        }
    }
}
