@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .customerNote {
        margin-top: -2px;
        margin-bottom: @layout-spacing-xxs;
        display: flex;
        align-items: flex-start;

        .noteIcon {
            margin-top: 5px;
        }

        .noteInputContainer {
            flex-grow: 1;
            margin-left: 6px;
            position: relative;

            .noteInput {
                display: block;
                width: 100%;
                padding: 2px 5px 2px 0;
                border: 1px solid transparent;
                border-radius: 3px;

                color: var(--neutral-grey-6);
                letter-spacing: 0.14px;
                font-size: 1em;
                -webkit-font-smoothing: antialiased;

                transition:
                    border-color 0.2s,
                    padding 0.2s;

                cursor: text;
                resize: none;

                &:focus {
                    outline: none;
                }

                &.loading {
                    background: var(--neutral-grey-1);
                }

                &.error {
                    border-color: var(--feedback-error) !important;
                    background-color: var(--ultraLightRed);
                }

                &:hover,
                &:focus,
                &.loading,
                &.error {
                    border-color: var(--neutral-grey-3);
                    padding-left: 5px;
                }

                &::placeholder {
                    color: var(--neutral-grey-4);
                }
            }

            .loaderIcon {
                position: absolute;
                right: 8px;
                top: 5px;
                margin: auto 0;
            }
        }

        .errorMessage {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}
