@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .customerInfo {
        padding: @layout-spacing-s;
        background: var(--neutral-grey-0);
    }

    .customerProfile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: @layout-spacing-s;
        margin: 0 0 calc(@layout-spacing-s) 0;
    }

    .customerLink {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .displayName {
        margin: 0;
        color: var(--neutral-grey-6);
        font-weight: 600;
        font-size: 17px;
    }

    .customerOptions {
        flex-grow: 0;
    }

    .separator {
        margin: calc(@layout-spacing-xs * 1.5) 0;
        background-color: var(--neutral-grey-2);
    }
}
