:local {
    .container {
        display: flex;
        flex-direction: column;
        padding: var(--layout-spacing-s);
        gap: var(--layout-spacing-s);
        background-color: var(--neutral-grey-2); // legacy
        border-radius: 4px;
        align-items: flex-start;
    }

    .code {
        white-space: pre-wrap;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: var(--neutral-grey-5); // legacy
    }
}

.axiom :local {
    .container {
        background-color: var(--elevation-neutral-mid);
    }

    .code {
        color: var(--content-neutral-secondary);
    }
}
