:local {
    .required {
        color: var(--content-negative-default);
    }

    .instructionsPlaceholder {
        &::placeholder {
            color: var(--content-neutral-secondary);
        }

        &:focus {
            border-color: var(--border-brand-default);
        }
    }
}
