:local {
    .splitView {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: var(--layout-spacing-xs);
        height: 100%;
        //background: var(--elevation-neutral-bg);
        background: rgba(0, 0, 0, 0.175);
        border-radius: 12px;
        overflow-x: auto;
    }

    .loadingSplitView {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: var(--layout-spacing-xs);
        height: 100%;
        border-radius: 12px;
    }

    .editor {
        flex: 1;
        min-width: 0;
        width: 100%;
    }

    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .playground {
        width: 480px;
        flex-shrink: 0;
        [data-name='panel-header'] {
            // this matches the height of header to the height of side panel header
            // side panel header has height of 58px, but also has a border on top of 1px, making total of 59px
            height: 59px;
        }
    }
    [data-name='playground-panel'] {
        border-radius: 12px !important;
    }
    [data-name='panel-header'] {
        border-top-right-radius: 12px !important;
        border-top-left-radius: 12px !important;
    }
    [data-name='knowledge-editor-top-bar-container'] {
        height: 58px;
    }
}
