@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: column;
        padding: 64px 80px 0 80px;
        background: linear-gradient(0deg, #fff 58.88%, #f5d4ff 115.33%);
        border-radius: 11px;
    }

    .title {
        margin-bottom: @layout-spacing-xxs;
    }
}
