:local {
    .campaignsTable {
        .anchor {
            width: 80%;
            padding: var(--layout-spacing-s) var(--layout-spacing-xs);

            color: var(--neutral-grey-6); // legacy
        }

        .nameCell {
            padding: 0;

            &:hover {
                cursor: not-allowed;
            }
        }

        .headerCellTitle {
            color: var(--neutral-grey-4); // legacy
        }

        .loader {
            padding: 0 var(--layout-spacing-m);
        }
    }
}

.axiom :local {
    .campaignsTable {
        .anchor {
            color: var(--content-neutral-default);
        }

        .headerCellTitle {
            color: var(--content-neutral-secondary);
        }
    }
}
