@import '~css/new/layout.less';
@import (reference) '~css/typography.less';

:local {
    .container {
        padding: @layout-spacing-m;
        display: flex;
        flex-wrap: wrap;
        column-gap: 56px;
        row-gap: @layout-spacing-xl;
    }

    .content {
        flex-basis: 680px;
    }

    .descriptionContainer {
        margin-bottom: @layout-spacing-xs;
    }

    .submitAndCancelButtonsContainer {
        display: flex;
        column-gap: 12px;
        margin-top: @layout-spacing-xl;
    }

    .selectorTitle {
        .body-semibold();
        margin-top: @layout-spacing-s;
        margin-bottom: @layout-spacing-xs;
    }
}
