:local {
    .container {
        display: flex;
        gap: var(--layout-spacing-l);
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
        flex: 1;
    }

    .schedule {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-xs);
        flex: 1.5;
    }
}
