:local {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--layout-spacing-s);

        &.column {
            flex-direction: column;
            gap: var(--layout-spacing-s);
        }
    }

    .field {
        flex: 1;
    }
}
