:local {
    .table {
        table-layout: fixed;
    }
    .businessHoursColumn {
        width: 40%;
        overflow: hidden;
    }

    .integrationNameColumn,
    .storeNameColumn {
        width: 25%;
    }

    .pagination {
        margin-top: var(--layout-spacing-m);
    }
}
