@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .row {
        display: flex;
        gap: @layout-spacing-xs;
        margin-bottom: @layout-spacing-xs;
    }

    .fieldSource {
        flex: 0 1 200px;
    }

    .operatorContainer {
        flex: 0 1 150px;
    }

    .valueContainer {
        flex: 1 0 auto;
    }
}
