:local {
    .wrapper {
        display: block;
        padding: 8px 0;
        position: relative;
    }

    .notificationWrapper {
        min-width: 380px;
        position: absolute;
        z-index: 3;
        margin-top: 8px;
        background-color: var(--neutral-grey-0); // legacy
        border-radius: 4px;
        box-shadow: 1px 1px 8px rgba(22, 22, 22, 0.24);
        padding: 16px;
    }

    .gotItButton {
        margin-top: 16px;
    }
}

.axiom :local {
    .notificationWrapper {
        background-color: var(--elevation-neutral-default);
    }
}
