@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        flex-direction: row;
        gap: var(--layout-spacing-xs);
        padding: var(--layout-spacing-s) 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .name {
        .body-medium();
        color: var(--main-primary); // legacy
    }

    .description {
        .caption-regular();
        color: var(--neutral-grey-4); // legacy
    }
}

.axiom :local {
    .name {
        color: var(--content-accent-default);
    }

    .description {
        color: var(--content-neutral-secondary);
    }
}
