@import '~bootstrap-daterangepicker/daterangepicker.css';
@import '~css/typography';

/* global styles for react-bootstrap-daterangepicker
 */

/* bootstrap-daterangepicker doesn't support custom icons:
 * https://github.com/dangrossman/daterangepicker/issues/1593
 * overwrite font-awesome to use material-icons.
 * Material icons codes are available here:
 * https://github.com/google/material-design-icons/blob/master/iconfont/codepoints
 */
.daterangepicker .fa {
    .material-icons();

    font-size: 18px;
    line-height: 1;

    &.fa-chevron-left:before {
        content: '\e5cb';
    }

    &.fa-chevron-right:before {
        content: '\e5cc';
    }

    &.fa-calendar:before {
        content: '\e8df';
    }

    &.fa-clock-o:before {
        content: '\e192';
    }
}

/* tweak calendar icon position
 */
.daterangepicker .daterangepicker_input i {
    top: 6px;
}

.daterangepicker {
    font-family: 'Inter', sans-serif;
    background-color: var(--neutral-grey-0); // legacy;
    border: 1px solid var(--neutral-grey-3); // legacy;
    color: var(--neutral-grey-6); // legacy;

    &:after {
        border-bottom-color: var(--neutral-grey-0); // legacy;
    }

    &:before {
        border-bottom-color: var(--neutral-grey-3); // legacy;
    }

    .calendar-time {
        margin: 0 0 10px;
    }

    .drp-calendar {
        .calendar-table {
            background-color: var(--neutral-grey-0); // legacy;
            border: unset;

            thead {
                th.available:hover {
                    background-color: var(--neutral-grey-1); // legacy;
                }

                tr {
                    &:first-of-type {
                        height: 40px;

                        @media @mobiles {
                            height: 30px;
                        }
                    }

                    &:nth-of-type(2) th {
                        font-size: 11px;
                    }

                    th {
                        font-weight: 600;
                    }
                }
            }

            .month {
                font-size: 16px;
                text-transform: none;
            }

            text-transform: uppercase;

            .next span,
            .prev span {
                border: solid var(--neutral-grey-5); // legacy;
                border-width: 0 2px 2px 0;
            }
        }
    }

    &.show-ranges.ltr .drp-calendar.left,
    &.show-ranges.single.ltr .drp-calendar.left,
    &.show-ranges.ltr .drp-calendar.right {
        border-left: none;
        padding: 0 24px 0 0;

        @media @mobiles {
            padding: 0;
        }
    }

    &:not(.show-ranges) .drp-calendar.left.single {
        padding: 0 0 16px 0;

        @media @mobiles {
            padding: 0;
        }
    }

    &.displayed.show-ranges {
        display: grid !important;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 32px auto;

        @media @mobiles {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
            padding: 12px;
        }
    }

    .ranges {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        @media @mobiles {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        ul {
            width: auto;

            li {
                background-color: var(--neutral-grey-1); // legacy;
                border-radius: 4px;
                color: var(--neutral-grey-6); // legacy;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                padding: 6px 12px;
                text-align: center;
                width: 130px;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                &.active {
                    background-color: var(--main-primary); // legacy;
                }

                &:hover {
                    background-color: var(--neutral-grey-2); // legacy;
                }

                @media @mobiles {
                    font-size: 13px;
                    padding: 3px 12px;
                    width: auto;
                }
            }

            &::before {
                color: var(--neutral-grey-4); // legacy;
                content: attr(label);
                display: block;
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
            }

            &.with-label::before {
                letter-spacing: 0.05em;
                margin-bottom: 8px;
            }
        }
    }

    .drp-calendar {
        &.left {
            display: flex !important;
            flex-direction: column-reverse;
            justify-content: flex-end;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;

            @media @mobiles {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            .calendar-table {
                padding-right: 0;
            }
        }

        &.right {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;

            @media @mobiles {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                margin-top: 10px;
            }
        }
    }

    .drp-buttons {
        border: none;
        font-size: 14px;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        @media @mobiles {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            flex-direction: column-reverse;
            justify-content: flex-end;
            margin: 37px 0 0 15px;
        }

        .btn {
            font-size: 14px;
            font-weight: 500;
            height: 32px;
            line-height: 20px;
            margin-left: 0;

            @media @mobiles {
                margin: 10px 0 !important;

                &.applyBtn {
                    margin-top: 10px;
                }
            }
        }
    }

    &.show-calendar {
        .drp-buttons {
            display: flex;
        }

        .ranges {
            margin-top: 24px;
        }
    }

    select {
        &.hourselect,
        &.minuteselect,
        &.secondselect,
        &.ampmselect,
        &.monthselect,
        &.yearselect {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: var(--neutral-grey-0); // legacy;
            @arrowColor: escape(--neutral-grey-4);
            background-image: url('data:image/svg+xml;utf8,<svg width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.591547 1.75837L2.74988 3.91671C3.07488 4.24171 3.59988 4.24171 3.92488 3.91671L6.08321 1.75837C6.60821 1.23337 6.23321 0.333374 5.49155 0.333374H1.17488C0.433213 0.333374 0.0665467 1.23337 0.591547 1.75837Z" fill="@{arrowColor}"/></svg>');
            background-position:
                right 0.7em top 50%,
                0 0;
            background-repeat: no-repeat, repeat;
            border: 1px solid var(--neutral-grey-3); // legacy;
            border-radius: 4px;
            color: var(--neutral-grey-6); // legacy;
            font-size: 14px;
            height: 32px;
            line-height: 1.3;
            margin: 0;
            padding: 0 8px;
            width: 69px;
        }

        &.monthselect,
        &.yearselect {
            &:focus-visible {
                outline: var(--neutral-grey-3); // legacy auto 0;
            }
        }

        &.monthselect {
            margin-right: 5px;
        }

        &.yearselect {
            margin-left: 5px;
        }
    }

    td {
        &.active,
        &.active:hover {
            background-color: var(--main-primary); // legacy;
        }

        &:hover,
        &.available:not(.active):hover {
            background-color: var(--neutral-grey-2); // legacy;
        }

        &.disabled {
            background-color: var(--neutral-grey-1); // legacy;
            border-radius: 0;
            color: var(--neutral-grey-3); // legacy;
            text-decoration: none;
        }

        &.off.available {
            color: var(--neutral-grey-4); // legacy;
            background-color: var(--neutral-grey-0); // legacy;
        }

        &.in-range:not(.active):not(.off) {
            background-color: var(--surface-accent-secondary);
            color: var(--content-neutral-default);
        }
    }

    .drp-selected {
        display: none;
    }

    &.picker-v2 {
        margin-top: var(--layout-spacing-xxs);

        &::before,
        &::after {
            display: none;
        }
        &.apply-v2-styles {
            &.show-ranges.ltr .drp-calendar.right {
                padding: var(--layout-spacing-s) var(--layout-spacing-s)
                    var(--layout-spacing-s) var(--layout-spacing-xs);
            }

            &.show-ranges.ltr .drp-calendar.left {
                padding: var(--layout-spacing-s) var(--layout-spacing-xs)
                    var(--layout-spacing-s) var(--layout-spacing-s);

                &.single {
                    padding: 16px;
                }
            }

            &.show-calendar {
                .ranges {
                    margin-top: 0;
                }
            }

            .ranges {
                ul {
                    min-width: 120px;
                    max-width: 250px;
                    padding: var(--layout-spacing-xs);
                    display: flex;
                    flex-direction: column;
                    max-height: 265px;
                    overflow-y: auto;

                    li {
                        .body-regular();
                        background-color: inherit;
                        display: flex;
                        width: 100%;
                        padding: var(--layout-spacing-xs);
                        align-items: center;
                        align-self: stretch;
                        border-radius: 0;
                        color: var(--neutral-grey-6); // legacy;
                        cursor: pointer;
                        justify-content: space-between;

                        &:not(:last-child) {
                            margin-bottom: 0;
                        }

                        &.active {
                            background-color: unset;

                            &::after {
                                font-family: 'Material Icons';
                                content: '\e876';
                                font-size: 20px;
                                color: var(--neutral-grey-4); // legacy;
                                margin-left: var(--layout-spacing-xs);
                                font-variation-settings:
                                    'FILL' 0,
                                    'wght' 400,
                                    'GRAD' 0,
                                    'opsz' 24;
                            }
                        }
                    }
                }
            }

            .drp-buttons {
                margin: 15px 15px 0 0;
            }

            &.action-buttons-on-the-bottom {
                .drp-buttons {
                    position: static;
                    bottom: unset;
                    margin: 0;
                }
            }

            &.add-calendar-spacing {
                &:not(.show-ranges) .drp-calendar.left.single {
                    padding: var(--layout-spacing-s);
                }
            }
        }

        &.ranges-on-left {
            .drp-calendar {
                &.left {
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                &.right {
                    grid-column-start: 3;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }

            .ranges {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 3;
                border-right: 1px solid var(--neutral-grey-3); // legacy;
            }

            .drp-buttons {
                justify-content: center;
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
            }
        }

        &.action-buttons-on-the-bottom {
            .drp-buttons {
                justify-content: right;
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 4;
                grid-row-end: 4;
                padding: 12px 16px;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                background-color: var(--neutral-grey-2); // legacy;
                border-top: 1px solid var(--neutral-grey-3); // legacy;
                position: relative;
                margin: 0 -24px;
                bottom: -24px;
            }

            .ranges {
                margin-top: 0;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }

        &.range-dates-in-footer {
            .drp-selected {
                display: block;
                .body-regular();
                color: var(--neutral-grey-6); // legacy;
                padding: 0;
            }
        }

        &:not(.show-ranges) .drp-calendar.left.single {
            padding: 0;
        }

        .calendar-time {
            margin: 0 0 4px 0;
        }
    }
}

.axiom.daterangepicker {
    background-color: var(--elevation-neutral-mid) !important;
    border: 1px solid var(--border-neutral-default) !important;
    border-radius: var(--spacing-sm);
    box-shadow: var(--effects-shadow-container);

    &:after {
        border-bottom-color: var(--elevation-neutral-mid) !important;
    }

    &:before {
        border-bottom-color: var(--border-neutral-default) !important;
    }

    .drp-calendar {
        .calendar-table {
            background-color: var(--elevation-neutral-mid) !important;

            .next span,
            .prev span {
                border: solid var(--content-neutral-default) !important;
                border-width: 0 2px 2px 0 !important;
            }
        }
    }

    select {
        &.hourselect,
        &.minuteselect,
        &.secondselect,
        &.ampmselect,
        &.monthselect,
        &.yearselect {
            border: none !important;
            box-shadow: inset 0 0 0 1px var(--border-neutral-default) !important;
            border-radius: var(--spacing-xs) !important;
            background-color: transparent !important;
            color: var(--content-neutral-default) !important;
            transition: all 0.2s linear;

            &:hover {
                background: var(--hover-input) !important;
            }

            &:focus {
                background: transparent !important;
                box-shadow:
                    var(--effects-inner-shadow),
                    inset 0 0 0 1px var(--border-neutral-secondary) !important;
                z-index: 2;
            }

            &:focus-visible {
                outline: 2px solid var(--focus) !important;
                outline-offset: 2px !important;
            }
        }
    }

    td {
        background-color: transparent !important;

        &.active,
        &.active:hover {
            background-color: var(--surface-accent-default) !important;
            color: var(--content-accent-default) !important;
        }

        &:hover,
        &.available:not(.active):hover {
            background-color: var(--hover-default) !important;
        }

        &.disabled {
            background-color: transparent !important;
            color: var(--content-neutral-tertiary) !important;
            opacity: 0.5 !important;
        }

        &.off.available {
            color: var(--content-neutral-secondary) !important;
            background-color: transparent !important;
        }

        &.in-range:not(.active):not(.off) {
            background-color: var(--surface-accent-tertiary) !important;
            color: var(--content-accent-default) !important;
        }
    }

    &.picker-v2 {
        &.apply-v2-styles {
            .ranges {
                ul {
                    li {
                        color: var(--content-neutral-default) !important;
                        background-color: transparent !important;
                        border-radius: var(--spacing-xxxs) !important;
                        padding: var(--spacing-xxxs) var(--spacing-xs) !important;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--hover-default) !important;
                        }

                        &.active {
                            background-color: var(
                                --surface-accent-default
                            ) !important;
                            color: var(--content-accent-default) !important;

                            &::after {
                                color: var(--content-accent-default) !important;
                            }
                        }
                    }
                }
            }
        }

        &.ranges-on-left {
            .ranges {
                border-right: 1px solid var(--border-neutral-default) !important;
            }
        }

        &.action-buttons-on-the-bottom {
            .drp-buttons {
                background-color: var(--elevation-neutral-mid) !important;
                border-top: 1px solid var(--border-neutral-default) !important;
            }
        }

        &.range-dates-in-footer {
            .drp-selected {
                color: var(--content-neutral-default) !important;
            }
        }
    }
}

.dark .axiom.daterangepicker select.monthselect,
.dark .axiom.daterangepicker select.yearselect,
.dark .axiom.daterangepicker select.hourselect,
.dark .axiom.daterangepicker select.minuteselect,
.dark .axiom.daterangepicker select.secondselect,
.dark .axiom.daterangepicker select.ampmselect {
    color-scheme: dark;
}
