/* dropdown
 * overrides bootstrap's dropdown
 */

.dropdown-toggle.caret-only::after {
    margin-left: 0;
}

// dropdown menu
.dropdown-menu {
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0 2px 3px rgba(22, 22, 22, 0.2);
    border-color: var(--neutral-grey-3); // legacy;
    color: var(--neutral-grey-6); // legacy;
    background-color: var(--neutral-grey-0); // legacy;

    > div {
        display: block;
    }
}

.dropdown-menu .dropdown-item .icon {
    margin-right: 0.5rem;
}

.dropdown-divider {
    margin-left: -4px;
    margin-right: -4px;
    border-color: var(--neutral-grey-2); // legacy;
}

// dropdown
.dropdown-item {
    border-radius: 3px;

    color: var(--neutral-grey-6); // legacy;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
        background-color: var(--neutral-grey-2); // legacy;
        color: var(--neutral-grey-6); // legacy;
    }
}

// prevent text in dropdown items to overflow
.dropdown-item,
.dropdown-header {
    padding: 5px 8px;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
        color: inherit;
    }
}

.dropdown-header {
    color: var(--main-primary); // legacy;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1.1px;
}

// item containing an input
.dropdown-item-input {
    overflow: visible;
    padding: 0;

    input {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.axiom {
    .dropdown-menu {
        border-color: var(--border-neutral-default) !important;
        background-color: var(--elevation-neutral-mid) !important;
        border-radius: var(--spacing-sm) !important;
        box-shadow: var(--effects-shadow-container) !important;
    }

    .dropdown-item {
        display: flex;
        align-items: center;
        color: var(--content-neutral-default);
        border-radius: var(--spacing-xxs);

        &:hover,
        &:active,
        &:focus {
            background-color: var(--hover-default);
            color: var(--content-neutral-default);
        }
    }

    .dropdown-divider {
        border-color: var(--border-neutral-default);
    }
}
