.form-control {
    border: 1px solid var(--neutral-grey-3); // legacy;
    border-radius: 3px;
    background-color: var(--neutral-grey-0); // legacy;
    color: var(--neutral-grey-6); // legacy;

    &:focus {
        color: var(--neutral-grey-6); // legacy;
    }

    &:focus {
        background-color: var(--neutral-grey-0); // legacy;
        box-shadow: 0 0 0 0.2rem
            hsla(
                var(--main-primary-h) // legacy,
                var(--main-primary-s) // legacy,
                var(--main-primary-l) // legacy,
                0.1
            );
    }

    &:disabled,
    &[readonly] {
        background-color: var(--neutral-grey-3); // legacy;
    }

    &::placeholder {
        color: var(--neutral-grey-5) !important; // legacy
    }
}

.form-row {
    margin-left: -10px;
    margin-right: -10px;
}

.form-row > .col,
.form-row > [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}

.input-group-text {
    background-color: var(--neutral-grey-1); // legacy;
    border-color: var(--neutral-grey-3); // legacy;
}

.axiom {
    .form-control {
        border: 1px solid var(--border-neutral-default);
        background-color: transparent !important;
        border-radius: var(--spacing-xs);

        &:focus {
            background-color: var(--hover-input) !important;
        }

        &:disabled,
        &[readonly] {
            background-color: var(--surface-neutral-primary) !important;
            opacity: 0.5 !important;
            border-color: var(--border-neutral-default) !important;
        }
    }

    .input-group-text {
        border-color: var(--border-neutral-default);
        background-color: var(--elevation-neutral-default);
    }
}
