.form-control {
    border: 1px solid var(--neutral-grey-3); // legacy;
    border-radius: 3px;
    background-color: var(--neutral-grey-0); // legacy;
    color: var(--neutral-grey-6); // legacy;

    &:focus {
        color: var(--neutral-grey-6); // legacy;
    }

    &:focus {
        background-color: var(--neutral-grey-0); // legacy;
        box-shadow: 0 0 0 0.2rem
            hsla(
                var(--main-primary-h) // legacy,
                var(--main-primary-s) // legacy,
                var(--main-primary-l) // legacy,
                0.1
            );
    }

    &:disabled,
    &[readonly] {
        background-color: var(--neutral-grey-3); // legacy;
    }

    &::placeholder {
        color: var(--neutral-grey-5) !important; // legacy
    }
}

.form-row {
    margin-left: -10px;
    margin-right: -10px;
}

.form-row > .col,
.form-row > [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}

.input-group-text {
    background-color: var(--neutral-grey-1); // legacy;
    border-color: var(--neutral-grey-3); // legacy;
}

.axiom {
    .form-control {
        border: 1px solid var(--border-neutral-default);
        background-color: var(--elevation-neutral-default) !important;
        border-radius: var(--spacing-xs);
        color: var(--content-neutral-default);
        box-shadow: none;

        &:hover:not(:disabled):not([readonly]):not(:focus) {
            border: 1px solid var(--border-neutral-default);
            background-color: var(--hover-default) !important;
        }

        &:focus {
            border: 1px solid var(--border-neutral-secondary);
            background-color: var(--elevation-neutral-default) !important;
            color: var(--content-neutral-default);
            box-shadow: none;
            outline: none;
        }

        &:disabled,
        &[readonly] {
            background-color: var(--surface-neutral-primary) !important;
            opacity: 0.5;
            border-color: var(--border-neutral-default);
            color: var(--content-neutral-secondary);
            cursor: not-allowed;
        }

        &::placeholder {
            color: var(--content-neutral-secondary) !important;
        }
    }

    .input-group-text {
        border-color: var(--border-neutral-default);
        background-color: var(--elevation-neutral-default);
    }

    .input-group {
        .input-group-append {
            button,
            .btn {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
        }

        .input-group-prepend {
            button,
            .btn {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
            }
        }
    }
}
