.modal-backdrop {
    /* force opacity,
   * to fix the visibility flash when not using .fade
   */
    opacity: 0.5;
}

.modal-header,
.modal-footer {
    border-color: var(--neutral-grey-3); // legacy
}

.modal-content {
    background-color: var(--neutral-grey-0);
    color: var(--neutral-grey-6);
}

.axiom {
    .modal-header,
    .modal-footer {
        border-color: var(--border-neutral-default);
    }
}
