// popover style
// https://github.com/reactstrap/reactstrap/issues/449
.popover {
    max-width: 350px;
    background-color: var(--neutral-grey-1);
    color: var(--neutral-grey-6);
    font-size: 1rem;
    z-index: 1051 !important;
    border-color: var(--neutral-grey-3);

    &.bs-popover-auto {
        &[x-placement^='top'],
        &.bs-popover-top {
            > .arrow::after {
                border-top-color: var(--neutral-grey-1);
            }

            > .arrow::before {
                border-top-color: var(--neutral-grey-3);
            }

            .popover-header::before {
                display: none;
            }
        }

        &[x-placement^='right'],
        &.bs-popover-right {
            > .arrow::after {
                border-right-color: var(--neutral-grey-1);
            }

            > .arrow::before {
                border-right-color: var(--neutral-grey-3);
            }

            .popover-header::before {
                display: none;
            }
        }

        &[x-placement^='bottom'],
        &.bs-popover-bottom {
            > .arrow::after {
                border-bottom-color: var(--neutral-grey-1);
            }

            > .arrow::before {
                border-bottom-color: var(--neutral-grey-3);
            }

            .popover-header::before {
                display: none;
            }
        }

        &[x-placement^='left'],
        &.bs-popover-left {
            > .arrow::after {
                border-left-color: var(--neutral-grey-1);
            }

            > .arrow::before {
                border-left-color: var(--neutral-grey-3);
            }

            .popover-header::before {
                display: none;
            }
        }
    }
}

.popover-body {
    color: var(--neutral-grey-6);
    padding: 16px;
}

.popover-header {
    background-color: var(--neutral-grey-0);
    border-color: var(--neutral-grey-3);

    &:before {
        display: none;
    }
}

.popoverDark {
    :global {
        .popover {
            &.bs-popover-auto {
                &[x-placement^='bottom'],
                &.bs-popover-bottom {
                    > .arrow::after {
                        border-bottom-color: var(--neutral-grey-0);
                    }
                }
            }
        }
    }
}
