@import '~css/new/layout.less';
@import '~css/new/colorTokens.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        row-gap: @layout-spacing-xs;

        &.isElevated {
            padding: @layout-spacing-s;
            background-color: @classic-neutral-grey-1;
            border: 1px solid @classic-neutral-grey-3;
            border-radius: 4px;
        }
    }
}
