@import '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .container {
        display: flex;
        flex-direction: column;
        row-gap: @layout-spacing-l;
    }

    .description {
        margin-top: @layout-spacing-s;
    }

    .orderConditionsDescription {
        margin-top: @layout-spacing-xxs;
    }

    .reasonsContainer {
        display: flex;
        flex-direction: column;
        row-gap: @layout-spacing-s;
    }
}
