@import '~css/new/colorTokens';

:local {
    .wrapper {
        background: @classic-neutral-grey-0;

        border: 1px solid @classic-neutral-grey-3;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 fadeout(@modern-neutral-grey-6, 84%);

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 348px;

        max-height: 100%;
        overflow-y: auto;
    }

    .bodyContainer {
        height: 100%;
    }
}
