@import '~@gorgias/design-tokens/dist/css/layout';

@order-modal-header-height: 60px;
@order-modal-footer-height: 56px;

:local {
    .overlay {
        display: grid;
        place-items: center;
        z-index: 1;

        padding: calc(@order-modal-header-height + @layout-spacing-s) 0
            calc(@order-modal-footer-height + @layout-spacing-s);
    }
}
