:local {
    .container {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .disabled {
        opacity: 0.5;
    }

    .icon {
        color: var(--neutral-grey-5);
        flex-shrink: 0;
    }
}
