:local {
    .navigationTrigger {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--layout-spacing-xs);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        img {
            width: 15px;
        }
    }
}
