:local {
    .centered {
        top: 50%;
        transform: translateY(-50%) !important;
        letter-spacing: -0.01em;
    }

    .actions {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        background: var(--neutral-grey-2); // legacy
    }

    .discardBtn {
        color: var(--feedback-error) !important; // legacy
    }

    .confirmBtn {
        i {
            font-size: 15px;
            margin-right: 4px;
        }
    }

    .header {
        padding: 16px;
    }

    .body {
        padding: 16px;
        min-height: 106px;
    }

    .footerWrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

.axiom :local {
    .actions {
        background: var(--surface-neutral-secondary);
    }

    .discardBtn {
        color: var(--content-error-primary) !important;
    }
}
