:local {
    .container {
        max-width: 570px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 0;
    }

    .form {
        margin-bottom: 24px;
    }

    .formRow {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 16px;
    }

    .formInput {
        width: 100%;
    }

    .formLabel {
        display: block;
        margin-bottom: 8px;
    }

    .countryInput {
        width: 100%;
    }

    .label {
        padding-bottom: 8px;
    }
}
