@import (reference) '~css/typography';

:local {
    .label,
    .checkbox,
    .alert {
        margin-bottom: var(--layout-spacing-xs);
    }

    .link {
        .caption-regular();
        color: var(--main-primary) !important; // legacy
        cursor: pointer;
        margin-top: var(--layout-spacing-s);
    }

    .previewContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        cursor: pointer;
    }

    [class*='DropdownItem--disabled'] {
        cursor: not-allowed !important;

        [class*='CheckBox--input'] {
            background-color: var(--neutral-grey-3); // legacy
        }
    }
}

.axiom :local {
    .link {
        color: var(--content-accent-default) !important;
    }

    [class*='DropdownItem--disabled'] {
        [class*='CheckBox--input'] {
            background-color: var(--elevation-neutral-default);
        }
    }
}
