@import (reference) '~css/typography.less';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .loginCard {
        padding: 36px 0;
        border-radius: 4px;
        background: var(--neutral-grey-1);
        border: 1px solid var(--neutral-grey-3);
        display: flex;
        flex-direction: column;
        gap: 24px;

        .loginCardContent {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 344px;
            width: 100%;
            gap: 16px;
        }

        .radioButtonsGroup {
            display: flex;
            gap: 8px;
            align-items: center;
            width: 100%;
        }

        .radioButton {
            background: #fff;
            padding: 16px;
            border-radius: @layout-spacing-xxs;
            border: 1px solid var(--neutral-grey-3);
            width: 100%;
        }

        .label {
            font-size: @heading-sub-section-regular-font-size;
        }
    }
}
