:local {
    .header {
        padding: var(--spacing-sm);
        background-color: var(--content-inverted-default, #fff);
        border-bottom: 1px solid var(--border-neutral-default);
        flex-shrink: 0;
    }
}
