:local {
    .header {
        padding: var(--spacing-sm);
        height: 52px;
        background-color: var(--elevation-neutral-default);
        border-bottom: 1px solid var(--border-neutral-default);
        flex-shrink: 0;
    }
}
