:local {
    .triggerWrapper {
        :global([data-name='select-trigger']) {
            width: auto;
            max-width: 100%;
        }
    }

    .viewName {
        flex: 1 1 0;
        min-width: 0;
        display: block;
    }
}
