:local {
    .container {
        display: flex;
        flex-direction: column;
        border-radius: var(--spacing-sm);
        border: 1px solid var(--border-neutral-default);
        padding: var(--spacing-lg) 0 var(--spacing-lg) var(--spacing-lg);
        gap: var(--spacing-lg);
    }

    .description {
        color: var(--content-neutral-secondary);
    }

    .templateCard {
        width: 400px;
        padding: var(--spacing-md) var(--spacing-lg);
    }
}
