@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .orderTitle {
        font-size: 18px;
    }

    .copyButton {
        display: none;
        margin-left: var(--layout-spacing-xxs);
    }

    .orderTitleContainer {
        display: flex;
        justify-content: start;
        align-items: center;

        &:hover {
            .copyButton {
                display: inline-block;
            }
        }
    }

    .orderStatus {
        display: flex;
        gap: var(--layout-spacing-xxs);
        margin-top: var(--layout-spacing-xxs);
    }
}
