@import '~css/new/layout';

:local {
    .header {
        height: 52px;
        border-bottom: none;
    }

    .body {
        padding: 0 @layout-spacing-l @layout-spacing-l @layout-spacing-l;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content {
        padding: @layout-spacing-m 0;
    }
}
