@import (reference) '~@gorgias/design-tokens/dist/css/layout';

:local {
    .warningContainer {
        max-width: 728px;
        margin-bottom: @layout-spacing-m;
    }

    .spinner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
