@import (reference) '~css/typography.less';
@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .disabled {
        cursor: not-allowed;
        color: var(--neutral-grey-4);
    }

    .shopMoreIcon {
        transform: rotate(90deg);
        font-size: @heading-section-regular-font-size;

        // Issue of using icon in Button made it take a lot of space
        width: 20px;
    }

    .showMoreContainer {
        margin-top: var(--layout-spacing-s);
    }

    .loadingContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-spacing-s);
    }

    .noFlowsText {
        color: var(--neutral-grey-4);
    }
}
