@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        padding: 0 var(--layout-spacing-s);
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--layout-spacing-xs);
    }

    .titleWrapper {
        display: flex;
        align-items: center;
        gap: var(--layout-spacing-xs);
    }

    .title {
        .heading-subsection-semibold;
        margin-bottom: 0;
    }

    .icon.icon {
        color: var(--neutral-grey-5);
        font-size: 16px;
    }

    .unavailable {
        .caption-regular;

        margin: 0;
        padding: var(--layout-spacing-xs);
        background: var(--neutral-grey-1);
        color: var(--neutral-grey-6);

        :last-child {
            margin-bottom: 0;
        }
    }

    .lastUpdated {
        .caption-regular;

        margin: var(--layout-spacing-xs) 0 0;
        color: var(--neutral-grey-5);
    }
}
