@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        padding: 0 @layout-spacing-s;
    }

    .title {
        .heading-subsection-semibold;
    }

    .unavailable {
        .caption-regular;

        margin: 0;
        padding: @layout-spacing-xs;
        background: var(--neutral-grey-1);
        color: var(--neutral-grey-6);
    }

    .lastUpdated {
        .caption-regular;

        margin: @layout-spacing-xs 0 0;
        color: var(--neutral-grey-5);
    }
}
