@import '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        display: flex;
        align-items: center;
        padding: @layout-spacing-xxs 0;
        justify-content: space-between;
    }

    .arrowIcon.arrowIcon {
        color: var(--neutral-grey-4);
        font-size: 20px !important; // overrides ButtonIconLabel
    }

    .label {
        display: flex;
        align-items: center;
    }

    .button.button.button {
        padding: 0 6px 0 0;
        color: var(--neutral-grey-6);
        .body-regular;

        &:hover {
            background-color: unset;
        }
    }

    .icon.icon {
        color: var(--neutral-grey-5);
        font-size: 16px;
        margin-left: @layout-spacing-xxs;
    }

    .prediction {
        width: auto;
    }

    .explanation {
        padding: 0 0 @layout-spacing-xs @layout-spacing-m;
    }

    .lastUpdateActor {
        .caption-regular;

        display: flex;
        align-items: center;
        gap: @layout-spacing-xxs;
        margin: @layout-spacing-xxs 0 0;
        color: var(--neutral-grey-5);
    }

    .aiIcon.aiIcon {
        color: var(--accessory-magenta-3);
        font-size: 16px;
    }
}
