@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography.less';
@import (reference) '~css/new/mixins';

:local {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 64px;
        width: 481px;
        align-items: flex-start;

        @media (max-width: 1240px) {
            margin: 0 32px;
        }

        .actionButton {
            display: flex;
            margin-top: 32px;
            gap: 8px;
        }
    }
}
