:local {
  .container {
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  .input {
    width: 120px;
  }

  .leftLabel,
  .rightLabel {
    position: absolute;
    top: 0;
    height: 100%;
    padding: .36rem .75rem;
    color: #95a7b7;
  }

  .leftLabel {
    left: 0;
  }

  .rightLabel {
    right: 0;
  }

  .hasLeftLabel {
    padding-left: 2rem;
  }

  .hasRightLabel {
    padding-right: 2rem;
  }
}
