:local {
    .tooltipWrapper {
        text-align: left;
    }

    .customizeReportIssues {
        display: flex;
        align-items: center;
        line-height: 20px;

        a {
            margin-left: 16px;
            color: var(--main-primary); // legacy

            &:hover {
                color: var(--main-primary-4); // legacy
            }

            span {
                margin-left: 6px;
                font-size: 1.2em;
            }
        }
    }
}

.axiom :local {
    .customizeReportIssues {
        a {
            color: var(--content-accent-default);

            &:hover {
                color: var(--content-additional-blue);
            }
        }
    }
}
