@import '~css/new/colorTokens';

:local {
    .container {
        color: @classic-neutral-grey-4;

        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01em;

        span + span {
            &:before {
                content: ' - ';
            }
        }
    }

    .actions {
        display: flex;
        width: 100%;
    }

    .highlight {
        color: @classic-main-primary;
        font-weight: 600;

        &.clickable {
            cursor: pointer;
        }
    }

    .removeHighlight {
        margin-left: auto;

        color: @classic-feedback-error;
        font-weight: 600;
        cursor: pointer;
    }
}
