:local {
    .tableWrapper {
        > div:last-child {
            margin-bottom: 0 !important;
        }

        :global([data-name='table-search']) {
            width: 160px !important;
        }
    }
    .toolbarWrapper {
        margin-top: 6px;
    }
}
