@import '~css/new/mixins';
@import (reference) '~css/typography';

:local {
    .category {
        .body-medium();
        color: #0075ff;
        margin: var(--layout-spacing-s) 0 var(--layout-spacing-xs) 0;
        padding-left: var(--layout-spacing-xs);
    }

    .subcategory {
        .body-regular();
        cursor: pointer;
        border-radius: var(--layout-spacing-xxs);
        padding: var(--layout-spacing-xs);
        margin-right: var(--layout-spacing-xs);
        margin-bottom: var(--layout-spacing-xs);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background: var(--neutral-grey-2); // legacy
        }

        .selection {
            .caption-regular();
            color: var(--neutral-grey-5);
        }

        .icon {
            font-size: 20px;
            color: var(--neutral-grey-4);
        }

        &.isSelected {
            background: var(--neutral-grey-2); // legacy
        }
    }
}

.axiom :local {
    .subcategory {
        &:hover {
            background: var(--hover-default);
        }

        &.isSelected {
            background: var(--surface-neutral-tertiary);
        }
    }
}
