@import '~css/new/mixins';
@import (reference) '~css/typography';

:local {
    .wrapper {
        &:hover {
            background: var(--neutral-grey-2); // legacy
            border-radius: var(--layout-spacing-xxs);
        }
        > label {
            padding: var(--layout-spacing-xs);
        }
        .icon {
            margin-right: var(--layout-spacing-xs);
            font-size: 20px;
        }
        .title {
            .body-regular();
        }
        .description {
            --line-clamp: 2;

            .caption-regular();
            color: var(--neutral-grey-4);
            display: -webkit-box;
            line-clamp: var(--line-clamp);
            -webkit-line-clamp: var(--line-clamp);
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.axiom :local {
    .wrapper {
        &:hover {
            background: var(--hover-default);
        }
    }
}
