:local {
    .staticLabel {
        padding: var(--spacing-xxs) var(--spacing-sm);
        border: 1px solid var(--border-neutral-default);
        border-radius: var(--spacing-xs);
        color: var(--content-neutral-tertiary);
    }

    .selectField {
        width: 190px;

        input {
            color: var(--content-neutral-tertiary);
        }
    }
}
