@import (reference) '~@gorgias/design-tokens/dist/css/layout';
@import (reference) '~css/typography';

:local {
    .container {
        width: 100%;
        background-color: var(--neutral-grey-1);
        height: 100%;
    }

    .leftColumn {
        background-color: var(--neutral-grey-0);
        gap: @layout-spacing-s;
        padding: @layout-spacing-m;
    }

    .headTitle {
        color: var(--neutral-grey-6);
        margin: 0px;

        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.4px;
    }

    .saveButtonWrapper {
        margin-top: @layout-spacing-s;
    }
}
