@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .formParamRow {
        display: flex;
        gap: var(--layout-spacing-xs);
        align-items: stretch;
        margin-bottom: @layout-spacing-s;

        & > div {
            flex: 1 1 auto;
        }
    }
}
