@import '~@gorgias/design-tokens/dist/css/layout';

:local {
    .formParamRow {
        display: flex;
        gap: @layout-spacing-xs;
        align-items: stretch;
        margin-bottom: @layout-spacing-s;

        & > * {
            flex: 1 1 auto;
        }
    }

    .formParamError {
        display: block !important;
        margin-top: 0;
        margin-bottom: @layout-spacing-s;
    }

    .verticalCheckbox {
        display: flex;
        flex-direction: column-reverse;
        & > input {
            margin-top: @layout-spacing-s !important;
        }

        &.withoutLabel {
            & > input {
                margin-top: @layout-spacing-xs !important;
            }
        }
    }

    .editableCheck {
        flex: 0 1 54px;
    }

    .mandatoryCheck {
        margin-left: @layout-spacing-xs;
        flex: 0 1 60px;
    }

    .deleteButton {
        align-self: flex-end;
        flex: 0 1 auto;
        &.withoutLabel {
            align-self: flex-start;
        }
    }
}
