:local {
    .cardDescription {
        margin-top: var(--spacing-xxxs);
        color: var(--content-neutral-secondary);
    }
    .deleteButton {
        margin-top: var(--spacing-sm);
    }
    .deleteModalFooter {
        display: flex;
        justify-content: end;
        gap: var(--spacing-xs);
    }
}
