:local {
    .revealButton {
        width: 100%;
    }

    .revealedWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .revealedButton {
        flex-grow: 1;
    }

    .validityMessage {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: var(--neutral-grey-5);
    }
}
