/* ColorField
 */

 :local {
    .field {
        position: relative;
        display: inline-block !important;
        width: 8em !important;

        input {
            width: 100%;
            padding-left: 2.8em !important;
        }
    }

    .button {
        position: absolute;
        top: 50%;
        left: .6em;
        transform: translateY(-50%);
        height: 64%;
        width: 1.6em;

        border: 0;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .05);
    }

    .popup {
        padding: .4em !important;
        width: 10.6em;

        button {
            position: relative;
            z-index: 3;
            float: left;
            width: 1.6em;
            height: 1.6em;
            border: 0;
            border-radius: 0;
        }
    }
}
