@import '~css/new/colors';

:local {
    .arrowTooltip {
        border-top-color: @TEMP_neutral5;
        opacity: 0.9;
    }

    .innerTooltip {
        background-color: @TEMP_neutral5;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        font-family: 'Inter', sans-serif;
        padding: 10px;
    }
}
