:local {
  .preview {
    @size: 33px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: @size;
    width: @size;
    margin-right: 8px;

    > img {
      max-height: @size;
      max-width: @size;
      border-radius: 3px;
      overflow: hidden;
    }
  }

  .label {
    cursor: pointer;
    margin: 0;
  }

  .input {
    opacity: 0;
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
