@import '~css/new/colorTokens';

:local {
    .required {
        label {
            &::after {
                content: ' *';
                color: @classic-feedback-error;
            }
        }
    }

    .tooltip {
        margin-left: 4px;
        line-height: 16px;
        color: @classic-neutral-grey-4;
    }
}
