@import '~css/new/colors';

:local {
    .required {
        label {
            &::after {
                content: ' *';
                color: @red;
            }
        }
    }

    .tooltip {
        margin-left: 4px;
        line-height: 16px;
    }
}
