@import '~css/new/colorTokens';
@import (reference) '~css/typography';

:local {
    .legend {
        .body-semibold();
        margin-bottom: 8px;
    }

    .option {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
