@import '~css/new/colorTokens';
@import '~css/typography';

:local {
    .label {
        margin-bottom: 8px;
    }

    .option {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
