@import '~css/new/colorTokens';

:local {
    .toolbar {
        display: flex;
        flex-wrap: wrap;
    }

    .toolbarItem {
        color: @classic-neutral-grey-6 !important; // todo: remove !important when UI css specificity is fixed
    }
}
