@import (reference) '~css/typography';
@import (reference) '~@gorgias/design-tokens/dist/css/layout.less';

:local {
    .textarea {
        .body-regular();
        background-color: var(--neutral-grey-0);
        border: 1px solid var(--neutral-grey-3);
        border-radius: 4px;
        box-sizing: border-box;
        color: var(--neutral-grey-6);
        padding: 5px 8px;
        transition:
            background-color 0.2s linear,
            border-color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out,
            color 0.2s linear;
        vertical-align: top;
        width: 100%;

        &:disabled {
            background-color: var(--neutral-grey-1);
            color: var(--neutral-grey-4);
            cursor: not-allowed;
        }

        &:focus {
            border-color: var(--main-primary);
            box-shadow: 0 0 0 2px
                hsla(
                    var(--main-primary-h),
                    var(--main-primary-s),
                    var(--main-primary-l),
                    0.2
                );
        }

        &:focus-visible {
            outline: none;
        }

        ::placeholder {
            color: var(--neutral-grey-4);
        }
    }

    .error {
        border-color: var(--feedback-error);

        &:focus {
            border-color: var(--feedback-error);
            box-shadow: 0 0 0 2px
                hsla(
                    var(--feedback-error-h),
                    var(--feedback-error-s),
                    var(--feedback-error-l),
                    0.2
                );
        }
    }

    .label {
        margin-bottom: @layout-spacing-xs;
    }
}
