@import '~css/new/colors';
@import (reference) '~css/typography';

:local {
    .caption {
        color: @classic-neutral-grey-4;
        position: relative;
        left: 50px;
        margin-top: 4px;
        .caption-regular();
    }

    .container {
        position: relative;
        display: flex;
        margin: 0;
        max-width: fit-content;
        transition: color 0.2s linear;
    }

    .disabled {
        color: @classic-neutral-grey-4;

        .label {
            cursor: not-allowed;
        }

        .slider {
            background-color: @classic-neutral-grey-3;
            cursor: not-allowed;
        }

        .input:checked + .slider {
            background-color: @classic-neutral-grey-3;
        }
    }

    .loading {
        cursor: not-allowed;

        .label {
            cursor: not-allowed;
        }

        .slider {
            cursor: not-allowed;

            &::after {
                position: absolute;
                content: '';
            }
        }

        .input:not(:checked) + .slider::after,
        .input:checked + .slider::after {
            content: '';
        }
    }

    .input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        margin: 0;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: @classic-main-primary;

            &::before {
                transform: translateX(26px);
            }

            &::after {
                content: 'on';
                transform: translateX(-11px);
            }
        }
    }

    .label {
        .body-semibold();
        cursor: pointer;
        user-select: none;
    }

    .slider {
        cursor: pointer;
        border-radius: 3px;
        background-color: @classic-neutral-grey-4;
        transition: 0.4s;
        width: 42px;
        height: 20px;
        margin-right: 8px;
        position: relative;
        .caption-allcaps();

        &::before {
            position: absolute;
            content: '';
            height: 16px;
            width: 12px;
            left: 2px;
            bottom: 2px;
            border-radius: 2px;
            background-color: @classic-neutral-grey-0;
            transition: 0.4s;
        }

        &::after {
            position: absolute;
            content: 'off';
            font-size: 11px;
            left: 16px;
            bottom: 3px;
            color: @classic-neutral-grey-0;
            transition: 0.4s;
        }
    }

    .spinner {
        :global {
            @keyframes rotate {
                100% {
                    transform: rotate(360deg);
                }
            }

            @keyframes dash {
                0% {
                    stroke-dasharray: 0, 60;
                    stroke-dashoffset: 0;
                }
                50% {
                    stroke-dasharray: 33, 60;
                    stroke-dashoffset: -13;
                }
                100% {
                    stroke-dasharray: 50, 60;
                    stroke-dashoffset: -37;
                }
            }
        }

        :global {
            animation: rotate 2.2s linear infinite;
        }
        z-index: 2;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 17px;

        &.left {
            left: 4px;
        }

        .dot {
            stroke: @classic-neutral-grey-0;
            stroke-linecap: round;

            :global {
                animation: dash 1.5s ease-in-out infinite;
            }
        }

        .circle {
            stroke: fadeout(@classic-neutral-grey-0, 68%);
        }
    }
}
