@import '~css/new/colors';
@import (reference) '~css/typography';

:local {
    .caption {
        position: relative;
        left: 50px;
        max-width: calc(~'100% - 50px');
    }

    .label {
        cursor: pointer;
        position: relative;
        display: flex;
        margin: 0;
        max-width: fit-content;
        transition: color 0.2s linear;
    }

    .disabledLabel {
        .slider {
            background-color: @classic-neutral-grey-3;
            cursor: not-allowed;
        }

        .input:checked + .slider {
            background-color: @classic-neutral-grey-3;
        }
    }

    .loadingLabel {
        cursor: not-allowed;

        .label {
            cursor: not-allowed;
        }

        .slider {
            cursor: not-allowed;

            &::after {
                position: absolute;
                content: '';
            }
        }

        .input:not(:checked) + .slider::after,
        .input:checked + .slider::after {
            content: '';
        }
    }

    .input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        margin: 0;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: @classic-main-primary;

            &::before {
                transform: translateX(26px);
            }

            &::after {
                content: 'on';
                transform: translateX(-11px);
            }
        }
    }

    .slider {
        cursor: pointer;
        border-radius: 3px;
        background-color: @classic-neutral-grey-4;
        transition: 0.4s;
        width: 42px;
        height: 20px;
        margin-right: 8px;
        position: relative;
        .caption-allcaps();

        &::before {
            position: absolute;
            content: '';
            height: 16px;
            width: 12px;
            left: 2px;
            bottom: 2px;
            border-radius: 2px;
            background-color: @classic-neutral-grey-0;
            transition: 0.4s;
        }

        &::after {
            position: absolute;
            content: 'off';
            font-size: 11px;
            left: 16px;
            bottom: 3px;
            color: @classic-neutral-grey-0;
            transition: 0.4s;
        }
    }

    .spinner {
        z-index: 2;
        position: absolute;
        left: 17px;
        width: 20px;
    }

    .spinnerLeft {
        left: 4px;
    }
}
