@import (reference) '~css/typography';

:local {
    .wrapper {
        .caption-regular();
        align-items: center;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        height: 18px;
        padding: 2px 4px;
        width: fit-content;
        color: var(--neutral-grey-4);

        &.classic {
            .caption-allcaps();
            background-color: var(--neutral-grey-3);
            color: var(--neutral-grey-5);
        }

        &.dark {
            .caption-allcaps();
            background-color: var(--neutral-grey-5);
            color: var(--neutral-grey-2);
        }

        &:not(:first-of-type) {
            margin-left: 2px;
        }
    }
}
